* {margin: 0; padding: 0;}
@media print {html, body {border: none; height: 100%; margin: 0mm;} div.cover, div.inner {}}

body {color: #000; font-size: 1em; margin:0; padding:0;font-family: Helvetica, Arial, msjh, sans-serif;background: url(images/bg_1.png) repeat-y center center; background-size: cover;background-image-resize:6;}
table {table-layout: fixed; border-collapse: separate; border-spacing: 0;} /*for IE*/
br {display: block; height: 0px; line-height: 0px; margin: 0; padding: 0;}
#content { margin:0 auto; padding: 0; width: 210mm;}
div.page-wrapper {margin: 0; padding: 0;}

/* Inner page Style Start */

div.inner {
display: block; margin: 0; padding: 0;  width: 210mm; height:297mm; position:relative;}
.tbl_pageHead {padding-top: 9.2mm; padding-bottom: 3mm; width: 100%;margin-left:5mm;}
.tbl_header_title {width:210mm; text-align:center; line-height:10mm; padding:4mm 8mm;}
.tbl_header_title td {font-size:2em; color:#2DADB6; font-weight:bold;}
.icon_header_title {width:14mm; display:inline-block; vertical-align:middle; height:10mm; margin-top:-8mm;}
.icon_header_title img {}
.header_field {text-align: left;font-size:1.6em;}
.header_info {font-weight: normal;font-size:1.6em;}

.tbl_evaluation {width:195mm; margin:0 auto;padding:0;}
.tbl_evaluation .tbl_head {}
.tbl_evaluation .type_2 {
background:url(images/vari_whitebox_T2.png) no-repeat left top; background-size: 195mm auto; background-image-resize:6;}
.tbl_evaluation .tbl_head.type_2 td:first-child {width:118mm; height:12.5mm; color:#2DADB6; font-size:1.3em; font-weight:bold; padding-top:1mm; padding-left:17mm;}
.tbl_evaluation .tbl_head.type_2 td:last-child {color:#FFF; font-size:1.1em; font-weight:bold;
padding:2mm 7mm 0mm 5mm; text-align:center; line-height:1em;}

.tbl_evaluation>tbody {background-color:#FFF; border-color:#FFF;
background:url(images/vari_whitebox_M.png) repeat-y left top; background-size: 195mm auto;}
.tbl_evaluation>tbody:last-child {
background:url(images/vari_whitebox_B.png) no-repeat left top; background-size: 195mm auto;}
.tbl_evaluation>tbody:last-child td {height:6mm;}

.tbl_evaluation>tbody td {padding:0 4mm 0 7mm; vertical-align:middle; line-height:1.3em; font-size:1em; color:#666;}

.eval_subtitle_1 {padding:6mm 0mm 0mm 0mm; color:#2DADB6; font-weight:bold; font-size:1.2em;}
.eval_subtitle_2 {padding:4mm 0mm 0mm 0mm; color:#2DADB6; font-weight:bold;}
.tbl_evaluation>.tbl_head.type_2~tbody td .eval_subtitle_1:first-child {padding-top:4mm;}
.tbl_evaluation>tbody td .eval_item_1 {padding:3mm 0 0 0;}
.tbl_evaluation>tbody td .eval_item_1>div.details {width:132mm; padding-top:0.5mm;}
.tbl_evaluation>tbody td .eval_item_1>div,
.tbl_evaluation>tbody td .conclusion>div {display:inline-block; vertical-align:top;}
.tbl_evaluation>tbody td .conclusion>div.details {width:132mm; padding-top:0mm;}
.tbl_evaluation>tbody td .eval_item_1>div.marking,
.tbl_evaluation>tbody td .conclusion>div.marking {width:49mm; line-height:0em; text-align:right;}

.tbl_evaluation>tbody td .conclusion {color:#2DADB6; font-weight:bold; font-size:1.2em;
padding:3mm 0 2mm 0mm;}
.tbl_evaluation>tbody td .conclusion+.conclusion {border-top:1px #dcf1fc solid;}
.tbl_evaluation>tbody td .conclusion:last-child {padding-bottom:0;}

.tbl_evaluation .ball {display:inline-block; margin-left:1.4mm; line-height:0em;padding: 0mm 0.02mm 0mm 0mm;height:6mm;width:6.1mm;}
.tbl_evaluation .ball img {width:100%;}

.tbl_legend.conclusion {width:192mm; margin:0 auto; position:relative; left:auto; bottom:auto;}

.tbl_legend {width:192mm; margin:0 auto; position:absolute; left:9mm; bottom:10mm;margin-bottom: 5mm;}
.tbl_legend .tbl_head {
background:url(images/vari_legend_T.png) no-repeat left top; background-image-resize:6;}
.tbl_legend .tbl_head td {height:0px; line-height:3mm;}
.tbl_legend .tbl_body {
background:url(images/vari_legend_M.png) no-repeat left top; background-size: 192mm auto;}
.tbl_legend>tbody td {height:0px; line-height:1mm; padding:0 3mm; vertical-align:top;}
.tbl_legend .tbl_foot {
background:url(images/vari_legend_B.png) no-repeat left top; background-image-resize:6;}
.tbl_legend .tbl_foot td {height:0px; line-height: 3mm;}

.title_area {line-height:1.2em; margin:-2mm 0mm -4mm 0mm; vertical-align:top; color:#2DADB6; font-weight:bold;}
.legend_area {margin:-3mm 0mm -4mm 0mm;}
/*.legend_area td {padding:0; width:20%;}*/
/*.legend_area td td {vertical-align:top;}*/
.legend_img {padding: 0mm 0.02mm 0mm 0mm;height:6mm;width:6.1mm; display:inline-block; line-height:initial; margin-top:1mm;}
.legend_img img {width:100%; vertical-align:top; margin-right:1mm;}
.legend_text {width:calc(100% - 9mm); display:inline-block; margin:1mm 2mm 0mm 0mm;
line-height:1.2em; padding-left:1mm; color:#333;}


table.tbl_pageFoot {padding-top:1mm; padding-bottom: 3mm; width: 100%; margin-left:-3mm;}
table.tbl_pageFoot td {text-align:left; font-weight:bold;}
table.tbl_pageFoot td:first-child {width:60%;}
table.tbl_pageFoot td:last-child {width:40%; text-align:right;}

/* Inner page Style End */


/* Variation title obj Start */

.variObj {display:inline-block; vertical-align:top;}
.variObj img {height:100%;}
.variObj.title_L {width:auto; height:20mm;}
.variObj.title_C {background: url(images/vari_title_C.png) repeat-x left top;
background-size: auto 17.4mm; height:20mm; padding:2mm 0mm; font-weight:bold;
font-size:2em; color:#FFF; min-width:90mm;}

.header_L {width:auto; height:8mm;}
.header_C {background: url(images/vari_header_C.png) repeat-x left top;
background-size: auto 8mm; height:8mm; padding:1mm 0mm;
font-size:1em; color:#2DADB6;}

.footer_L {height:14mm;}
.footer_C {background: url(images/vari_transGreen_C.png) repeat-x left top; height:8mm; padding:4mm 0mm; font-size:1em; color:#FFF; background-image-resize:6;
letter-spacing:0.05em;vertical-align:middle;}
/* Variation title obj End */