@charset "utf-8";
/*============= GENERAL ===============*/
html, body {background: #fff; font-size: 15px; /*letter-spacing:0.5px;*/ line-height:1.5em; color:#333; margin:0; padding:0; font-family:  Verdana, "Heiti TC", sans-serif; height: 100%; overflow-x:hidden; position:relative;}
body {-ms-overflow-style: scrollbar !important; background: #eaeaea;}/*fix ie scrollbar covering content*/
img {max-width:100%; max-height:100%;}
a, a:hover, a:focus {text-decoration:none;}
a {color:#0272d2;}
a:hover, a:focus {color:rgba(2,114,210,0.7);}
*:hover {-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out}
*:focus {outline:none; box-shadow:none;}
ul {margin:0; padding:0; list-style:none;}
button, input, select, option, textarea {font-family:  Verdana, "Heiti TC", sans-serif; letter-spacing:0.5px;}
label {font-weight: normal;}

/*Scroll bar*/
::-webkit-scrollbar {width:5px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}

/*============= WRAPPER ===============*/
#wrapper {-webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; height: calc(100% - 44px)}

/*Buttons*/
.btn {padding:.4em 2em; cursor:pointer; border-radius:2px;}
.btn:focus {box-shadow:none;}
.btn+.btn {margin-left:.4em;}
.btn-blue {background: #07abb5; border-radius: 5px; box-shadow: 0 2px 0 #00888f; color: #fff;}
.btn-blue:hover, .btn-blue:focus, .btn-blue.focus {background: #00a0a9; color: #fff;}
.btn-cancel, .btn-cancel:hover {background: #c0c0c0; border-radius: 5px; box-shadow: 0 2px 0 #b2b2b2; color: #fff;}
.btn-delete {padding:.3rem; color:#999;}
.btn-delete:hover, .btn-delete:focus {color:#ccc;}
/*dropdown bootstrap*/
.dropdown {cursor:pointer;}
.dropdown .btn {border-color:#c3c3c3; padding:.4em 0.8em .5em 0.8em; text-align:left;}
.dropdown-menu {left:inherit; border-radius:0; box-shadow:0 3px 3px rgba(0,0,0,.1); border:1px solid #d1d1d1; padding:0; max-height:400px; overflow-y:auto;}
.dropdown-item:not(last-child) {border-bottom:1px solid #e8e8e8;}
.dropdown-item {color:#333; white-space:normal; cursor:pointer; padding:.5em .8em; line-height:1.5em;}
.dropdown-item:hover, .dropdown-item:active, .dropdown-item.active {color:#000; background-color:#ececec;}

/*.dropdown-toggle::after {font-family:'FontAwesome'; content:"\f0d7"; border:none; width:inherit; height:inherit; margin-left:0.6rem;}*/


/*============= FORMS ===============*/
.form-control {color:#000; border-color:#c3c3c3; width: 50%;}
.form-control:focus {border-color:rgba(0,0,0,.15); color:#004069;}
/*placeholder*/
.form-control::-webkit-input-placeholder {color:#c2c1c1; font-style:italic;}
.form-control:-moz-placeholder {color:#c2c1c1; font-style:italic;}
.form-control::-moz-placeholder {color:#c2c1c1; font-style:italic;}
.form-control:-ms-input-placeholder {color:#c2c1c1; font-style:italic;}
input, textarea {border-radius:2px; border:1px solid #c3c3c3; color:#004069;}
.form-group {margin-bottom: 10px; padding-left: 2px;}
.form-group .section-divider {margin-top:1rem;}
.form-group .gen-txt {color:#000; padding-bottom: calc(.75rem - 1px * 2); margin-bottom:0;}
.form-group.formInfo .gen-txt, .form-group.formInfo label {margin-top: 5px;}

/*datepicker*/
.input-group.date input {border-right:0;}
.input-group.date .input-group-addon {background:#fff; border-left:0; border-color:#c3c3c3;}
.input-group.date .form-control:focus {border-color:#c3c3c3; box-shadow: none;}
.input-group.date .bootstrap-datetimepicker-widget+.input-group-addon {border-color:#c3c3c3;}
.input-group.date .fa-calendar-o {color:#3b93df; font-size:1.2em;}
table.report-style thead th.picker-switch, table.report-style thead th.dow {color: #333; font-size: 14px;}
/*bootstrap-datetimepicker fix*/
.dropdown-menu.bootstrap-datetimepicker-widget {font-size:.8rem; max-height:none; overflow:hidden; /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/}
.bootstrap-datetimepicker-widget th, .bootstrap-datetimepicker-widget td {padding:0.3rem !important;}
.bootstrap-datetimepicker-widget .table td:first-child, table th:first-child {padding-left:.3rem;}
table.edit-row .bootstrap-datetimepicker-widget th:last-child, table.table-edit-row .bootstrap-datetimepicker-widget td:last-child {width:auto;}
table.edit-row .bootstrap-datetimepicker-widget th, table.edit-row .bootstrap-datetimepicker-widget td {text-align:center;}
.table .bootstrap-datetimepicker-widget thead th {border-bottom:none;}
table.report-style .bootstrap-datetimepicker-widget td:not(:first-child) {color:#333;}
table.report-style .bootstrap-datetimepicker-widget td.active {color:#fff;}
/*date & hr*/
@media (max-width: 767px) {.form-group .form-time {margin-top:1rem;}}
.form-group .form-time .dropdown {display:inline-block; width:4rem!important;}
/*select dropdown*/
.form-group .dropdown .btn, .form-group .dropdown .dropdown-item {color:#004069;}
.form-group .dropdown .btn {width:100%; text-align:left; position:relative; padding:.4em 1.5em .5em 0.8em;}
.form-group .dropdown .btn:hover {background-color: #e6e6e6;}
.form-group .dropdown .btn.dropdown-toggle::after {position:absolute; right:.7rem; width:auto;}
.form-group .dropdown .dropdown-menu {width:100%;}
/*bootstrap-select fix*/
.bootstrap-select {width:100%!important;}
.bootstrap-select.short {width:150px!important;}
@media (max-width: 767px) {.bootstrap-select.short {margin-bottom:.5rem!important;}}
.bootstrap-select .dropdown-toggle:focus {outline:none!important;}
.dropdown .dropdown-menu.inner {border:none; box-shadow:none; max-height: 175px!important;}
.dropdown .dropdown-menu.inner .selected {background-color: #ececec;}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {color:#000; padding:.5em 1.5em; white-space:normal;}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:not(last-child) {border-bottom:1px solid #e8e8e8;}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {background-color:#ececec;}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {right:inherit; left:0; margin-top:0;}
.bootstrap-select .check-mark::after {font-family:'FontAwesome'; content:"\f00c"; position:absolute; left:.35rem; color:#2477d3;}
.bootstrap-select.show-tick .dropdown-item {padding-left:2rem;}
.bootstrap-select.btn-group .dropdown-toggle .caret {color: #5d5d5d;}
.bootstrap-select.show-tick button {padding-right:2rem;}

/*Checkboxes & Radio buttons*/
.form-check {margin-top:.5rem;}
input[type="checkbox"]+span {-webkit-transition-property:none; -moz-transition-property:none; -o-transition-property:none; transition-property:none;}
input[type="checkbox"] {position:absolute; opacity:0; cursor:pointer;}
input[type="checkbox"]+span {display:inline-block; width:18px; height:18px; vertical-align:middle; background:url(../../images/icon-checkBox.png) left top no-repeat; cursor:pointer;}
input[type="checkbox"]:checked+span {background:url(../../images/icon-checkBox.png) -18px top no-repeat;}
input:disabled+span {cursor:default!important;}
.form-check-inline:first-child label {padding-left:0;}
/*for wrapping when many checboxes*/
.form-check-inline label {padding-left:0;}
/*.form-check-inline {margin-right:2rem;}*/
.form-check-inline+.form-check-inline {margin-left:0;}
.form-group .form-check-inline .dropdown {display:inline-block; width:100px;}
/*inline search and selection */
.form-group input[type="text"].selected {background:#f0f0f0}
.form-group .selection-box {max-height:210px;}
.form-group .selection-box .btn-select {padding-left:2rem; position:relative; color:#004069;}
.form-group .selection-box .btn-select.active {background:none;}
.form-group .selection-box .btn-select.active:before {font-family: 'FontAwesome'; content:"\f00c"; position:absolute; left:.5rem; color:#2477d3;}

/*============= Listing Style ===============*/
#addNewReport {margin: 8px auto 15px;}
#addNewReport .fa-plus {color:#1073c8; font-size: 17px; margin-right: 6px;}
#subMenu {padding: 10px 15px;}
#subMenu .bootstrap-select {width: 150px!important;}
#subMenu button {color: #333;}

/*============= MAIN BODY ===============*/
#main-body {min-height:calc(100% - 122px); margin: 15px 22px;}
.monthlyReport #main-body {background:#fff;}
@media (max-width: 767px) {#main-body {padding:5px 0;}}

/*module content*/
.content-wrapper {min-height:300px; background:#fff;}

/*Page Title */
.content-wrapper .content-header {color: #666; font-size: 21px; font-family: Verdana, "Heiti TC", sans-serif; padding: 20px 15px 0; display:table; width:100%; letter-spacing:0.5px;}
.content-wrapper .content-header .title {float:left; display:table-cell;}
hr.titleDivider {border-top: 1px solid #c8c8c8; margin-top: 14px; width: 98%;}

/*content body*/
.content-wrapper .content-body {background:#fff; min-height:400px; padding: 8px 10px 8px 33px;}
.content-wrapper.no_bg{ background: none;}/*20170830*/
.content-wrapper.no_bg .content-body{ background: none;}/*20170830*/
@media (max-width: 767px) {.content-wrapper .content-body {padding:1.2rem 1rem;}}

/*actions*/
.actions-box {border:1px solid #ffe1c8; border-radius:3px; padding:10px; margin-bottom:1rem; display:inline-block; width:100%;}
.actions:not(last-child) {margin-right:35px;}
a.actions {color:#e77109; display:inline-block;}
a.actions:hover {opacity:0.7;}

/*section title*/
.section-title {font-size:1.1rem; font-weight:bold; padding:0.5em; border-left:8px solid #295cb1; color:#04428b; margin-bottom:1rem;}
.monthlyReport .section-title {border-color:#087188; color:#087188; line-height: 20px; margin-top: 36px;}
.monthlyReport .section-title ol {font-family: Verdana, "Heiti TC", sans-serif; list-style-position: inside; margin: 0; padding-left: 12px;}
.monthlyReport .section-title ol li {position: relative;}
.monthlyReport .section-title ol li span {left: 50px; position: absolute;}

/* section divider*/
.section-divider {border-top:1px dashed #c2c2c2; display:block; margin-top: 2.7rem; margin-bottom: 2rem;}

/* form icon */
.import-menu ul {list-style: none; margin-top: 25px;}
.import-menu li {display: inline-block; margin-right: 20px;}
.import-menu a {color: #3b93df;}
.form-icon {display: inline-block; height: 19px; margin-right: 5px; vertical-align: text-bottom; width: 19px;}
.form-icon.load {background: url(../../images/form-icon.png) top left;}
.form-icon.retrieve {background: url(../../images/form-icon.png) bottom left;}

.modal-header {background: #087188; color: #fff; font-size: 1.2rem; letter-spacing: 0.5px; padding: 10px 15px;}
.modal-title {line-height: 1.5; margin-bottom: 0;}
.modal-header .close {color: #fff; margin-bottom: .2rem; margin-top: -25px; opacity: 1;}
button.close {background: 0 0; border: 0; -webkit-appearance: none; cursor: pointer; padding: 0;}

.browse-folder-container li {margin: 10px 5px;}
.browse-folder-container table.table.report-style td:first-child {vertical-align: top;}
.browse-folder-container .question {margin-top: 60px;}
/*submission area*/
.submission-area {border-top:1px solid #ccc; display:block; margin-top: 1rem; padding-top:1rem; padding-bottom:.8rem; text-align:center;}
.inner-tab-content.with-sub-tabs .submission-area {border:none; margin-top:1rem; padding-top:0;}
.submission-area .btn {margin-bottom:.4rem; min-width:7.5rem;}

/*============= FILTERS & SEARCH & BREADCRUMBS ===============*/
.filter-box {margin-bottom:1rem;}
.filter-box .dropdown {display:inline-block; margin-bottom:8px;}
.search-box {float:right; width:185px; margin-bottom:1rem;}
.search-box .input-group-addon {background:transparent; border-bottom-left-radius:2px; border-top-left-radius:2px;}
.search-box .form-control {border-left:none; padding: .5rem .75rem .45rem 0; border-bottom-right-radius:2px; border-top-right-radius:2px;}
.search-box .fa {color:#cbcbcb;}
.search-box input::placeholder {color:#c2c1c1; font-style:italic;}
.search-box input {border:1px solid rgba(0,0,0,.15); border-left:0;}
@media (max-width: 767px) {.search-box {width:100%;}}

/*============= TABLES ===============*/
table {table-layout: fixed;}
.table {margin-bottom:2.5rem;}
.table td, .table th {padding:.5rem;}
.table td:first-child, table th:first-child {padding-left:1rem;}
.table thead th {vertical-align:top;}
.table-title {font-weight:bold; margin-bottom:1rem;}
/* fix table-responsive problem  << removed because it triggers other issues
@media (min-width: 768px) {.table-responsive {display:table;}}*/

/* for table cells which don't want to wrap */
.table.nowrap th, .table.nowrap td {white-space:nowrap;}
/*sorting*/
table th a {cursor:pointer;}
table th a i.fa {color:#d8d8d8; margin-left:.3em;}
table th a:hover i.fa, table th a.sorted i.fa {color:#5d5d5d;}
/*edit, delete, move folder, download buttons*/
.btn-table {display:inline-block; width:32px; height:32px; text-align:center; border:1px solid #2e7ad0; border-radius:3px; position:relative;}
.btn-table:hover {opacity:0.7;}
.btn-table .fa {font-size:1.05rem; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
.btn-table.delete {color:#666; background:#fff; border-color:#acacac;}/*20170905*/

/*table style 1 - light grey*/
table.report-style {background:#f9f9f9; margin-bottom: 58px; margin-top: 25px;}
/*table:not(.edit-row).report-style tr th:not(:first-child), table:not(.edit-row).report-style tr td:not(:first-child) {text-align:center;}*/
table.table.report-style td, table.report-style th {border-top:none; padding:.7rem .5rem}
table.report-style td:first-child, table.report-style th:first-child {padding-left:1rem;}
table.report-style thead th {border-color:#bcbcbc; border-top: none; font-size: 15px; padding: 20px 6px; vertical-align: top;}
table.table.report-style td:first-child{padding-bottom: 0; padding-top: 13px; vertical-align: middle;}
table.table.report-style td:not(:first-child){padding: 13px 6px 0; vertical-align: middle;}
table.report-style td.btn-delete {color:#666; font-size: 17px;}
table.report-style.col-striped td:nth-of-type(odd) {background:#f0f0f0;}
table.report-style .fa-check {color:#333;}
table.report-style .form-control {width: 100%;}
table.table.report-style tr:last-child td{padding-bottom: 13px;}
table.table.report-style td.addRow {padding: 18px 0 15px 35px;}
table.table.report-style td.addRow a:not(:last-child) {border-right: 1px solid #bbb; padding-right: 7px;}
table.table.report-style td.addRow a:last-child {padding-left: 7px;}
table.table.report-style td.addRow .noOfRows {margin: -2px 3px 0;}
table.report-style .fa-plus {color:#1073c8; font-size: 17px; margin-right: 6px;}
table.report-style .glyphicon-ok:before {display: none;}
table.report-style .glyphicon-ok:after {margin: 8px 0 0 -2px;}

table.report-style.tbl_subTeacherInfo :not(.date) > .form-control {width: 90%}
table.report-style.tbl_sickLeave .selectName.bootstrap-select {width: 90%!important;}
table.report-style.tbl_sickLeave .selectDays.bootstrap-select {width: 40%!important;}
table.report-style.tbl_schoolVisit .date, table.report-style.tbl_schoolAdmin .date {width: 95%}
table.report-style.tbl_schoolVisit :not(.date) > .form-control, table.report-style.tbl_schoolAdmin :not(.date) > .form-control {width: 100%}

table.report-style.tbl_extraActivities {margin-bottom: 14px;}
table.report-style.tbl_extraActivities.coutinue {margin-bottom: 58px;}
table.report-style.tbl_extraActivities th.subTitle {background: #ebebeb; border: none; padding: 12px 1rem;}
table.report-style.tbl_extraActivities .form-control.inputNoParticipants {width: 40%;}

table.table.report-style.result td{padding: 13px 6px 0; vertical-align: top;}

/*table style 2*/
table.report-style2 {background:#f9f9f9; margin-bottom: 58px; margin-top: 25px;}
table.table.report-style2 td, table.report-style th {border-top:none; padding:.7rem .5rem}
table.report-style2 td:first-child, table.report-style th:first-child {padding-left:1rem;}
table.report-style2 thead th {border-color:#bcbcbc; font-size: 14px; padding: 20px 14px; vertical-align: top;}
table.table.report-style2 td:first-child{padding-bottom: 0; padding-top: 13px; vertical-align: middle;}
table.table.report-style2 td:not(:first-child){padding: 13px 14px 0; vertical-align: middle;}
table.table.report-style2 tr:last-child td{padding-bottom: 13px;}
table.report-style2 .inputNoOfEnrolled {width: 50%!important;}
table.report-style2 .inputAverageAttendanceRate {display: inline-block; margin-right: 5px; width: 50%!important;}

/*table rows separators*/
.table tbody+tbody {border-top:1px solid #d5d5d5;}

/* add row style */
table .addRow > .dropdown {width: 60px!important;}