.popup-div{
    display: inline-block;
}
.popup-window{
    max-height: 250px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #07abb5;
}
.popup-close{
    position: sticky;
    top:0;
    left:90%;
    border-radius: 55px;
}
.popup-close:hover {
    background-color: darkgray;
    box-shadow: 5px 5px 5px black;
}
.popup-table{
    margin-left: 10px;
    margin-right: 10px;
    border-collapse: collapse;
    width: 90%;
}
.popup-table, .popup-table tr, .popup-table td{
    border: double 1px black;
}
.popup-header{

}
.popup-row{

}
.popup-data{
    padding: 2px;
}
.importInstruction{

}

.importConfirmTable{
    width: 100%;
    border-collapse: collapse;
    border: 0;
}
.rowIndex{
    width: 5%;
}
.tableHeader{
    font-size: 80%;
    text-align: center;
    border: 1px solid black;
}
.tableBody{
    padding: 2px;
    border: 1px solid black;
}
.tableRow{
    font-size: 50%;
    line-height: 1;
    text-align: center;
}
.errorField{

}
.rowRemark{
}
td.rowRemark{
    color: red;
}