/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LEFTMENU.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
/*=======================================Add 2009/02/24==============================================*/
#leftmenu{
 position:absolute; z-index:1;
}
.module_icon{
	background:url(/images/2009a/leftmenu/bg.gif) right top;
	width:148px;
	height:100px;
	vertical-align:bottom;
	text-align:center;
 }
.menu_list_bg{
	width:148px;
	background-color:#FFFFFF
}
#submenu {
	margin: 0px;
	padding: 0px;

}

#submenu ul {
	margin: 0;
	padding:0;
	list-style: none;

}

#submenu li {
    padding: 0px;

}
#submenu a {
	display: block;
	text-decoration: none;
}
#submenu a:hover {
	color:#FF0000;
}
.section_btn{
	background-image:url(/images/2009a/leftmenu/section_btn_off.gif);
	background-position:center;
	border-top: 1px solid #CCCCCC; 
	border-bottom: 1px solid #CCCCCC; 
	height:30px;
}
.section_btn a{
	color: #606060;
}
.section_btn_on{
	background-image:url(/images/2009a/leftmenu/section_btn_on.gif); 

}
.section_btn_selected{
	background-image:url(/images/2009a/leftmenu/section_btn_selected.gif);
}
.section_btn_selected a{
		color: #2B51A0;
}
.section_btn_link {
		width:82%;
		display:block; 
		padding-left:8px;
		padding-bottom:8px;
		padding-top:8px;
		float:left; 
		font:Arial, Helvetica, sans-serif; 
		font-weight:bold; 
}
.section_btn_arrow{
	float:right; 
	width:15px; 
	height:30px;
	display:block;
	background: url(/images/2009a/leftmenu/btn_arrow_more_off.gif) no-repeat right;
}
.section_btn_arrow:hover{
	background: url(/images/2009a/leftmenu/btn_arrow_more_on.gif) no-repeat right;
}
.section_btn_arrow_open{
	background: url(/images/2009a/leftmenu/btn_arrow_expand_off.gif) no-repeat right;
}
.section_btn_arrow_open:hover{
	background: url(/images/2009a/leftmenu/btn_arrow_expand_on.gif) no-repeat right;
}

.part_btn a{
	color: #606060;
	background-image:url(/images/2009a/leftmenu/icon_sub_off.gif); 
	background-repeat:no-repeat; 
	background-position: 8px 3px; 
	display:block; 
	padding:5px; 
	padding-left:20px;
}
.part_btn_on a{
	background-image:url(/images/2009a/leftmenu/icon_sub_on.gif); 
	color: #2B51A0;
	font-weight:bold; 
}
.hidemenu{
	text-align:center;
	width:14px;
	vertical-align:top;
	background-image:url(/images/2009a/leftmenu/hide_bg.gif);
	padding-top:50px;
}

.hidemenu a{
	display:block;
	font-size: 10px;
	color: #656565;
	background:url(/images/2009a/leftmenu/icon_hide_arrow_off.gif) no-repeat 0px 1px;
	padding-top:10px;
}

.hidemenu a:hover {
	background:url(/images/2009a/leftmenu/icon_hide_arrow_on.gif) no-repeat 0px 1px;
}

.hide {

	background: url(/images/2009a/leftmenu/icon_show_arrow_off.gif) no-repeat 0px 1px;
}

.hide:hover {
	background:url(/images/2009a/leftmenu/icon_show_arrow_on.gif) no-repeat 0px 1px;
}

#hideall{
 background-color:#E0E0E0;text-align:right;
}
#hideall a{

	height:9px;
	display:block;
	background:url(/images/2009a/leftmenu/icon_hidebtn_more_off.gif) no-repeat right;
}
#hideall a:hover{
	display:block;
	background-image:url(/images/2009a/leftmenu/icon_hidebtn_more_on.gif);
}
.menu_bottom{
	background:url(/images/2009a/leftmenu/bottom.gif) right;
	height:13px;
}
					
/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LEFTMENU.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/