@charset "utf-8";
/* CSS Document */
.textToSpeech { display:block; clear:both; padding:5px; font-size:0.95em; height:25px;}
.speech_button_layer{ position:absolute;Z-index:1}
.textToSpeech a {background: url(/images/2009a/textToSpeech.gif) no-repeat 0px 0px; display:block; float:left;}
.textToSpeech a:hover {color:#FF0000}
.textToSpeech a.fullpage{background-position:0 0px; height:25px; width:28px;}
.textToSpeech a.fullpage:hover{background-position: -30px 0px;}
.textToSpeech a.highlight{background-position:0px -25px; height:25px; width:28px;}
.textToSpeech a.highlight:hover{background-position: -30px -25px;}
.textToSpeech a.speech_setting{background-position:0px -50px; height:25px; width:15px;}
.textToSpeech a.speech_setting:hover{background-position:-15px -50px;}
.speech_setting_layer {clear:both; position:absolute; padding:3px; display:block; margin-left:54px; margin-top:0px; visibility:hidden;line-height:20px; Z-index:99; width:165px }
.speech_setting_layer_top_left {background: url(/images/2009a/textToSpeech.gif) no-repeat right -200px; display:block; padding-right:5px; height:12px;}
.speech_setting_layer_top_right {background: url(/images/2009a/textToSpeech.gif) repeat-x 0px -225px; display:block; padding-right:5px; height:12px; border-left:1px solid #c4c4c4}
.speech_setting_layer_top_right span {background: url(/images/2009a/textToSpeech.gif) no-repeat -30px -50px; display:block; width:20px; height:12px;}
.speech_setting_layer_content{ display:block;border-left:1px solid #c4c4c4;border-right:1px solid #c4c4c4; background:#FFFFFF; padding:5px;}
.speech_setting_layer_bottom_left {background: url(/images/2009a/textToSpeech.gif) no-repeat right -212px; display:block; padding-right:5px; height:5px;}
.speech_setting_layer_bottom_right { display:block;  height:5px; border-left:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; background:#FFFFFF;}
.speech_option{ width:50%; float:left; display:block;  margin-bottom:5px; }
#speech_option_voice{ width:40%; }
#speech_option_speed{ width:60%; }
.speech_option h1{ margin:0px; padding:1px; display:block; text-align:center; color:#666666; font-weight:normal; font-size:0.95em; line-height:18px}
.speech_option h2{ margin:0px; padding-left:5px; }
.speech_option a{ background: url(/images/2009a/textToSpeech.gif) no-repeat 0px -175px; height:25px; width:25px; display:block; float:left}
.speech_option a span{ background: url(/images/2009a/textToSpeech.gif) no-repeat; height:25px; width:25px; display:block; float:left; cursor:hand}
.speech_option a.selected_setting{  background-position:-30px -175px;}
.speech_option a.selected_dim { cursor: text}
.speech_option a:hover{  background-position:-60px -175px;}
.speech_option a.selected_setting:hover{  background-position:-30px -175px;}
.speech_option a span.voice_female{  background-position:-30px -75px;}
.speech_option a.selected_setting span.voice_female{  background-position:0px -75px;}
.speech_option a.selected_dim span.voice_female{  background-position:-60px -75px; cursor:text}
.speech_option a span.voice_male{  background-position:-30px -100px;}
.speech_option a.selected_setting span.voice_male{  background-position:0px -100px;}
.speech_option a.selected_dim span.voice_male{  background-position:-60px -100px; cursor: text}
.speech_option a.selected_dim:hover { background-position:0px -175px;}

.speech_option a span.speed_normal{  background-position:0px -150px;}
.speech_option a.selected_setting span.speed_normal{  background-position:0px -125px;}
.speech_option a span.speed_slow{  background-position:-30px -150px;}
.speech_option a.selected_setting span.speed_slow{  background-position:-30px -125px;}
.speech_option a span.speed_slowest{  background-position:-60px -150px;}
.speech_option a.selected_setting span.speed_slowest{  background-position:-60px -125px;}

.speech_setting_layer_btn { display:block; clear:both; padding-top:5px; text-align:center;border-top: 1px dashed #CCCCCC}
.speech_setting_layer_btn input{cursor:pointer;border:1px outset #CCCCCC;;height:20px;padding-top:1px;padding-bottom:2px; background: url(/images/2009a/textToSpeech.gif) no-repeat; font-size:0.95em}

.speech_setting_layer_btn .btn_off{background-position: 0px -250px;color:#666666}

.speech_setting_layer_btn .btn_on{background-position: 0px -280px;color:#000000}
