﻿
@charset "utf-8";
body{ 	background-color:#eee8df}	

/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
#header{width:100%; background:url(../../../images/2009a/titlebar_b_catholic.gif) right; height:44px}
.header_title{	background:url(../../../images/2009a/titlebar_a_catholic.gif) right; height:44px}

/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Main Content Board START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
#Content_tab a{background:url(../../../images/2009a/content_tab_left_catholic.png) no-repeat left top;}
#Content_tab a span{background:url(../../../images/2009a/content_tab_right_catholic.png) no-repeat right top; color:#6a4d00;}
#Content_tab a:hover span {	color:#fff;}
#Content_tab #current a span{color:#fff;}
#module_title{line-height:40px; color: #fff; font-family:"Trajan Pro"}

/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Left Menu START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
.module_icon{background:url(../../../images/2009a/leftmenu/bg_catholic.png) right top;}
.submenuTable {font-family:Georgia; letter-spacing:0.1px; font-size:1.05em; line-height:16px}
.submenuTable .section_btn{ background-image:url(../../../images/2009a/leftmenu/section_btn_off_catholic.gif);}
.submenuTable .menubgon:hover{ background-image:url(../../../images/2009a/leftmenu/section_btn_on_catholic.gif); border-top:1px solid #91122d; border-bottom:1px solid #91122d}
.submenuTable .menubgon:hover a{	color: #fff;}
.submenuTable .section_btn a:hover{	color:#fff;}
.submenuTable .section_btn_selected{background-image:url(../../../images/2009a/leftmenu/section_btn_selected_catholic.gif); border-top:1px solid #91122d; border-bottom:1px solid #91122d}
.submenuTable .section_btn_selected a{color: #ffecf0;}
.submenuTable .section_btn_selected a:hover{color:#fff;}
.submenuTable  a.section_btn_arrow{background: url(../../../images/2009a/leftmenu/btn_arrow_more_off_catholic.gif) no-repeat right}
.submenuTable  a.section_btn_arrow:hover{background: url(../../../images/2009a/leftmenu/btn_arrow_more_on_catholic.gif) no-repeat right}
.submenuTable  a.section_btn_arrow_open{background: url(../../../images/2009a/leftmenu/btn_arrow_expand_off_catholic.gif) no-repeat right;}
.submenuTable  a.section_btn_arrow_open:hover{	background: url(../../../images/2009a/leftmenu/btn_arrow_expand_on_catholic.gif) no-repeat right;}
.submenuTable .menuon{color: #aa1b3a}
.hidemenu{background-image:url(../../../images/2009a/leftmenu/hide_bg_catholic.png)}
.hidemenu a{background:url(../../../images/2009a/leftmenu/icon_hide_arrow_off.gif) no-repeat 0px 1px;}
.hidemenu a:hover {	background:url(../../../images/2009a/leftmenu/icon_hide_arrow_on.gif) no-repeat 0px 1px;}
#hideall{ background-color:#eeeeee;}
#hideall a{background:url(../../../images/2009a/leftmenu/icon_hidebtn_more_off_catholic.gif) no-repeat right;}
#hideall a:hover{background-image:url(../../../images/2009a/leftmenu/icon_hidebtn_more_on_catholic.gif);}
.menu_bottom{	background:url(../../../images/2009a/leftmenu/bottom_catholic.png) right;}

/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Main Content Board START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
.contenttitle {color: #552b01; font-family:Georgia; font-size:1.3em}

/********* Form Element ************/
.formbutton{background:#4c87ca; border-radius:3px; border:none; border:1px solid #2f6fb7; margin-right:3px; padding-left:10px; padding-right:10px; color:#FFFFFF}
.formbutton:hover {background-position:0px -30px;color:#3263bd;}
.formbuttonon{background: #1765bc; border-radius:3px; border:none; border:1px solid #004693; margin-right:3px; padding-left:10px; padding-right:10px; color:#FFFFFF}

/********* Table Grey ************/
.common_table_list tr th{background-color: #9a5685;	border-bottom: 1px solid #7c3d67; border-right: 1px solid #c7b0c0}
.common_table_list tr td{border-right: 1px solid #cfcfcf}
.common_table_list tr.sub_row td{ background-color:#f0f0f0;  border-right: 1px solid #cfcfcf}
