@charset "utf-8";
/*
* Modification Log
* 2012-10-19 (Thomas) 
* - Added .intro_top_content h1.b5
* - Added .intro_top_content .write_header h2.b5
* - Added .write_content_guide a.btn_guide.b5
*/

/*##################################################################*/
/*########################## Common ##########################*/
/*##################################################################*/
body {margin: 0px;padding: 0px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px;height: 0px; background: url(../../../images/ePost/bg_request_list_bg.gif)}



.edit_bottom {  padding:3px; display:block; clear:both;  text-align:center;background: url(../../../images/ePost/ej5/dotline_dot.gif) repeat-x top; padding-top:10px;}


.formbutton{cursor:pointer;	border:2px solid #ffd200;	color:#a05e00;	height:28px;	padding-top:3px;	padding-bottom:4px;	background-image: url(../../../images/ePost/ej5/btn_bg.gif);	background-position:0px 0px;}



.formsubbutton{	cursor:pointer;	border:2px solid #c5c5c5;	color:#737373;	height:28px;padding-top:3px;padding-bottom:4px;	background-image: url(../../../images/ePost/ej5/btn_bg.gif);	background-position:0px -60px; }

.formsmallbutton{	cursor:pointer;	border:1px solid #c5c5c5;color:#737373;	height:20px;padding-top:1px;padding-bottom:2px;	background-image: url(../../../images/ePost/ej5/btn_bg.gif);background-position:0px -65px; 	font-size: 0.95em;}



/*######################################################################################*/
/*##########################  Main Page , top banner, footer ##########################*/
/*##################################################################*/
#top_banner{ background:url(../../../images/ePost/bg.jpg) no-repeat left top ; display:block; height:60px; clear:both; width:100%;}
#top_banner h1{ margin:0; padding:0; background:url(../../../images/ePost/p3_top.gif) no-repeat top left; display:block; height:60px; clear:both; width:760px}








/*######################################################################################*/
/*##########################  Exercise Modules (Step) ##########################*/
/*##################################################################*/
.module_exericse #main_content{ }
#exercise_bg { display:block; min-height: 510px; background-position:left top; background-repeat:no-repeat; background-image: url(../../../images/ePost/bg_request_list.gif); }






.exercise_header h1.title_sub_bg{background:url(../../../images/ePost/exercise/P3/title_sub_bg.png) no-repeat right bottom; padding:0 30px 0 20px; display:block;height:38px; line-height:35px;font-family: Verdana, Arial, Helvetica, sans-serif;}




.main_btn a{ display:block; float:right; height:60px; width:120px; background-repeat: no-repeat;background-image:url(../../../images/ePost/exercise/P3/btn_main.png)}
.main_btn a.b5{ background-image:url(../../../images/ePost/exercise/P3/btn_main_chn.png)}







a.btn_read{ background:url(../../../images/ePost/exercise/btn_read.png) no-repeat top left; width:70px; height:60px; display:block; float:left}

.step_content_board {background: url(../../../images/ePost/exercise/P3/step_board_bottom.png) no-repeat bottom; padding-bottom:40px;}
.step_content_bg {background:url(../../../images/ePost/exercise/P3/step_board_bg.png) repeat-y; min-height:400px; padding:0 20px 0 20px;}
#step_content{ display:block; margin:0 auto;  width:770px; margin-top:-20px; background:url(../../../images/ePost/exercise/P3/step_board_top.png) no-repeat top;}
h1.title_postnow{ margin:0; padding:0; margin: 0 auto; width:280px;font-size:1.3em; color:#F7C709;background: no-repeat left top; padding-left:75px; display:block; line-height:45px;  height:47px;background-image:url(../../../images/ePost/exercise/P3/step_title_bg.png)}
h1.title_postnow span{ display:block; background: no-repeat right -50px; height:47px;padding-right:25px; text-align:center;background-image:url(../../../images/ePost/exercise/P3/step_title_bg.png)}
h1.title_postnow em { display:block; width:80px; height:70px; margin-right:-80px; float:right; clear:none; margin-top:-65px; background: url(../../../images/ePost/exercise/P3/step_character_top_P5_02.png) no-repeat top left;}





.write_list ul li a{ display:block; padding-left:35px; background:url(../../../images/ePost/exercise/P3/btn_p3_01_type_03_b.png) no-repeat left top; height:45px;}
.write_list ul li a span{ display:block; padding-right:20px; background:url(../../../images/ePost/exercise/P3/btn_p3_01_type_03_b.png) no-repeat right -50px; height:45px; color:#CD9207; font-size:1.2em; line-height:38px; cursor:hand;}



















.write_content_ref_board{ position:absolute; width:120px; height:90px; display:block ; background:url(../../../images/ePost/exercise/write_ref_bg.png); padding: 5px 5px 5px 25px;}
.write_content_ref_board_s {position:absolute;width:111px;height:55px;display:block;background:url(../../../images/ePost/exercise/write_ref_bg_s.png);padding: 5px 5px 5px 25px;}
.write_content_P4_ref_board_s {position:absolute;width:111px;height:55px;display:block;background:url(../../../images/ePost/exercise/write__P4_ref_bg_s.png);padding: 5px 5px 5px 25px;}
.write_content_P5_ref_board_s {position:absolute;width:111px;height:55px;display:block;background:url(../../../images/ePost/exercise/write__P5_ref_bg_s.png);padding: 5px 5px 5px 25px;}
/*==================================================Exercise for P3 =============================================================*/



/*Module 2 - Poems writing Main*/


.step_btn_P3_02_main a { font-size:1.8em; float:left; display:block; background:url(../../../images/ePost/exercise/P3/btn_p3_02_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px;font-family: "comic sans MS";}




/*Module 2 - Poems writing Type 1*/





.step_btn_P3_02_type_01_page_01 ul li a{ background:url(../../../images/ePost/exercise/P3/btn_p3_02_type_01.png) no-repeat left top; width:150px; height:78px; display:block; float:left; text-align:center; padding-left:15px; padding-right:35px; padding-top:15px; font-size:1.5em; color:#CD9207 ; line-height:28px;}






.step_btn_P3_02_type_01_page_02_b_input_left{ display:block; padding-left:11px; background:url(../../../images/ePost/exercise/input_bg.png) no-repeat left top; height:40px;}
.step_btn_P3_02_type_01_page_02_b_input_right{  display:block; padding:5px 15px 5px 0; background:url(../../../images/ePost/exercise/input_bg.png) no-repeat right -40px; line-height:30px;}


/*Module 3 - Poster writing Main*/

.step_btn_P3_03_main a {font-family:"comic sans MS";font-size:1.7em; float:left; display:block; background:url(../../../images/ePost/exercise/P3/btn_p3_03_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px;}





.step_btn_P3_03_main2 a {font-family:"comic sans MS";font-size:1.7em; float:left; display:block; background:url(../../../images/ePost/exercise/P3/btn_P3_03_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px;}




/*Module 4 - Comics writing Main*/

.step_btn_P3_04_main a {font-family:"comic sans MS";font-size:1.3em; float:left; display:block; background:url(../../../images/ePost/exercise/P3/btn_p3_04_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#29961D; margin-right:5px;}





.step_btn_P3_04_main2 a {font-family:"comic sans MS";font-size:1.3em; float:left; display:block; background:url(../../../images/ePost/exercise/P3/btn_p3_04_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#29961D; margin-right:5px;}






.step_content_P3_04_comics1 { display:block; float:left; height:1210px; width:560px; list-style-type:none;   background:url(../../../images/ePost/exercise/P3/comics_01.png)  no-repeat top center; padding:5px 25px 0px 5px;}
.step_content_P3_04_comics2 { display:block; float:left; height:1210px; width:560px; list-style-type:none;   background:url(../../../images/ePost/exercise/P3/comics_02.png)  no-repeat top center; padding:5px 25px 0px 5px;}
.step_content_P3_04_comics3 { display:block; float:left; height:1210px; width:570px; list-style-type:none;   background:url(../../../images/ePost/exercise/P3/comics_03.png)  no-repeat top center; padding:5px 25px 0px 5px;}
.step_content_P3_04_comics4 { display:block; float:left; height:1210px; width:570px; list-style-type:none;   background:url(../../../images/ePost/exercise/P3/comics_04.png)  no-repeat top center; padding:5px 25px 0px 5px;}
.step_content_P3_04_comics5 { display:block; float:left; height:1240px; width:570px; list-style-type:none;   background:url(../../../images/ePost/exercise/P3/comics_05.png)  no-repeat top center; padding:5px 25px 0px 5px;}
/*==================================================Exercise for P4 =============================================================*/
/*exercise background*/
.P4_01_exercise { background-image:url(../../../images/ePost/exercise/P4/bg_P4_01.jpg); background-color:#F73C3C}
.P4_02_exercise { background-image:url(../../../images/ePost/exercise/P4/bg_P4_02.jpg); background-color:#99E64D}
.P4_03_exercise { background-image:url(../../../images/ePost/exercise/P4/bg_P4_03.jpg); background-color:#6EBCF3}
.P4_04_exercise { background-image:url(../../../images/ePost/exercise/P4/bg_P4_04.jpg); background-color:#FCDB64}
.step_content_normal_P4{background:url(../../../images/ePost/exercise/P4/step_board_normal.png) no-repeat  bottom center;}
.step_content_main_P4_04, .step_content_main_P4_03, .step_content_main_P4_02, .step_content_main_P4_01 {background:url(../../../images/ePost/exercise/P4/step_board.png) no-repeat  bottom center;}
.P4 .main_btn a{ background-image:url(../../../images/ePost/exercise/P4/btn_main.png)}

.P4 .exercise_header h1.title_P4_01 { background: url(../../../images/ePost/exercise/P4/title_bg_01.png) no-repeat right bottom; height:40px; line-height:22px; width:218px; margin-right:10px;}
.P4 .exercise_header h1.title_P4_02 { background: url(../../../images/ePost/exercise/P4/title_bg_02.png) no-repeat right bottom; height:45px; line-height:22px; width:349px; margin-right:10px;}
.P4 .exercise_header h1.title_P4_03 { background: url(../../../images/ePost/exercise/P4/title_bg_03.png) no-repeat right bottom; height:40px; line-height:22px; width:212px; margin-right:10px;}
.P4 .exercise_header h1.title_P4_04 { background: url(../../../images/ePost/exercise/P4/title_bg_04.png) no-repeat right bottom; height:40px; line-height:22px; width:250px; margin-right:10px;}
.P4 .exercise_header h1.title_sub_bg{background:url(../../../images/ePost/exercise/P4/title_sub_bg_right.png) no-repeat right bottom; padding-right:10px; display:block;height:38px; font-family: Verdana, Arial, Helvetica, sans-serif;}
.P4 .exercise_header h1.title_sub_bg span{ display:block;background:url(../../../images/ePost/exercise/P4/title_sub_bg.png) no-repeat left bottom;  padding-left:20px; height:38px;  margin-left:-30px ;margin-right:10px;}

/*step board*/





.step_content_main_P4_01 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P4/step_character_P4_01.png);  }
.step_content_main_P4_02 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P4/step_character_P4_02.png);  }
.step_content_main_P4_03 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P4/step_character_P4_03.png);  }
.step_content_main_P4_04 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P4/step_character_P4_04.png);  }

.P4 #step_content h2 { background-image:url(../../../images/ePost/exercise/P4/step_title_bg.png)}
.P4 #step_content h2 span { background-image:url(../../../images/ePost/exercise/P4/step_title_bg.png)}

.P4_01_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P4/step_character_top_P4_01.png) no-repeat top left;}
.P4_02_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P4/step_character_top_P4_02.png) no-repeat top left;}
.P4_03_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P4/step_character_top_P4_03.png) no-repeat top left;}
.P4_04_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P4/step_character_top_P4_04.png) no-repeat top left;}











/*Module 1 & 3 & 4  - P4  Serious News & Sports News & Weather Report Main*/


.step_btn_P4_01_main a {font-family:"comic sans MS";font-size:1.7em; float:left; display:block; background:url(../../../images/ePost/exercise/P4/btn_p4_01_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px;}





.step_btn_P4_01_main2 a {font-family:"comic sans MS";font-size:1.7em; float:left; display:block; background:url(../../../images/ePost/exercise/P4/btn_P4_01_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px;}




/*Module 2 - P4 Entertainment & Features Main*/

.step_btn_P4_02_main a {font-family:"comic sans MS";font-size:1.7em; float:left; display:block; background:url(../../../images/ePost/exercise/P4/btn_p4_02_a.png) no-repeat top left; text-align:center; width:111px; height:45px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px;}





.step_btn_P4_02_main2 a {font-family:"comic sans MS";font-size:1.2em; float:left; display:block; background:url(../../../images/ePost/exercise/P4/btn_p4_02_b.png) no-repeat top left; text-align:center; width:88px; height:38px; padding:24px 20px 10px 20px;   line-height:20px; color:#d28f2d; margin-right:0px;padding-top:20px;}






/*==================================================Exercise for P5 =============================================================*/
/*exercise background*/
.P5_01_exercise { background-image:url(../../../images/ePost/exercise/P5/bg_P5_01.jpg); background-color:#B17AEB}
.P5_02_exercise { background-image:url(../../../images/ePost/exercise/P5/bg_P5_02.jpg); background-color:#8DD55E}
.P5_03_exercise { background-image:url(../../../images/ePost/exercise/P5/bg_P5_03.jpg); background-color:#EB7A7A}
.P5_04_exercise { background-image:url(../../../images/ePost/exercise/P5/bg_P5_04.jpg); background-color:#7891ED}
.P5_05_exercise { background-image:url(../../../images/ePost/exercise/P5/bg_P5_05.jpg); background-color:#F0D775}
.step_content_normal_P5{background:url(../../../images/ePost/exercise/P5/step_board_normal.png) no-repeat  bottom center;}
.step_content_main_P5_05,.step_content_main_P5_04,.step_content_main_P5_04, .step_content_main_P5_03, .step_content_main_P5_02, .step_content_main_P5_01 {background:url(../../../images/ePost/exercise/P5/step_board.png) no-repeat  bottom center;}
.P5 .main_btn a{ background-image:url(../../../images/ePost/exercise/P5/btn_main.png)}

.P5 .exercise_header h1.title_P5_01 { background: url(../../../images/ePost/exercise/P5/title_bg_01.png) no-repeat right bottom; height:35px; line-height:22px; width:218px; margin-right:10px;}
.P5 .exercise_header h1.title_P5_02 { background: url(../../../images/ePost/exercise/P5/title_bg_02.png) no-repeat right bottom; height:35px; line-height:22px; width:190px; margin-right:10px;}
.P5 .exercise_header h1.title_P5_03 { background: url(../../../images/ePost/exercise/P5/title_bg_03.png) no-repeat right bottom; height:35px; line-height:22px; width:310px; margin-right:10px;}
.P5 .exercise_header h1.title_P5_04 { background: url(../../../images/ePost/exercise/P5/title_bg_04.png) no-repeat right bottom; height:35px; line-height:22px; width:225px; margin-right:10px;}
.P5 .exercise_header h1.title_P5_05 { background: url(../../../images/ePost/exercise/P5/title_bg_05.png) no-repeat right bottom; height:35px; line-height:22px; width:255px; margin-right:10px;}
.P5 .exercise_header h1.title_sub_bg{background:url(../../../images/ePost/exercise/P5/title_sub_bg_right.png) no-repeat right bottom; padding-right:10px; display:block;height:38px; font-family: Verdana, Arial, Helvetica, sans-serif;}
.P5 .exercise_header h1.title_sub_bg span{ display:block;background:url(../../../images/ePost/exercise/P5/title_sub_bg.png) no-repeat left bottom;  padding-left:20px; height:38px;  margin-left:-30px ;margin-right:10px;}

/*step board*/






.step_content_main_P5_01 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P5/step_character_P5_01.png);  }
.step_content_main_P5_02 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P5/step_character_P5_02.png);  }
.step_content_main_P5_03 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P5/step_character_P5_03.png);  }
.step_content_main_P5_04 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P5/step_character_P5_04.png);  }
.step_content_main_P5_05 #step_content { display:block; background-image:url(../../../images/ePost/exercise/P5/step_character_P5_05.png);  }

.P5 #step_content h2 { background-image:url(../../../images/ePost/exercise/P5/step_title_bg.png)}
.P5 #step_content h2 span { background-image:url(../../../images/ePost/exercise/P5/step_title_bg.png)}

.P5_01_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P5/step_character_top_P5_01.png) no-repeat top left;}
.P5_02_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P5/step_character_top_P5_02.png) no-repeat top left;}
.P5_03_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P5/step_character_top_P5_03.png) no-repeat top left;}
.P5_04_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P5/step_character_top_P5_04.png) no-repeat top left;}
.P5_05_exercise #step_content h2 em{ display:block; background: url(../../../images/ePost/exercise/P5/step_character_top_P5_05.png) no-repeat top left;}












/*Module 1 & 2 & 3 & 4 & 5 - P5  Serious News & Sports News & Weather Report Main*/


.step_btn_P5_main a {font-family:"comic sans MS"; font-size:1.7em; float:left; display:block; background:url(../../../images/ePost/exercise/P5/btn_P5_01_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px; padding-top:30px;}





.step_btn_P5_main2 a {font-family:"comic sans MS";font-size:1.7em; float:left; display:block; background:url(../../../images/ePost/exercise/P5/btn_P5_01_a.png) no-repeat top left; text-align:center; width:165px; height:75px; padding:24px 20px 10px 20px;   line-height:25px; color:#d28f2d; margin-right:5px;padding-top:30px;}






/*######################################################################################*/
/*##########################   Exercise Modules( guide )##########################*/
/*##################################################################*/


.intro_top_left { display:block; padding-left:22px; height:40px; background:url(../../../images/ePost/exercise/guide_board_top_left.png) no-repeat left bottom;}
.intro_top_right {display:block; padding-right:21px; height:40px; background:url(../../../images/ePost/exercise/guide_board_top_right.png) no-repeat right bottom;}
.intro_top_content {display:block; height:40px; background:url(../../../images/ePost/exercise/guide_board_top_bg.png) repeat-x  bottom;}
.intro_top_content h1 { display:block; float:left; margin:0; padding:0; font-size:1.4em ; color:#427E05; line-height:40px; height:40px; width:200px;background:url(../../../images/ePost/exercise/guide_title.png) no-repeat left top;}
.intro_top_content h1.b5 {background:url(../../../images/ePost/exercise/guide_title_chn.png) no-repeat left top;}
.intro_left { display:block; padding-left:22px;  background:url(../../../images/ePost/exercise/guide_board_left.png) repeat-y left ; clear:both}
.intro_right {display:block; padding-right:21px; background:url(../../../images/ePost/exercise/guide_board_right.png) repeat-y right ;}
.intro_content {display:block; height:400px; overflow:auto; background:url(../../../images/ePost/exercise/guide_board_bg.png); font-size:1.2em; line-height:1.8em  }

.intro_bottom_left { display:block; padding-left:22px; height:20px; background:url(../../../images/ePost/exercise/guide_board_bottom_left.png) no-repeat left top; clear:both}
.intro_bottom_right {display:block; padding-right:21px; height:20px; background:url(../../../images/ePost/exercise/guide_board_bottom_right.png) no-repeat right top;}
.intro_bottom_content {display:block; height:20px; background:url(../../../images/ePost/exercise/guide_board_bottom_bg.png) repeat-x  bottom;}

.intro_top_content .write_header h2{ display:block; float:left; background:url(../../../images/ePost/exercise/guide_title.png) no-repeat; height:50px; width:245px; margin-left:30px; margin-top:-10px;}
.intro_top_content .write_header h2.b5 {background:url(../../../images/ePost/exercise/guide_title_chn.png) no-repeat left top;}




/*######################################################################################*/
/*##########################   Exercise Modules( notes )##########################*/
/*##################################################################*/


.not_top_left { display:block; padding-left:22px; height:40px; background:url(../../../images/ePost/exercise/notes_board_top_left.png) no-repeat left bottom;}
.not_top_right {display:block; padding-right:21px; height:40px; background:url(../../../images/ePost/exercise/notes_board_top_right.png) no-repeat right bottom;}
.not_top_content {display:block; height:40px; background:url(../../../images/ePost/exercise/notes_board_top_bg.png) repeat-x  bottom;}
.not_top_content h1 { display:block; float:left; margin:0; padding:0; font-size:1.4em ; color:#427E05; line-height:40px; height:40px; width:200px;background:url(../../../images/ePost/exercise/notes_title.png) no-repeat left top;}
.not_left { display:block; padding-left:22px;  background:url(../../../images/ePost/exercise/notes_board_left.png) repeat-y left ; clear:both}
.not_right {display:block; padding-right:21px; background:url(../../../images/ePost/exercise/notes_board_right.png) repeat-y right ;}
.not_content {display:block; height:400px; overflow:auto; background:url(../../../images/ePost/exercise/notes_board_bg.png); font-size:1.2em; line-height:1.8em  }

.not_bottom_left { display:block; padding-left:22px; height:20px; background:url(../../../images/ePost/exercise/notes_board_bottom_left.png) no-repeat left top; clear:both}
.not_bottom_right {display:block; padding-right:21px; height:20px; background:url(../../../images/ePost/exercise/notes_board_bottom_right.png) no-repeat right top;}
.not_bottom_content {display:block; height:20px; background:url(../../../images/ePost/exercise/notes_board_bottom_bg.png) repeat-x  bottom;}

.not_top_content .write_header h2{ display:block; float:left; background:url(../../../images/ePost/exercise/notes_title.png) no-repeat; height:50px; width:245px; margin-left:30px; margin-top:-10px;}




/*Pop up Ref story*/

.content_paper_top_left{ display:block; height:30px; padding-left:30px; background:url(../../../images/ePost/exercise/paper_top_btm.png) no-repeat left top}
.content_paper_top_right{ display:block; height:30px; padding-right:30px; background:url(../../../images/ePost/exercise/paper_top_btm.png) no-repeat right -30px}
.content_paper_left{ display:block; padding-left:30px; background:url(../../../images/ePost/exercise/paper_bg_left.png) repeat-y left}
.content_paper_right{ display:block;  padding-right:30px; background:url(../../../images/ePost/exercise/paper_bg_right.png) repeat-y right; color:#000000}
.content_paper_bottom_left{ display:block; height:30px; padding-left:30px; background:url(../../../images/ePost/exercise/paper_top_btm.png) no-repeat left -60px}
.content_paper_bottom_right{ display:block; height:30px; padding-right:30px; background:url(../../../images/ePost/exercise/paper_top_btm.png) no-repeat right -90px}



/*######################################################################################*/
/*##########################   Exercise Modules( Writing )##########################*/
/*##################################################################*/
#write_board  {  display:block; height:510px; background:url(../../../images/ePost/exercise/P3/write_board_04.png)  no-repeat  bottom center;}



.write_content_guide a.btn_guide{ width:77px; height:55px; display:block;  background:url(../../../images/ePost/exercise/btn_guide.png) no-repeat left top }
.write_content_guide a.btn_guide.b5{background:url(../../../images/ePost/exercise/btn_guide_chn.png) no-repeat left top }



.write_content_notes a.btn_notes{width:77px;height:55px;display:block;background:url(../../../images/ePost/exercise/btn_notes.png) no-repeat left top}







a.writing_edit_big{display:block;font-size:1.2em; color:#0099CC; padding-left:45px; background: url(../../../images/ePost/exercise/icon_tool.png) left -200px no-repeat; line-height:40px;}


.write_title h1{  background-image:url(../../../images/ePost/exercise/p3/event_title_bg.png);display:block; width:480px; margin:0 auto; margin-bottom:10px;  font-size:1.0em; color:#663300; text-align:center;line-height:30px; }














.write_photo{width:250px; height:250px; display:block;  background:url(../../../images/ePost/exercise/write_photo_bg.png) no-repeat left top}
.write_photo_a{width:490px; height:300px; display:block;  background:url(../../../images/ePost/exercise/write_big_photo_bg.png) no-repeat top}

.write_flv{width:560px; height:240px; display:block;  background:url(../../../images/ePost/exercise/write_flv_bg.png) no-repeat center top }

a.writing_edit{ font-size:1.2em;  display:block; padding-left:30px; background: url(../../../images/ePost/exercise/icon_tool.png) left -400px no-repeat; line-height:30px; color:#336600; float:left;}






.write_content_submit_item a, .portfolio_item_list a {display:block; float:left; margin-right:8px; color:#009900; line-height:30px;background: url(../../../images/ePost/exercise/btn_submitted_item.png) no-repeat; font-size:1em;padding-left:35px;}
a.btn_teacher_comment{ background-position:left top;}
a.btn_teacher_comment:hover{ background-position:left -30px; color:#FF0000}
a.btn_show_board{ background-position:left -60px;}
a.btn_show_newspaper{ background-position:left -120px;}


.rubrics_detail_top_left{background:url(../../../images/ePost/exercise/rubrics_detail_top_left.png) no-repeat left top ; display:block; height:17px; padding-left:42px; clear:both}
.rubrics_detail_top_right{ background:url(../../../images/ePost/exercise/rubrics_detail_top_right.png) no-repeat right top ; display:block; height:17px; }
.rubrics_detail_content{ display:block; clear:both; border-left:2px solid #0dc844; border-right:2px solid #0dc844; background:url(../../../images/ePost/exercise/rubrics_detail_bg.png); padding: 0 10px 0 10px; font-size:1em; }

.rubrics_detail_bottom_left{ background:url(../../../images/ePost/exercise/rubrics_detail_bottom_left.png) no-repeat left top ; display:block; height:6px; padding-left:6px; clear:both}
.rubrics_detail_bottom_right{ background:url(../../../images/ePost/exercise/rubrics_detail_bottom_right.png) no-repeat right top ; display:block; height:6px; }





/*##################################################################*/
/*########################## My PORTFOLIO ##########################*/
/*##################################################################*/


.portfolio_content_board_top_left{ display:block; background: url(../../../images/ePost/exercise/portfolio_table_board_top_left.png) no-repeat top left; padding-left:21px; min-height:21px; clear:both}
.portfolio_content_board_top_right{ display:block; background: url(../../../images/ePost/exercise/portfolio_table_board_top_right.png) no-repeat top right; padding-right:21px;  min-height:21px;}
.portfolio_content_board_top_bg{ display:block; background: url(../../../images/ePost/exercise/portfolio_table_board_top_bg.png) repeat-x top ; padding-right:21px;  min-height:21px;}
.portfolio_content_board_bottom_left{ display:block; background: url(../../../images/ePost/exercise/portfolio_table_board_bottom_left.png) no-repeat top left; padding-left:140px; height:30px; clear:both}
.portfolio_content_board_bottom_right{ display:block; background: url(../../../images/ePost/exercise/portfolio_table_board_bottom_right.png) no-repeat top right; padding-right:135px; height:30px;}
.portfolio_content_board_bottom_bg{ display:block; background: url(../../../images/ePost/exercise/portfolio_table_board_bottom_bg.png) repeat-x top ; padding-right:21px; height:30px;}
.portfolio_content_board_bg{ display:block; background:#feedab; clear:both; padding-bottom:32px; min-height:400px;}








.common_table_list tr td{margin:0px;padding:3px;padding-right:5px;padding-left:5px;text-align:left;border-top: 5px solid #feedab;vertical-align:top;line-height:20px; background:url(../../../images/ePost/exercise/portfolio_table_row_bg.png); border-right: 1px solid #feedab; min-height:30px;}







.page_no a{	 float:left; display:block; height:18px; background-repeat:no-repeat;	 height:18px; width:18px;	 margin-top:1px;	background-image:url(../../../images/ePost/ej5/table/icon_table_tool.gif);	 }













/* Copy From ePost_newspaper_raw.css */
.log_photo {border:1px solid #DDDDDD;border-collapse:separate;	border-spacing: 10px; 	*border-collapse: expression('separate', cellSpacing = '10px'); background:#FFFFFF; margin-right:5px;margin-left:5px; display:block; }
.log_photo_file {display:block; background:#DDDDDD; }
.log_photo_desc {display:block; background:#FFFFFF; font-size:0.8em}