@charset "utf-8";
/* CSS Document */

.checkpic {
	border:1px solid #CC0000;
}

.uncheckpic {
	border:1px solid #000000;
	opacity:0.4;filter:alpha(opacity=40)
}

.shadetabs{
	border-bottom: 1px solid #b1bfdb;
	/* width: 90%; width of menu. Uncomment to change to a specific width */
margin-bottom: 5pt;
}

.shadetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font:  12px Arial;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	color: #a5a5a5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d9d9d9;
	border-right-color: #d9d9d9;
	border-bottom-color: #d9d9d9;
	border-left-color: #d9d9d9;/*background: white url(../images/2009a/shade.gif) top left repeat-x;*/
}


.shadetabs li a:hover{
text-decoration: none;
color: #FF0000;
}

.shadetabs li.selected{
position: relative;
color: #2b64b2;
top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
	background-image: url(/images/2009a/shade.gif);
	color: #2b64b2;
	font: bold ;
	border-bottom-color: white;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b1bfdb;
	border-right-color: #b1bfdb;
	border-left-color: #b1bfdb;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}
.ratebox{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	width: 30px;
}
.retabletop_total{
	background-color: #8eb6d7;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
#btn_prevnext {
	width : 10px;
	height : 30px;
	display : block;

}
#btn_prevnext a{
	display : block;

}
#btn_prevnext a span{
	display : block;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #CCCCCC;
	text-align: center;
}
#btn_prevnext a:hover span{

	background-color: #1AACD7;

}
#btn_prevnext a:hover{

	background-color: #1AACD7;

}
.retabletop {
	background-color: #A6A6A6;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retabletop_sort {
	background-color: #c10000;

}
.term_break_link {
	
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bcbcbc;
}
.total_break_link {
	
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
}
.resubtabletop {
	background-color: #cccccc;


}
.tabletexttopremark {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FFFFFF;
}
.tabletexttoptext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #000000;
}
.retabletext_remark {
	color:#000000;
	font-family:"Arial","Helvetica","sans-serif";
	font-size:11px;
}
.tablelist_subject{
	background-color: #D2D2D2;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.tablelist_subject_head{
	background-color: #D2D2D2;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
}
.retablerow_subsubject_line{
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #D2D2D2;
}
.retablerow_subsubject
{
	padding-left: 30px;
}
.tablelist_sub_subject{
	background-color: #e0e0e0;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	/*padding-left: 20px;*/
}
.retablerow1 {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2 {

	background-color: #F5F5F5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow1_total {
	background-color: #eff8ff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2_total {

	background-color: #dbeeff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablechose {

	background-color: #aadc74;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.status_inprogress {

	background-color: #fff475;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.status_notstart {
	background-color: #e6e6e6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.status_completed {
	background-color: #aadc74;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

#btn_style_symbol {
	width : 20px;
	height : 20px;
	display : block;
	background-image: url(/images/2009a/ereportcard/btn_symbol_bg.gif);
	background-repeat: no-repeat;
	background-position: top;
}
#btn_style_symbol a{
	display : block;
	width : 20px;
	height : 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #797979;
	text-decoration: none;
	/*border: 1px dotted #CCCCCC;*/
	background-image: url(/images/2009a/ereportcard/btn_symbol_arrow_off.gif);

}
#btn_style_symbol a span{
	display : block;

	text-align: center;
	background-repeat: no-repeat;

}
#btn_style_symbol a:hover span{




}
#btn_style_symbol a:hover{


	background-image: url(/images/2009a/ereportcard/btn_symbol_arrow_on.gif);
	background-repeat: no-repeat;

}
#btn_style_symbol a span {float:none;}
/* End IE5-Mac hack */




#btn_select_symbol {
	width : 20px;
	height : 20px;
	display : block;
	background-repeat: no-repeat;
	background-position: top;
}
#btn_select_symbol a{
	display : block;
	width : 20px;
	height : 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	/*border: 1px dotted #CCCCCC;*/
	background-color: #f0f0f0;

}
#btn_select_symbol a span{
	display : block;

	text-align: center;
	background-repeat: no-repeat;

}
#btn_select_symbol a:hover span{


	background-color: #c6eafe;


}
#btn_select_symbol a:hover{


	background-color: #c6eafe;


}
#btn_select_symbol a span {float:none;}
/* End IE5-Mac hack */


.retabletop_a {
	background-color: #6AA9AE;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retabletop_b {
	background-color: #89B948;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow1_a {
	background-color: #F4FBFB;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2_a {
	background-color: #DDF0F0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow1_b {
	background-color: #FEFEFC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2_b {
	background-color: #EEF2DF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

.status_alert{
font-family: "Arial", "Helvetica", "sans-serif";
font-size: 12px;
color: #FF0000;

}