/**
 * replace designer 1) "../images/ 2007a/ IES/" to /images/2009a/ies/
                    2) "../images/ 2007a/" to /images/2009a/
 * last update 20111023
 **/

/*******************************
form marking
*******************************/
html, body.ies_q {background-color:#e5f7ff}
html.ies_i, body.ies_i {background-color:#fffbd2}/* 06-07-2011 added by lisa */
html.ies_f, body.ies_f {background-color:#6ad5e3}/* 06-07-2011 added by lisa */

.form_board .form_table col.field_title {width:160px}
.form_board .m_clip {height:80px; width:100%; position:absolute; z-index:10; top:0px; left:0}/* 06-07-2011 updated by lisa */
.form_board {margin:45px 15px 10px 15px}
.form_board .q_top {padding-left:18px; height:18px}/* 06-07-2011 updated by lisa */
.form_board .q_top div {padding-right:18px; height:18px}/* 06-07-2011 updated by lisa */
.form_board .q_top div div {height:18px}/* 06-07-2011 updated by lisa */
.form_board .q_left {padding-left:18px}/* 06-07-2011 updated by lisa */
.form_board .q_right {padding-right:18px}/* 06-07-2011 updated by lisa */
.form_board .q_bottom {padding-left:18px; height:19px; position:relative; display:block}/* 06-07-2011 updated by lisa */
.form_board .q_bottom div {padding-right:18px; height:19px}/* 06-07-2011 updated by lisa */
.form_board .q_bottom div div {height:19px}/* 06-07-2011 updated by lisa */
.form_board .q_wrapper {background-color:#ffffff;}
.form_board .q_header {position:relative}/* 06-07-2011 updated by lisa */
.form_board .watermark {width:136px; height:80px; margin-right:13px; margin-top:-90px; float:right}
.form_board .IES_footer {background-color:#e5f7ff; padding:5px 5px 10px 5px; text-align:right; color:#666666; font-size:0.8em}/* 26-07-2011 added by lisa */
.form_board .IES_footer span{float:right;display:block; width:100%;}/* 26-07-2011 added by lisa */

/*Questionnaire*/ /* 06-07-2011 added by lisa */
.ies_q .form_board .m_clip {background:url(/images/2009a/ies/student/form/ques_clip.png) 50% 0 no-repeat}
.ies_q .form_board .q_top {background:url(/images/2009a/ies/student/form/ques_top01.png) 0 0 no-repeat}
.ies_q .form_board .q_top div {background:url(/images/2009a/ies/student/form/ques_top03.png) 100% 0 no-repeat}
.ies_q .form_board .q_top div div {background:url(/images/2009a/ies/student/form/ques_top02.png) top repeat-x}
.ies_q .form_board .q_left {background:url(/images/2009a/ies/student/form/ques_left.png) left repeat-y;}
.ies_q .form_board .q_right {background:url(/images/2009a/ies/student/form/ques_right.png) right repeat-y}
.ies_q .form_board .q_bottom {background:url(/images/2009a/ies/student/form/ques_bottom01.png) 0 0 no-repeat}
.ies_q .form_board .q_bottom div {background:url(/images/2009a/ies/student/form/ques_bottom03.png) 100% 0 no-repeat}
.ies_q .form_board .q_bottom div div {background:url(/images/2009a/ies/student/form/ques_bottom02.png) top repeat-x}
.ies_q .form_board .q_header {background:url(/images/2009a/ies/student/form/ques_form_top_bg.gif) bottom repeat-x #faefd2}
.ies_q .form_board .watermark {background:url(/images/2009a/ies/student/form/ques_watermark.png) no-repeat}
.ies_i .form_board .IES_footer {background-color:#e5f7ff}/* 26-07-2011 added by lisa */

/*Interview*/ /* 06-07-2011 added by lisa */
.ies_i .form_board {margin:15px 15px 10px 15px}
.ies_i .form_board .m_clip {background:url(/images/2009a/ies/student/form/inter_clip.png) 50% 0 no-repeat; top:3px;}
.ies_i .form_board .q_top {background:url(/images/2009a/ies/student/form/inter_top01.png) 0 0 no-repeat;height:48px}
.ies_i .form_board .q_top div {background:url(/images/2009a/ies/student/form/inter_top03.png) 100% 0 no-repeat;height:48px}
.ies_i .form_board .q_top div div {background:url(/images/2009a/ies/student/form/inter_top02.png) top repeat-x;height:48px}
.ies_i .form_board .q_left {background:url(/images/2009a/ies/student/form/inter_left.png) left repeat-y}
.ies_i .form_board .q_right {background:url(/images/2009a/ies/student/form/inter_right.png) right repeat-y}
.ies_i .form_board .q_bottom {background:url(/images/2009a/ies/student/form/inter_bottom01.png) 0 0 no-repeat}
.ies_i .form_board .q_bottom div {background:url(/images/2009a/ies/student/form/inter_bottom03.png) 100% 0 no-repeat}
.ies_i .form_board .q_bottom div div {background:url(/images/2009a/ies/student/form/inter_bottom02.png) top repeat-x}
.ies_i .form_board .q_header {background:url(/images/2009a/ies/student/form/inter_form_top_bg.gif) bottom repeat-x #f4f9ff}
.ies_i .form_board .watermark {background:url(/images/2009a/ies/student/form/inter_watermark.png) no-repeat}
.ies_i .form_board .IES_footer {background-color:#fffbd2}/* 26-07-2011 added by lisa */

/*Field Observation*/ /* 06-07-2011 added by lisa */
.ies_f .form_board {margin:40px 15px 10px 15px}
.ies_f .form_board .m_clip {background:url(/images/2009a/ies/student/form/field_clip.png) 50% 0 no-repeat; top:-5px;}
.ies_f .form_board .q_top {background:url(/images/2009a/ies/student/form/field_top01.png) 0 0 no-repeat; height:23px}
.ies_f .form_board .q_top div {background:url(/images/2009a/ies/student/form/field_top03.png) 100% 0 no-repeat; height:23px}
.ies_f .form_board .q_top div div {background:url(/images/2009a/ies/student/form/field_top02.png) top left repeat-x; height:23px}
.ies_f .form_board .q_left {background:url(/images/2009a/ies/student/form/field_left.png) left repeat-y}
.ies_f .form_board .q_right {background:url(/images/2009a/ies/student/form/field_right.png) right repeat-y}
.ies_f .form_board .q_bottom {background:url(/images/2009a/ies/student/form/field_bottom01.png) 0 0 no-repeat}
.ies_f .form_board .q_bottom div {}
.ies_f .form_board .q_bottom div div {background:url(/images/2009a/ies/student/form/field_bottom02.png) top repeat-x}
.ies_f .form_board .q_header {background:url(/images/2009a/ies/student/form/field_form_top_bg.gif) bottom repeat-x #f4feff}
.ies_f .form_board .flip {background:url(/images/2009a/ies/student/form/field_flip.png) no-repeat #6ad5e3; width:80px; height:47px; float:right; margin-right:13px; margin-top:-59px; position:relative}
.ies_f .form_board .watermark {background:url(/images/2009a/ies/student/form/field_watermark.png) no-repeat}
.ies_f .form_board .IES_footer {background-color:#6ad5e3; padding:0px 15px 10px 5px;}/* 26-07-2011 added by lisa */


/*Tab Questionnaire*/
.form_board .q_tab {list-style:none; margin:0; padding:0; display:block; height:31px}
.form_board .q_tab li {float:left; margin-left:10px; background:#c3aa6f; border:1px solid #c3aa6f; border-bottom:0;-moz-border-radius-topright:6px; border-top-right-radius:6px;-moz-border-radius-topleft:6px; border-top-left-radius:6px}
.form_board .q_tab li a {padding:5px 10px 5px 10px; line-height:20px; color:#fff; display:block}
.form_board .q_tab li:hover {background-color:#fff}
.form_board .q_tab li a:hover {color:#ff0000} 
.form_board .q_tab li.current {background-color:#fff}
.form_board .q_tab li.current a {color:#000} 
/*Tab Interview*/ /* 06-07-2011 added by lisa */
.ies_i .form_board .q_tab li {background:#4ca4e8; border:1px solid #489bdc; border-bottom:0}
.ies_i .form_board .q_tab li:hover {background-color:#fff}
.ies_i .form_board .q_tab li.current {background-color:#fff}
.ies_i .form_board .q_header h3 {border-bottom:1px dotted #489bdc}

/*Tab Field Observation*/ /* 06-07-2011 added by lisa */
.ies_f .form_board .q_tab li {background:#5cb3be; border:1px solid #4ba4af; border-bottom:0}
.ies_f .form_board .q_tab li:hover {background-color:#fff}
.ies_f .form_board .q_tab li.current {background-color:#fff}
.ies_f .form_board .q_header h3 {border-bottom:1px dotted #4ba4af}

/*Global*/
.form_board .q_header h3 {margin:0 15px 10px 15px; padding:14px 0 2px 0; font-size:1.5em; border-bottom:1px dotted #A27100; *margin-top:-6px}
.form_board .q_header h3 span{font-size:0.688em; background:#7ef401; font-weight:normal; padding:5px 15px 5px 15px; margin-bottom:5px; line-height:38px}
.form_board .q_header h3 span.student_name {background-color:#ffe74c; margin-left:10px}

.form_board .q_content {padding:15px; position:relative}
.form_board .btn_area {text-align:center; margin:10px auto 0 auto}
.form_board .ies_q_box {background:#f2f2f2; padding:5px; -moz-border-radius:6px; border-top:6px; margin-bottom:10px}
.form_board .q_group {background:#c1f4f2 ; border:2px solid #92d1cf} /* 20-10-2011 updated by lisa */
.form_board .q_box_manage {padding:15px 5px}
.form_board .ies_q_box .q_box_manage {background-color:#ceeff7; border-bottom:1px solid #afdce7; padding:5px}
.form_board .q_box_manage a{background:url(/images/2009a/ies/student/form/manage_tool.png) no-repeat; padding:0 15px 0 22px; line-height:18px}
.form_board .q_box_manage a.move_up {background-position: 0 -118px;}
.form_board .q_box_manage a.move_up:hover {background-position: 0 -1px;}
.form_board .q_box_manage a.move_down {background-position: 0 -147px;}
.form_board .q_box_manage a.move_down:hover {background-position: 0 -30px;}
.form_board .q_box_manage a.q_cancel {background-position: 0 -206px;}
.form_board .q_box_manage a.q_cancel:hover {background-position: 0 -89px;}
.form_board .q_box_manage a.q_add {background-position: 0 -177px;}
.form_board .q_box_manage a.q_add:hover {background-position: 0 -60px;}

.form_board a.deselect {background:url(/images/2009a/ies/student/close.gif) 4px 1px no-repeat; height:14px; width:18px; display:block; position:relative; margin:3px -20px 0 0 ; float:left}
.form_board a.deselect:hover {background-position: 4px -15px}
.form_board a.add_more {background:url(/images/2009a/ies/student/add.gif) 4px 2px no-repeat; height:15px; padding-left:20px; display:block; position:relative; margin:3px -20px 0 0 ; float:left; font-size:0.85em; margin-top:5px; color:#2286c5}
.form_board a.add_more:hover {background-position: 2px -16px; color:#ff0000}
.q_option_list {float:left; line-height:2em}


.form_board .IES_top_tool {margin:-30px 10px 0 0}
.form_board span.valid {color:#358400}
.form_board span.invalid {color:#ff0000}
.form_board .navigation {margin-bottom:20px}

div.q_title {padding:5px; border-bottom:2px dotted #aaa}
div.q_title ol {margin:0 0 0 25px; padding:0}
div.q_title ol a.hidedata{font-size:0.8em; padding-left:8px;} /* 06-07-2011 added by lisa */
div.q_title ol .check_group {float:right; display:block; text-align:right; padding:0px 3px 0px 3px; -moz-border-radius:5px;} /* 15-09-2011 updated by lisa */
div.q_title ol .check_group_checked {float:right; background:#ffedb9; display:block; text-align:right; padding:0px 3px 0px 3px; -moz-border-radius:5px} /* 15-09-2011 added by lisa */
div.q_title ol .check_group_checked table {text-align:left}
div.q_title ol .check_group_checked table td {padding-top:0px; padding-bottom:0px}


div.q_option  {padding:10px 5px 5px 5px}
div.q_option table {background:#fff}
.ies_q_box .btn {margin:0 auto; text-align:center; padding:10px 0 10px 0}
.ies_q_box .swap {float:right; display:block; height:30px} /* 06-07-2011 added by lisa */
.q_group table.common_table_list {border:#bebebe 1px solid} /* 20-10-2011 added by lisa */
.q_group table.common_table_list th{background-color:#cdcfd0} /* 20-10-2011 updated by lisa*/
.q_group table.common_table_list th.top_hd {background-color:#a0caff; color:#000} /* 20-10-2011 updated by lisa*/
.q_group table.common_table_list th.side_hd {background-color:#c6e792; color:#000} /* 20-10-2011 updated by lisa*/
.thick_box {margin:0; padding:0}
.thick_box .q_group {border:0;margin:0; padding:10px;}
.x-axis {width:30px; height:16px; border:2px solid #ccc; background-color:#a0caff} /* 20-10-2011 updated by lisa*/
.y-axis {width:30px; height:16px; border:2px solid #b2b3b4; background-color:#c6e792} /* 20-10-2011 updated by lisa*/

.alert_message {text-align:center; margin:-10px 0 10px 0}
.alert_message span.success {padding:4px 12px 4px 12px; background-color:#C0FF93}
.alert_message span.fail {padding:4px 12px 4px 12px; background-color:#FFFF99}
.IES_system_message {margin:-2px 16px 10px 16px; color:#666666; font-size:0.85em}