/*>>>>>>>>>>> by lisa 12-6-2012 <<<<<<<<<<<<<<<<<<<<<<<<*/
/* Replace "../ images / 2007a / SBAIES/" with "/images/ 2009a/ SBAIES/" for images path */

body.SBA{background-color:#3dbae5}

a {color:#2286c5 }
a:hover {color:#ff0000}

textarea {font-size:1em}

.common_table_list tr td.no_border{border-right: 0}
.common_table_list tr td.pass {border-right:1px solid #66CC00}
.common_table_list tr td.under_approve {border-right:1px solid #FF3300}
.common_table_list tr th.need_approve {background-image:url(/images/2009a/SBAIES/need_approve.png); background-position:right center; background-repeat:no-repeat;}

.stage1 tr td.progess_left {background:url(/images/2009a/SBAIES/stage1_arrow.gif) center left no-repeat}
.stage1 tr td.progess_right {background:url(/images/2009a/SBAIES/stage1_arrow.gif) center right no-repeat}
.stage2 tr td.progess_left {background:url(/images/2009a/SBAIES/stage2_arrow.gif) center left no-repeat}
.stage2 tr td.progess_right {background:url(/images/2009a/SBAIES/stage2_arrow.gif) center right no-repeat}
.stage3 tr td.progess_left {background:url(/images/2009a/SBAIES/stage3_arrow.gif) center left no-repeat}
.stage3 tr td.progess_right {background:url(/images/2009a/SBAIES/stage3_arrow.gif) center right no-repeat}

.common_table_list tr td.submited  {background:url(/images/2009a/SBAIES/yellow_dot.gif) no-repeat center center}
.common_table_list tr td.commented  {background:url(/images/2009a/SBAIES/green_dot.gif) no-repeat center center}
.common_table_list tr td.needredo  {background:url(/images/2009a/SBAIES/red_dot.gif) no-repeat center center}
.common_table_list tr td.justsave  {background:url(/images/2009a/SBAIES/white_dot.gif) no-repeat center center}

.undefined {color:red}
a.undefined {color:red}
a:hover.undefined {color:red; text-decoration:underline}

.line_dotted {border-top:dashed 1px #a6a6a6; height:1px; display:block; margin-top:3px; margin-bottom:3px}

.common_table_tool a{
		padding-left: 20px;
		height:20px;
		line-height:19px;
		background-image: url(../images/2007a/icon_common_table_tool.gif);
		background-repeat:no-repeat;
		background-position:0px 0px;
		display:block; color:#2F7510;
		float:left;
		margin-left:2px;
}
.common_table_tool  a.marks_release	{ background-position:0px -319px;}

.last_update {float:left; color:#999999}

.edit_top { height:10px; padding:3px; display:block; clear:both; border-top:1px dashed #CCCCCC; text-align:center}


a.view_works {height:20px; display:block}
a:hover.view_works {background:url(../images/2007a/content_icon.gif) center -120px no-repeat;}

a.new_submit {background:url(/images/2009a/SBAIES/alert_new_grey.gif) center -25px no-repeat;height:20px; display:block}
a:hover.new_submit {background-position: center 4px}


.table_board td.stage1 {background:url(/images/2009a/SBAIES/stage1_table_hd.gif) repeat-x top #ffe69b}
.table_board td.stage1_deadline{background:#fff9d7}
.table_board td.stage2 {background:url(/images/2009a/SBAIES/stage2_table_hd.gif) repeat-x top #ffc9c9}
.table_board td.stage2_deadline {background:#fff2f2}
.table_board td.stage3 {background:url(/images/2009a/SBAIES/stage3_table_hd.gif) repeat-x top #a0ff5b}
.table_board td.stage3_deadline{background:#f5ffef}

.form_title {color:#999999;	padding-right:3px; padding-left:3px; margin-top:10px; font-size:1.2em}

.deadline {float:left; padding-top:5px; padding-right:5px}

.shadetabs li.stage1 a{ /*selected main tab style */
	background-image: url(/images/2009a/SBAIES/stage1_shade.gif);color:#ff7f01;border-bottom: 1px solid white;border-top: 1px solid #f2d59b;border-right: 1px solid #f2d59b;border-left: 1px solid #f2d59b;}
.shadetabs li.stage2 a{ /*selected main tab style */
	background-image: url(/images/2009a/SBAIES/stage2_shade.gif);color:#bf1e1e;border-bottom: 1px solid white;border-top: 1px solid #f09d9d;border-right: 1px solid #f09d9d;border-left: 1px solid #f09d9d;}
.shadetabs li.stage3 a{ /*selected main tab style */
	background-image: url(/images/2009a/SBAIES/stage3_shade.gif);color:#21a725;border-bottom: 1px solid white;border-top: 1px solid #b1dbb6;border-right: 1px solid #b1dbb6;border-left: 1px solid #b1dbb6;}

.innertable tr, .innertable tr td{ padding:0 ; margin:0}
table.comment_table {width:100%; margin-bottom:-15px; padding:0}
table.comment_table tr td{background-color:transparent; border:0; padding:0; margin:0; vertical-align:top}
.table_tool_row {width:15px}
.IES_works {background:url(/images/2009a/SBAIES/works.gif) 0 0 no-repeat; padding-left:16px}

table.common_table_list td.mark_mean{ background-color:#f1f6e9}
table.common_table_list td.sd {background-color:#fcf3f4}
table.common_table_list tr.average td.sd, table.common_table_list tr.average td.sd {background-color:#ece4d8}
table.common_table_list tr.mark_standard td{ background-color:#e8f2fc; font-weight:bold}
table.common_table_list tr.mark_standard td.overall_standard { background-color:#d4e9fc}
table.common_table_list tr.average td{ background-color:#f1f6e9; font-weight:bold}
table.common_table_list tr.average td.overall {background-color:#e3edd4}
table.common_table_list tr th:hover.paper {background:#b8b8b8}
table.common_table_list tr th.th_task {text-align:center}
table.common_table_list tr th.paper a.paper{display:block; text-decoration:underline}

.narrow_width {border:1px solid #cccccc; width:70%; padding:20px; float:left}

.sub_selection {padding-top:10px; padding-bottom:20px}
.sub_selection div {float:left}
.sub_selection .right {width:40%;padding-left:180px}
.symbol_remark {color:#666666}
.highest_mark {color:#009900; cursor:default; font-weight:bold}
.lowest_mark {color:#FF3300; cursor:default; font-weight:bold}
/*
.highest_mark {background:url(/images/2009a/SBAIES/highest.gif) top right no-repeat; padding-right:15px; color:#FF0000}
.lowest_mark {background:url(/images/2009a/SBAIES/lowest.gif) top right no-repeat; padding-right:15px; color:#FF0000}*/

/*******************************
IP main content (papers)
*******************************/
.main_paper_top {background:url(/images/2009a/SBAIES/paper_top_01.png) no-repeat 0 0; padding-left:34px; height:17px}
.main_paper_top div {background:url(/images/2009a/SBAIES/paper_top_03.png) no-repeat right top; padding-right:450px; height:17px}
.main_paper_top div div {background:url(/images/2009a/SBAIES/paper_top_02.png) repeat-x top; padding:0}

.main_paper_bottom {background:url(/images/2009a/SBAIES/paper_bottom_01.png) no-repeat 0 0; padding-left:441px; height:22px}
.main_paper_bottom div {background:url(/images/2009a/SBAIES/paper_bottom_03.png) no-repeat right top; padding-right:22px; height:22px}
.main_paper_bottom div div {background:url(/images/2009a/SBAIES/paper_bottom_02.png) repeat-x top; padding:0}

.main_paper_left {background:url(/images/2009a/SBAIES/paper_left_01.png) no-repeat 0 0}
.main_paper_right {background:url(/images/2009a/SBAIES/paper_right_01.png) no-repeat right bottom}

.main_paper_body_left {background:url(/images/2009a/SBAIES/paper_left_02.png) repeat-y left; padding-left:18px}
.main_paper_body_right {background:url(/images/2009a/SBAIES/paper_right_02.png) repeat-y right; padding-right:17px}
.main_paper_body {min-height:400px; background-color:#FFFFFF; padding: 15px 15px 30px 15px}

.main_paper_body h1 {padding:5px; background:#70be1c; font-size:1.2em; color:#ffffff; margin:0 -3px 10px -3px}

/*******************************
SBA main content (papers)
*******************************/
.IES_sheet .main_paper_top {background:url(/images/2009a/SBAIES/SBA_paper_top_01.png) no-repeat 0 0; padding-left:150px; height:17px}
.IES_sheet .main_paper_top div {background:url(/images/2009a/SBAIES/SBA_paper_top_03.png) no-repeat right top; padding-right:450px; height:17px}
.IES_sheet .main_paper_top div div {background:url(/images/2009a/SBAIES/SBA_paper_top_02.png) repeat-x top; padding:0}

.IES_sheet .main_paper_bottom {background:url(/images/2009a/SBAIES/SBA_paper_bottom_01.png) no-repeat 0 0; padding-left:441px; height:22px}
.IES_sheet .main_paper_bottom div {background:url(/images/2009a/SBAIES/SBA_paper_bottom_03.png) no-repeat right top; padding-right:150px; height:22px}
.IES_sheet .main_paper_bottom div div {background:url(/images/2009a/SBAIES/SBA_paper_bottom_02.png) repeat-x top; padding:0}

.IES_sheet .main_paper_left {background:url(/images/2009a/SBAIES/SBA_paper_left_01.png) no-repeat 0 0}
.IES_sheet .main_paper_right {background:url(/images/2009a/SBAIES/SBA_paper_right_01.png) no-repeat right bottom}

.IES_sheet .main_paper_body_left {background:url(/images/2009a/SBAIES/SBA_paper_left_02.png) repeat-y left; padding-left:150px}
.IES_sheet .main_paper_body_right {background:url(/images/2009a/SBAIES/SBA_paper_right_02.png) repeat-y right; padding-right:150px}
.IES_sheet .main_paper_body {min-height:400px; background:none; padding: 15px 15px 30px 15px; margin-left:-120px; margin-right:-120px}

.IES_sheet .main_paper_body h1 {padding:5px; background:#70be1c; font-size:1.2em; color:#ffffff; margin:0 -3px 10px -3px}

dl.IES_admin_faq {margin:0; padding:0}
dl.IES_admin_faq dt {float:left; width:30px; padding:0 5px 5px 0}
dl.IES_admin_faq dt span.ques {color:#8ab249}
dl.IES_admin_faq dt span.ans {color:#4ca5d1}
dl.IES_admin_faq dd {padding-bottom:5px}
/***********************
*************************/
.update_record {color:#999999; font-style:italic}
.grey_remark {color:#999999}
.table_board td.title {background:#ffffff}
.table_board td.teacher_comment {background:#f8f8f8}
.table_board td.student_ans{background:#ffffff}
a.btn_need_approve {width:20px; height:20px; display:block; background:url(/images/2009a/SBAIES/approve_tick.gif) no-repeat}
a.not_yet {background-position:0 0px}
a:hover.btn_need_approve, a.approved {background-position:0 -42px}

.table_board tr.approved td.teacher_comment{background:#fffad1}
.table_board tr.approved td.student_ans{background:#ecffe1}

table.rubric {border-collapse:separate;border-spacing: 0px;*border-collapse: expression('separate', cellSpacing = '0px'); width:96%; border:1px solid #cccccc}
table.rubric tr td {background:#fff; padding:2px 0 2px 0; margin:0; border:0; border-bottom:1px solid #cccccc}

table.rubric tr td.option {text-align:center}

.teacher_feedback{ background:#effafe; border:1px solid #c6e4ef; margin:5px; padding:5px}
.IES_select_commentbank {width:100%; height:100px; overflow-y:auto; background-color:#f3fbff; border:1px solid #cccccc; }
.IES_select_commentbank ul{list-style:none;  padding:0; margin:0}
.IES_select_commentbank ul li {margin:0 ; padding:3px 2px 3px 2px; cursor:pointer}
.IES_select_commentbank ul li:hover {background-color: #def5ff}
tr.IES_next_task td.title , tr.IES_next_task td.student_ans  , tr.IES_next_task td.teacher_comment {border-top:2px solid #b0b0b0}

td.student_ans table {width:100%;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');  line-height:20px; border:1px solid #cccccc}
td.student_ans table td{border-top:0}

.commentbox_btn , .rubricsbox_btn{
	float:left;
	margin:2px 10px 15px 0;

}
.commentbox_btn a , .rubricsbox_btn a{
	border:1px solid #bdeef7;
	line-height:24px;
	padding-left:20px;
	padding-right:3px;
	display:block;
	text-decoration:none;
	color:#2286c5;
	background:url(/images/2009a/SBAIES/comment_tool.gif) no-repeat #edf9ff;
}

.commentbox_btn a{background-position: 2px -22px;}
.rubricsbox_btn a{background-position: 3px 3px;}

.commentbox_btn a.current , .rubricsbox_btn a.current{background-color:#b0e8fe; border:1px solid #47b3df ; font-weight:bold; color:#055FA0}
.commentbox_btn a:hover , .rubricsbox_btn a:hover{background-color:#b0e8fe;color:#ff0000; border:1px solid #47b3df}

.commentbank_btn {}
.commentbank_btn a{background:url(/images/2009a/SBAIES/comment_tool.gif) right -46px no-repeat #f1f1f1; display:block; float:left; border:1px solid #e4e4e4; padding:0 20px 0 3px; line-height:15px}
.commentbank_btn a:hover {border:1px solid #dddddd; background-color:#e2e2e2}
.commentbank_btn a.current {border:1px solid #999999; background-color:#aaaaaa; color:#ffffff}

.attachment_list {margin:0; list-style:none; padding:0}
.attachment_list a {background:url(../images/2007a/icon_attachment.gif) 0 0 no-repeat; padding:2px 0 5px 14px}
.attachment_list li {padding:0 0 8px 0}

.IES_thickbox_list {padding:0 10px 10px 10px}
.common_table_list td.progress_col_left {border-left:1px solid #cccccc}
.common_table_list tr td.IES_stage_mark , .common_table_list tr th.IES_stage_mark {text-align:center}

.IES_allow {color:#006600}
.IES_redo {float:right; padding-top:7px; color:#FF0033}
/**************Rubric ******************************/
.IES_rubrics_box , .IES_comment_box{margin:0px auto 15px auto; width:95%; padding-bottom:10px; clear:both;}

.rubrics_content{ padding:10px;}
.common_table_list .rubrics_content td {border-bottom:0}
.rubrics_table{width:100%;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');  line-height:20px}
.rubrics_table {border:1px solid #cccccc}
.col_critera { width:20%}

.rubrics_table td{padding:3px; vertical-align:top}
.common_table_list .rubrics_table td{border-bottom:0}  /* reset from IES css */
.rubrics_student_col {border-right:1px solid #CCCCCC;}
.rubrics_likert_title_col { text-align:center;}
.rubrics_likert_title_col_left{border-left:1px solid #CCCCCC}
.rubrics_likert_title_col_right {border-right:1px solid #CCCCCC}
.rubrics_likert_title_col span{ text-decoration:underline}
.rubrics_student_col span{float:left; display:block; text-align:center; margin-bottom:5px}
.selected_rubrics {  font-weight:bold}
.common_table_list .rubrics_table tr.rubrics_critera_row td {background: #F2F2F2; border-top:#ffffff 3px solid}
.common_table_list .rubrics_table th{text-align:left; background:url(/images/2009a/SBAIES/marking/rubric_table_top.gif); border-left:1px solid #cccccc; border-right:1px solid #CCCCCC; color:#000000; font-weight:bold}
.common_table_list .rubrics_table th.group_rubrics_top{background:url(/images/2009a/SBAIES/marking/rubric_table_top_group.gif);}
.common_table_list .rubrics_table td.rubrics_student_col_sum {border-left:1px solid #cccccc; border-right:1px solid #CCCCCC; text-align:left; border-bottom:1px solid #CCCCCC; border-top:2px solid #CCCCCC; font-weight:bold; background:#d6f0bb;}
.common_table_list .rubrics_table td.rubrics_student_col_sum_group { background:#f1e3c2;}
/*** ***/
.rubrics_table tr.rubrics_critera_row td {background: #F2F2F2; border-top:#ffffff 3px solid}
.rubrics_table th{text-align:left; background:url(/images/2009a/SBAIES/marking/rubric_table_top.gif); border-left:1px solid #cccccc; border-right:1px solid #CCCCCC; color:#000000; font-weight:bold}
.rubrics_table th.group_rubrics_top{background:url(/images/2009a/SBAIES/marking/rubric_table_top_group.gif);}
.rubrics_table td.rubrics_student_col_sum {border-left:1px solid #cccccc; border-right:1px solid #CCCCCC; text-align:left; border-bottom:1px solid #CCCCCC; border-top:2px solid #CCCCCC; font-weight:bold; background:#d6f0bb;}
.rubrics_table td.rubrics_student_col_sum_group { background:#f1e3c2;}
/*** ***/
.rubrics_student_col_comment{border-left:1px solid #cccccc; border-right:1px solid #CCCCCC; text-align:left; border-bottom:1px solid #CCCCCC; }
.rubrics_table tr.rubrics_critera_row td.blank_rubrics { background-color:#FFFFFF}
.prev_stu {background: url(../images/eAssessment/rubrics_btn.gif) left top no-repeat; height:20px; width:10px; display:block; padding-left:10px;}
.next_stu {background: url(../images/eAssessment/rubrics_btn.gif) right bottom no-repeat; height:20px; width:10px; display:block; padding-right:10px;color:#FF0000}
.rubrics_table .next_prev_record{width:20px}
.rubrics_table .col_stu{width:240px;}

span.dummy_text{color:#999999}

 /*******************************/
 /********** 3 types rubrics start 2010/03/16*******************/
.rubrics_critera_title { margin:0; padding:0; font-size:1em; font-weight:normal; display:block; margin-bottom:5px;}
.rubrics_critera_title input, textarea{ width:99%}
.common_table_list tr.rubrics_level_row td{ background-color:#f4f4f4}
.common_table_list tr.rubrics_level_row td input{  width:99%}
.common_table_list tr.rubrics_level_row td.mark_range input { width:25px;}
table.common_table_list tr td.rubrics_section {border-bottom: double 2px #999999}
.rubrics_likert_scare_title{ width:100%;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');border:1px dashed #CCCCCC}
table.rubrics_likert_scare_title tr th{ width:140px; padding:4px;background:#EAEAEA; text-align:right; line-height:18px; font-weight: normal; vertical-align:top}
.rubrics_likert_scare_title th input{clear:both; float:right; margin-top:2px; display:block}
table.common_table_list tr td.rubrics_likert_scare_item{padding:0px;}
.rubrics_likert_scare_item table{width:100%;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');}
.rubrics_likert_scare_item table td {border-right:1px solid #CCCCCC}
.rubrics_likert_scare_item table td  input.scale_box{width:90%}

.rubrics_likert_scare_item table td .table_row_tool a{margin:0 auto ; width:20px; float: none}

.rubrics_critera_details .common_table_list {border:1px dashed #CCCCCC}
.rubrics_critera_details .common_table_list tr th{background:#EAEAEA}
.rubrics_likert_scare_lowest {padding-left:20px; display: block}
.rubrics_likert_scare_lowest span{ margin-left:-20px; display:block; float:left; width:20px}
.rubrics_likert_scare_lowest em{ display:block; float:left}
 /************** 3types rubrics  end*****************/
.taskmakingfloat {width:100%; position:fixed; bottom:0; left:0; background-color:#ccc;  background-color:#eeeeee; z-index:2999;}
.taskmakingbtn {float:right ; background-color:#FFF5B5}
.taskmakingbtn:hover {background-color:#FDDB73}
.taskmakingfloat .taskmaking_wrapper {border:2px dashed #666; padding:12px;overflow-y:auto; max-height:300px;}
.taskmaking_wrapper .common_table_list {width:96%}

.index_board {background:url(/images/2009a/SBAIES/student/stage_index_object.png) no-repeat; display: block; position: relative; width: 913px; height: 608px; padding: 0; margin: 0 auto;}
.index_board a.SBA_IES_logo_small {background:url(/images/2009a/SBAIES/student/SBA_IES_logo_small.png); width:123px; height:97px; display:block; position:absolute; top:209px; left: 606px}
.index_board a.SBA_IES_logo_small:hover {background:url(/images/2009a/SBAIES/student/SBA_IES_logo_small_on.png)}


.coverpage_board{margin:20px 40px 0 40px; position:relative}
.coverpage_board .board_top  , .IES_right_tool .board_top{background:url(/images/2009a/SBAIES/student/cover_page_board.png) right -45px no-repeat; height:20px; padding-right:40px}
.coverpage_board .board_top div  , .IES_right_tool .board_top div{background:url(/images/2009a/SBAIES/student/cover_page_board.png) 0 0 no-repeat; height:20px}
.coverpage_board .board_left  , .IES_right_tool .board_left{background:url(/images/2009a/SBAIES/student/cover_page_board_left.png) left repeat-y; padding-left:4px}
.coverpage_board .board_right  , .IES_right_tool .board_right{background:url(/images/2009a/SBAIES/student/cover_page_board_right.png) right repeat-y; padding-right:4px}
.coverpage_board .board_content{background:url(/images/2009a/SBAIES/student/cover_page_board_shadow.gif) bottom repeat-x #ffffff; padding:0 15px 0 15px}
.coverpage_board .board_bottom  , .IES_right_tool .board_bottom{background:url(/images/2009a/SBAIES/student/cover_page_board.png) right -136px no-repeat; height:20px; padding-right:40px}
.coverpage_board .board_bottom div  , .IES_right_tool .board_bottom div{background:url(/images/2009a/SBAIES/student/cover_page_board.png) 0 -91px no-repeat; height:20px}
.coverpage_board .board_content  h2 {margin:0 5px 15px 0; color:#6b8e04}
.IES_right_tool .board_content{background:url(/images/2009a/SBAIES/student/cover_page_board_shadow.gif) bottom repeat-x #ffffff; padding:0 6px 0 6px}
.reflection_note .inner{background-color:#fbf7cb; padding:0 10px 0 10px; display:block}
.reflection_note h4{border-bottom:1px solid #ffc000; margin: 0 0 15px 0; padding:10px 0 0 50px; background:url(/images/2009a/SBAIES/student/tools_icon.png) 0 0 no-repeat; height:25px; font-size:1em}
.IES_faq {background-color:#ffeaf5}
.IES_faq .inner{padding:0 10px 0 10px; display:block}
.IES_faq h4{border-bottom:1px solid #d7d7d7; margin: 0 0 15px 0; padding:6px 0 0 5px; height:29px; font-size:1em}
.IES_faq_list {display:block; margin:0 0 0 30px; padding:0 0 10px 0; list-style:decimal}
.IES_faq_list .faq_ans{margin: 0 0 10px 0}
.IES_faq h4 a{float:left;height:30px;margin-left:8px}
.IES_faq h4 a, .IES_faq h4 a span {background:url(/images/2009a/SBAIES/student/faq_tab.gif) no-repeat; cursor:pointer}
.IES_faq h4 a.faq_tab {background-position:right -40px; padding-right:10px}
.IES_faq h4 a.faq_tab span{background-position:0 4px; display:block; padding:8px 0 0 10px; height:22px}
.IES_faq h4 a:hover.faq_tab , .IES_faq h4 a.current {background-position: right -132px}
.IES_faq h4 a:hover.faq_tab span , .IES_faq h4 a.current span {background-position: 0 -88px}
.student_q {border-top:1px dashed #333333; padding-bottom:10px}
.student_q  p {font-style:italic; margin:0; color:#777777}
.student_q span {color:#0075BB}
.new_q p {font-weight:bold; margin:0;}
.IES_tools_bottom_btn {text-align:center; margin-top:-10px; padding-bottom:10px}
.cover_wrap {padding:0 30px 0 30px}
.stage2_cover .cover_wrap{height:405px; overflow-y:auto; margin:20px 40px 50px 0; padding:5px 0 0 30px}
.stage3_cover .cover_wrap{height:450px; overflow-y:auto; margin:40px 40px 10px 0; padding:5px 0 0 30px}
/****** floating box ******/
.floating_tool_box {position:absolute; border:2px solid #cccccc; z-index:60; display:block; padding:0 10px 10px 10px}
.floating_tool_box .IES_tool_close {right:5px; margin-top:5px}
.IES_file {background-color:#f0ffc8}
.IES_worksheet {background-color:#fff6c2}
.IES_bibi {background-color:#e9fafe}
.IES_mywork {background-color:#eae6ff}
.IES_reflect {background-color:#fbf7cb}
.common_table_list tr.worksheet_detail td{border-top:0}

.floating_tool_box h4 , .IES_lightbox h4 {background:url(/images/2009a/SBAIES/student/tools_icon.png) no-repeat;border-bottom:1px solid #cacaca;padding:15px 0 0 50px;margin: 0 0 10px 0;height:28px; font-size:1em;cursor:move; font-weight:bold}
.IES_file h4 {background-position: 0 -185px}
.IES_worksheet h4 {background-position:0 -400px}
.IES_bibi h4 {background-position: 0 -292px}
.IES_mywork h4 {background-position:0 -508px}
.IES_faq h4 {background-position: 0 -90px}

.floating_tool_box table.common_table_list {border:0;}
.floating_tool_box table.common_table_list td {border-right:0}
.IES_file table.common_table_list th a{color:#065903}
.IES_worksheet table.common_table_list th a , .IES_bibi table.common_table_list th a{color:#7f2e02}
.floating_tool_box table.common_table_list th a:hover{color:#ff0000}

.IES_upload_list {list-style:none; margin:0; padding:0 0 5px 0}
.IES_upload_list li {padding:4px 0}

.IES_file table.common_table_list th {border-right:0; background-color:#c6e870; color:#065903}
.IES_worksheet table.common_table_list , .IES_bibi table.common_table_list{border-top:1px dashed #cccccc; margin-top:5px; background-color:#fffee9;width:100%}
.IES_worksheet table.common_table_list td , .IES_bibi table.common_table_list td{border:0; background-color:#fffee9}

.IES_worksheet .tool_list_head , .IES_bibi .tool_list_head {border-bottom:1px solid #cccccc; background-color:#f6deac; height:25px; width:100%}
.IES_bibi .tool_list_head {border-bottom:1px solid #cccccc; background-color:#49b8d4; height:25px; width:100%}
.tool_list_head td, .tool_record_list td{vertical-align:text-top}

.tool_record_list {border-bottom:1px solid #cccccc;width:100%}

.tool_record_list .tool_record_top {cursor:pointer; width:100%}
.tool_record_list div:hover.tool_record_top {background-color:#fffee9}

.common_table_list td.tool_last_col {padding-right:15px}
.tool_type_col {width:100px; padding-left:2px; padding-right:2px}
.tool_tags_col {width:180px}
.tool_files_col {width:100px}
.tool_comment_col {width:45px;padding-right:10px}
.tool_title_col{padding-left:5px}
.tool_deadline_col{padding-right:10px; width:100px}
.tool_record_list .title_icon {background:url(/images/2009a/SBAIES/student/teachercomment.gif) no-repeat; float:left; margin-top:8px}
.selected_list {background-color:#fffee9;border-bottom:0; border-top:2px solid #cccccc}

.tool_record_list .tool_content{display:none}
.selected_list table.tool_content{display:block; border-bottom:3px solid #cccccc}
.selected_list .tool_title_col {font-weight:bold}
.selected_list .tool_type_col , .selected_list .tool_tags_col {display:none; width:0}
.tool_record_list .my_file {background:url(/images/2009a/SBAIES/student/teachercomment.gif) -1px -97px no-repeat;padding-left:20px; height:25px}
.tool_record_list .attachment {background:url(../images/2007a/icon_attachment.gif) 5px 3px no-repeat; padding:2px 0 5px 20px}
.tool_record_list .IES_tool_btn{padding-top:5px; float:left}
.IES_tool_btn {padding-bottom:10px}
.IES_tool_btn a , .IES_tool_btn a span{background:url(/images/2009a/SBAIES/student/tool_box_btn.png) no-repeat; display:block; cursor:pointer; padding-right:5px; color:#065903}
.IES_tool_btn a {float:left; margin-right:10px}
.IES_tool_btn a span {background-position: right 0; padding-top:3px; height:20px}
.IES_tool_btn a:hover span {background-position: right -33px; color:#ffffff}
.IES_file .Conntent_search {padding:0 0 15px 0}
.IES_worksheet .Conntent_search {padding-top:10px}

.IES_tool_btn a.IES_file_upload {background-position: 0 -99px; height:23px; padding-left:20px}
.IES_tool_btn a:hover.IES_file_upload {background-position: 0 -165px}

.IES_tool_btn a.IES_file_type {background-position: 0 -66px; height:23px; padding-left:20px}
.IES_tool_btn a:hover.IES_file_type {background-position: 0 -132px}

.common_table_list .IES_tool_btn {margin-top:-2px; margin-bottom:-2px}

.storage_count {float:right}
.storage_count span {float:left; color:#278432}

.IES_tool_list {width:100%; background-color:#ffffff; border:1px solid #cccccc; overflow-y:auto; overflow-x:hidden; margin-top:5px; *margin-top:20px}

.value_bar {margin:2px 0 0 10px; border:1px solid #9a9a9a; float:left}
.value_bar .inner_bar {height:11px; width:100px; border:1px solid #ffffff; display:block; background-color:#686868}
.value_bar .inner_bar .value {background:url(/images/2009a/SBAIES/student/valuebar_bg.gif) 0 0 repeat-x; height:11px}


.theme_edit {position:absolute; right:5px; margin-top:-20px; padding:0}
.theme_edit a.bg_setting_btn {background:url(/images/2009a/SBAIES/student/setting_btn.gif) 0 1px no-repeat; padding: 0 0 0 25px;display:block; font-size:0.9em; color:#4a9f06}
.theme_edit a:hover.bg_setting_btn {color:#ff0000}
.theme_edit a.option{padding:5px; background-color#f2f2f2}
.theme_edit a:hover.option{background-color:#c1e799}
table.about_stage {width:100%;
	/*margin:10px 0 0 0;*/margin:0;
	border-collapse:separate;
	border-spacing: 0px;
 	*border-collapse: expression('separate', cellSpacing = '0px');}
	
table.about_stage tr td {vertical-align:middle; padding-left:10px}
table.about_stage tr.title td{background-color:#e0e0e0; font-weight:bold; height:28px; border-bottom:8px solid #ffffff}
table.about_stage tr.s1 td{background-color:#ffb7b3; height:45px; border-bottom:8px solid #ffffff}
table.about_stage tr.s2 td{background-color:#ffe361; height:45px; border-bottom:8px solid #ffffff}
table.about_stage tr.s3 td{background-color:#c1e66a; height:45px; border-bottom:8px solid #ffffff}
table.about_stage tr.s4 td{background-color:#a8d9ff; height:45px; border-bottom:8px solid #ffffff}
table.about_stage tr.s5 td{background-color:#c8bfff; height:45px; border-bottom:8px solid #ffffff}

.top_left_btn {float:left; height:25px; padding-right:1px}
.SBA_logo {float:left; height:76px; padding: 0 7px 0 0}
.SBA_logo div {background:url(/images/2009a/SBAIES/student/SBA_logo.png) 0 0 no-repeat; width:105px; height:76px}
.SBA_logo div a {height:100%; width:100%; display:block}

.top_left_btn .scheme_grp {background:url(/images/2009a/SBAIES/student/stage_btn.png) right top no-repeat; float:left; height:120px; padding-right:7px}
.top_left_btn .scheme_head {background:url(/images/2009a/SBAIES/student/stage_btn.png) left top no-repeat; float:left; display:block; width:8px; height:60px; margin-left:-8px}

.top_left_btn .scheme_current {float:left; background-color:#d1e5f7; padding:5px 10px 5px 10px; height:19px; color:#1317a5; font-weight:bold; cursor:default}
.top_left_btn a.scheme_select{background:url(/images/2009a/SBAIES/student/scheme_btn.gif) 0 0 no-repeat; height:29px; width: 28px; float:left}
.top_left_btn a:hover.scheme_select {background-position: 0 -29px}

.top_left_btn .stage_menu {float:left; height:35px;}
.top_left_btn .stage_menu a{text-decoration:none;	float:left;	margin:0;	margin-right: 2px; margin-bottom:3px; padding:0 0 0 7px; background:url(/images/2009a/SBAIES/student/top_stage_bg.png) left 0 no-repeat; font-weight:bold; color:#555555;}
.top_left_btn .stage_menu a span{float:none; display:block;	cursor: hand; padding: 7px 7px 8px 0px; background:url(/images/2009a/SBAIES/student/top_stage_bg.png) right -50px no-repeat}
.top_left_btn .s1 a			{background-position:left -500px}
.top_left_btn .s1 a span	{background-position:right -550px}
.top_left_btn .s2 a			{background-position:left -600px}
.top_left_btn .s2 a span	{background-position:right -650px}
.top_left_btn .s3 a			{background-position:left -700px}
.top_left_btn .s3 a span	{background-position:right -750px}
.top_left_btn .s4 a			{background-position:left -800px}
.top_left_btn .s4 a span	{background-position:right -850px}
.top_left_btn .s5 a			{background-position:left -900px}
.top_left_btn .s5 a span	{background-position:right -950px}
.top_left_btn .stage_menu a.current,.top_left_btn .stage_menu a:hover span		{color:#ffffff}
.top_left_btn .s1 a.current,		.top_left_btn .s1 a:hover 		{background-position:left 0}
.top_left_btn .s1 a.current span,	.top_left_btn .s1 a:hover span	{background-position:right -50px}
.top_left_btn .s2 a.current,		.top_left_btn .s2 a:hover 		{background-position:left -100px}
.top_left_btn .s2 a.current span,	.top_left_btn .s2 a:hover span	{background-position:right -150px}
.top_left_btn .s3 a.current,		.top_left_btn .s3 a:hover 		{background-position:left -200px}
.top_left_btn .s3 a.current span, 	.top_left_btn .s3 a:hover span	{background-position:right -250px}
.top_left_btn .s4 a.current,		.top_left_btn .s4 a:hover 		{background-position:left -300px}
.top_left_btn .s4 a.current span, 	.top_left_btn .s4 a:hover span	{background-position:right -350px}
.top_left_btn .s5 a.current,		.top_left_btn .s5 a:hover 		{background-position:left -400px}
.top_left_btn .s5 a.current span, 	.top_left_btn .s5 a:hover span	{background-position:right -450px}
.top_left_btn .s_add a		{background-position:left -1000px; padding-left:22px; margin-left:8px;}
.top_left_btn .s_add a span	{background-position:right -1050px; padding-right:1px}
.top_left_btn .s_add a:hover 		{background-position:left -1100px}
.top_left_btn .s_add a:hover span	{background-position:right -1150px; color:#1462ff}
.top_left_btn .arrow		{float:left; height:35px; width:23px; padding:0; margin:0; margin-left:2px; background:url(/images/2009a/SBAIES/student/top_stage_arrow.png) no-repeat left 5px}


.top_left_btn .scheme_current ul.scheme_option {position:absolute; z-index:10; margin:25px 0 0 -9px; list-style:none;padding:0}
.top_left_btn .scheme_current ul.scheme_option li {padding:5px 8px 5px 0; border:1px solid #CCCCCC; border-top:0;  background-color:#cfe2f4; color:#1317a5}
.top_left_btn .scheme_current ul.scheme_option li:hover {background-color:#c1d7ec}
.top_left_btn .scheme_current ul.scheme_option li a{padding:0 3px 0 11px; color:#1317a5}
.top_left_btn .scheme_current ul.scheme_option li a:hover {color:#FF0000}
.top_left_btn .scheme_current .scheme_lock {width:11px; cursor:default; background:url(/images/2009a/SBAIES/student/icon_scheme_select_lock.gif) 0 4px no-repeat; margin-left:5px; padding-right:6px}


.student_tools{background:url(/images/2009a/SBAIES/student/tools_left.png) left top no-repeat; padding-left:12px; float:right; margin-top:48px; margin-right:15px}
.student_tools div {background:url(/images/2009a/SBAIES/student/tools_right.png) right top no-repeat; height:47px; padding-right:2px}
.student_tools ul {list-style:none; margin:0; padding:0}
.student_tools ul li{float:left; padding:0 2px 0 0}
.student_tools a {background:url(/images/2009a/SBAIES/student/tools_btn.png) no-repeat; padding:7px 0 0 32px ; display:block; height:32px; color:#0e5985; cursor:pointer}
.student_tools a.stu_files {background-position: 0 9px}
.student_tools a.bibi {background-position: 0 -36px}
.student_tools a.reflect_note {background-position: 0 -83px}
.student_tools a.worksheet {background-position: 0 -128px}
.student_tools a.faq {background-position: 0 -175px}
.student_tools a.myanswer {background-position: 0 -452px}
.student_tools a.mywork {background-position: 0 -530px}
.student_tools a.theme_setting {background-position: 0 -608px}
.student_tools a.survey_ques {background-position: 0 -686px}


.student_tools a span {padding: 7px 18px 0 0; display:block; height:27px}
.student_tools a:hover span , .student_tools .current a span{background:url(/images/2009a/SBAIES/student/tools_btn_right.png)  right 0 no-repeat}
.student_tools a:hover.stu_files , .student_tools .current a.stu_files{background-position: 0 -229px}
.student_tools a:hover.bibi, .student_tools .current a.bibi{background-position: 0 -274px}
.student_tools a:hover.reflect_note, .student_tools .current a.reflect_note{background-position: 0 -321px}
.student_tools a:hover.worksheet, .student_tools .current a.worksheet{background-position: 0 -366px}
.student_tools a:hover.faq, .student_tools .current a.faq{background-position: 0 -413px}
.student_tools a:hover.myanswer, .student_tools .current a.myanswer{background-position: 0 -491px}
.student_tools a:hover.mywork, .student_tools .current a.mywork{background-position: 0 -569px}
.student_tools a:hover.theme_setting, .student_tools .current a.theme_setting{background-position: 0 -647px}
.student_tools a:hover.survey_ques, .student_tools .current a.survey_ques{background-position: 0 -725px}


.IES_sheet_wrap {padding-right: 1px}
.IES_sheet {float:left; width:98%; margin-left:10px}
.IES_right_tool {float:right; width: 300px; position:relative; margin-right:-300px; display:none}

span.title {font-size:1.5em; font-weight:bold; color:#003c72; float:left; padding:0 15px 0 0}
.IES_sheet span.deadline {background:url(/images/2009a/SBAIES/student/clock.gif) 0 6px no-repeat; padding-left:14px; padding-right:0; float:left; font-size:0.9em}
.stage_paper {padding:5px 0 10px 0}
.star {width:33px; height:37px; margin-left:9px; margin-top:-3px; float:left; background:url(/images/2009a/SBAIES/student/stage_star.gif) top no-repeat;}
.stage1 {background:#ffe2e3}
.stage1 .star {background-position:left top}
.stage1 .task_writing_bottom, .stage_paper .stage1 .task_writing_bottom div {background:#ffb8b8; border:1px solid #ffb8b8}
.stage2 {background:#ffecc8}
.stage2 .star {background-position:left -50px}
.stage2 .task_writing_bottom, .stage_paper .stage2 .task_writing_bottom div {background:#f6dd88; border:1px solid #f6dd88}
.stage3 {background:#dbfcc9}
.stage3 .star {background-position:left -100px}
.stage3 .task_writing_bottom, .stage_paper .stage3 .task_writing_bottom div {background:#aff2ab; border:1px solid #aff2ab}
.stage4 {background:#d9eeff}
.stage4 .star {background-position:left -150px}
.stage4 .task_writing_bottom, .stage_paper .stage4 .task_writing_bottom div {background:#b3ddff; border:1px solid #b3ddff}
.stage5 {background:#e9e5ff}
.stage5 .star {background-position:left -200px}
.stage5 .task_writing_bottom, .stage_paper .stage5 .task_writing_bottom div {background:#d0c8ff; border:1px solid #d0c8ff}
.stage1 .cover_wrap, .stage2 .cover_wrap, .stage3 .cover_wrap, .stage4 .cover_wrap, .stage5 .cover_wrap {padding-left:55px; padding-right:55px}
.stage_reorder .stage1 {padding-bottom:10px; border:1px solid #ffb8b8; cursor:move}
.stage_reorder .stage2 {padding-bottom:10px; border:1px solid #f6dd88; cursor:move}
.stage_reorder .stage3 {padding-bottom:10px; border:1px solid #aff2ab; cursor:move}
.stage_reorder .stage4 {padding-bottom:10px; border:1px solid #b3ddff; cursor:move}
.stage_reorder .stage5 {padding-bottom:10px; border:1px solid #d0c8ff; cursor:move}
.stage_reorder .stage1:hover, .stage_reorder .stage2:hover, .stage_reorder .stage3:hover, .stage_reorder .stage4:hover, .stage_reorder .stage5:hover {border:1px solid #888}
.stage_reorder .cover_wrap {padding-top:10px}

.stage_reorder .task_title {margin-left:0; cursor:move}
.stage_reorder .task_open:hover {background-position:left -320px}
.stage_reorder .task_open:hover span{background-position:right -400px}
.stage_reorder .task_close:hover {background-position:left -640px}
.stage_reorder .task_close:hover span{background-position:right -720px}

.stage_reorder .task_steps {background:#dbfcc9; padding-bottom:10px; padding-top:10px; border:1px solid #aff2ab; cursor:move; float:none; padding-left:10px}
.stage_reorder .task_steps:hover {border:1px solid #888}
/*.stage_reorder .task_steps .circle {float:left; text-align:center; background:url(/images/2009a/SBAIES/student/step_round.png) center -38px no-repeat;height:30px;width:31px;display:block; padding-top:6px; margin:-6px 5px 5px 5px; font-weight:bold; color:#ffffff; font-size:0.9em}*/

.task_shortcut {float:none}
.task_shortcut table {font-size:1em; margin:0 0; border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px'); width:100%; border-bottom:1px solid #b2d398}
.task_shortcut table th {vertical-align:top; padding:5px; border-right:1px solid #cee8bb; font-weight:normal; background:#e8ffd7; text-align:left}
.task_shortcut table td {vertical-align:top; padding:5px}
.task_shortcut table tr.task_top td, .task_shortcut table tr.task_top th {border-top:1px solid #b2d398}

.task_shortcut table thead td {background-color:#7cb551; color:#ffffff; font-weight:bold;  padding:5px; border:none; border-left:1px solid #aed194;}
.task_shortcut table thead td.task_h {background-color:#68a539; width:25%}


.task_title{background:url(/images/2009a/SBAIES/student/task_title_bg.png) no-repeat;float:left; padding-right:10px; padding-left:84px; margin-left:-50px}
.task_title span{background:url(/images/2009a/SBAIES/student/task_title_bg.png) repeat-x; height:50px; display:block; padding:19px 20px 0 0px; font-size:1.15em; font-weight:bold; margin-left:-30px}

.task_open {background-position:left 0px}
.task_open span{background-position:right -80px; color:#fff}
.task_close {background-position:left -480px }
.task_close span{background-position:right -560px; color:#fff}
a.task_add {background-position:left -160px}
a.task_add span{background-position:right -80px; color:#fff; font-weight:normal}
a.task_add:hover {background-position:left -240px}
a.task_add:hover span{background-position:right -400px}
.task_add {background-position:left -160px}
.task_add span{background-position:right -80px; color:#fff; font-weight:normal}


a.hide_intro {float:left; margin-top:12px; background:url(/images/2009a/SBAIES/student/task_intro_showhide.png) right -118px no-repeat; height:27px; display:block; padding-right:13px; cursor:pointer; color:#fff; margin-right:10px}
a.hide_intro span {background:url(/images/2009a/SBAIES/student/task_intro_showhide.png) 0 -80px no-repeat;padding:5px 0 0 30px ; height: 22px; display:block}
a.show_intro , a:hover.hide_intro {float:left; margin-top:12px; background:url(/images/2009a/SBAIES/student/task_intro_showhide.png) right -42px no-repeat; height:27px; display:block; padding-right:13px; cursor:pointer; color:#34650b; margin-right:10px}
a.show_intro span , a:hover.hide_intro span {background:url(/images/2009a/SBAIES/student/task_intro_showhide.png) 0 0 no-repeat;padding:5px 0 0 30px ; height: 22px; display:block}
a:hover.show_intro{background-position: right -118px; color:#ffffff}
a:hover.show_intro span{background-position: 0 -80px}

.content_grey_text {float:left; padding:20px 0 0 0; color:#777777; font-style:italic}

/* ##### steps line ##### */
.task_steps {/*float:right; ie*/*padding-top:8px; float:none; clear:both} 
.task_steps span {float:left; color:#469f11; padding:8px 10px 0 0; font-weight:bold; font-size:0.9em}
.task_steps ul.line {list-style:none; padding:0;float:left; margin:0; margin-bottom:10px}
.task_steps ul.line li.circle {float:left;height:31px;width:31px; z-index:1; position:relative; text-align:center;}
.task_steps ul.line li.circle a {background:url(/images/2009a/SBAIES/student/step_round.png) center 2px no-repeat;height:25px;width:31px;display:block; padding-top:6px; font-weight:bold; color:#ffffff; font-size:0.9em}
.task_steps ul.line li.circle a:hover , .task_steps ul.line li.circle a.current{background-position: center -38px;}
.task_steps ul.line li.spacer {float:left;width:20px; background:#b8df85;height:6px; margin-top:12px; margin-left:-5px; margin-right:-5px; position:relative}
/* ##### steps line end ##### */

.IES_task {padding-bottom:40px}
.task_wrap {margin-left:15px ; margin-right:15px}
.answer_wrap {margin-left:15px ; margin-right:15px}
.task_writing_top {background:#43a4f5; padding-right:5px; margin-top:10px;height:40px; padding:15px 0 0 15px; color:#ffffff; font-weight:bold}
.writing_area {background-color:#e8f5ff; padding:15px; line-height:1.35em; position:relative; border:1px solid #a6c1ce;; border-top:none}
.writing_area_min {background-color:#fffae3; padding:5px 15px 5px 15px; line-height:1.35em; position:relative; border:1px solid #f2d242; margin-bottom:7px}
.writing_area_min .answer_area {background-color:transparent}
.editing_area_min {background:url(/images/2009a/SBAIES/editing_area_min_bg.gif) top repeat-x #e1ffd6; padding:5px 15px 5px 15px; line-height:1.35em; position:relative; border:1px solid #a9d881; border-bottom:none }
.task_writing_bottom {background:#b9e693; padding-right:5px; text-align:center; padding:10px 0 10px 0; border:1px solid #a9d881; border-top:1px solid #a9d881}

.step_writing {margin-left:15px ; margin-right:15px; margin-bottom:20px}
.step_writing .task_writing_bottom {background:#b8dfff; padding-right:5px; text-align:center; padding:10px 0 10px 0; border:1px solid #a6c1ce; border-top:1px solid #b8dfff}



/*.selectAnsList {width:99%;font-size:15px;height:350px;}*/
.selectAnsList {width:99%;height:350px; border:1px solid #cccccc; background-color:#ffffff;overflow-y:scroll; padding:2px}
.selectAnsList ol{list-style-type: none; margin:0; padding:0}
.selectAnsList ul{list-style:none; margin:0; padding:0}
.selectAnsList li {padding-top:2px; padding-bottom:2px; cursor:pointer}
.selectAnsList li:hover {background:#f2f2f2}
.selectAnsList li.active{background:#e5e5e5}
.selectAnsList li.bold {font-weight:bold}
.selectAnsList li.sub {padding-left:30px}

.answer_area {background:#ffffff; width:100%}
.answer_area table.answer {margin: 5px 10px 5px 10px;width:98%}
.answer_area table.answer td {vertical-align:top}
.answer_area table.answer table.common_table_list {width:100%}

.task_content {padding:0}
.task_content .form_table a {color:#0a6fc5}
.task_content .form_table  table.sub_form_table {font-size:1em; margin:0 0; border-collapse:separate;	border-spacing: 1px; 	*border-collapse: expression('separate', cellSpacing = '1px')}
.task_content .form_table  table.sub_form_table td {white-space:nowrap}
.task_content .form_table  table.sub_form_table .stage_left_tool {margin-left:-5px}
.task_content .table_steptool {border:#e8ce55 1px solid; margin-bottom:5px}
.task_content .table_steptool thead th {background:#ffe25a; border-bottom:#ddc34b 1px solid; border-right:#eed668 1px solid; color:#676767}
.task_content .table_steptool td {border-right:#e8e8e8 solid 1px; background:#fffae3}
.task_content td.num_check {text-align:right}
.IES_ans_box {display:block}
.IES_ans_box .table_steptool {border:#e8ce55 1px solid; margin-bottom:5px}
.IES_ans_box .table_steptool thead th {background:#ffe25a; border-bottom:#ddc34b 1px solid; border-right:#eed668 1px solid; color:#676767}
.IES_ans_box .table_steptool td {border-right:#e8e8e8 solid 1px; background:#fffae3}
.IES_ans_box td.num_check {text-align:right}
.task_content .IES_task_form .wrapper .stage_left_tool {margin-left:-5px; margin-top:15px}
.task_content .IES_task_form .wrapper table.sub_form_table {font-size:1em}

a.task_demo {background:url(/images/2009a/SBAIES/student/bulb.gif) 0 0 no-repeat; padding:2px 5px 0 20px; display:block; height:20px; float:left; color:#973c00}
a:hover.task_demo {color:#FF0000}
a.send_email {background:url(/images/2009a/SBAIES/student/email.gif) 0 0 no-repeat; padding:2px 5px 0 20px; display:block; height:20px; float:left; color:#973c00}
a:hover.send_email {color:#FF0000}

a.task_hint {background:url(/images/2009a/SBAIES/student/hint.gif) 0 0 no-repeat; padding:2px 5px 0 20px; display:block; height:20px; float:left; color:#b59e1f}
a:hover.task_hint {color:#FF0000}
.show_hint { float:left; display:block}
.hint_content { display:none; float:left; position:absolute; clear:both; padding:10px; border: 1px solid #b59e1f; background:#f7efc0; width:200px;}

a.task_intro {background:url(/images/2009a/SBAIES/student/intro.gif) 0 0 no-repeat; padding:2px 5px 0 20px; display:block; height:20px; float:left; color:#3e8b06}
a:hover.task_intro {color:#FF0000}
.show_intro { float:left; display:block}
.intro_content { display:none; float:left; clear:both; padding:10px; border: 1px dashed #3e8b06; background:#c4e576;}

a.task_conceptmap {background:url(/images/2009a/SBAIES/student/conceptmap.gif) 0 0 no-repeat; padding:0px 5px 0 23px; color:#2286c5; clear:left; display:block; float:left}  
a:hover.task_conceptmap {color:#FF0000}  

a.task_form {background:url(/images/2009a/SBAIES/student/form.gif) 0 0 no-repeat; padding:2px 5px 0 20px; color:#2286c5; clear:left; display:block; float:left}  
a:hover.task_form {color:#FF0000}  
span.task_date {clear:left; font-size:0.85em; color:#747474; padding:0 5px 7px 20px; white-space:nowrap; display:block; float:left}  

.task_form_btn a {float:left; margin-top:12px; background:url(/images/2009a/SBAIES/student/task_form_btn.png) right -50px no-repeat; height:40px; display:block; padding-right:10px; cursor:pointer; color:#ffffff; font-weight:bold; margin:0 4px 10px 5px; width:31%}  
.task_form_btn a span{background:url(/images/2009a/SBAIES/student/task_form_btn.png) 0 0 no-repeat;padding:10px 0 0 10px ; height: 40px; display:block; text-align:center}  
.task_form_btn a:hover, .task_form_btn a.current {background-position:right -150px}  
.task_form_btn a:hover span, .task_form_btn a.current span {background-position: 0 -100px}  

table.IES_task_form_table {border:none} 
table.IES_task_form_table td {border-top: #d3d3d3 dashed 1px; border-bottom: #d3d3d3 dashed 1px;} 
table.IES_task_form_table td p{padding-bottom:0; margin-bottom:10px} 
table.IES_task_form_table tr.btn_row td{background-color:#f1f1f1 ; text-align:center; padding:8px 0 8px 0; border:none} 

.IES_task_form {background:#FFFFFF; border:1px solid #cccccc; margin-bottom:5px}
.IES_task_form .guide {display:block; border-bottom:1px solid #ccc; padding:10px; padding-bottom:5px; margin-bottom:5px}

.IES_task_form .result {background:#fff1e1; margin:15px; padding:10px; border:2px solid #ffd199}  
.IES_task_form .wrapper{padding:0 15px 15px 15px}
.IES_task_form .view_result {text-align:center; padding:10px 0 10px 0; background:#f4f4f4}
.IES_task_form table tr td{vertical-align:top}
table.estimate_table tr.question td{background-color:#ececec; border-bottom:8px solid #ffffff; padding-top:4px; padding-bottom:4px}
table.estimate_table tr td.option {text-align:center; width:100px}
table.estimate_table tr td.left {border-left:8px solid #ffffff}
.IES_task_form table.common_table_list {border:0}

.task_instruction_box {background:#ffe25a; padding:10px; color:#676767}
.task_instruction_text {color:#676767}
.task_selected_box {background:#ffed99; padding:10px}
.task_selected_box h5 {border-bottom:1px solid #cccccc; font-size:1em; font-weight:normal; margin:0; padding:0 0 3px 0}
.task_selected_box h5 a.del_all {color:#3d71c7}
.task_selected_box h5 a:hover.del_all {color:#FF0000} 
.task_selected_box .selected {background:#a7a7a7; color:#ffffff; padding:4px 24px 4px 4px; margin-top:10px}
.task_selected_box .selected span {float:left;width:100%}
.task_selected_box .selected a.deselect {background:url(/images/2009a/SBAIES/student/close.gif) 4px 1px no-repeat; height:14px; width:18px; display:block; position:relative; margin:3px -20px 0 0 ; float:right}
.task_selected_box .selected a.deselect:hover {background-position: 4px -15px; height:14px; width:18px}

.task_intro_box {text-align:left; width:75%; margin-left:auto; margin-right:auto}
.task_intro_content {background:#fffae3; border:2px dotted #c9af33; position:relative; padding-bottom:15px; min-height:25px}
.task_intro_content .intro_guide {color:#2a2a2a; font-style:italic; display:block; background:#ffee9a; padding:7px 10px; border-bottom:1px solid #ffdd41}

/*
.task_intro_brief {background:#f0fee4; border:2px dotted #6eb533; position:relative; padding-bottom:15px}
.task_intro_brief .intro_guide {color:#004c0e; font-style:italic; display:block; padding:10px 30px 5px 12px}
*/


.task_intro_buttons {padding-top:15px;width:150px; margin-left:auto; margin-right:auto; text-align:center}
a.instant_write {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) 0 -36px no-repeat; padding-left:30px;float:left; cursor:pointer; margin-top:-40px;}
a.instant_write span {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) right top no-repeat; padding:4px 10px 0 0; height:24px; display:block; font-style:normal; color:#065903}
a:hover.instant_write {background-position: 0 -144px}
a:hover.instant_write span{background-position: right -108px; color:#ffffff}

/*
a.gotosteps {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) 0 -72px no-repeat; padding-left:30px;display:block;float:right; cursor:pointer}
a.gotosteps span {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) right top no-repeat; padding:4px 10px 0 0; height:24px; display:block; color:#065903; font-style:normal}
a:hover.gotosteps {background-position:0 -180px}
a:hover.gotosteps span{background-position: right -108px; color:#ffffff}
*/

a.task_edit {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) 0 -216px no-repeat; padding-left:30px;display:block;float:right; cursor:pointer; color:#065903; font-style:normal; margin-top:8px}
a.task_edit span{background:url(/images/2009a/SBAIES/student/intro_board_btn.png) right top no-repeat; padding:4px 10px 0 0; height:24px; display:block}
a:hover.task_edit {background-position:0 -252px; color:#ffffff}
a:hover.task_edit span {background-position: right -108px}

.IES_ans_box .task_intro_content {border:1px solid #f2d242; margin-bottom:7px}
.IES_ans_box .task_intro_content .intro_guide {color:#2a2a2a}
.IES_ans_box .task_intro_content .writing_area_min {border:none; color:#004fc6; margin:0px; padding-bottom:0px}

/*textarea , input style*/
.stage_index_short {width:100%; height:50px;} 
.text_task_brief {width:100%; height:100px;} 
.text_stu_writing {width:100%; height:130px; margin-top:-11px} 
.input_reflection {width:100%; height:400px}
.input_short {width:80px}
.input_long {width:95%}
.input_med {width:280px}
.input_num {width:40px}

.tool_col_min {width:7%}

.task_intro_content a.intro_close, a.IES_tool_close {background:url(/images/2009a/SBAIES/student/intro_board_close.png) 0 0 no-repeat; height:22px; width:22px; display:block; position:absolute;right:5px; margin-top:-20px}
.task_intro_content a:hover.intro_close, a:hover.IES_tool_close {background-position: 0 -28px}
.task_intro_content a.intro_close {margin-top:5px}


a.IES_tool_close { margin-top:-10px}
a.IES_tool_resize {background:url(/images/2009a/SBAIES/student/tool_resize_btn.png) 0 0 no-repeat; height::18px; width:18px; position:absolute; z-index:80; right:0 ; bottom:0; display:block; cursor:nw-resize}
.IES_sheet .teacher_comment {float:left;}
.IES_sheet .teacher_comment a {background:url(/images/2009a/SBAIES/student/teachercomment.gif) 0 -27px no-repeat; color:#0c75a0; font-size:0.9em; padding-left:25px}
.IES_sheet .teacher_comment a.new {background-position: 0 0 }
.IES_sheet .teacher_comment a:hover {color:#ff0000}

.edit_bottom {font-size:0.9em; margin-top:10px;} /*dash line*/
.edit_bottom_main{ height:50px; padding:3px; margin-top:6px; display:block; clear:both; background:url(/images/2009a/SBAIES/student/paper_head.gif) repeat-x; text-align:center} /*blue stripe line*/
.edit_bottom_main span { float:left; clear:both; display:block; font-size:0.92em; color:#666666}



.edit_date {float:right; font-size:0.9em}
.object_edit_date {float:left; clear:both; display:block; font-size:0.85em; color:#666666}


/********* IES paper top btn ***************/
.IES_top_tool {float:right; padding-top:5px}
.IES_top_tool a {background:url(/images/2009a/SBAIES/student/IES_tools.gif) no-repeat; display:block; float:left; margin-left:6px; color:#065903; font-size:0.9em}
.IES_top_tool a:hover {color:#ff0000}
.IES_top_tool a.font_S {height:22px; width:13px; background-position: 0 -276px}
.IES_top_tool a:hover.font_S , .IES_top_tool a.font_S_current {height:22px; width:13px; background-position: 0 -299px}
.IES_top_tool a.font_L {height:22px; width:16px; background-position: 0 -324px}
.IES_top_tool a:hover.font_L , .IES_top_tool a.font_L_current {height:22px; width:16px; background-position: 0 -350px}
.IES_top_tool a.export {height:20px; padding:2px 0 0 21px; background-position:0 -221px}
.IES_top_tool a:hover.export { background-position:0 -251px}
.IES_top_tool a.print {height:20px; padding:2px 0 0 20px; background-position:0 -168px}
.IES_top_tool a:hover.print {background-position:0 -195px}
.IES_top_tool a.submission {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) 0 -315px no-repeat; padding-left:4px;cursor:pointer; color:#065903; margin-top:-5px}
.IES_top_tool a.submission span{background:url(/images/2009a/SBAIES/student/intro_board_btn.png) right -280px no-repeat; padding:4px 4px 0 0; height:22px; display:block;}
.IES_top_tool a:hover.submission {background-position:0 -385px}
.IES_top_tool a:hover.submission span{background-position: right -350px; color:#ffffff}

.IES_top_tool a.submission_disable {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) 0 -455px no-repeat; padding-left:4px; cursor:default; color:#afac56; margin-top:-5px;}
.IES_top_tool a.submission_disable span{background:url(/images/2009a/SBAIES/student/intro_board_btn.png) right -420px no-repeat; padding:4px 4px 0 0; height:22px; display:block;}

.IES_top_tool .v_line {height:20px; border-left:1px solid #cccccc; float:left; margin-left:8px; margin-right:2px}
/********* IES paper top btn end ***************/

/********* stage left btn ***************/
.stage_left_tool {float:left; margin:0}
.stage_left_tool a {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) no-repeat; display:block; float:left; margin-left:0; color:#2b8d00; font-size:1em; margin-top:-5px; cursor:pointer; padding-left:30px;}
.stage_left_tool a span {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) no-repeat; padding:4px 10px 0 0; height:22px; display:block}
.stage_left_tool a:hover span {color:#ffffff}
.stage_left_tool a.add 				{background-position:0 -990px;}
.stage_left_tool a.add span			{background-position:right -955px;}
.stage_left_tool a:hover.add 		{background-position:0 -1060px}
.stage_left_tool a:hover.add span	{background-position:right -1025px}

.stage_left_tool a.edit 			{background-position:0 -525px; margin-top:15px}
.stage_left_tool a.edit span		{background-position:right -490px;}
.stage_left_tool a:hover.edit 		{background-position:0 -595px}
.stage_left_tool a:hover.edit span	{background-position:right -560px}
/********* stage left btn end ***************/


/********* stage paper top btn ***************/
.stage_top_tool {float:right; padding-top:5px; margin:15px; margin-bottom:-30px;}
.stage_top_tool a {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) no-repeat; display:block; float:left; margin-left:6px; color:#2b8d00; font-size:1em; margin-top:-5px; cursor:pointer; padding-left:30px;}
.stage_top_tool a span {background:url(/images/2009a/SBAIES/student/intro_board_btn.png) no-repeat; padding:4px 10px 0 0; height:22px; display:block}
.stage_top_tool a:hover span {color:#ffffff}
.stage_top_tool a.edit 				{background-position:0 -525px;}
.stage_top_tool a.edit span			{background-position:right -490px;}
.stage_top_tool a:hover.edit 		{background-position:0 -595px}
.stage_top_tool a:hover.edit span	{background-position:right -560px}
.stage_top_tool a.delete 			{background-position:0 -710px;}
.stage_top_tool a.delete span		{background-position:right -490px;}
.stage_top_tool a:hover.delete 		{background-position:0 -780px}
.stage_top_tool a:hover.delete span	{background-position:right -745px}
.stage_top_tool a.move 				{background-position:0 -815px;}
.stage_top_tool a.move span			{background-position:right -490px;}
.stage_top_tool a:hover.move 		{background-position:0 -850px}
.stage_top_tool a:hover.move span	{background-position:right -560px}
.stage_top_tool a.add 				{background-position:0 -885px;}
.stage_top_tool a.add span			{background-position:right -490px;}
.stage_top_tool a:hover.add 		{background-position:0 -920px}
.stage_top_tool a:hover.add span	{background-position:right -560px}
.stage_top_tool a.add_step 				{background-position:0 -1095px;}
.stage_top_tool a.add_step span			{background-position:right -955px;}
.stage_top_tool a:hover.add_step 		{background-position:0 -1130px}
.stage_top_tool a:hover.add_step span	{background-position:right -560px}
.task_steps .stage_top_tool a.add_step 		 		{margin-right:-15px; margin-left:-20px}
.task_steps .stage_top_tool a.add_step span	 		{font-weight:normal; font-size:1em; color:#2b8d00}
.task_steps .stage_top_tool a.add_step:hover span	{color:#ffffff}
.task_steps .stage_top_tool a.add_step_min 		 	{background-position:0 -1095px; margin-right:-15px; display:block; height:26px; margin-left:0; margin-top:-3px}
.task_steps .stage_top_tool a.add_step_min:hover 	{background-position:left -1165px}
.stage1 .stage_top_tool, .stage2 .stage_top_tool, .stage3 .stage_top_tool, .stage4 .stage_top_tool, .stage5 .stage_top_tool {margin-bottom:-10px}
.task_box .stage_top_tool {margin-bottom:-10px; margin-top:-5px}
/********* stage paper top btn end ***************/

/********* pretend student top btn ***************/
.pretend_stu_tool {float:right; padding-top:5px;}
.pretend_stu_tool .below {display:block; float:left; margin-left:6px; font-size:1em; background:url(/images/2009a/SBAIES/student/intro_board_btn.png) 0 -670px no-repeat; padding-left:30px; color:#ffffff; margin-top:-15px}
.pretend_stu_tool .below span{background:url(/images/2009a/SBAIES/student/intro_board_btn.png) right -630px no-repeat; padding:5px 10px 0 0; height:25px; display:block}
/********* stage paper top btn end ***************/

a.edit_pen {background:url(/images/2009a/SBAIES/student/IES_tools.gif) 0 1px no-repeat; font-size:0.9em; color:#499c07; padding-left:20px}
a:hover.edit_pen {background-position: 0 -29px; color:#ff0000}
a.add_row {background:url(/images/2009a/SBAIES/student/IES_tools.gif) 0 -61px no-repeat; font-size:0.9em; color:#499c07; padding-left:15px; margin-right:10px}
a.delete_row {background:url(/images/2009a/icon_table_row_tool.gif) 0px -20px no-repeat; font-size:0.9em; color:#499c07; padding-left:15px; margin-right:10px}
a:hover.add_row{background-position: 0 -90px; color:#ff0000}

.s1 .marks_bg {padding:5px; background-color:#ffb7b3; color:#406F15}
.s2 .marks_bg {padding:5px; background-color:#ffe361; color:#406F15}
.s3 .marks_bg {padding:5px; background-color:#c1e66a; color:#406F15}
.s4 .marks_bg {padding:5px; background-color:#a8d9ff; color:#406F15}
.s5 .marks_bg {padding:5px; background-color:#c8bfff; color:#406F15}

/********* IES teacher comment ***************/
.IES_commentbox {background-color:#fff;  margin:13px 9px 8px 9px; padding:0; position:relative; border-left:1px solid #c9b1ff; border-right:1px solid #c9b1ff}
.IES_comment_entry {background-color:#ffffff; padding:0; }
.IES_comment_entry h5 {margin:0; padding:0}
.IES_comment_entry .stu_ans {background-color:#e9dfff; padding:5px 10px 5px 10px; border-top:1px solid #c9b1ff; border-bottom:1px solid #c9b1ff}
.IES_comment_entry .IES_comment {padding:10px 5px 5px 5px; background:#f5efff; border-bottom:1px solid #c9b1ff;}
.IES_comment_entry .IES_comment .rubrics_table {background:#ffffff}
.IES_comment_entry .update_record {font-size:0.85em; margin-top:5px}
.IES_comment_entry .IES_comment .update_record, .IES_worksheet .comment_list{background:url(/images/2009a/SBAIES/student/teachercomment.gif) 0 -25px no-repeat; padding-left:23px; float:left; clear:both}
.IES_comment_entry .IES_comment .new{background-position: 0 2px; float:left; clear:both}
.IES_inner_title {width:140px}

.IES_comment_entry .IES_mark {padding:10px 5px 5px 5px; background:#fee0ef; border-bottom:1px solid #c9b1ff}
.IES_comment_entry .IES_mark .update_record{float:left; clear:both}
.IES_comment_entry .IES_mark .comment_mark {float:left}
.IES_comment_entry .IES_mark .comment_mark span{background:url(/images/2009a/SBAIES/student/icon_mark_slash.png) no-repeat center bottom; color:#ff0000; font-size:0.95em; margin-left:5px; display:block; height:25px; float:right}

/********* IES teacher comment end ***************/

/********* 6 questions start ***************/
.IES_thickbox_bg {padding-top:50px; background: url(/images/2009a/SBAIES/student/six_w_black.png) repeat;}
.six_w_box , .narrow_range_box{margin:auto; width:780px; background-color:#fff; z-index:102}
.six_w_box .IES_tool_close , .narrow_range_box .IES_tool_close {position:relative; float:right; margin-top:-30px}
.six_w_box h2 , .narrow_range_box h2{margin:0; padding:10px 0; text-align:center; font-size:1.25em; font-weight:bold; background-color:#ffcc56}
.six_w_box .side_col {float:left; width:220px}
.five_box .side_col {float:left; width:30%}
.six_w_box .center_col {float:left; width:308px; height:280px; background: url(/images/2009a/SBAIES/student/six_w_bg.gif) center center no-repeat}
.six_w_list a{background:url(/images/2009a/SBAIES/student/six_w_list.png) right -34px no-repeat; line-height:34px; text-align:center; width:180px; display:block; color:#000000; cursor:pointer; padding-right:6px}
.six_w_list a span{background:url(/images/2009a/SBAIES/student/six_w_list.png) 0 0 no-repeat; line-height:34px; display:block;padding-left:6px}
.six_w_list a:hover#w_who , .six_w_list a.w_who_current{background-position: right -102px}
.six_w_list a:hover#w_who span  , .six_w_list a.w_who_current span{background-position: left -68px}
.six_w_list a:hover#w_where , .six_w_list a.w_where_current{background-position: right -170px}
.six_w_list a:hover#w_where span , .six_w_list a.w_where_current span{background-position: left -136px}
.six_w_list a:hover#w_why , .six_w_list a.w_why_current{background-position: right -238px}
.six_w_list a:hover#w_why span , .six_w_list a.w_why_current span{background-position: left -204px}
.six_w_list a:hover#w_what , .six_w_list a.w_what_current{background-position: right -306px}
.six_w_list a:hover#w_what span , .six_w_list a.w_what_current span{background-position: left -272px}
.six_w_list a:hover#w_when , .six_w_list a.w_when_current{background-position: right -374px}
.six_w_list a:hover#w_when span , .six_w_list a.w_when_current span{background-position: left -340px}
.six_w_list a:hover#w_how , .six_w_list a.w_how_current{background-position: right -442px}
.six_w_list a:hover#w_how span , .six_w_list a.w_how_current span{background-position: left -408px}
a.w_who_current , a.w_where_current, a.w_why_current, a.w_what_current, a.w_when_current, a.w_how_current{font-weight:bold}
/*
a:hover.six_w_list , .six_w_box .current {background-position: right -102px;color:#ff0000}
a:hover.six_w_list span , .six_w_box .current span{background-position: left -68px}*/

.six_w_box .current , .six_w_box .current span{color:#000000; font-weight:bold}
.six_w_bottom , .narrow_range_bottom{background:#ffefc9; padding:20px 15px 15px 15px; margin-top:10px; *margin-top:30px}
.six_w_talk {background:url(/images/2009a/SBAIES/student/six_w_detail.gif) right 15px no-repeat; float:left; width:50px; height:60px}
.six_w_detail {background-color:#ffffff; padding:10px; min-height:100px; width:480px; float:left}
/********* 6 questions end ***************/

/********* narrow_range start ***************/
.narrow_range_bottom{text-align:center; margin-top:20px; min-height:300px;  max-height:400px; overflow-y: auto}
.narrow_range_box h3 {text-align:center; font-size:1em; font-weight:normal}
.narrow_sample {float:left; width:24.9%; text-align:center}
.narrow_range_box .task_writing_bottom {border:none; background:#ffec96;}


.two_example .narrow_sample  {width: 50%}
.two_example .narrow_sample a {width: 370px}
.three_example .narrow_sample  {width: 33%}
.three_example .narrow_sample a {width:220px}
.five_example .narrow_sample  {width: 18%}
.five_example .narrow_sample a {width:100px}
.two_row .narrow_sample {width: 49%; margin-top:20px}
.two_row .narrow_sample a {width:340px}

.narrow_sample a{background:#ffefc9; line-height:34px; text-align:center; width:190px; display:block; color:#000000; cursor:pointer; margin-right:6px; margin: 0 auto}
.narrow_sample a span{ line-height:34px; display:block;margin-left:6px}
.narrow_sample a:hover#S0001 , .narrow_sample a.S0001_current{ background:#72dbe3}
.narrow_sample a:hover#S0001 span , .narrow_sample a.S0001_current span {}
.narrow_sample a:hover#S0002 , .narrow_sample a.S0002_current { background:#ffa8bb}
.narrow_sample a:hover#S0002 span , .narrow_sample a.S0002_current span  {}
.narrow_sample a:hover#S0003 , .narrow_sample a.S0003_current { background:#b7a1f9}
.narrow_sample a:hover#S0003 span , .narrow_sample a.S0003_current span  {}
.narrow_sample a:hover#S0004 , .narrow_sample a.S0004_current { background:#73e96c}
.narrow_sample a:hover#S0004 span , .narrow_sample a.S0004_current span  {}
.narrow_sample a:hover#S0005 , .narrow_sample a.S0005_current { background:#e381c9}
.narrow_sample a:hover#S0005 span , .narrow_sample a.S0005_current span  {}

.narrow_range_bottom .narrow_r {font-weight:bold;}
.narrow_range_bottom .narrow_q {font-size:0.85em; color:#666666}
.narrow_range_bottom a:hover .narrow_q {color:#ff0000}
a.S0001_current , a.S0002_current , a.S0003_current, a.S0004_current {font-weight:bold}
/********* narrow_range end ***************/

.wrong_eg span{color:red}
.right_eg span{color:green}
/********* IES submission page ***************/
.IES_submission {padding:5px 10px 10px 10px}
.IES_submission .submit_top {background:url(/images/2009a/SBAIES/student/submission_bg.png) right -63px no-repeat; padding-right:23px; height:53px}
.IES_submission .submit_top_inner {background:url(/images/2009a/SBAIES/student/submission_bg.png) 0 0 no-repeat; padding:15px 0 0 23px; height:38px}
.IES_submission .submit_left {background:url(/images/2009a/SBAIES/student/submission_bg_left.png) left repeat-y; padding-left:2px}
.IES_submission .submit_right {background:url(/images/2009a/SBAIES/student/submission_bg_right.png) right repeat-y; padding-right:2px}
.IES_submission .submit_inner {background-color:#ffffff; padding: 15px 23px 0 23px}
.IES_submission .submit_bottom {background:url(/images/2009a/SBAIES/student/submission_bg.png) right -160px no-repeat; padding-right:23px; height:24px}
.IES_submission .submit_bottom div {background:url(/images/2009a/SBAIES/student/submission_bg.png) 0 -126px no-repeat; height:24px}
.IES_submission .rubrics_table , .IES_submission .common_table_list{border:0}
.IES_submission_list {}
tr.IES_submission_list th{background-color:#e9e3a2; border:0; border-bottom:1px solid #d1cb7c; padding-left:10px; color:#000000}
tr.IES_submission_list td{background-color:#f6f4d2; border:0; border-bottom:6px solid #ffffff; padding-left:10px}
.IES_submission  .update_record {font-size:0.9em}

.IES_white_tab{display:block; text-align:right; height:35px;;float:right}
.IES_white_tab a{ height:25px;margin-right:5px; display:block; float:left;  padding-left:5px; background-image:url(/images/2009a/SBAIES/student/shareing_tab.gif); background-repeat: no-repeat; background-position: 0px 0px; color:#3452a6}
.IES_white_tab a span{ background-image:url(/images/2009a/SBAIES/student/shareing_tab.gif); background-repeat: no-repeat; background-position: right -25px; display:block;  padding-right:5px; height:25px; line-height:25px; cursor: hand}
.IES_white_tab a.share_tab_on{  background-position: left -50px; color:#000000; font-weight:bold}
.IES_white_tab a.share_tab_on span{ background-position: right -75px;}
.IES_white_tab a:hover{ background-position: left -50px; color:#FF0000}
.IES_white_tab a:hover span{ background-position: right -75px;}

.IES_file_list {padding:0 24px 4px 8px; margin-bottom:5px}
.IES_file_list span {float:left;width:100%}
.IES_file_list span a {background:url(../images/2007a/icon_attachment.gif) 0 0 no-repeat; padding:2px 0 5px 14px}
.IES_file_list a.deselect {background:url(/images/2009a/SBAIES/student/close.gif) 4px 1px no-repeat; height:14px; width:18px; display:block; position:relative; margin:3px -20px 0 0 ; float:right}
.IES_file_list a.deselect:hover {background-position: 4px -15px; height:14px; width:18px}

a.cancel_btn  {background:url(/images/2009a/SBAIES/student/close.gif) 4px 1px no-repeat; height:14px; width:18px; display:block; margin:3px -20px 0 0 ; float:left}
a:hover.cancel_btn  {background-position: 4px -15px; height:14px; width:18px}

.submission_upload {border-top:1px dashed #cccccc ; border-bottom:1px dashed #cccccc; padding:20px 0}
.IES_submission .new_record{width:300px; border:0}
.loading_file {color:#51A901}
.submission_manage_btn {text-align:center; padding-top:20px}
/********* IES submission page end ***************/

.standard_height{overflow-y:auto; height:380px}
.IES_lightbox .form_table a {color:#2286c5}
.IES_lightbox .form_table a:hover {color:#ff0000}
.IES_lightbox_bottom {background-color:#e4e4e4; text-align:center; padding:10px 0 10px 0; margin-top:10px}

.IES_form_table col.field_title {width:150px;}
.IES_form_table col.field_c {width:10px;}


.h-spacer {width:20px; display:block; float:right}
.faq_search {margin-top:-10px}
.clear {clear:both}
.vertcial_spacer {padding-top:65px; *padding-top:25px; display:block}


/*******************************
stage 0 class
*******************************/

.IES_footer {background-color:#3dbae5; padding:10px; text-align:right; color:#ffffff}
.IES_footer span{float:right;width:950px;display:block}

.student_stage0 {background-color:#6cdaee}
.student_stage0 .theme {background:url(/images/2009a/SBAIES/student/stage_index_bg.jpg) center top no-repeat; min-height:390px}
.student_stage0 .theme_desc {display:block; padding-left:155px; padding-right:70px}
.student_stage0 .SBA_IES_logo {background:url(/images/2009a/SBAIES/student/SBA_IES_logo.png) left top no-repeat; width:179px; height:52px; margin-left:-31px; margin-top:-53px; padding-bottom:100px; float:left}
.student_stage0 .theme_desc table td {padding-top:2px; padding-bottom:2px}
.student_stage0 .theme_desc .task_writing_bottom {background:none; border:none; border-top:dashed 1px #ccc; padding-bottom:0}
.student_stage0 .board_content .task_writing_bottom {background:none; border:none; border-top:dashed 1px #ccc; padding-bottom:0}
.student_stage0 .board_content .textbox_date {font-size:1em}

/*******************************
stage 1 class
*******************************/
.student_stage1 {background-color:#6cdaee;}
.student_stage1 .theme {background:url(/images/2009a/SBAIES/student/stage_main_bg.jpg) center top no-repeat;}
.student_stage1 .stage1_title {background:url(/images/2009a/SBAIES/student/paper_head.gif) left bottom repeat-x; padding:0px 0 20px 160px;}
.student_stage1 .SBA_IES_logo {background:url(/images/2009a/SBAIES/student/SBA_IES_logo.png) left top no-repeat; width:179px; height:52px; margin-left:-27px; margin-top:-125px; padding-bottom:100px;}

/**************************************************************/
table.IES_q_table th {background-color:#ffe25a; color:#676767; font-weight:bold}
table.IES_q_table td p{padding-bottom:0; margin-bottom:10px}
table.IES_q_table tr.btn_row td{background-color:#f1f1f1 ; text-align:center; padding:8px 0 8px 0; border-color:#d3d3d3}
span.sent {color:#006600; font-style:italic}
.selectAnsList a.remove_list {color:#FF0000}
.selectAnsList a.remove_list:hover {color:#990000}


/**************************************************************/
.sample_table { width:100%;
	margin:0px 0 0 0;
	border-collapse:separate;
	border-spacing: 0px;
 	*border-collapse: expression('separate', cellSpacing = '0px');}
.sample_table td { padding:2px; font-size:1.2em; vertical-align:top;}
.step_title { text-align:center; display:block; padding:4px; border-bottom: 1px solid #d4edff; font-weight:bold; color:#2983c2}
.step_box  { display:block; padding:4px; text-align: center; background:#d4edff; border:1px solid #CCCCCC}
.sample_title{ text-align:center; display:block; padding:4px; border-bottom: 1px solid #ff9649; font-weight:bold; color:#a97207}
.sample_box { display:block; padding:4px; text-align: center; background:#ff9649; border:1px solid #CCCCCC}
.step_arrow {  display:block; margin:0 auto; width:30px; height:30px;}
.step_arrow a{ background:url(/images/2009a/SBAIES/student/step_arrow.gif) no-repeat 0px 0px; display:block; width:30px; height:30px;}
.step_arrow a:hover{ background:url(/images/2009a/SBAIES/student/step_arrow.gif) no-repeat 0px -30px; display:block; width:30px; height:30px;}
.step_arrow_clicked {background:url(/images/2009a/SBAIES/student/step_arrow.gif) no-repeat 0px -60px;display:block; margin:0 auto; width:30px; height:30px;}
.step_arrow_clicked a{ display:none;}

.step_arrow_v {  display:block; margin:0 auto; width:30px; height:30px;}
.step_arrow_v a{ background:url(/images/2009a/SBAIES/student/step_arrow.gif) no-repeat 0px -90px; display:block; width:30px; height:30px;}
.step_arrow_v a:hover{ background:url(/images/2009a/SBAIES/student/step_arrow.gif) no-repeat 0px -120px; display:block; width:30px; height:30px;}
.step_arrow_v_clicked {background:url(/images/2009a/SBAIES/student/step_arrow.gif) no-repeat 0px -150px;display:block; margin:0 auto; width:30px; height:30px;}
.step_arrow_v_clicked a{ display:none;}
.method_board_sample{ border:1px dashed #CCCCCC; float:left; display:block; margin-right:20px; width:200px; margin-bottom:10px;}
.method_board{ display:block; }
.method_board h3{ margin:0; padding:0; font-size:1em; text-decoration:underline; text-align:center; font-weight:normal; line-height:25px; margin-bottom:10px; padding-top:5px;}
.method_board span{margin:0 auto; display:block; background:url(/images/2009a/SBAIES/student/method_step.png) no-repeat; height:50px; width:150px; text-align:center; font-size:1em; line-height:45px;}
.method_board span.m0001 { background-position:0px 0px;}
.method_board span.m0002 { background-position:0px -50px;}
.method_board span.m0003 { background-position:0px -100px;}
.method_board span.m0004 { background-position:0px -150px;}
.method_board span.m0004_eng { background-position:0px -200px; height:100px; line-height:20px; padding-top:15px;}
.sample_box_m0001 { display:block; padding:4px; text-align: center; background:#fbdb9c; border:1px solid #CCCCCC}
.sample_box_m0002 { display:block; padding:4px; text-align: center; background:#f7f49d; border:1px solid #CCCCCC}
.sample_box_m0003 { display:block; padding:4px; text-align: center; background:#c6ea8c; border:1px solid #CCCCCC}
.sample_box_m0004 { display:block; padding:4px; text-align: center; background:#e9e7e7; border:1px solid #CCCCCC}
.eg_title { display:block; float:left; padding:1px; background:#CCCCCC; clear:both; text-decoration:none}
/****************
please remove this if it cause any problem of layout
*****************/
form {margin:0}
span.green {color:#006600}
/****************
by System
*****************/
.common_table_list tr td.disabled {background-color:#F3F3F3}
.common_table_list tr td.noneed_approve {background-color:#F7FEEF}
.common_table_list tr td.need_approve {background-color:#FFE0E1}
a.view_step{background:url(/images/2009a/content_icon.gif) center -120px no-repeat; height:20px; width:20px; display:block;}

.check_list { display:block; float:left; clear:both; padding:5px;border:1px solid #759ceb; border-top-width:10px; background:#e2ebfe}
.check_list ul { display:block; padding:0px; margin:0px; list-style-type:none;} 
.check_list ul li { padding:3px; margin:0px; display:block; padding-left:20px; background:url(/images/2009a/SBAIES/student/icon_check_tick.gif) no-repeat top left; line-height:20px;  border-bottom:1px dashed #CCCCCC;}

/*For student/teacher icon*/
.text_stu {color:#004fc6}  
h4.icon_stu {background:url(/images/2009a/SBAIES/icon_student.png) no-repeat 5px #ffe25a; clear:both; padding:5px 5px 5px 35px; margin:0; font-weight:normal}  
h4.icon_stu_edit {background:url(/images/2009a/SBAIES/icon_student_edit.png) no-repeat 5px #ffe25a; clear:both; padding:5px 5px 5px 35px; margin:0; font-weight:normal}  
h4.icon_tea {background:url(/images/2009a/SBAIES/icon_teacher.png) no-repeat 5px #ffe25a; clear:both; padding:5px 5px 5px 35px; margin:0; font-weight:normal}
h4.icon_tea_edit {background:url(/images/2009a/SBAIES/icon_teacher_edit.png) no-repeat 5px #ffe25a; clear:both; padding:5px 5px 5px 35px; margin:0; font-weight:normal} 
h4 {background:#ffe25a; clear:both; padding:5px; margin:0; font-weight:normal; border-bottom:1px solid #dddddd; }  

h5 .icon_stu {background:url(/images/2009a/SBAIES/icon_student.png) no-repeat 0 -2px; padding-left:30px; height:25px}  
h5 .icon_stu_edit {background:url(/images/2009a/SBAIES/icon_student_edit.png) no-repeat 0 -2px; padding-left:30px; height:25px}  
h5 .icon_tea {background:url(/images/2009a/SBAIES/icon_teacher.png) no-repeat 0 -2px; padding-left:30px; height:25px}  
h5 .icon_tea_edit {background:url(/images/2009a/SBAIES/icon_teacher_edit.png) no-repeat 0 -2px; padding-left:30px; height:25px}  

/*For student/teacher icon*/
.IES_ans_box .icon_stu, .IES_ans_box .icon_stu th.icon_pos, .task_intro_box .icon_stu, .task_content .icon_stu th.icon_pos
{background-image:url(/images/2009a/SBAIES/icon_student.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:35px}
.IES_ans_box .icon_stu {color:#004fc6}
.IES_ans_box .icon_stu_edit, .IES_ans_box .icon_stu_edit th.icon_pos, .task_intro_box .icon_stu_edit, .task_content .icon_stu_edit th.icon_pos
{background-image:url(/images/2009a/SBAIES/icon_student_edit.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:35px}
.IES_ans_box .icon_stu_edit {color:#004fc6}
.IES_ans_box .icon_tea, .IES_ans_box .icon_tea th.icon_po, .task_intro_box .icon_tea, .task_content .icon_tea th.icon_pos
{background-image:url(/images/2009a/SBAIES/icon_teacher.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:35px;}
.IES_ans_box .icon_tea_edit, .IES_ans_box .icon_tea_edit th.icon_pos, .task_intro_box .icon_tea_edit, .task_content .icon_tea_edit th.icon_pos
{background-image:url(/images/2009a/SBAIES/icon_teacher_edit.png); background-repeat:no-repeat; background-position:5px 5px; padding-left:35px;}
.task_content .icon_stu th.icon_pos, .task_content .icon_stu_edit th.icon_pos, .task_content .icon_tea th.icon_pos, .task_content .icon_tea_edit th.icon_pos, .IES_ans_box .icon_stu th.icon_pos, .IES_ans_box .icon_stu_edit th.icon_pos, .IES_ans_box .icon_tea th.icon_pos, .IES_ans_box .icon_tea_edit th.icon_pos {background-position:5px 2px; padding-left:40px;}
.icon_stu .IES_q_table p, .icon_stu_edit .IES_q_table p, .icon_tea .IES_q_table p, .icon_tea_edit .IES_q_table p{color:#000}
.IES_ans_box h4.icon_stu_edit  {color:#000; background-position:5px}


/*Research Tools*/
.table_row_tool a.view_dim{ background-image: url(/images/2009a/SBAIES/ies_icon_table_row_tool.gif); background-repeat:no-repeat; background-position:-40px -20px; height:20px; width:20px; float:left; margin-right:2px; display:block; clear:none;}
.table_row_tool a.view_dim:hover{ background-position:0px -20px;}
.table_row_tool a.mail_dim{ background-image: url(/images/2009a/SBAIES/ies_icon_table_row_tool.gif); background-repeat:no-repeat; background-position:-40px -40px; height:20px; width:20px; float:left; margin-right:2px; display:block; clear:none;}
.table_row_tool a.mail_dim:hover{ background-position:0px -40px;}
.table_row_tool a.manage_dim{ background-image: url(/images/2009a/SBAIES/ies_icon_table_row_tool.gif); background-repeat:no-repeat; background-position:-40px 0px; height:20px; width:20px; float:left; margin-right:2px; display:block; clear:none;}
.table_row_tool a.manage_dim:hover{ background-position:0px 0px;}

/*Memo for Task*/
.writing_memo {}
.writing_memo .clip {background:url(/images/2009a/SBAIES/SBA_memo_clip.png) no-repeat; height:41px; width:21px; margin-top:-2px; position:relative; /*z-index:10;*/ float:right;margin-right:30px}
.writing_memo .top {background:url(/images/2009a/SBAIES/SBA_memo_top_01.png)  no-repeat; padding-left:30px; height:50px}
.writing_memo .top div{background:url(/images/2009a/SBAIES/SBA_memo_top_03.png)  right no-repeat; padding-right:30px; height:50px}
.writing_memo .top div div {background:url(/images/2009a/SBAIES/SBA_memo_top_02.png)  repeat-x; height:50px}
.writing_memo .bottom {background:url(/images/2009a/SBAIES/SBA_memo_bottom_01.png) no-repeat; padding-left:30px; height:50px}
.writing_memo .bottom div {background:url(/images/2009a/SBAIES/SBA_memo_bottom_03.png) right no-repeat; padding-right:30px; height:50px}
.writing_memo .bottom div div {background:url(/images/2009a/SBAIES/SBA_memo_bottom_02.png) bottom repeat-x; height:50px}
.writing_memo .left {background:url(/images/2009a/SBAIES/SBA_memo_left.png) repeat-y; padding-left:30px}
.writing_memo .right {background:url(/images/2009a/SBAIES/SBA_memo_right.png) repeat-y right; padding-right:30px}
.writing_memo .mid {background:url(/images/2009a/SBAIES/SBA_memo_line_top.gif) repeat-x #fcf0bc;  padding-top:3px; min-height:18px; line-height:23px; padding-top:11px}
.writing_memo .mid_text {display:block; background:url(/images/2009a/SBAIES/SBA_memo_line.gif) top; padding-left:12px; padding-right:5px; min-height:69px; }
.writing_memo .mid_text table{border: 1px solid black; width:100%; border-collapse:collapse;}
.writing_memo .mid_text td{border: 1px solid black;}
.writing_memo .mid_text th{border: 1px solid black;}
.writing_memo .task_writing_bottom {background:none; border:none; padding-bottom:0; height:0}
.writing_memo_btn {width:100%; clear:both; line-height:20px; padding-bottom:10px}


.IES_ans_box .writing_memo {color:#004fc6}
.writing_memo .icon_stu_edit {background:url(/images/2009a/SBAIES/icon_student_edit.png) no-repeat;height:27px;  position:relative; float:left; width:auto; color:#735900; font-weight:bold; padding-top:5px; margin-top:13px; margin-left:28px}
.writing_memo .icon_stu {background:url(/images/2009a/SBAIES/icon_student.png) no-repeat; height:27px;  position:relative; float:left; width:auto; color:#735900; font-weight:bold; padding-top:5px; margin-top:13px; margin-left:28px}

.writing_tools {float:left; margin:0; clear:both; margin-bottom:2px; margin-left:10px}
.writing_tools a {background:url(/images/2009a/SBAIES/student/tool_board_btn.png) no-repeat; display:block; float:left; color:#06629c; font-size:1em; cursor:pointer; padding-left:30px; margin-right:5px}
.writing_tools a span {background:url(/images/2009a/SBAIES/student/tool_board_btn.png) right 0 no-repeat; padding:5px 10px 0 0; height:28px; display:block}
.writing_tools a:hover span 			{color:#565656; background-position:right -36px;}
.writing_tools a.conceptmap 				{background-position:0 -72px;}
.writing_tools a.conceptmap:hover 			{background-position:0 -108px;}
.writing_tools a.question 				{background-position:0 -144px;}
.writing_tools a.question:hover 		{background-position:0 -180px;}
.writing_tools a.interview 				{background-position:0 -216px;}
.writing_tools a.interview:hover 		{background-position:0 -252px;}
.writing_tools a.field 					{background-position:0 -288px;}
.writing_tools a.field:hover 			{background-position:0 -324px;}
.writing_tools a.chart 					{background-position:0 -360px;}
.writing_tools a.chart:hover 			{background-position:0 -396px;}

.task_box {margin-bottom:15px}
.task_box .left {background:url(/images/2009a/SBAIES/SBA_task_left.png) no-repeat bottom left; padding-left:11px}
.task_box .right {background:url(/images/2009a/SBAIES/SBA_task_right.png) no-repeat bottom right; padding-right:12px}
.task_box .task_box_content {background:url(/images/2009a/SBAIES/editing_area_min_bg.gif) top repeat-x #e1ffd6; line-height:1.35em; border:1px solid #bcbbba; border-top:3px solid #76bf11; min-height:50px; padding:15px; color:#004c0e;}
.task_box .task_box_collapse {background:#e1ffd6; border:1px solid #e2e2e2; border-top:3px solid #aed579; height:10px; padding:0}

.task_box .bottom {background:url(/images/2009a/SBAIES/SBA_task_bottom_01.png) no-repeat; height:10px; padding-left:30px}
.task_box .bottom div {background:url(/images/2009a/SBAIES/SBA_task_bottom_03.png) no-repeat right; height:10px; padding-right:30px}
.task_box .bottom div div {background:url(/images/2009a/SBAIES/SBA_task_bottom_02.png) repeat-x; height:10px}
.task_box .task_box_step {background:url(/images/2009a/SBAIES/editing_area_min_bg.gif) top repeat-x #e1ffd6; line-height:1.35em; border:1px solid #bcbbba; border-top:1px solid #76bf11; min-height:50px;}
.task_box .task_box_step .task_writing_top {background:url(/images/2009a/SBAIES/student/task_writing_top_bg.gif) #76bf11 bottom repeat-x; padding-top:10px; margin-top:0px}

.task_box .task_box_step .writing_area {background-color:#e1ffd6; padding:5px; line-height:1.35em; position:relative; border:none}
.task_box .task_box_step .task_content {padding:5px 10px 5px 10px}
.task_box .task_box_step .task_writing_bottom {border-left:none; border-right:none; border-bottom:none;}
.task_box .task_box_step .stage_top_tool {margin-top:10px}

.task_box .attachments{font-size: 0.8em; padding: 5px; margin: 10px; background-color: #F1FFE6;}
.task_box .attachments .file_name{ margin-left: 10px;}
.task_box .attachments input{ margin-left: 10px; font-size: 0.8em; display:none;}
.task_box .attachments .delete_row{ display:none;}
.task_box .attachments.attachments_edit input, .task_box .attachments.attachments_edit .delete_row{display:inline;}

.task_menu { height:32px; margin-left:15px}
.task_menu a{text-decoration:none;	float:left;	margin:0; margin-right: 2px; margin-bottom:3px; padding:0 0 0 20px; background:url(/images/2009a/SBAIES/task_tab.png) left -100px no-repeat; color:#2f7510}
.task_menu a span{float:none; display:block; cursor: hand; padding: 11px 20px 6px 0px; background:url(/images/2009a/SBAIES/task_tab.png) right -150px no-repeat}
.task_menu a.current, .task_menu a:hover{background:url(/images/2009a/SBAIES/task_tab.png) left 0 no-repeat; color:#ffffff}
.task_menu a.current span, .task_menu a:hover span{background:url(/images/2009a/SBAIES/task_tab.png) right -50px no-repeat; padding: 8px 20px 9px 0px;}
.task_menu a.add span{padding-right: 10px}
.task_menu a.add span:hover{padding-right: 10px}
.task_menu img {border:none; padding-right:5px; vertical-align:middle}

.task_menu_tool {float:right; padding-top:5px; margin:15px; margin-bottom:-30px;margin-top:0}
.task_menu_tool a{background:url(/images/2009a/SBAIES/student/task_hideshow.gif) no-repeat left top; display:block; float:left; margin-left:6px; color:#2b8d00; font-size:1em; cursor:pointer; padding-left:20px;}
.task_menu_tool a span {background:none; height:18px; padding:2px 10px 0 0; display:block}
.task_menu_tool a:hover {display:block; float:left; margin-left:6px; color:#ff0000; font-size:1em; cursor:pointer; padding-left:20px;}
.task_menu_tool a:hover span {background:none; height:18px; padding:2px 10px 0 0; display:block}

.task_menu_tool a.collapse:hover {background:url(/images/2009a/SBAIES/student/task_hideshow.gif) no-repeat left -40px;}
.task_menu_tool a.expand {background:url(/images/2009a/SBAIES/student/task_hideshow.gif) no-repeat left -20px;}
.task_menu_tool a.expand:hover {background:url(/images/2009a/SBAIES/student/task_hideshow.gif) no-repeat left -60px;}
.task_menu_tool a.move {background:url(/images/2009a/SBAIES/student/task_hideshow.gif) no-repeat left -80px;}
.task_menu_tool a.move:hover {background:url(/images/2009a/SBAIES/student/task_hideshow.gif) no-repeat left -100px;}


/********** SYSTEM MSG **************/
/*.msg_board_left {position:relative; width:50%; margin-top:2px}*/

.msg_left {background:none; position:fixed; top:6px; left:35%; right:30%; z-index:99}
.msg_right {background:none; border: 2px solid transparent; -moz-border-radius: 2px 2px 2px 2px; padding: 0 7px; background: none repeat scroll 0 0 #cbf589; border-color: #c2e290; display:inline-block; line-height:20px; color:#1d7616; font-size:0.9em;}
.msg_right a{ float:none; font-size:0.85em; color:#00870a}
.msg_right a:hover{ text-decoration:underline}
.warning_box .msg_left {background:none}
.warning_box .msg_right {background:none; background:#eb4e4e; border-color: #dd3333; color:#FFFFFF}
.warning_box .msg_right a{color:#FFFFFF}
.warning_box .msg_right a:hover{text-decoration:underline}


.common_table_list tr th a.sort_asc {font-weight: bold; display:block; float:left; background-image:url(/images/2009a/SBAIES/icon_table_sort_tool.gif); background-repeat:no-repeat; background-position:right 0px; padding-left:0; padding-right:15px}
.common_table_list tr th a.sort_asc:hover {background-position:right -80px}

.common_table_list tr th a.sort_dec {font-weight: bold; display:block; float:left; background-image:url(/images/2009a/SBAIES/icon_table_sort_tool.gif); background-repeat:no-repeat; background-position:right -160px; padding-left:0; padding-right:15px}
.common_table_list tr th a.sort_dec:hover {background-position:right -240px}

.IES_sheet .navigation {font-size:0.85em; margin-bottom:8px;}
.IES_sheet .Conntent_tool a{color: #249401; padding-left:24px; margin-right:10px}
.IES_faq .faq_ans_hide {font-size:0.85em; color:#999999}
.IES_faq .faq_ans_hide a{color:#999999}
.IES_faq .faq_ans_hide a:hover{color:#FF0000}
.IES_faq .faq_attachments {font-size:0.85em}
.IES_faq .faq_attachments a{color:#0E5985}
.IES_faq .faq_attachments a:hover{color:#FF0000}