/* General Styles */
BODY {
	background-color: #99B7E9;
	SCROLLBAR-FACE-COLOR: #B9CFFF;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #5989F1;
	SCROLLBAR-3DLIGHT-COLOR: #5989F1;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #5989F1;
	SCROLLBAR-TRACK-COLOR: #CEE0F5;
}

BODY, P, TD, INPUT, TEXTAREA, SELECT {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; COLOR: black;
}

.textfield {font-size:10pt; font-family:verdana; color:#808080; font-weight:bold;}

.title, .small, .guide, .tableTitle, .tableContent1, .tableContent2, .tableContent3, .tableContent4,
.button, .buttonsmall, .selectedMark, .examtitle, .stdtitle, .stdtitle2,
.indextitle {
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	FONT-WEIGHT: normal;
}
.calendardate, .cal_holiday, .cal_today, .cal_day, .cal_dayHead, .tableHead, .selectedday, .numF, .numP, .symText {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Mingliu, Sans-Serif;
	FONT-WEIGHT: normal;
}

.symText {
	FONT-SIZE: 11px;
}

A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #0099CC;
}
A:visited {
	COLOR: #0099CC;
}
A:hover {
	COLOR: #FF9966;
}
A:active {
	COLOR: #0099CC;
}


.lnk2 {
	TEXT-DECORATION: none;
}
A.lnk2:link {
	COLOR: #AA55EE;
}
A.lnk2:visited {
	COLOR: #AA55EE;
}
A.lnk2:hover {
	COLOR: #305200;
}
A.lnk2:active {
	COLOR: #AA55EE;
}

.stdtitle {
	TEXT-DECORATION: none;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	COLOR: #111111;
}
A.stdtitle:link {
	COLOR: white;
}
A.stdtitle:visited {
	COLOR: white;
}
A.stdtitle:hover {
	COLOR: #305200;
}
A.stdtitle:active {
	COLOR: white;
}
.stdtitle2, .stdtitle3 {
	TEXT-DECORATION: none;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #111111;
}
.stdtitle3 {
	FONT-SIZE: 11px;
}

/* Special Text Styles */
.title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #334433;
}
.intro {
	COLOR: #777799;
}
.small {
	FONT-SIZE: 10px;
}
.guide {
	FONT-SIZE: 10px;
	COLOR: #777777;
}
.notice1, .notice2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: blue;
}
.notice2 {
	COLOR: red;
}
.past {
	COLOR: #888888;
}

.selectedMark {
	FONT-SIZE: 28px; COLOR: #BB77DD;
}
.selectedday {
	COLOR: #AA66FF;
}
.examtitle {
	FONT-SIZE: 18px; COLOR: black;
}
.numP {
	FONT-SIZE: 14px; COLOR: blue;
}
.numF {
	FONT-SIZE: 14px; COLOR: red;
}
.hFile {
	COLOR: #A4BBA9;
}

.indextitle, .lighttitle {
	COLOR: #FFFF00; FONT-WEIGHT: Bold; FONT-SIZE: 15px;
}
A.indextitle:link {
	COLOR: black;
}
A.indextitle:visited {
	COLOR: black;
}
A.indextitle:hover {
	COLOR: #559944;
}
A.indextitle:active {
	COLOR: black;
}

.lighttitle{
	FONT-SIZE: 14px;
}

/* Table Styles */
.tableTitle, .tableHead, .welcomebg {
	COLOR: White;
	FONT-WEIGHT: Bold;
	FONT-SIZE: 13px;
	/*BACKGROUND-COLOR: #339933;*/
}
A.tableTitle:link, A.tableHead:link {
	COLOR: White;
}
A.tableTitle:visited, A.tableHead:visited {
	COLOR: White;
}
A.tableTitle:hover, A.tableHead:hover {
	COLOR: #EEEEEE;
}
A.tableTitle:active, A.tableHead:active {
	COLOR: White;
}
.welcomebg {
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#96C9FF', endColorStr='#8699DF', gradientType='1');
	BACKGROUND-COLOR: #8699DF;
}
.tableHead {
	FONT-SIZE: 16px;
}

.tableContent1 {
	COLOR: black; BACKGROUND-COLOR: #E6F1FF;
}
.tableContent2 {
	COLOR: black; BACKGROUND-COLOR: #DCECFC;
}
.tableContent3 {
	COLOR: black; BACKGROUND-COLOR: #FBFBFB;
}
.tableContent4 {
	COLOR: black; BACKGROUND-COLOR: #EFEFEF;
}

/* calendar (fixed for all skins) */
.cal_day, A.cal_day:link, A.cal_day:visited, A.cal_day:active {
	COLOR: #223322;
}
.cal_today, A.cal_today:link, A.cal_today:visited, A.cal_today:active  {
	COLOR: #3333FF;
}
.cal_holiday, A.cal_holiday:link, A.cal_holiday:visited, A.cal_holiday:active  {
	COLOR: #FF3333;
}
A.cal_holiday:hover {
	COLOR: #FF9999;
}
A.cal_today:hover {
	COLOR: #9999FF;
}
A.cal_day:hover {
	COLOR: #667766;
}
.cal_dayHead {
COLOR: #112211;
}


/* Form Object Styles */
.formfield {
	BORDER-RIGHT: #D8E9C9 1px solid; BORDER-TOP: #93b865 2px solid;
	BORDER-LEFT: #93b865 2px solid; BORDER-BOTTOM: #D8E9C9 1px solid;
	BACKGROUND-COLOR: #FBFFFB;
}
.calendardate {
	BORDER-RIGHT: #0033FF 1px solid; BORDER-TOP: #0033FF 1px solid;
	BORDER-LEFT: #0033FF 1px solid; BORDER-BOTTOM: #0033FF 1px solid;
	BACKGROUND-COLOR: #FBFFFB;
}
.button {
	COLOR: #ffffff; BACKGROUND-COLOR: #6699FF;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4699DF', endColorStr='#76A9FF', gradientType='0');
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	BORDER-RIGHT: #00A3FF 1px solid; BORDER-TOP: #00A3FF 1px solid;
	BORDER-LEFT: #00A3FF 1px solid; BORDER-BOTTOM: #00A3FF 1px solid;
}
A:hover .button, A:active .button, A:hover .buttonSmall, A:active .buttonSmall {

	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#86B9FF', endColorStr='#4090D0', gradientType='0');

}
.buttonSmall {
	COLOR: #ffffff; BACKGROUND-COLOR: #6699FF;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3AAAEF', endColorStr='#6090E0', gradientType='0');
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	BORDER-RIGHT: #DFDFFF 1px solid; BORDER-TOP: #DFDFFF 1px solid;
	BORDER-LEFT: #DFDFFF 1px solid; BORDER-BOTTOM: #DFDFFF 1px solid;
}
.inputfield {
	FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	BORDER-RIGHT: #C4C9CA 1px solid; BORDER-TOP: #64687A 2px solid;
	BORDER-LEFT: #64687A 2px solid; BORDER-BOTTOM: #C4C9CA 1px solid;
	BACKGROUND-COLOR: white;
}
.inblank {
	FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	BORDER-RIGHT: white 0px solid; BORDER-TOP: white 0px solid;
	BORDER-LEFT: white 0px solid; BORDER-BOTTOM: black 1px solid;
	BACKGROUND-COLOR: white;
}
.buttonText {
	COLOR: black; BACKGROUND-COLOR: #EAEEFC;
	FONT-SIZE: 12px;
	BORDER-RIGHT: #EAEEFC 1px solid; BORDER-TOP: #EAEEFC 1px solid;
	BORDER-LEFT: #EAEEFC 1px solid; BORDER-BOTTOM: #EAEEFC 1px solid;
}
.timecounter {
	COLOR: black; BACKGROUND-COLOR: #F1F4FE;
	FONT-SIZE: 15px;
	FONT-WEIGHT: bold;
	BORDER-RIGHT: #F8FAFF 1px solid; BORDER-TOP: #F8FAFF 1px solid;
	BORDER-LEFT: #B7BED5 1px solid; BORDER-BOTTOM: #B7BED5 1px solid;
}

/* Special Colorful/Gradient Text Styles */
.gtitle0, .gtitle1, .gtitle2, .gtitle3, .gtitle4, .gtitle5, .gtitle6, .gtitle7, .gtitle8, .gtitle9,
.garrow0, .garrow1, .garrow2, .garrow3, .garrow4, .garrow9 {
	COLOR: #6666FF;
	FONT-FAMILY: Arial, Verdana, Helvetica, Mingliu, Sans-Serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
}
.gtitle2 { COLOR: #8080FF; }
.gtitle3 { COLOR: #9595FF; }
.gtitle4 { COLOR: #A6A6FF; }
.gtitle5 { COLOR: #B5B5FF; }
.gtitle6 { COLOR: #B9B9FF; }
.gtitle7 { COLOR: #BDBDFF; }
.gtitle8 { COLOR: #C1C1FF; }
.gtitle9 { COLOR: #D2D2FF; }

.garrow0 { COLOR: #D5E6FF; }
.garrow1 { COLOR: #BFD9FF; }
.garrow2 { COLOR: #AACCFF; }
.garrow3 { COLOR: #95BFFF; }
.garrow4 { COLOR: #80B3FF; }

.asterisk {
	COLOR: #FF9966;
}

/* background-colors from bright to dark */
.bodycolor {
	BACKGROUND-COLOR: #F4F6FC;
}
.bodycolor2 {
	BACKGROUND-COLOR: #F1F4FE;
}
.bodycolor3 {
	BACKGROUND-COLOR: #EAEEFC;
}
.bodycolor4 {
	BACKGROUND-COLOR: #E5EBFC;
}
.bodycolor5 {
	BACKGROUND-COLOR: #D4DDF9;
}
.bodycolor6 {
	BACKGROUND-COLOR: #C7D4F9;
}

/*pop-up windows colors */
.popcolor00, .popcolor01, .popcolor02, .popcolor03, .popcolor04, .popcolor05, .popcolor06, .popcolor07,
.popcolor08, .popcolor09, .popcolor10, .popcolor11, .popcolor12, .popcolor13, .popcolor14,
.popcolor15, .popcolor16, .popcolor17, .popcolor18, .popcolor19, .popcolor20, .popcolor21,
.popcolor22, .popcolor23{
	BACKGROUND-COLOR: #7FADFB;
	PADDING-RIGHT: 10px;
	TEXT-ALIGN: right;
	HEIGHT: 20px;
	FONT-WEIGHT: bold;
	COLOR: yellow;
}
.popcolor01 { BACKGROUND-COLOR: #87B3FE; }
.popcolor02 { BACKGROUND-COLOR: #8DB7FF; }
.popcolor03 { BACKGROUND-COLOR: #96BDFF; }
.popcolor04 { BACKGROUND-COLOR: #9DC1FF; }
.popcolor05 { BACKGROUND-COLOR: #A4C6FF; }
.popcolor06 { BACKGROUND-COLOR: #ACCBFF; }
.popcolor07 { BACKGROUND-COLOR: #B3CFFF; }
.popcolor08 { BACKGROUND-COLOR: #BBD4FF; }
.popcolor09 { BACKGROUND-COLOR: #C4DAFF; }
.popcolor10 { BACKGROUND-COLOR: #BBD4FF; }
.popcolor11 { BACKGROUND-COLOR: #B3CFFF; }
.popcolor12 { BACKGROUND-COLOR: #ACCBFF; }
.popcolor13 { BACKGROUND-COLOR: #A4C6FF; }
.popcolor14 { BACKGROUND-COLOR: #9DC1FF; }
.popcolor15 { BACKGROUND-COLOR: #96BDFF; }
.popcolor16 { BACKGROUND-COLOR: #8DB7FF; }



.tbclip {
	table-layout:fixed;
	border-collapse: collapse;
}
.tbclip td {
	padding: 2px 5px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}


.othercolor {
	BACKGROUND-COLOR: #82ACD3;
}
.tipbg {
	BACKGROUND-COLOR: #FFFFE7;
}
.tipborder {
	BACKGROUND-COLOR: #C0C0C0;
}
.tiphead {
	COLOR: white;
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #657F97;
}
.hrbar {
	COLOR: #8FA3E6;
}
.hrbarQue {
	COLOR: #DDDDDD;
	BORDER: dotted dashed;
}
.bordercolor {
	BACKGROUND-COLOR: #73a0d6;
}

.bordercolor2 {
	BACKGROUND-COLOR: #7aa3d6;
}
.bordercolor3 {
	BACKGROUND-COLOR: #84a9d6;
}
.white {
	BACKGROUND-COLOR: white;
}
.symbol {
	COLOR: orange;
}

.backpos {
    position: absolute;
    visibility: visible;
	top: 17px;
	left: 70px;
}
.frontpos {
    position: absolute;
    visibility: visible;
	top: 16px;
	left: 70px;
}