ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0 }

body, table, div, span {
	font-family: "Times New Roman", "新細明體", Arial, "Lucida Console", Sans-Serif;
	text-align: center;
}

div.container {
	margin: 0 auto;
	width: 680px;	/* 18cm */
}

.report_border {
	border: 1px solid #000000;
}
.border_top {
	border-top: 1px solid #000000;
}

.arial_text_pt9_5 {
	font-family: Arial, "Times New Roman", "新細明體", "Lucida Console", Sans-Serif;
	font-size: 13px;
}
.text_pt8 {
	font-size: 11px;
}
.text_pt9 {
	font-size: 12px;
}
.text_pt10 {
	font-size: 13px;
}
.text_pt10_5 {
	font-size: 14px;
}
.text_pt12 {
	font-size: 16px;
}
.text_pt18 {
	font-size: 24px;
}

.text_bold {
	font-weight: bold;
}