.CustCommon.CustTopHeader#blkTop
{
  height:75px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.CustCommon.CustTopHeader#blkTop .menu
{
  cursor:pointer;
  font-size: 16px;
  line-height: 1;
  height: 75px;
  padding: 0 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu;
  font-weight: normal;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
}

.CustCommon.CustTopHeader#blkTop .menu:last-child
{
  margin-right:0;
}

.CustCommon.CustTopHeader#blkTop .menu:hover
{
  background-color: white;
}

.CustCommon.CustTopHeader#blkTop .menu > *
{
  vertical-align: middle;
}

.CustCommon.CustTopHeader #blkRightMenu
{
  font-size:16px;
  float:right;
}

.CustCommon.CustTopHeader #blkRightMenu > ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.CustCommon.CustTopHeader #blkRightMenu > ul > *
{
  vertical-align: middle;
  display: inline-block;
  margin-left: 0px;
}

.CustCommon.CustTopHeader #blkRightMenu > ul > .divider
{
  height: 75px;
  width: 0;
  border-left: 1px solid #ddd;
}

.CustCommon.CustTopHeader #btnSetup
{
  color:#2f83e1;
}

.CustCommon.CustTopHeader #btnSetup::before
{
  display: inline-block;
  content:"\f013";
  height: 100%;
  margin-right:10px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  line-height: 75px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.CustCommon.CustTopHeader #btnUserMenu
{
  color:#808080;
}

.CustCommon.CustTopHeader #btnUserMenu #lblRole
{
  font-size: 14px;
  margin-bottom:4px;
}

.CustCommon.CustTopHeader #btnUserMenu:hover > span
{
  color:#2f83e1;
}

.CustCommon.CustTopHeader #btnUserMenu::before, .CustCommon.CustTopHeader #btnUserMenu::after
{
  display: inline-block;
  content:"";
  height: 100%;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  line-height: 75px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#808080;
  vertical-align: middle;
}

.CustCommon.CustTopHeader #btnUserMenu::before
{
  content:"\f2c0";
  margin-right: 10px;
}

.CustCommon.CustTopHeader #btnUserMenu::after
{
  content:"\f107";
  margin-left: 10px;
}

.CustCommon.CustTopHeader #blkUserSubMenu
{
  position:fixed;
  top:75px;
  right:0;
  text-align: left;
  min-width: 200px;
  white-space: nowrap;
  border:1px solid rgba(0,0,0,0.2) !important;/*Temp use*/
  display: none;/*Temp use*/
  /*
  border:1px solid rgba(0,0,0,0);
  transform: translateY(-1px);
  max-height: 0;
  overflow: hidden;*/
}

.CustCommon.CustTopHeader #blkUserSubMenu.expand
{
  /*transform: translateY(0);
  max-height: 200px;
  border-color:rgba(0,0,0,0.2);*/
  display: block; /*Temp use*/
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul
{
  margin:0;
  padding:0;
  list-style: none;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button
{
  display: block;
  cursor: pointer;
  padding:12px 20px;
  background: #fff;
  border-bottom:1px solid rgba(0,0,0,0.2);
  margin:0;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul a
{
  color:#808080 !important;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button:hover
{
  background-color:#eee;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button.lang_button
{
  display: inline-block;
  width:50%;
  text-align: center;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button.lang_button_current
{
  background-color:#2f83e1;
  color:white !important;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul .menu_button.lang_button_current a, /*For overwriting custom.css*/
.CustCommon.CustTopHeader #blkUserSubMenu > ul a.menu_button.lang_button_current
{
  color:white !important;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button.lang_button_current::before
{
  display: inline-block;
  content:"\f00c";
  margin-right: 10px;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button:last-child
{
  border-bottom:0;
}

.CustCommon.CustMainContent
{
  padding-top:75px;
}

.CustCommon.CustMainContent::before
{/*
  position:fixed;
  content: "";
  display: block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-image:url("../images/main_bg.png");
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;*/
}

.CustCommon.CustMainContent #blkTab
{
  /*background-color: rgba(255, 255, 255, 0.2);*/
  overflow: hidden;
  white-space:nowrap;
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 1;
  height:60px;
}

.CustCommon.CustMainContent #blkTab *
{
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
}


.CustCommon.CustMainContent #blkTab:before
{
  display: block;
  content: "";
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url("../images/main_bg.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.95;
  filter:brightness(1.1);
  -webkit-filter:brightness(1.1);
}

.CustCommon.CustMainContent #blkTab > div
{
  height:77px;
  overflow-x: scroll;
}

.CustCommon.CustMainContent #blkTab > div > ul
{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.CustCommon.CustMainContent #blkTab > div > ul li
{
  display:inline-block;
  margin-left:0;
  vertical-align: top;
}

.CustCommon.CustMainContent #blkTab::-webkit-scrollbar
{
  display: none;
}

.CustCommon.CustMainContent #blkTab a
{
  color:white;
  background: transparent;
}

.CustCommon.CustMainContent #blkTab span
{
  height:60px;
  padding:0px 25px;
  font-size:23px;
  line-height: 60px;
  color:white;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.CustCommon.CustMainContent #blkTab span:hover
{
  border-bottom: 4px solid rgba(255,255,255,0.3);
}

.CustCommon.CustMainContent #blkTab span.tab_current
{
  border-bottom:4px solid rgba(255, 255, 255, 0.5);
}

.CustCommon.CustMainContent #blkTab #blkApps
{
  position:absolute;
  right:0;
  top:0;
}

.CustCommon.CustMainContent #blkTab #blkApps span
{
  height: 60px;
  padding: 15px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-bottom: 0 !important;
}

.CustCommon.CustMainContent #blkTab #blkApps span:last-child
{
  margin-right: 10px;
}

.CustCommon.CustMainContent #blkTab #blkApps span img
{
  width:30px; height:30px;
  opacity:0.85;
  vertical-align: middle;
}

.CustCommon.CustMainContent #blkTab #blkApps span:hover img
{
  opacity: 1;
}

.CustCommon.CustMainContent #blkGoogleApps
{
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  outline: none;
  position: fixed;
  right: 10px;
  top: 135px;
  -webkit-animation: gb__a .2s;
  animation: gb__a .2s;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: text;
  z-index: 2;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.CustCommon.CustMainContent #blkGoogleApps *
{
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.CustCommon.CustMainContent #blkGoogleApps::before
{
  content: "";
  display: block;
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  right: 13px;
  z-index: 1;
  height: 0;
  width: 0;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0,0,0,.2);
  top: -8px;
}

.CustCommon.CustMainContent #blkGoogleApps::after
{
  content: "";
  display: block;
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  right: 13px;
  top: -8px;
  z-index: 1;
  height: 0;
  width: 0;
}

.CustCommon.CustMainContent #blkGoogleApps > ul
{
  display: block;
  background: #fff;
  margin: 0;
  min-height: 100px;
  padding: 28px;
  padding-right: 27px;
  text-align: left;
  white-space: normal;
  width: 320px;
}

.CustCommon.CustMainContent #blkGoogleApps > ul::after
{
  display: block;
  content: "";
  clear: both;
}

.CustCommon.CustMainContent #blkGoogleApps > ul li
{
  display: inline-block;
  float: left;
  width:86px;
  height: 98px;
  border:1px solid transparent;
  margin: 8px 1px;
  text-align: center;
  cursor: pointer;
}

.CustCommon.CustMainContent #blkGoogleApps > ul li a
{
  color:#000 !important;
}

.CustCommon.CustMainContent #blkGoogleApps > ul li:hover, .CustCommon.CustMainContent #blkGoogleApps > ul li:focus, .CustCommon.CustMainContent #blkGoogleApps > ul li:active
{
  border:1px solid #ddd;
  outline: none;
}

.CustCommon.CustMainContent #blkGoogleApps > a,.CustCommon.CustMainContent #blkGoogleApps > a:active,.CustCommon.CustMainContent #blkGoogleApps > a:visited
{
  display: block;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  width: 320px;
  background: #f5f5f5;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  color: #737373 !important;
  text-decoration: none;
}

.CustCommon.CustMainContent #blkGoogleApps > ul li > img
{
  width: 60px;
  margin:5px 0px;
}

.CustCommon.CustMainContent #blkGoogleApps > ul li > img + div
{
  line-height: 20px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustCommon.CustMainContent #blkTab + *
{
  margin-top:75px !important;
}

.CustCommon.CustMainContent .pageHeader
{
  padding:10px 20px;
  font-size: 18px;
  color:white;
  margin:15px auto;
  max-width: 1280px;
}

.CustCommon.CustMainContent .pageHeader > .backButton
{
  float:right;
}

.CustCommon.CustMainContent .pageHeader > .backButton::before
{
  display: inline-block;
  content:"\f104";
  margin-right:5px;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CustCommon.CustMainContent .pageHeader > .pageSubject
{
  overflow: hidden;
}

.CustCommon.CustMainContent #blkModuleContainer
{
  margin:15px auto;
  width:95%;
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
  width:calc(100% - 30px);
  max-width: 1280px;
  background-color: white;
}

.CustCommon.CustMainContent #blkModuleContainer.bgColor-1
{
  background-color:#cde9eb;
}

.CustCommon.CustMainContent #blkModuleContainer.bgColor-2
{
  background-color:transparent;
}

.CustCommon.CustMainContent #lbleClass
{
  margin-left: auto;
  margin-right: auto;
  width:95%;
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
  width:calc(100% - 30px);
  max-width: 1280px;
}

.CustCommon.CustMainContent #lbleClass #lblBL
{
  float:left;
}

.CustCommon .accordion #lblPart1, .accordion #lblPart2, .accordion #lblPart3
{
  float:left;
  background-color:#333;
  color:white;
  padding:0 20px;
  font-size: 30px;
}

.CustCommon .accordion #lblPart1::after, .accordion #lblPart2::after, .accordion #lblPart3::after
{
  display: block;
  content:"";
  position: absolute;
  top:0;
  left:100%;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 10px solid #333;
}

.CustCommon .accordion #lblPart1
{
  background-color:#f86d5e;
}

.CustCommon .accordion #lblPart1::after
{
  border-left-color: #f86d5e;
}

.CustCommon .accordion #lblPart2
{
  background-color:#fdb932;
}

.CustCommon .accordion #lblPart2::after
{
  border-left-color: #fdb932;
}

.CustCommon .accordion #lblPart3
{
  background-color:#109e01;
}

.CustCommon .accordion #lblPart3::after
{
  border-left-color: #109e01;
}

.CustCommon .portalIconsContainer1
{
  padding:15px 30px;
  max-width: 1024px;
  margin:0 auto;
}

.CustCommon .portalIconsContainer1 .portalIcon
{
  width:33.3333%;
}

.CustCommon .portalIconsContainer1 .portalIcon#btnAccount-Student
{
    /*width: 66.6666%;*/
}

.CustCommon .portalIconsContainer1 .portalIcon#btnAccount-Student .portalIcon_subInfo > div
{
    /*white-space: initial;*/
}

.CustCommon .portalIconsContainer2
{
  padding:15px 30px;
  margin:0 auto;
}

.CustCommon .portalIconsContainer2 .portalIcon
{
  width:50%;
  min-width: 250px;
}

.CustCommon .portalIconsContainer3
{
  padding:15px 30px;
  max-width: 640px;
  margin:0 auto;
}

.CustCommon .portalIconsContainer3 .portalIcon
{
  width:40%;
  min-width: 200px;
}

.CustCommon .portalIconsContainer3 .portalIcon:nth-child(2n-1)
{
    margin-right: 20%;
}

.CustCommon .portalIconsRow
{
  border-bottom: 1px solid #a8d5e1;
  padding:0 30px;
}

.CustCommon .portalIconsRow .portalIcon .portalIcon_img
{
  width:33px;
  height:33px;
  background-size: 33px 33px;
}

.CustCommon .portalIconsRow .portalIcon .portalIcon_text::after
{
  height:33px;
}

.CustCommon .portalIcon
{
  padding: 5px 1%;
  margin: 10px 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 1;
}

.CustCommon .portalIcon .portalIcon_img
{
  width:60px;
  height:60px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 100% 100%;
  background-color: #0b9cf8;
  float:left;
}

.CustCommon .portalIcon .portalIcon_text
{
  overflow: hidden;
  white-space:nowrap;
}

.CustCommon .portalIcon .portalIcon_text > span
{
  vertical-align: middle;
  width:100%;
}

.CustCommon .portalIcon .portalIcon_text::after
{
  content:"";
  display:inline-block;
  height:60px;
  width:0;
  vertical-align: middle;
}

.CustCommon .portalIcon .portalIcon_text a
{
  color:#000;
}

.CustCommon .portalIcon .portalIcon_text a:hover
{
  color: #2f83e1;
}

/*.CustCommon .portalIcon:hover .portalIcon_text > span > div:first-child,*/
.CustCommon .portalIcon .portalIcon_text > span > div:first-child.hover
{
  color: #2f83e1;
}

.CustCommon .portalIcon .portalIcon_subInfo
{
  color:rgba(0,0,0,0.5)
}

.CustCommon .portalIcon .portalIcon_data
{
  font-size:18px;
}

.CustCommon .portalIcon .addButton
{
  color:#2c89ef;
  font-size: 14px;
  line-height: 2;
  padding-right: 10px;
  margin: 5px 5px 0 0;
  display:inline-block;
}

.CustCommon .portalIcon .addButton:hover
{
  color: #666;
}

.CustCommon .portalIcon .addButton::before
{
  display: inline-block;
  content:"\f055";
  margin-right:5px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CustCommon #blkAppIconsHeader
{
  background-color:#cde9eb;
  color:#046a7e !important;
  height:40px;
  line-height: 40px;
  font-size: 14px;
  text-align: right;
  padding:0 10px;
}

.CustCommon #blkAppIconsHeader a
{
  color:inherit !important;
}

.CustCommon #btnAppSettings
{
  padding:0 5px;
}

.CustCommon #btnAppSettings::before
{
  display: inline-block;
  content:"\f013";
  margin-right:2px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CustCommon #btnAppSettings:hover
{
  color:#666 !important;
}

.CustCommon #tblApp td
{
  background-color: white;
  box-sizing: border-box;	-webkit-box-sizing: border-box;
}

.CustCommon #tblApp td:last-child
{
  width:410px;
}

.CustCommon #tblApp td#tblApp-divider
{
  width:15px;
  background: transparent;
}

.CustCommon #tblApp .portalIcon-eNotice, .CustCommon #tblApp .portalIcon-Message
{
  width:100%;
}

.CustCommon #tblApp .portalIcon .portalIcon_subInfo div:first-child
{
  float:left;
  font-size: 14px;
  line-height: 1.6;
  padding-right: 10px;
  margin: 5px 5px 0 0;
}

.CustCommon #tblApp .portalIcon .portalIcon_subInfo div:last-child
{
  overflow-x: hidden;
  white-space: initial;
}

.CustCommon #blkAppTab ul
{
  display:block;
  background-color:#cde9eb;
  color:#046a7e;
  height:40px;
  line-height: 40px;
  font-size: 14px;
}

.CustCommon #blkAppTab ul li
{
  display:inline-block;
  padding:0 10px;
  list-style: none;
  margin:0;
  cursor:pointer;
}

.CustCommon #blkAppTab ul li a
{
  color:inherit !important;
}

.CustCommon #blkAppTab ul li:hover a
{
  color:#666 !important;
}

.CustCommon #blkAppTab ul li:focus, #blkAppTab ul li a:focus
{
  outline:none;
}

.CustCommon #blkAppTab ul li.active
{
  background-color: white;
  color:#333;
  padding:0 15px;
}

.CustCommon #tblAppSettings tbody tr
{
  border-bottom: 1px solid #bde0ea;
}

.CustCommon #tblAppSettings tbody tr td.accordion
{
  display: none;
}


.CustCommon #tblAppSettings tbody tr td
{
  padding:0px 2%;
  vertical-align: middle;
}

.CustCommon #tblAppSettings tbody tr td:last-child
{
  background-color: #cde9eb;
  width:70%;
  padding:0;
}

.CustCommon #tblAppSettings tbody tr td:last-child > div
{
  padding: 5px 2%;
}

.CustCommon #tblAppSettings .portalIcon
{
  cursor: default;
}

.CustCommon #tblAppSettings .portalIcon .portalIcon_text > span > div.hover
{
  color:inherit;
}

.CustCommon #tblAppSettings .portalIcon .portalIcon_img
{
  width:33px;
  height:33px;
  background-size: 33px 33px;
}

.CustCommon #tblAppSettings .portalIcon .portalIcon_text::after
{
  height:33px;
}

.CustCommon #tblAppSettings .appSettings-buttons
{
  color:#0079d6;
  padding: 6px 10px;
  border-right: 1px solid #bde0ea;
  font-size: 14px;
  cursor:pointer;
  margin: 4px 0;
}

.CustCommon #tblAppSettings .appSettings-buttons:last-child
{
  border-right:0;
}

.CustCommon #tblAppSettings .appSettings-buttons:hover
{
  color:#666;
}

@media screen and (max-width: 767px)
{
  .CustCommon.CustTopHeader #btnSetup > span, .CustCommon.CustTopHeader #btnUserMenu > span, .CustCommon.CustTopHeader #btnUserMenu:after /* Hide Text */
  {
    display:none
  }

  .CustCommon #btnSetup:before, .CustCommon #btnUserMenu:before
  {
    margin-left: 10px
  }

  .CustCommon .portalIconsContainer1 .portalIcon
  {
    width:50%;
    margin:8px 0;
  }

  .CustCommon .portalIconsRow
  {
    padding:0 3%;
  }

  .CustCommon #tblApp, .CustCommon #tblApp tbody, .CustCommon #tblApp tr, .CustCommon #tblApp td
  {
    display: block;
  }

  .CustCommon #tblApp td:last-child
  {
    width:100%;
  }

  .CustCommon #tblApp td#tblApp-divider
  {
    width:100%;
    height:15px;
  }

  .CustCommon #tblAppSettings, .CustCommon #tblAppSettings tbody, .CustCommon #tblAppSettings tr, .CustCommon #tblAppSettings td
  {
    display: block;
  }

  .CustCommon #tblAppSettings tbody tr
  {
    border-bottom: 0;
  }

  .CustCommon #tblAppSettings tbody tr td:first-child
  {
    display: none;
  }

  .CustCommon #tblAppSettings tbody tr td:last-child
  {
    width:100%;
  }

  .CustCommon #tblAppSettings tbody tr td:last-child > div
  {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    padding-left: calc(2% + 43px);
  }

  .CustCommon #tblAppSettings tbody tr td.accordion
  {
    display: block;
    padding-right: 0;
  }
}

@media screen and (max-width: 550px)
{
  .CustCommon.CustMainContent #blkTab #blkApps
  {
    position: relative;
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px)
{
  .CustCommon.CustTopHeader #blkUserSubMenu
  {
    left:0;
  }

  .CustCommon .portalIcon
  {
    width:100% !important;
    margin:6px 0 !important;
  }

  .CustCommon #tblAppSettings .accordion .portalIcon
  {
    width:auto !important;
  }
}
