@import url("/templates/html_editor/editor/css/fck_editorarea.css");

span.highlight_red {background: #ffcccc; border:1px solid #ff6161 } //remark_highlight_icon_01.png
span.highlight_red p {background: #ffcccc; }
span.highlight_orange {background: #ffd76d; border:1px solid #eb7f00 } //remark_highlight_icon_02.png
span.highlight_orange p {background: #ffd76d; }
span.highlight_yellow {background: #feff61; border:1px solid #eab80a } //remark_highlight_icon_03.png
span.highlight_yellow p {background: #feff61; }
span.highlight_lightgreen {background: #cbff5b; border:1px solid #85c105 } //remark_highlight_icon_04.png
span.highlight_lightgreen p {background: #cbff5b; }
span.highlight_green {background: #a7efa1; border:1px solid #29b71d } //remark_highlight_icon_05.png
span.highlight_green p {background: #a7efa1; }
span.highlight_lightblue {background: #b1fff5; border:1px solid #11d1d3 } //remark_highlight_icon_06.png
span.highlight_lightblue p {background: #b1fff5; }
span.highlight_blue {background: #ade3ff; border:1px solid #3ba8e1 } //remark_highlight_icon_07.png
span.highlight_blue p {background: #ade3ff; }
span.highlight_darkblue {background: #b6ccff; border:1px solid #578cff } //remark_highlight_icon_08.png
span.highlight_darkblue p {background: #b6ccff; }
span.highlight_purple{background: #e0bfff; border:1px solid #b76bff } //remark_highlight_icon_09.png
span.highlight_purple p {background: #e0bfff; }
span.highlight_pink {background: #ffbded; border:1px solid #ff63d4 } //remark_highlight_icon_10.png
span.highlight_pink p {background: #ffbded; }

