@charset "utf-8";
/* CSS Document */
body {background-color: #95d632;	background-image: url(../../../../images/2009a/w2/Resource/190_writing20/newtheme/bg_camp.jpg); background-position:middle top}
body#bgmain {background-color: #95d632;	background-image: url(../../../../images/2009a/w2/Resource/190_writing20/newtheme/bg_camp_main.jpg); background-position:middle top; overflow-x:hidden} /*20140122*/
#user_name_tool {color: #ffffff; }
#user_name_tool span.st		{ color:#999999;}
#user_name_tool a	{	 background-image: url(../../../../images/2009a/w2/top/user_name_tool_white.gif);}
#topmenu_main ul li a span{ color:#9e0f65;  }
#topmenu_main ul li a span u{color:#FF0000;	}
#topmenu_main ul li a:hover span{	color:#FF0000;	 }
#topmenu_main ul li a:hover span u{	color:#ff5e5e;}
#topmenu_main ul li.current a span {	color:#000000;}
#topmenu_main ul li.current a span u {	color:#429207;	}
#topright_main a span{   background-image: url(../../../../images/2009a/w2/top/user_name_tool_white.gif)};
#topmenu_setting ul li a span{color:#9e0f65;} /*menu setting link color*/
#topmenu_setting ul li a:hover span{	color:#FF0000;} /*menu setting link mouseover color*/
#topmenu_setting ul li.current a span {	color:#000000;} /*menu setting link selected color*/

#navigator a{	color:#9e0f65;	background-image:url(../../../../images/2009a/w2/btn_natvigator_dark.gif);}
#navigator span{	color:#000000;	background-image:url(../../../../images/2009a/w2/btn_natvigator_dark.gif);}
#class_title{	color:#ffffff;}