h1.ex_name {font-size:1.3em; color:#000; text-shadow:#487204 1px 1px 2px; margin-top:15px}
table.common_table_list thead tr th a{background:none; font-family:Georgia; color:#fff; font-size:12px}
table.common_table_list thead tr th, table.common_table_list thead tr th a, table.common_table_list thead tr th a.sort_asc, table.common_table_list thead tr th a.sort_dec {color:#fff; font-family:Georgia; font-size:12px; background:none;}

@media print 
{
    .print_hide, #copyright, #copyright3
    {
        display:none;
    }
    
}