html, body {height:100%;}
body {font-family: '微軟正黑體', '新細明體', sans-serif; font-size: 26px;}
a {color:#333;}
.container {margin:0 auto; padding:0; width:100vw; min-width:767px; height:100vh; overflow-y:auto; overflow-x:hidden; position:absolute;}
.container>div {padding:0px;}
.center-area {text-align:left;}
.center-area img {pointer-events:none;}

/*Scroll bar*/
::-webkit-scrollbar {width: 5px; height:5px;}
::-webkit-scrollbar-track {background: #9FD3D1; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #02827a; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #015C56;}
::-webkit-scrollbar-thumb:active {background: #015C56; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}

/* ---------------- BACKGROUND ---------------- */
.bgcloud {width:100vw; height:100vh; position:absolute; overflow:hidden; background:#a5e3f8;}
.bgcloud .cloud_con {position:absolute; left:0px; top:0px;}
.bgcloud .cloud_con img {width:100%;}
.bgcloud .cloud_con.size-1 {width:100px;}
.bgcloud .cloud_con.size-2 {width:130px;}
.bgcloud .cloud_con.size-3 {width:150px;}
.bgcloud .cloud_con.size-4 {width:170px;}
.bgcloud .cloud_con.size-5 {width:250px;}
.bgcloud .cloud_con.size-6 {width:300px;}
.bgcloud .cloud_con.size-X {width:120%;}
.bgcloud.teacher {background:#36B8B9;}

/* ---------------- DROPDOWN ---------------- */
.content-area {position:relative;}
.content-area .selection-area {text-align:center; margin-top:120px;}
.content-area .filter-area {text-align:right; margin:15px 15px 0 0;}
.content-area .dropdown-con {font-weight:bold; vertical-align:top;}
.content-area .dropdown-con+.dropdown-con {margin-left:20px;}
.content-area .dropdown-con .dropdown {font-weight:normal; font-size:0.8em;}
.content-area .dropdown-con .dropdown .dropdown-toggle .glyphicon {padding-left:20px; color:#37c120;
float:right; margin-top:6px;}
.content-area .dropdown-con .dropdown .dropdown-toggle {background:#FFF; border-radius:5px;
padding:5px 12px; color:#555; text-decoration:none; box-shadow: inset 0px 2px 4px 0px #AAA; display:inline-block;
max-width:300px; min-width:120px; text-align:left; vertical-align:top;}
.content-area .selection-area .dropdown-con .dropdown .dropdown-toggle {min-width:200px;}
.content-area .dropdown-con .dropdown .dropdown-menu {background:#fff; background-image:none;
font-size:0.8em;}
.content-area .dropdown-con .dropdown .dropdown-menu li {}
.content-area .dropdown-con .dropdown .dropdown-menu li a {max-width:280px; overflow:hidden; white-space:pre-wrap;}
.content-area .dropdown-con .dropdown .dropdown-menu li a:hover {background:#EEE; background-image:none;}

/* ---------------- SUBJECT BUTTON ---------------- */
.content-area .subject-button-area {text-align:center; margin-top:100px; margin-bottom:80px;}
.content-area .subject-button-area .subject-button {width:100px; display:inline-block; position:relative;}
.content-area .subject-button-area .subject-button:active {top:2px;}
.content-area .subject-button-area .subject-button+.subject-button {margin-left:30px;}
.content-area .subject-button-area .subject-button img {width:100%;}

/* ---------------- TITLE ---------------- */
.content-area .title-area {text-align:center; margin-top:65px;}
.content-area .title-area .base-green {height:65px; margin:0 -15px;}
.content-area .title-area .base-green>div {display:inline-block; width:44px; height:65px; vertical-align:top;}
.content-area .title-area .base-green .head-left {background:url(../../../../images/2009a/reportcard_kindergarten/title_green_l.png);}
.content-area .title-area .base-green .head-right {background:url(../../../../images/2009a/reportcard_kindergarten/title_green_r.png);}
.content-area .title-area .base-green .head-left .pin {position:relative; width:23px; height:23px;
background:url(../../../../images/2009a/reportcard_kindergarten/title_green_pin_l.png); left:20px; top:23px;}
.content-area .title-area .base-green .head-right .pin {position:relative; width:23px; height:23px;
background:url(../../../../images/2009a/reportcard_kindergarten/title_green_pin_r.png); left:5px; top:23px;}
.content-area .title-area .base-green .body {width:auto; height:100%;
background:url(../../../../images/2009a/reportcard_kindergarten/title_green_c.png);}
.content-area .title-area .base-green .body>div {vertical-align:top;}
.content-area .title-area .base-green .body .group-name {display:inline-block; min-width:117px; max-width:17vw;
height:65px; text-align:center; margin-top:3px; padding-left:15px;}
@media(min-width:1198px) { .content-area .title-area .base-green .body .group-name {max-width:14vw;} }
@media(max-width:767px) { .content-area .title-area .base-green .body .group-name {max-width:inherit; min-width:inherit; width:117px;} }
.content-area .title-area .base-green .body .group-name>div {display:table-cell; vertical-align:middle;
height:inherit; line-height:1em; color:#3f6d12;}
.content-area .title-area .base-green .body .title-set {display:inline-block; width:431px; height:130px;
background:url(../../../../images/2009a/reportcard_kindergarten/title_center.png); position:relative; top:-64px; margin-right:-40px;}
.content-area .title-area .base-green .body .title-set .fix-height-con {height:65px; position:relative;}
.content-area .title-area .base-green .body .title-set .up {position:absolute; width:370px; color:#8a4d17;
font-size:1.7em; top:9px;}
.content-area .title-area .base-green .body .title-set .down {position:absolute; width:400px; top:72px;
font-size:1.2em; color:#299317;}
.content-area .title-area .base-green .body .date {display:inline-block; font-size:0.9em; line-height:3em;
padding-right:10px; color:#3f6d11;}

/* ---------------- PHOTO AREA ---------------- */
.content-area .photo-area {list-style-type:none; padding:0; margin:0; text-align:center;}
.content-area .photo-area .photo-con {position:relative; width:170px; margin:42px 10px 0 10px; display:inline-block; text-align:left;}
.content-area .photo-area .photo-con img {width:100%;}
.content-area .photo-area .photo-con .bg {width:100%;}
.content-area .photo-area .photo-con .photo {width:calc(100% - 20px); height:74%; position:absolute; left:11px; top:10px;}
.content-area .photo-area .photo-con .photo img {width:auto; height:auto; max-width:100%; max-height:100%;
position:absolute; bottom:0px;}
.content-area .photo-area .photo-con .bg-up {width:50%; position:absolute; left:25%; top:-22px;}
.content-area .photo-area .photo-con .ss-name {position:absolute; left:10px; bottom:3%; width:calc(100% - 18px);
text-align:center;}

.content-area .photo-area.single .photo-con {margin:15px 10px 0 10px; width:200px;}
.content-area .photo-area.single .photo-con .bg-up {display:none;}
.content-area .photo-area.single .photo-con .ss-name {font-size:1em;}

.content-area .photo-area.teacher .photo-con {width:130px;}
.content-area .photo-area.teacher .photo-con .ss-name {font-size:0.8em;}

.content-area .photo-area .tool-con {position:relative; width:230px; height:230px; background:#FFF;
box-shadow:0px 2px 5px #999; box-shadow:inset 0px 0px 7px #AAA;
margin:20px 10px 0 10px; display:inline-block; text-align:left;}
.content-area .photo-area .tool-con .photo {width:calc(100% - 16px); height:100%; position:absolute; left:8px; top:8px;}
.content-area .photo-area .tool-con .photo img {width:auto; height:auto; max-width:100%; max-height:100%;}
.content-area .photo-area .tool-con .check-box {position:absolute; right:12px; bottom:12px;
-webkit-transform-origin:100% 100%;
transform-origin:100% 100%;
-webkit-transform:scale(0.4, 0.4);
transform:scale(0.4, 0.4);}
.content-area .photo-area .tool-con .check-box .check-btn {border:0; background:none; outline:0; padding:0;}
.content-area .photo-area .tool-con .check-box .check-btn>div{
width:163px; height:163px; background:url(../../../../images/2009a/reportcard_kindergarten/btn_checkbox.png);}
.content-area .photo-area .tool-con .check-box .check-btn.checked>div{
width:163px; height:163px; background:url(../../../../images/2009a/reportcard_kindergarten/btn_checkbox_o.png);}

/* ---------------- MARKING ~ PHOTO ---------------- */
.content-area .marking-area {width:767px; text-align:center; margin:0 auto;}
.content-area .marking-area .photo-area {width:150px; display:inline-block; margin:0;
vertical-align:top;}
.content-area .marking-area .tool-area {width:calc(100% - 150px); display:inline-block;
margin:0; vertical-align:top; list-style-type:none; margin:0; padding:0;}
.content-area .marking-area .tool-area .tool-con {width:calc(100% / 3 - 10px); display:inline-block;
text-align:center; vertical-align:top; margin-top:20px;}
.content-area .marking-area .tool-area .tool-con+.tool-con {margin-left:12px;}
.content-area .marking-area .tool-area .tool-con .photo {}
.content-area .marking-area .tool-area .tool-con .photo img {width:100%;}
.content-area .marking-area .tool-area .tool-con .name-area {background:#EEE; font-size:0.8em;}
.star-area {background:rgba(255,255,255,.5);}
.star-area .star-list {list-style-type:none; width:100%; height:50px; padding:3px 4px 0 0; margin:0;}
.star-area .star-list .star-obj {width:auto; height:37px; cursor:pointer; display:inline-block; float:right;
position:relative;}
.star-area .star-list .star-obj>div {height:100%; cursor:pointer; position:relative;}
/*.star-area .star-list .star-obj>div.star-y {position:absolute; left:0px; top:0px;}*/
.star-area .star-list .star-obj>div img {height:100%;}
/*.star-area .star-list .star-obj>.star-y {opacity:0;}*/
/*.star-area .star-list .star-obj.selected>.star-y,*/
/*.star-area .star-list .star-obj.selected~.star-obj>.star-y,*/
/*.star-area .star-list .star-obj:hover>.star-y,*/
/*.star-area .star-list .star-obj:hover~.star-obj>.star-y,*/
/*.star-area .star-list .star-obj:focus>.star-y,*/
/*.star-area .star-list .star-obj:focus~.star-obj>.star-y,*/
/*.star-area .star-list .star-obj:active>.star-y,*/
/*.star-area .star-list .star-obj:active~.star-obj>.star-y {opacity:1;}*/

/* ---------------- BUTTON ---------------- */
.content-area .btn-area {text-align:center; margin-top:30px; margin-bottom:30px;}
.g-btn {height:80px; display:inline-block; position:relative;}
.g-btn:active {top:2px;}
.g-btn+.g-btn {margin-left:20px;}
.g-btn img {height:100%;}

/* ---------------- TEACHER LOGIN ---------------- */
.content-area .login-area {width:700px; margin:50px auto; position:relative;}
.content-area .login-area .bg {width:100%;}
.content-area .login-area .bg img {width:100%;}
.content-area .login-area .selection-area {position:absolute; top:135px; margin:0; text-align:center; width:100%;}
.content-area .login-area .selection-area .dropdown-con {display:block; margin:30px 0 0 0; color:#765219;}
.content-area .login-area .selection-area .dropdown-con .dropdown-toggle {min-width:inherit; max-width:inherit; width:290px;}
.content-area .login-area .btn-area {position:absolute; top:295px; margin:0; text-align:center; width:100%;}
