.13White
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體";
	font-size: 13px;
	color: #ffffff;
}
.13Brown, .16Brown
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體";
	font-size: 13px;
	color: #814529;
}
.16Brown
{
	font-size: 16px;
	font-weight: bold;
}


.Content
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體";
	font-size: 12px;
	color: #000000;
}
.13Green
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體";
	font-size: 13px;
	color: #35401C;
}


.15Green
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體";
	font-size: 15px;
	color: #35401C;
	font-weight: bold;
}



A.link-submenu{
	font-family: "Verdana", "Arial", "Helvetica", "新細明體", "Sans-Serif";
	font-size: 13px;
	color: #ffffff;
	TEXT-DECORATION: none;	
}

A.link-submenu:link {
	COLOR: #ffffff;	
}
A.link-submenu:visited {
	COLOR: #ffffff;
}
A.link-submenu:hover {
	COLOR: #F0FF01;
	TEXT-DECORATION:underline;
}


A.link-title{
	font-family: "Verdana", "Arial", "Helvetica", "新細明體", "Sans-Serif";
	font-size: 13px;
	color: #0655B8;
	TEXT-DECORATION: none;	
}

A.link-title:link {
	COLOR: #0655B8;
	
}
A.link-title:visited {
	COLOR: #0655B8;
}
A.link-title:hover {
	COLOR: #E86302;
	TEXT-DECORATION:underline;

}

A.link-subpage{
	font-family: "Verdana", "Arial", "Helvetica", "新細明體", "Sans-Serif";
	font-size: 13px;
	color: #5E8316;
	TEXT-DECORATION: none;	
}

A.link-subpage:link {
	COLOR: #5E8316;
	
}
A.link-subpage:visited {
	COLOR: #5E8316;
}
A.link-subpage:hover {
	COLOR: #E86302;
	TEXT-DECORATION:underline;

}