body, p, td, input, textarea, select
{ 
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; 
	font-size: 9pt;
}

body, p, td { color: #000000; }
input, textarea, select { color: #000000; }
td { vertical-align: top; }
a {	text-decoration:underline; }
a:link { color: #000000; }
a:visited { color: #003366; }
a:hover { color: #FF6600; }
a:active { color: #339999; }

.title 
{ 
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; 
	font-size: 11pt; 
	font-weight: normal; 
}

.small
{ 
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; 
	font-size: 8pt; 
	font-weight: normal; 
}

.tableTitle, .tableContent
{ 
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; 
	font-size: 9pt;
	font-weight: normal;
}

.tableTitle { color: #FFFFFF; background-color: #999999; }
a.tableTitle:link { color : #FFFFFF;}
a.tableTitle:visited { color : #003366;}
a.tableTitle:hover { color : #FFCC00;}
a.tableTitle:active { color : #CCCCC;}

.tableContent { color: #666666; background-color: #CCCCCC; }
a.tableContent:link { color : #666666;}
a.tableContent:visited { color : #003366;}
a.tableContent:hover { color : #FF3300;}
a.tableContent:active { color : #003333;}