.pic {
	height: 4.6cm;
	width: 3.5cm;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	margin-bottom: 4px;
}

.bg {
        background-image: url(../image/logo_watermark.jpg);
        background-repeat: no-repeat;
        background-position: center center;
}

.student_info_tabletext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	color: #000000;
}

.tc_report_title {
		font-family: "Arial", "Helvetica", "sans-serif";
		font-size: 18px;
		font-weight: normal;
		color: #000000;
	}