body, h1, h2, h3, h4, h5, h6, div, ul, li, ol, span, p, select, textarea, input, option { font-family: Lato, "Droid Sans", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", Arial, sans-serif;  }
body {
	font-size: 16px;
	padding-top: 10px;
	overflow:hidden;
}
.modal { background-color:#fff; bottom: auto; overflow:hidden; }

.header h1 nobr, .header h2 nobr, .header h3 nobr, .header h4 nobr, .header h5 nobr, .header h6 nobr { line-height: 36px; }
.header { margin-bottom:0px; }
@media screen and (max-width: 768px) {
	.header h1 nobr, .header h2 nobr, .header h3 nobr, .header h4 nobr, .header h5 nobr, .header h6 nobr { line-height: 30px; }
	.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 { font-size: 1.25em; }
	.btn, .btn-large, .btn-flat { line-height:30px; height:30px; padding:0 1.5rem; }
	.breadcrumb { font-size: 1em; }
}

#pageWrap { position:absolute; margin: auto; top: 0;  left: 0; width:100%; height:100%; background-color:#fff; overflow:auto; z-index:1;}

.pageHldr { display:none; }

.loadingEm { position:absolute; margin: auto; top: 0;  left: 0; bottom: 0; right: 0; background-color:#fff; color:DeepSkyBlue; z-index:9999; overflow:hidden; }
/***************************************/
/* #myModal { margin-top:100px; } */
/***************************************/
.container { padding-left: 10px; padding-right: 10px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left: 10px; padding-right: 10px;}
/***************************************/
.border-bottom-1px { border-bottom:1px solid; border-color:#fff; }
.border-bottom-default { border-color:#dde4e6; }
.border-bottom-info { border-color:#3498db; }
.border-bottom-success { border-color:#18bc9c; }
.border-bottom-danger { border-color:#e74c3c; }
.border-bottom-warning { border-color:#e08e0b; }
/***************************************/
.col-form-label {
	padding-top:calc(.5rem - 1px * 2);
	padding-bottom:calc(.5rem - 1px * 2);
	margin-bottom:0px;
}
.input-sm { font-size:1em; }
.clearfix::after {
	display: block;
    content: "";
    clear: both;
}
/***************************************/
.panel-danger,
.panel-warning,
.panel-info { border-radius: 10px 0px 10px 0px;
-moz-border-radius: 10px 0px 10px 0px;
-webkit-border-radius: 10px 0px 10px 0px;
border: 0px; overflow:hidden; }
.panel-warning .panel-body { background-color:Cornsilk; }
.panel-danger .panel-body { background-color:Pink; }
.panel-info .panel-body { background-color:LightSkyBlue; }
/***************************************/
.text-bold { font-weight:bold; }
.btn { margin-bottom:3px; }
.listlabel { padding-top:5px; padding-bottom:5px; }
.listvalue { padding-top:5px; padding-bottom:5px; margin-bottom:5px; background-color:#fff; }
/***************************************/
hr { margin-top:10px; }
.pagination { margin-top:0px; }
/***************************************/
.pagination>li>a, .pagination>li>span { background-color: LightSkyBlue; }
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus { background-color:#3498db; }
/***************************************/
.modal-content { border-radius:0px!important; border:0px!important; -webkit-box-shadow:none; box-shadow:none; }

.btn-sm span { line-height:36px; } 

/***************************************/
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-square-jelly-box,
.la-square-jelly-box > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-square-jelly-box {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-square-jelly-box.la-dark {
    color: #333;
}
.la-square-jelly-box > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-square-jelly-box {
    width: 32px;
    height: 32px;
}
.la-square-jelly-box > div:nth-child(1),
.la-square-jelly-box > div:nth-child(2) {
    position: absolute;
    left: 0;
    width: 100%;
}
.la-square-jelly-box > div:nth-child(1) {
    top: -25%;
    z-index: 1;
    height: 100%;
    border-radius: 10%;
    -webkit-animation: square-jelly-box-animate .6s -.1s linear infinite;
       -moz-animation: square-jelly-box-animate .6s -.1s linear infinite;
         -o-animation: square-jelly-box-animate .6s -.1s linear infinite;
            animation: square-jelly-box-animate .6s -.1s linear infinite;
}
.la-square-jelly-box > div:nth-child(2) {
    bottom: -9%;
    height: 10%;
    background: #000;
    border-radius: 50%;
    opacity: .2;
    -webkit-animation: square-jelly-box-shadow .6s -.1s linear infinite;
       -moz-animation: square-jelly-box-shadow .6s -.1s linear infinite;
         -o-animation: square-jelly-box-shadow .6s -.1s linear infinite;
            animation: square-jelly-box-shadow .6s -.1s linear infinite;
}
.la-square-jelly-box.la-sm {
    width: 16px;
    height: 16px;
}
.la-square-jelly-box.la-2x {
    width: 64px;
    height: 64px;
}
.la-square-jelly-box.la-3x {
    width: 96px;
    height: 96px;
}
/*
 * Animations
 */
@-webkit-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -webkit-transform: translateY(25%) rotate(22.5deg);
                transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
                transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -webkit-transform: translateY(25%) rotate(67.5deg);
                transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
                transform: translateY(0) rotate(90deg);
    }
}
@-moz-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -moz-transform: translateY(25%) rotate(22.5deg);
             transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
             transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -moz-transform: translateY(25%) rotate(67.5deg);
             transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
             transform: translateY(0) rotate(90deg);
    }
}
@-o-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -o-transform: translateY(25%) rotate(22.5deg);
           transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
           transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -o-transform: translateY(25%) rotate(67.5deg);
           transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -o-transform: translateY(0) rotate(90deg);
           transform: translateY(0) rotate(90deg);
    }
}
@keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -webkit-transform: translateY(25%) rotate(22.5deg);
           -moz-transform: translateY(25%) rotate(22.5deg);
             -o-transform: translateY(25%) rotate(22.5deg);
                transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
           -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
             -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
                transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -webkit-transform: translateY(25%) rotate(67.5deg);
           -moz-transform: translateY(25%) rotate(67.5deg);
             -o-transform: translateY(25%) rotate(67.5deg);
                transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
           -moz-transform: translateY(0) rotate(90deg);
             -o-transform: translateY(0) rotate(90deg);
                transform: translateY(0) rotate(90deg);
    }
}
@-webkit-keyframes square-jelly-box-shadow {
    50% {
        -webkit-transform: scale(1.25, 1);
                transform: scale(1.25, 1);
    }
}
@-moz-keyframes square-jelly-box-shadow {
    50% {
        -moz-transform: scale(1.25, 1);
             transform: scale(1.25, 1);
    }
}
@-o-keyframes square-jelly-box-shadow {
    50% {
        -o-transform: scale(1.25, 1);
           transform: scale(1.25, 1);
    }
}
@keyframes square-jelly-box-shadow {
    50% {
        -webkit-transform: scale(1.25, 1);
           -moz-transform: scale(1.25, 1);
             -o-transform: scale(1.25, 1);
                transform: scale(1.25, 1);
    }
}

/*loading skin*/
/*loading 20170518*/
.loading_con {
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top:-75px;
  margin-left:-75px;
  width:150px;
  height:150px;
  transform: rotate(45deg);
  animation: rotateit 1.5s ease infinite;
}
.circle {
  width:50px;
  height:50px;
  border-radius:50%;
  position:absolute;
}
.color1 {
  background-color:#5bb9dc;
}
.color2 {
  background-color:#3C9BED;
}
.circle_ani1 {
  transform: rotate(90deg);
  left:50px;
  top:0px;
  animation: move1r 1.5s ease infinite;
}
.circle_ani2 {
  top:50px;
  animation: move2 1.5s ease infinite;
}
.circle_ani3 {
  transform: rotate(90deg);
  left:50px;
  top:100px;
  animation: move1b 1.5s ease infinite;
}
.circle_ani4 {
  top:50px;
  left:100px;
  animation: move2 1.5s ease infinite;
}

@-webkit-keyframes rotateit {
  0% {
    transform: rotate(0deg); 
    opacity:1;
  }
  50% {
    transform: rotate(0deg); 
    opacity:0.5;
  }
  100% {
    transform: rotate(90deg); 
    opacity:1;
  }
}

@keyframes rotateit {
  0% {
    transform: rotate(0deg); 
    opacity:1;
  }
  50% {
    transform: rotate(0deg); 
    opacity:0.5;
  }
  100% {
    transform: rotate(90deg); 
    opacity:1;
  }
}
@keyframes move1r {
  0% {
    top:0px;
    transform: rotate(0deg);
    opacity:0.5;
  }
  45% {
    top:100px;
    opacity:1;
  }
  50% {
    transform: rotate(0deg);
    opacity:1;
  }
  100% {
    top:100px;
    transform: rotate(-90deg);
    opacity:1;
  }
}
@keyframes move2 {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes move1b {
  0% {
    top:100px;
    transform: rotate(0deg);
    opacity:0.5;
  }
  45% {
    top:0px;
    opacity:1;
  }
  50% {
    transform: rotate(0deg);
    opacity:1;
  }
  100% {
    top:0px;
    transform: rotate(-90deg);
    opacity:1;
  }
}
/***************************************/
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
/***************************************/
.select-wrapper > span.caret { border:0px; }
/***************************************/
