.ui-base { background-color:#fff; }
body, h1, h2, h3, h4, h5, h6, div, ul, li, ol, span, p, select, textarea, input, option { font-family: Lato, "Droid Sans", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", Arial, sans-serif;  }

.text-bold { font-weight:bold; }
.btn { margin-bottom:3px; }
.listlabel { padding-top:5px; padding-bottom:5px; }
.listvalue { padding-top:5px; padding-bottom:5px; margin-bottom:5px; background-color:#fff; }

.cusView { width:100%; height:100%; overflow:auto; }
.page404 { width:100%; height:100%; }

.header h1 nobr, .header h2 nobr, .header h3 nobr, .header h4 nobr, .header h5 nobr, .header h6 nobr { line-height: 36px; }
.header { margin-bottom:0px; }
label { font-size:1em; }
/***************************************/
.select-wrapper > span.caret { border:0px; }
/***************************************/
.loadingEm { position:absolute; margin: auto; top: 0;  left: 0; bottom: 0; right: 0; background-color:#fff; color:DeepSkyBlue; z-index:9999; overflow:hidden; }
.card .card-content > .row { margin-bottom:0px; }
table.dataTable { background-color:#fff; }
table.dataTable>tbody>tr.child ul.dtr-details { width:100%; }
table.dataTable a { margin-left:10px; margin-right:10px; }
table.dataTable th, table.dataTable td { border-radius:0px; }
table.dataTable tr:last-child td { border-bottom:1px solid #ddd; }
.dataTables_filter input:not([type]), .dataTables_filter input[type=text], .dataTables_filter input[type=password], .dataTables_filter input[type=email], .dataTables_filter input[type=url], .dataTables_filter input[type=time], .dataTables_filter input[type=date], .dataTables_filter input[type=datetime], .dataTables_filter input[type=datetime-local], .dataTables_filter input[type=tel], .dataTables_filter input[type=number], .dataTables_filter input[type=search], .dataTables_filter textarea.materialize-textarea { height:auto; margin:0px; }
/***************************************/
@media screen and (max-width: 768px) {
	.header h1 nobr, .header h2 nobr, .header h3 nobr, .header h4 nobr, .header h5 nobr, .header h6 nobr { line-height: 30px; }
	.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 { font-size: 1.25em; }
	.btn, .btn-large, .btn-flat { line-height:30px; height:30px; padding:0 1.5rem; }
	.breadcrumb { font-size: 1em; }
	.card .card-content { padding:10px; }
	.card .card-content .row { margin-bottom:0px; }
}

/***************************************/
.la-square-jelly-box,
.la-square-jelly-box > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-square-jelly-box {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-square-jelly-box.la-dark {
    color: #333;
}
.la-square-jelly-box > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-square-jelly-box {
    width: 32px;
    height: 32px;
}
.la-square-jelly-box > div:nth-child(1),
.la-square-jelly-box > div:nth-child(2) {
    position: absolute;
    left: 0;
    width: 100%;
}
.la-square-jelly-box > div:nth-child(1) {
    top: -25%;
    z-index: 1;
    height: 100%;
    border-radius: 10%;
    -webkit-animation: square-jelly-box-animate .6s -.1s linear infinite;
       -moz-animation: square-jelly-box-animate .6s -.1s linear infinite;
         -o-animation: square-jelly-box-animate .6s -.1s linear infinite;
            animation: square-jelly-box-animate .6s -.1s linear infinite;
}
.la-square-jelly-box > div:nth-child(2) {
    bottom: -9%;
    height: 10%;
    background: #000;
    border-radius: 50%;
    opacity: .2;
    -webkit-animation: square-jelly-box-shadow .6s -.1s linear infinite;
       -moz-animation: square-jelly-box-shadow .6s -.1s linear infinite;
         -o-animation: square-jelly-box-shadow .6s -.1s linear infinite;
            animation: square-jelly-box-shadow .6s -.1s linear infinite;
}
.la-square-jelly-box.la-sm {
    width: 16px;
    height: 16px;
}
.la-square-jelly-box.la-2x {
    width: 64px;
    height: 64px;
}
.la-square-jelly-box.la-3x {
    width: 96px;
    height: 96px;
}
/*
 * Animations
 */
@-webkit-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -webkit-transform: translateY(25%) rotate(22.5deg);
                transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
                transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -webkit-transform: translateY(25%) rotate(67.5deg);
                transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
                transform: translateY(0) rotate(90deg);
    }
}
@-moz-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -moz-transform: translateY(25%) rotate(22.5deg);
             transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
             transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -moz-transform: translateY(25%) rotate(67.5deg);
             transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
             transform: translateY(0) rotate(90deg);
    }
}
@-o-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -o-transform: translateY(25%) rotate(22.5deg);
           transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
           transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -o-transform: translateY(25%) rotate(67.5deg);
           transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -o-transform: translateY(0) rotate(90deg);
           transform: translateY(0) rotate(90deg);
    }
}
@keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }
    25% {
        -webkit-transform: translateY(25%) rotate(22.5deg);
           -moz-transform: translateY(25%) rotate(22.5deg);
             -o-transform: translateY(25%) rotate(22.5deg);
                transform: translateY(25%) rotate(22.5deg);
    }
    50% {
        border-bottom-right-radius: 100%;
        -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
           -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
             -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
                transform: translateY(50%) scale(1, .9) rotate(45deg);
    }
    75% {
        -webkit-transform: translateY(25%) rotate(67.5deg);
           -moz-transform: translateY(25%) rotate(67.5deg);
             -o-transform: translateY(25%) rotate(67.5deg);
                transform: translateY(25%) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
           -moz-transform: translateY(0) rotate(90deg);
             -o-transform: translateY(0) rotate(90deg);
                transform: translateY(0) rotate(90deg);
    }
}
@-webkit-keyframes square-jelly-box-shadow {
    50% {
        -webkit-transform: scale(1.25, 1);
                transform: scale(1.25, 1);
    }
}
@-moz-keyframes square-jelly-box-shadow {
    50% {
        -moz-transform: scale(1.25, 1);
             transform: scale(1.25, 1);
    }
}
@-o-keyframes square-jelly-box-shadow {
    50% {
        -o-transform: scale(1.25, 1);
           transform: scale(1.25, 1);
    }
}
@keyframes square-jelly-box-shadow {
    50% {
        -webkit-transform: scale(1.25, 1);
           -moz-transform: scale(1.25, 1);
             -o-transform: scale(1.25, 1);
                transform: scale(1.25, 1);
    }
}
/***************************************/



/*loading 20170518*/
.loading_con {
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top:-75px;
  margin-left:-75px;
  width:150px;
  height:150px;
  transform: rotate(45deg);
  animation: rotateit 1.5s ease infinite;
}
.circle {
  width:50px;
  height:50px;
  border-radius:50%;
  position:absolute;
}
.color1 {
  background-color:#5bb9dc;
}
.color2 {
  background-color:#3C9BED;
}
.circle_ani1 {
  transform: rotate(90deg);
  left:50px;
  top:0px;
  animation: move1r 1.5s ease infinite;
}
.circle_ani2 {
  top:50px;
  animation: move2 1.5s ease infinite;
}
.circle_ani3 {
  transform: rotate(90deg);
  left:50px;
  top:100px;
  animation: move1b 1.5s ease infinite;
}
.circle_ani4 {
  top:50px;
  left:100px;
  animation: move2 1.5s ease infinite;
}

@-webkit-keyframes rotateit {
  0% {
    transform: rotate(0deg); 
    opacity:1;
  }
  50% {
    transform: rotate(0deg); 
    opacity:0.5;
  }
  100% {
    transform: rotate(90deg); 
    opacity:1;
  }
}

@keyframes rotateit {
  0% {
    transform: rotate(0deg); 
    opacity:1;
  }
  50% {
    transform: rotate(0deg); 
    opacity:0.5;
  }
  100% {
    transform: rotate(90deg); 
    opacity:1;
  }
}
@keyframes move1r {
  0% {
    top:0px;
    transform: rotate(0deg);
    opacity:0.5;
  }
  45% {
    top:100px;
    opacity:1;
  }
  50% {
    transform: rotate(0deg);
    opacity:1;
  }
  100% {
    top:100px;
    transform: rotate(-90deg);
    opacity:1;
  }
}
@keyframes move2 {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes move1b {
  0% {
    top:100px;
    transform: rotate(0deg);
    opacity:0.5;
  }
  45% {
    top:0px;
    opacity:1;
  }
  50% {
    transform: rotate(0deg);
    opacity:1;
  }
  100% {
    top:0px;
    transform: rotate(-90deg);
    opacity:1;
  }
}


/* 2017-12-06 use in medical > bowel > remark and default remark */
.remark_title {
	font-size: 0.75rem !important;
}
.remark_top {
	margin-top:40px !important;
}
.btn_delete {
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d9534f;
}
.div_view { 
	margin-top:5px; 
	margin-bottom:5px; 
}