@charset "utf-8";
/* CSS Document */
::-webkit-scrollbar {width: 4px;}
::-webkit-scrollbar-track {background: #fff; border-radius: 2px;}
::-webkit-scrollbar-thumb {background: #bbb; border-radius: 2px;}
body:before {content: " "; display:block; height: 100%; width:100%;}
body {background: #f1f1f1; font-family: Helvetica, Arial, 微軟正黑體, sans-serif; font-size: 16px; height:100%; margin: 0!important; padding: 0!important; width: 100%;}
a {color: #4db835; cursor: pointer;}
a:hover, a:focus {color: #16a20d; text-decoration: none;}
a, a:hover {text-decoration: none}
.fullpage {min-height: calc(100vh - 50px);}
.btn-primary {background: #4db835; border: none;}
.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {background: #44a72e; border: none;}
.btn-primary:focus, .btn-primary.focus {background: #44a72e; border: none;}
.infoTxt {color: #0071bc; font-size: 15px;}

#wrapper {padding-top: 50px;}
/* header style start */
#header {background: #16a20d; color: #fff; display: block; font-size: 18px; min-height: 50px; position: fixed; width: 100vw;}
#header.edit {background: #3f7739;}
#header #function {display: table-cell; height: 50px; vertical-align: middle;}
.headerTitle {color: #fff; display: table-cell; font-size: 18px; height: 50px; max-width: calc(100vw - 100px); padding-left: 15px; padding-top: 3px; vertical-align: middle;}
.headerTitle.withFunction {max-width: calc(100vw - 200px); padding-left: 5px;}
.headerIcon {display: table-cell; font-size: 20px; height: 50px; position: relative; text-align: center; vertical-align: middle; width: 50px;}
.headerIcon a {color: #fff;}
#button {display: table-cell; float: right; margin-top: -50px; position: relative; vertical-align: middle;}
.headerIcon span {content: " "; display: block; height: 40px; width: 40px;}
.headerIcon .selectedClub {background: url(../images/eEnrol_icon_selectClub.png) no-repeat center center; background-size: 100% auto; position: relative; transform: scale(0.9); -webkit-transition: background .1s ease-in-out, transform .1s ease-in-out; -o-transition: background .1s ease-in-out, transform .1s ease-in-out; transition: background .1s ease-in-out, transform .1s ease-in-out;}
.headerIcon .selectedClub.active {background: url(../images/eEnrol_icon_selectClubActive.png) no-repeat center center; background-size: 100% auto; transform: scale(1);}
.headerIcon .clubNum {background: #f15a24; border-radius: 50%; display: none; font-size: 12px; height: 17px; position: absolute; text-align: center; right: 5px; top: 5px; width: 17px;}
.headerIcon a .filter {background: url(../images/eEnrol_icon_filter.png) no-repeat center center; background-size: 100% auto; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.headerIcon a[aria-expanded="true"] .filter, .headerIcon .filter.active {background: url(../images/eEnrol_icon_filterActive.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}
.headerIcon .disabled {opacity: 0.5; pointer-events: none;}
.headerIcon .close {background: url(../images/eEnrol_icon.png) 0px -162px no-repeat; background-size: auto 325px;}
.headerIcon .close {opacity: 1;}

#filter {max-height: calc(100vh - 50px); overflow-y: auto; overflow-x: hidden;}
#filter .filterUL {margin: 0; padding: 0;}
#filter .filterItem > a {background: #519348; color: #fff; display: block; padding: 10px 15px; position: relative;}
#filter .filterItem > a span {display: block; max-width: calc(100% - 30px);}
#filter .filterItem > a:after {color: #fff; content: "\f078"; display: block; font-family: FontAwesome; font-size: 12px; position: absolute; right: 0; text-align: center; text-decoration: none; top: calc(50% - 9px); width: 50px;}
#filter .filterItem > a[aria-expanded="true"]:after {content: "\f077";}
#filter .filterItem {border-bottom: 1px solid #fff;}
#filter .filterItem:last-child {border-bottom: 3px solid #3f7739;}
#filterCategory .well, #filterDate .well {margin-bottom: 0; padding: 0;}
#filterCategory ul, #filterDate ul {margin-bottom: 0;}
.filterSubItem {background: #f1f9ef; color: #333; padding: 10px 45px 10px 30px; position: relative;}
.filterSubItem:not(:last-child) {border-bottom: 1px solid #c9e2c5;}
.filterSubItem:not(:last-child) {border-bottom: 1px solid #c9e2c5;}
.filterSubItem .form-check {display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%;}
.filterSubItem label {display: inline-block; max-width: 100%; margin-bottom: 5px;}
.filterSubItem input[type="checkbox"] {display: table; cursor: pointer; height: 100%; position: absolute; margin: 0; opacity: 0; top: 0; width: 100%;}
.filterSubItem input[type="checkbox"] + span {background: url(../images/eEnrol_icon_filterCheck.png) no-repeat center center; background-size: 100% auto; cursor: pointer; display: inline-block; height: 18px; position: absolute; right: 15px; transform: scale(0.9); top: calc(50% - 9px); width: 18px; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.filterSubItem input[type="checkbox"]:checked + span {background: url(../images/eEnrol_icon_filterChecked.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}
/* header style end */

#content {display: block;}

/* Progress bar and club (different term) color style start */
.applyClub.clubList .term0 {border-left: 5px solid #8cc63f;}
.applyClub.clubList .term1 {border-left: 5px solid #fbb03b;}
.applyClub.clubList .term2 {border-left: 5px solid #4ebee5;}
.applyClub.clubList .term3 {border-left: 5px solid #ea6b2e;}
.applyClub.clubList .term4 {border-left: 5px solid #9e7abd;}

.orderNum {float: left; height: 35px; margin-right: 5px; position: relative; text-align: center; width: 35px;}
.term0 .orderNum {color: #8cc63f;}
.term1 .orderNum {color: #fbb03b;}
.term2 .orderNum {color: #4ebee5;}
.term3 .orderNum {color: #ea6b2e;}
.term4 .orderNum {color: #9e7abd;}
.orderNum:before {content: " "; display: block; height: 35px; left: -1px; position: absolute; text-align: center; top: -3px; width: 35px;}
.term0 .orderNum:before {background: url(../images/eEnrol_icon.png) 0 -209px; background-size: auto 275px;}
.term1 .orderNum:before {background: url(../images/eEnrol_icon.png) -69px -209px; background-size: auto 275px;}
.term2 .orderNum:before {background: url(../images/eEnrol_icon.png) -137px -209px; background-size: auto 275px;}
.term3 .orderNum:before {background: url(../images/eEnrol_icon.png) -206px -209px; background-size: auto 275px;}
.term4 .orderNum:before {background: url(../images/eEnrol_icon.png) -275px -209px; background-size: auto 275px;}

ol li.term0 {color: #8cc63f;}
ol li.term1 {color: #fbb03b;}
ol li.term2 {color: #4ebee5;}
ol li.term3 {color: #ea6b2e;}
ol li.term4 {color: #9e7abd;}

.tag {font-size: 14px; margin-left: 7px; margin-top: 1px; padding: 3px 3px; position: absolute;}
.term0 .tag {background: #8cc63f;}
.term1 .tag {background: #fbb03b;}
.term2 .tag {background: #4ebee5;}
.term3 .tag {background: #ea6b2e;}
.term4 .tag {background: #9e7abd;}

.progressArea {padding: 0; position: relative; width: 100%;}
.progressArea:after {clear: both;}
.progress, .progress-bar {height: 8px; border-radius: 4px;}
.progress {margin-top: 40px; overflow:visible; width: 100%;}
.tooltip {float:right; font-size: 12px; position:relative; z-index: 1000;}
.tooltip > .tooltip-inner {background-color: #fff; border: 1px solid #ccc; border-radius: 3px; color: #333; min-width: 55px; padding: 2px; white-space: nowrap;}
.popOver + .tooltip > .tooltip-arrow {border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #ccc;}
.progress-bar {-webkit-transition: width 1.5s ease-in-out; transition: width 1.5s ease-in-out;}
.totalClass {border-radius: 0 3px 3px 0; color: #fff; font-size: 12px; margin-top: -7px; padding: 3px 4px 1px; position: absolute; text-align: center; right: 0; width: 58px;}
.totalClass:before {border-top: 10px solid transparent; border-bottom: 10px solid transparent; content: " "; height: 0px; position: absolute; right: 100%; top: 1px; width: 0px;}

.term0 .progress-bar {background: #b1e065;}
.term1 .progress-bar {background: #ffcc33;}
.term2 .progress-bar {background: #7bc6e0;}
.term3 .progress-bar {background: #f3966a;}
.term4 .progress-bar {background: #b79ad0;}

.term0 .totalClass {background: #8cc63f;}
.term1 .totalClass {background: #fbb03b;}
.term1 .totalClass {background: #fbb03b;}
.term2 .totalClass {background: #4ebee5;}
.term3 .totalClass {background: #ea6b2e;}
.term4 .totalClass {background: #9e7abd;}

.term0 .totalClass:before {border-right: 5px solid #8cc63f;}
.term1 .totalClass:before {border-right: 5px solid #fbb03b;}
.term2 .totalClass:before {border-right: 5px solid #4ebee5;}
.term3 .totalClass:before {border-right: 5px solid #ea6b2e;}
.term4 .totalClass:before {border-right: 5px solid #9e7abd;}
/* Progress bar and club (different term) color style end */

/* General style start */
.close .icon {background: url(../images/eEnrol_icon.png) 0px -162px no-repeat; background-size: auto 325px; display: block; height: 40px; margin-right: 8px; width: 40px;}
.icon.timeClash {background: url(../images/eEnrol_icon.png) -607px -69px; background-size: auto 270px;}
.icon.applyResult {background: url(../images/eEnrol_icon.png) -70px -140px; background-size: auto 270px; display: inline-block; height: 24px; margin-right: 5px; vertical-align: text-bottom; width: 30px;}
.icon.ordering {background: url(../images/eEnrol_icon.png) -540px -68px; background-size: auto 270px;}

.marginB10 {margin-bottom: 10px;}
.pageTitle {color: #666; font-size: 20px; font-weight: bold; margin: 15px auto 0; text-align: center;}
.pageTitle span {display: table; margin: 0 auto 8px;}
.pageTitle span.tag {font-weight: normal; margin-bottom: 0; padding: 4px 4px; position: relative;}
.pageTitle span.small {font-size: 14px; font-weight: normal;}
a.more {color: #4db835; font-size: 20px; margin-top: -4px; position: absolute; right: -15px; text-align: center; text-decoration: none; width: 50px;}
.modal-dialog {top:50% !important; transform: translate(0, -50%) !important; -ms-transform: translate(0, -50%) !important; -webkit-transform: translate(0, -50%) !important;}
.modal-header {background: #16a20d; border-radius: 3px 3px 0 0; min-height: 40px; padding: 8px 15px;}
.modal-title {color: #fff; font-size: 18px; position: relative;}
button.close {display: block; height: 40px; position: absolute; right: 0; top: 0; width: 40px;}
.close {opacity: 1;}
.modal-content {border: none; border-radius: 3px; box-shadow: 3px 3px 9px rgba(0,0,0,0.2); color: #666;}
.modal-body {line-height: 1.5em; padding: 15px;}
.modal-body span {display: block; margin: 5px 0;}
.modal-footer {border: none; padding: 0 15px 15px; text-align: center;}
.modal-footer button {background: #f2f2f2; border: none; color: #666; width: 40%;}
.modal-footer a:not(:first-child) .btn {margin-left: 15px;}
.modal-backdrop.in {opacity: .7; filter: alpha(opacity=70);}
.alertMsg .alert {background: #ffffe1; color: #666; margin: 10px 5px 5px; padding: 5px 10px; position: relative;}
.alertMsg .alert .close {color: #c69c6d;}
.alertMsg .alert span {display: block; width: calc(100% - 25px);}
/* General style end */

/* Application page style start */
.clubApplication .applicationLabel {color: #666; font-size: 14px; font-weight: bold; padding: 7px 20px;}
.clubApplication .applicationContent {color: #333; font-size: 16px; line-height: 24px; padding: 7px 20px 15px; white-space: normal;}
.applyClub {list-style: none; margin-bottom: 0; padding: 5px;}
.applyClub li {background: #fff; border-radius: 3px; margin-bottom: 5px; padding: 12px 10px; position: relative;}
.applyClub a:last-child li {margin-bottom: 0;}
.applyClub a.left > div {max-width: calc(100% - 30px);}
.applyClub .clubTitle {color: #333; font-size: 18px; font-weight: bold; max-width: calc(100% - 30px);}
.applyClub .form-check {display: block; height: 100%; position: absolute; right: 0; top: 0; width: 50px;}
.applyClub label {display: inline-block; max-width: 100%; margin-bottom: 5px;}
.applyClub input[type="checkbox"] {display: table; cursor: pointer; height: 100%; margin: 0; opacity: 0; top: 0; width: 100%;}
.applyClub input[type="checkbox"] + span {background: url(../images/eEnrol_icon_check.png) no-repeat center center; background-size: 100% auto; bottom: 0; cursor: pointer; height: 25px; left: 0; margin: auto; position: absolute; right: 0; top: 0; transform: scale(0.9); vertical-align: middle; width: 25px; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.applyClub input[type="checkbox"]:checked + span {background: url(../images/eEnrol_icon_checked.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}
.applyClub .clubInfo {display: block; max-width: calc(100% - 20px);}
.applyClub .clubInfo .row {padding: 0 0 0 10px; width: 100%;}
.applyClub.sortingClub .clubInfo .row {width: calc(100% + 10px);}
.applyClub .clubInfo .icon {color: #999; display: inline-block; font-size: 18.5px; font-style: normal; font-weight: normal; height: 25px; margin-right: 3px; text-decoration: inherit; text-align: center; vertical-align: middle; width: 28px;}
.applyClub .clubInfo span {color: #666; display: inline-block; width: calc(100% - 35px);}
.applyClub .clubInfo span:not(.icon) {margin-top: 2px;}
.clubInfo span.timeClash {color: #ff7777;}
.btn.checkTimeClash {background: #fff; border: 1px solid #ff7777; margin: 5px 15px; padding: 2px 5px; text-align: center; width: calc(100% - 30px);}
.btn.checkTimeClash .icon {display: inline-block; height: 25px; text-decoration: inherit; vertical-align: bottom; width: 28px;}
.btn.checkTimeClash span:not(.icon) {color: #ff7777; display: inline-block; height: 25px; padding-top: 2px;}
.btn.checkTimeClash:active, .btn.checkTimeClash.active {background: #fafafa; box-shadow: none;}

.noClubSelected {margin: 15px 5px 5px;}
.applyClub.sortingClub .left {display: block; width: calc(100% - 80px);}
.applyClub.sortingClub a.left > div {max-width: calc(100% - 30px);}
.applyClub.sortingClub .clubTitle, .applyClub.sortingClub .clubInfo {margin-left: 40px;}
/*.applyClub.sortingClub .clubInfo span {width: calc(100% - 35px);}*/
.applyClub.sortingClub .functionIcon {display: table-cell; position: absolute; vertical-align: middle; right: 15px; top: calc(50% - 15px); width: 70px;}
.applyClub.sortingClub .functionIcon span {color: #999; display: inline-block; font-size: 20px; height: 30px; position: relative; text-align: center; vertical-align: middle; width: 30px;}
.applyClub.sortingClub .functionIcon .delete {margin-right: 5px;}
.applyClub.sortingClub .functionIcon .sort {background: url(../images/eEnrol_icon.png) -439px -189px; background-size: auto 250px; border: 1px solid #ccc; border-radius: 2px; content: " "; height: 30px; width: 30px;}
.maxNoOfClub {background: #fff; display: block; padding: 15px;}
.maxNoOfClub .input-group {margin-top: 15px;}
.maxNoOfClub .input-group button {background-color: #4db835; border: 0; color: #fff; font-size: 14px; height: 35px; width: 35px;}
.maxNoOfClub .input-group input {border: 1px solid #f2f2f2; box-shadow: none; color: #333; font-size: 20px; text-align: center;}
.clubApplication .subTitle {padding: 0 10px;}
.clubApplication .club {margin: 0; padding: 0;}
#warning .modal-title svg, #infoDetails .modal-title svg {margin-right: 5px;}
.yearTermList {margin: 0; padding: 0;}
.yearTermList .termItem > a {color: #333; font-weight: bold; display: block; padding: 10px 15px 5px; position: relative;}
.yearTermList .termItem > a:after {color: #4db835; content: "\f078"; display: block; font-family: FontAwesome; font-size: 12px; position: absolute; right: 0; text-align: center; text-decoration: none; top: calc(50% - 9px); width: 50px;}
.yearTermList .termItem > a[aria-expanded="true"]:after {content: "\f077";}

.timeClashCount, .timeClashDetails {background: #fff; padding: 15px 25px;}
.timeClashCount label {color: #666; font-size: 14px;}
.timeClashCount ol {margin-bottom: 0; padding-left: 25px;}
.timeClashCount ol li {color: #333; padding: 3px 0; position: relative;}
.timeClashCount .clubTitle {margin-left: 5px; max-width: calc(100% - 65px);}
.timeClashCount .clashTimes {color: #666; display: table-cell; font-size: 12px; line-height: 23px; position: absolute; right: 0; text-align: right; top: 0; width: 65px;}
.timeClashCount .clashTimes .times {color: #ff7777; font-size: 20px;}
.timeClashCount table {color: #ff7777; font-size: 20px;}
.timeClashDetails .table-responsive {border: 0;}
.timeClashDetails .table > thead > tr > th, .timeClashDetails .table > tbody > tr > th, .timeClashDetails .table > tfoot > tr > th, .timeClashDetails .table > thead > tr > td, .timeClashDetails .table > tbody > tr > td, .timeClashDetails .table > tfoot > tr > td {border-top: 1px solid #cfe2dd;}
.timeClashDetails .table th {font-weight: normal;}
.timeClashDetails .table .delete {color: #bbb;}
.timeClashDetails .table .infoDetails:before {background: #ff7777; border-radius: 50%; content: " "; display: inline-block; height: 8px; line-height: 8px; width: 8px;}
.timeClashDetails .table th:not(:first-child), .timeClashDetails .table td:not(:first-child) {text-align: center;}
.timeClashDetails tbody td:first-child {width: 160px;}
/* Application page style end */

/* Club landing page style start */
/* Application result start*/
.tbl_result {color: #666; margin-bottom: 10px; padding: 10px 15px; width: 100%;}
.tbl_result td {padding: 2px 0;}
.tbl_result .icon {display: inline-block; height: 18px; vertical-align: middle; width: 18px;}
.tbl_result span:not(.icon) {display: inline-block; font-size: 15px; height: 18px; margin-top: -1px; vertical-align: middle;}
.tbl_result.succeed td:last-child {color: #39b54a; text-align: right; min-width: 90px; vertical-align: top;}
.tbl_result.succeed .icon {background: url(../images/eEnrol_icon.png) -261px -43px; background-size: auto 175px; margin: 0;}
.tbl_result.rejected td:last-child {color: #999; text-align: right; min-width: 90px;}
.tbl_result.rejected .icon {background: url(../images/eEnrol_icon.png) -305px -43px; background-size: auto 175px;}
/* Application result end*/

/* sub title icon */
.subTitle {background: #fff; border-bottom: 1px solid #19bc95; color: #666; font-size: 16px; font-weight: bold; min-height: 35px; padding: 0 20px; width: 100%;}
.subTitle a {font-size: 14px; position: absolute; right: 30px; text-align: right; top: 8px;}
.subTitle:before {content: " "; display: table-cell; height: 35px; width: 35px;}
.subTitle.pending:before {background: url(../images/eEnrol_icon.png) -276px 0; background-size: auto 275px;}
.subTitle.participating:before {background: url(../images/eEnrol_icon.png) 0 0; background-size: auto 275px;}
.subTitle.finished:before {background: url(../images/eEnrol_icon.png) -206px 0; background-size: auto 275px;}
.subTitle.info:before {background: url(../images/eEnrol_icon.png) -343px 0; background-size: auto 275px;}
.subTitle.fee:before {background: url(../images/eEnrol_icon.png) 0 -69px; background-size: auto 275px;}
.subTitle.attendance:before {color: #19bc95; content: "\f200"; font-family: FontAwesome; font-size: 20px; font-style: normal; font-weight: normal; text-decoration: inherit; text-align: center; vertical-align: middle;}
.subTitle.comment:before {background: url(../images/eEnrol_icon.png) -68px 0; background-size: auto 275px;}
.subTitle.attendanceRecord:before {background: url(../images/eEnrol_icon.png) -137px 0; background-size: auto 275px;}
.subTitle.clubDateTime:before {color: #19bc95; content: "\f017"; font-family: FontAwesome; font-size: 20px; font-style: normal; font-weight: normal; text-decoration: inherit; text-align: center; vertical-align: middle;}

.club.pending .orderNum {display: none;}
.club.pending.withOrder .clubTitle {display: block; margin-left: 40px; max-width: calc(100% - 40px);}
.club.pending.withOrder .orderNum {display: block;}
.club.pending .timeClash {color: #ff7777;}
.club.pending .clubInfo {margin-left: 50px;}
.club.pending .clubInfo .icon {height: 24px; margin-right: 3px; width: 28px;}
.club.pending .clubInfo span:not(.icon) {display: inline-block; margin-top: 2px;}
.subTitle .title {display: table-cell; height: 35px; padding-left: 5px; padding-top: 4px; vertical-align: middle; max-width: calc(100vw - 130px);}
.subTitle .title .small {font-size: 12px; font-weight: normal;}

.club {background: #fff; list-style: none; padding: 0 15px;}
.club li {padding: 15px 30px 15px 10px; position: relative;}
.club a:not(:last-child) li {border-bottom: 1px solid #eeeddd;}
.club .clubTitle {font-size: 18px; font-weight: bold; color: #333;}
.club.participating li:after, .club.finish li:after {color: #ccc; content: "\f105"; font-family: FontAwesome; font-size: 20px; font-weight: bold; position: absolute; right: 10px; top: calc(50% - 14px);}

.tooltip.top {margin-top: -5px; word-break: keep-all;}
.tooltip.top .tooltip-arrow {border-top-color: #ccc;}
.tooltip.in {opacity: 1;}
.club .progress {padding-right: 58px;}
.clubInfo {display: block; color: #333; padding: 0;}

.clubInfo .icon {background-repeat: no-repeat; height: 40px; float: left; margin-right: 8px; width: 40px;}
.nextClass .icon {background: url(../images/eEnrol_icon.png) -641px -144px; background-size: auto 285px; color: #0071bc; font-size: 18px; font-weight: bold; padding-top: 12px; text-align: center;}
.attendanceRate .icon {background: url(../images/eEnrol_icon.png) -498px -144px; background-size: auto 285px;}
.attendanceHour .icon {background: url(../images/eEnrol_icon.png) -570px -144px; background-size: auto 285px;}
.labelTitle {color: #888; display: block; font-size: 14px; font-weight: bold; padding-top: 2px;}
.club.finish .progress {margin-top: 15px;}
.club.finish .tooltip {display: none !important;}
/* Club landing page style end */

/* Detail page style start */
.showMore, .hideInfo {display: block; font-size: 12px; height: 35px; padding-top: 10px; text-align: center;}
.moreDate {display: none;}
.showMoreDate {display: block; font-size: 12px; height: 30px; text-align: center;}
.showMoreDate .icon {background: url(../images/eEnrol_icon.png) -524px -176px; background-size: auto 350px; display: block; margin: 0 auto; height: 30px; width: 35px;}
.clubApplication, .classDateDetails, .classInfoDetails, .feeDetails, .commentDetails {background: #fff; padding-left: 25px; padding-right: 25px;}
.attendanceDetails, .attendanceRecord {background: #fff; padding-left: 15px; padding-right: 15px;}
.clubApplication .applicationPeriod {color: #c98181; font-size: 16px; text-align: center; margin-bottom: 10px;}
.clubApplication .applicationPeriod span:before {background: url(../images/eEnrol_icon.png) -261px -131px; background-size: auto 175px; content: " "; display: inline-block; height: 18px; margin-right: 2px; margin-top: -3px; vertical-align: middle; width: 18px;}
.clubApplication .btn {font-size: 16px; margin: 10px auto 15px; white-space: normal; width: 100%;}
.classDateDetails .progress {padding-right: 58px;}
.classDateDetails .classDate > a.more:before {display: block; font-family: FontAwesome; font-size: 16px; height: 35px; width: 50px;}
.classDateDetails .classDate > a.more[aria-expanded="false"]:before {content: "\f078";}
.classDateDetails .classDate > a.more[aria-expanded="true"]:before {content: "\f077";}
.classDate {display: block; color: #333; margin-bottom: 10px; position: relative;}
.dateList {margin: 7px 0 0; padding-left: 25px;}
.dateList.lastDate {margin: 0;}
.dateList li {line-height: 28px; padding-top: 1px; position: relative; width: 100%;}
.dateList.pending li {width: 100%;}
.classDate .timeClash .icon {background: url(../images/eEnrol_icon.png) -787px -90px; background-size: auto 350px; content: " "; display: inline-block; margin: -7px 0 0 5px ; height: 30px; vertical-align: middle; width: 35px;}
.dateList .timeClash .icon {float: right; margin: -2px 0 0 5px ; position: absolute; right: 0; top: 0;}
.classDateDetails .classDateContent, .classInfoDetails .infoLabel, .commentDetails .commentLabel {color: #666; padding: 10px 5px 5px;}
.classInfoDetails .infoContent {border-bottom: 1px solid #cfe2dd; font-size: 16px; padding: 5px 5px 10px}
.classInfoDetails .infoContent ol, .classInfoDetails .infoContent ul {padding-left: 30px;}
.classInfoDetails .infoContent li {padding: 5px 0;}
.moreInfo {display: none;}
.feeDetails .feeContent {font-size: 16px; padding: 10px 5px;}
#piechart > div > div {margin: 0 auto;}
.chartAttendanceRate {position: absolute; text-align: center; top: 55px; width: 161px;}
.chartAttendanceRate .chartLabel {color: #666; font-size: 16px;}
.chartAttendanceRate .chartRate {color: #666; display: block; font-size: 36px; margin: 0 auto; padding-left: 21px; position: relative; text-align: center; width: 145px;}
.chartAttendanceRate span.small {font-size: 16px;}
.statistics {color: #666; text-align: center; margin: 15px 0;}
.statistics > div {margin: 5px 0; padding: 0 5px;}
.statistics .num {font-size: 24px;}
.statistics .small {color: #666; font-size: 14px;}
.statistics .onTime .num, .statistics .late .num, .statistics .exempt .num {color: #69b577;}
.statistics .absent .num {color: #f46060;}
.statistics .icon:before {content: " "; display: inline-block; vertical-align: middle; height: 15px; margin-right: 2px; margin-top: -2px; width: 15px;}
.statistics .onTime .icon:before {background: url(../images/eEnrol_icon.png) -232px 0; background-size: auto 155px;}
.statistics .late .icon:before {background: url(../images/eEnrol_icon.png) -271px 0; background-size: auto 155px;}
.statistics .exempt .icon:before {background: url(../images/eEnrol_icon.png) -310px 0; background-size: auto 155px;}
.statistics .absent .icon:before {background: url(../images/eEnrol_icon.png) -349px 0; background-size: auto 155px;}
.statistics .totalHour {font-size: 16px; padding: 0;}
.statistics .totalHour .small {font-size: 14px;}
.commentDetails .commentContent {font-size: 16px; padding: 5px 5px 10px}
.commentDetails .commentContent svg {color: #999;}
.commentDetails > div:last-child {margin-bottom: 10px;}
#attendanceAccordion {margin: 10px 0;}
#attendanceAccordion .panel {box-shadow: none;}
#attendanceAccordion .panel-default {border: none;}
#attendanceAccordion .panel-default > .panel-heading {background: #fff; border: none; font-size: 16px;}
#attendanceAccordion .panel-default > .panel-heading a:before {color: #4db835; content: "\f0de"; font-family: FontAwesome; font-size: 20px; margin-left: -20px; margin-top: 2px; position: absolute; text-align: center;}
#attendanceAccordion .panel-default > .panel-heading a.collapsed:before {color: #4db835; content: "\f0dd"; font-family: FontAwesome; font-size: 20px; margin-left: -20px; margin-top: -6px; position: absolute; text-align: center;}
#attendanceAccordion .panel-title {padding-left: 20px;}
#attendanceAccordion .panel-default > .panel-heading {border: none;}
#attendanceAccordion .panel-collapse > .panel-body {border-bottom: 1px solid #c0d6ae; border-top: none; padding: 0 15px 0 37px;}
#attendanceAccordion .panel:last-child .panel-collapse > .panel-body {border-bottom: none;}
#attendanceAccordion ul.monthRecord {list-style: none; padding-left: 0;}
#attendanceAccordion ul.monthRecord li {padding: 5px 0;}
#attendanceAccordion ul.monthRecord li:after {background-size: auto 350px; content: " "; display: block; float: right; margin-top: -2px; height: 25px; width: 25px;}
#attendanceAccordion ul.monthRecord li.onTime:after {background: url(../images/eEnrol_icon.png) -397px 0px; background-size: auto 265px;}
#attendanceAccordion ul.monthRecord li.late:after {background: url(../images/eEnrol_icon.png) -463px 0px; background-size: auto 265px;}
#attendanceAccordion ul.monthRecord li.exempt:after {background: url(../images/eEnrol_icon.png) -529px 0px; background-size: auto 265px;}
#attendanceAccordion ul.monthRecord li.absent:after {background: url(../images/eEnrol_icon.png) -596px 0px; background-size: auto 265px;}
/* Detail page style end */

/* No result page start */
.noResult {background: url(../images/eEnrol_noResultBg.png) center 40% no-repeat; background-size: 90% auto; height: calc(100vh - 50px); margin: 0 auto; max-height: 640px; max-width: 500px; padding-top: 80px; text-align: center; width: 100%;}
.noResult p.info {color: #777; font-size: 20px; font-weight: bold;}
.noResult svg {color: #999;}
.noResult img {height: auto; max-height: calc(100vh - 100px); max-width: 90%; width: auto;}
/* No result page end */

/* Responsive style start */
@media (max-width: 640px) and (orientation:landscape) {
    .noResult {background: url(../images/eEnrol_noResultBg.png) center 70% no-repeat; background-size: 50% auto; max-height: 350px; max-width: 640px; padding-top: 30px;}
}
@media (max-width: 350px) {
    .statistics .icon:before {display: block; margin: 0 auto;}
}
@media (min-width: 350px) {
    .break {display: none;}
    .chartAttendanceRate {left: calc(50% - 80px);}
}
@media (max-width: 768px) {
    .modal-dialog {margin: 10px auto; width: 80%;}
}
/* Responsive style end */