:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0 }
a img,:link img,:visited img { border:none }
address { font-style:normal }



body, html, body, table {
	font-family: Calibri, Arial, "Lucida Console", Sans-Serif;
	text-align: center;
}

h1 {
	font-size: 16px;
	margin-bottom: 8px;
}

h2 {
	font-size: 14px;
	margin: 8px;
}

div#container {
	margin: 0 auto;
	width: 610px;
}

div#header {
	margin-bottom: 10px;
}

div#signature {
	margin-top: 20px;
}

table#info_table {
	border-collapse: collapse;
}



colgroup#info_label {
	width: 25%;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	font-size:11px;
}

colgroup#info_value {
	text-align: left;
	vertical-align: top;
	font-size: 11px;
}

colgroup#info_value_wide {
	text-align: left;
	width: 26%;
	vertical-align: top;
}

colgroup#subject_col {
	width: 25%;
	text-align: left;
	font-weight: bold;
}

colgroup#colon_col {
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	font-size:11px;
}

.TextColorRed {
	color: rgb(222,43,41);
}

.colon_col {
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	font-size:11px;
}

.TextAlignTop {
	vertical-align:text-top;
}

.signature_space {
	width: 5%;
}

.result_col_label, .signature_label {
	font-weight: bold;
	font-size: 11px;
}
.result_mark {
	font-size: 11px;
}
.line_through {
	text-decoration: line-through;
}

tr.bottom_dot_border td, .dot_bottom_border {
	border-bottom:thin dotted black;
}

div#vspacing {
	height:1px;			
}

.tableline {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.GMS_header {
	font-family: "Times New Roman", "Arial", "Lucida Console";	
	font-weight: bold;
	font-size: 26px;
	font-style: italic;
}

.GMS_header2 {
	font-family: "Arial", "Lucida Console";	
	font-weight: bold;
	font-size: 18px;
}

.GMS_text14bi {
	font-family: "Times New Roman", "Arial", "Lucida Console";	
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}

.GMS_text16bi {
	font-family: "Times New Roman", "Arial", "Lucida Console";	
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
}

.GMS_text12i {
	font-family: "Times New Roman", "Arial", "Lucida Console";	
	font-size: 12px;
	font-style: italic;
}

.border_left {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}
.border_right {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.border_top {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
.border_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.border_left_bold {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #000000;
}
.border_right_bold {
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #000000;
}
.border_top_bold {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
}
.border_bottom_bold {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.report_border_left {
	border-left: 1px solid #000000;
}
.report_border_right {
	border-right: 1px solid #000000;
}
.report_border_top {
	border-top: 1px solid #000000;
}
.report_border_bottom {
	border-bottom: 1px solid #000000;
}

.border_table{
	border-collapse: collapse;
	border: 1px solid #000000;
}
.border_collapse{
	border-collapse: collapse;
}

.border_table tr td, .border_table tr th{
	border: 1px solid #000000;
}

.vertical_text_ie {
	writing-mode: tb-rl;

}

.vertical_text_ff {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	display: block;
}



.border_left_none {
	border-left-width: 0px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

.font_5pt {
	font-size: 7px;
}
.font_6pt {
	font-size: 8px;
}
.font_7pt {
	font-size: 9px;
}
.font_8pt {
	font-size: 11px;
}
.font_9pt {
	font-size: 12px;
}
.font_10pt {
	font-size: 13px;
}
.font_11pt {
	font-size: 15px;
}
.font_12pt {
	font-size: 16px;
}
.font_13pt {
	font-size: 17px;
}
.font_14pt {
	font-size: 19px;
}
.font_15pt {
	font-size: 20px;
}
.font_16pt {
	font-size: 21px;
}
.font_17pt {
	font-size: 23px;
}
.font_18pt {
	font-size: 24px;
}