@charset "utf-8";
/* CSS Document */

/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> eCommunity START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
#ecomm_calendar_day{
	display: block;
	height: 25px;
	width: 25px;
}
#ecomm_calendar_today{
	background-color: #fdffba;
	display: block;
	height: 25px;
	width: 25px;
}
#ecomm_calendar_day_event_holiday{
	height: 25px;
	width: 25px;
}
#ecomm_calendar_day_event_holiday a{
	display: block;
	height: 25px;
	width: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
	background-image: url(../images/2007a/ecomm/icon_event.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#ecomm_calendar_day_event_holiday a:hover{

	color: #FF0000;
	background-image: url(../images/2007a/ecomm/icon_event_on.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #BBE2FF;		

}

#ecomm_calendar_day_event{
	height: 25px;
	width: 25px;

}
#ecomm_calendar_day_event a{
	display: block;
	height: 25px;
	width: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #026BC1;
	font-weight: bold;
	text-decoration: none;
	background-image: url(../images/2007a/ecomm/icon_event.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#ecomm_calendar_day_event a:hover{

	color: #FF0000;
	background-image: url(../images/2007a/ecomm/icon_event_on.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #BBE2FF;		

}
#ecomm_calendar_day{
	height: 25px;
	width: 25px;
	display: block;
font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
#ecomm_calendar_day_holiday{
	height: 25px;
	width: 25px;
	display: block;
font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
.ecomm_box_title{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.ecomm_forum_title{
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}
#changestatus {
	float:left;
	font-size:11px;
	font-weight: normal;
	padding-top: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#changestatus ul{
	list-style-type: none;
	margin:0;
	margin-left: 0px;
	padding:0;
}

#changestatus li{
	display:inline;
	margin-right: 10;
	margin-bottom: 0;
	margin-left: 2px;
}

#changestatus a {
	float:left;
	margin:0;
	text-decoration:none;
	padding-top: 0;
	padding-right: 2;
	padding-bottom: 0;
	padding-left: 5px;
	background-image: url(../images/2007a/10x10.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#changestatus a span {
	float:left;
	display:block;

	color:#737373;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 0px;
	background:url(../images/2007a/10x10.gif) no-repeat left top;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#changestatus a span {float:none;}
/* End IE5-Mac hack */


#changestatus #current a {
	background-image: url(../images/2007a/ecomm/member_choosestatus_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#changestatus #current a span {
	background:url(../images/2007a/ecomm/member_choosestatus_right.gif) no-repeat right top;
	color: #003e92;
	font-weight:bold;

}

#changestatus a:hover {
	background:url(../images/2007a/ecomm/member_choosestatus_left.gif) no-repeat left top;
}

#changestatus a:hover span {
	background:url(../images/2007a/ecomm/member_choosestatus_right.gif) no-repeat right top;
	color: #003e92;
}


.member_status_online{
	padding: 2px;
	background-color: #e5ffc9;


	width: 145px;
}
.member_status_own{
	padding: 2px;
	background-color: #ffeeb2;


	width: 145px;
}
.member_status_none{
	padding: 2px;
	background-color: #FFFFFF;


	width: 145px;
}
.member_status_selected{
	padding: 2px;
	background-color: #b6e0fa;


	width: 145px;
}
.member_name{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3e3e3e;
	text-decoration: none;
}
.member_name:hover{

	color: #FF0000;

}
.status_online_link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #579c06;
	text-decoration: none;
}
.status_online_link:hover{

	color: #FF0000;

}
.box_more{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #098de1;
	text-decoration: none;
}
.box_more:hover{

	color: #FF0000;

}
.share_sub_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
	text-decoration: none;
}
.share_sub_title:hover{
	color: #FF0000;

}
.share_sub_list{
	color: #1d7c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;

}
.share_sub_list:hover{
	color: #FF0000;

}
.share_sub_list_current{
	color: #1d7c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;

}

.share_sub_list_add_current{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;

}
.share_sub_list_add{
	color: #187d6e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;

}
.share_sub_list_add:hover{
	color: #FF0000;

}
#btn_large {
	width : 15px;
	height : 125px;
	display : block;

}
#btn_large a{
	display : block;

}
#btn_large a span{
	display : block;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #CCCCCC;
	text-align: center;
}
#btn_large a:hover span{

	background-color: #1AACD7;

}
#btn_large a:hover{

	background-color: #1AACD7;

}
#photo_thumb_list{
	clear: none;
	float: left;
	padding: 5px;
	height: 120px;
	width: 120px;
}
#photo_border{
	background-color: #FFFFFF;

}
#photo_border a{
	background-color: #FFFFFF;
	padding: 3px;
	display : block;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
#photo_border a span{
	background-color: #FFFFFF;
	display : block;
	

}
#photo_border a:hover{
	background-color: #000000;

	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
#photo_border a:hover span{
	background-color: #000000;
	display : block;
	

}
#photo_border_nolink{
	background-color: #FFFFFF;

}
#photo_border_nolink span{
	background-color: #FFFFFF;
	padding: 3px;
	display : block;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.photo_list_border{
	border: 1px dashed #999999;
}

.share_file_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0a51a1;
	text-decoration: none;
}
.share_file_title a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0a51a1;
	text-decoration: none;
}
.share_file_title a:hover{

	color: #FF0000;

}
.forumtabletop {
	background-color: #f5e58d;
}
.forumtablerow {

	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.forumtabletoptext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #332901;
}
.albumtabletop {
	background-color: #e8e8e8;
}
.albumtablerow {

	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.albumtabletoptext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #332901;
}
#share_view_list_box{
	overflow: auto;
	height: 200px;
	z-index:2;
}

.current_select_item{
	background-color: #d7f1c2;
}
.mouseover_item{
	background-color: #c2e9f1;
}
.storage_border{
	background-color: #fffef0;
	border: 1px solid #CCCCCC;
}