@charset "utf-8";
/* CSS Document */

.eLibrary_top_review_no {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.eLibrary_top10_link1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ac5f0b;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_top10_link1:hover {

	color: #ff0000;

}
.eLibrary_top10_link2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #427001;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_top10_link2:hover {

	color: #ff0000;

}
.eLibrary_top10_link2_stu_name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}

.eLibrary_cat_tab_off {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #36749c;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_cat_tab_off:hover {

	color: #ff0000;

}
.eLibrary_cat_list  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #337bbf;
	font-weight: normal;	
	text-decoration: none;

}

.eLibrary_cat_list a {

	color: #337bbf;
	text-decoration: none;

}
.eLibrary_cat_list a:hover {

	color: #ff0000;

}
.eLibrary_navigation{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;

	font-weight: bold;

	text-decoration: none;

}
.eLibrary_navigation a{
	font-weight: normal;
		color: #0d5da8;
	text-decoration: none;
}
.eLibrary_navigation a:hover{

	color: #FF0000;
	font-weight: normal;

}
.eLibrary_list_all {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6633CC;
	font-weight: normal;
	text-decoration: none;
}

.eLibrary_title_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.eLibrary_title_sub_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-decoration: underline;
	padding-top: 5px;
}
.eLibrary_title_heading2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.elib_top_highlight{
background-color: #fffef7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #CCCCCC;
}
.eLib_bookinfo{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #CCCCCC;
}
.eLibrary_top1_link:hover {

	text-decoration: underline;
}
.eLibrary_top_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_myrecord_list_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
/*	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	display: block;*/
}
.eLibrary_recomm_detail{
	filter:alpha(opacity=90);
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #CCCCCC;
}

.eLibrary_myrecord_list{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006bbd;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_myrecord_list:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_myrecord_list_on{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;	
	text-decoration: none;

}


.eLibrary_booktitle_normal{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #054397;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_booktitle_normal:hover{

	color: #FF0000;

}
.eLibrary_booktitle_small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #054397;
	font-weight: normal;	
	text-decoration: none;

}
.eLibrary_booktitle_small:hover{

	color: #FF0000;

}
/*
.openbook_bg {
	background-image: url(../images/2007a/eLibrary/openbook_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 80px;
	width: 80px;
}
.openbook_bg2 {
	background-image: url(../images/2007a/eLibrary/openbook_bg2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 88px;
	width: 80px;
}
.openbook_bg3 {
	background-image: url(../images/2007a/eLibrary/openbook_bg3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 88px;
	width: 80px;
}
.openbook_bg4 {
	background-image: url(../images/2007a/eLibrary/openbook_bg4.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 88px;
	width: 80px;
}*/
.openbook_bg {
	background-image: url(../images/2007a/eLibrary/openbook_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 88px;
	width: 80px;
}
.eLibrary_top_link:hover {

	text-decoration: underline;
}
.eLibrary_bookcase {
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
}
.eLibrary_latestread {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7f7e7e;
	text-decoration: none;
	background-color: #e9f8fe;
	padding: 6px;
}
.eLibrary_latestread a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #054397;
	text-decoration: none;
}
.eLibrary_latestread a:hover{

	color: #FF0000;

}
.eLibrary_favourite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7f7e7e;
	text-decoration: none;
	background-color: #feecec;
	padding: 6px;
}
.eLibrary_favourite a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #054397;
	text-decoration: none;
}
.eLibrary_favourite a:hover{

	color: #FF0000;

}
.eLibrary_scheme{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}
.eLibrary_scheme:hover{

	color: #FF0000;

}
.eLibrary_commonlink{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0c36ae;
	font-weight: normal;
	text-decoration: none;
}
.eLibrary_commonlink:hover{

	color: #FF0000;

}
.select_studentlist {
	width:100%;
}.eLib_myrecord_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #576cbd;
	text-decoration: none;
}
.eLib_myrecord_title:hover {
	color: #FF0000;
}
.eLib_recommend_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0c66a5;
	text-decoration: none;
}
.eLib_recommend_title:hover {
	color: #FF0000;
}
.eLib_new_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4b7b05;
	text-decoration: none;
}
.eLib_new_title:hover {
	color: #FF0000;
}
.eLib_popular_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ce0000;
	text-decoration: none;
}
.eLib_popular_title:hover {
	color: #FF0000;
}
.eLib_scheme_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.eLib_scheme_title:hover {
	color: #FF0000;
}

#book_border{

	background-color: #d1d1d1;

}
#book_border a{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d1d1d1;
	padding: 1px;
	display : block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d1d1d1;
	border-right-color: #d1d1d1;
	border-bottom-color: #d1d1d1;
	border-left-color: #d1d1d1;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
#book_border a span{
	background-color: #74A349;
	display: block;
}
#book_border a:hover{
	background-color: #0181db;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0181db;
	border-right-color: #0181db;
	border-bottom-color: #0181db;
	border-left-color: #0181db;
	color: #FFFFFF;
}
#book_border a:hover span{
	background-color: #0181db;


}
#eLibrary_logo {
	position:absolute;
	z-index:2;
	left: 0px;
	top: 88px;
	width: 135;
}
