@charset "utf-8";
/* CSS Document */

.top_school_name{
	float:left;
	color:#FFFFFF; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight:bold;
	padding:3px; 
	padding-top: 8px;
}

.top_btn {
	float:right;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px;
	color:#FFFFFF; 
	padding:3px; 
	padding-right:5px
}
.top_btn span{
	padding-left:5px;
	padding-right:5px;
	color:#7eb3e5;
	
}
.top_btn a{
 	color:#FFFFFF; 
	text-decoration:none;
	
}
.help{
 	color:#ffdb15; 
	
	
}
.top_btn a:hover{
	text-decoration:underline;
}

#menu {
	float:left;
	font-size:12px;
	font-weight: bold;

	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#menu ul{
	list-style-type: none;
	margin:0;
	margin-left: 20px;
	margin-top: 5px;
	padding:0;
}

#menu li{
	display:inline;
	margin: 0;
}

#menu a {
	float:left;
	margin:0;
	text-decoration:none;
	padding-top: 0;
	padding-right: 10;
	padding-bottom: 1;
	padding-left: 18px;
	background-image: url(../images/2007a/topbar_25/icon_cube_off.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#menu a span {
	float:left;
	display:block;
	font-weight:bold;
	color:#2b8710;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 2px;
	background:url(../images/2007a/10x10.gif) no-repeat left top;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a span {float:none;}
/* End IE5-Mac hack */


#menu a.current {
	background:url(../images/2007a/topbar_25/icon_cube_on.gif) no-repeat left top;
}

#menu a.current span {
	background:url(../images/2007a/10x10.gif) no-repeat right top;
	color: #002b9a;
}

#menu a.home {
	background:url(../images/2007a/topbar_25/icon_cube_home_off.gif) no-repeat left top;
}

#menu a.home span {
	background:url(../images/2007a/10x10.gif) no-repeat right top;

}
#menu a.home:hover {
	background:url(../images/2007a/topbar_25/icon_cube_home_over.gif) no-repeat left top;
}

#menu a.home:hover span {
	background:url(../images/2007a/topbar_25/icon_cube_over_right.gif) no-repeat right top;
	color: #ffffff;
}
#menu a.home_current {
	background:url(../images/2007a/topbar_25/icon_cube_home_on.gif) no-repeat left top;
}

#menu a.home_current span {
	background:url(../images/2007a/10x10.gif) no-repeat right top;
	color: #002b9a;
}


#menu a:hover {
	background:url(../images/2007a/topbar_25/icon_cube_over.gif) no-repeat left top;
}

#menu a:hover span {
	background:url(../images/2007a/topbar_25/icon_cube_over_right.gif) no-repeat right top;
	color: #ffffff;
}
.menu_right {
	float:right;
	height:33px; 
	background-image:url(../images/2007a/topbar_25/menu_bg_right.gif); 
	padding-left:30px; 
	padding-right:10px;
	padding-top:4px;
}
#top_submenu_content {
	background-image: url(../images/2007a/topbar_25/submenu_bg.gif);
}


.top_submenu_item{
	list-style-type: none;
	padding: 0;
	width: 173px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.top_submenu_item li a{
	color: #2b81c3;

	display: block;
	width: auto;
	padding-left: 12px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 5px;
	padding-right: 18;
	padding-bottom: 5px;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.top_submenu_item li a:hover{
	color: #FFFFFF;
}
.top_submenu_item_normal{
	background-image: url(../images/2007a/10x10.gif);
}
.top_submenu_item_normal:hover{
	background-image: url(../images/2007a/topbar_25/submenu_on.gif);
}

.top_submenu_item_more{
	background-image: url(../images/2007a/topbar_25/submenu_more_off.gif);
}
.top_submenu_item_more:hover{
	background-image: url(../images/2007a/topbar_25/submenu_more_on.gif);
}

*html .top_submenu_item li a{ /*IE only. Actual menu width minus left padding of LINK (20px) */
	width: 173px;
}

