body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 10px 20px 30px 20px;
	}
h1 {
	padding: 0px;
	font-weight: bold;
	font-size: 18px;
	margin: 0px;
}
h2 {
	padding: 0px;
	font-weight: normal;
	font-size: 14px;
	margin: 0px 0px 15px 0px;
}
a {
	/*font: normal 14px;*/
	/*color: #ffffff;*/
	text-decoration:underline;
}
a.header
{
	color: #ffffff;
}
a:hover {
	color:#000066;
}
a.header:hover
{
	color:#f0f0f0;
}

td
{
	font-size: 13px;
}

/**/
#methods {
	
}
.methodtable {
	border: 0px;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	width: 100%;
}
.methodcaption {
	padding: 2px 0px 2px 10px;
	font-size:13px;
	font-weight: bold;
	margin: 1px;
	background-color: #9999cc;
	text-align: left;
	border-bottom: 1px dashed #cccccc;
	color:#ffffff;
	/*color:#000099;*/
}
.methodrow {

}
.propname {
	border: #ffffff 1px solid;
	padding: 2px 30px 2px 25px;
	font: normal 12px;
	width: 20%;
	background-color: #f0f0f0;
}
.propvalue {
	border: #ffffff 1px solid;
	padding: 2px 0px 2px 10px;
	font: normal 12px;
	width: 80%;
	background-color: #f0f0f0;
}
/**/
#results {

}
.resultstable {
	border: 0px;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	width: 100%;
}
.resultscaption {
	padding: 2px 0px 2px 10px;
	font: normal 14px;
	margin: 1px;
	color: #ffffff;
	/*background-color: #003366;*/
	text-align: left;
}
.resultsrow {
	border-right: #ffffff 1px solid;
	border-bottom: #ffffff 1px solid;
	padding: 2px 0px 2px 10px;
	font: normal 12px;
	width: 80%;
	/*background-color: #e0e0e0;*/
}
.resultstext {

}
/**/
#form {

}
.formtable {
	border: 0px;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	width: 100%;
}
.formcaption {
	padding: 2px 0px 2px 10px;
	font-size: 13px;
	font-weight: bold;
	margin: 1px;
	color: #ffffff;
	background-color: #9999cc;
	text-align: left;
}
.formheader {
	border: #ffffff 1px solid;
	padding: 2px 30px 2px 25px;
	background-color: #d0d0d0;
	text-align: left;
	font: normal x-small;
	text-decoration: underline;
}
.inputrow {
	border-right: #ffffff 1px solid;
	border-bottom: #ffffff 1px solid;
	padding: 2px 0px 2px 10px;
	font: normal 12px;
	width: 80%;
	background-color: #f0f0f0;
}
.inputname {
	/*font-weight: bold;*/
	padding: 2px 0px 2px 30px;
}
.inputbox {
	width: 400px;
}
/**/
.argrow {
	border: #ffffff 1px solid;
	padding: 2px 0px 2px 10px;
	font: normal 12px;
	width: 80%;
	/*border-bottom: sold 1px #000000;*/
	background-color: #f0f0f0;
}
.argname {

}

.codex {
	border:1px inset; 
	background-color: #EFEFEF; 
	width:100%; 
	height:350px;
	/*overflow-x:auto;*/
	overflow:scroll;
}
