@charset "utf-8";
/* CSS Document */

html, body, table, select, input, textarea{   font-family:Arial, Verdana, Helvetica, sans-serif, 新細明體, mingliu;
 
} 
img {
	border: 0;
	}
	
a img {
	border: none:w;
	color: #ffffff;
	background:: transparent;
	}

.clear{clear:both}

.800width {height:1px; width:800px;}

#elib_left_bar {
	width: 173px;
	margin-top: 30px;
	}

.text01 {
	margin:0;
	padding:0;
	font-size: 12px;
	color: #006bbd;
	font-weight: normal;	
	text-decoration: none;
	}
p.text01 {width:170px}
	
.text01 a{
	text-decoration: none;
	color: #006bbd;
	}
	
.text01 a:hover{
	color: #FF0000;	
	text-decoration: none;
	}
	
.text02 {
	margin:0;
	padding:0;
	font-size: 12px;
	color: #000000;
	font-weight: normal;	
	text-decoration: none;
	}
	
/*** ********************** ***/
/*** eLibrary Records Begin ***/
/*** ********************** ***/
#elib_records_top {
	background: url(/images/2007a/eLibrary/records_01.gif) no-repeat;
	width: 173px;
	height: 28px;
	text-align:left;
	}

#elib_records_top p {
	margin: 0 ;
	padding : 7px 10px 0 10px;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}
	
#elib_records_border {
	text-align:left;
	background: url(/images/2007a/eLibrary/records_border.gif) repeat-y;
	width: 153px;
	padding: 0 11px 0 9px;
	}

#elib_records_border #list1{background: url(/images/2007a/eLibrary/recordicon_01.gif) no-repeat 2px 3px;	margin: 0; width: 153px;}
#elib_records_border #list2{background: url(/images/2007a/eLibrary/recordicon_02.gif) no-repeat 2px 3px;	margin: 0; width: 153px;}
#elib_records_border #list3{background: url(/images/2007a/eLibrary/recordicon_03.gif) no-repeat 2px 3px;	margin: 0; width: 153px;}
#elib_records_border #list4{background: url(/images/2007a/eLibrary/recordicon_04.gif) no-repeat 2px 3px;	margin: 0; width: 153px;}
#elib_records_border #list5{background: url(/images/2007a/eLibrary/recordicon_05.gif) no-repeat 2px 3px;	margin: 0; width: 153px;}
#elib_records_border #list6{background: url(/images/2007a/eLibrary/recordicon_06.gif) no-repeat 2px 3px;	margin: 0; width: 153px;}
	
#elib_records_border p{
	background: url(/images/2007a/eLibrary/records_02.gif) repeat-x bottom;
	padding: 7px 5px 9px 30px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006bbd;
	font-weight: normal;	
	text-decoration: none;
	}
	
#elib_records_border a{
	text-decoration: none;
	color: #006bbd;
	}
	
#elib_records_border a:hover{
	color: #FF0000;
	font-weight: normal;	
	text-decoration: none;
	}

#elib_records_bottom {
	width: 173px;
	height: 10px;
	background: url(/images/2007a/eLibrary/records_03.gif) no-repeat;
	}
/*** ******************** ***/
/*** eLibrary Records End ***/
/*** ******************** ***/


/*** ************************ ***/
/*** eLibrary Catalogue Begin ***/
/*** ************************ ***/
#elib_cata{
	width: 173px;
	padding-top: 10px;
	}

#elib_cata_wrap_01 {width: 173px; position:absolute; visibility: visible;}
#elib_cata_wrap_02 {width: 173px; position:absolute; visibility: hidden;}

#elib_cata_top1 {
	background: url(/images/2007a/eLibrary/elib_cata_top01.gif) no-repeat;
	width: 173px;
	height: 49px;
	}
	
#elib_cata_top2 {
	background: url(/images/2007a/eLibrary/elib_cata_top02.gif) no-repeat;
	width: 173px;
	height: 49px;
	}

#elib_lang01{
	float: left;
	margin: 0 ;
	padding : 18px 8px 0 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	}
	
#elib_lang02{
	float: left;
	margin: 0 ;
	padding : 18px 20px 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;	
	text-decoration: none;
	}
	
#elib_lang02 a{
	color: #ffffff;
	text-decoration: none;
	}
	
#elib_lang02 a:hover{
	text-decoration: underline;
	}

#elib_cata_border {
	text-align:left;
	background: url(/images/2007a/eLibrary/elib_cata_body.gif) repeat-y;
	padding: 0 11px 0 11px;
	width: 151px;
	}

#elib_cata_head{
	width: 151px;
	height: 22px;
	background: url(/images/2007a/eLibrary/elib_cata_head.gif) no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}
	
#elib_cata_head p{
	margin: 0 ;
	padding : 3px 10px 0 10px;
	}
	
#elib_cata_body {
	margin: 0 0 0 0 ;
	padding : 5px 10px 10px 10px;
	width: 151px;
	background: url(/images/2007a/eLibrary/elib_cata_list.gif) no-repeat;
	}
	
#elib_cata_body p{
	background: url(/images/2007a/eLibrary/sub_icon.gif) no-repeat 0 7px;
	padding: 3px 10px 2px 10px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006bbd;
	font-weight: normal;	
	text-decoration: none;
	}
	
#elib_cata_body a{
	text-decoration: none;
	color: #006bbd;
	}
	
#elib_cata_body a:hover{
	color: #FF0000;
	text-decoration: none;
	}
	
#elib_cata_listall{
	text-align:right;
	width: 151px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006bbd;
	font-weight: normal;	
	text-decoration: none;
	}
	
#elib_cata_listall a{
	color: #FF0000;
	text-decoration: none;
	}
	
#elib_cata_listall a:hover{
	color: #006bbd;
	text-decoration: underline;
	}

#elib_cata_bottom {
	width: 173px;
	height: 11px;
	background: url(/images/2007a/eLibrary/elib_cata_bottom.gif) no-repeat;
	}
/*** ********************** ***/
/*** eLibrary Catalogue End ***/
/*** ********************** ***/


/*** ********************** ***/
/*** eLibrary Content Begin ***/
/*** ********************** ***/
/* eLibrary book ranking */

#book_rank {width: 70%;	float: left; margin: 0px; padding: 0px;}

.book_rank_top_left {
	background: url(/images/2007a/eLibrary/book_rank_01.gif) no-repeat left;
	width: 252px;
	height: 71px;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_rank_top_left p{
	width: 90%;
	float: left;
	margin: 11px 0 5px 0;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	}
	
.book_rank_top_left p a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #d48101;
	text-decoration:none;
	}

.book_rank_top_left p a:hover{text-decoration:underline;}

.book_rank_top_right {
	float: left;
	background: url(/images/2007a/eLibrary/book_rank_02.gif) no-repeat right;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 71px;
	}

.book_rank_middle_left {
	background: url(/images/2007a/eLibrary/book_rank_05.gif) no-repeat left;
	width: 252px;
	height: 66px;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_rank_middle_left p{
	width: 90%;
	float: left;
	margin: 36px 0 0 0;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	}

.book_rank_middle_left p a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #d48101;
	text-decoration:none;
	}

.book_rank_middle_left p a:hover{text-decoration:underline;}

.book_rank_middle_right {
	float: left;
	background: url(/images/2007a/eLibrary/book_rank_06.gif) no-repeat right;
	width: 100%;
	margin: 0px;
	padding: 0px;
	}

.book_rank_body{width: 100%; float: left; margin: 0px; padding: 0px; height:100px; vertical-align: top}

.book_rank_body_left {
	background: url(/images/2007a/eLibrary/book_rank_03.gif) repeat-y left;
	width: 100%;
	height: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_rank_body_right {
	background: url(/images/2007a/eLibrary/book_rank_04.gif) repeat-y right;
	height: 100%;
	width: 100%;
	float: right;
	margin: 0px;
	padding: 0px;
	}
	
.book_rank_body_books {
	padding:20px 0 0 0;
	margin: 0;
	width: 100%;
	text-align:center;
	}
	
.book_rank_body_books div{
	padding: 0;
	height: 200px;
	float: left;
	width: 33%;
	text-align:center;
	margin:0;
	border:0;
	}

	
.book_rank_footer_left {
	background: url(/images/2007a/eLibrary/book_rank_07.gif) no-repeat bottom left;
	width: 100%;
	
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_rank_footer_right {
	background: url(/images/2007a/eLibrary/book_rank_08.gif) no-repeat bottom right;
	width: 100%;
	float: left;
	
	margin: 0px;
	padding: 0px;
	}
/* eLibrary book ranking END*/

/* eLibrary review ranking */
.review_rank {margin: 0px; padding: 0px; width: 29%; float: left;}



.book_review_top_left {
	background: url(/images/2007a/eLibrary/review_rank_01.gif) no-repeat left;
	width: 100%;
	height: 37px;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_review_top_right {
	float: left;
	background: url(/images/2007a/eLibrary/review_rank_02.gif) no-repeat right;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 37px;
	}

.book_review_padding{clear: both; height: 20px;}

.book_review_top_left2 {
	background: url(/images/2007a/eLibrary/review_rank_07.gif) no-repeat left;
	width: 100%;
	height: 37px;
	float: left;
	margin: 0 0 0 0;
	padding: 0px;
	}

.table_head {
	float: left;
	margin: 12px 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	}
.table_head a{color:#000000; text-decoration:none}
.table_head a:hover{ text-decoration: underline}

.book_review_top_right2 {
	float: left;
	background: url(/images/2007a/eLibrary/review_rank_08.gif) no-repeat right;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 37px;
	}
	
.book_review_top_right p{
	width: 70%;
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
.book_review_body_left {
	background: url(/images/2007a/eLibrary/review_rank_03.gif) repeat-y left;
	width: 100%;
	height: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_review_body_right {
	background: url(/images/2007a/eLibrary/review_rank_04.gif) repeat-y right;
	height: 100%;
	width: 100%;
	float: right;
	margin: 0px;
	padding: 0px;
	}
	
.book_review_body_right hr{
	margin: 0 4px 0 4px;
	padding: 0 4px 0 4px;
	height: 1px;
	color: #cccccc;
	}

	
.book_review_body_right .left01{
	margin: 8px 0 0 4px;
	padding: 0 0 0 4px;
	text-align: left;
	float: left;
	}
	
.book_review_body_right .left02{
	margin: 0 0 0 4px;
	padding: 0 0 0 4px;
	text-align: left;
	float: left;
	}

.book_review_body_right .right{
	clear: both;
	margin: 0 4px 0 0;
	padding: 0 4px 0 0;
	vertical-align: bottom;
	text-align: right;
	}

.book_review_body_right .review_icon{
	height: 26px;
	width: 33px;
	background: url(/images/2007a/eLibrary/review_icon.gif) no-repeat;
	margin: 3px 6px 0 0;
	text-align: center;
	float: right;
	}
	
.book_review_body_right .review_icon p{
	margin: 5px 13px 0 0;
	color: #ffffff;
	font-size:12px;
	}
	
.book_review_body_right .line{
	clear: both;
	margin: 3px 4px 0 4px;
	padding: 0 4px 0 4px;
	border-bottom: 1px solid #cccccc;
	}
	
.book_review_footer_left {
	background: url(/images/2007a/eLibrary/review_rank_05.gif) no-repeat left bottom;
	width: 100%;
	height: 12px;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_review_footer_right {
	background: url(/images/2007a/eLibrary/review_rank_06.gif) no-repeat right bottom;
	width: 100%;
	float: right;
	height: 12px;
	margin: 0px;
	padding: 0px;
	}


/* eLibrary book admin ranking */
.admin_rank {margin: 0px; padding: 0px; width: 100%; float: left; }

.book_admin_top_left {
	background: url(/images/2007a/eLibrary/review_rank_01.gif) no-repeat left;
	width: 98%;
	height: 37px;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_admin_top_right {
	float: left;
	background: url(/images/2007a/eLibrary/review_rank_02.gif) no-repeat right;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 37px;
	}

.book_admin_top_right .table_head a{color:#565656; text-decoration:underline}
.book_admin_top_right .table_head a:hover{ text-decoration: underline}	

.book_admin_top_right p{
	width: 90%;
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
.book_admin_body_left {
	background: url(/images/2007a/eLibrary/review_rank_03.gif) repeat-y left;
	width: 98%;
	height: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_admin_body_right {
	background: url(/images/2007a/eLibrary/review_rank_04.gif) repeat-y right;
	height: 100%;
	width: 100%;
	float: right;
	margin: 0px;
	padding: 0px;
	}

.book_admin_body {
	height: 100%;
	width: 100%;
	clear: both;
	margin: 0px;
	padding: 5px;
	}

.book_admin_footer_left {
	background: url(/images/2007a/eLibrary/review_rank_05.gif) no-repeat left bottom;
	width: 100%;
	height: 12px;
	float: left;
	margin: 0px;
	padding: 0px;
	}

.book_admin_footer_right {
	background: url(/images/2007a/eLibrary/review_rank_06.gif) no-repeat right bottom;
	width: 100%;
	float: right;
	height: 12px;
	margin: 0px;
	padding: 0px;
	}



/*** *********** ***/
/*** Photo Begin ***/
/*** *********** ***/
#photo_wrap {
	width: 100%;
	height: 330px;
	min-width:800px;
	}

.photo_bg {
	background: url(/images/2007a/eLibrary/photo_bg.gif) no-repeat right;
	width: 100%;
	float: right;
	height: 310px;
	margin: 0px;
	padding: 0px;
	}

.photo_bg_left_bg {
	background: url(/images/2007a/eLibrary/photo_left_bg.gif) repeat-x;
	width: 65%;
	float: left;
	height: 310px;
	margin: 0px;
	padding: 0px;
	}
	
.photo_bg_left {
	background: url(/images/2007a/eLibrary/photo_01.gif) no-repeat left;
	width: 100%;
	float: left;
	height: 310px;
	margin: 0px;
	padding: 0px;
	}
	
.photo_bg_middle {
	background: url(/images/2007a/eLibrary/photo_04.gif) no-repeat;
	width: 38px;
	float: left;
	height: 310px;
	margin: 0px;
	padding: 0px;
	}

.photo_bg_right {
	background: url(/images/2007a/eLibrary/photo_05.gif) no-repeat top left;
	width: 28%;
	float: left;
	height: 310px;
	margin: 0px;
	padding: 0px;
	}
	
.photo_bg_right .top{
	font-size: 14px;
	font-weight: bold;
	margin: 35px 32px 0 0;
	color: #b75f2a;
	}

.photo_bg_right .books9{margin: 12px 0 0 2px; text-align:center;}
.photo_bg_right .books4{margin: 12px 0 0 2px; text-align:center;}

.photo_bg_right .books9 p{
	margin: 0;
	float: left;
	width: 32%;
	padding: 3px 0 3px 0;
	}
	
.photo_bg_right .books4 p{
	margin: 0;
	float: left;
	width: 47%;
	padding: 6px 0 4px 0;
	}
	
.photo_bg_right .books9 img{border-width: 2px; border-style: solid; border-color:#666666;}
.photo_bg_right .books4 img{border-width: 2px; border-style: solid; border-color:#666666;}
.photo_bg_right .books9 img.current{border-width: 2px; border-style: solid; border-color:#FFCC00;}
.photo_bg_right .books4 img.current{border-width: 2px; border-style: solid; border-color:#FFCC00;}
.photo_bg_right .books9 a:hover img{border-width: 2px; border-style: solid; border-color:#FFCC00;}
.photo_bg_right .books4 a:hover img{border-width: 2px; border-style: solid; border-color:#FFCC00;}

.photo_bg_right img{border: 2px solid #e4f9fe;}
.photo_bg_right a:hover img{border-color:#FF9900;}
.photo_bg_right img.current {border-color:#FF9900;}

.photo_recommend {
	background: url(/images/2007a/eLibrary/photo_reason.gif) no-repeat bottom right;
	margin: 0 20px 0 0;
	height: 249px;
	padding: 0px;
	}
	
/* CarouselArea Begin */
.photo_recommend #recommend_wrap{
	padding-right:300px; *padding-right:0;  /* *padding-right for ie6 and ie7  */
	padding-left:20px;   *padding-left:0;   /* *padding-left for ie6 and ie7  */
	width: auto; *width: 100%;				/* *width for ie6 and ie7  */
	}
	
.photo_recommend .photo{
	margin-right: -300px;
	text-align: center;
	float: left;
	padding: 0 300px 0 0;
	width: 100%;
	position: relative;
	}
	
.photo_recommend img{
	margin: 42px 0 0 0;
	border:1px;
	border-color:#333333;
	border-style:solid;
	}

.photo_recommend .right {
	float: left; 
	width: 300px; 
	position: relative;
	padding-left: 0; _padding-left: 10px;  /* _padding-left for ie6 */
	margin-right: -300px;	
	}
	
.photo_recommend .title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 60px 30px 0 0;
	height: 25px;
	float: right;
	width: 260px;
	color: #b75f2a;
	border-bottom: solid 2px #333333;
	}

.photo_recommend .reason{
	font-size: 12px;
	clear: both;
	margin: 20px 20px 0 0;
	float: right;
	width: 260px;
	height: 120px;
	}
/* CarouselArea End */


/* Photo nav begin */

.photo_nav_outer{
	padding-top: 5px;
	padding-right: 255px;  *padding-right: 315px ; /* *padding-right for ie6 and ie7 */
	margin-left: -40px;
	}

.photo_nav_inner{
	text-align:center;
	width: 100%;
	}
	
.photo_nav ul{
	width: 120px;
	margin: 0 auto 0 auto;
	padding: 0;
	list-style: none;	
	}

.photo_nav li{
	display:inline;
	margin-left: 11px;
	float: left;
	width: 23px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	}

.photo_nav li a{
	width: 23px;
	height: 23px;
	display: block;
	text-decoration: none;
	}

.photo_nav li#previous{background: url(/images/2007a/eLibrary/recommend_nav.gif) no-repeat 0 0;}
.photo_nav li#next{background: url(/images/2007a/eLibrary/recommend_nav.gif) no-repeat -35px 0;}
.photo_nav li#open{background: url(/images/2007a/eLibrary/recommend_nav.gif) no-repeat -70px 0;}
.photo_nav li#previous a:hover{background: url(/images/2007a/eLibrary/recommend_nav.gif) no-repeat 0 -23px;}
.photo_nav li#next a:hover{background: url(/images/2007a/eLibrary/recommend_nav.gif) no-repeat -35px -23px;}
.photo_nav li#open a:hover{background: url(/images/2007a/eLibrary/recommend_nav.gif) no-repeat -70px -23px;}
/* Photo nav end */

/*** ********* ***/
/*** Photo End ***/
/*** ********* ***/
/*** ******************** ***/
/*** eLibrary Content End ***/
/*** ******************** ***/




/*** ************************** ***/
/*** ************************** ***/
/*** eLibrary book detail Begin ***/
/*** ************************** ***/
/*** ************************** ***/

/*** ***************** ***/
/*** book detail Begin ***/
/*** ***************** ***/
.elib_detail_left{
	float: left;
	height: 299px;
	width: 35px;
	background:url(/images/2007a/eLibrary/eLib_bookdetail_01.gif) no-repeat;
	}

.elib_detail_bg{
	float: left;
	height: 299px;
	width: 500px;
	background:url(/images/2007a/eLibrary/eLib_bookdetail_02.gif) repeat-x;
	}

.elib_detail_right{
	float: left;
	height: 299px;
	width: 35px;
	background:url(/images/2007a/eLibrary/eLib_bookdetail_03.gif) no-repeat;
	}

.elib_detail_book{
	float: left;
	height: 299px;
	width: 230px;
	}
	
.elib_detail_book p{
	margin: 0;
	padding: 0;
	display: block;
	/*background:url(/images/2007a/eLibrary/eLib_bookdetail_open.gif) no-repeat;
	background-position: 120px 45px;*/
	}
.elib_detail_book p a{
	border: 1px solid #cccccc;
	}

.elib_detail_book p a:hover{
	border: 1px solid #990000;
	}

/**
.elib_detail_book p a{
	display: block;
	background:url(/images/2007a/eLibrary/eLib_bookdetail_open.gif) no-repeat;
	background-position: 120px 45px;
	}

.elib_detail_book p a:hover{
	background:url(/images/2007a/eLibrary/eLib_bookdetail_open2.gif) no-repeat;
	background-position: 120px 45px;
	}
**/	
.elib_detail_book img{
	margin: 15px 0 0 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	}
	
.elib_detail_info{
	float: right;
	margin: 20px 0 0 0;
	height: 269px;
	width: 270px;
	}

.elib_detail_info table td{
	padding: 3px 0 3px 0}
	
.elib_detail_info .subject{
	font-size: 13px;
	text-align: left;
	font-weight: bold;
	width: 80px;
	float: left;
	}
	





/* Book Description Begin */
.elib_bookdes_wrap{
	width: 342px;
	margin: 0 0 0 10px;
	float: left;
	background:url(/images/2007a/eLibrary/eLib_bookdes_top.gif) no-repeat top;
	}

.elib_bookdes_top{
	font-weight: bold;
	padding: 15px 0 5px 20px;
	width: 342px;
	}
	
.elib_bookdes_body{
	width: 302px;
	padding-top: 10px;
	margin: 0 20px 0 20px;
	background:url(/images/2007a/eLibrary/eLib_bookdes_line.gif) repeat-x top;
	}
	
.elib_bookdes_bottom{
	height: 20px;
	width: 342px;
	background:url(/images/2007a/eLibrary/eLib_bookdes_bottom.gif) no-repeat;
	}
/* Book Description end */

/* tools begin */
.elib_tools_wrap{
	width: 250px;
	margin: 0 0 0 20px;
	float: left;
	}

.elib_tools_wrap .reviews{	
	background:url(/images/2007a/eLibrary/book_reviews.gif) no-repeat top left;
	height: 30px;
	padding: 5px 0 0 30px;
	}
	
.elib_tools_wrap .add_review{	
	background:url(/images/2007a/eLibrary/add_review.gif) no-repeat top left;
	height: 30px;
	padding: 5px 0 0 30px;
	}
	
.elib_tools_wrap .fav_add{	
	background:url(/images/2007a/eLibrary/favourite_add.gif) no-repeat top left;
	height: 30px;
	padding: 5px 0 0 30px;
	}
	
.elib_tools_wrap .fav_remove{	
	background:url(/images/2007a/eLibrary/favourite_remove.gif) no-repeat top left;
	height: 30px;
	padding: 5px 0 0 30px;
	}
	
/* fav layer begin */	
#elib_tools_fav {
	width: 240px;
	height: 100px;
	position:absolute;
	margin: 60px 0 0 30px;
	visibility: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #aeaeae;
	background-color: #f2f2f2;	
	}

#elib_tools_fav .body{
	width: 236px;
	height: 74px;
	text-align: center;
	position:absolute;
	margin: 24px 2px 2px 2px;
	background-color: #ffffff;	
	}
	
#elib_tools_fav .bottom{
	float: right;
	padding-right: 4px
	}

#elib_tools_fav .fav{
	padding: 13px 0 13px 0;
	font-weight: bold;
	}
	
#elib_tools_fav .close {
	float: right;
	margin: 4px 4px 0 0;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background: url(/images/2007a/eLibrary/close_icon.gif) no-repeat;
	}

#elib_tools_fav .close a{
	display: block;
	}
/* fav layer end */	


	
	
/* tools end */

/*** ************************ ***/
/*** ************************ ***/
/*** eLibrary book detail End ***/
/*** ************************ ***/
/*** ************************ ***/
.formbutton_00{
	cursor:pointer;
	border:1px outset #82A4BC;
	color:#0b3a90;
	height:28px;
	padding-top:3px;
	padding-bottom:4px;
	background-image: url(/images/2007a/btn_bg.gif);
	background-position:0px 0px;
}
.formbuttonon_00{
	cursor:pointer;
	border:1px outset #82A4BC;
	color:#3263bd;
	height:28px;
	padding-top:3px;
	padding-bottom:4px;
	background-image: url(/images/2007a/btn_bg.gif);
	background-position:0px -30px;
}



.formsmallbutton_00{
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#000000;
	height:20px;
	padding-top:1px;
	padding-bottom:2px;
	background-image: url(/images/2007a/btn_bg.gif);
	background-position:0px -60px; 

}
.formsmallbuttonon_00{
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#000000;
	height:20px;
	padding-top:1px;
	padding-bottom:2px;
	background-image: url(/images/2007a/btn_bg.gif);
	background-position:0px -90px; 

}


/*** ************************* ***/
/*** ************************* ***/
/*** eLibrary Top Review Begin ***/
/*** ************************* ***/
/*** ************************* ***/
.book_review_top_wrapper {width: 95%; padding-top: 5px;}

.book_review_body_right .info{
	text-align: center;
	width: 100%;
	float: right;
	margin: 0px;
	padding: 6px 0 10px 0;
	}

.book_review_body_right .info img{
	border-width: 1px;
	border-style: solid;
	border-color:#666666;
	}
	
/*** ************************* ***/
/*** ************************* ***/
/*** tr color                  ***/
/*** ************************* ***/
/*** ************************* ***/
td.subtitle {background-color:#bbbbbb} /*19-11-2009*/
td.subtitle a {background-color:#bbbbbb} /*19-11-2009*/
	

/*** *********************** ***/
/*** *********************** ***/
/*** eLibrary Top Review End ***/
/*** *********************** ***/
/*** *********************** ***/




/* CarouselArea Begin  ------ below is for Eli reference ------
.photo_recommend #recommend_wrap{

	padding-right:300px;
	padding-left:20px;
	}

.photo_recommend .float_wrap {
	float: left;
	width: 100%;
	margin-left: -20px;
	margin-right: -300px;
	}

.photo_recommend .photo{
	text-align: center;
	float: left;
	padding: 0 280px 0 0;
	width: 100%;
	position: relative;
	}
	
.photo_recommend .wrapper{
	position:fixed; 
	bottom: -59x;
	}

.photo_recommend img{
	margin: 42px 0 0 0;
	border:1px;
	border-color:#333333;
	border-style:solid;
	}

.photo_recommend .right {
	float: right; 
	width: 300px;
	position: relative;
	margin-right: -300px;
	}
	
.photo_recommend .title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 60px 30px 0 0;
	height: 25px;
	float: right;
	width: 260px;
	color: #b75f2a;
	border-bottom: solid 2px #333333;
	}

.photo_recommend .reason{
	font-size: 12px;
	clear: both;
	margin: 20px 20px 0 0;
	float: right;
	width: 260px;
	height: 120px;
	}
/* CarouselArea End */