/*** Blue ***/
.tablelink {
	text-decoration: none;
	color: #2286C5;
}

#sql_info_div {
	background: #DFE8F6 none repeat scroll 50%;
	border: 1px solid #99BBE8;
	color: #15428B;
	width: 47%;
	height: 100%;
	padding: 0px;
	top: 0px;
	left: 0px;
	overflow: auto;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
}

#history_div {
	background: #DFE8F6 none repeat scroll 50%;
	border: 1px solid #99BBE8;
	color: #15428B;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	width: 29%;
	height: 100%;
	padding: 0px;
	top: 0px;
	left: 0px;
	float: left;
	overflow:auto;
}

#short_cut_div {
	background: #DFE8F6 none repeat scroll 50%;
	border: 1px solid #99BBE8;
	color: #15428B;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	padding: 0px;
	/* width: 230px; */
	width: 22%;
	/* height:180px; */
	height: 100%;
	top: 0px;
	left: 0px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}


.BlueTable thead th {
	text-align: center;
	background: #9abaef;
	color: #15428B;
	font-size: 100% !important;
}
.BlueTable tbody tr { 
	background: #FCFDFE; 
}
.BlueTable tbody tr.odd { 
	background: #eaf3fb; 
}
.BlueTable tbody tr:hover {
	background: #bad6f2;
}
.BlueTable a:link {
	color: #718ABE;
	text-decoration: none;
}
/*
.BlueTable a:visited {
	color: #718ABE;
	text-decoration: none;
}
*/
.BlueTable a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}

.hr_thin{
	border: 1px solid #99BBEE;
}
.hr_thick{
	border: 2px solid #99BBE8;
}

.ResultSetTable th td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
	padding: 4px;
	vertical-align: top;
}
.ResultSetTable th {
	text-align: center;
	background: #9abaef;
	color: #15428B;
	font-size: 100% !important;
	vertical-align: top;
	font-weight: bold;
}
.ResultSetTable tr { 
	background: #FCFDFE; 
}
.ResultSetTable tr.odd { 
	background: #eaf3fb; 
}
.ResultSetTable tr:hover {
	background: #bad6f2;
}
.ResultSetTable a:link {
	color: #718ABE;
	text-decoration: none;
}
.ResultSetTable a:visited {
	color: #718ABE;
	text-decoration: none;
}
.ResultSetTable a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}