@charset "utf-8";
/* CSS Document */
#student_info_table {font-size: 8pt;}
#report_content, .remark, #signature_table {font-size: 10pt;}

#report_content {border-collapse:collapse;}
#report_content td, th {}
#domainTable {border-collapse:collapse; font-size: 10pt;}
#domainTable td, #domainTable th {border: 1px solid;}
.categoryTable {text-align:left; font-size:10pt;}
.attainment_wpds {font-weight: bold; font-size: 10pt;}
#address {font-size: 8pt;}

