@charset "utf-8";
/* CSS Document */
body{background-color:#f9f9f9; min-width:960px;}
p.spacer_margin { line-height:0px; height:0px; clear:both; display:block; padding:0px; margin:0 0 5px 0; height:0px}
#container { display:block; /*width:990px; margin:0 auto;*/ position:relative}
div.digital_channels_content { display:block; background: url(../../../images/2020a/digital_channels/bg.gif) top repeat-x ;}
input, select {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;}
.module_title { height:90px; display:block; position:relative; background-repeat: no-repeat ; background-position:left top; padding-top:10px;  }
.module_title_op { height:35px;}
.module_title_icon { position:absolute; top:8px; left:15px; display:block; height:38px;/*width:420px;*/}
.module_title_icon a { width: 180px; height:38px; display:block;background-repeat: no-repeat ; background-position:left top;}
.module_title_icon:hover { top:9px;}
.module_en { /*background-image:url(../../../images/2020a/eLibplus/title_bg_en.png)*/}
.module_en .module_title_icon a { background-image:url(../../../images/2020a/digital_channels/logo_en.png)}
.module_filter { display:block; position:absolute; right:0; top:10px;  height:25px; width:600px;}


.table_board{	clear:both; display:block; padding:5px; margin-top:10px;}
.table_board h1 { margin:0; padding:0; font-size:1.2em; padding:8px 0px 10px 20px; background: url(../../../images/2020a/eLibplus/icon_table_header.png) no-repeat left top; }
.table_board h1.alert_header { color:#FF0000}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

table.common_table_list {
    border: solid #ccc 1px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px #ccc; 
    -moz-box-shadow: 0 1px 2px #ccc; 
    box-shadow: 0 1px 2px #ccc;         
}

table.common_table_list tr:hover td{
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
table.common_table_list td, table.common_table_list th {
    border-left: 1px solid #ececec;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

table.common_table_list th {
    background-color: #d8d8d8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:    -moz-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:     -ms-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:      -o-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:         linear-gradient(top, #f1f1f1, #d8d8d8);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
	font-weight:normal; color:#000000
}

table.common_table_list td:first-child, table.common_table_list th:first-child {
    border-left: none;
}

table.common_table_list th:first-child {
    -moz-border-radius: 8px 0 0 0;
    -webkit-border-radius: 8px 0 0 0;
    border-radius: 8px 0 0 0;
}

table.common_table_list th:last-child {
    -moz-border-radius: 0 8px 0 0;
    -webkit-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0;
}

table.common_table_list th:only-child{
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 86px 0 0;
    border-radius: 8px 8px 0 0;
}

table.common_table_list tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 8px;
    -webkit-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
}

table.common_table_list tr:last-child td:last-child {
    -moz-border-radius: 0 0 8px 0;
    -webkit-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
}

table.common_table_list tr th a{	color: #000000; text-decoration:none; }
table.common_table_list tr th a.sort_asc {font-weight: bold;display:block; float:left;background:url(../../../images/2020a/icon_table_sort_tool.gif) no-repeat 0px 0px; padding-left:15px; }
table.common_table_list tr th a.sort_asc:hover {	 background-position:0px -80px; }
table.common_table_list tr th a.sort_dec {font-weight: bold;display:block;float:left;background:url(../../../images/2020a/icon_table_sort_tool.gif) no-repeat 0px -160px;padding-left:15px; }
table.common_table_list tr th a.sort_dec:hover {	 background-position:0px -240px; }
table.common_table_list tr th a:hover{	color: #FF0000;}
table.common_table_list .num_check{	width:20px;}
table.common_table_list tr.alert_row td { background:#ffdede}
table.common_table_list tr.sup_top td { background:#ececec}
table.common_table_list tr.alert_row:hover td {    background: #ffd5d5;}
table.common_table_list tr.avaliable_row td { background:#d5f0cd}
table.common_table_list tr.avaliable_row:hover td {    background: #baf1a9;}
table.common_table_list tr.waive_row td { background: #F6F6F6; color:#666666}
table.common_table_list tr.waive_row:hover td {    background: #EBEBEB;}
span.alert_late{ display:block; color:#FF0000; font-weight:bold; background:url(../../../images/2020a/eLibplus/icon_alert.png) no-repeat left top; padding-left:15px; line-height:20px; }
span.alert_avaliable {color:#417406; font-weight:bold}
span.alert_text{color:#FF0000; font-weight:bold}
.table_board .table_filter { padding-bottom:5px;}
.enter_code { display:block; float:right; padding:3px; min-height:30px; line-height:30px;}
.enter_code input.input_code_text {   -moz-border-radius: 8px; padding:3px 8px 3px 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; border:1px solid #CCCCCC; -webkit-box-shadow:0 0 2px #CCCCCC; 
    -moz-box-shadow:0 0 2px #CCCCCC;  
    box-shadow: 0 0 2px #CCCCCC    }

.op_btn { display:block; float:right;padding-left:100px;  width:200px; clear:both;}
.op_num { display:block; padding-right:20px;}
.op_btn span { display:block; float:left; margin-left:-100px; width:100px; font-weight:bold; font-size:1.2em; line-height:35px;}
.op_btn em { display:block; float:left; width:100%; -moz-border-radius: 8px; padding:3px 8px 3px 8px; border-radius: 8px; -webkit-border-radius: 8px; background:#b2e167; line-height:30px;text-align:center;font-style:normal; font-weight:bold; font-size:1.5em;}
.form_btn { display:block; 	text-align:center; padding-top:5px; clear:both;} 
.form_btn input { width:90px;} 
.textboxnum2 {	color: #000000;	width: 40px;}
input.set_borrow { margin-top:2px; clear:both;
 background-color: #b0e473;
   background: -moz-linear-gradient(
		top,
		#d2ffb8 0%,
		#85d444);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d2ffb8),
		to(#85d444));
-moz-border-radius: 8px; padding:2px 5px 3px 5px;
    -webkit-border-radius: 8px;
    border-radius: 8px; border: 1px solid #2ea100; -moz-box-shadow:
		0px 1px 3px rgba(77,77,77,1),
		inset 0px -1px 3px rgba(248,255,227,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(77,77,77,1),
		inset 0px -1px 3px rgba(248,255,227,1);
	box-shadow:
		0px 1px 3px rgba(77,77,77,1),
		inset 0px -1px 3px rgba(248,255,227,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	color: #184e01; font-weight:bold 
	}
	
	
input.set_borrow:hover { background-color: #d2f1ae;
   background: -moz-linear-gradient(
		bottom,
		#d2ffb8 0%,
		#85d444);
	background: -webkit-gradient(
		linear, left bottom, left top, 
		from(#d2ffb8),
		to(#85d444));
	
	5px; padding:3px 5px 2px 5px;}
/*************************** Portal ********************************/
.select_book_type {display:block; float:right; padding-right:10px; border-right:1px solid #c3c9c7; margin-right:10xp  }
.select_book_type em { display:block; float:right; padding-right:5px; font-style:normal; line-height:25px;}
.dropdown { float:right; display:block; margin:0; padding:0; font-size:1.1em}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px;}
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt { height:20px; line-height:20px; min-width:170px;}
.dropdown dt a:hover { color:#5d4617;border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px; color:#FF0000;}
.dropdown dt a {background:url(../../../images/2020a/eLibplus/select_arrow.png) no-repeat scroll right center #FFF; display:block;  padding:2px 8px 2px 8px; height:20px; padding-right:20px;border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px; border:1px solid #CCCCCC; border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px; box-shadow: #e1e1e1 0 0 3px inset;}
.dropdown dt a span {cursor:pointer; display:block; font-style:normal; color: #104E9A;}
.dropdown dd ul { background:#FFFFFF none repeat scroll 0 0; border:1px solid #eaeaea; color:#C5C0B0; display:none; right: 0px; padding:2px 0px; position:absolute; top:10px; width:auto; min-width:160px; list-style:none;border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px;box-shadow: #CCCCCC 0 0 2px; z-index:9999}
.dropdown span.value { display:none;}
.dropdown dd ul li { padding:1px 5px 1px 5px; margin-bottom:3px;}
.dropdown dd ul li a { padding:2px 5px 2px 5px; display:block; color:#9b9b9b;border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 6px; height:20px; line-height:20px;}
.dropdown dd ul li a:hover  {color:#FF0000;}
.dropdown dd ul li.selected a { background-color:#3c6eac; color:#FFFFFF;}

   

.search {display:block; float:right; padding-right:20px; width:250px; }
.search input{ display:block; float:right; margin-right:10px; width:130px; border:1px solid #CCCCCC; border-radius: 10px;-moz-border-radius: 10px;  -webkit-border-radius: 10px; box-shadow: #e1e1e1 0 0 3px inset; background:url(../../../images/2020a/eLibplus/icon_search.png) no-repeat 5px center #FFF; height:20px; line-height:20px; padding:2px 8px 2px 25px;}
.search input:focus{ background-color:#FFFF99}
.search a { display: block; float:right; line-height:25px; color:#1b72af}
.search a:hover { color:#FF0000}
/***************************/
.digital_channels_menu {display: block;clear:both;height:30px;position:absolute;bottom:15px;width:100%}
.digital_channels_menu ul { margin:0; padding:0; padding-left:10px;}
.digital_channels_menu ul li { list-style-type:none; display:block;float:left; padding-left:26px; height:30px; background:url(../../../images/2020a/digital_channels/menu_btn_bg.png) no-repeat left 1000px; padding-right:5px;}
.digital_channels_menu ul li div{ display:block; padding-right:26px; height:25px; padding-top:5px; background:url(../../../images/2020a/digital_channels/menu_btn_bg.png) no-repeat right 1000px; position:relative}

.digital_channels_menu ul li a{ margin-left:-22px; margin-right:-15px; height:25px; line-height:25px; display:block; position:relative; padding-left:25px; background:url(../../../images/2020a/digital_channels/icon_menu.png) no-repeat left; color: #0f4f8f; font-size:1.1em;}
/*.eLib_menu ul li a:hover span{ color:#9e1313; text-shadow:#ffde00 0 0 8px}
.eLib_menu ul li.selected a span{ color:#9e1313; text-shadow:0px 0px 8px #f2cd00; font-size:1em; font-weight:bold }*/

.digital_channels_menu ul li a.menu_icon_cat { background-position:left 0px;}
.digital_channels_menu ul li.selected a.menu_icon_cat  { background-position:left -25px;}
.digital_channels_menu ul li a.menu_icon_ranking { background-position:left -50px;}
.digital_channels_menu ul li.selected a.menu_icon_ranking  { background-position:left -75px;}
.digital_channels_menu ul li a.menu_icon_favorites { background-position:left -50px;}
.digital_channels_menu ul li.selected a.menu_icon_favorites  { background-position:left -75px;}
.digital_channels_menu ul li a.menu_icon_record  { background-position: left -100px;}
.digital_channels_menu ul li.selected a.menu_icon_record  { background-position:left -125px;}
.digital_channels_menu ul li a.menu_icon_organize  { background-position: left -100px; color:#666666}
.digital_channels_menu ul li.selected a.menu_icon_organize  { background-position:left -125px;}
.digital_channels_menu ul li a.menu_icon_report { background-position: left -150px; }/*20131003*/
.digital_channels_menu ul li.selected a.menu_icon_report  { background-position:left -175px;  }/*20131003*/
.digital_channels_menu ul li a.menu_icon_admin{ background-position:left -200px; color:#666666}
.digital_channels_menu ul li.selected a.menu_icon_admin  { background-position:left -225px;}
.digital_channels_menu ul li a.menu_icon_admin_setting{ background-position:left -250px; color:#666666}
.digital_channels_menu ul li.selected a.menu_icon_admin_setting  { background-position:left -275px; color:#666666}
.digital_channels_menu ul li.selected { background-position: left top;}
.digital_channels_menu ul li.selected div{ background-position: right -35px;}
.digital_channels_menu ul li.selected  a{ color:#4c8200; font-weight:bold}
.digital_channels_menu ul li a.menu_icon_record .record_alert {position:absolute; display:block; left:-2px; top:-5px; background:url(../../../images/2020a/digital_channels/alert_bg.png); line-height:normal; width:30px; height:20px; padding-top:5px; font-size:0.9em; font-weight:bold; text-align:center; color:#FFFFFF}
.digital_channels_menu ul li a:hover .record_alert { color: #FFFF00}
.digital_channels_menu ul li  a.setting_theme { background-position:left -300px; color:#666666}
.digital_channels_menu ul li a:hover { color:#FF0000}

/***************************/

.most_tag_1 {  display:block; height:60px; width:40px; background:url(../../../images/2020a/eLibplus/most_tag.png) no-repeat left top; position:absolute; top:20px; right:-15px;}
.most_tag_2 { display:block; height:60px; width:40px; background:url(../../../images/2020a/eLibplus/most_tag.png) no-repeat left -100px; position:absolute; top:40px; right:-15px;}
.most_tag_3 {  display:block; height:60px; width:40px; background:url(../../../images/2020a/eLibplus/most_tag.png) no-repeat left -200px; position:absolute; top:40px; right:-15px;}


a.btn_more { display:block; clear:both; float:right; color:#633f0c;}
a.btn_more:hover { text-decoration:underline}
.portal_news_content a.btn_more{ margin-right:-5px; padding-top:5px; line-height:25px; }



/*******************************************/
body.bookdetail_bg{ background:none;  min-width:600px; width:auto; height:600px;}
body.news_list_bg{ min-width:500px; width:auto; height:500px; background: url(../../../images/2020a/eLibplus/news_list_bg.png) repeat-x top; /*box-shadow:0 5px  5px #CCC inset*/}
body.magazine_list_bg{ background:none;  min-width:530px; width:530px; height:300px;} /*20130711*/
body.magazine_issue_list_bg{ background:none;  min-width:800px; width:800px; height:500px;} /*20130711*/
.book_detail_board { }
/** for fancy box**/
.fancybox-skin {
	 background:url(../../../images/2020a/eLibplus/pop_bg.png) top #fdf4eb;
		-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.fancybox-overlay {	background: url(../../../images/2020a/eLibplus/bg_pop.png);}
/******************************/


/****************************/

.record_content { display:block; padding-left:210px; background:url(../../../images/2020a/eLibplus/record_board_bg_shadow.png) no-repeat -28px top; min-height:480px}
.record_content_menu { display:block; float:left; margin-left:-210px; width:188px;}
.record_menu { display:block; margin-left:-20px; width:207px; padding-top:10px;}
.record_menu  ul { display:block; margin:0; padding:0;}
.record_menu  ul li { display:block; list-style-type:none; clear:both;}
.record_menu  ul li  a {background:url(../../../images/2020a/eLibplus/record_menu.png) no-repeat left top; height:35px; padding: 13px 25px 2px 25px;   display:block; vertical-align: middle; color:#767676; line-height:15px;}
.record_menu  ul li  a:hover { background-position: left -50px;}
.record_menu  ul li.current_tab a { background-position: left -100px;color:#0c3466; font-weight:bold;padding: 14px 25px 1px 20px;}
.record_content_detail { display:block; width:100%; float:left;}
.record_tab { display:block; clear:both; background:url(../../../images/2020a/eLibplus/record_tab.png) repeat-x bottom; height:35px; padding-left:10px;}
.record_tab ul { display:block; clear:both; margin:0; padding:0;}
.record_tab ul li { display:block; float:left; list-style-type:none; height:35px;}
.record_tab ul li a { display:block; padding-left:14px;  background:url(../../../images/2020a/eLibplus/record_tab.png) no-repeat left -70px;}
.record_tab ul li a span{ display:block; background:url(../../../images/2020a/eLibplus/record_tab.png) no-repeat right -105px; height:20px; padding:12px 14px 3px 0px; color:#4284a6}
.record_tab ul li.current_tab a, .record_tab ul li a:hover{ background-position:left 0px;}
.record_tab ul li a:hover span, .record_tab ul li.current_tab a span{ background-position:right -35px; color:#FF0000;}
.record_tab ul li.current_tab a span{ color:#215875; font-weight:bold;padding:15px 14px 0px 0px;}
.common_tab { display:block; clear:both; background:url(../../../images/2020a/eLibplus/common_tab.png) repeat-x bottom; height:35px; padding-left:10px;}
.common_tab ul { display:block; clear:both; margin:0; padding:0;}
.common_tab ul li { display:block; float:left; list-style-type:none; height:35px;}
.common_tab ul li a { display:block; padding-left:14px;  background:url(../../../images/2020a/eLibplus/common_tab.png) no-repeat left -70px;}
.common_tab ul li a span{ display:block; background:url(../../../images/2020a/eLibplus/common_tab.png) no-repeat right -105px; height:20px; padding:12px 14px 3px 0px; color:#4284a6}
.common_tab ul li.current_tab a, .common_tab ul li a:hover{ background-position:left 0px;}
.common_tab ul li a:hover span, .common_tab ul li.current_tab a span{ background-position:right -35px; color:#FF0000;}
.common_tab ul li.current_tab a span{ color:#000000; font-weight:bold;padding:15px 14px 0px 0px;}
.table_board h1.record_loan_type_01 { background:none; padding-left:5px; }
.table_board h1.record_loan_type_01 span{ font-weight:normal; float:right; font-size:0.8em; padding-right:10px;}
.table_board h1.record_loan_type_02 { background:none; padding-left:5px; }
.table_board h1.record_loan_type_03 { background:none; padding-left:5px; color:#FF0000}
.ebook_title {display:block; padding-left:30px;}
a.icon_read_now { display:block; float:left; margin-left:-30px; width:30px; height:20px; background:url(../../../images/2020a/eLibplus/icon_ebook_s.png) no-repeat left top;}
a.icon_read_now:hover { background-position:left bottom}
a.book_title { display:block; float:left; width:100%; line-height:20px;}
.book_progress { display:block; background:#e6e6e6; border:1px solid #9b9b9b; position:relative; overflow:hidden; height:20px; width:100px; box-shadow: #888 0 0px  3px; border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px;}
.book_progress span{ position:absolute; display:block; width:100%; height:25px;box-shadow: #666 0 0px  5px; top:-2px;
 background:#7ecdeb;
   background: -webkit-gradient(linear, top, bottom, from(#f2fafb), to(#57a0df));
    /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f2fafb, #57a0df);
    /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f2fafb, #57a0df);
    /* IE 10 */
  background: -ms-linear-gradient(top, #f2fafb, #57a0df);
    /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f2fafb, #57a0df);}
.book_progress em { display:block; width:100%; position:absolute; text-align:center; text-shadow:0 0px 10px #FFF ; font-style:normal; line-height:20px; color:#2b4801;}
.book_progress span.done { background:#c3fa96;
   background: -webkit-gradient(linear, top, bottom, from(#f3ffea), to(#8bd53a));
    /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f3ffea, #8bd53a);
    /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f3ffea, #8bd53a);
    /* IE 10 */
  background: -ms-linear-gradient(top, #f3ffea, #8bd53a);
    /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f3ffea, #8bd53a);}
  /********************/
.cat_content{ display:block; position:relative; top:-10px;}
.fav_content{ display:block; position:relative; padding-top:10px }
.rank_content { display:block; position:relative; padding-top:0px ;padding-left:210px;}
.report_content { display:block; position:relative; padding-top:0px ;padding-left:200px;}
.book_cat_nav { display:block; padding:0; margin:0; float:left; }
.book_cat_filter{ display:block; float:left; height:30px; padding-top:3px; position:relative;}
a.book_cat_select { display:block; border:1px solid #CCCCCC; border-radius: 5px;-moz-border-radius: 5px;  -webkit-border-radius: 5px; box-shadow: #888 0 0 2px ; background:url(../../../images/2020a/eLibplus/select_arrow.png) no-repeat right center; height:20px; line-height:20px;  padding-right: 20px; padding-left:10px; color:#104e9a;}
/**********************/
.book_cat_filter_board{ top:85px; left:10px; position:absolute;  display:block; border:1px solid #CCCCCC; border-radius: 10px;-moz-border-radius: 10px;  -webkit-border-radius: 10px; box-shadow:  0 0 5px #888 ; visibility:hidden; min-height:300px; max-height:500px; width:250px; background:#FFFFFF; z-index:9999;}/*20130311*/
a.btn_list_all { display:block; line-height:25px; float:right; margin-right:10px; color:#115c8b}

.cat_list { padding:5px;}
.cat_item_list{ display:block; float:left; width:100%; padding-top:5px;}
.cat_item_list h1 { display:block; font-size:1em; padding:5px 5px 5px 12px; margin:0; clear:both}
.cat_item_list h1 a{color:#115c8b}
.cat_item_list ul { display:block; clear:both; margin:0 5px 0 5px; padding:5px;border-radius: 5px;-moz-border-radius: 5px;  -webkit-border-radius: 5px;
background:#f2f9fe;
   background: -webkit-gradient(linear, top, bottom, from(#e9f5fd), to(#ffffff));
    /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #e9f5fd, #ffffff);
    /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #e9f5fd, #ffffff);
    /* IE 10 */
  background: -ms-linear-gradient(top, #e9f5fd, #ffffff);
    /* Opera 11.10+ */
  background: -o-linear-gradient(top, #e9f5fd, #ffffff);
 }
.cat_item_list ul li { display:block;margin:0; padding:0; clear:both; list-style-type:none; margin-bottom:2px;}
.cat_item_list ul li a{ display:block; padding-left:25px; background:url(../../../images/2020a/eLibplus/icon_nav.png) no-repeat left top; min-height:25px; line-height:18px; padding-top:3px; color:#105697}
a.book_cat_select:hover, a.btn_list_all:hover, .cat_item_list a:hover{color:#ff0000}
/**************/
.book_cat_filter_board  .cat_item_list ul li { display:block;margin:0; padding:0; clear:both;  margin-bottom:2px;  float:left;}
.book_cat_filter_board  .cat_item_list ul li a{ margin:0; padding:0; padding-left:25px;padding-top:3px; line-height:18px; min-height:20px;  display:block; float:left; background-position:left top;  }
 .book_cat_filter_board  .cat_item_list h1 a{color:#115c8b; min-height:20px; line-height:25px; padding:0;clear:both; float:left; margin:0;}

 .common_tab ul li { margin-right:0;display:block; float:left; list-style-type:none; height:35px;}
 .common_tab ul li a { min-height:35px; float:left; line-height:20px;}
.book_cat_filter_board a.btn_list_all { min-height:20px; line-height:25px; margin:0; padding:0;margin-right:10px;}
.common_tab ul li a span{ line-height:20px; font-size:0.9em; display:block; background:url(../../../images/2020a/eLibplus/common_tab.png) no-repeat right -105px; min-height:20px; padding:12px 14px 3px 0px; color:#4284a6}
.common_tab ul li a span:hover { text-shadow:none;}
.common_tab ul li.current_tab a,  .common_tab ul li a:hover{ background-position:left 0px;}
.common_tab ul li a:hover span, .common_tab ul li.current_tab a span{ background-position:right -35px; color:#FF0000;}
.common_tab ul li.current_tab a span{ color:#000000; font-weight:bold;padding:15px 14px 0px 0px;}

.book_cat_filter_board ul li .cat_item_list h1 a{ height:25px;}

/***************/
span.book_result{padding-left:25px; background:url(../../../images/2020a/eLibplus/icon_nav.png) no-repeat left top; display:block; float:left; line-height:30px;}
.toggle_tool { display:block; float:right; height:30px; line-height:30px; }   
.toggle_tool ul { float:right; display:block; margin:0; padding:0;}         	
.toggle_tool ul li{ display:block; float:right; list-style-type:none; margin-right:2px;}
.toggle_tool ul li a { display:block; height:30px; width:30px; background:url(../../../images/2020a/eLibplus/icon_toggle.png) no-repeat left top;}
.toggle_tool ul li a.view_thumb_mail { background-position:left top}
.toggle_tool ul li a.view_thumb_mail:hover, .toggle_tool ul li.selected a.view_thumb_mail { background-position:right top}
.toggle_tool ul li a.view_list {background-position:left -30px;}
.toggle_tool ul li a.view_list:hover, .toggle_tool ul li.selected a.view_list {background-position:right -30px;}

a.btn_load_more{border-radius: 5px;-moz-border-radius: 5px; text-align:center;  -webkit-border-radius: 5px; box-shadow: #888 0 0 2px ; background:#105697; color:#FFFFFF; padding:3px 10px 3px 10px; display:block; margin:0 auto; width:100px;}
a.btn_load_more:hover{b box-shadow: #888 0 0 5px ; background:#FF0000;}

.rank_menu {display:block; margin-left:-220px; width:210px;float:left; background:url(../../../images/2020a/eLibplus/rank_menu_board.png) no-repeat left top;}
.rank_menu ul li.book, .rank_menu ul li.reviewer, .rank_menu ul li.review { background: url(../../../images/2020a/eLibplus/dot_bg.gif) repeat-x 2px; margin-right:20px;margin-left:45px; display:block; min-height:25px; clear:both}
.rank_menu ul li.book span{ background:url(../../../images/2020a/eLibplus/icon_rank.png) no-repeat left -200px; display:block; height:25px; width:25px; float:left; margin-left:-25px;}
.rank_menu ul li.reviewer span{ background:url(../../../images/2020a/eLibplus/icon_rank.png) no-repeat left -300px; display:block; height:25px; width:25px; float:left; margin-left:-25px;}
.rank_menu ul li.review span{ background:url(../../../images/2020a/eLibplus/icon_rank.png) no-repeat left -400px; display:block; height:25px; width:25px; float:left; margin-left:-25px;}
.rank_menu  ul { display:block; margin:0; padding:0; padding-top:10px; margin-left:-6px;}
.rank_menu  ul li { display:block; list-style-type:none; clear:both;}
.rank_menu  ul li  a {background:url(../../../images/2020a/eLibplus/rank_menu.png) no-repeat left top; height:35px; padding: 13px 25px 2px 25px;   display:block; vertical-align: middle; color:#767676; line-height:15px; vertical-align:middle}
.rank_menu  ul li  a:hover { background-position: left -50px;}
.rank_menu  ul li.current_tab a { background-position: left -100px;color:#0c3466; font-weight:bold;padding: 14px 25px 1px 20px;}






.setting_bg .edit_bottom {display:block; position:absolute; bottom:0px; left:10px; height:30px; width:95%; text-align:center; padding-top:15px; margin:0 auto;}
/********bookshelf type***********/
/*type 01*/
.digital_channels_bg .bookshelf { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_left.png)}
.digital_channels_bg .bookshelf_right { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_right.png)}
.digital_channels_bg .bookshelf_bg { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_bg.png)}
.digital_channels_bg .portal_new_recommend .bookshelf { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_recommend_left.png); }
.digital_channels_bg .portal_new_recommend .bookshelf_right { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_recommend_right.png); }
.digital_channels_bg .portal_new_recommend .bookshelf_bg { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_recommend_bg.png);}
.digital_channels_bg .portal_recommend_back {background: url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_recommend_backdrop.png)}
.digital_channels_bg_sky .portal_recommend_back {background: url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_recommend_backdrop_sky.gif)}
.digital_channels_bg .portal_mostrate .bookshelf { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_mostrate_left.png)}
.digital_channels_bg .portal_mostrate .bookshelf_right { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_mostrate_right.png)}
.digital_channels_bg .portal_mostrate .bookshelf_bg { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_mostrate_bg.png)}
.digital_channels_bg .portal_mosthit .bookshelf { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_mosthit_left.png)}
.digital_channels_bg .portal_mosthit .bookshelf_right { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_mosthit_right.png)}
.digital_channels_bg .portal_mosthit .bookshelf_bg { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bs_mosthit_bg.png)}
.digital_channels_bg .ranking_book_list_book { background-image:url(../../../images/2020a/eLibplus/bookshelf/type_01/bookshelf_alone.png)}



/********bookshelf type end***********/
/**********theme****************/

.seasonal_deco { display:block; position:absolute; }


/* rainbow*/

.theme_rainbow div.digital_channels_content { background:#f9f9f9 url(../../../images/2020a/digital_channels/theme/rainbow/bg.gif) repeat-x  left top ;}

h1.magazine_title_learnthenews { background:url(../../../images/2020a/eLibplus/epost/magazine_title.png) no-repeat left top; width:225px; height: 50px; text-align:center; color:#FFF; font-weight:normal; font-family:"Comic Sans MS", Georgia; font-size:1.5em; line-height:50px; display:block; position:absolute; top:-10px; }
h1.magazine_title_learnthenews span { background: url(../../../images/2020a/eLibplus/epost/magazine_title_learnthenews.png) no-repeat center; display:block; height:50px;}
/********* toggle button  start 20131104 **********/



/*----------   main_content  ----------*/

/********* album**************/
ul.album_list { margin:0; padding:0px; display:block; padding-top:10px;}
ul.album_list li { display:block; margin:5px; padding:10px; list-style-type:none; float:left; width:188px;position:relative;}
ul.album_list li a { display:block; background: no-repeat center top url(../../../images/2020a/digital_channels/album_bg.png); position:relative;width:188px;min-height:230px;}
ul.album_list li a.new_categories span { position:absolute; top:125px;display:block;  text-align:center; width:188px;  color:#005dc6; font-size:1.3em;}
ul.album_list li a.new_categories:hover span {color:#FF0000}
ul.album_list li a.new_categories span.add { position:absolute; top:60px; display:block; background:url(../../../images/2020a/digital_channels/new_categories.png) no-repeat center 0;  width:188px; height:50px;text-align:center;}
ul.album_list li a.new_categories:hover span.add {background:url(../../../images/2020a/digital_channels/new_categories.png) center -50px no-repeat }



/*ul.album_list li a div {padding:200px 5px 0px 5px;  height:60px; line-height:20px; text-align:left; color:#005dc6; font-size:1.3em; overflow:hidden; text-shadow:1px 1px 3px #FFF;
}*/
ul.album_list li a div{
padding:200px 5px 0px 5px;  height:60px; line-height:20px; text-align:left; color:#005dc6; font-size:1.3em; overflow:hidden; text-shadow:1px 1px 3px #FFF;width:178px;display: inline-block;word-wrap: break-word;}
ul.album_list li a em { display:block;  top:-10px; right:-15px; position:absolute;height:45px; width:45px;text-align:center; color:#FFFFFF; font-weight: bold; text-shadow:0 0 1px #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif; font-size:0.7em; background:url(../../../images/2020a/digital_channels/module_icon/alert_bg.png); line-height:45px; font-style:normal; z-index:2}
/*20130930 start*/
ul.album_list li a span i { font-style:normal; font-size:0.7em; color:#999999; padding-left:5px;} 
ul.album_list li a span.photo_date { font-size:0.8em; color:#999; padding:0; display:block; }
ul.album_list li a span.photo_number { font-size:0.8em; color:#999;padding:0 0 0 5px; }

ul.album_list li a:hover span.photo_date { color:#999}
ul.album_list li a:hover span.photo_number { color:#999}
.btn_access_ppl{display:block; position: absolute; bottom:20px; width:25px; height:25px;  right:0; z-index:999; }/*20131003*/
ul.album_list li .btn_access_ppl span {display:block;background:url(../images/icon_access.png) no-repeat left top; padding:0;  min-height:25px; width:25px; height:25px; right:0; top:0;}
.access_ppl_layer {display:block; z-index:9999; visibility:hidden;border-radius:5px;  width:135px; height:auto; padding:6px; background:#fff; border:#CCC; box-shadow:0 0 3px #888; position:absolute; bottom:20px; right:0;  text-align:left; font-size:0.9em; color:#666;}/*20131003*/
.access_ppl_layer h1 {display:block; padding:0; margin:0; font-size:1em; font-weight:normal; text-shadow:none; color:#fff; background:#888; border-radius:5px; padding:3px; clear:both; margin-bottom:10px;}
.access_ppl_list { display:block; height:150px; overflow:auto}/*20131003*/
.access_ppl_layer p {padding:2px; margin:0; margin-bottom:5px}
ul.album_list li a img {vertical-align:middle; display:block;  z-index:1; border:0; /*max-width:25em;max-height:25em;*/position:absolute; margin:auto;top:0;bottom:0;left:-50%;right:-50%;}

.photo_pic{position:absolute; right:1px;top:10px; width:185px; height:185px; overflow: hidden; text-align: center; vertical-align:middle; display:block;background-size:cover; background-position:center; background-repeat: no-repeat; margin:0 auto 0 auto;}




ul.album_list li a .add_ablum_block{position:absolute; padding:0; left:2px; top:10px;}
ul.album_list li a .add_ablum{float:left; position: relative; width:90px; height:90px; display:block; overflow:hidden;  border:1px solid #e7e7e7}
/*ul.album_list li a img.add_ablum_images{ display:block;  position:absolute;  z-index:1;border:0;vertical-align:middle;  z-index:1; max-width:12em; max-height:12em; margin:auto;top:0;bottom:0;left:-50%;right:-50%;}*/
ul.album_list li a img.add_ablum_images{ display:block;  position:absolute;  z-index:1;border:0;vertical-align:middle;  z-index:1; max-width:12em; max-height:12em; margin:auto;top:-50%;bottom:-50%;left:-50%;right:-50%;}
 

ul.album_list li:hover, ul.album_list li:active { margin-top:6px; margin-bottom:4px;}
ul.album_list li a:hover span, ul.album_list li a:hover div, ul.album_list li a:active span{ color:#ff0000;text-shadow:1px 1px 3px #ffddd9;} 


/*
.content { background-color:rgba(255, 255, 255, 0.7);padding:0px;vertical-align:top; margin-bottom:10px; border-top:1px solid #ececec; border-bottom:1px solid #ececec; }*/
.content_tool{ float:left; padding:0 0 0 10px;}
.content_tool a{color:#1b72af;}
.content_tool a:hover{color:#FF0000}
.edit_content{padding-left:20px; display:block; float:left; height:20px; line-height:20px; 	color: #9966CC;	background:url(../../../images/2020a/content_icon.gif) 0px -241px no-repeat;  padding-right:3px; margin-right:3px}
.quick_add_content{padding-left:20px; display:block; float:left; height:20px; line-height:20px; color: #9966CC;	background:url(../../../images/2020a/content_icon.gif) 0px -381px no-repeat;  padding-right:3px; margin-right:3px}

.album_content{ background:url(../../../images/2020a/digital_channels/bg.png); padding:10px 15px 10px 15px;vertical-align:top; margin-bottom:10px; border-top:1px solid #ececec; border-bottom:1px solid #ececec;}
.album_content_portal{ background:url(../../../images/2020a/digital_channels/bg_gray.png); padding:10px 15px 10px 15px;vertical-align:top; margin-bottom:10px; border-top:1px solid #ececec; border-bottom:1px solid #ececec;}
.album_form {padding-left:120px; padding-right:250px;display:block; padding-bottom:10px;}/*20131003*/
.album_form_title {display:block; float:left; margin-left:-120px; width:120px; line-height:25px; }
.album_form_title_eng {display:block; float:left; margin-left:-120px; width:160px; line-height:25px; }
.album_form_input {width:100%; height:20px; padding:2px 5px 2px 5px; float:left;border:1px solid #CCCCCC;  border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px; margin-bottom:10px;}
.album_form_bilingual_input {width:90%; height:20px; padding:2px 5px 2px 5px; border:1px solid #CCCCCC;  border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px; margin-bottom:10px;}
.album_form_select{ height:25px; padding:2px 5px 2px 5px; float:left;border:1px solid #CCCCCC;  border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px; margin-bottom:10px;}
.album_form_date_access {float:right; margin-right:-238px;  margin-top:0px; width:200px; line-height:20px; padding-right:20px;}
.album_form_date_access input_date { display:block}
.album_form_date_access_input{border:1px solid #CCCCCC;  border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px;  padding:2px 5px 2px 5px; height:20px; width:100px;}

/*.album_form_date_access a { display:block; float:right; margin-right:-25px; height:25px; width:25px; background-image:url(../../../images/2020a/digital_channels/icon_content.png); background-repeat:no-repeat; }
.album_form_date_access a.btn_select_calendar{ background-position:left -400px;}
.album_form_date_access a.btn_select_calendar:hover{ background-position:left -425px;}
.album_form_date_access a.btn_select_ppl{ background-position:left -450px;}
.album_form_date_access a.btn_select_ppl:hover{ background-position:left -475px;}*/
.album_form_radio{height:25px; vertical-align:middle;}
.album_add_photo_area{display: block; border:3px dashed #006699; min-height:200px; padding:10px; background:#FFF; text-align:center; padding-top:80px; box-shadow:0 0 5px #CCC; margin-top:15px; margin-bottom:15px;}
.album_add_photo_area a{color:#1b72af}
.album_add_photo_area a:hover{color:#FF0000}
.drag_photos_top { height:1px; display:block; clear:both; border-top:1px dashed #CCCCCC; text-align:center; margin:10px 0 0 0;}
.album_form_textarea { float:left; margin-right:10px; vertical-align:middle;}
.album_form_textarea_input{border:1px solid #CCCCCC;  border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px;  padding:2px 5px 2px 5px; height:20px;}
.album_form_textarea_select{border:1px solid #CCCCCC;  border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px;  padding:2px 5px 2px 5px; min-width:150px}
.album_form_textarea_calendar { float:left; margin-right:10px; margin-bottom:10px; vertical-align:middle;}
.album_form_textarea ul {display:block; margin:0; padding:0;}
.album_form_textarea li{list-style: none; margin-bottom:10px; margin-left:24px; display: table; }
.album_form_block{margin-left:24px; display: table;}

.photo_thumb_list {display:block; padding:10px;}
.photo_thumb_list ul { margin:0; padding:0; padding-bottom:30px; }
.photo_thumb_list ul li { list-style-type:none; float:left; padding:10px; position:relative;display:block;width:184px; height:184px;}
.photo_thumb_list ul li div { /*display:block;width:170px; position:absolute*/}
.photo_thumb_list ul li img { }
.photo_thumb_list ul li div  em{ /*display:none; font-style:normal;*/}
.photo_thumb_list ul li:hover div {/* padding:4px; margin:-5px; background:#FFF; border:1px solid #CCC; z-index:999; box-shadow:0 0 3px #888*/}
.photo_thumb_list ul li:hover div  em { /*display:block; padding-top:5px;*/ }
.photo_thumb_list ul li div  em { display:block;  top:-10px; right:-15px; position:absolute;height:45px; width:45px;text-align:center; color:#FFFFFF; font-weight: bold; text-shadow:0 0 1px #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif; font-size:0.7em; background:url(../../../images/2020a/digital_channels/module_icon/alert_bg.png); line-height:45px; font-style:normal; z-index:2}
/*20130930 start*/

.photo_list {display:block; padding:10px;}
.photo_list ul { margin:0; padding:0; padding-bottom:30px; }
.photo_list ul li { list-style-type:none; float:left; padding:2px; position:relative;display:block;}
.photo_list ul li div { display:block; width: 81px; height: 81px; border:0px; text-align:center; background-size:contain; background-position:center; background-repeat: no-repeat; margin:0 auto 0 auto; }
/*.photo_list ul li img { display:block;  z-index:1; border:0; max-width:10em;max-height:10em;position:absolute; margin:auto;top:0;bottom:0;left:-50%;right:-50%; }*/
.photo_list ul li img { display:block;  z-index:1; border:0; max-width:10em;max-height:10em;position:absolute; margin:auto;top:-50%;bottom:-50%;left:-50%;right:-50%; }
.photo_list ul li:hover div {/* padding:4px; margin:-5px; background:#FFF; border:1px solid #CCC; z-index:999; box-shadow:0 0 3px #888*/}
.photo_list ul li:hover div  em { /*display:block; padding-top:5px;*/ }


.photo_list ul li span {display:block; width: 81px; height: 81px; border:0px; text-align:center; background-size:contain; background-position:center; background-repeat: no-repeat; margin:0 auto 0 auto; overflow:hidden;}	




/******** Attendance***********/
table.common_table_list tr td.row_present {background:#d2eea2}
table.common_table_list tr td.row_present_sub {background:#e7f6cb}
table.common_table_list tr td.row_absent {background:#f9d3d3}
table.common_table_list tr td.row_outing {background:#dcf5ff}
table.common_table_list tr td.row_class_col { background: #DFDFDF; border-right:2px solid #999999; border-top-color:#FFFFFF} /*20131008*/
table.common_table_list tr th.row_title_class { background:#999999; color:#FFF; border-right:2px solid #999999; border-bottom:2px solid #999999}/*20131008*/
/*************/
.Content_tool{	float:left; padding:2px; display:block;	padding-bottom:5px; font-family:Verdana, Arial,"新細明體"; font-size:1.2em;}
//.Content_tool a{	 background: url(../../../images/2020a/digital_channels/icon_content.png) no-repeat; padding-left:25px; display:block; float:left; height:25px; line-height:25px;	color: #0f5b91;margin-left:5px;}
.Content_tool a:hover{	 	color: #FF0000;}
/*.Content_tool a.new{		 background-position: 0px -20px;}
.Content_tool a.new:hover{		 background-position: 0px -40px;}*/
.Content_tool a.new{		 background-position: 0px 0px;}
.Content_tool a.new:hover{		 background-position: 0px -25px;}
.Content_tool a.new_small{		 background-position: 0px -100px;}
.Content_tool a.new_small:hover{		 background-position: 0px -125px;}
.Content_tool a.manage{		 background-position: 0px -220px;}
.Content_tool a.manage:hover{		 background-position: 0px -240px;}
.Content_tool a.export{		 background-position: 0px -250px;}
.Content_tool a.export:hover{		 background-position: 0px -275px;}
.Content_tool a.import{		 background-position: 0px -300px;}
.Content_tool a.import:hover{		 background-position: 0px -325px;}

.Content_tool a.print{		 background-position: 0px -200px;}
.Content_tool a.print:hover{		 background-position: 0px -225px;}
.Content_tool a.new_qb_ref{		 background-position: 0px -1040px;}
.Content_tool a.new_qb_ref:hover{		 background-position: 0px -1060px;}
.Content_tool a.new_file{		 background-position: 0px -1040px;}
.Content_tool a.new_file:hover{		 background-position: 0px -1060px;}
.Content_tool a.new_folder{		 background-position: 0px -1080px;}
.Content_tool a.new_folder:hover{		 background-position: 0px -1100px;}
.Content_tool a.upload_file{		 background-position: 0px -1120px;}
.Content_tool a.upload_file:hover{		 background-position: 0px -1140px;}
.Content_tool a.edit_text{		 background-position: 0px -148px;}
.Content_tool a.edit_text:hover{		 background-position: 0px -125px;}
.Content_tool a.quote_msg{		 background-position: 0px -1260px;}
.Content_tool a.quote_msg:hover{		 background-position: 0px -1280px;}
.Content_tool a.to_top{		 background-position: 0px -1420px;}
.Content_tool a.to_top:hover{		 background-position: 0px -1440px;}
.Content_tool a.expand{		 background-position: 0px -1500px;}
.Content_tool a.expand:hover{		 background-position: 0px -1520px;}
.Content_tool a.collapse{		 background-position: 0px -1460px;}
.Content_tool a.collapse:hover{		 background-position: 0px -1480px;}
.Content_tool a.refresh { background-position: 0px -350px;}
.Content_tool a.refresh:hover { background-position: 0px -375px;}
.Content_tool span{ float:left; display:block; margin-left:5px; color:#CCCCCC}
.Content_tool a.parent_btn {background-color:#e9eef2; border:1px solid #CCCCCC; border-bottom:none;z-index:999999}

.Content_tool .btn_option { display:block; float:left}
.Content_tool .btn_option_layer{ margin-left:5px; margin-top:-1px; padding:0px; display:block; position:absolute;visibility:hidden;line-height:18px; z-index:99; float:left;background-color:#e9eef2; border:1px solid #CCCCCC}
.Content_tool .btn_option_layer em{line-height:18px; display:block; color:#FFFFFF; margin-bottom:2px; border-bottom:1px solid #FFFFFF; clear:both}
.Content_tool .btn_option_layer a.sub_btn { clear:both; 	background: url(../images/btn_sub.png) no-repeat 0px 0px;}
.Content_tool .btn_option_layer .edit_bottom{ height:20px; display:block;  }
.Content_tool .btn_option_layer .form_table { width:auto; /*width:220px;*/	margin:0 0;	border-collapse:separate;	border-spacing: 1px; 	*border-collapse: expression('separate', cellSpacing = '1px');} 
.Content_tool .btn_option_layer .form_table col.field_title {width:80px;}
.Content_tool .btn_option_layer .form_table tr td.field_title {width:80px;}

/*--------------------------------------------------*/
.edit_photo_list{margin:35px 15px 15px 0;}
.edit_photo_list ul {display:block; margin:0; padding:0;}
.edit_photo_list ul li {display:block; margin:5px; padding:0; list-style-type:none; float:left; cursor: move; margin-bottom:10px;border-radius:0px 0px 5px  5px;-moz-border-radius: 0px 0px 5px  5px;  -webkit-border-radius: 0px 0px 5px  5px;}
.edit_photo_list ul li span {display:block; width:190px; height:190px; border:1px solid #CCC; text-align:center; background-size:contain; background-position:center; background-repeat: no-repeat; background-color:#FFF;}
.edit_photo_list ul li .input_desc {width:170px; padding:2px 10px;   border:1px solid #CCCCCC; border-top:0; border-radius:0px 0px 5px  5px;-moz-border-radius: 0px 0px 5px  5px;  -webkit-border-radius: 0px 0px 5px  5px; box-shadow: #e1e1e1 0 0 3px inset;}
.edit_photo_list ul li:hover{ box-shadow:0 0 3px #0e68ae;}
.filter_ordering {display:block; float:right;}
.filter_ordering span, .filter_ordering a { display:block; float:right; margin:0 10px;  color: #666666}
.filter_ordering span { font-size:0.9em; margin:0;}
a.order_asc {font-weight: bold;background:url(../../../images/2020a/digital_channels/icon_table_sort_tool.png) no-repeat right 0px; padding-right:20px;   color:#1160a5}
a.order_asc:hover {	 background-position:right -100px; }
a.order_dec {font-weight: bold;background:url(../../../images/2020a/digital_channels/icon_table_sort_tool.png) no-repeat right -200px;padding-right:20px;  color:#1160a5 }
a.order_dec:hover {	 background-position:right -300px; }
.filter_ordering a:hover { color:#FF0000}


/*** natvigation*****/
.navigation_bar { display:block; height:30px; padding:5px; font-size:1.3em;}
.navigation_bar a, .navigation_bar span { display:block; float:left; padding:3px; padding-left:25px; height:30px; line-height:25px; background:url(../../../images/2020a/digital_channels/btn_nav.png) no-repeat left -30px; }
.navigation_bar a {color:#1b72af  }
.navigation_bar a:hover { color:#FF0000}
.navigation_bar span.module_title, .navigation_bar a.module_title  { font-size:1.5em;font-weight:bold; font-family:"Bubblegum Sans", "Comic Sans MS", Verdana, /*"新細明體"*/"新細明體";}
.navigation_bar a.btn_home { background-position:left top;padding-left:30px; font-family:"Bubblegum Sans", "Comic Sans MS", Verdana, /*"新細明體"*/"新細明體";}
.navigation_bar span em { padding-top:8px; padding-left:10px; font-size:0.9em; color:#999; font-style:normal }



/* photo container */

.photo_container {margin: 0px 0px 34px 0;float:left;width:680px;/*height:100%;*/padding:10px;background-color:#fff;z-index:9999;color:#7B858E;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);}
.photo_container ul { margin:0; padding:0; padding-bottom:30px;}
.photo_container ul li { list-style-type:none; float:left; padding:2px; position:relative;display:block; }
.photo_container ul li div { }
.photo_container ul li img { }
.photo_container ul li:hover div {/* padding:4px; margin:-5px; background:#FFF; border:1px solid #CCC; z-index:999; box-shadow:0 0 3px #888*/}
.photo_container ul li:hover div  em { /*display:block; padding-top:5px;*/ }

.lastest_album {margin: 0px 0px 34px 0;float:left;width:680px;height:100%;padding:10px;background-color:#fff;z-index:9999;color:#7B858E;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);}
.lastest_album ul{margin:0; padding:0; padding-bottom:30px;}
.lastest_album ul li{ list-style-type:none; float:left; padding:2px; position:relative;display:block;width:81px; height:81px; }
.lastest_album ul li img{ display:block;  z-index:1; border:0; max-width:10em;max-height:10em;position:absolute; margin:auto;top:0;bottom:0;left:-50%;right:-50%;}


.col_left{width:720px;float:left;}
.col_right{width:276px;float:left;}

.album_container {
	margin: 0px 0 15px 0;
	float:left;
	width:100%;
	height:100%;
	padding:0 0px 0px 0;
	background-color:#fff;
	z-index:9999;
	color:#7B858E;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .35);
}

.photo {overflow: hidden;padding:0 5px 5px 5px;}


.icon_photo{float:right; padding-top:15px }
.icon_favorites{
position: absolute;
top:35%;
right:4px;
padding:0;
width:25px;
height:16px;
cursor:pointer;
border:0;
vertical-align:middle;
z-index:9999;
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat;
}

.icon_favorites:hover{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -16px;

}



.icon_star{
float:left;
margin:0 10px 0 0;
padding: 0 0 0 22px;
width:25px;
height:16px;
color:#FFFFFF;
cursor:pointer;
size:14px;
/*position:relative;
top:-5px;
right:-5px;
width:30px;
height:30px;*/
border:0;
vertical-align:middle;
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat;
}

.icon_star:hover{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -16px;

}

.icon_star:active{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -32px;

}

.icon_star.active{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -32px;

}

.icon_comment_small{
float:left;
margin:0 10px 0 0;
padding: 0 0 0 22px;
width:25px;
height:16px;
color:#FFFFFF;
cursor:pointer;
size:14px;
/*position:relative;
top:-5px;
right:-5px;
width:30px;
height:30px;*/
border:0;
vertical-align:middle;
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -52px;
}
.icon_comment_small:hover{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -68px;
}

.icon_comment_small:active{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -84px;
}

.icon_comment_small .active{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -84px;
}

.icon_share{
float:left;
margin:0 10px 0 0;
cursor:pointer;
padding: 0 0 0 10px;
width:20px;
height:16px;
color:#FFFFFF;
size:14px;
border:0;
vertical-align:middle;
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -102px;
}
.icon_share:hover{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -120px;
}
.icon_share:active{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -138px;
}

.icon_share .active{
background:url(../../../images/2020a/digital_channels/icon_photo.png) no-repeat 0 -138px;
}


/**** photo_gallery *****/
.photo_gallery_title{padding:10px 5px 5px 5px;color:#1b72af;size:2.5em;font-weight:bold;}
.photo_gallery_title span{float:right;font-weight:normal;size:1em;}
.photo_gallery_title_recommend{padding:20px 5px 0px 5px;color:#FF0000;size:2.5em;font-weight:bold; height:30px; line-height:20px;}
.photo_gallery_title_recommend span{float:right;font-weight:normal;size:1em;}
.photo_gallery_title_recommend span a{color:#FF0000;text-decoration:none;}
.photo_gallery_title_recommend span a:hover{text-decoration:underline;}
.photo_gallery_title_most_hit{padding:10px 5px 5px 5px;color:#1b72af;size:2.5em;font-weight:bold;}
.photo_gallery_title_most_hit span{float:right;font-weight:normal;size:1em;}
.photo_gallery_title_most_hit span a{color:#1b72af;text-decoration:none;}
.photo_gallery_title_most_hit span a:hover{text-decoration:underline;}
.photo_gallery_title_latest{padding:10px 5px 5px 5px;color:#2b7b00;size:2.5em;font-weight:bold;}
.photo_gallery_title_latest span{float:right;font-weight:normal;size:1em;}
.photo_gallery_title_latest span a{color:#2b7b00;text-decoration:none;}
.photo_gallery_title_latest span a:hover{text-decoration:underline;}
.photo_gallery a img{border:0;}
.btn_arrow_left{
position:relative;
top:-5px;
right:-5px;
width:30px;
height:30px;
border:0;
cursor:pointer;
margin:0 0 0 5px;
vertical-align:middle;
background:url(../../../images/2020a/digital_channels/btn_arrow.png) no-repeat;
}

.btn_arrow_left:hover{
background:url(../../../images/2020a/digital_channels/btn_arrow.png) no-repeat 0 -30px;
}

.btn_arrow_right{
position:relative;
top:-5px;
right:-5px;
width:30px;
height:30px;
border:0;
margin:0 5px 0 5px;
cursor:pointer;
vertical-align:middle;
background:url(../../../images/2020a/digital_channels/btn_arrow.png) no-repeat 0 -64px;
}

.btn_arrow_right:hover{background:url(../../../images/2020a/digital_channels/btn_arrow.png) no-repeat 0 -94px;}

.photo_gallery {width:81px;height:81px; text-align:center; overflow:hidden; position: relative; }

.photo_gallery a:hover img{
display:block;
opacity:0.3;
  -webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;	
	}

.play_button_small{
width:81px;
height:81px;
max-width:81px;
max-height:81px;
    display:block;
	background:url(../../../images/2020a/digital_channels/view/play_button_small.png)0 0;
	top:0;
	position:relative;
	  z-index:99; 
	}

	
.play_button_small:hover{
  background:url(../../../images/2020a/digital_channels/view/play_button_small_hover.png)0 0;

	}

/*comment*/
.comment{margin:15px auto 0 auto;width:1000px;}
.comment_left{float:left;width:480px;margin-right:25px; }
.comment_right{float:left;width:480px; }
.previous_content{float:left;  padding:15px;width:450px;}
.previous_content a{color:#5fa6d8; text-decoration:none;  font-weight:200;}
.previous_content a:hover{color: #FF0000;}
.comment_content{float:left;padding:15px;width:450px;border-bottom: 1px solid #cccccc;}
.comment_content a{color:#1b72af; text-decoration:none;}
.comment_content a:hover{color: #FF0000}
.comment_content_bold{font-weight:bold;size:1.2em;}


/* Comments List */
ul.comment_list {
  /* padding:15px;*/
  float:left;
  margin:0 ;
  padding: 0;
  width:480px;
}


.comment_list li {
    float:left; 
	list-style:none;
	margin:0px 0 10px 0;
	padding: 15px;
	cursor:pointer;
	 -moz-transition: background-color .25s ease-in-out;
 -webkit-transition: background-color .25s ease-in-out;
 -o-transition: background-color .25s ease-in-out;
 -ms-transition: background-color .25s ease-in-out;
 transition: background-color .25s ease-in-out;
}

.comment_list li:hover{
background-color: #e8e7e7; 
}

.comment_list li.comment_select{
background-color: #e8e7e7;
}

.comment_user {
    margin:0px;
	float: left;
	width: 32px;
	min-height: 32px;
	max-height: 48px;
	background-color:#666666;
	border:1px solid #bbbbbb;
	background:url(../../../images/2020a/digital_channels/icon_user.gif) no-repeat;

}

.comment_info{
float:left;
width: 410px;
padding:0 0 0 5px;
}

.comment_name{
   float:left;
   font-size: 1.2em;
   line-height: 20px;
   display:block;
   padding:0 0 5px 5px;
  color:#1b72af;
  width:350px;
word-wrap: break-word;

}
.comment_name a{
  color:#1b72af;
  text-decoration:none;
}

.comment_name a:hover{
  color: #FF0000;
}


.comment_time{
font-size: 0.8em;
color:#666;
padding:0 0 0 7px;
}


.comment_meta{
float:right;
line-height: 24px;
}


.comment_text{
clear:both;
padding:0 0 0 5px;
font-size: 1.0em;
line-height:18px;
word-wrap: break-word;
}

.comment_text_input{
width:390px;  padding:5px; float:left; border:1px solid #CCCCCC;  border-radius: 3px;-moz-border-radius: 3px;
margin:0 0 0 5px;
}
.comment_btn{
float:right;
margin:10px 5px 0 0;
cursor: pointer;

}
.icon_views{
float:left;
height:18px;
display:block;
padding-left:27px;
margin:0 20px 0 0;
background:url(../../../images/2020a/digital_channels/icon_comment.png) no-repeat 0 5px;
color:666666;
font-size:1.3em;
}


.icon_views a{
font-size:1.3em;
color:#000;
text-decoration:none;
padding:0 2px 0 2px;
}


.icon_small_enjoy{
float:left;
padding-left:23px;
margin:0 20px 0 0;
height:18px;
display:block;
color:666666;
font-size:1.3em;
background:url(../../../images/2020a/digital_channels/icon_comment.png) no-repeat 0 -26px;}

.icon_small_enjoy a{
font-size:1.3em;
color:#000;
text-decoration:none;
padding:0 2px 0 2px;
}

.no_effect{
font-size:0.8em;
color:#666;
padding:0 2px 0 4px;
}

.icon_comment{
float:left;
padding-left:25px;
margin:0 20px 0 0;
height:18px;
display:block;
color:666666;
font-size:1.3em;
background:url(../../../images/2020a/digital_channels/icon_comment.png) no-repeat 0 -62px;}


.icon_comment a{
font-size:1.3em;
color:#000;
text-decoration:none;
padding:0 2px 0 2px;
}

.icon_edit{
float:left;
width:25px;
height:18px;
display:block;
background:url(../../../images/2020a/digital_channels/icon_comment.png) no-repeat 0 -97px;}

.icon_edit:hover{
background:url(../../../images/2020a/digital_channels/icon_comment.png) no-repeat 0 -114px;}

.icon_delete{
float:left;
width:25px;
height:19px;
display:block;
background:url(../../../images/2020a/digital_channels/icon_comment.png) no-repeat 0 -132px;}

.icon_delete:hover{
background:url(../../../images/2020a/digital_channels/icon_comment.png) no-repeat 0 -151px;}

/****************************************photo_thumb******************************************************/

.clearfix{ display: block; height: 0; clear: both; visibility: hidden; }		
.photo_thumb_details{ margin:0px; color:#FFFFFF; text-shadow:#000000; border:0;}	
.photo_thumb_details a{ color:#FFFFFF;} 


.photo_thumb_block {
	
	position:relative;
	overflow:hidden;
	min-height:184px; 
	min-width:184px; 
	background:#111 url(../../../images/2020a/digital_channels/photo_effect/progress.gif) no-repeat center center;
	border:1px solid #e7e7e7;
	
}


/*.photo_thumb_block a img{
border:0;vertical-align:middle; display:block;  z-index:1; max-width:25em;max-height:25em;position:absolute; margin:auto;top:0;bottom:0;left:-50%;right:-50%;}
*/
.photo_thumb_block a img{
border:0;vertical-align:middle; display:block;  z-index:1; /*max-width:25em;max-height:25em;*/position:absolute; margin:auto;top:-50%;bottom:-50%;left:-50%;right:-50%;}



.photo_thumb_images{
		display:none;
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:#111;
	}

.play_button{
 display:block;
     width:184px;
	height:184px;
	background:url(../../../images/2020a/digital_channels/photo_effect/play_button.png)0 0;
	
	position:relative;
	z-index:99;
}
	
.play_button:hover{
	background:url(../../../images/2020a/digital_channels/photo_effect/play_button.png)0 -184px;
}
	
.photo_thumb_overlay {
		display:block;
		z-index:5;
		position:absolute;
		background:#111;
		cursor:pointer;
	
	}
	
.title_favorites{
float:left;
display:inline-block;
width:135px;
padding:10px;
line-height:18px;
word-wrap: break-word;
}


.title{
float:left;
padding:10px;
display: inline-block;
line-height:18px;
word-wrap: break-word;
color: inherit;
font-size: inherit;
font-weight: inherit;
}


.title_portal{
display: inline-block;
width:500px;
line-height:18px;
padding:15px 0px 15px 15px;
word-wrap: break-word;
}


		
.photo_thumb_effect .photo_thumb_overlay {
			bottom:-184px;
			height:auto;
			width:184px;
			background:url(../../../images/2020a/digital_channels/photo_effect/bg-black.png);
		}
		
.photo_thumb_list li em { display:block;  top:-10px; right:-10px; position:absolute;height:45px; width:45px;text-align:center; color:#FFFFFF; font-weight: bold; text-shadow:0 0 1px #FF0000;font-family: Verdana, Arial, Helvetica, sans-serif; font-size:0.8em; background:url(../../../images/2020a/digital_channels/module_icon/alert_bg.png); line-height:45px; font-style:normal; z-index:2}
	
/*****photo_block****/
	
.photo_details{ float:left;}	
.photo_details span{ color:#FFFFFF; text-shadow:#000000;}	
.photo_details span a{ color:#FFFFFF; text-shadow:#000000;}
.photo_details span a:hover{ color:#FFFFFF; text-shadow:#000000;}

.photo_block {
	float:left;
	position:relative;
	overflow:hidden;
	width: 677px;
	height:450px;
	background:#111 url(../../../images/2020a/digital_channels/photo_effect/progress.gif) no-repeat center center;
	cursor:pointer;
}


.photo_block a img{
	border:0;
	display: block;
	 background-size:contain; 
	 background-position:center;
	 width: auto;
	margin:0 auto 0 auto;
}

.photo_images_list{margin:0;}
.photo_images_list ul {display:block; margin:0; padding:0;}
.photo_images_list ul li {display:block; margin:0px; padding:0; list-style:none; float:left; cursor: pointer;  background-size:contain;}
.photo_images_list ul li span {display:block; width: 678px; height: 450px; border:0px; text-align:center; background-size:contain; background-position:center; background-repeat: no-repeat; margin:0 auto 0 auto;}	
.photo_images_list ul li img{max-height:100%;max-width:100%;}


.photo_overlay {
display:none;
z-index:5;
position:absolute;
width:100%;
height:100%;
background:#111;
background-size:contain;
background-position:center;}
	
.photo_hover .photo_overlay {bottom:-100px;height:auto;background:url(../../../images/2020a/digital_channels/photo_effect/bg-black.png);}
		
		


/*************************************************************/
.rg-thumbs{
height:60px;
position:absolute;
left:0;
right:0;
text-align:center;
margin:0 auto 0 auto;
}

.play_button_mini{
width:40px;
height:40px;
max-width:40px;
max-height:40px;
    display:block;
	background:url(../../../images/2020a/digital_channels/view/play_button_small_40x40.png)0 0;
	top:0;
	position: absolute;
	 z-index:99; 
	}

.play_button_mini:hover{
  background:url(../../../images/2020a/digital_channels/view/play_button_small_hover_40x40.png)0 0;

	}		

.thumb_small_slider_wapper {
position:absolute;
bottom:0;
left:0;
/*background:#212124;*/
background:#9c9c9c;
width:100%;
}


.thumb_small_slider {
	overflow: hidden;
	position: relative;
	width:660px;
	margin:0 auto 0 auto;
	
}

.thumb_small_slider > div {
	float: left;
	width: 100%;
}
.thumb_small_slider ul {
	overflow:hidden;
	padding:0px 4px 0px 4px;
	margin:15px 0 20px 0;
	position: relative;
	text-align: center;	
	
}
.thumb_small_slider ul li {
	display:inline;
	padding: 0 2px 0 2px ;
	height:40px;  
     width:40px;
	 min-width:40px;
	 min-height:40px;
	 overflow:hidden; 
	 position: relative; 
}	


/*.thumb_small_slider ul li img{ 
	display:block;
	border:0;	
 position: relative;


 z-index:1; max-width:8em; max-height:8em; 
 margin:auto;
 top:0;bottom:0;left:-50%;right:-50%;}
*/
.thumb_small_slider ul li img{ 
display:block;		
 position: absolute;
 z-index:0; 
 max-width:5em;
 max-height:5em; 
 margin:auto;
 top:-50%;
 bottom:-50%;
 left:-50%;
 right:-50%;
 opacity:0.7;
	filter: alpha(opacity=70);
	outline:none;
 	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out; 
  }   

	
.thumb_small_slider ul li > img {
	cursor: pointer;

}


.thumb_small_slider ul li a{
    display: inline-block;
	border:1px solid #9c9c9c;
	padding:0;
	opacity:0.7;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
		height:40px;  
     width:40px;
	 overflow:hidden; 
}

.thumb_small_slider ul li a:hover{
	border:1px solid #fff;
	opacity:1.0;	
}

.thumb_gallery {width:40px;height:40px; text-align:center; overflow:hidden; position: relative; display:inline-block; }

.thumb_nav ul li.selected a{
padding:0;
	border:1px solid #fff;
	opacity:1.0;
}
.thumb_small_slider ul li a:hover{
	border:1px solid #fff;
	opacity:1.0;
	padding:0;
	
}

.view_images_wrapper{
	position:relative;
	padding:20px 30px 50px 30px;
	/*background:transparent url(../../../images/2020a/digital_channels/view/black.png) repeat top left;*/
	/*background:#212124;*/
	background:#9c9c9c;
	
	
}
.view_images{
	position:relative;
	text-align:center;
	line-height:0px;
	
}


.view_images img{
	max-height:100%;
	max-width:100%;
	
	border:0;
}
.view_images_nav a{
	position:absolute;
	top:45%;
	left:0px;
	border:0;
     background: url(../../../images/2020a/digital_channels/view/view.png) no-repeat 0 -85px;
	width:28px;
	height:32px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.7;
	filter: alpha(opacity=70);
	outline:none;
	
}
.view_images_nav a.view_images_nav_next{
	right:0px;
	left:auto;
	background-position:0 -151px;
	
}




.view_images_nav a:hover{
	opacity:1;
	filter: alpha(opacity=100);
}

.view_images_back{
position:absolute;
left:0;
bottom:0px;
padding:0 0 10px 10px;
}

.view_images_back a{
display:block;
color:#f1f1f1;
text-decoration:none;
}

.view_images_back a:hover{
color:#FFFFFF;
}
.view_images_icon{
position:absolute;
right:0;
bottom:0px;
padding:0 10px 10px 0;
}


.view_images_full_screen{
position:absolute;
right:0;
padding:10px 10px 0 0;
top:0px;
}


.view_images_full_screen a{
	background: url(../../../images/2020a/digital_channels/view/view.png) no-repeat 0 -25px;
width:25px;
display:block;
	height:25px;
	cursor:pointer;
	opacity:0.7;
	filter: alpha(opacity=70);
	outline:none;
}

.view_images_full_screen a:hover{
opacity:1;
filter: alpha(opacity=100);
}

/*------------------------------------------------------------------*/
.icon_enjoy{
float:left;
margin:0 10px 0 0;
padding: 5px 0 0 26px;
width:25px;
height:18px;
color:#FFFFFF;
cursor:pointer;
size:14px;
border:0;
opacity:0.7;
filter: alpha(opacity=70);
vertical-align:middle;
background: url(../../../images/2020a/digital_channels/view/view.png) no-repeat 0 -208px;
}

.icon_enjoy:hover{
opacity:1.0;
filter: alpha(opacity=100);
}

.icon_enjoy:active{
opacity:1.0;
filter: alpha(opacity=100);
background: url(../../../images/2020a/digital_channels/view/view.png) no-repeat 0 -232px;
}

.icon_enjoy.active{
background: url(../../../images/2020a/digital_channels/view/view.png) no-repeat 0 -232px;
}


.icon_export{
float:left;
margin:0 10px 0 0;
padding: 5px 0 0 25px;
width:25px;
height:16px;
color:#FFFFFF;
cursor:pointer;
size:14px;
border:0;
opacity:0.7;
filter: alpha(opacity=70);
vertical-align:middle;
background: url(../../../images/2020a/digital_channels/view/view.png) no-repeat 0 -278px;
}

.icon_export:hover{
opacity:1.0;
filter: alpha(opacity=100);
}


.icon_download{
float:left;
margin:2px 0 0 0 ;
padding: 5px 0 0 0 ;
width:25px;
height:14px;
color:#FFFFFF;
cursor:pointer;
size:14px;
border:0;
opacity:0.7;
filter: alpha(opacity=70);
vertical-align:middle;
background: url(../../../images/2020a/digital_channels/view/view.png) no-repeat 0 -320px;
}

.icon_download:hover{
opacity:1.0;
filter: alpha(opacity=100);
}
		
.photo_thumb_list ul li .photo_thumb_detail .description { margin: 5px;}
.photo_thumb_list ul li:hover { background:#FFF; border-color:#CCC; box-shadow:0 0 3px #888}
.photo_thumb_list ul li:hover .photo_thumb_detail{ visibility: visible;opacity:1}
.edit_photo_list {position: relative; min-height: 265px;}
.edit_photo_list_empty .attach_file_overlay{display: block}
.edit_photo_list ul li.ui-selecting span, .edit_photo_list ul li.ui-selecting .input_desc , .edit_photo_list ul li.ui-selected span, .edit_photo_list ul li.ui-selected .input_desc {border-color:red;}
.edit_photo_list ul {display:block; margin:0; padding:0;}
.edit_photo_list ul li { position:relative; display:block; margin:5px; padding:0; list-style-type:none; float:left;  margin-bottom:10px;border-radius:5px 5px 5px  5px;-moz-border-radius: 0px 0px 5px  5px;  -webkit-border-radius: 0px 0px 5px  5px;}
.edit_photo_list ul li span {color:red; position:relative; border-radius: 5px 5px 0 0;display:block; width:inherit; height:190px; border:1px solid #CCC; text-align:center; background-size:contain; background-position:center; background-repeat: no-repeat; background-color:#FFF;}
.edit_photo_list ul li span.eventDate{color:red; position:relative; border-radius: 5px 5px 0 0;display:block; width:inherit; height:20px; border:1px solid #CCC; text-align:center; background-size:contain; background-position:center; background-repeat: no-repeat; background-color:#FFF;}
.edit_photo_list ul li span.eventDate span{color:red; position:relative; border:0px; display:inline; text-align:center;}
.edit_photo_list ul li span h5{	word-wrap:break-word; padding: 10px;}
.edit_photo_list ul li span .photo_progress{ margin:-15px 10px 0; height: 30px; position:relative;  top: 50%}
.edit_photo_list ul li .input_chi_desc {resize: none;width:170px; padding:2px 10px;   border:1px solid #CCCCCC; border-top:0; border-radius:0px 0px 5px  5px;-moz-border-radius: 0px 0px 5px  5px;  -webkit-border-radius: 0px 0px 5px  5px; box-shadow: #e1e1e1 0 0 3px inset;}
.edit_photo_list ul li .input_event_title, .edit_photo_list ul li .input_chi_event_title, .edit_photo_list ul li .input_desc {resize: none;width:170px; padding:2px 10px;   border:1px solid #CCCCCC; border-top:0; border-radius:0px 0px 0px 0px;-moz-border-radius: 0px 0px 0px 0px;  -webkit-border-radius: 0px 0px 0px 0px; box-shadow: #e1e1e1 0 0 3px inset;}
.edit_photo_list ul li:hover{ box-shadow:0 0 3px #0e68ae;}
.edit_photo_list ul li .table_row_tool{position:absolute; top:0; right:0}

/***************************/
.advancesearch { padding: 10px; top: 30px; right:5px; position:absolute; display:block; border:1px solid #CCCCCC; border-radius: 10px;-moz-border-radius: 10px;  -webkit-border-radius: 10px; box-shadow:  0 0 5px #888 ; height:200px; background:#FFFFFF; z-index:100; width:330px;
}
.advancesearch .fields{
    padding:5px; width: 130px; float:left
}
.advancesearch .dropdown{
    float:left;
}
.advancesearch .dropdown ul{
    width: 300px;
    max-height: 300px;
    overflow: auto;
}

.advancesearch .dropdown li.ui-selected a, .advancesearch .dropdown li.ui-selecting a{
    background-color:#3c6eac; color:#FFFFFF;
}
.advancesearch .input{
    margin:0px; float:left;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 3px #E1E1E1 inset;
    padding: 3px;
}