.common_table_list, .common_table_list tr th, .common_table_list tr td
{
  border:0;
}

.common_table_list tr:nth-child(2n)
{
  background-color: #F5F5F5;
}

.common_table_list tr:nth-child(2n) td
{
  background-color: transparent;
}

.orderDetailArea
{
  text-align: right;
}

.orderDetailArea a
{
  color: #2286C5;
  margin-right: 20px;
  margin-bottom: 15px;
  display: inline-block;
}

.orderQRArea img
{
  max-width: 200px;
}

.tablebluetop a
{
  color: #fff !important;
}

.tableCellNoItem
{
  height:80px;
}
