@charset "utf-8";  
/*
* Modification Log
* 2012-10-05 (Thomas)
* - Change class name ".log_header_02_pin" to ".log_header_02_pin_red"
* 2012-09-28 (Thomas)
* - Comment out the following style
*   .log_full .log_photo_file img
*	.log_half_right .log_photo_file img, .log_half_right .log_photo_file img
*	.newspaper_page .log_full .log_photo_file img
*	.newspaper_page .log_half_right .log_photo_file img, .log_half_right .log_photo_file img
*	.newspaper_page .log_full .log_photo_file img
*	.newspaper_page .height_short .log_photo_file img
* 2012-06-13 (Thomas)
* - Comment out "height: 0px" from .newspaper_body_bg
* - Comment out "display:block" of ".log_photo" 
*/

/*##################################################################*/
/*########################## Common ##########################*/
/*##################################################################*/
.newspaper_body_bg {margin: 0px;padding: 0px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px;/*height: 0px;*/}
a { text-decoration:none}
p.spacer{clear:both; display:block; line-height:0px; font-size:0px; padding:0; margin:0; height:0px}

.bg_wood { background:url(../images/newspaper/bg_wood.gif)}

/*######## bg3_greenPaper ##########*/

.bg3_green_top_left {display:block; background:url(../images/newspaper/bg3_green_top_left.png) no-repeat left top; padding-left:253px; height:390px; }
.bg3_green_top_right {display:block; background: url(../images/newspaper/bg3_green_top_right.png) no-repeat right top; padding-right:391px; height:390px;}
.bg3_green_top_bg {display:block; background: url(../images/newspaper/bg3_green_top_bg.png) repeat-x top; height:390px;}
.bg3_green_body {background: url(../images/newspaper/bg3_green_body.png); }
.bg3_green { margin-top:0px; display:block; margin-right:-391px; margin-left:-253px;}

/*######## bg4_wood ##########*/

.bg4_wood { background:url(../images/newspaper/bg4_wood_top_bg.png)}

/*###########################*/
/*######## bg2_sky ##########*/

.bg2_sky_top_left {display:block; background:url(../images/newspaper/bg2_sky_top_left.png) no-repeat left top; padding-left:392px; height:203px; }
.bg2_sky_top_right {display:block; background: url(../images/newspaper/bg2_sky_top_right.png) no-repeat  right top; padding-right:367px; height:203px;}
.bg2_sky_top_bg {display:block; background: url(../images/newspaper/bg2_sky_top_bg.png) repeat-x top; height:203px;}
.bg2_sky_body {background: url(../images/newspaper/bg2_sky_body.png); }
.bg2_sky { margin-top:0px; display:block; margin-right:-367px; margin-left:-392px; font-size:1.2em}

/*###########################*/

.newspaper_body {display:block; margin:0 auto; width:770px; padding:0px;}
.print_alert_line {display:block; background:url(../images/newspaper/print_alert_line.gif) top repeat-x; min-height:1050px;}
.newspaper_page{display:block; min-height:500px;}
.page_top {display:block; background: left top no-repeat; min-height:40px;}

.page_top_right {display:block; background: right top no-repeat;  min-height:40px;}
.page_top_bg {display:block; background:top repeat-x; min-height:40px;}
/*######################################################20121113######################################################*/
.page_top h1 {display:block; margin:0; padding:0; line-height:normal; font-size:1em; font-weight: normal; background-position: left top;  background-repeat:no-repeat; position:relative} 
.page_top h1 .custom_banner { display:none;  position:absolute; top:20px; left:50px; width:718px; height:120px; }
.page_top h1 .school_logo {	display:none;	position:absolute;	left:75px;	top:25px;	text-align:center; width:80px; height:80px;}
.page_top h1 .school_logo img{ height:80px;}

.issue_title { display:block; color:#34836a; font-size:1.5em; position:absolute; bottom:5px; right:50px; padding:0; margin:0;white-space:nowrap; text-overflow:ellipsis; 
overflow:hidden; }
#page_cat { display:block; color: #FFFFFF; font-size:1em; top:15px; right:20px; ;line-height:65px; background-repeat: no-repeat; height:65px; position: absolute}
.newspaper_title {color:#180A0A;  display:block;position:absolute; top:45px; height:50px;  left:70px; padding:0; margin:0; width:680px;white-space:nowrap; text-overflow:ellipsis; 
overflow:hidden; }
/***###########################*******20121113 end ******###########################******/
.newspaper_title_small {color:#180A0A;  display:block;}

.page_cat_01 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_01.png)}
.page_cat_02 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_02.png)}
.page_cat_03 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_03.png)}
.page_cat_04 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_04.png)}
.page_cat_05 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_05.png)}
.page_cat_06 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_06.png)}
.page_cat_07 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_07.png)}																																																		
.page_cat_08 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_08.png)}
.page_cat_09 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_09.png)}																																																		
.page_cat_10 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_10.png)}
.page_cat_11 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_11.png)}																																																		
.page_cat_12 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_12.png)}
.page_cat_13 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_13.png)}																																																		
.page_cat_j01 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_j01.png)}
.page_cat_j02 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_j02.png)}
.page_cat_j03 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_j03.png)}
.page_cat_j04 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_j04.png)}
.page_cat_j05 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_j05.png)}
.page_cat_j06 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_j06.png)}
.page_cat_j07 { background-image:url(../images/newspaper/page_cat/icon_page_cat_big_j07.png)}

.page_body {display:block; background: left bottom no-repeat; min-height:430px;}
.page_body_right {display:block; background: right bottom no-repeat; min-height:430px;}
.page_body_bg {display:block; background:url(../images/newspaper/paper_bg.png);min-height:430px;}
.page_body_content { display:block; margin-left:-30px; margin-right:-40px;min-height:430px;}

.page_bottom {display:block; background:  left bottom no-repeat; padding-left:179px; min-height:26px; }
.page_bottom_right {display:block; background: right bottom no-repeat; padding-right:183px; min-height:26px;}
.page_bottom_bg {display:block; background:url(../images/newspaper/paper_bottom_bg.png) bottom repeat-x;min-height:44px;}
.page_bottom_bg2 {display:block; background:url(../images/newspaper/paper_bottom_bg2.png) bottom repeat-x;min-height:44px;}


/*##########################page_big_cover#########################*/
/*####################################################################################################################################################################*/
/*###################################################################### 20121113 start ######################################################################*/
.page_big_cover .page_top, .page_big_left .page_top, .page_big_right .page_top, .page_big_back .page_top { background-image: url(../images/newspaper/paper_big_top_left.png); padding-left:219px; min-height:100px;} 
.page_big_cover .page_top_right, .page_big_left .page_top_right, .page_big_right .page_top_right, .page_big_back .page_top_right {background-image: url(../images/newspaper/paper_big_top_right.png) ; padding-right:518px; min-height:100px;}
.page_big_cover .page_top_bg, .page_big_left .page_top_bg, .page_big_right .page_top_bg, .page_big_back .page_top_bg { background-image:url(../images/newspaper/paper_big_top_bg.png); min-height:100px;}
.page_big_cover .page_top h1, .page_big_left .page_top h1, .page_big_right .page_top h1, .page_big_back .page_top h1 {  margin-left:-250px; margin-right:-518px;  width:795px; font-weight:bold; height:100px; }
.page_big_cover .page_top h1 {background:url(../images/newspaper/title_cover_bg_00.png) no-repeat left  ; width:795px; height:148px;}
.page_big_cover .page_top, .page_big_cover .page_top_right, .page_big_cover .page_top_bg{ min-height:148px; height:148px;}


.page_big_left .page_top h1, .page_big_back .page_top h1 {background:url(../images/newspaper/title_left_big_00.png) no-repeat 30px bottom; }
.page_big_right .page_top h1 {background:url(../images/newspaper/title_right_big_00.png) no-repeat right  bottom;  }

/*--issue_title---*/
.page_big_cover .issue_title {font-size: background:url(../images/newspaper/issue_bg.png); color:#34836a;}
.page_big_left .issue_title, .page_big_back .issue_title  { font-size:1.1em; color:#34836a;margin:0; padding:0; width:124px; top:22px; right:340px; text-align:right; background:none;}
.page_big_right .issue_title  { font-size:1.1em; margin:0; padding:0; width:124px; top:22px; right:300px; text-align:left; background:none;}

/*--newspaper_title---*/
.page_big_cover .newspaper_title {font-size:3em;text-align:center; color: #180A0A; display:block; clear:both;}
.page_big_left .newspaper_title, .page_big_back .newspaper_title  {  font-size:1.5em;   clear:left; margin:0; padding:0; height:30px; width:350px; top:50px; left:75px; }
.page_big_right .newspaper_title  {font-size:1.5em;  color: #180A0A; margin:0; padding:0; height:30px; width:350px; top:55px; left:auto; right:60px; text-align:right}

/*--page_cat---*/
.page_big_left #page_cat, .page_big_back #page_cat{ padding-right:70px; background-position:right top; position:absolute; margin:0; padding-top:0; padding-left:0; width:127px; top:35px; right:30px; text-align:right}
.page_big_right #page_cat{  padding-left:70px; background-position:left top; position:absolute; margin:0; padding-top:0; padding-right:0; width:127px; top:35px; right:528px; text-align:left}
/*###################################################################### 20121113 end ######################################################################*/
/*####################################################################################################################################################################*/
.page_big_cover .page_body, .page_big_left .page_body, .page_big_right .page_body, .page_big_back .page_body { background-image: url(../images/newspaper/paper_big_left.png); padding-left:142px; min-height:390px;}
.page_big_cover .page_body_right, .page_big_left .page_body_right, .page_big_right .page_body_right, .page_big_back .page_body_right { background-image: url(../images/newspaper/paper_big_right.png) ; padding-right:114px; min-height:390px;}
.page_big_cover .page_body_bg, .page_big_left .page_body_bg, .page_big_right .page_body_bg, .page_big_back .page_body_bg { min-height:390px;}
.page_big_cover .page_body_content, .page_big_left .page_body_content, .page_big_right .page_body_content, .page_big_back .page_body_content { margin-left:-100px;  margin-right:-70px;min-height:390px;}

.page_big_cover .page_bottom, .page_big_left .page_bottom, .page_big_right .page_bottom, .page_big_back .page_bottom { background-image: url(../images/newspaper/paper_big_bottom_left.png); padding-left:181px; height:88px;}
.page_big_cover .page_bottom_right, .page_big_left .page_bottom_right, .page_big_right .page_bottom_right, .page_big_back .page_bottom_right { background-image: url(../images/newspaper/paper_big_bottom_right.png) ; padding-right:551px; height:88px;}
.page_big_cover .page_bottom_bg, .page_big_left .page_bottom_bg, .page_big_right .page_bottom_bg, .page_big_back .page_bottom_bg {  background-image: url(../images/newspaper/paper_big_bottom_bg.png) ; height:88px;}
/*####################################################################*/

/*##########################page_big_cover00#########################*/
/*####################################################################################################################################################################*/
/*###################################################################### 20121113 start ######################################################################*/

.page_big_cover00 .page_top, .page_big_left00 .page_top, .page_big_right00 .page_top, .page_big_back00 .page_top { background-image: url(../images/newspaper/paper_big_top_left.png); padding-left:219px; min-height:100px;} 
.page_big_cover00 .page_top_right, .page_big_left00 .page_top_right, .page_big_right00 .page_top_right, .page_big_back00 .page_top_right {background-image: url(../images/newspaper/paper_big_top_right.png) ; padding-right:518px; min-height:100px;}
.page_big_cover00 .page_top_bg, .page_big_left00 .page_top_bg, .page_big_right00 .page_top_bg, .page_big_back00 .page_top_bg { background-image:url(../images/newspaper/paper_big_top_bg.png); min-height:100px;}
.page_big_cover00 .page_top h1, .page_big_left00 .page_top h1, .page_big_right00 .page_top h1, .page_big_back00 .page_top h1 {  margin-left:-250px; margin-right:-518px;  width:795px; font-weight:bold; height:100px; }
.page_big_cover00 .page_top h1 {background:url(../images/newspaper/title_cover_bg_00a.png) no-repeat  50px top  ; width:795px; height:148px;}


.page_big_left00 .page_top h1, .page_big_back00 .page_top h1 {background:url(../images/newspaper/title_left_big_00a.png) no-repeat 50px bottom  ;  padding-top:-20px; }
.page_big_right00 .page_top h1 {background:url(../images/newspaper/title_right_big_00a.png) no-repeat right bottom;  padding-top:-20px;  height:100px; }
.page_big_cover00 .page_top, .page_big_cover00 .page_top_right, .page_big_cover00 .page_top_bg{ min-height:148px; height:148px;}

/*--issue_title---*/
.page_big_cover00 .issue_title {font-size:1.2em;  /*background:url(../images/newspaper/issue_bg.png);*/  color: #000; bottom:30px; right:135px;}
.page_big_left00 .issue_title, .page_big_back00 .issue_title  {font-size:1em;  margin:0; padding:0; ; width:124px; top:32px; left:280px; text-align:right;  color: #000;}
.page_big_right00 .issue_title  { font-size:1em; margin:0; padding:0;  width:124px; top:32px; right:250px; text-align:left;   color: #000;}

/*--newspaper_title---*/
.page_big_cover00 .newspaper_title {font-size:3em; text-align:center; color: #ffffff; top:35px; }
.page_big_left00 .newspaper_title, .page_big_back00 .newspaper_title  { margin:0; padding:0; height:30px; width:350px; top:53px; left:70px;  font-size:1.5em;    color: #FFFFFF; }
.page_big_right00 .newspaper_title  {  font-size:1.5em;  margin:0; padding:0; height:30px; width:330px; top:53px; left:auto; right:60px; text-align:right; color: #ffffff;}


/*--page_cat---*/
.page_big_left00 #page_cat, .page_big_back00 #page_cat{   float:right; padding-right:70px; background-position:right top; color: #330000;position:absolute; margin:0; padding-top:0; padding-left:0; width:127px; top:30px; right:30px; text-align:right}
.page_big_right00 #page_cat{ position:absolute; margin:0; padding-top:0; padding-right:0; width:127px; top:25px; left:40px; text-align:left; padding-left:70px; background-position:left top; color: #330000;}
/*###################################################################### 20121113 end ######################################################################*/
/*####################################################################################################################################################################*/

.page_big_cover00 .page_body, .page_big_left00 .page_body, .page_big_right00 .page_body, .page_big_back00 .page_body { background-image: url(../images/newspaper/paper_big_left.png); padding-left:142px; min-height:390px;}
.page_big_cover00 .page_body_right, .page_big_left00 .page_body_right, .page_big_right00 .page_body_right, .page_big_back00 .page_body_right { background-image: url(../images/newspaper/paper_big_right.png) ; padding-right:114px; min-height:390px;}
.page_big_cover00 .page_body_bg, .page_big_left00 .page_body_bg, .page_big_right00 .page_body_bg, .page_big_back00 .page_body_bg { min-height:390px;}
.page_big_cover00 .page_body_content, .page_big_left00 .page_body_content, .page_big_right00 .page_body_content, .page_big_back00 .page_body_content { margin-left:-100px;  margin-right:-70px;min-height:390px;}

.page_big_cover00 .page_bottom, .page_big_left00 .page_bottom, .page_big_right00 .page_bottom, .page_big_back00 .page_bottom { background-image: url(../images/newspaper/paper_big_bottom_left.png); padding-left:181px; height:88px;}
.page_big_cover00 .page_bottom_right, .page_big_left00 .page_bottom_right, .page_big_right00 .page_bottom_right, .page_big_back00 .page_bottom_right { background-image: url(../images/newspaper/paper_big_bottom_right.png) ; padding-right:551px; height:88px;}
.page_big_cover00 .page_bottom_bg, .page_big_left00 .page_bottom_bg, .page_big_right00 .page_bottom_bg, .page_big_back00 .page_bottom_bg {  background-image: url(../images/newspaper/paper_big_bottom_bg.png) ; height:88px;}
/*####################################################################*/

/*##########################page_big_cover_J01#########################*/
.page_big_cover_J01 .page_top, .page_big_left_J01 .page_top { background-image: url(../images/newspaper/paper_big_top_left_J01.png); padding-left:343px; min-height:80px;} 
.page_big_cover_J01 .page_top_right, .page_big_left_J01 .page_top_right{background-image: url(../images/newspaper/paper_big_top_right_J01.png) ; padding-right:310px; min-height:80px;}
.page_big_cover_J01 .page_top_bg, .page_big_left_J01 .page_top_bg{ background-image:url(../images/newspaper/paper_big_top_bg_J01.png); min-height:80px;}
.page_big_left_J01 .page_top h1 { margin-left:-374px; margin-right:-310px; width:795px; font-weight:bold; height:80px;background:url(../images/newspaper/title_left_big_J01.png) no-repeat 31px 35px; height:100px;   }
.page_big_cover_J01 .page_top h1 { margin-left:-374px; margin-right:-310px;background:url(../images/newspaper/title_cover_bg_J01.png) no-repeat 31px 12px;   width:795px; height:145px;}
.page_big_cover_J01 .newspaper_title {font-size:3em;  text-align:center; left:60px; top:40px; width:560px; color:#FFF; height:auto;}
.page_big_left_J01 .newspaper_title  { font-size:1.2em;   color:#FFF; top:45px; left:60px; width:300px;}
.page_big_cover_J01 .issue_title {font-size:1.1em; color:#333333;  bottom:0; font-weight:bold}
.page_big_left_J01 .issue_title{font-size:1em; color:#333333 ; top:15px; left:225px; right:auto; width:150px; text-align:right; }
.page_big_left_J01 #page_cat{  padding-right:100px; background-position:right top; color:#333 ; text-align:right; right:20px; top:20px; left:auto;}

.page_big_cover_J01 .page_body, .page_big_left_J01 .page_body{ background-image: url(../images/newspaper/paper_big_left_J01.png); padding-left:88px; min-height:390px;}
.page_big_cover_J01 .page_body_right, .page_big_left_J01 .page_body_right { background-image: url(../images/newspaper/paper_big_right_J01.png) ; padding-right:71px; min-height:390px;}
.page_big_cover_J01 .page_body_bg, .page_big_left_J01 .page_body_bg { background-image: url(../images/newspaper/paper_bg_J01.png); min-height:390px;}
.page_big_cove_J01 .page_body_content, .page_big_left_J01 .page_body_content { margin-left:-50px; margin-right:-40px;min-height:390px;}

.page_big_cover_J01 .page_bottom, .page_big_left_J01 .page_bottom{ background-image: url(../images/newspaper/paper_big_bottom_left_J01.png); padding-left:328px; height:45px;}
.page_big_cover_J01 .page_bottom_right, .page_big_left_J01 .page_bottom_right { background-image: url(../images/newspaper/paper_big_bottom_right_J01.png) ; padding-right:358px; height:45px;}
.page_big_cover_J01 .page_bottom_bg, .page_big_left_J01 .page_bottom_bg {  background-image: url(../images/newspaper/paper_big_bottom_bg_J01.png) ; height:45px;}
/*####################################################################*/
/*##########################page_big_cover_J02#########################*/
.page_big_cover_J02 .page_top, .page_big_left_J02 .page_top { background-image: url(../images/newspaper/paper_big_top_left_J01.png); padding-left:343px; min-height:80px;} 
.page_big_cover_J02 .page_top_right, .page_big_left_J02 .page_top_right{background-image: url(../images/newspaper/paper_big_top_right_J01.png) ; padding-right:310px; min-height:80px;}
.page_big_cover_J02 .page_top_bg, .page_big_left_J02 .page_top_bg{ background-image:url(../images/newspaper/paper_big_top_bg_J01.png); min-height:80px;}
.page_big_left_J02 .page_top h1 { margin-left:-374px; margin-right:-310px; width:795px; font-weight:bold; height:80px;background:url(../images/newspaper/title_left_big_J02.png) no-repeat 31px 35px; height:100px;   }
.page_big_cover_J02 .page_top h1 { margin-left:-374px; margin-right:-310px;background:url(../images/newspaper/title_cover_bg_J02.png) no-repeat 20px 8px;   width:795px; height:145px;}
.page_big_cover_J02 .page_top h1 .school_logo { background:url(../images/newspaper/schoollogo_bg_big_J02.png) no-repeat; width:100px; height:90px; display:block; left:50px; top:15px;}
.page_big_cover_J02 .page_top h1 .school_logo img { display:none;}
.page_big_left_J02 .page_top h1 .school_logo { background:url(../images/newspaper/schoollogo_bg_J02.png) no-repeat; width:60px; height:50px; display:block; left:25px; top:35px;}
.page_big_left_J02 .page_top h1 .school_logo img { display:none;}
.page_big_cover_J02 .newspaper_title {font-size:3em;  text-align:center; left:160px; top:30px; width:600px; color:#FFF; height:auto;}
.page_big_left_J02 .newspaper_title  { font-size:1.2em;   color:#FFF; top:45px; left:90px; width:260px;}
.page_big_cover_J02 .issue_title {font-size:1.1em; color:#333333;  bottom:0; font-weight:bold}
.page_big_left_J02 .issue_title{font-size:1em; color:#333333 ; top:15px; left:225px; right:auto; width:150px; text-align:right; }
.page_big_left_J02 #page_cat{  padding-right:100px; background-position:right top; color:#333 ; text-align:right; right:20px; top:20px; left:auto;}

.page_big_cover_J02 .page_body, .page_big_left_J02 .page_body{ background-image: url(../images/newspaper/paper_big_left_J01.png); padding-left:88px; min-height:390px;}
.page_big_cover_J02 .page_body_right, .page_big_left_J02 .page_body_right { background-image: url(../images/newspaper/paper_big_right_J01.png) ; padding-right:71px; min-height:390px;}
.page_big_cover_J02 .page_body_bg, .page_big_left_J02 .page_body_bg { background-image: url(../images/newspaper/paper_bg_J01.png); min-height:390px;}
.page_big_cove_J02 .page_body_content, .page_big_left_J02 .page_body_content { margin-left:-50px; margin-right:-40px;min-height:390px;}

.page_big_cover_J02 .page_bottom, .page_big_left_J02 .page_bottom{ background-image: url(../images/newspaper/paper_big_bottom_left_J01.png); padding-left:328px; height:45px;}
.page_big_cover_J02 .page_bottom_right, .page_big_left_J02 .page_bottom_right { background-image: url(../images/newspaper/paper_big_bottom_right_J01.png) ; padding-right:358px; height:45px;}
.page_big_cover_J02 .page_bottom_bg, .page_big_left_J02 .page_bottom_bg {  background-image: url(../images/newspaper/paper_big_bottom_bg_J01.png) ; height:45px;}
/*####################################################################*/


/*###########################page_control_panel#########################################*/
.page_control_panel { display:block; background:url(../images/newspaper/control_panel_left.png) no-repeat left top; padding-left:38px; height:45px; width:730px; margin:0 auto}
.page_control_panel_right { display:block; background:url(../images/newspaper/control_panel_right.png) no-repeat right top; padding-right:38px; height:45px;}
.page_control_panel_bg { display:block; background:url(../images/newspaper/control_panel_bg.png) repeat-x top;  height:45px;}

/*###########################page_control_panel_button#########################################*/
.page_num { display:block; margin:0 auto; width:400px; color:#003399; font-weight:bold; font-size:0.9em; padding-top:15px; line-height:30px;}
.page_num span { display:block; float:left; padding-right:3px;}
.page_num em { display:block; float:left; padding-right:3px;padding-left:3px; color:#CCCCCC}
.page_num span.page_select { background:url(../images/newspaper/control_panel_select_bg.png) no-repeat; width:80px; text-align:center; height:26px; padding-top:4px;}
.page_num .select { width:70px;}
.page_control_panel a { display:block; background:url(../images/newspaper/icon_control_btn.png) no-repeat; color:#FFFFFF; height:30px; line-height:30px; margin-top: -30px; font-size:1em; font-weight:bold}
.page_control_panel a:hover { color:#FF0000}
.page_control_panel a.page_prev { padding-left:31px; background-position:left 0px; float:left;margin-left:-25px;}
.page_control_panel a.page_prev:hover { background-position:left -50px;}
.page_control_panel a.page_next { padding-right:31px; background-position:right -100px; float:right; margin-right:-25px;}
.page_control_panel a.page_next:hover { background-position:right -150px;}
.page_control_panel a.zoom_in {padding-left:31px; background-position:left -200px;float:left;margin-top: 0px;}
.page_control_panel a.zoom_in:hover {background-position:left -250px;}
.page_control_panel a.zoom_out {padding-left:31px; background-position:left -300px;float:left;margin-top: 0px;}
.page_control_panel a.zoom_out:hover {background-position:left -350px;}
.page_control_panel a.printer {padding-left:31px; background-position:left -400px;float:left;margin-top: 0px;}
.page_control_panel a.printer:hover {background-position:left -450px;}


/*####################################################################*/

.no_printing .page_num{ width:300px;}
.no_printing  a.printer{ display:none}
.news_log { display:block; }
.log_content_body { display:block; padding:10px;}
.log_photo {border:1px solid #DDDDDD;border-collapse:separate;	border-spacing: 10px; 	*border-collapse: expression('separate', cellSpacing = '10px'); background:#FFFFFF; margin-right:5px;margin-left:5px; /*display:block;*/ }
.log_video{border:0px;border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px'); background:#FFFFFF; margin-right:5px;margin-left:5px; display:block; }
.log_photo_file {display:block; background:#DDDDDD; }
.log_photo_desc {display:block; background:#FFFFFF; font-size:0.8em}
span.log_content_text{  font-size:1.2em; }
.log_content {margin-bottom:10px; display:block}
.log_content_more { display:block; font-size:1.1em; color:#000099; font-style:italic; margin-bottom:2px; margin-top:0px;  text-align:right; line-height:15px; }
.log_content_more:hover {color:#FF0000}
.log_author {display:block;min-height:20px;  font-size:0.9em; padding-top:3px; padding-bottom:0px; float:left; margin-right:20px; line-height:22px;font-style:italic; padding-left:20px; background:url(../images/newspaper/btn_icon_tool.gif) no-repeat left -78px;}
.log_enjoy_comment_tool {display:block; padding-top:3px; padding-bottom:3px;   font-size:0.9em; float:left; width:240px;}
.log_enjoy_comment_tool a, .log_enjoy_comment_tool span { display:block; float:left; padding-left:2px; padding-right:2px; line-height:20px;}
.log_enjoy_comment_tool span { color: #999999}
.log_enjoy_comment_tool a {color: #000099}
.log_enjoy_comment_tool a:hover {color:#FF0000}
a.btn_enjoy_cancel { color:#999999; text-shadow: 0 0 0, 0 -1px 2px rgba(0, 0, 0, 0.5); filter:Glow(color=#cccccc, Strength=2)}
a.btn_enjoy_cancel:hover{color:#FF0000}

.log_half_right .log_enjoy_comment_tool, .log_half_left .log_enjoy_comment_tool { clear:both}

.log_full { display:block;  margin-bottom:10px;}
.log_half_right { display:block; float:right; width:48%; margin-left:1%; margin-bottom:10px;clear:right}
.log_half_left { display:block; float:left; width:48%;margin-right:1%;  margin-bottom:10px; clear:left}

.height_long { min-height: 480px; padding-top:10px;} 
.height_medium { min-height: 280px; padding-top:10px;} 
.height_short {min-height: 180px; margin-top:10px;} 

/*.log_full .log_photo_file img{ height:240px; width:320px}*/
/*.log_half_right .log_photo_file img, .log_half_right .log_photo_file img{ height:120px; width:160px}*/

.log_header { display:block}
.log_header h1 {display:block; margin:0; padding:0px;  font-weight:bold; font-family:Georgia, 'Times New Roman', Times, serif; }

.height_long .log_header h1 {font-size:1.8em;}
.height_medium .log_header h1, .height_medium_cover .log_header h1  {font-size:1.8em;}
.height_short .log_header h1 {font-size:1.4em;}

.log_full span.log_content_text{font-size:1em}
.log_half_right span.log_content_text, .log_half_left span.log_content_text{ font-size:1em}
/**********EDIT************/

.edit_mode { display:block; padding-top:10px;}
.edit_mode_tool{ border:1px solid #CCCCCC; border-bottom:none;float:right;}
.edit_mode .news_log{ border:1px dashed #CCCCCC}
span.log_no_content{ background:#FFFFFF;text-align:center; display:block; padding-top:20px;font-style:italic; color:#CC0000}
.height_medium  span.log_no_content { height:400px;}
.height_medium_cover  span.log_no_content { height:450px;}
.height_long span.log_no_content { height:530px;}
.height_short span.log_no_content { height:250px;}
.select_theme {background:#EEEEEE; border:2px solid #666666; width:500px; min-height:150px;}
.select_theme .height_short .log_content_body {min-height:80px;}
 h1.select_theme_display { font-size:1.8em; padding-top:10px; line-height:normal} /*20121113*/
/*enjoy board*/
.enjoy_ppl_board{ display:block; width:200px; position:absolute; clear:both; visibility:hidden}
.enjoy_ppl_board_top_left{ padding-left:28px; height:14px; display:block; background:url(../images/newspaper/enjoy_board_top_left.png) no-repeat left top;}
.enjoy_ppl_board_top_right{ padding-right:10px; height:14px; display:block; background:url(../images/newspaper/enjoy_board_top_right.png) no-repeat right top;}
.enjoy_ppl_board_top_bg{ height:14px; display:block; background:url(../images/newspaper/enjoy_board_top_bg.png) repeat-x top;}
.enjoy_ppl_board_left{ padding-left:10px;  display:block; background:url(../images/newspaper/enjoy_board_left.png) repeat-y left;}
.enjoy_ppl_board_right{ padding-right:10px; display:block; background:url(../images/newspaper/enjoy_board_right.png) repeat-y right;}
.enjoy_ppl_board_bg{  display:block; background:url(../images/newspaper/enjoy_board_bg.png); height:120px;}
.enjoy_ppl_board_bottom_left{ padding-left:10px; height:10px; display:block; background:url(../images/newspaper/enjoy_board_bottom_left.png) no-repeat left top;}
.enjoy_ppl_board_bottom_right{ padding-right:10px; height:10px; display:block; background:url(../images/newspaper/enjoy_board_bottom_right.png) no-repeat right top;}
.enjoy_ppl_board_bottom_bg{ height:10px; display:block; background:url(../images/newspaper/enjoy_board_bottom_bg.png) repeat-x top;}
.enjoy_ppl_list { display:block; height:105px; overflow:auto; color:#333333}
.enjoy_ppl_list  ul{ display:block; margin:0; padding:0;}
.enjoy_ppl_list  li{ display:block;  margin:0; padding:0;list-style-type:none; margin-bottom:8px; font-size:0.9em; clear:both; padding-left:25px;}
.enjoy_ppl_list  li em{ display:block; float:left; margin-left:-25px; height:20px; width:20px; background: url(../images/newspaper/btn_icon_tool.gif) no-repeat left -80px;}
.enjoy_ppl_list  li span{ display:block; float:left; padding-top:3px; color:#333333}
.enjoy_ppl_board_bg a.btn_close{ margin-top:-5px; float:right}

/*********** NEWS  SKIN*****************/
/*############################################# Type 01 #############################################*/

/******basketball orange*****/
.log_header_01_basketball_orange {}
.log_header_01_basketball_orange .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_basketball_orange .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_basketball_orange .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_basketball_orange .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_basketball_orange .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_basketball_orange .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 
.log_header_01_basketball_orange h1 { margin-right:0px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_01_basketball_orange .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_basketball_orange .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_basketball_orange .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/basketball/orange/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_basketball_orange .log_content_body { background:none;}


/****** building blue*****/
.log_header_01_building_blue {}
.log_header_01_building_blue .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_building_blue .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_building_blue .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_top_bg.png) top; height:20px;} 
.log_header_01_building_blue .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_left.png) no-repeat left bottom; min-height:30px; padding-left:10px;}
.log_header_01_building_blue .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_right.png) no-repeat right top; min-height:30px; padding-right:70px;}
.log_header_01_building_blue .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_bg.png) left bottom no-repeat; min-height:30px; padding-top:3px} 
.log_header_01_building_blue h1 { margin-right:0px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_01_building_blue .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_building_blue .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_building_blue .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/building/blue/news_head_bottom_bg.png) left top no-repeat; height:9px;} 
.log_header_01_building_blue .log_content_body { background:none;}


/****** cloub pink*****/
.log_header_01_cloub_pink {}
.log_header_01_cloub_pink .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_top_left.png) no-repeat left top; height:20px; padding-left:153px;}
.log_header_01_cloub_pink .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_cloub_pink .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_top_bg.png) top; height:20px;} 
.log_header_01_cloub_pink .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_left.png) no-repeat left top; min-height:30px; padding-left:10px;}
.log_header_01_cloub_pink .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_right.png) no-repeat right top; min-height:30px; padding-right:70px;}
.log_header_01_cloub_pink .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_bg.png) left top no-repeat; min-height:30px; padding-top:1px} 
.log_header_01_cloub_pink h1 { margin-right:-20px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_01_cloub_pink .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_cloub_pink .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_cloub_pink .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/cloub/pink/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_cloub_pink .log_content_body { background:none;}



/******phone green*****/
.log_header_01_phone_green {}
.log_header_01_phone_green .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_top_left.png) no-repeat left top; height:20px; padding-left:77px;}
.log_header_01_phone_green .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_top_right.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_01_phone_green .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_phone_green .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_left.png) no-repeat left top; min-height:51px; padding-left:77px;}
.log_header_01_phone_green .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_right.png) no-repeat right top; min-height:51px; padding-right:8px;}
.log_header_01_phone_green .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 
.log_header_01_phone_green h1 { margin-right:-8px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_01_phone_green .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_01_phone_green .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:8px;}
.log_header_01_phone_green .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/green/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_phone_green .log_content_body { background:none;}


/******phone blue*****/
.log_header_01_phone_blue {}
.log_header_01_phone_blue .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:77px;}
.log_header_01_phone_blue .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_01_phone_blue .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_phone_blue .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_left.png) no-repeat left top; min-height:51px; padding-left:77px;}
.log_header_01_phone_blue .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_right.png) no-repeat right top; min-height:51px; padding-right:8px;}
.log_header_01_phone_blue .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 
.log_header_01_phone_blue h1 { margin-right:-8px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_01_phone_blue .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_01_phone_blue .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:8px;}
.log_header_01_phone_blue .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/phone/blue/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_phone_blue .log_content_body { background:none;}


/******telephone_blue*****/
.log_header_01_telephone_blue {}
.log_header_01_telephone_blue .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_telephone_blue .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_telephone_blue .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_telephone_blue .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_telephone_blue .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_telephone_blue .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 
.log_header_01_telephone_blue h1 { margin-right:-20px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_01_telephone_blue .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_telephone_blue .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_telephone_blue .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/telephone/blue/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_telephone_blue .log_content_body { background:none;}


/******tower blue*****/
.log_header_01_tower_blue {}
.log_header_01_tower_blue .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_tower_blue .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_tower_blue .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_tower_blue .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_tower_blue .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_tower_blue .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 
.log_header_01_tower_blue h1 { margin-right:-20px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_01_tower_blue .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_tower_blue .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_tower_blue .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/blue/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_tower_blue .log_content_body { background:none;}


/******tower yellow*****/
.log_header_01_tower_yellow {}
.log_header_01_tower_yellow .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_tower_yellow .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_tower_yellow .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_tower_yellow .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_tower_yellow .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_tower_yellow .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 
.log_header_01_tower_yellow h1 { margin-right:-20px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color: #660000; }
.log_header_01_tower_yellow .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_tower_yellow .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_tower_yellow .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/tower/yellow/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_tower_yellow .log_content_body { background:none;}

/******magnifier_purple*****/
.log_header_01_magnifier_purple {}
.log_header_01_magnifier_purple .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_magnifier_purple .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_magnifier_purple .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_top_bg.png) right top; height:20px;} 
.log_header_01_magnifier_purple .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_magnifier_purple .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_magnifier_purple .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bg.png) right top no-repeat; min-height:51px; padding-top:1px} 
.log_header_01_magnifier_purple h1 { margin-right:-20px; text-transform:uppercase; font-family:Geneva, Arial, Helvetica, sans-serif; color: #ffffff; }
.log_header_01_magnifier_purple .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_magnifier_purple .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_magnifier_purple .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bottom_bg.png) left top; height:9px;} 
.log_header_01_magnifier_purple .log_content_body { background:none;}


/*############################################# Type 02 #############################################*/


/****** flag *****/
.log_header_02_flag {}
.log_header_02_flag .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_flag .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_flag .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_flag .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_flage .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_flag .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_flag h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_02_flage .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/flag/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_flag .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_flag .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/flag/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_flag .log_content_body { background:none;}

/****** color_blue *****/
.log_header_02_color_blue {}
.log_header_02_color_blue .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_color_blue .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_color_blue .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_color_blue .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_color_blue .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_color_blue .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_color_blue h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #CC0000; }
.log_header_02_color_blue .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_color_blue .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_color_blue .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/blue/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_color_blue .log_content_body { background:none;}

/****** color_yellow *****/
.log_header_02_color_yellow {}
.log_header_02_color_yellow .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_color_yellow .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_color_yellow .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_color_yellow .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_color_yellow .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_color_yellow .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_color_yellow h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #CC0000; }
.log_header_02_color_yellow .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_color_yellow .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_color_yellow .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/yellow/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_color_yellow .log_content_body { background:none;}


/****** color_pink *****/
.log_header_02_color_pink {}
.log_header_02_color_pink .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_color_pink .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_color_pink .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_color_pink .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_color_pink .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_color_pink .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_color_pink h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #CC0000; }
.log_header_02_color_pink .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_color_pink .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_color_pink .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/color/pink/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_color_pink .log_content_body { background:none;}


/****** pin *****/
.log_header_02_pin_red {}
.log_header_02_pin_red .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_pin_red .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_pin_red .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_pin_red .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_pin_red .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_pin_red .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_pin_red h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_02_pin_red .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/pin/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_pin_red .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_pin_red .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_pin_red .log_content_body { background:none;}

/****** pin_orange *****/
.log_header_02_pin_orange {}
.log_header_02_pin_orange .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_pin_orange .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_pin_orange .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_pin_orange .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_pin_orange .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_pin_orange .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_pin_orange h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.log_header_02_pin_orange .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_pin_orange .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_pin_orange .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/pin_orange/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_pin_orange .log_content_body { background:none;}

/****** redphone *****/
.log_header_02_redphone {}
.log_header_02_redphone .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_redphone .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_redphone .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_redphone .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_redphone .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_bg.png) ; min-height:40x; padding-right:8px;}
.log_header_02_redphone .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_redphone h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #CC0000; }
.log_header_02_redphone .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/redphone/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_redphone .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_redphone .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/redphone/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_redphone .log_content_body { background:none;}

/****** greenphone *****/
.log_header_02_greenphone {}
.log_header_02_greenphone .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_greenphone .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_greenphone .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_greenphone .log_header_body { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_greenphone .log_header_body_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_bg.png) ; min-height:40x; padding-right:8px;}
.log_header_02_greenphone .log_header_body_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_bg.png) ; min-height:50px; padding-top:3px} 
.log_header_02_greenphone h1 { margin-left:-30px; margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #00898a; }
.log_header_02_greenphone .log_header_bottom {display:block; background: url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_greenphone .log_header_bottom_right { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_greenphone .log_header_bottom_bg { display:block; background:url(../images/newspaper/news_log_skin/type_02/greenphone/news_head_bottom_bg.png) repeat-x top; height:9px;} 
.log_header_02_greenphone .log_content_body { background:none;}


/*############################################# Type 03 #############################################*/
/*===================01 line===============*/
.log_header_03_right .log_header{ background:left top no-repeat}
.log_header_03_right .log_header_body{ padding-left:46px}
.log_header_03_right .log_header_body_right{ padding-right:20px;}
.log_header_03_right .log_content_body{ background:left bottom no-repeat; padding-left:40px;}
.log_header_03_left .log_header{ background:right top no-repeat;}
.log_header_03_left .log_header_body{ padding-right:46px}
.log_header_03_left .log_header_body_right{ padding-left:20px;}
.log_header_03_left .log_content_body{ background: right bottom no-repeat; padding-right:40px;}
.log_header_03_right .log_header_top, .log_header_03_left .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_left.png) left top no-repeat ; height:10px; padding-left:46px;}
.log_header_03_right .log_header_top_right, .log_header_03_left .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_right.png) no-repeat right top;height:10px; padding-right:46px;}
.log_header_03_right .log_header_top_bg, .log_header_03_left .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_bg.png) top repeat-x; height:10px;} 
.log_header_03_right .log_header_body, .log_header_03_left .log_header_body { display:block; background:none; min-height:30px; }
.log_header_03_right .log_header_body_right, .log_header_03_left .log_header_body_right  { display:block; background:none ; min-height:30px; }
.log_header_03_right .log_header_body_bg, .log_header_03_left .log_header_body_bg  { display:block; background:none; min-height:30px; padding-top:3px} 
.log_header_03_right .log_header_bottom, .log_header_03_left .log_header_bottom {display:block; background:none; height:9px; padding-left:90px;}
.log_header_03_right .log_header_bottom_right, .log_header_03_left .log_header_bottom_right { display:block; background:none; height:9px; padding-right:10px;}
.log_header_03_right .log_header_bottom_bg, .log_header_03_left .log_header_bottom_bg { display:block; background:none repeat-x top; height:9px;} 
/*===================02 dotline===============*/
.log_header_03_right_dot .log_header{ background:left top no-repeat}
.log_header_03_right_dot .log_header_body{ padding-left:46px}
.log_header_03_right_dot .log_header_body_right{ padding-right:20px;}
.log_header_03_right_dot .log_content_body{ background:left bottom no-repeat; padding-left:40px;}
.log_header_03_left_dot .log_header{ background:right top no-repeat;}
.log_header_03_left_dot .log_header_body{ padding-right:46px}
.log_header_03_left_dot .log_header_body_right{ padding-left:20px;}
.log_header_03_left_dot .log_content_body{ background: right bottom no-repeat; padding-right:40px;}
.log_header_03_right_dot .log_header_top, .log_header_03_left_dot .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_left_dot.png) left top no-repeat ; height:20px; padding-left:46px;}
.log_header_03_right_dot .log_header_top_right, .log_header_03_left_dot .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_right_dot.png) no-repeat right top;height:20px; padding-right:46px;}
.log_header_03_right_dot .log_header_top_bg, .log_header_03_left_dot .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_bg_dot.png) top repeat-x; height:20px;} 
.log_header_03_right_dot .log_header_body, .log_header_03_left_dot .log_header_body { display:block; background:none; min-height:30px; }
.log_header_03_right_dot .log_header_body_right, .log_header_03_left_dot .log_header_body_right  { display:block; background:none ; min-height:30px; }
.log_header_03_right_dot .log_header_body_bg, .log_header_03_left_dot .log_header_body_bg  { display:block; background:none; min-height:30px; padding-top:3px} 
.log_header_03_right_dot .log_header_bottom, .log_header_03_left_dot .log_header_bottom {display:block; background:none; height:9px; padding-left:90px;}
.log_header_03_right_dot .log_header_bottom_right, .log_header_03_left_dot .log_header_bottom_right { display:block; background:none; height:9px; padding-right:10px;}
.log_header_03_right_dot .log_header_bottom_bg, .log_header_03_left_dot .log_header_bottom_bg { display:block; background:none repeat-x top; height:9px;}
/*===================03 kiteline===============*/
.log_header_03_right_kiteline .log_header{ background:left top no-repeat}
.log_header_03_right_kiteline .log_header_body{ padding-left:46px}
.log_header_03_right_kiteline .log_header_body_right{ padding-right:20px;}
.log_header_03_right_kiteline .log_content_body{ background:left bottom no-repeat; padding-left:40px;}
.log_header_03_left_kiteline .log_header{ background:right top no-repeat;}
.log_header_03_left_kiteline .log_header_body{ padding-right:46px}
.log_header_03_left_kiteline .log_header_body_right{ padding-left:20px;}
.log_header_03_left_kiteline .log_content_body{ background: right bottom no-repeat; padding-right:40px;}
.log_header_03_right_kiteline .log_header_top, .log_header_03_left_kiteline .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_left_kiteline.png) left top no-repeat ; height:20px; padding-left:46px;}
.log_header_03_right_kiteline .log_header_top_right, .log_header_03_left_kiteline .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_right_kiteline.png) no-repeat right top;height:20px; padding-right:46px;}
.log_header_03_right_kiteline .log_header_top_bg, .log_header_03_left_kiteline .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_bg_kiteline.png) top repeat-x; height:20px;} 
.log_header_03_right_kiteline .log_header_body, .log_header_03_left_kiteline .log_header_body { display:block; background:none; min-height:30px; }
.log_header_03_right_kiteline .log_header_body_right, .log_header_03_left_kiteline .log_header_body_right  { display:block; background:none ; min-height:30px; }
.log_header_03_right_kiteline .log_header_body_bg, .log_header_03_left_kiteline .log_header_body_bg  { display:block; background:none; min-height:30px; padding-top:3px} 
.log_header_03_right_kiteline .log_header_bottom, .log_header_03_left_kiteline .log_header_bottom {display:block; background:none; height:9px; padding-left:90px;}
.log_header_03_right_kiteline .log_header_bottom_right, .log_header_03_left_kiteline .log_header_bottom_right { display:block; background:none; height:9px; padding-right:10px;}
.log_header_03_right_kiteline .log_header_bottom_bg, .log_header_03_left_kiteline .log_header_bottom_bg { display:block; background:none repeat-x top; height:9px;}



/****** kite***/
.log_header_03_kite .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/kite/news_head_bg.png)  ;}
.log_header_03_kite h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #03C; }
.log_header_03_kite .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/kite/news_bg.png) }
/*thumb*/
.newspaper_page .log_header_03_kite .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/kite/t_news_head_bg.png)  ;}
.newspaper_page .log_header_03_kite h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #03C; }
.newspaper_page .log_header_03_kite .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/kite/t_news_bg.png) }



/*===================04 redline===============*/
.log_header_03_right_redline .log_header{ background:left top no-repeat}
.log_header_03_right_redline .log_header_body{ padding-left:46px}
.log_header_03_right_redline .log_header_body_right{ padding-right:20px;}
.log_header_03_right_redline .log_content_body{ background:left bottom no-repeat; padding-left:40px;}
.log_header_03_left_redline .log_header{ background:right top no-repeat;}
.log_header_03_left_redline .log_header_body{ padding-right:46px}
.log_header_03_left_redline .log_header_body_right{ padding-left:20px;}
.log_header_03_left_redline .log_content_body{ background: right bottom no-repeat; padding-right:40px;}
.log_header_03_right_redline .log_header_top, .log_header_03_left_redline .log_header_top  { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_left_redline.png) left top no-repeat ; height:20px; padding-left:46px;}
.log_header_03_right_redline .log_header_top_right, .log_header_03_left_redline .log_header_top_right { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_right_redline.png) no-repeat right top;height:20px; padding-right:46px;}
.log_header_03_right_redlinet .log_header_top_bg, .log_header_03_left_redline .log_header_top_bg { display:block; background:url(../images/newspaper/news_log_skin/type_03/news_head_top_bg_redline.png) top repeat-x; height:20px;} 
.log_header_03_right_redline .log_header_body, .log_header_03_left_redline .log_header_body { display:block; background:none; min-height:30px; }
.log_header_03_right_redline .log_header_body_right, .log_header_03_left_redline .log_header_body_right  { display:block; background:none ; min-height:30px; }
.log_header_03_right_redline .log_header_body_bg, .log_header_03_left_redline .log_header_body_bg  { display:block; background:none; min-height:30px; padding-top:3px} 
.log_header_03_right_redline .log_header_bottom, .log_header_03_left_redline .log_header_bottom {display:block; background:none; height:9px; padding-left:90px;}
.log_header_03_right_redline .log_header_bottom_right, .log_header_03_left_redline .log_header_bottom_right { display:block; background:none; height:9px; padding-right:10px;}
.log_header_03_right_redline .log_header_bottom_bg, .log_header_03_left_redline .log_header_bottom_bg { display:block; background:none repeat-x top; height:9px;}


/****** writing***/
.log_header_03_writing .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/writing/news_head_bg.png)  ;}
.log_header_03_writing h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #03C; }
.log_header_03_writing .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/writing/news_bg.png) }


/****** travel***/
.log_header_03_travel .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/travel/news_head_bg.png)  ;}
.log_header_03_travel h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #03C; }
.log_header_03_travel .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/travel/news_bg.png) }
/****** travel2***/
.log_header_03_travel2 .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/travel2/news_head_bg.png)  ;}
.log_header_03_travel2 h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #03C; }
.log_header_03_travel2 .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/travel2/news_bg.png) }


/****** football***/
.log_header_03_football .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/football/news_head_bg.png)  ;}
.log_header_03_football h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #03C; }
.log_header_03_football .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/football/news_bg.png) }
/****** pencil***/
.log_header_03_pencil .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/pencil/news_head_bg.png)  ;}
.log_header_03_pencil h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #609; }
.log_header_03_pencil .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/pencil/news_bg.png) }
/****** comic***/
.log_header_03_comic .log_header { background-image:url(../images/newspaper/news_log_skin/type_03/comic/news_head_bg.png)  ;}
.log_header_03_comic h1 { margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #600; }
.log_header_03_comic .log_content_body{  background-image:url(../images/newspaper/news_log_skin/type_03/comic/news_bg.png) }
/*############################################# Type 04 #############################################*/
.log_header_04 .log_header_top, .log_header_04 .log_header_top_right, .log_header_04 .log_header_top_bg{ height:10px; background:none}
.log_header_04 .log_header_body, .log_header_04 .log_header_body_right{ padding-left:10px;}

.log_header_04 .log_header_body_bg  { display:block; background:none; min-height:30px; padding-top:3px} 
.log_header_04 .log_header_bottom {display:block; background:none; height:9px; padding-left:90px;}
.log_header_04 .log_header_bottom_right{ display:block; background:none; height:9px; padding-right:10px;}
.log_header_04 .log_header_bottom_bg { display:block; background:none repeat-x top; height:9px;} 

/******** color ********/
.log_header_04_color {background:url(../images/newspaper/news_log_skin/type_04/color/news_main_bg.png)}
.log_header_04_color .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/color/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_color h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #330000; }

/******** milk ********/
.log_header_04_milk {background:url(../images/newspaper/news_log_skin/type_04/milk/news_main_bg.png)}
.log_header_04_milk .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/milk/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_color h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #003366; }

/******** ilovehk ********/
.log_header_04_ilovehk {background:url(../images/newspaper/news_log_skin/type_04/ilovehk/news_main_bg.png)}
.log_header_04_ilovehk .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/ilovehk/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_ilovehk h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #3300FF; }

/******** ilovehk2 ********/
.log_header_04_ilovehk2 {background:url(../images/newspaper/news_log_skin/type_04/ilovehk2/news_main_bg.png)}
.log_header_04_ilovehk2 .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/ilovehk2/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_ilovehk2 h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #006600; }

/******** ufo ********/
.log_header_04_ufo {background:url(../images/newspaper/news_log_skin/type_04/ufo/news_main_bg.png)}
.log_header_04_ufo .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/ufo/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_ufo h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #3300FF; }

/******** colorpen ********/
.log_header_04_colorpen {background:url(../images/newspaper/news_log_skin/type_04/colorpen/news_main_bg.png)}
.log_header_04_colorpen .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/colorpen/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_colorpen h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #660099; }

/********Spaceship********/

.log_header_04_spaceship {background:url(../images/newspaper/news_log_skin/type_04/spaceship/news_main_bg.png)}
.log_header_04_spaceship .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/spaceship/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_spaceship h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #C30; }

/******** Hong Kong ********/

.log_header_04_hongkong {background:url(../images/newspaper/news_log_skin/type_04/hongkong/news_main_bg.png)}
.log_header_04_hongkong .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/hongkong/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_hongkong h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #600; }

/******** tram ********/
.log_header_04_tram {background:url(../images/newspaper/news_log_skin/type_04/tram/news_main_bg.png)}
.log_header_04_tram .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/tram/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_tram h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #600; }

/******** tram2 ********/

.log_header_04_tram2 {background:url(../images/newspaper/news_log_skin/type_04/tram2/news_main_bg.png)}
.log_header_04_tram2 .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/tram2/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_tram2 h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #060; }

/******** taxi ********/
.log_header_04_taxi {background:url(../images/newspaper/news_log_skin/type_04/taxi/news_main_bg.png)}
.log_header_04_taxi .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/taxi/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_taxi h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #C30; }

/******** baseball ********/
.log_header_04_baseball {background:url(../images/newspaper/news_log_skin/type_04/baseball/news_main_bg.png)}
.log_header_04_baseball .log_content_body{ background:url(../images/newspaper/news_log_skin/type_04/baseball/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}
.log_header_04_baseball h1 {margin-right:0px; font-family:Geneva, Arial, Helvetica, sans-serif; color: #060; }

/****###############################********20121113  custom banner & school logo *****###############################**********/

/********* page_big************/
.customized .page_big_cover h1, .customized .page_big_left h1, .customized .page_big_right h1,.customized .page_big_back h1 { background:none;}
.customized .page_big_cover h1 .custom_banner { display:block;} 
.customized .page_big_left h1 .custom_banner, .customized .page_big_right h1 .custom_banner, .customized .page_big_back h1 .custom_banner { display:block; height:80px;} 
.customized .page_big_left h1 .newspaper_title, .customized .page_big_back h1 .newspaper_title { top:40px; width:500px;}
.customized .page_big_right h1 .newspaper_title{ top:40px;}
.customized .page_big_left h1 .issue_title, .customized .page_big_back h1 .issue_title { text-align:left; left:75px; top:70px; }
.customized .page_big_right h1 .issue_title{ text-align:right; left:auto; right:65px; top:70px; }
.page_big_cover h1.with_logo .newspaper_title{ width:590px; left:160px; }
.page_big_cover h1.with_logo .school_logo { display:block;}
.page_big_left h1.with_logo .school_logo, .page_big_back h1.with_logo .school_logo  { display:block; width:60px; height:60px; left:55px; top:35px;  }
.page_big_left h1.with_logo .school_logo  img, .page_big_back h1.with_logo .school_logo  img, .page_big_right h1.with_logo .school_logo  img{ height:60px;}
.page_big_right h1.with_logo .school_logo { display:block; width:60px; height:60px; left: auto; right:45px;top:35px; }

.page_big_left h1.with_logo .newspaper_title, .page_big_back h1.with_logo .newspaper_title{ padding-left:50px; width:300px;  }
.page_big_right h1.with_logo .newspaper_title{ width:300px; padding-right:50px;  }
.customized .page_big_left h1.with_logo .newspaper_title, .customized .page_big_back h1.with_logo .newspaper_title { width:450px; } 
.customized .page_big_left h1.with_logo .issue_title, .customized .page_big_back h1.with_logo .issue_title { padding-left:50px;}
.customized .page_big_right h1.with_logo .newspaper_title{ width:450px; } 
.customized .page_big_right h1.with_logo .issue_title { padding-right:50px;}
.customized .page_big_cover h1.with_logo .school_logo { display:block; top:30px}

/********* page_big_00************/

.customized .page_big_cover00 h1 .newspaper_title{ top:45px;}
.customized .page_big_cover00 h1, .customized .page_big_left00 h1, .customized .page_big_right00 h1,.customized .page_big_back00 h1 { background:none;}
.customized .page_big_cover00 h1 .custom_banner { display:block;} 
.customized .page_big_left00 h1 .custom_banner, .customized .page_big_right00 h1 .custom_banner, .customized .page_big_back00 h1 .custom_banner { display:block; height:80px;} 
.customized .page_big_left00 h1 .newspaper_title, .customized .page_big_back00 h1 .newspaper_title { top:40px; width:500px;}
.customized .page_big_right00 h1 .newspaper_title{ top:40px;}
.customized .page_big_cover00 h1 .issue_title{  bottom:15px; left:auto; right:45px;; }
.customized .page_big_left00 h1 .issue_title, .customized .page_big_back00 h1 .issue_title { text-align:left; left:75px; top:70px; }
.customized .page_big_right00 h1 .issue_title{ text-align:right; left:auto; right:65px; top:70px; }
.page_big_cover00 h1.with_logo .newspaper_title{ width:590px; left:160px; }
.page_big_cover00 h1.with_logo .school_logo { display:block;}
.page_big_left00 h1.with_logo .school_logo, .page_big_back00 h1.with_logo .school_logo  { display:block; width:60px; height:60px; left:55px; top:35px; }
.page_big_left00 h1.with_logo .school_logo  img, .page_big_back00 h1.with_logo .school_logo  img, .page_big_right00 h1.with_logo .school_logo  img{ height:60px;}
.page_big_right00 h1.with_logo .school_logo { display:block; width:60px; height:60px; left: auto; right:45px;top:35px; }

.page_big_left00 h1.with_logo .newspaper_title, .page_big_back00 h1.with_logo .newspaper_title{ padding-left:50px; width:300px;  }
.page_big_right00 h1.with_logo .newspaper_title{ width:280px; padding-right:50px;  }
.customized .page_big_left00 h1.with_logo .newspaper_title, .customized .page_big_back00 h1.with_logo .newspaper_title { width:450px; } 
.customized .page_big_left00 h1.with_logo .issue_title, .customized .page_big_back00 h1.with_logo .issue_title { padding-left:50px;}
.customized .page_big_right00 h1.with_logo .newspaper_title{ width:450px; } 
.customized .page_big_right00 h1.with_logo .issue_title { padding-right:50px;}
.customized .page_big_cover00 h1.with_logo .school_logo { display:block; top:30px}

/********* page_big_J01************/
.customized .page_big_cover_J01 h1 {}
.customized .page_big_cover_J01 h1 .newspaper_title{ top:45px;}
.customized .page_big_cover_J01 h1, .customized .page_big_left_J01 h1 { background:none;}
.customized .page_big_cover_J01 h1 .custom_banner { display:block;} 
.customized .page_big_left_J01 h1 .custom_banner{ display:block; height:80px;} 
.customized .page_big_left_J01 h1 .newspaper_title { top:40px; width:500px;}
.customized .page_big_cover_J01 h1 .issue_title{  bottom:15px; left:auto; right:45px;; }
.customized .page_big_left_J01 h1 .issue_title { text-align:left; left:65px; top:70px; }
.page_big_cover_J01 h1.with_logo .newspaper_title{ width:500px; left:140px; }
.page_big_cover_J01 h1.with_logo .school_logo { display:block; left:50px}
.page_big_left_J01 h1.with_logo .newspaper_title{ padding-left:50px; width:260px;  }
.page_big_left_J01 h1.with_logo .school_logo { display:block; width:60px; height:60px; left:35px; top:25px; }
.page_big_left_J01 h1.with_logo .school_logo  img{ height:60px;}

.customized .page_big_cover_J01 h1.with_logo .newspaper_title { width:600px; } 
.customized .page_big_left_J01 h1.with_logo .newspaper_title { width:450px; } 
.customized .page_big_left_J01 h1.with_logo .issue_title { padding-left:50px;}
.customized .page_big_cover_J01 h1.with_logo .school_logo { display:block; top:30px}
.customized .page_big_left_J01 h1.with_logo .school_logo { display:block; top:30px; left:45px;}

/********* page_big_J02************/
.customized .page_big_cover_J02 h1 {}
.customized .page_big_cover_J02 h1 .newspaper_title{ left:70px;top:45px; width:680px;}
.customized .page_big_cover_J02 h1, .customized .page_big_left_J01 h1 { background:none;}
.customized .page_big_cover_J02 h1 .custom_banner { display:block;} 
.customized .page_big_left_J02 h1 .custom_banner{ display:block; height:80px;} 
.customized .page_big_left_J02 h1 .newspaper_title { top:40px; width:500px; left:60px;}
.customized .page_big_cover_J02 h1 .issue_title{  bottom:15px; left:auto; right:45px;; }
.customized .page_big_left_J02 h1 .issue_title { text-align:left; left:65px; top:70px; }
.page_big_cover_J02 h1.with_logo .newspaper_title{ width:500px; left:140px; }
.page_big_cover_J02 h1.with_logo .school_logo { display:block; left:50px; background:none;}
.page_big_cover_J02 h1.with_logo .school_logo  img{display:block;}
.page_big_left_J02 h1.with_logo .newspaper_title{ padding-left:50px; width:260px; left:55px; }
.page_big_left_J02 h1.with_logo .school_logo { display:block; width:60px; height:60px; left:35px; top:25px; background:none;}
.page_big_left_J02 h1.with_logo .school_logo  img{display:block; height:60px;}

.customized .page_big_cover_J02 h1.with_logo .newspaper_title { width:600px; } 
.customized .page_big_left_J02 h1.with_logo .newspaper_title { width:450px; } 
.customized .page_big_left_J02 h1.with_logo .issue_title { padding-left:50px;}
.customized .page_big_cover_J02 h1 .school_logo { background:none;}
.customized .page_big_left_J02 h1 .school_logo { background:none;}
.customized .page_big_cover_J02 h1.with_logo .school_logo { display:block; top:30px}
.customized .page_big_left_J02 h1.with_logo .school_logo { display:block; top:30px; left:45px;}

