@charset "utf-8";
/* CSS Document */

.checkpic {
	border:1px solid #CC0000;
}

.uncheckpic {
	border:1px solid #000000;
	opacity:0.4;filter:alpha(opacity=40)
}

.shadetabs{
	border-bottom: 1px solid #dee2e6;
	/* width: 90%; width of menu. Uncomment to change to a specific width */
margin-bottom: 5pt;
}/*20200520*/

.shadetabs ul{
 padding: 0px;
 margin-left: 0;
 margin-top: 1px;
 margin-bottom: 0;
 font-size:15px;
 font-family: "Century Gothic", "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu;
 list-style-type: none;
 text-align: left; /*set to left, center, or right to align the menu as desired*/
 display: table;
 border-spacing: 0px;
}/*20200623*/

.shadetabs li{
display: table-cell;
margin: 0;
padding: 3px 15px;
}/*20200623*/

.shadetabs li a{
	text-decoration: none;
	padding: 0px;
	margin-right: 0px;
	color: #a5a5a5;
}/*20200623*/

.shadetabs li a:hover{
text-decoration: none;
color: #ff0000;
}

.shadetabs li.selected{
 position: relative;
 border-bottom: 2px solid #25A28B;
 color: #25A28B;
 top: 1px;
}/*20200623*/

.shadetabs li.selected a{ /*selected main tab style */
	font-weight: bold;
background: transparent;
border: none;
color: #25A28B;
}/*20200623*/

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}
.ratebox{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	width: 30px;
}
.retabletop_total{
	background-color: #8eb6d7;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
#btn_prevnext {
	width : 10px;
	height : 30px;
	display : block;

}
#btn_prevnext a{
	display : block;

}
#btn_prevnext a span{
	display : block;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #CCCCCC;
	text-align: center;
}
#btn_prevnext a:hover span{

	background-color: #1AACD7;

}
#btn_prevnext a:hover{

	background-color: #1AACD7;

}
.retabletop {
	background-color: #d6f4ed;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}/*20200702*/
.retabletop_sort {
	background-color: #e9565a;

}/*2020804*/
.term_break_link {

	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bcbcbc;
}
.total_break_link {

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
}
.resubtabletop {
	background-color: #cccccc;


}
.tabletexttopremark {
	font-family: "Century Gothic", "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu ;
	font-size: 11px;
	color: #FFFFFF;
}/*20200804*/
.tabletexttoptext {
	font-family: "Century Gothic", "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu ;
	font-size: 15px;
	color: #333;
}/*20200804*/
.retabletext_remark {
	color:#333;
	font-family: "Century Gothic", "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu ;
	font-size:11px;
}/*20200804*/
.tablelist_subject{
	background-color: #c9d7d8;
	color: #333;
}/*20200804*/
.tablelist_subject_head{
	background-color: #c9d7d8;
	font-weight: bold;
	color: #333;
}/*20200520*/
.retablerow_subsubject_line{
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #D2D2D2;
}
.retablerow_subsubject
{
	padding-left: 30px;
}
.tablelist_sub_subject{
	background-color: #e2eaea;
	font-family: "Century Gothic", "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu ;
	font-size: 15px;
	color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	/*padding-left: 20px;*/
}/*20200804*/
.retablerow1 {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2 {

	background-color: #F5F5F5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow1_total {
	background-color: #eff8ff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2_total {

	background-color: #dbeeff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablechose {

	background-color: #aadc74;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.status_inprogress {

	background-color: #fff475;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.status_notstart {
	background-color: #e6e6e6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.status_completed {
	background-color: #aadc74;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

#btn_style_symbol {
	width : 20px;
	height : 20px;
	display : block;
	background-image: url(/images/2020a/ereportcard/btn_symbol_bg.gif);
	background-repeat: no-repeat;
	background-position: top;
}
#btn_style_symbol a{
	display : block;
	width : 20px;
	height : 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #797979;
	text-decoration: none;
	/*border: 1px dotted #CCCCCC;*/
	background-image: url(/images/2020a/ereportcard/btn_symbol_arrow_off.gif);

}
#btn_style_symbol a span{
	display : block;

	text-align: center;
	background-repeat: no-repeat;

}
#btn_style_symbol a:hover span{




}
#btn_style_symbol a:hover{


	background-image: url(/images/2020a/ereportcard/btn_symbol_arrow_on.gif);
	background-repeat: no-repeat;

}
#btn_style_symbol a span {float:none;}
/* End IE5-Mac hack */




#btn_select_symbol {
	width : 20px;
	height : 20px;
	display : block;
	background-repeat: no-repeat;
	background-position: top;
}
#btn_select_symbol a{
	display : block;
	width : 20px;
	height : 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	/*border: 1px dotted #CCCCCC;*/
	background-color: #f0f0f0;

}
#btn_select_symbol a span{
	display : block;

	text-align: center;
	background-repeat: no-repeat;

}
#btn_select_symbol a:hover span{


	background-color: #c6eafe;


}
#btn_select_symbol a:hover{


	background-color: #c6eafe;


}
#btn_select_symbol a span {float:none;}
/* End IE5-Mac hack */


.retabletop_a {
	background-color: #6AA9AE;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retabletop_b {
	background-color: #89B948;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow1_a {
	background-color: #F4FBFB;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2_a {
	background-color: #DDF0F0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow1_b {
	background-color: #FEFEFC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.retablerow2_b {
	background-color: #EEF2DF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

.status_alert{
font-family: "Century Gothic", "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu ;
font-size: 15px;
color: #FF0000;

}/*20200804*/
