/* for printing view of school bus report */
body, table{
	font-family: "Times New Roman", 微軟正黑體, Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu;
	font-size:12px;
}

.taking_date, .student_name {
	font-size:14px;
	white-space: nowrap;
}

.report_row{
	height: 40px;
}

.schoolbus_report_title{
	font-size:18pt;
	font-weight: bold;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
}

.class_group, .location, .bus, .total{
	font-size:14pt;
	font-weight: bold;
	text-align:center;
	white-space: nowrap;
}

.bus_number{
	font-size:14pt;
	font-weight: bold;
	text-align:center !important;
}

.bus_number_absent_bg{
	background-color: #1B91AF;
}

.bus_number_present_bg{
	background-color: #4A7ECC;
}
