@charset "utf-8";
/* CSS Document */
.reg_board { display:block; width:600px; margin:0 auto; margin-bottom:10px;}
.reg_board  h1 { background-position: left bottom; background-repeat:no-repeat; margin:0; padding:0; font-size:1em; font-weight:normal; line-height:normal; min-height:30px; padding-top:22px; padding-left: 150px; display:block; }
.reg_board  h1.head_parent { background-image:url(../../../images/2020a/parent_reg/parent_head.png)}
.reg_board  h1.head_student { background-image:url(../../../images/2020a/parent_reg/student_head.png)}
.reg_board  h1 span { display:block; float:left; margin-left: -80px; color:#FFF; font-size:1.2em; font-weight:bold; width:60px; text-align:right }
.reg_board  h1.head_student span {  margin-left: -100px; width:80px; }
.reg_board  h1 em { display:block; float:left; font-style:normal; }
.reg_board ul { display:block; margin:0; padding:10px; border-radius:0 0 10px 10px; box-shadow: 0 3px 3px #888; margin-left:20px; border:1px solid #EAEAEA; border-top:none}
.reg_board ul li { display:block; list-style-type:none; margin:5px 0; padding:0; padding-right:250px; padding-bottom:5px; border-bottom:1px dotted #CCC;}
.reg_board ul li a { display:block; float:left; background:url(../../../images/2020a/parent_reg/icon_parent_reg.png) no-repeat left top; padding-left:35px; min-height:27px; padding-top:8px; display:block; clear:both; color:#006699  }
.reg_board ul li span { padding-top:10px; width:250px; display:block; margin-right:-250px; font-size:0.9em; color:#333333; float:right; }
.reg_board ul li.btn_setting a{ background-position:left 0}
.reg_board ul li.btn_setting a:hover { background-position:left -50px;}
.reg_board ul li.btn_info a{ background-position:left -100px}
.reg_board ul li.btn_info a:hover { background-position:left -150px;}
.reg_board ul li.btn_notice a{ background-position:left -200px}
.reg_board ul li.btn_notice a:hover { background-position:left -250px;}
.reg_board ul li a:hover { color:#CC0000}
