@charset "utf-8";
/* Modification Log 
*	2016-05-20 (Paul)
*	- Add .login_box.PowerFlip
*	2016-03-14 (Paul)
*	- Add btn_manage, btn_back_lessonplan
*
*   2012-10-25 (Thomas)
*	- Comment out 
	  .login_box a:hover, 
	  .list_header a.btn_logout:hover, .list_header a.btn_logout:active, 
	  .list_header a.btn_reload:hover, .list_header a.btn_reload:active, 
	  .list_header a.btn_back:hover, .list_header a.btn_back:active, 
	  .list_header a.btn_intranet:hover, .list_header a.btn_intranet:active
	  .left_sub_list ul li a:hover, .left_sub_list ul li a:active, 
	  .list_item ul li a:hover h1
*  	2012-10-24 (Thomas)
*	- Modified body,html, comment out background, min-height, min-width
*	- Add body.pl_login
*   - Modified .list_item ul li a ul, change padding-top from 20px to 32px
*/

/* CSS Document */

body,html{height:100%; margin:0; padding:0; font-family: Verdana, "微軟正黑體"; font-family:13px; /*min-height:600px; min-width:990px;*/}
body.pl_login { background:url(../../../images/powerlessonwebview/login_bg.jpg) no-repeat center center }
body.pl_list { background:url(../../../images/powerlessonwebview/bg.png)}
a { text-decoration:none; color:#0066CC}
input, select{ font-family: Verdana, "微軟正黑體";font-family:13px; }
#wrapper { display:block; width:500px; margin:0 auto; }
.login_box {position:absolute; top:50%; height:340px; margin-top:-170px; width:500px;/* negative half of the height */ background:url(../../../images/powerlessonwebview/login_board.png) no-repeat}
.login_box ul { margin:0; padding:0; display:block; padding-top:135px; padding-left:50px;}
.login_box ul li { font-size:1.2em; margin:0; display:block; list-style-type:none; padding-left:150px; line-height:28px; margin-bottom:10px;}
.login_box ul li span { display:block; float:left; margin-left:-150px; width:140px; color:#2f2f2f; padding-right:10px; text-align:right;}
.login_box ul li input.inputbox {width:170px; font-size:1.2em; -webkit-border-radius: 15px  ; -moz-border-radius: 15px  ; border-radius: 15px; border:1px solid #CCCCCC; box-shadow:0 0 3px #ccc inset; padding:2px 10px 2px 10px; line-height:20px; }
.login_box ul li label { font-size:0.9em; line-height:18px;}
.login_box a { display:block; float:right;  background:url(../../../images/powerlessonwebview/btn_login.png) no-repeat left top; line-height:20px; width:85px; line-height:50px; color:#256e08; height:50px; text-align:center; text-decoration:none; margin-right:60px;}
/*.login_box a:hover { background-position:left bottom; color: #FF0000; line-height:52px;}*/
.login_box.PowerFlip {background-image:url(../../../images/powerlessonwebview/login_board_PowerFlip.png)}/*20160519*/

#outerbox{
    width:100%;
    position:absolute;   /* to place it somewhere on the screen */
    top:0px;           /* free space at top */
    bottom:0px;}         /* makes it lock to the bottom */
#innerbox{ background: url(../../../images/powerlessonwebview/subject_list_bg.png) repeat-y left;
    width:100%;
    position:absolute;              
    min-height:100%; !important /* browser fill */
    height:auto;}        /*content fill */
.list_header { display:block; position:absolute; width:100%; background:url(../../../images/powerlessonwebview/top.png) no-repeat left top; height:50px; top:0; left:0;}
.list_header a { display:block; float:right; height:35px; width:35px; margin-right:10px;}
.list_header span{ display:block; float:right; margin-left:10px; padding-left:10px; border-left:1px solid #CCCCCC; height:25px; margin-top:5px; }/*2013-01-16 added*/
.list_header a.btn_logout { background:url(../../../images/powerlessonwebview/btn_logout.png) no-repeat left top}
/*.list_header a.btn_logout:hover, .list_header a.btn_logout:active { background-image:url(../../../images/powerlessonwebview/btn_logout_hit.png) }*/
.list_header a.btn_reload { background: url(../../../images/powerlessonwebview/btn_reload.png) no-repeat left top}
/*.list_header a.btn_reload:hover, .list_header a.btn_reload:active { background-image:url(../../../images/powerlessonwebview/btn_reload_hit.png) }*/
.list_header a.btn_back { background: url(../../../images/powerlessonwebview/btn_back.png) no-repeat left top}
/*.list_header a.btn_back:hover, .list_header a.btn_back:active { background-image:url(../../../images/powerlessonwebview/btn_back_hit.png) }*/
.list_header a.btn_intranet { background: url(../../../images/powerlessonwebview/btn_intranet.png) no-repeat left top; padding-left:35px; width:auto; color:#FFFFFF; line-height:35px;}/*2013-01-16 added*/
/*.list_header a.btn_intranet:hover, .list_header a.btn_intranet:active  { background-image: url(../../../images/powerlessonwebview/btn_intranet_hit.png) ;color: #990000}*//*2013-01-16 added*/
.list_header a.btn_add_lessonplan { background: url(../../../images/powerlessonwebview/btn_add_lessonplan.png) no-repeat left top; padding-left:35px; width:auto; color:#FFFFFF; line-height:35px;}/*2015-08-25 added*/
/*.list_header a.btn_add_lessonplan:hover, .list_header a.btn_add_lessonplan:active  { background-image: url(../images/btn_add_lessonplan_hit.png) ;color: #990000}*//*2015-08-25 added*/
.list_header a.btn_manage { background: url(../../../images/powerlessonwebview/btn_manage.png) no-repeat left top; padding-left:35px; width:auto; color:#FFFFFF; line-height:35px;}/*20160314*/
.list_header a.btn_manage:hover, .list_header a.btn_manage:active  { background-image: url(../../../images/powerlessonwebview/btn_manage_hit.png) ;color: #990000}/*20160314*/
.list_board {display:block; padding-left:215px;}
.left_sub_list {width:215px; display:block; float:left; margin-left:-215px; padding-top:50px;}
.left_sub_list ul { display:block; margin:0; padding:0; padding-right:30px; }
.left_sub_list ul li{ display:block; list-style-type:none; height:100px; width:210px;}
.left_sub_list ul li a{ background:url(../../../images/powerlessonwebview/subject_btn.png) no-repeat right top; height:75px; display:block; padding-left:65px; padding-top:25px; color:#ab300b; font-size:1.1em; line-height:20px;}  
/*.left_sub_list ul li a:hover, .left_sub_list ul li a:active{ background-image: url(../../../images/powerlessonwebview/subject_btn_hit.png); color:#FF0000; }*/
.left_sub_list ul li.selected a { background-image:url(../../../images/powerlessonwebview/subject_btn_on.png); color:#3d3d3d; font-weight:bold}

.list_item { display:block; widows:100%; padding-top:35px;}
.list_item ul { display:block; margin:0; padding:0;}
.list_item ul li { display:block; height:90px; margin:0; padding:0;background: url(../../../images/powerlessonwebview/lesson_bg.png) no-repeat left top; border-bottom:1px solid #eeeeee }
.list_item ul li a{padding-right: 180px; display:block; height:90px; background: url(../../../images/powerlessonwebview/shadow.png) no-repeat center top; padding-left:60px;}
.list_item ul li a h1 { display:block; float:left; width:100%; margin:0; font-size:1.5em;padding:0;  line-height:normal; padding-top: 20px; font-weight:normal;}
.list_item ul li a h1 span { display:block;}
.list_item ul li a h1 em { display:block; font-size:0.7em; font-style:normal; color:#626262;}

.list_item ul li a ul{ display:block; float:right; width:180px; margin-right:-180px; padding-top: 32px}
.list_item ul li a ul li { display:block; height:25px; background:url(../../../images/powerlessonwebview/icon_teacher.png) no-repeat left top; padding-left:20px; line-height:25px; border:none; color:#484848}
.list_item ul li.status_pass{ background-image:url(../../../images/powerlessonwebview/lesson_bg_done.png)}
.list_item ul li.status_on{ background-image:url(../../../images/powerlessonwebview/lesson_bg_on.png)}
.list_item ul li.status_on a h1 { color:#2a4804}
.list_item ul li.status a h1 em{ color:#477d01}
/*.list_item ul li a:hover h1{ color:#FF0000}*/


.login_box input.login_input { display:block; float:right;  background:url(../../../images/powerlessonwebview/btn_login.png) no-repeat left top; line-height:20px; width:85px; line-height:50px; color:#256e08; height:50px; text-align:center; text-decoration:none; margin-right:60px; border:none; font-size:16px; }


/*========================= Video Taking =========================*/ /*20150213*/
.warning_msg {clear:both; color:#FF0000; font-size:0.85em} /*20150225*/
.pop_board .warning_msg {margin-top:-15px; margin-bottom:15px;} /*20150225*/
.pop_board {background:#FFFFFF; border-top:5px solid #409eff; -webkit-box-shadow: 0px 0px 8px 0px #333; -moz-box-shadow: 0px 0px 8px 0px #333; box-shadow: 0px 0px 8px 0px #333; margin:5px; padding-bottom:5px}
.pop_board .board_top {border-bottom:1px solid #d2d2d2; display:block; float:left; width:100%; height:50px}
.pop_board .board_title {margin-left:16px; font-size:1em; line-height:50px}
.pop_board .board_title a:hover, .pop_board .board_title a:active {color:#FF0000}
.pop_board .board_main {clear:both; margin-left:20px; overflow-y:auto; height:280px; padding-top:20px}
.pop_board .board_main_center {margin-top:90px; text-align:center; display:block; }
.pop_board .board_main_center a {}
.pop_board .board_main_center a:hover, .pop_board .board_main_center a:active {color:#FF0000}
.pop_board .board_session {clear:both; border-bottom:1px solid #d2d2d2}

.pop_board input {height:35px; border:1px solid #d3d3d3; padding-left:10px; font-size:1em; margin-bottom:20px; margin-right:0px}
.pop_board input::-o-placeholder {color: #aaaaaa}
.pop_board input::-moz-placeholder {color:#aaaaaa}
.pop_board input:-ms-input-placeholder {color: #aaaaaa}
.pop_board input::-webkit-input-placeholder {color: #aaaaaa}
.pop_board input:focus, .pop_board input.focused {color: #000}
.pop_board input.textbox_full {width:92%}
.pop_board input.textbox_date {width:120px; cursor:pointer; text-align:center; padding-left:0; margin-left:5px; margin-right:5px; /*color: transparent*/}
.pop_board input[type="text"] {}
.pop_board input[type="text"]:invalid + input[type="reset"]{display: none} 
.pop_board input[type="reset"] {background-image: url(../images/text_delete.png); background-position: center center; background-repeat: no-repeat; height: 25px; width: 25px; border: none; background-color: transparent; cursor: pointer; position: relative; top: 3px; left: -36px; margin-right:-31px}
.pop_board select {height:39px; border:1px solid #d3d3d3; padding-left:8px; font-size:1em; width:auto; margin-bottom:20px; margin-right:0px}
.pop_board select option {padding-left:10px}
.pop_board select.selectbox_full {width:94%}
.pop_board .check_box {display:none}
.pop_board .check_box + label{background:url(../images/checkbox.png) no-repeat; height: 30px; display:inline-block; padding: 0 0 0 0;	margin-bottom:10px; margin-top:5px; cursor:pointer; color: #aaaaaa; margin-right:20px}
.pop_board .check_box:hover + label{background:url(../images/checkbox_hit.png) no-repeat;color:#0066CC	}
.pop_board .check_box:checked + label{background:url(../images/checkbox_selected.png) no-repeat; color:#0066CC}
.pop_board .check_box_text {padding-left:30px; line-height:25px; white-space:nowrap}

.progress_bar {width:670px; margin:0 auto; padding-top:25px; padding-bottom:25px} /*20150304*/
.progress_bar .progress_bar_bg {width:480px; height:25px; background:#d6d6d6; float:left; margin-right:20px; margin-left:20px} /*20150420*/
.progress_bar .progress_bar_active {height:25px; background:#86c500}
.progress_bar span {float:left}

a.upload {background:url(../images/btn_upload.png) no-repeat; padding:2px 0; padding-left:30px;} /*20150303*/
a.upload:hover, a.upload:active {background:url(../images/btn_upload_hit.png) no-repeat}
.upload_layer {width:500px; height:150px;  background:#ebf6ff; border:1px dotted #a0d0f6; display:inline-block; padding-top:100px} /*20150303*/
.upload_layer a.upload {font-weight:bold; font-size:1.2em; text-align:center} /*20150303*/

.pop_board .board_bottom_button {margin-top:10px; text-align:center; display:block; }
.pop_board input.formbutton{border:1px solid #0073ea; padding:5px 10px 5px 10px; min-width:150px; display:inline-block;  margin-left:5px; margin-right:5px; margin-bottom:10px}
.pop_board input.formbutton.btn_common {border-color:#0073ea; color:#0066CC; background:#fff; box-shadow: 0 0 4px #9e9e9e; cursor:pointer}
.pop_board input.formbutton.btn_common:hover, .pop_board input.formbutton.btn_common:active {border-color:#FF0000; color:#ff0000}
.pop_board input.formbutton.btn_disable {border-color:#cfcfcf; color:#c3c3c3; box-shadow:none; cursor:default}


.note_simple {font-weight:bold; margin-bottom:5px; display:block}
.bubble_bottom {background:#fff; border: 1px solid #cfcfcf; border-radius:5px; box-shadow: 0 0 3px #9e9e9e; width:200px; max-height:150px; position: absolute; margin:0 auto; visibility:hidden}
.bubble_bottom:after, .bubble_bottom:before { right: 50%; top: 0; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.bubble_bottom:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 9px; margin-top: -15px; }
.bubble_bottom:before { border-color: rgba(207, 207, 207, 0); border-bottom-color: #cfcfcf; border-width: 9px; margin-top: -18px; }
.bubble_bottom ul {margin:0; padding:0; text-align:center}
.bubble_bottom ul li {border-bottom:1px solid #ccc; list-style:none; padding:7px}
.bubble_bottom ul li a:hover, .bubble_bottom ul li a:active {color:#FF0000}
.bubble_bottom .bubble_content {padding:7px 5px 5px 10px; max-height:138px; overflow-y:auto}

.btn_hint {background:url(../images/btn_hint.png) 0 3px; width:25px; height:25px; display:inline-block; margin-top:5px}
.btn_hint:hover, .btn_hint:active {background:url(../images/btn_hint_hit.png) 0 3px}