/* added by lisa -- for 190 writing2.0 直資議會 */
/*This is the New Layout revamp 2014*/

textarea {padding:2px} /*20131227*/
.themename {padding-left:42px; background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_themename.png) no-repeat; width:75%; line-height:25px; margin-top:0px; padding-top:9px; padding-bottom:5px; margin-bottom:-10px} /* 20131227 */
.themename span {font-weight:normal; background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_themename_tail.png) right no-repeat; height:26px; display:inline-block; padding-right:15px} /* 20131227 */

/* layer */
.layer_ex_brief_new {display:inline-block; position:absolute; line-height:19px; margin-top:2px; margin-left:25px; visibility:hidden; z-index:99 ;width:250px; max-height:150px; *margin-top:19px; *margin-left:-106px; text-align:left; background:#fffabe; border:1px solid #ffea73; border-radius:7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; box-shadow: 1px 2px 0px #d5bb2b; -moz-box-shadow: 1px 2px 0px #d5bb2b; -webkit-box-shadow: 1px 2px 0px #d5bb2b; margin-top:20px; z-index:99; margin-left:-40px} /*20131227*/
.layer_ex_brief_new .mid {padding-left:7px} /*20131227*/
.layer_ex_brief_new .mid .right {padding-right:5px} /*20131227*/
.layer_ex_brief_new .mid .content {display:block; padding: 5px;} /*20131227*/

.write_board .sample_new { padding-left: 170px; padding-right:170px;} /*20140103*/
.write_board .sample_new .essay {padding-top:11px; padding-left:10px; padding-right:0px; width:99%;} /*20140103*/
.write_board .sample_new .bubble {float:left; margin-left:-210px; width:207px; clear:right}/*20140103*/
.write_board .sample_new .remarks {float:right; margin-right:-221px; width:165px}/*20140103*/
.write_board .sample_new .remarks_fit {float:right; margin-right:-170px; width:165px; margin-top:100px}/*20140109*/
.write_board .sample_new .paper_template_fit {float:left} /*20140109*/
.remarks ul {list-style-type:none; margin:0; padding:0}/*20131227*/
.remarks ul li {margin-bottom:10px; clear:both}/*20131227*/
.remarks ul li span {width:35px; height:25px; display:inline-block; padding-left:39px; width:auto; padding-top:10px; font-size:1.15em; cursor:pointer; opacity:0.7; filter:alpha(opacity=70)}/*20140113b*/
.remarks ul li h2 {font-size:1em; font-weight:normal; margin-top:0; margin-bottom:3px}/*20140113b*/
.remarks ul li u {font-size:0.9em; text-decoration:none; line-height:18px}/*20140113b*/
.remarks ul li .current {opacity:1; filter:alpha(opacity=100)}/*20140113b*/
.remarks ul li .current h2 {font-size:1em; font-weight:bold}/*20140113b*/
.remarks ul li:hover {cursor:pointer}/*20140113*/
.remarks ul li:hover span {opacity:1; filter:alpha(opacity=100)}/*20140113*/
.remarks #keynote {background:linear-gradient(#efefef, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #c7c7c7; border-radius:7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; box-shadow: 0px 2px 0px #c0c0c0; -moz-box-shadow: 0px 2px 0px #c0c0c0; -webkit-box-shadow: 0px 2px 0px #c0c0c0; width:145px; padding:4px 13px 7px 4px; font-size:0.9em; line-height:16px; margin:0; margin-bottom:15px} /*20131227*/
.remarks #keynote span {font-weight:bold} /*20131227*/

.conceptmap_choice {float:left; margin-right:20px} /*20131227*/
.conceptmap_frame_choice {display:block; border:2px solid #6fcd00; text-align:center; vertical-align:middle; margin-bottom:10px; float:left; padding:50px 0 50px 0; margin-left:18px; margin-top:5px} /*20140103*/
.conceptmap_frame_choice div {background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_step_190.png) left -180px no-repeat;  display:block; height:30px; float:left; margin-left:50px; margin-right:50px;} /*20140103*/
.conceptmap_frame_choice div span{display:block; height:30px; cursor:pointer; color:#009900; padding-left:30px; padding-top:4px; white-space:normal} /*20140103*/
.conceptmap_frame_choice:hover {border:2px solid #5fb000;  background:#f6ffeb} /*20140103*/ 
.conceptmap_frame_choice:hover div {background-position:left -210px} /*20140103*/
.conceptmap_frame_choice:hover div span {color:#007a00;} /*20140103*/
.conceptmap_frame_choice.frame_off {border:2px solid #d6d6d6} /*20140103*/
.conceptmap_frame_choice.frame_off div {background-position:left -240px} /*20140103*/
.conceptmap_frame_choice.frame_off div span {color:#c1c1c1; cursor:default} /*20140103*/
.conceptmap_frame_choice.frame_off:hover {background:#fff} /*20140103*/
.conceptmap_date {margin-left:17px} /*20140103*/
.conceptmap_attach_list {display:block; padding:0; margin:0; list-style-type: none; margin-top:10px} /*20140103*/
.conceptmap_attach_list li {background:url(../../../../images/2020a/w2/icon_attachment2.gif) no-repeat; display:block; padding-left:18px; line-height:20px; clear:both; padding-bottom:5px; color:#666} /*20140103*/


/*Rename 20140103*/
#bubble_left { position: relative; box-shadow: 0px 1px 3px #9e9e9e; -moz-box-shadow: 0px 1px 3px #9e9e9e; -webkit-box-shadow: 0px 1px 3px #9e9e9e; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; width:180px; min-height:32px; font-size:0.9em; line-height:16px; padding:2px 15px 2px 7px;  margin-bottom:3px; margin-top:1px}
#bubble_left span {font-weight:bold}
#bubble_left:after, #bubble_left:before { left: 100%; top: 20px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
#bubble_left:after {border-width: 7px; margin-top: -10px; }
#bubble_left:before {border-width: 9px; margin-top: -11px; }
.bubble_01 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_01.png) #ffc3c3 repeat-x top; border: 1px solid #ff9595;}
#bubble_left.bubble_01:after {border-color: rgba(255, 231, 227, 0); border-left-color: #ffe7e3}
#bubble_left.bubble_01:before {border-color:rgba(225, 149, 149, 0); border-left-color: #ff9595}
.bubble_02 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_02.png) #ffc7a1 repeat-x top; border: 1px solid #faa24c;}
#bubble_left.bubble_02:after {border-color: rgba(255, 230, 208, 0); border-left-color: #ffe6d0}
#bubble_left.bubble_02:before {border-color:rgba(250, 162, 76, 0); border-left-color: #faa24c}
.bubble_03 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_03.png) #fede89 repeat-x top; border: 1px solid #e9b027;}
#bubble_left.bubble_03:after {border-color: rgba(255, 246, 179, 0); border-left-color: #fff6b3}
#bubble_left.bubble_03:before {border-color:rgba(233, 176, 39, 0); border-left-color: #e9b027}
.bubble_04 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_04.png) #bfe972 repeat-x top; border: 1px solid #80b51f;}
#bubble_left.bubble_04:after {border-color: rgba(223, 251, 173, 0); border-left-color: #dffbad}
#bubble_left.bubble_04:before {border-color:rgba(128, 181, 31, 0); border-left-color: #80b51f}
.bubble_05 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_05.png) #80f0e1 repeat-x top; border: 1px solid #3bbdac;}
#bubble_left.bubble_05:after {border-color: rgba(192, 253, 245, 0); border-left-color: #c0fdf5}
#bubble_left.bubble_05:before {border-color:rgba(59, 189, 172, 0); border-left-color: #3bbdac}
.bubble_06 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_06.png) #a9d6fb repeat-x top; border: 1px solid #659acb;}
#bubble_left.bubble_06:after {border-color: rgba(212, 232, 254, 0); border-left-color: #d4e8fe}
#bubble_left.bubble_06:before {border-color:rgba(101, 154, 203, 0); border-left-color: #659acb}
.bubble_07 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_07.png) #d3b0e8 repeat-x top; border: 1px solid #bc6fe9;}
#bubble_left.bubble_07:after {border-color: rgba(237, 213, 252, 0); border-left-color: #edd5fc}
#bubble_left.bubble_07:before {border-color:rgba(180, 102, 226, 0); border-left-color: #bc6fe9}
.bubble_08 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_08.png) #ffc0db repeat-x top; border: 1px solid #ff92da;}
#bubble_left.bubble_08:after {border-color: rgba(255, 220, 235, 0); border-left-color: #ffdceb}
#bubble_left.bubble_08:before {border-color:rgba(255, 146, 218, 0); border-left-color: #ff92da}
#bubble_left.highlight {background:#c5efff}

/* for content input only, as cannot use index *//*20140109*/
.bubble_left { position: relative; box-shadow: 0px 1px 3px #9e9e9e; -moz-box-shadow: 0px 1px 3px #9e9e9e; -webkit-box-shadow: 0px 1px 3px #9e9e9e; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; width:180px; min-height:32px; font-size:0.9em; line-height:16px; padding:2px 15px 2px 7px;  margin-bottom:3px; margin-top:1px}
.bubble_left span {font-weight:bold}
.bubble_left:after, .bubble_left:before { left: 100%; top: 20px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.bubble_left:after {border-width: 7px; margin-top: -10px; }
.bubble_left:before {border-width: 9px; margin-top: -11px; }
.bubble_left.bubble_01:after {border-color: rgba(255, 231, 227, 0); border-left-color: #ffe7e3}
.bubble_left.bubble_01:before {border-color:rgba(225, 149, 149, 0); border-left-color: #ff9595}
.bubble_left.bubble_02:after {border-color: rgba(255, 230, 208, 0); border-left-color: #ffe6d0}
.bubble_left.bubble_02:before {border-color:rgba(250, 162, 76, 0); border-left-color: #faa24c}
.bubble_left.bubble_03:after {border-color: rgba(255, 246, 179, 0); border-left-color: #fff6b3}
.bubble_left.bubble_03:before {border-color:rgba(233, 176, 39, 0); border-left-color: #e9b027}
.bubble_left.bubble_04:after {border-color: rgba(223, 251, 173, 0); border-left-color: #dffbad}
.bubble_left.bubble_04:before {border-color:rgba(128, 181, 31, 0); border-left-color: #80b51f}
.bubble_left.bubble_05:after {border-color: rgba(192, 253, 245, 0); border-left-color: #c0fdf5}
.bubble_left.bubble_05:before {border-color:rgba(59, 189, 172, 0); border-left-color: #3bbdac}
.bubble_left.bubble_06:after {border-color: rgba(212, 232, 254, 0); border-left-color: #d4e8fe}
.bubble_left.bubble_06:before {border-color:rgba(101, 154, 203, 0); border-left-color: #659acb}
.bubble_left.bubble_07:after {border-color: rgba(237, 213, 252, 0); border-left-color: #edd5fc}
.bubble_left.bubble_07:before {border-color:rgba(180, 102, 226, 0); border-left-color: #bc6fe9}
.bubble_left.bubble_08:after {border-color: rgba(255, 220, 235, 0); border-left-color: #ffdceb}
.bubble_left.bubble_08:before {border-color:rgba(255, 146, 218, 0); border-left-color: #ff92da}
.bubble_left.highlight {background:#c5efff}
/* Add of for content input only, as cannot use index */

#remark_highlight {padding:0}
.remark_highlight_01 {background:#ffcccc}
.remark_highlight_02 {background:#ffd76d}
.remark_highlight_03 {background:#feff61}
.remark_highlight_04 {background:#cbff5b}
.remark_highlight_05 {background:#a7efa1}
.remark_highlight_06 {background:#b1fff5}
.remark_highlight_07 {background:#ade3ff}
.remark_highlight_08 {background:#b6ccff}
.remark_highlight_09 {background:#e0bfff}
.remark_highlight_10 {background:#ffbded}
.remark_double_01 {background:#ffcccc; border:1px solid #ff6161}
.remark_double_02 {background:#ffd76d; border:1px solid #eb7f00}
.remark_double_03 {background:#feff61; border:1px solid #eab80a}
.remark_double_04 {background:#cbff5b; border:1px solid #85c105}
.remark_double_05 {background:#a7efa1; border:1px solid #29b71d}
.remark_double_06 {background:#b1fff5; border:1px solid #11d1d3}
.remark_double_07 {background:#ade3ff; border:1px solid #3ba8e1}
.remark_double_08 {background:#b6ccff; border:1px solid #578cff}
.remark_double_09 {background:#e0bfff; border:1px solid #b76bff}
.remark_double_10 {background:#ffbded; border:1px solid #ff63d4}

#remark_highlight_icon {background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/remark_highlight_icon.png); width:20px; height:16px; display:block; float:left; cursor:pointer; margin-right:5px}
.remark_highlight_icon_01 {background-position:0 -20px}
.remark_highlight_icon_02 {background-position:-20px -20px}
.remark_highlight_icon_03 {background-position:-40px -20px}
.remark_highlight_icon_04 {background-position:-60px -20px}
.remark_highlight_icon_05 {background-position:-80px -20px}
.remark_highlight_icon_06 {background-position:-100px -20px}
.remark_highlight_icon_07 {background-position:-120px -20px}
.remark_highlight_icon_08 {background-position:-140px -20px}
.remark_highlight_icon_09 {background-position:-160px -20px}
.remark_highlight_icon_10 {background-position:-180px -20px}

.remark_highlight_icon_01:hover {background-position:0 0}
.remark_highlight_icon_02:hover {background-position:-20px 0}
.remark_highlight_icon_03:hover {background-position:-40px 0}
.remark_highlight_icon_04:hover {background-position:-60px 0}
.remark_highlight_icon_05:hover {background-position:-80px 0}
.remark_highlight_icon_06:hover {background-position:-100px 0}
.remark_highlight_icon_07:hover {background-position:-120px 0}
.remark_highlight_icon_08:hover {background-position:-140px 0}
.remark_highlight_icon_09:hover {background-position:-160px 0}
.remark_highlight_icon_10:hover {background-position:-180px 0}

#remark_highlight_icon_big {background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/remark_highlight_icon_big.png); background-repeat:no-repeat}
.remark_highlight_icon_big_01 {background-position:0 0} /*20140113b*/
.remark_highlight_icon_big_02 {background-position:0 -40px} /*20140113b*/
.remark_highlight_icon_big_03 {background-position:0 -80px} /*20140113b*/
.remark_highlight_icon_big_04 {background-position:0 -120px} /*20140113b*/
.remark_highlight_icon_big_05 {background-position:0 -160px} /*20140113b*/
.remark_highlight_icon_big_06 {background-position:0 -200px} /*20140113b*/
.remark_highlight_icon_big_07 {background-position:0 -240px} /*20140113b*/
.remark_highlight_icon_big_08 {background-position:0 -280px} /*20140113b*/
.remark_highlight_icon_big_09 {background-position:0 -320px} /*20140113b*/
.remark_highlight_icon_big_10 {background-position:0 -360px} /*20140113b*/
.remark_highlight_icon_big_01.empty {background-position:0 -800px} /*20140113b*/
.remark_highlight_icon_big_02.empty {background-position:0 -840px} /*20140113b*/
.remark_highlight_icon_big_03.empty {background-position:0 -880px} /*20140113b*/
.remark_highlight_icon_big_04.empty {background-position:0 -920px} /*20140113b*/
.remark_highlight_icon_big_05.empty {background-position:0 -960px} /*20140113b*/
.remark_highlight_icon_big_06.empty {background-position:0 -1000px} /*20140113b*/
.remark_highlight_icon_big_07.empty {background-position:0 -1040px} /*20140113b*/
.remark_highlight_icon_big_08.empty {background-position:0 -1080px} /*20140113b*/
.remark_highlight_icon_big_09.empty {background-position:0 -1120px} /*20140113b*/
.remark_highlight_icon_big_10.empty {background-position:0 -1160px} /*20140113b*/

.remarks ul li .remark_highlight_icon_big_01 {color:#d90101; background-position:0 -400px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_02 {color:#d63700; background-position:0 -440px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_03 {color:#b56f00; background-position:0 -480px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_04 {color:#6f8207; background-position:0 -520px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_05 {color:#058905; background-position:0 -560px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_06 {color:#058d96; background-position:0 -600px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_07 {color:#016bb4; background-position:0 -640px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_08 {color:#2b39c6; background-position:0 -680px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_09 {color:#7f0cdc; background-position:0 -720px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_10 {color:#d21264; background-position:0 -760px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_01 {background-position:0 0} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_02 {background-position:0 -40px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_03 {background-position:0 -80px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_04 {background-position:0 -120px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_05 {background-position:0 -160px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_06 {background-position:0 -200px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_07 {background-position:0 -240px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_08 {background-position:0 -280px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_09 {background-position:0 -320px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_10 {background-position:0 -360px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_01.current {background-position:0 0} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_02.current {background-position:0 -40px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_03.current {background-position:0 -80px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_04.current {background-position:0 -120px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_05.current {background-position:0 -160px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_06.current {background-position:0 -200px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_07.current {background-position:0 -240px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_08.current {background-position:0 -280px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_09.current {background-position:0 -320px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_10.current {background-position:0 -360px} /*20140113b*/
/*End of Added*/



/* SCI */
.write_board .key_new_sci .ref {width:220px; height:530px; padding:8px 5px; margin-right:0px; margin-top:0} /*20140103*/
.write_board .key_new_sci .ref .table_row_tool_text {font-size:1.1em} /*20140103*/
.write_board .key_new_sci .ref_top {height:35px; overflow:hidden; padding-top:1px; border-bottom:none; font-size:1.1em} /*20140103*/

.write_board .infobox_content .sample_new_sci {padding-left: 160px; padding-right:240px} /*20140103*/
.write_board .infobox_content .sample_new_sci .essay {padding-top:11px; padding-left:10px; padding-right:0px; width:100%;} /*20140103*/
.write_board .infobox_content .sample_new_sci_noleft {padding-left: 0; padding-right:230px} /*20140103*/
.write_board .infobox_content .bubble_sci {float:left; margin-left:-202px; width:202px; clear:right} /*20140103*/
/*.write_board .infobox_content .key_sci {float:left; margin-right:-200px; width:10px; margin-top:0}*/ /*20131227*/

.write_board .infobox_content .key_new_sci {float:left; margin-right:-285px; width:285px; margin-top:0}/*20140103*/
.write_board .infobox_content .bubble_sci #bubble_left {width:175px} /*20140103*/

/* pop board */
.content_pop_board_190 h1 {font-size:1em; font-weight:bold;  background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_btn_190.png) no-repeat #fff0b5; height:23px; margin:0 auto; padding-left:35px; padding-top:7px;} /*20131227*/
.content_pop_board_190 h1.vocab {background-position:0 0; color:#eb2695;} /*20131227*/
.content_pop_board_190 h1.grammar {background-position:4px -30px; padding-left:42px; color:#017cd0;} /*20131227*/
.content_pop_board_190 h1.ref {background-position:4px -60px; color:#16a017;} /*20131227*/
.content_pop_board_190 h1.vocab_chi {background-position:4px -90px; color:#eb2695;} /*20131227*/

.content_pop_board_write_190 .sample .remarks {float:right; margin-right:-122px; width:122px}/*20131227*/

.content_pop_board_write_190 .tea_attach thead {color:#666666; font-size:0.9em; text-align:left;}/*20131227*/
.content_pop_board_write_190 .tea_attach tr td {padding:2px; padding-bottom:5px}/*20131227*/
.content_pop_board_write_190 .tea_attach input {margin-right:5px}/*20131227*/


/*Added 20131017 for Content Input */
.content_input_sample {padding-right:190px; padding-left:190px; margin-top:20px} /*20131227*/
.content_input_sample h1 {margin-bottom:8px; font-weight:bold; font-size:1em; clear:both} /*20131227*/
.content_input_sample_left {float:left; width:100%} /*20131227*/
.content_input_main_grp {clear:both; margin-bottom:15px} /*20131227*/
.content_input_main_tag {float:left; width:190px; margin-left:-190px; clear:right} /*20131227*/
.content_input_main_tag #bubble_left {margin-right:-140px; width:150px; height:130px} /*20131227*/
.content_input_main_tag #bubble_left input {font-size:1em; margin-top:4px; font-weight:bold; width:150px; padding:0 2px} /*20131227*/
.content_input_main_tag #bubble_left textarea {font-size:1em; line-height:16px; margin-top:3px; height:100px; width:150px} /*20131227*/
.content_input_main_tag #bubble_left input.blank {color:#999; font-style:italic} /*20131227*/
.content_input_main_tag #bubble_left textarea.blank {color:#999; font-style:italic} /*20131227*/
.content_input_main_tag .bubble_left {margin-right:-140px; width:150px; height:130px} /*20140109*/
.content_input_main_tag .bubble_left input {font-size:1em; margin-top:4px; font-weight:bold; width:150px; padding:0 2px} /*20140109*/
.content_input_main_tag .bubble_left textarea {font-size:1em; line-height:16px; margin-top:3px; height:100px; width:150px} /*20140109*/
.content_input_main_tag .bubble_left input.blank {color:#999; font-style:italic} /*20140109*/
.content_input_main_tag .bubble_left textarea.blank {color:#999; font-style:italic} /*20140109*/
.content_input_main {float:left; width:100%} /*20131227*/
.content_input_main textarea {height:130px; float:left; width:94%} /*20140110*/
.content_input_main .table_row_tool {float:left} /*20140110*/
.content_input_main_grp .Content_tool_190 .new {font-weight:bold; color:#007eff} /*20131227*/
.content_input_main_grp .Content_tool_190 .new:hover {font-weight:bold; color:#ff0000} /*20131227*/
.content_input_sample_right {float:right; margin-right:-190px; width:180px; margin-top:10px; margin-top:0} /*20131227*/

.content_input_main_remark {background:#ebebeb; border:1px solid #dddbdb; padding:5px 10px 5px 3px; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px} /*20131227*/
.content_input_main_remark ul {list-style-type:none} /*20131227*/
.content_input_main_remark ul li {margin-bottom:13px; clear:both} /*20131227*/
.content_input_main_remark span {width:35px; height:25px; display:inline-block; padding-left:39px; width:auto; padding-top:10px} /*20140113b*/
.content_input_main_remark input {height:20px; width:100%; padding:3px; margin-top:-4px; margin-left:-2px; margin-bottom:2px; font-size:1em; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_remark textarea {height:80px; width:100%; padding:3px; margin-left:-2px; font-size:1em; margin-bottom:0; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_remark a {font-size:0.9em; color:#90a0ba} /*20140113*/
.content_input_main_remark a:hover {color:#ff0000} /*20140113*/


/* new contentinput */ /*20140113*/
.content_input {line-height:20px; padding:5px 13px 5px 13px; clear:both; padding-left:0; padding-right:0}
.content_input .subtitle_new span {font-weight:normal}
.theme_icon {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/themename_small.png); width:19px; height:23px; margin-right:5px; float:left; display:block; margin-top:-5px; margin-left:-10px}
.content_input tr th {text-align:left; font-weight:normal; padding-left:10px} /*20140113*/

/* new subpage */ /*20140113*/
/*.write_board .instruction {padding:5px 13px 5px 13px; clear:both; min-height:50px; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/write_board_top_step_right_bg.gif) left -35px repeat-x #f1e8ff; border-bottom:1px solid #f0d5fe; line-height:25px; padding-bottom:10px; color:#8438b0; font-family:Georgia, "微軟正黑體"; font-size:1.3em}
.write_board .subtitle_new {margin-top:17px; margin-bottom:10px}
.write_board .subtitle_new span {display:block; font-size:1.25em; font-weight:bold; color:#66059e; float:left; clear:both; margin-left:5px; margin-top:-9px; padding-left:8px; padding-right:8px; margin-bottom:5px; font-family:Georgia, "微軟正黑體"}
.write_board .input_row1 {padding-left:0}
.write_board .input_row2 {padding-top:17px}*/

.btn_right_grp_new {float:right; margin-top:-17px; height:60px; margin-right:12px}

.btn_vocab_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_vocab_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -60px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_vocab_new span:hover {background-position:left -120px}

.btn_grammar_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_grammar_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -180px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_grammar_new span:hover {background-position:left -240px}

.btn_ref_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_ref_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -300px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_ref_new span:hover {background-position:left -360px}

.btn_vocab_chi_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_vocab_chi_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -60px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_vocab_chi_new span:hover {background-position:left -120px}












/* ============ 20140115 Added By Siuwan For Highlight Function in Content Input Step 3 Sample Writing  ============ */
/*Fckeditor Highlight CSS*/
span.highlight {background:#94d8ff;}
span.highlight_negative {background:#f99393;}
span.highlight_red {background: #ffcccc; border:1px solid #ff6161 } //remark_highlight_icon_01.png
span.highlight_red p {background: #ffcccc; }
span.highlight_orange {background: #ffd76d; border:1px solid #eb7f00 } //remark_highlight_icon_02.png
span.highlight_orange p {background: #ffd76d; }
span.highlight_yellow {background: #feff61; border:1px solid #eab80a } //remark_highlight_icon_03.png
span.highlight_yellow p {background: #feff61; }
span.highlight_lightgreen {background: #cbff5b; border:1px solid #85c105 } //remark_highlight_icon_04.png
span.highlight_lightgreen p {background: #cbff5b; }
span.highlight_green {background: #a7efa1; border:1px solid #29b71d } //remark_highlight_icon_05.png
span.highlight_green p {background: #a7efa1; }
span.highlight_lightblue {background: #b1fff5; border:1px solid #11d1d3 } //remark_highlight_icon_06.png
span.highlight_lightblue p {background: #b1fff5; }
span.highlight_blue {background: #ade3ff; border:1px solid #3ba8e1 } //remark_highlight_icon_07.png
span.highlight_blue p {background: #ade3ff; }
span.highlight_darkblue {background: #b6ccff; border:1px solid #578cff } //remark_highlight_icon_08.png
span.highlight_darkblue p {background: #b6ccff; }
span.highlight_purple{background: #e0bfff; border:1px solid #b76bff } //remark_highlight_icon_09.png
span.highlight_purple p {background: #e0bfff; }
span.highlight_pink {background: #ffbded; border:1px solid #ff63d4 } //remark_highlight_icon_10.png
span.highlight_pink p {background: #ffbded; }
/*Fckeditor Highlight CSS END*/