@charset "utf-8";
/*============= GENERAL ===============*/
html, body {background: #fff; font-size:15px;color:#333;margin:0; padding:0; font-family:Verdana, Arial, "Microsoft JhengHei", "微軟正黑體", "Heiti TC", sans-serif; height:100%; overflow-y:hidden; overflow-x:auto;}
.wrapper {min-width:1024px; }
img {max-width:100%; max-height:100%;}
a {color:#6895c1;}
a:hover {color:#92b9e0;}
a, a:hover, a:focus {text-decoration:none;}
ul {margin:0; padding:0; list-style:none;}
*:focus {outline:none !important;}

/*Scroll bar*/
::-webkit-scrollbar {width:5px; height:5px;}
::-webkit-scrollbar-track {background:#fff; -webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background:#ccc; -webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background:#aaa;}
::-webkit-scrollbar-thumb:active {background:#888; -webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.3);}

/*Buttons*/
.btn {padding:8px 25px; font-size:1.1em; margin-right:5px}
.btn.active, .btn:active {box-shadow:none;}
.btn-primary, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {background-color:#1daba9; border-color:#1daba9;}
.btn-primary:hover {background-color:#2ab6b4; border-color:#2ab6b4;}
.btn-secondary, .btn-secondary.active, .btn-secondary:active, .open>.dropdown-toggle.btn-secondary, .btn-secondary.focus, .btn-secondary:focus, .btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary:active.focus, .btn-secondary:active:focus, .btn-secondary:active:hover, .open>.dropdown-toggle.btn-secondary.focus, .open>.dropdown-toggle.btn-secondary:focus, .open>.dropdown-toggle.btn-secondary:hover {background-color:#e9f2f2; border-color:#ccc;}
.btn-secondary:hover {background-color:#fff; border-color:#ccc}
.btn-danger, .btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger, .btn-danger.focus, .btn-danger:focus, .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {background-color:#f45d5d; border-color:#f45d5d;}
.btn-danger:hover {background-color:#f78181; border-color:#f78181;}
.btn-del, .btn-edit, .btn-detail {font-size:1.3em; margin:5px;}
.btn-del, .btn-del:focus {color:#999;}
.btn-del:hover {color:#ccc;}
.btn-detail, .btn-detail:focus {color:#666;}
.btn-detail:hover {color:#999;}
.btn-upload, .btn-upload:focus {color:#1daba9;}
.btn-upload:hover {color:#2ab6b4;}
.btn-upload i {vertical-align:middle;}

/*Form general*/
label {font-weight:normal; font-size:1.1em;}
select, input {border:1px solid #90dfde; border-radius:4px; padding:5px; font-family:Verdana, Arial, "Microsoft JhengHei", "微軟正黑體", "Heiti TC", sans-serif; color:#333;}
/*override bootstrap*/
.form-control {box-shadow:none; border:1px solid #90dfde; font-size:1.05em; padding:0 10px;}
.form-control:focus {border-color:#90dfde; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(144,223,222,.6);}
.form-group.buttons {margin-top:30px;}

/*Checkbox*/
input[type="checkbox"] {display:none;}
.custom-check {display:inline-block; width:24px; height:24px; background:#fff; border:1px solid #90dfde; border-radius:4px; font-family: 'Glyphicons Halflings'; font-size:1em; vertical-align:middle; margin-right:10px; cursor:pointer;}
.custom-check::before {content:"\e013"; color:#1daba9; display:none; position:relative; left:2px;}
input[type=checkbox]:checked+.custom-check::before {display:block; color:#1daba9; border-radius:4px;}

/*Dropdown Button Group*/
.btn-default {border:1px solid #e1e1e1; padding:8px 15px; font-size:1em;}
.btn-default:hover {background-color:#f2f2f2; border-color:#e1e1e1;}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {background-color:#f2f2f2; border-color:#e1e1e1;}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {background-color:#f2f2f2; border-color:#e1e1e1;}
.btn .caret {margin-left:5px;}
.btn-group.open .dropdown-toggle {box-shadow:none;}
.dropdown-menu {padding:0; box-shadow:0 3px 6px rgba(0,0,0,.175);}
.dropdown-menu>li>a {padding:10px 20px;}

/*Date picker*/
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {background-color:#1daba9; border-color:#1daba9;}
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {background-color:#1daba9; border-color:#1daba9;}
.input-group-addon {color:#fff; background-color:#1daba9; border:1px solid #90dfde; padding:0 10px; font-size:16px;}

/*Table*/
.tp-sort {color:#999}
table thead {border-bottom:4px solid #21bfbd;}
table tbody {border-bottom:2px solid #90dfde;}
table thead th {font-size:1.1em; font-weight:normal; padding:12px 3px;}
table tbody td {padding:12px 3px; vertical-align:top;}
table th:first-child, table td:first-child {padding-left:20px;}
table th:last-child, table td:last-child {padding-right:20px;}
table tbody tr:nth-child(even) {background:#f4fafa}
table ul.attachment li {margin-top:10px;}
.table-footer {width:100%; background:#90dfde; float:left; padding:3px 20px; display:table;}
.table-footer .left {vertical-align:middle; display:table-cell;}
.table-footer .right {text-align:right; display:table-cell;}
.table-footer .pages, .table-footer .items {margin-left:20px; vertical-align:middle;}
.table-footer .arrow {color:#1daba9; margin:0 5px}
.table-footer .arrow:hover {color:#21bfbd;}
.table-footer select {border-radius:0; padding:0; margin:0 5px;}

/*============= HEADER ===============*/
.tp-header {height:50px; background:#1daba9; width:100%; position:relative; z-index:1;
-webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);}
.tp-header .logo {background:#eb9b1a; height:50px; float:left; font-family:'Arvo', Verdana, Arial, "Microsoft JhengHei", "微軟正黑體", "Heiti TC", sans-serif; font-weight:normal; font-size:1.6em; color:#fff; text-shadow:2px 2px rgba(0,0,0,0.1); line-height:47px; padding:0 25px;}
.tp-header .logo.bold {font-weight:bold;}
.tp-header .gradient {width:100px; height:50px; float:left;
background: #eb9b1a; /* Old browsers */
background: -moz-linear-gradient(-45deg, #eb9b1a 0%, #eb9b1a 35%, #2ab6b4 36%, #2ab6b4 36%, #2ab6b4 38%, #2ab6b4 38%, #2ab6b4 39%, #2ab6b4 39%, #2ab6b4 39%, #21bfbd 39%, #21bfbd 53%, #1aa7a5 55%, #1aa7a5 55%, #1aa7a5 55%, #1daba9 55%, #1aa7a5 58%, #1daba9 59%, #1daba9 59%, #1daba9 59%, #1daba9 59%, #1daba9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #eb9b1a 0%,#eb9b1a 35%,#2ab6b4 36%,#2ab6b4 36%,#2ab6b4 38%,#2ab6b4 38%,#2ab6b4 39%,#2ab6b4 39%,#2ab6b4 39%,#21bfbd 39%,#21bfbd 53%,#1aa7a5 55%,#1aa7a5 55%,#1aa7a5 55%,#1daba9 55%,#1aa7a5 58%,#1daba9 59%,#1daba9 59%,#1daba9 59%,#1daba9 59%,#1daba9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #eb9b1a 0%,#eb9b1a 35%,#2ab6b4 36%,#2ab6b4 36%,#2ab6b4 38%,#2ab6b4 38%,#2ab6b4 39%,#2ab6b4 39%,#2ab6b4 39%,#21bfbd 39%,#21bfbd 53%,#1aa7a5 55%,#1aa7a5 55%,#1aa7a5 55%,#1daba9 55%,#1aa7a5 58%,#1daba9 59%,#1daba9 59%,#1daba9 59%,#1daba9 59%,#1daba9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9b1a', endColorstr='#1daba9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

/*============= FOOTER ===============*/
.footer {height:22px; font-size:0.8em; color:#999999; padding:1px; text-align:right; margin-top:10px; float:left; width:100%;}

/*============= SIDEBAR ===============*/
.tp-sidebar {width:155px; height:100%; background:#f4f4f4; display:inline-block; float:left;}
.tp-sidebar .user-photo {width:100%;}
.tp-sidebar .user-name {text-align:center; font-size:1.2em; padding:10px;}

/*============= MENU ===============*/
.tp-right {width:calc(100% - 155px); height:100%; display:inline-block; float:left; z-index:0;}
.tp-menu {display:table; background:#fff4d1; border-bottom:1px solid #f0de9e;}
.tp-menu li {display:table-cell; width:auto; position:relative; height:55px; min-width:50px; vertical-align:middle; cursor:pointer;}
.tp-menu li:hover {background:#ffeca4;}
.tp-menu li+li {border-left:1px solid #f0de9e;}
.tp-menu>li>a {border-radius:0; padding:0 10px; font-size:1.1em; color:#1daba9; line-height:1.1em;}
.tp-menu li.active {background:#fce079;}
.tp-menu li.active:after {content:''; width:0; height:0; border-style:solid; border-width:0 11.5px 12px 11.5px; border-color:transparent transparent #ffffff transparent; position:absolute; bottom:-1px; left:50%; -webkit-transform:translate(-50%); -ms-transform:translate(-50%); transform:translate(-50%);}
.tp-menu>li.active>a, .tp-menu>li.active>a:focus, .tp-menu>li.active>a:hover {color:#b46b01;}
.tp-menu li>a, .tp-menu li>a:hover, .tp-menu>li.active>a, .tp-menu>li.active>a:focus, .tp-menu>li.active>a:hover {background:transparent;}

/*============= TOOLS ===============*/
.toolbar {width:100%; padding:25px 25px 20px 25px; float:left;}
.toolbar .actions {display:inline-block; float:right;}
.toolbar .actions.left {float:left;}
.toolbar .actions li {float:left; margin-left:25px;}
.toolbar .actions.left li {margin-left:0px; margin-right:25px;}
.toolbar .actions li>a {color:#b46b01; line-height:38px}
.toolbar .actions li>a>i {color:#eb9b1a;}
.toolbar .actions li>a:hover, .toolbar .actions li>a:hover>i {color:#f5b252;}

/*============= CONTENT ===============*/
.tp-right .tab-content {height:100%}
.tp-right .tab-content .tab-pane {height:100%}
.content {overflow-y:auto; height:calc(100% - 170px); width:100%; padding:0 25px 5px 25px; border:1px solid #fff; }
.content .title {border-bottom:2px solid #90dfde; padding:10px 0;}
.content .title .text1 {font-size:2em; vertical-align:middle; margin-right:10px;}
.content .title .text2 {font-size:1.2em; vertical-align:middle; margin-top:2px}
.content .body {padding:20px 15px 0px 15px;}
/*form*/
.content .col-form-label {width:240px; vertical-align:top; display:inline-block; margin-top:5px;}
.content .col-field {width:calc(100% - 260px); display:inline-block; vertical-align:middle; font-size:1.05em;}
.content .col-field .input-group.date, .content .body .col-field .short {width:35%;}
.content .col-field.multiple label {width:100%; margin-bottom:10px; vertical-align:middle; font-size:1.05em;}
/*profile info*/
.profile .row {margin: 0 0 20px 0;}
.profile .col-field .info {border-radius:5px; background:#e9f2f2; width:100%; padding:8px 10px; display:inline-block; word-break: break-word;}
.profile .col-field .info.short {width:35%;}
/*teaching record*/
.teach-record table tbody tr:not(first-child) td:first-child {background:#fff;}
.teach-record table th:nth-child(2), .teach-record table td:nth-child(2) {padding-left:20px;}
.teach-record table th:first-child, .teach-record table td:first-child, 
.teach-record table th:nth-child(2), .teach-record table td:nth-child(2) {width:150px;}
.teach-record table th:last-child, .teach-record table td:last-child {min-width:150px; text-align:right;}
/*activities*/
.activities table tbody tr:not(first-child) td:first-child, .activities table tbody tr:not(first-child) td:nth-child(2) {background:#fff;}
.activities table th:nth-child(3), .activities table td:nth-child(3) {padding-left:20px;}
.activities table th:first-child, .activities table td:first-child {width:150px;}
.activities table th:nth-child(2), .activities table td:nth-child(2) {width:100px;}
.activities table th:nth-child(3), .activities table td:nth-child(3), .activities table th:nth-child(4), .activities table td:nth-child(4) {min-width:200px;}
/*attendance*/
.attendance table th, .attendance table td {text-align:center;}
.attendance table th:first-child, .attendance table td:first-child {text-align:left; width:150px;}
.attendance.year th:first-child, .attendance.year table td:first-child {text-align:left; width:100px; background:#fff;}
.attendance.year table th:nth-child(2), .attendance.year table td:nth-child(2) {text-align:left; width:100px; padding-left:20px;}
.attendance.year .title {border-bottom:none;}
/*develop*/
.develop table tbody tr:not(first-child) td:first-child {background:#fff;}
.develop table th:nth-child(2), .develop table td:nth-child(2) {padding-left:20px;}
.develop table th:first-child, .develop table td:first-child,
.develop table th:nth-child(2), .develop table td:nth-child(2), 
.develop table th:nth-child(3), .develop table td:nth-child(3) {width:130px;}
.develop table th:nth-child(6), .develop table td:nth-child(6) {width:80px;}
.develop table th:last-child, .develop table td:last-child {width:90px; padding:12px 3px;}
.develop table td:nth-child(4) i {color:#eb9b1a;}
.develop table .detail .box {background:#f8f8f8; padding:20px;}
.develop table .detail ul>li>span {display:inline-block; vertical-align:top;}
.develop table .detail .dtitle {min-width:90px;}
.develop table .detail .box table {width:45%;float:left; margin-right:30px}
.develop table .detail .box table td, .develop table .detail .box table tbody tr:nth-child(even) {background:transparent;}
.develop table .detail .box table tbody {border-bottom:none;}
.develop table .detail .box table td:first-child {padding:0; width:inherit; min-width:80px;}
.develop table .detail .box table td:last-child {padding:0; width:inherit;}
/*performance*/
.performance table tbody tr:not(first-child) td:first-child {background:#fff;}
.performance table th:nth-child(2), .performance table td:nth-child(2) {padding-left:20px;}
/*cert*/
.cert table tbody tr:not(first-child) td:first-child {background:#fff;}
.cert table th:nth-child(2), .cert table td:nth-child(2) {padding-left:20px;}
.cert table th:first-child, .cert table td:first-child, 
.cert table th:nth-child(2), .cert table td:nth-child(2) {width:150px;}
.cert table th:nth-child(4), .cert table td:nth-child(4) {min-width:160px;}
.cert table th:last-child, .cert table td:last-child {width:70px; padding:12px 3px;}
.cert-form .btn-del {font-size:1em;}
.cert-form ul.uploaded li {margin-bottom:10px;}
/*others*/
.cert table th:first-child, .cert table td:first-child {width:150px;}
.others table th:last-child, .others table td:last-child {width:70px; padding:12px 3px;}

.tab-pane { padding: 10px; }