/* For login.html */
body.loginPage
{
  background-image:url("../images/main_bg.jpg");
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}

.CustCommon #blkContainer
{
  height:100%;
  margin:0 auto;
  padding-bottom: 100px;
}

.CustCommon #blkContainer::after
{
  display: inline-block;
  content:"";
  height:100%;
  width:0;
  vertical-align: middle;
}

.CustCommon #blkContainer > *
{
  vertical-align: middle;
}

.CustCommon #blkContainer > #blkLoginWrapper
{
  width:98%;
  left:1%;
  text-align: center;
}

.CustCommon #blkLogin
{
  width:470px;
  margin-left:auto;
  margin-right: auto;
  background-color:white;
  box-shadow: 0px 6px 14px -3px rgba(0, 0, 0, 0.2);
  padding:50px;
  font-size:18px;
  line-height: 22px;
  margin-top:40px;
  text-align: left;
}

.CustCommon #blkLogin .invaidMsg
{
  float:right;
  color:red;
  font-size: 14px;
}

.CustCommon #blkLogin .invaidMsg + div
{
  overflow: hidden;
}

.CustCommon #blkLogin > input
{
  width:100%;
  margin-bottom: 15px;
}

.CustCommon #blkLogin > .forgot_password
{
  font-size: 16px;
  line-height: 42px; /* Align with button */
  z-index: 1;
}

.CustCommon #blkLogin > .login_button
{
  width:auto;
  float:right;
  border:0;
  z-index: 2;
}

.CustCommon #blkLogin > .login_button, #blkLogin > .forgot_password
{
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}

.CustCommon #blkLogin > .login_button:hover
{
  background-color:#666666;
}

.CustCommon #lbleClass
{
  width:470px;
}

.CustCommon #lbleClass #imgPC
{
  float:left;
}

.CustCommon #blkLoginWrapper #blkLoginDivider
{
    color:white;
    text-align: center;
    width:470px;
    margin-left:auto;
    margin-right: auto;
    opacity: 0.7;
    margin-bottom:20px;
}

.CustCommon #blkLoginWrapper #blkLoginDivider > span:nth-of-type(2n-1)
{
    width:calc(50% - 30px);
    height:1px;
    background: white;
    vertical-align: middle;
}

.CustCommon #blkLoginWrapper #blkLoginDivider > span:nth-child(2)
{
    width:30px;
    margin:0 5px;
}

.CustCommon #blkLoginWrapper #btnGoogleSignin
{
  width:470px;
  height:40px;
  margin-left:auto;
  margin-right: auto;
  display: block;
  border:0;
  background-color: white;
  background-image: url("../images/btn_google_signin_whitebg.png");
  background-size: 191px 46px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.CustCommon #blkLoginWrapper #btnGoogleSignin:hover
{
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 1px rgba(0,0,0,.25);
}

.CustCommon #blkLogin
{
  padding: 50px 70px;
  background-color: rgba(255,255,255,0.9);
}

#blkLoginWrapper img[alt*="logo"]
{
  margin: 0 auto 20px auto;
  display: block;

  width: 136px;
}

#blkLoginWrapper .headerSchName
{
  margin: 0 -20px 80px -20px;
  text-align: center;
  font-size: 27px;
  line-height: 1.2;

  color:#8f1827;
}

.CustCommon #blkLogin > .forgot_password
{
  font-size: 12px;
}

@media screen and (max-width: 470px)
{
  .CustCommon #blkLogin, .CustCommon #blkLoginWrapper #lbleClass, .CustCommon #blkLoginWrapper #blkLoginDivider, .CustCommon #blkLoginWrapper #btnGoogleSignin
  {
    width:90%;
  }

  .CustCommon #blkLogin
  {
    padding:5%;
  }

  #blkLoginWrapper .headerSchName
  {
    font-size:20px;
    margin:0 0 80px 0;
  }

  .CustCommon .invaidMsg
  {
    max-width: 42%;
    line-height: 14px;
    margin-top: -3px;
  }

  .CustCommon #blkLogin > .login_button
  {
    float: none;
    margin: 0px auto 30px auto;
    width: 100%;
    display: block;
  }

  .CustCommon #blkLogin > .forgot_password
  {
    margin: 0 auto 15px auto;
    display: block;
    text-align: center;
    line-height: 22px;
  }

  /* For Current Project */

  .CustCommon #blkLogin
  {
    margin-top:20px;
  }
}
