html { 
	padding:0px;
	margin:0px;
}

body {
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	color:#564b47;
	padding:0px 0px;
	margin:0px;
	overflow: auto;
}

div#menu {
	position: absolute;
	width: 180px;
	left: 10px;
	padding:0px;
	margin-top:10px;
	background-color:#DDDDDD;
}

table#navigation
{
	background: none;
}

#navigation td
{
	font-family: Arial,Helvetica,sans-serif;
}

#navigation a
{
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
}

#navigation a
{
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
	color: #33f;
	padding: 0 0 0 0px;
}

#navigation a:hover
{
	text-decoration: underline;
}

.timeRow2 {
	background-color:#E6E4E4;
	border-bottom:1px solid #FFFFFF;
	padding:2px;
}

.timeText {
	color:#818181;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.agendaEventTitle {
	font-size: 12px;
	font-family:"Arial","Helvetica","sans-serif";
	text-decoration: none;
}

.agendaEventTitle:hover {
	text-decoration: underline;
}

#quickAddEvent {
	position: absolute;
	z-index: 8;
	left:200px;
	top:100px;
	width:320px;
	background-color:#FFFFFF;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
}

#quickAddEvent_handle {
	background-color:#E5E5E5;
	height:20px;
	text-align:center;
	font-size: 12px;
	color: #727272;
	vertical-align:middle;
	padding: 2px;
}

#quickAddEvent_handle span{
	ont-size: 12px;
	font-family:"Arial","Helvetica","sans-serif";
}

#quickAddEvent_form {
	margin: 0px;
	padding: 2px;
}
	
#quickAddEvent_content {
	padding: 0px 0px 5px 0px;
}

#quickAddEvent_table {
	font-size: 12px;
	font-family:"Arial","Helvetica","sans-serif";
}

#quickAddEvent_close {
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}

/* Style for different type of school event */
.schoolEventEntry, .academicEventEntry, .holidayEventEntry, .groupEventEntry {
	font-size:11px;
	margin:5px 1px 2px 1px;
	padding:2px;
	cursor:pointer;
}

.schoolEventEntry {
	color: #4F9313;
}

.academicEventEntry {
	color: #0D98B6;
}

.holidayEventEntry {
	color: #FF0000;
}

.groupEventEntry {
	color: #FF8401;
}