
.eventEntry {
	position:absolute;
	z-index:6;
	text-overflow:clip;
	overflow:hidden;
	font-size: 11px;
}

table#weekly {
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #999;
	width: 100%;
}

.weekTitle {
	background-color:#D2D2D2;
	height:23px;
	padding:2px;
	text-align:center;
}

.weekTitleToday {
	background-color:#A4A4A4;
	height:23px;
	padding:2px;
	text-align:center;
}

.weekTitlePrint {
	border:1px solid #000000;
	height:23px;
	padding:2px;
	text-align:center;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0px;
	text-align:center;
	width:13%;
}

.weekCellPrint {
	border-style:none solid dashed solid;
	border-width:1px;
	vertical-align:top;
	border-color:#000 #000 #000;
}

.weekLastCellPrint {
	border-style:none solid solid solid;
	border-width:1px;
	vertical-align:top;
	border-color:#000 #000 #000;
}

.weekTitleText {
	color:#3B3C3C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0px;
	text-align:center;
	width:13%;
}

.weekTitleTextToday {
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:0px;
	text-align:center;
	width:13%;
}

.weekFirstCell, .weekFirstCellToday, .weekCell, .weekCellToday {
	border-style:none solid dashed;
	border-width:1px;
	vertical-align: top;
}

.weekLastCell, .weekLastCellToday {
	border-style:solid;
	border-width:1px;
	vertical-align: top;
}

.weekFirstCell {
	background-color:#FFFFFF;
	border-color:#D4D4D4 rgb(212, 212, 212) rgb(187, 187, 187);
}

.weekFirstCellToday {
	background-color:#FFFCA5;
	border-color:#828282 rgb(130, 130, 130) rgb(187, 187, 187);
}

.weekLastCell {
	background-color:#FFFFFF;
	border-color:#FFFFFF rgb(212, 212, 212) rgb(212, 212, 212);
}

.weekLastCellToday {
	background-color:#FFFCA5;
	border-color:#FFFCA5 rgb(130, 130, 130) rgb(130, 130, 130);
}

.weekCell {
	background-color:#FFFFFF;
	border-color:#FFFFFF rgb(212, 212, 212) rgb(187, 187, 187);
}

.weekCellToday {
	background-color:#FFFCA5;
	border-color:#FFFCA5 rgb(130, 130, 130) rgb(187, 187, 187);
}

.weekCellHover {
	background-color:#EAEFFF;
	border:1px solid #0066C5;
	vertical-align: top;
}

.timeRow2 {
	background-color:#E6E4E4;
	border-bottom:1px solid #FFFFFF;
	padding:2px;
}

.timeText {
	color:#818181;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.timeRowPrint {
	background-color:#E6E4E4;
	border:1px solid #000000;
	padding:2px;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.top_empty {
	font-size: 11px;
}

td.event_grid
{
	/*background-image:url(images/weekly_grid_bg.gif);*/
}

tr.day
{
	color: #666;
	font-size: 9px;
	height: 46px;
}


