
table#monthly {
	width: 100%;
}

.weekTitle {
	background-color:#D2D2D2;
	height:23px;
	padding:2px;
	text-align:center;
}

.weekTitleText {
	color:#3B3C3C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0px;
	text-align:center;
	font-variant: small-caps;
	width:13%;
}

.normalDayNumber, .holidayNumber, .todayNumber {
	clear:both;
	margin:1px 0px 0px 0px;
	width: 30%
}

.normalDayNumber span {
	background-color:#F0F0F0;
	color:#313232;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:2px;
	text-align:center;
	width:20px;
}

.holidayNumber span {
	background-color:#F9D6D6;
	color:#B41D23;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:2px;
	text-align:center;
	width:20px;
}

.todayNumber span {
	background-color:#F5C01A;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:2px;
	text-align:center;
	width:20px;
}

.monthCell {
	border:1px solid #CCCCCC;
	height: 65px;
	vertical-align: top;
}

.monthCellPrint {
	border:1px solid #000000;
	height: 65px;
	vertical-align: top;
}

.monthTodayCell {
	background-color:#FFFCA5;
	border:1px solid #5E5F5E;
	height: 65px;
	vertical-align: top;
}

.monthTodayCellPrint {
	background-color:#FFFCA5;
	border:1px solid #000000;
	height: 65px;
	vertical-align: top;
}

.monthCellHover {
	background-color:#EAEFFF;
	border:1px solid #0066C5;
	height: 65px;
	vertical-align: top;
}

tr.day
{
	color: #666;
	font-size: 10px;
	height: 60px;
}

tr.number
{
	background: #ddd;
	color: #888;
	font-size: 10px;
	height: 15px;
	text-align: right;
	vertical-align: middle;
}

td.holidayNumber {
	color: red;
}

