@charset "utf-8";

.CustCommon .font-light {
    font-family: 'Futura Lt BT', "微軟正黑體";
    font-weight: 300;
    font-style: normal;
}

.CustCommon .font-light-i {
    font-family: 'Futura Lt BT', "微軟正黑體";
    font-weight: 300;
  	font-style: italic;
}

.CustCommon .font-bold {
    font-family: 'Futura Md BT', "微軟正黑體";
    font-weight: bold;
  	font-style: normal;
}

.CustCommon .font-bold-i {
    font-family: 'Futura Md BT', "微軟正黑體";
    font-weight: bold;
  	font-style: italic;
}

.CustCommon .icon
{
  display: inline-block;
  font: normal normal normal 14px/1 Awesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body
{
  min-width:360px;
  max-width: 100%;
}

body
{
  background-image:url("../images/main_bg.jpg");
  background-size:cover;
  background-position: center center;
}

#blkTop table, #blkTop select, #blkTop input, #blkTop textarea{ font-size:inherit; line-height: inherit; }
#blkTop div, #blkTop ul, #blkTop ol, #blkTop li, #blkTop dl, #blkTop dt, #blkTop dd,
#blkTop h1, #blkTop h2,#blkTop h3,#blkTop h4,#blkTop h5,#blkTop h6,#blkTop pre,#blkTop form,
#blkTop p,#blkTop blockquote,#blkTop fieldset,#blkTop input,#blkTop hr { margin:0; padding:0; }
#blkTop h1,#blkTop h2,#blkTop h3,#blkTop h4,#blkTop h5,#blkTop h6,#blkTop pre,#blkTop code,#blkTop address,
#blkTop caption,#blkTop cite,#blkTop code,#blkTop em,#blkTop strong,#blkTop th {font-weight:normal; font-style:normal;}
#blkTop ul,#blkTop ol {list-style:none;}
#blkTop li	{list-style-position: outside; margin-left: 1em;}
#blkTop fieldset,#blkTop img,#blkTop hr {border:none;}
#blkTop caption,#blkTop th {text-align:left;}
#blkTop table {border-collapse:collapse; border-spacing:0;    width: 100%;}
#blkTop td {vertical-align:top; padding:0;}
#blkTop div { display:block;  }
#blkTop span{ display:inline-block; }
#blkTop a {text-decoration: none; color:inherit;}
#blkTop a:hover {color: #FF0000;}
#blkTop select {border: 1px solid #CCCCCC;}
#blkTop p.spacer { line-height:0px; height:0px; clear:both; display:block; padding:0px; margin:0px; height:0px}
#blkTop input[type="button"]:focus { outline: none;}
#blkTop input[type="text"],#blkTop input[type="password"] {}
#blkTop input[type="text"]:focus, #blkTop input[type="password"]:focus {}
#blkTop .link
{
  color:#2f83e1;
  cursor: pointer;
}
#blkTop #blkUserSubMenu
{
	border:1px solid transparent; 
  	position:absolute;
  	top:75px;
  	right:0;
  	text-align: left;
  	min-width: 200px;
  	white-space: nowrap;
  	z-index: 9999;
  	display:none;
}
#btnUserMenu .lblInfo { position:relative; display:inline-block; }
#blkRightMenu ul { margin:0px; padding:0px; list-style:none; }
#blkRightMenu ul li { float:left; margin-left:0px; }
#blkRightMenu ul li:hover a { color:#2f83e1; }
#blkRightMenu ul li.divider { height: 75px; width: 0; border-left: 1px solid #ddd; }
#blkUserSubMenu ul { margin:0px; padding:0px; background-color:#fff; }
#blkUserSubMenu ul li { float:none; display:block; margin-left:0px; margin-right:0px; clear:both; }
#blkUserSubMenu ul li a.lang_button { float:left; }
#blkUserSubMenu ul li a.lang_button { width:30%; text-align:center; }
#blkUserSubMenu ul li a.lang_button_current { background-color:#2f83e1; color:#fff!important; }
#blkUserSubMenu ul li a.lang_button_current::before {
	display: inline-block;
	content:"\f00c";
	margin-right: 10px;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#blkUserSubMenu .menu_button {
	padding:12px 20px;
	background: #fff;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#blkUserSubMenu .menu_button.active,
#blkUserSubMenu .menu_button:hover:not(.lang_button_current) {
	background-color:#eee;
}
#blkTop .menu.frameLink_Selected {
	background-color:#fff;
}
#blkTop .menu_button.frameLink_Selected {
	background-color:#eee;
}

#blkTab { position:relative; }
/*
#blkTab ul { 
	margin:0px; 
	padding:0px; 
	list-style:none; 
	height:60px;
	background-image: url("../images/main_bg.jpg");
  	background-size: cover;
  	background-position: center center;
  	background-attachment: fixed;
  	opacity: 0.95;
  	filter:brightness(1.1);
} 
*/
#blkTab ul li a span { line-height:56px; padding-left:25px; padding-right:25px; display:block; font-size: 27px;}
.CustCommon.CustMainContent #blkTab span{
	height:56px;
}
#blkTab ul li.active a span { border-bottom:4px solid rgba(255, 255, 255, 0.5); }
.CustCommon.CustMainContent #blkTab li.active span
{
  border-bottom:4px solid rgba(255, 255, 255, 0.5);
}
#blkTab ul li a:hover { background-color: rgba(255, 255, 255, 0.2); }



.CustCommon.CustMainContent {
    padding-top: 60px;
}

.CustCommon.CustMainContent.PowerCLassPortal {
    padding-top: 0px;
}

#blkTab{
	top: 76px;
}

#blkLogin input[type="submit"]
{
	background-color:#2f83e1;
	color:white;
	padding:10px 20px;
}

/* Preset Classes*/
.fill
{ width:100%; height:100%;  }
.absolute
{ position:absolute;  }
.center
{ text-align:center;  }
.pointer
{ cursor:pointer  }
.marginB5
{ margin-bottom:5px; }
.marginB10
{ margin-bottom:10px; }
.marginB20
{ margin-bottom:20px; }
.hide
{ display: none; }

.CustCommon.CustTopHeader #btnSetup
{
  color:#808080;
}

.CustCommon.CustTopHeader #btnSetup:hover > span,
#btnUserMenu:hover > .lblInfo,
.CustCommon.CustMainContent .pageHeader,
.CustCommon #blkAppIconsHeader,
.CustCommon #blkAppTab ul,
.CustCommon #blkMoreSchoolNews a,
#blkTop #blkRightMenu #btnSetup:hover a,
#header .backButton a
{
  color:#2194ED !important;
}

/* For Current Project */

.textColor-1
{
  color:#333;
}

.textColor-2
{
  color:#2f83e1;
}

.bgColor-1
{
  background-color:#cde9eb;
}
/*
#lbleClass
{
  font-size:12px;
  margin:20px auto;
  text-align: right;
  color:white;
  margin-left: auto;
  margin-right: auto;
  width:95%;
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
  width:calc(100% - 30px);
  max-width: 1280px;
}

#lbleClass *
{
  vertical-align: middle;
  margin-right:3px;
}

#lbleClass img
{
  width:40px;
}
#lblBL
{
  float:left;
}
*/
/**************************************************************************/
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
/* ************************************************************************* /
/**************************************************************************/



body { display:block; }

#content { padding-left:20px!important; }
#content > table > tbody > tr > td { background:none!important; background-color:#fff!important; }
#content > table > tbody > tr > td > img { display:none; }
#header { background:none; }
#header .header_title { background:none; }
#module_title { margin-left:40px; color: #2B3990; line-height:44px; }
#header.pageHeader #module_title { margin-left:20px; }
#header.pageHeader .backButton { margin-right:20px; }

#eclass_main_frame_table { max-width:1200px; margin:0px auto; }
#eclass_main_frame_table .footer { color:#fff; display:block; padding-top:10px; /* max-width:1200px; margin:0px auto; */ }

.footer { color:#fff; }

#blkModuleContainer td { clear:both; }
#blkModuleContainer
{
  margin:15px auto;
  width:95%;
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
  width:calc(100% - 30px);
  max-width: 1280px;
  background-color: white;
}

#blkModuleContainer.bgColor-1
{
  background-color:#cde9eb;
}

#blkModuleContainer.bgColor-2
{
  background-color:transparent;
}

#custMainContent .wrapper #frameWrap { width:100%; display:block; overflow-x:hidden; }
#blkTab {
	overflow-x:scroll;
}
#custMainContent .wrapper #frameWrap #custFrameBody { width:100%; height:100%; border:0px; overflow:scroll; }

#header .backButton {
	float:right;
	font-size:18px;
	color:#2194ED !important;
	margin-right: 30px;
}
#header .backButton::before {
	display: inline-block;
  	content:"\f104";
  	margin-right:5px;
  	font: normal normal normal 14px/1 FontAwesome;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#header .backButton a {
	line-height: 46px;
}
#header .backButton a:hover {
	color:#0b2b92!important;
}

#blkTop .menu.frameLink_Selected {
	background-color:#fff;
}
#blkTop .menu_button.frameLink_Selected {
	background-color:#eee;
}

.chrt_body { padding:10px; }
.chrt_title { text-align:right; padding-right:10px; }
.graph_body { width:100%; height:400px; position:relavtion; }

.morris-hover{position:absolute;z-index:1000}
.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,1);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

#leftmenu { display:none!important; }

.page_no .prev { margin:8px; }
.page_no .next { margin:8px; }
.pageHeader { padding:0px!important; margin-bottom:0px; }
.pageHeader .header_title { font-size:12px; }

.portalIconsContainer1 div.portalIcon { width:33%; display:inline-block; }

.portalIcon { cursor:auto!important; }
.portalIcon a { line-height:20px; }

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews
{
  position:absolute;
  right:50px;
  top:0;
}

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span
{
  height: 60px;
  padding: 15px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-bottom: 0 !important;
}

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span:last-child
{
  margin-right: 10px;
}

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span img
{
  width:30px; height:30px;
  opacity:0.85;
  vertical-align: middle;
}

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span:hover img
{
  opacity: 1;
}

#m_PowerClassSchoolNews span#SchoolNews {
	background-image: url('../images/icon-news_w.png');
	background-repeat: no-repeat;
    background-position: center; 
}

#m_PowerClassSchoolNews.active span#SchoolNews {
	background-image: url('../images/icon-news-active.png');
	background-repeat: no-repeat;
    background-position: center; 
}

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span#SchoolNews {
	top: 5px;
	padding: 10px 30px;
}

#tblApp .portalIcon-eNotice
{
 /* width:100%; */
}

#tblAppSettings .appSettings-buttons {
	display:inline-block;
}

#tblApp .portalIcon-eNotice .portalIcon_subInfo div:first-child
{
  float:left;
  font-size: 14px;
  line-height: 1.6;
  padding-right: 10px;
  margin: 5px 5px 0 0;
}

#tblApp .portalIcon-eNotice .portalIcon_subInfo div:last-child
{
  overflow-x: hidden;
  white-space: initial;
}

#tblApp td:last-child {
	width:410px;
}
.sub_layer_board { max-width:100%; }
div { max-width: 100%; }
#sub_layer_sys_timeout { max-width:100%; }
#sub_layer_sys_timeout table { width:auto; max-width:100%; }
/* Scroll bar */
::-webkit-scrollbar {width:5px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}

.portalIcon a { color:#000000!important; }
.portalIcon:hover a { color:#2f83e1!important; }

.portalIcon:hover .addButton a { color:#000000!important;  }
.portalIcon:hover .addButton:hover a { color:#2f83e1!important;  }

.portalIcon_subInfo .addButton a { color:#2f83e1!important; }
.portalIcon_subInfo:hover .addButton a { color:#000000!important; } 
.portalIcon_text .addButton a { color:#2f83e1!important; }
.portalIcon_text:hover .addButton a { color:#000000!important; } 

#blkGoogleApps #googleApps_more {width:100%;}

@media screen and (max-width: 767px) {
	#btnSetup > a > span {
		display:none;
	}
	#btnSetup > a::before {
		margin-left:10px;
		margin-right:10px;
	}
	#btnUserMenu #lblRole { display:none; }
	#btnUserMenu #lblUsername { display:none; }
}
@media screen and (max-width: 479px) {
	#blkUserMenu {
		left: 0px;
	}
}

#btnSetup:hover > span, #btnUserMenu:hover > span, .pageHeader, #blkAppIconsHeader, #blkAppTab ul, #blkMoreSchoolNews a{
	color: #a62e61 !important;	
}

#FilterSelectionDiv,
#FilterSelectionDiv div { max-width:500px; }
#DisplayOptionDiv,
#DisplayOptionDiv div { max-width:200px; } 

/* Footer */
#lbleClass {
    font-size: 12px;
    margin: 20px auto;
    text-align: right;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    max-width: 1280px;
}
#lbleClass #imgPC {
    float: left;
}
#lbleClass img {
    /* width: 40px; */
    height: 21px;
}
#lbleClass * {
    vertical-align: middle;
    margin-right: 3px;
}

select:not([multiple]){
    appearance:menulist;
	-moz-appearance:menulist; 
	-webkit-appearance:menulist; 
}   