/* used by: */
/*======================================================================================================================*/
/*===================================================================Common============================================*/
/*======================================================================================================================*/
body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	scrollbar-face-color:#F7F7F7;
	scrollbar-base-color:#F7F7F7;
	scrollbar-arrow-color:888888;
	scrollbar-track-color:#E2DFDF;
	scrollbar-shadow-color:#F7F7F7;
	scrollbar-highlight-color:#F7F7F7;
	scrollbar-3dlight-color:#C6C6C6;
	scrollbar-darkshadow-Color:#C6C6C6;

}
.day_time{
	padding-left: 3px;
}
.textbox {
	width: 100%;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 3px;
	height: 22px;
}
.textarea_autoexpand {
	width: 100%;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 3px;
	height: 22px;
	overflow-y:visible;
}
.textarea_compose {
	width: 100%;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 3px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	/*overflow:auto;
	overflow-y:visible;*/
}

.textbox_search{
	width: 120px;
}

.textarea_desc {
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	width:100%;
}
.button {
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.button_go {
	width: 30px;
	height: 20px;
}
.button_main_act {
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	margin: 0px;
}
.button_main_act_selected {
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	margin: 0px;
}
.button_imail_menu{
	width: 85px;
}
.content_bg{
	width: 960px;
	vertical-align: top;
}

.png_transparent { behavior: url(/theme/css/iepngfix.htc); }

.bg_shadow_left {
	background-image: url(../image_en/bg_shadow_left.png);
	background-repeat: repeat;
	width: 16px;
	behavior: url(/theme/css/iepngfix.htc);
}
.bg_shadow_right {
	background-image: url(../image_en/bg_shadow_right.png);
	background-repeat: repeat;
	width: 16px;
	behavior: url(/theme/css/iepngfix.htc)

}
/*================================================================ sub layer ======================================================================*/
.bubble_board_01{
	background-image: url(../image_en/layout_grey/sub_layer_bubble01.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 9px;
	width: 100%;
	margin:0;
	padding-left: 12px;
	font-size: 1px;
	clear: both;
}

.bubble_board_02{
	background-image: url(../image_en/layout_grey/sub_layer_bubble02.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: right top;
	height: 9px;
	margin:0;
	margin-left: 12px;
	padding-right: 12px;
	font-size: 1px;

}
.bubble_board_03{
	background-image: url(../image_en/layout_grey/sub_layer_bubble03.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	width: 100%;
	margin:0;
	padding-left: 12px;
	clear: both;

}

.bubble_board_04{
	background-image: url(../image_en/layout_grey/sub_layer_bubble04.gif);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	margin:0;
	margin-left: 12px;
	padding-right: 12px;
	font-size: 11px;
	color: #000000;

}
.bubble_board_03_b{
	background-image: url(../image_en/layout_grey/sub_layer_bubble03_b.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	width: 100%;
	margin:0;
	padding-left: 12px;
	clear: both;

}

.bubble_board_04_b{
	background-image: url(../image_en/layout_grey/sub_layer_bubble04_b.gif);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	margin:0;
	margin-left: 12px;
	padding-right: 12px;
	font-size: 11px;
	color: #000000;

}

.bubble_board_05{
	background-image: url(../image_en/layout_grey/sub_layer_bubble05.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 9px;
	width: 100%;
	margin:0;
	padding-left: 12px;
	font-size: 1px;
	clear: both;
}

.bubble_board_06{
	background-image: url(../image_en/layout_grey/sub_layer_bubble06.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: right top;
	height: 9px;
	margin:0;
	margin-left: 12px;
	padding-right: 12px;
	font-size: 1px;

}

/*================================================================TABS ======================================================================*/
#listcommontabs{
	margin: 0;
	padding: 0;
	float:left;
	clear: both;
	font-size:11px;
	line-height:normal;
	width:100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;

}

#listcommontabs ul{
	list-style-type: none;
	margin:0;
	margin-left: 0px; /*Left offset of entire tab menu relative to page*/
	padding:0;
	margin-bottom: 0;
}

#listcommontabs li{
display:inline;
margin:0;
padding:0;

}

#listcommontabs a{
float:left;
background:url(../image_en/layout_grey/listcommontabs_left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 9px;
text-decoration:none;
}

#listcommontabs a.current {
background-position:0pt -81px;
}

#listcommontabs a.current span {
background-position:100% -81px;
color:#000000;
font-weight:bold;
}

#listcommontabs a span{
	float:left;
	display:block;
	background:url(../image_en/layout_grey/listcommontabs.gif) no-repeat right top;
	font-weight:normal;
	color:#4360aa;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 3px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#listcommontabs a span {float:none;}
/* End IE5-Mac hack */

#listcommontabs a:hover span {
color: black;
}

#listcommontabs #current a{ /*Selected Tab style*/
background-position:0 -81px; /*Shift background image up to start of 2nd tab image*/

}

#listcommontabs #current a span{ /*Selected Tab style*/
background-position:100% -81px; /*Shift background image up to start of 2nd tab image*/
font-weight:bold;
color:#000000;

}

#listcommontabs a:hover{ /*onMouseover style*/
background-position:0% -81px; /*Shift background image up to start of 2nd tab image*/

}

#listcommontabs a:hover span{ /*onMouseover style*/
background-position:100% -81px; /*Shift background image up to start of 2nd tab image*/
}
#commontabs{
float:left;
clear: both;
font-size:11px;
line-height:normal;

}

#commontabs ul{
list-style-type: none;
margin:0;
margin-left: 0px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

#commontabs li{
display:inline;
margin:0;
padding:0;
}

#commontabs a{
float:left;
background:url(../image_en/layout_grey/glowtab-left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 9px;
text-decoration:none;
}

#commontabs a span{
float:left;
display:block;
background:url(../image_en/layout_grey/glowtab.gif) no-repeat right top;
padding: 4px 12px 2px 3px;
font-weight:normal;
color:#4360aa;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#commontabs a span {float:none;}
/* End IE5-Mac hack */

#commontabs a:hover span {
color: black;
}

#commontabs #current a{ /*Selected Tab style*/
background-position:0 -82px; /*Shift background image up to start of 2nd tab image*/
}

#commontabs #current a span{ /*Selected Tab style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
font-weight:bold;
color:#000000;

}

#commontabs a:hover{ /*onMouseover style*/
background-position:0% -82px; /*Shift background image up to start of 2nd tab image*/
}

#commontabs a:hover span{ /*onMouseover style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
}

#commontabs_board{
	background-color: #ebeff6;
	float:left;
	clear:left;
	}
/*===================================================================TOP  MENU ============================================*/

#top_header{
	height: 132px;
	width: 960px;
	clear: both;
}
#top_header_menu_bg{
	behavior: url(/theme/css/iepngfix.htc);
	height: 132px;
	width: 960px;
}
#school_logo{

	clear: left;
	float: left;
	height: 130px;
	width: 130px;
	text-align: center;
	vertical-align: middle;
/*	border: 1px solid #FF0000;*/	
}
#top_header_right{
	float:left;
	width:828px
}

#top_front_login_btn{	
	clear: right;
	float: right;
	height: 96px;
}

#top_front_login_btn span{
	display: block;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 8px;
	float: right;
}

#top_login_btn{	
	clear: right;
	float: left;
	height: 35px;
	width: 828px
}
#top_login_btn span{
	display: block;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 8px;
	float: right;
}
#top_school_slogan{
	clear: both;
	float: left;
	width: 600px;
	height: 63px;
}
#top_school_slogan span {
	display: block;
	margin-top: 0px;
	padding-top: 10px;
}

#top_menu {
	float:left;
	height: 34px;
	width: 600px;
}

#top_menu ul{
	list-style-type: none;
	margin:0;
	margin-left: 0px;
	padding:0;

}

#top_menu li{
	display:inline;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	height: 34px;
}

#top_menu a {
	float:left;
	margin:0;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 5px;
	background-image: url(../image_en/spacer.gif);
	height: 34px;
}
#top_menu a span{
	float:left;
	padding-top: 9px;
	display:block;
}

.top_menu_unlink{
	float:left;
	margin:0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 5px;
	background-image: url(../image_en/spacer.gif);
	height: 34px;
	padding-top: 9px;
	display:block;
	color: #FFFFFF;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#top_menu a span {float:none;}
/* End IE5-Mac hack */

#top_menu #current a {
	background-image: url(../image_en/top_menu_on_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#top_menu #current a span{
	padding-top: 5px;
}

#top_menu a:hover {
	background-image: url(../image_en/spacer.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#top_menu a:hover span{
	padding-top: 7px;
}

#top_weather_temp {
	padding-top: 5px;
	float:right;
	padding-right: 30px;
}
#top_weather_icon {
	float:right;
	padding-right: 2px;
}
#top_weather_API{
	float:right;
	padding-right: 10px;
	width: 100px;
}
#top_weather_API_title{
	float:left;
	padding-top: 10px;
}
#top_weather_API_item{
	padding-top: 3px;
	float:right;

}


/*========================================= Top sub menu =======================================================*/

#top_submenu {
	position: absolute;
	width: 167px;
	visibility: visible;

}
#top_submenu_content {
	width:167px;

	background-image: url(../image_en/layout_grey/sub_menu_bg.png);
	behavior: url(/theme/css/iepngfix.htc)

}
.top_submenu_item{
	list-style-type: none;
	padding: 0;
	width: 167px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
}

.top_submenu_item li a{
	color: #003399;
	display: block;
	width: auto;
	padding-left: 12px;
	text-decoration: none;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-image: url(../image_en/layout_grey/sub_menu_item_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 5px;
	padding-right: 12;
	padding-bottom: 5px;
}


* html .top_submenu_item li a{ /*IE only. Actual menu width minus left padding of LINK (20px) */
width: 160px;
}

.top_submenu_item li a:hover{
color: FF0000;
}

/*
================================================================================ FOOTER ========================================================================
*/



#footer_logo_esf{
	float:left;


}
#footer_logo_eclass{
	float:right;
	padding-right: 20px;
	padding-top: 20px;
}
/*========================================================================= FORM ================================================
*/
#sub_page_title{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	clear: both;
	float: left;
	width: 100%;
	padding: 5px;
}
#sub_page_title_success{
	font-size: 11px;
	font-weight: bold;
	color: #339900;
	clear: both;
	float: left;
	width: 100%;
	padding: 5px;

}

.hiddenform{
	margin: 0;
	margin-top: -20px;
	font-size: 11px;
	color: #000000;
	padding-left: 20px;
	padding-top: 0px;
}

.cssform{
	font-size: 11px;
	color: #000000;
	padding: 20px;
}
p.cssform{
	margin: 0;
	padding-left: 120px;
	height: 1%;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 3px;
}
p.dotline_p{
	height: 1px;
	padding-top: 00px;
	margin-top: 10;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	padding-right: 0;
	margin-right: 0;	
	margin-bottom: 10;
	margin-left: 0;

}
.cssform label{
font-weight: normal;
float: left;
margin-left: -120px; /*width of left column*/
width: 118px; /*width of labels. Should be smaller than left column (160px) to create some right margin*/
}


.sign_textarea{
	height: 100px;
	width: 200px;
	margin-left: 20px;
}

.textbox_date {
	width: 150px;
	height: 22px;
	padding-right: 3px;
	padding-left: 3px;
	color: #000000;
	border: 1px solid #cfcfcf;

}
#form_btn
{
	text-align: center;
	padding: 10px;
	width: 100%;
}
.cssform a{
	font-weight: normal;
	font-size: 9px;
	color: #4360aa;
	text-decoration: none;

}
.cssform a:hover{
	color: #FF0000;


}
/*======================================================================================================================*/
/*===================================================================PORTAL============================================*/
/*======================================================================================================================*/
#portal_module_right{
	width: 390px;
	float:right;
	clear: right;
	padding-bottom: 20px;

}
#portal_module_left{
	width: 560px;
	float:left;
	clear: left;
	padding-bottom: 20px;
}

.module_content_myclass{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.module_portal_content{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.module_content{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}

#module_content_header{
	padding: 6px;
	/* Added by Andy for displaying iCalendar title bar normally */
	overflow: hidden;
}
#module_content_header_myclass{
	padding: 6px;
	height: 20px;
}
#module_content_header_title {
	clear: left;
	float: left;
}
#module_content_relate {
	clear: right;
	float: right;
	padding-top: 3px;
}
#btn_link {
	clear: left;
	float: left;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
/*	border: #FF0000 1px solid;*/
}
#btn_link a{
	padding-right: 10px;
}
.portal_search_result_title{
	background-color:#f2f2f2; 
	border-bottom: solid 1px #cdcdcd; 
	padding:2px; 
	width:100%; 
	font-size:9px;
	height: 15px;
}
.portal_search_result_subject{
	vertical-align: top;
	//padding:2px; 
	//width:20px; 
	font-size:9px;
	//height: 15px;
}
.portal_search_result_name{
	width:100px;
	padding:2px;
	float:left
}

.portal_search_result_name a{
	color: #4360aa;
	text-decoration:none;
}
.portal_search_result_name a:hover {
	color: #FF0000;
}

.portal_search_result_school{
	width:40px;
	padding:2px;
	float:left
}
.portal_search_result_field2{
	width:80px;
	padding:2px;
	float:left
}
.portal_search_result_field3{
	width:85px;
	padding:2px;
	float:left
}
.portal_search_result_field4{
	width:30px;
	padding:2px;
	float:left
}
.portal_search_result_field4 a{
	color: #003399;
	text-decoration: none;	
}
.portal_search_result_field4 a:hover{
	color: #FF0000;

}
.portal_search_result_entry{
	background-color: #FFFFFF;
	border-bottom: solid 1px #cdcdcd; 
	padding:2px; 
	width:98%; 
	font-size:9px
}
.portal_search_result_detail{
	padding: 3px ; 
	float:left; 
	padding-left: 0px; 
	line-height:16px; 
	width: 230px;
}
.portal_search_result_detail a {
	color:#006699; 
	text-decoration:none
}
.portal_search_result_detail a:hover {
	color:#FF0000; 

}
.portal_search_form_title{
	width:80px; 
	height: 25px; 
	clear:none; 
	float:left; 
	padding:3px;
}
.portal_search_result_header{
	padding:2px; 
	padding-top:5px; 
	font-size:11; 
	float:left
}

/*
================================================================================calendar========================================================================
*/
#portal_cal_active_event{
	clear: left;
	float: left;
	background-repeat: no-repeat;
	height: 125px;
	width: 115px;
	padding-top: 5px;
}
.portal_cal_active_event_title{
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;}
	
#portal_cal_active_event a{
	height: 25px;

	display:block;
	text-align: center;
}
#cal_top{
	float:left;
	clear:left;
	width: 400px;
	height: 10px;
	background-image: url(../image_en/layout_grey/cal_top.gif);
	background-position: top;
}

#cal_day_range{
	float:left;
	padding-top: 0px;
	font-size: 10px;
	font-weight: normal;
	color: #02568c;
}
#cal_content{
	float:left;
	clear:left;
	width: 400px;
	height: 210px;
	background-color: #dbedff;
}
#cal_bottom{
	float:left;
	clear:left;
	width: 400px;
	height: 12px;
	background-image: url(../image_en/layout_grey/cal_bottom.gif);
	background-position: bottom;
}
#cal_bottom span.left_btm{
	height: 15px;
	background-image: url(../image_en/layout_grey/cal_bottom_left.gif);
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	padding-left: 7px;
	padding-top: 0px;
}
#cal_bottom span.right_btm{
	height: 15px;
	background-image: url(../image_en/layout_grey/cal_bottom_right.gif);
	background-repeat: no-repeat;
	background-position: right;
	display: block; 
	padding-top: 0px;

}

.cal_month{

	height: 210px;
	margin-right: 5px;
	margin-left: 5px;
	overflow: auto;
	padding: 2px;
}

.cal_agenda{
	background-color: #FFFFFF;
	height: 210px;
	margin-right: 5px;
	margin-left: 5px;
	overflow: auto;
	padding: 2px;
}
.cal_agenda_title {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c2c2c2;
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.cal_agenda_entry {
	padding: 3px;
}
.cal_event_blue{
	border: 1px solid #6fb1eb;
}
.cal_event_red{
	border: 1px solid #ad002f;
}

.imail_link_menu a{
	color:#0066CC;
	text-decoration:none;
}

.imail_link_menu a:hover{
	color:#FF0000;
}

.imail_entry_selected{
	padding: 3px;
	height:25px;

}
.imail_entry_unread{
	padding: 3px;
	height:25px;
	vertical-align: middle;
}
.imail_entry_read{

	padding: 3px;
	height:25px;
	vertical-align: middle;
}
.imail_entry_top
{	
	padding: 3px;
}
.imail_entry_top span{
	padding-left: 40px;

}
#my_class_search_student{
	padding: 3px;
}

.student_thumbnail_entry{
	width: 25%;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
}

.student_thumbnail_entry_attendance{
	width: 14%;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: top;
}

.student_list_top{
	padding: 3px;

}
.student_list_entry{
	padding: 3px;

}
.cal_week_title{
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}
.cal_week_title_today{
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}


#caltabs{
float:left;
font-size:11px;
line-height:normal;

}

#caltabs ul{
list-style-type: none;
margin:0;
margin-left: 0px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

#caltabs li{
display:inline;
margin:0;
padding:0;
}

#caltabs a{
float:left;
background:url(../image_en/layout_grey/caltab_left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 9px;
text-decoration:none;
}

#caltabs a span{
float:left;
display:block;
background:url(../image_en/layout_grey/caltab.gif) no-repeat right top;
padding: 4px 12px 2px 3px;
font-weight:normal;
color:#3B3B3B;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#caltabs a span {float:none;}
/* End IE5-Mac hack */

#caltabs a:hover span {
color: black;
}

#caltabs #current a{ /*Selected Tab style*/
background-position:0 -82px; /*Shift background image up to start of 2nd tab image*/
}

#caltabs #current a span{ /*Selected Tab style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
	font-weight:bold;
	color:#0b2b92;
}

#caltabs a:hover{ /*onMouseover style*/
background-position:0% -82px; /*Shift background image up to start of 2nd tab image*/
}

#caltabs a:hover span{ /*onMouseover style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
}

/* ============================================== iCalander =================================================
============================================ added on 9 May 08 ==============================================
===========================================================================================================*/
#ical_left{
	float:left;
	width:160px;
}
#ical_right{
	float:left;
	width:780px
}

#cal_left_act_event{
	float:left; 
	clear:both; 
	width:100%; 
	height:85px;
}
.cal_act_event_board {
	float:left; 
	clear:both;
	width:155px; 
	position:absolute
}
.cal_act_event_board_expand {
	float:left; 
	clear:both;
	width:300px; 
	position:absolute
}
.cal_act_event_board_content{
	display:block; 
	text-align:center; 
	line-height:20px;
}

#cal_board{
	width:780px
}
.cal_board_02{
	background-image: url(../image_en/layout_grey/cal_board_02.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: right top;
	height: 6px;
	margin:0;
	margin-left: 0px;
	padding-right: 0px;
	font-size: 1px;

}

.cal_board_content{
 background-color: #dbedff;
	width: 100%;
}
.cal_board_05{
	background-image: url(../image_en/layout_grey/cal_board_05.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 6px;
	width: 100%;
	margin:0;
	padding-left: 0px;
	font-size: 1px;
	clear: both;
}

.cal_board_06{
	background-image: url(../image_en/layout_grey/cal_board_06.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: right top;
	height: 6px;
	margin:0;
	margin-left: 6px;
	padding-right: 6px;
	font-size: 1px;

}




#small_cal{
	float:right; 
	clear:both;  
	width:100%;
}

.small_cal_board_01{
	background-image: url(../image_en/layout_grey/cal_board_01.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 6px;
	width: 100%;
	margin:0;
	padding-left: 0px;
	font-size: 1px;
	clear: both;
}

.small_cal_board_02{
	background-image: url(../image_en/layout_grey/cal_board_02.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: left top;
	height: 6px;
	margin:0;
	margin-left: 6px;
	padding-right: 0px;
	font-size: 1px;

}
.small_cal_board_05{
	background-image: url(../image_en/layout_grey/cal_board_05.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 6px;

	width: 100%;
	margin:0;
	padding-left: 0px;
	font-size: 1px;
	clear: both;
}

.small_cal_board_06{
	background-image: url(../image_en/layout_grey/cal_board_06.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: left top;
	height: 6px;
	margin:0;
	margin-left: 6px;
	padding-right: 0px;
	font-size: 1px;

}

.small_cal_bg{
	background-color: #FFFFFF;	


}


.small_cal_week_normal{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b2b2b2;
	text-align: center;
	vertical-align: middle;
	height: 16px;
	background-color: #FFFFFF;	
}
.small_cal_week_sunday{
	font-size: 9px;
	color: #FF0000;
	width: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	height: 16px;
	background-color: #ffe6e6;
}
.small_cal_today{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #fdffce;	
}
.small_cal_today a{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	height: 17px;
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;


}
.small_cal_today a:hover{
	display: block;
	color: #FFFFFF;	
	background-color: #5d87bd;
}
.small_cal_sunday{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #ffe6e6;
}
.small_cal_sunday a{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	height: 17px;
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;

}
.small_cal_sunday a:hover{
	display: block;
	color: #FFFFFF;	
	background-color: #5d87bd;
}
.small_cal_sunday a:hover span{
	color: #FFFFFF;	

}


.small_cal_blank_sunday{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #eee2e2;
}
.small_cal_blank_sunday a{
	font-size: 9px;
	color: #999999;
	width: 22px;
	height: 17px;
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;

}
.small_cal_blank_sunday a:hover{
	display: block;
	color: #FFFFFF;	
	background-color: #5d87bd;
}
.small_cal_blank_sunday a:hover span{
	color: #FFFFFF;	

}

.small_cal_blank{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #F7F7F7;
}
.small_cal_blank a{
	font-size: 9px;
	color: #999999;
	width: 22px;
	height: 17px;
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;

}
.small_cal_blank a:hover{
	display: block;
	color: #FFFFFF;	
	background-color: #5d87bd;
}
.small_cal_blank a:hover span{
	color: #FFFFFF;	

}

.small_cal_event{
	font-weight: bold;
	color: #0983ff;
}
.small_cal_normal_day{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #FFFFFF;	
}


.small_cal_normal_day a{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	height: 17px;
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;


}
.small_cal_normal_day a:hover{
	display: block;
	color: #FFFFFF;	
	background-color: #5d87bd;
}

.small_cal_normal_day a:hover span{
	color: #FFFFFF;	

}

.small_cal_today{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #fdffce;	
}
.small_cal_today a{
	font-size: 9px;
	color: #6a6a6a;
	width: 22px;
	height: 17px;
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;


}
.small_cal_today a:hover{
	display: block;
	color: #FFFFFF;	
	background-color: #5d87bd;
}

.small_cal_today a:hover span{
	color: #FFFFFF;	

}
.small_cal_selected{

	background-color: #5d87bd;
}
.small_cal_selected a{	
	color: #FFFFFF;	
}

.cal_view_week{
	background-color: #E0E0E0;
	vertical-align: top;
}

.cal_normal_day{
	width: 108px;
	height: 62px;
	text-align: left;
	background-color: #FFFFFF;
	vertical-align: top;
}
.cal_normal_day span{
	display: block;
	width: 108px;
	text-align: right;
	font-size: 9px;
	color: #6a6a6a;
	background-color: #eaeaea;
	font-weight: noraml;
	text-decoration: none;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

a.day_no {
	float:right;
	font-size: 9px;
	color: #6a6a6a;
	padding-right: 2px;
	padding-left: 2px;
	text-align:center;
	text-decoration:underline;
}
a.day_no:hover {
	color: #FFFFFF;
	background-color:#717074;
	text-decoration:none;
}
.day_st {
	float:right;
	font-size: 8px;
	color: #999999;
	padding-right: 2px;
	padding-left: 2px;
	text-align:center;
	text-decoration:none;
}
a.day_close {
	float:right;
	font-size: 9px;
	color: #6a6a6a;
	padding-right: 2px;
	padding-left: 2px;
	text-align:center;
	text-decoration:none;

}
a.day_close:hover {
	color: #FFFFFF;
	background-color:#000000;
	text-decoration:none;
}
a.day_add_event{
	float:left;
	font-size: 9px;
	color: #155FB9;
	padding-left: 2px;
	
	text-align:center;
	text-decoration:none
}
a.day_add_event:hover {
	color: #FF0000;
	text-decoration:underline;
}

.cal_blank_day{
	width: 108px;
	height: 62px;
	text-align: left;
	background-color: #F3F3F3;
	vertical-align: top;
}
.cal_blank_day span{
	display: block;
	width: 108px;
	text-align: right;
	font-size: 9px;
	color: #AAAAAA;
	font-weight: noraml;
	text-decoration: none;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}


.cal_normal_today{
	width: 108px;
	height: 62px;
	text-align: left;
	background-color: #fdffba;
	vertical-align: top;

}
.cal_normal_today span{
	display: block;
	width: 108px;
	text-align: right;
	font-size: 9px;
	background-color: #e8eabd;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;

}
.cal_month_event_item {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
	float:left;
}

.cal_month_event_item ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	clear: left;
	width: 100%;
}

.cal_month_event_item li {
	display: block;
	margin: 0;
    padding: 0px;
	padding-bottom: 1px;
	width: 100%;

}

.cal_month_event_item a {
	margin: 0;
	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 2px;
/*	border: 1px solid #FF0000;*/
}

.cal_month_event_item a:hover {
	color: #FFFFFF;

}


#cal_calendar_tab{
	margin: 0;
	padding: 0;
	float:left;
	clear: both;
	font-size:11px;
	line-height:normal;
	width:100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;

}

#cal_calendar_tab ul{
	list-style-type: none;
	margin:0;
	margin-left: 0px; /*Left offset of entire tab menu relative to page*/
	padding:0;
	margin-bottom: 0;
}

#cal_calendar_tab li{
display:inline;
margin:0;
padding:0;

}

#cal_calendar_tab a{
float:left;
background:url(../image_en/layout_grey/cal_calendar_tab_left.gif) no-repeat left top;
margin:0;
margin-right: 0px; /*spacing between each tab*/
padding:0 0 0 5px;
text-decoration:none;


}

#cal_calendar_tab a span{
	float:left;
	display:block;
	background:url(../image_en/layout_grey/cal_calendar_tab.gif) no-repeat right top;
	font-weight:normal;
	color:#4360aa;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 3px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#cal_calendar_tab a span {float:none;}
/* End IE5-Mac hack */

#cal_calendar_tab a:hover span {
color: black;
}

#cal_calendar_tab #current a{ /*Selected Tab style*/
background-position:0 -81px; /*Shift background image up to start of 2nd tab image*/

}

#cal_calendar_tab #current a span{ /*Selected Tab style*/
background-position:100% -81px; /*Shift background image up to start of 2nd tab image*/
font-weight:bold;
color:#000000;

}

#cal_calendar_tab a:hover{ /*onMouseover style*/
background-position:0% -81px; /*Shift background image up to start of 2nd tab image*/

}

#cal_calendar_tab a:hover span{ /*onMouseover style*/
background-position:100% -81px; /*Shift background image up to start of 2nd tab image*/
}
#cal_calendar_list {
	width:100%;

	font-weight: normal;
	color: #CCCCCC;
}
#cal_calendar_list ul{
	font-size: 9px;

	list-style-type: none;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin: 0px;
	
	
}
#cal_calendar_list ul li{
	font-size: 11px;
	margin-top: 2px;
	margin-bottom: 2px;
}
#cal_calendar_list ul li span{
	display:block;

}
.cal_calendar_group{
	color: #000000;
	background-color: #FFFFFF;
}


/*
======================================================= Calendar color ================================================================
*/
.cal_calendar_01{
	color: #FFFFFF;
	background-color: #b00408;
}
.cal_calendar_02{
	color: #FFFFFF;
	background-color: #e97e0b;
}
.cal_calendar_03{
	color: #FFFFFF;
	background-color: #d2a800;
}
.cal_calendar_04{
	color: #FFFFFF;
	background-color: #467a13;
}
.cal_calendar_05{
	color: #FFFFFF;
	background-color: #809121;
}
.cal_calendar_06{
	color: #FFFFFF;
	background-color: #4db308;
}
.cal_calendar_07{
	color: #FFFFFF;
	background-color: #8ad00f;
}
.cal_calendar_08{
	color: #FFFFFF;
	background-color: #09759d;
}
.cal_calendar_09{
	color: #FFFFFF;
	background-color: #21a6ae;
}
.cal_calendar_10{
	color: #FFFFFF;
	background-color: #65979b;
}
.cal_calendar_11{
	color: #FFFFFF;
	background-color: #2f75e9;
}
.cal_calendar_12{
	color: #FFFFFF;
	background-color: #3ea6ff;
}
.cal_calendar_13{
	color: #FFFFFF;
	background-color: #1e2cd8;
}
.cal_calendar_14{
	color: #FFFFFF;
	background-color: #8c66d9;
}
.cal_calendar_15{
	color: #FFFFFF;
	background-color: #994499;
}
.cal_calendar_16{
	color: #FFFFFF;
	background-color: #5c1fa0;
}
.cal_calendar_17{
	color: #FFFFFF;
	background-color: #dd4477;
}
.cal_calendar_18{
	color: #FFFFFF;
	background-color: #d96666;
}
.cal_calendar_19{
	color: #FFFFFF;
	background-color: #ac5c14;
}
.cal_calendar_20{
	color: #FFFFFF;
	background-color: #7f4b21;
}
a.cal_event_01
{
	color: #b00408;	
}
a.cal_event_01:hover
{
	background-color: #b00408;	
}
a.cal_event_02
{
	color: #e97e0b;	
}
a.cal_event_02:hover
{
	background-color: #e97e0b;	
}
a.cal_event_03
{
	color: #d2a800;	
}
a.cal_event_03:hover
{
	background-color: #d2a800;	
}
a.cal_event_04
{
	color: #467a13;	
}
a.cal_event_04:hover
{
	background-color: #467a13;	
}
a.cal_event_05
{
	color: #809121;	
}
a.cal_event_05:hover
{
	background-color: #809121;	
}
a.cal_event_06
{
	color: #4db308;	
}
a.cal_event_06:hover
{
	background-color: #4db308;	
}
a.cal_event_07
{
	color: #8ad00f;	
}
a.cal_event_07:hover
{
	background-color: #8ad00f;	
}
a.cal_event_08
{
	color: #09759d;	
}
a.cal_event_08:hover
{
	background-color: #09759d;	
}
a.cal_event_09
{
	color: #21a6ae;	
}
a.cal_event_09:hover
{
	background-color: #21a6ae;	
}
a.cal_event_10
{
	color: #65979b;	
}
a.cal_event_10:hover
{
	background-color: #65979b;	
}
a.cal_event_11
{
	color: #2f75e9;	
}
a.cal_event_11:hover
{
	background-color: #2f75e9;	
}
a.cal_event_12
{
	color: #3ea6ff;	
}
a.cal_event_12:hover
{
	background-color: #3ea6ff;	
}
a.cal_event_13
{
	color: #1e2cd8;	
}
a.cal_event_13:hover
{
	background-color: #1e2cd8;	
}
a.cal_event_14
{
	color: #8c66d9;	
}
a.cal_event_14:hover
{
	background-color: #8c66d9;	
}
a.cal_event_15
{
	color: #994499;	
}
a.cal_event_15:hover
{
	background-color: #994499;	
}
a.cal_event_16
{
	color: #5c1fa0;	
}
a.cal_event_16:hover
{
	background-color: #5c1fa0;	
}
a.cal_event_17
{
	color: #dd4477;	
}
a.cal_event_17:hover
{
	background-color: #dd4477;	
}
a.cal_event_18
{
	color: #d96666;	
}
a.cal_event_18:hover
{
	background-color: #d96666;	
}
a.cal_event_19
{
	color: #ac5c14;	
}
a.cal_event_19:hover
{
	background-color: #ac5c14;	
}
a.cal_event_20
{
	color: #7f4b21;	
}
a.cal_event_20:hover
{
	background-color: #7f4b21;	
}
.cal_event_png_01{
	border: 1px solid #b00408;
}
.cal_event_png_02{
	border: 1px solid #e97e0b;
}
.cal_event_png_03{
	border: 1px solid #d2a800;
}
.cal_event_png_04{
	border: 1px solid #467a13;
}
.cal_event_png_05{
	border: 1px solid #809121;
}
.cal_event_png_06{
	border: 1px solid #4db308;
}
.cal_event_png_07{
	border: 1px solid #8ad00f;
}
.cal_event_png_08{
	border: 1px solid #09759d;
}
.cal_event_png_09{
	border: 1px solid #21a6ae;
}
.cal_event_png_10{
	border: 1px solid #65979b;
}
.cal_event_png_11{
	border: 1px solid #2f75e9;
}
.cal_event_png_12{
	border: 1px solid #3ea6ff;
}
.cal_event_png_13{
	border: 1px solid #1e2cd8;
}
.cal_event_png_14{
	border: 1px solid #8c66d9;
}
.cal_event_png_15{
	border: 1px solid #994499;
}
.cal_event_png_16{
	border: 1px solid #5c1fa0;
}
.cal_event_png_17{
	border: 1px solid #dd4477;
}
.cal_event_png_18{
	border: 1px solid #d96666;
}
.cal_event_png_19{
	border: 1px solid #ac5c14;
}
.cal_event_png_20{
	border: 1px solid #7f4b21;
}


/*
======================================================= END Calendar color ================================================================
*/
p.dotline_p_narrow{
	height: 1px;
	padding-top: 1px;
	margin-top: 1px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	padding-right: 0;
	margin-right: 0;	
	margin-bottom: 1px;
	margin-left: 0;
	font-size:1px;

}




.cal_event_board_01{
	background-image: url(../image_en/layout_grey/cal_event_board_01.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 5px;
	width: 100%;
	margin:0;
	padding-left: 0px;
	font-size: 1px;
	clear: both;
}

.cal_event_board_02{
	background-image: url(../image_en/layout_grey/cal_event_board_02.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: right top;
	height: 5px;
	margin:0;
	margin-left: 8px;
	padding-right: 8px;
	font-size: 1px;

}
.cal_event_board_03{
	background-image: url(../image_en/layout_grey/cal_event_board_03.gif);
	background-repeat: repeat-y;
	background-position: left top;
	display: block;
	width: 100%;
	margin:0;
	padding-left: 0px;
	clear: both;
}

.cal_event_board_04{
	background-image: url(../image_en/layout_grey/cal_event_board_04.gif);
	background-repeat: repeat-y;
	display: block;
	background-position: right top;
	margin:0;
	margin-left: 5px;
	padding-right: 5px;
	font-size: 11px;
}
.cal_event_board_05{
	background-image: url(../image_en/layout_grey/cal_event_board_05.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 14px;
	width: 100%;
	margin:0;
	padding-left: 0px;
	font-size: 1px;
	clear: both;
}

.cal_event_board_06{
	background-image: url(../image_en/layout_grey/cal_event_board_06.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: right top;
	height: 14px;
	margin:0;
	margin-left: 8px;
	padding-right: 8px;
	font-size: 1px;

}
.sub_layer_close{
	display:block; 
	text-align:right;
}
.sub_layer_close a{
	font-size: 11px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	margin-right: 5px;
}
.sub_layer_close a:hover {
	color: #FF0000;
}
.sub_layer_link{
	font-size: 9px;
	font-weight: normal;
	color: #597f06;
	text-decoration: none;
}
.sub_layer_link:hover {
	color: #FF0000;
}
.sub_layer_content{
 width:95%; 
 line-height:20px;
}
.sub_layer_cal_event {
 	width:300px;
 	position: absolute;
}

#cal_list{
	float:right; 
	clear:both;  
	width:100%; 
	padding-top:10px
}
.cal_list_manage{
 	display:block; 
	width:99%; 
	float:left; 
	clear:both; 
	text-align:right; 
	padding-top:2px; 
	padding-right:2px
} 
.sub_layer_button{
	width:100%;
	clear:both; 
	padding:5px
}
#new_event_advance{
	float:left;
	width:767px;
	margin-left:5px;
	background-color: #f9f9f9;
	line-height: 25px;
}
#new_event_main_form{
	float:left; 
	clear: none; 
	padding:10px; 
	width:460px;
}
.new_event_sub_form{
	float:left; 
	width:255px; 
	margin-left:5px;
	margin-top:10px;

	font-size:11px;
	padding-top:8px;
	padding-bottom:8px; 
	line-height:25px
}
#new_event_alert_form{
	background-color:#f1e9e1; 
}
#new_event_invite_form{
	background-color:#e9f1f4
}

.new_event_sub_form_title{
	padding-left:8px; 
	display:block
}
.new_event_sub_form_content{
	padding-left:15px; 
	padding-right:15px;
	display:block;
}

/*WEEK*/
.cal_week_week_title{
	height: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d6d6d6;
	text-align: center;
	vertical-align: middle;
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #6a6a6a;
	background-color: #b6cae4;
	padding : 2px;
	padding-right : 3px;
}
.cal_normal_hour{
	width: 95px;
	height: 30px;
	padding : 2px;
	text-align: left;
	background-color: #FFFFFF;
	vertical-align: top;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: dashed;
	border-right-color: #d6d6d6;
	border-top-color: #d6d6d6;
}
.cal_normal_hour_break{
	height: 20px;
	padding : 2px;
	text-align: left;
	background-color: #E3E3E3;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: solid;

	border-right-color: #d6d6d6;

}
.cal_whole_day{
	width: 95px;
	background-color: #a5adc7;
	padding : 2px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: dashed;
	border-right-color: #d6d6d6;
	border-top-color: #d6d6d6;
	height: 20px;
	vertical-align: top;
}


.cal_week_week_title_today{
	height: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d6d6d6;
	text-align: center;
	vertical-align: middle;
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #b5cab8;

}
.cal_normal_hour_today{

	height: 30px;
	padding : 2px;
	text-align: left;
	background-color: #fdffba;
	vertical-align: top;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: dashed;
	border-right-color: #d6d6d6;
	border-top-color: #d6d6d6;
}
.cal_whole_day_today{

	background-color: #9fafb6;
	padding : 2px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: dashed;
	border-right-color: #d6d6d6;
	border-top-color: #d6d6d6;
	height: 20px;
	vertical-align: top;
}



.cal_time_title{
	background-color: #f2f2f2;
	text-align: center;
	vertical-align: top;
	width: 50px;
	padding-top: 5px;
	font-size: 9px;
	color: #666666;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: dashde;
	border-right-color: #d6d6d6;
	border-top-color: #d6d6d6;
}
.cal_time_title_timetable_period{
	background-color: #f2f2f2;
	text-align: center;
	vertical-align: top;
	width: 100px;
	padding-top: 2px;
	font-size: 9px;
	color: #666666;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: dashde;
	border-right-color: #d6d6d6;
	border-top-color: #d6d6d6;
}
.cal_time_title_timetable_break{
	background-color: #E3E3E3;
	text-align: center;
	vertical-align: top;
	width: 100px;
	padding: 1px;
	font-size: 9px;
	color: #666666;
	border-right-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-style: dashde;
	border-right-color: #d6d6d6;
	border-top-color: #d6d6d6;
}

.show_week{
	width: 95px;
}
.show_timetable{
	width: 124px;
	height: 60px
}
.show_timetable_day{
	width: 640px;
	height: 60px
}
.show_timetable_break_day{
	width: 640px;
	height: 20px
}
.show_timetable_break{
	width: 124px;
	height: 20px
}
.show_day{
	width: 695px;
}
.cal_none{
 	background-color: #dbedff;
	width: 50px;
}
.have_event{
	background-color: #f9f9f9;

	border-top-width: 1px;

	border-top-style: dashed;

	border-top-color: #f9f9f9;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ffffff', startColorstr='#f9f9f9', gradientType='0'*/
}
.selected_add_event{
	background-color: #eaefff;
}
.cal_agenda_content{
	background-color: #FFFFFF;
	margin-right: 5px;
	margin-left: 5px;
	padding: 2px;
	min-height: 450px;
}
.cal_agenda_entry_date_log{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EBEBEB;
}

.cal_agenda_content_entry{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
	padding: 3px;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	vertical-align: top;
}
a.cal_agenda_entry_event {
	color: #2052ad;
	font-size: 11px;
	text-decoration: none;
}
a.cal_agenda_entry_event:hover{

	color: #FF0000;
}
.cal_agenda_content_entry_today{
	background-color: #fdffba;

}
.cal_agenda_entry_date{
	padding: 3px;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	width:100px;
	vertical-align: top;
}
.cal_agenda_content_entry_time{
	width:150px
}
.cal_agenda_content_entry_event{
	width:380px
}
.cal_agenda_content_entry_button{
	width:80px;
	text-align: right;
}
.cal_agenda_content_entry_detail{
	padding-left:20px;
	width: 350px;
	line-height:18px;
	font-size:9px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #DDDDDD;
}
#cal_manage_calendar{
	float:left; 
	width:767px; 
	margin-left:5px; 
	background-color: #ebeff6;
}
.cal_mange_calendar_list_item{
		padding:2px; 
		padding-left:5px;
		padding-right:5px
}

#pickcolor{
	float:left;
	clear: both;
	font-size:11px;
	line-height:25px;
}

#pickcolor ul{
list-style-type: none;
margin:0;
margin-left: 0px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

#pickcolor li{
display:inline;
margin:0;
padding:0;
}

#pickcolor a{
	display:block;
	float:left;
	margin-right: 5px;
	text-decoration:none;
	height: 20px;
	width: 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	border: 1px solid #FFFFFF;
}




#pickcolor #current a{ /*Selected Tab style*/
	border: 1px solid #000000;
}


#pickcolor a:hover{ /*onMouseover style*/
	border: 1px solid #000000;
}
.cal_act_event_board_detail{
	display:block; 
	text-align:left; 
	margin-left:5px; 
	margin-right:5px; 
	padding:5px
}
.cal_act_event_board_detail h1{
	margin:0px; 
	padding:3px; 
	font-size:11px; 
	font-weight:bold; 

}
.cal_act_event_board_detail_invite{
	background-color:#f2ffe8; 

}
.cal_act_event_board_detail_invite h1{

	color:#1b8609
}
.cal_act_event_board_detail_notify{
	background-color:#f3fcff; 

}
.cal_act_event_board_detail_notify h1{

	color:#013bb3
}
.cal_select_today{
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	display: block;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color: #D9D9D9;
}
.cal_select_today:hover{
	color: #FF0000;

}
.cal_select_today_selected{
	color: #999999;
	font-weight: normal;
	background-color: #fdffce;
}
.cal_event_whole_day_block{
	height:20px;
}


/*======================================================================================================================*/
/*===================================================================Attendance ============================================*/
/*======================================================================================================================*/
.attendance_photo{
	font-size: 11px
}
.attendance_photo span{
	border: 1px solid #666666;
	width:60px;
	height: 75px;
	display:block;
}

.take_attendance_photo a{
	color: #0066CC;
	font-size: 11px
}
.take_attendance_photo a:hover{
	color: #FF0000;

}
.take_attendance_photo a span{
	border: 2px solid #0066CC;
}
.take_attendance_photo a:hover span{
	border: 2px solid #FF0000;
}
a.student_name {
	color: #225eb9;
}
a.student_name:hover {
	color: #FF0000;
}
.take_attendance_photo a span{
	width:60px;
	height: 75px;
	display:block
}

/*
.attendance_photo{
	font-size: 11px
}
.attendance_photo span{
	width:60px; 
	height: 75px; 
	display:block
}

.take_attendance_photo a{
}
.take_attendance_photo a:hover{
}
.take_attendance_photo a span{
	width:60px;
	height: 75px;
	display:block
}

.take_attendance_photo a span {float:none;}

.take_attendance_photo a:hover span{
}

a.student_name {
}
*/
/*===============================================================================================================================================================
================================================================Bulletin content =====================================================================================
===============================================================================================================================================================*/
#bulletin_form{
    padding: 2px;
	margin-left: 8px;
	margin-right:10px;
	width: 917px;	
}

.updated_right2{
     float:right;
	 clear:none;
     font-size:11px;
	 font-weight:normal;
	 color:#fd0404;
	 height: 15px;
	 margin-right:5px;	 
}

.updated_right{
     float:right;
	 clear:none;
     font-size:11px;
	 font-weight:bold;
	 color:#459e14;
	 height: 18px;
	 margin-right:5px;
	 vertical-align:middle;
}

.updated_left2{
     float:left;
	 clear:right;
     font-size:11px;
	 font-weight:normal;
	 color:#459e14;
	 padding:5px;
	 border: 1px solid #459e14;
}

#bulletin_searchForm {
	margin:0;
	padding: 0px;
}

.bulletin_entry {
	padding: 3px;
}

.content{
	font-size:11px;
	font-weight:normal;
	color:#000000;
}

.content_grey{
	font-size:11px;
	font-weight:normal;
	color:#999999;
}
.content_bold{
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

#bulletin_supended{
    margin-right:240px;
	margin-bottom:10px;
   	background-color: #ffcaca;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	padding:8px;
	border: dashed 1px #999999;
}	

#bulletin_error_message{
    margin-right:240px;
	margin-bottom:10px;
   	background-color: #ffcaca;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	padding:8px;
	border: dashed 1px #999999;
}

#bulletin_error_message_mini{
	margin-right:15px;	
	margin-bottom:10px;
	background-color: #ffcaca;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	padding:8px;
	border: dashed 1px #999999;
}

.bulletin_board{
	width: 935px;
	min-height : 320px;
}

.bulletin_board_notab{
	width: 935px;
	min-height : 350px;
}

#bulletin_current_left{
	padding: 10px;
	clear: left;
	float: left;
	width: 17%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
}
#bulletin_current_right{
	border: 4px solid #FFFFFF;
	padding: 5px;
	padding-left: 10px;
	clear: right;
	float: right;
	width: 78%;
	background-color: #f4f6f9 ;
	margin: 10px;
}

#bulletin_current_left ul{
	list-style-type: none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin: 0px;
	
	
}
#bulletin_current_left ul li{
	display:block;
}

.bulletin_portal_entry {
	padding: 3px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #9bb5cd; 
}

.portal_entry_more {
    padding: 3px;
}

.portal_entry_more a{
	color: #0033CC;
}
.portal_entry_more a:hover {
	color: #FF0000;
}

.bulletin_entry_icon {

	padding: 5px;
	clear: left;
	float: left;
	width: 25px	
}

.bulletin_entry_icon_new {

	padding: 1px;
	clear: left;
	float: left;
	width: 20px	
}

.bulletin_entry_content {
	clear: none;
	float: left;
	padding: 7px;
	width: 585px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

.bulletin_entry_content a{
	font-size: 11px;
	color: #003399;
	text-decoration: none;
}
.bulletin_entry_content a:hover{
	color: #FF0000;
}

.bulletin_entry_btn {
	clear: none;
	float: left;
	padding: 0px;
	width: 17px;
}

.bulletin_entry_btn a{
	font-size: 11px;
	color: #003399;
	text-decoration: none;
}
.bulletin_entry_btn a:hover{
	color: #FF0000;
}

.bulletin_entry_suspend_btn_off {
	clear: none;
	float: left;
	padding: 0px;
	width: 17px;
	font-size: 11px;
	color: #003399;
	cursor: hand;
	text-decoration: none;
}

.bulletin_entry_suspend_btn_on {
	clear: none;
	float: left;
	padding: 0px;
	width: 17px;
	font-size: 11px;
	color: #FF0000;
	cursor: hand;
	text-decoration: none;
}

#bulletin_toolbar_left
{
	clear: right;
	padding-top: 10px;
	padding-bottom: 5px;

	text-align: right;
}

#bulletin_title{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	clear: both;
	float: left;
	width: 95%;
	padding: 5px;
}

#bulletin_history_righttop{
	padding: 2px;
	clear: right;
	float: right;
	width: 78%;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 10px;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	text-align:right;
}

.textbox_bulletinsearch {
	width: 150px;
	padding-right: 3px;
	padding-left: 3px;
	color: #000000;
	border: 1px solid #cfcfcf;
	font-size: 11px;
	color: #a0a0a0;
	text-decoration: none;
}

.textbox_bulletinsearch_black {
	width: 150px;
	padding-right: 3px;
	padding-left: 3px;
	color: #000000;
	border: 1px solid #cfcfcf;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

#bulletin_record{
    padding: 2px;
	background-color: #FFFFFF;
	margin-left: 8px;
	margin-right:10px;
	width: 917px;	
}

#bulletin_recordtopleft{
	width: 70%;
	clear: left;
	float: left;
	height:20px;
	vertical-align:bottom;	
}

.bulletin_recordtopleft{
	float:left;
	clear:left; 
	padding:3px;
	width:auto;
}

.tbclip {
	table-layout:fixed;
	border-collapse: collapse;
}
.tbclip td {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

#bulletin_form_content_board{
	background-color: #FFFFFF;
	float:left;
	clear:both;
	width: 85%;
	border: 1px solid #cfcfcf;

}

.bulletin_draft{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
}

.bulletin_draft a{
	color: #4360aa;
	text-decoration:none;
}

.bulletin_draft a:hover {
	color: #FF0000;
	text-decoration:none;
}

.bulletin_pending{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	background-color: #e7f8cc;
}

.bulletin_pending a:link{
	color: #4360aa;
	text-decoration:none;
}

.bulletin_pending a:hover {
	color: #FF0000;
	text-decoration:none;
}

.bulletin_publish{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	background-color: #ebe9ea;
}

.bulletin_publish a{
	color: #4360aa;
	text-decoration:none;
}

.bulletin_publish a:hover {
	color: #FF0000;
	text-decoration:none;
}

.bulletin_reject{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	background-color: #ffcaca;
}

.bulletin_reject a{
	color: #4360aa;
	text-decoration:none;
}

.bulletin_reject a:hover {
	color: #FF0000;
	text-decoration:none;
}

.bulletin_msg{
	padding: 3px;
}
.bulletin_msgborder{
border: 1px solid #cfcfcf;
}

#bulletin_form_btn
{
	text-align: left;
	padding: 10px;
	width: 100%;
}

#bulletin_module_content_header_title_print {
	clear: left;
	float: left;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

/*===============================================================================================================================================================
================================================================imail content =====================================================================================
===============================================================================================================================================================*/

/*
===================================================== common ====================================================================================
*/

#imail_left{
	clear: left;
	float: left;
	width: 20%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f0f0f0;
	background-image: url(../image_en/layout_grey/imail_left_menu_footer.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 100px;
	padding-left: 0px;
}

#imail_iframe_left{
	clear: left;
	float: left;
	width: 100%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f0f0f0;
	/*background-image: url(../image_en/layout_grey/imail_left_menu_footer.gif);
	background-repeat: repeat-x;
	background-position: bottom;*/
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 100px;
	padding-left: 0px;
}

#imail_right{
	clear: right;
	float: right;
	width: 78%;
	background-color: #FFFFFF;
	margin: 0px;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 8px;
/*	border: 1px solid #FF0000;*/

}

#imail_iframe_right{
	clear: right;
	float: right;
	width: 100%;
	background-color: #FFFFFF;
	margin: 0px;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 8px;
/*	border: 1px solid #FF0000;*/

}

/*
=====================================================imail left menu=====================================================================================
*/

.imail_left_function_selected {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #FFFFFF;
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;

}

.imail_left_function {
	border-top:1px solid #DDDDDD;
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DDDDDD;
}


#imail_left_function_item {
	margin: 0px;
	padding: 5px;
	width: 98%;

		display: block;

}

#imail_left_function_item ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	float: left;
	clear: left;
	width: 100%;
}

#imail_left_function_item li {
	display: block;
    padding: 0px;
	padding-bottom: 1px;
	width: 100%;

}

#imail_left_function_item a {

	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4360aa;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;

}
#imail_left_function_item a span {
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	display: block;
}
#imail_left_function_item a:hover {
	color: #FF0000;
	background-color: #d5e2ff;
}
#imail_left_function_item #current a {
	color: #2e63a2;
	font-weight: bold;
	background-color: #d5e2ff;
}


#imail_left_function_item #subtitle span {
	font-size: 10px;
	display: block;
	color: #000000;
	font-weight: normal;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #DDDDDD;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}
#imail_left_function_item #subtitlecurrent{
	background-color: #d5e2ff;
}
#imail_left_function_item #subtitlecurrent span {
	font-size: 10px;
	display: block;
	color: #000000;
	font-weight: normal;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #DDDDDD;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;

}

#imail_left_function_item #trash a  {
	width: 70%;

	color: #4360aa;
	font-weight: normal;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}


.imail_menu_adv_search{
	font-size: 9px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
.imail_menu_adv_search a{
	color: #4360aa;
	text-decoration: none;
}
.imail_menu_adv_search a:hover{
	color: #FF0000;

}
.imail_inbox{
	display: block;
	background-image: url(../image_en/imail/icon_inbox.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_sent{
	display: block;
	background-image: url(../image_en/imail/icon_outbox.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_draft{
	display: block;
	background-image: url(../image_en/imail/icon_draft.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_trash{
	display: block;
	background-image: url(../image_en/imail/icon_trash.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_spam{
	display: block;
	background-image: url(../image_en/imail/icon_spam.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_folder{
	display: block;
	background-image: url(../image_en/imail/icon_folder.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_address_book{
	display: block;
	background-image: url(../image_en/imail/icon_address_book.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_preference{
	display: block;
	background-image: url(../image_en/imail/icon_preference.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.imail_menu_sub_btn{
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	height: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	cursor: hand;
}
.imail_menu_sub_btn_clear{
	width: 40px;
}
.imail_menu_sub_btn_new{
	width: 30px;
}
.imail_menu_sub_btn_manage{
	width: 50px;
}
.imail_menu_sub_btn:hover{
	color: #FF0000;

}

/*
================================================================imail content =====================================================================================
*/

#imail_toolbar{
	width: 100%;
	font-size: 9px;
	font-weight: normal;
	color: #868686;
	text-decoration: none;
}
#imail_toolbar_right{
	clear: left;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;


}
#imail_toolbar_left
{
	clear: right;
	float: right;
	padding-top: 10px;
	padding-bottom: 5px;

	text-align: right;
}
#imail_toolbar_left a{
	color: #4360aa;
	text-decoration: none;
	padding-left: 10px;
}
#imail_toolbar_left a:hover{
	color: #FF0000;

}

#imail_mail_list{
	clear: both;
	width: 100%;
}
.imail_mail_content{
	clear: both;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#read_mail_subject{
	float:left;
	width:72%;
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
#read_mail_daytime{
	float:right;
	width:25%;
	padding: 5px;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: right;

}
#mail_form_label{
	float:left;
	clear:left;
	width:8%;
	padding: 5px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;


}
#mail_form_label_content{
	float:left;

	width:75%;
	padding: 5px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;

}
#mail_form_label_content_line{
	float:left;

	width:85%;
	padding: 5px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;

}
#mail_form_label_content_whole{
	float:left;
	width:98%;
	padding: 5px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a.mail_form_label_link {
	color: #4360aa;
	font-weight: normal;
	text-decoration: none;

}
#mail_form_label_button{
	float:left;
	width:12%;
	padding: 5px;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: right;

}
#mail_form_label_button a{
	font-size: 9px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
#mail_form_label_button a:hover{

	color: #FF0000;

}
#mail_form_attach{
	background-color: #f9fafc;
	margin: 5px;
	width:98%;
	float:left;
	clear:both;
}
#mail_form_content_board{
	background-color: #FFFFFF;
	float:left;
	clear:both;
	width: 100%;
	border: 1px solid #cfcfcf;

}
.mail_msg{
	padding: 10px;
}



#added_item_ppl{
float:left;
font-size:11px;
line-height:normal;
padding:3px;

}

#added_item_ppl ul{
list-style-type: none;
margin:0;
margin-left: 0px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

#added_item_ppl li{
display:inline;
margin:0;
padding:0;
}

#added_item_ppl a{
	float:left;
	margin:0;
	margin-right: 2px; /*spacing between each tab*/
	padding:0 0 0 7px;
	text-decoration:none;
	background-color: #c5d4ee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a3b7da;
	border-right-color: #bfcce2;
	border-bottom-color: #bfcce2;
	border-left-color: #a3b7da;


}

#added_item_ppl a span{
	float:left;
	display:block;
	padding: 4px 18px 2px 3px;
	font-weight:normal;
	color:#3B3B3B;
	background-image: url(../image_en/icon_delete_off.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#added_item_ppl a span {float:none;}
/* End IE5-Mac hack */

#added_item_ppl a:hover span {
color: black;
}


#added_item_ppl a:hover{ /*onMouseover style*/
	background-color: #ABC1E7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a3b7da;
	border-right-color: #bfcce2;
	border-bottom-color: #bfcce2;
	border-left-color: #a3b7da;
}

#added_item_ppl a:hover span{ /*onMouseover style*/
	background-image: url(../image_en/icon_delete_on.gif);

}

#add_attachment{
	background-image:url(../image_en/icon_attachment.gif); 
	background-repeat:no-repeat; 
	background-position: 2px 2px; 
	padding:2px; 
	padding-left :20px; 
	line-height:23px;
	font-size:11px;
}
#add_attachment a{
	color:#0066CC;
	text-decoration:none;
}

#add_attachment a:hover{
	color:#FF0000;

}

#added_item_attachment{
float:left;
font-size:11px;
line-height:normal;
padding:3px;

}

#added_item_attachment ul{
list-style-type: none;
margin:0;
margin-left: 0px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

#added_item_attachment li{
display:inline;
margin:0;
padding:0;
}

#added_item_attachment a{
	float:left;
	margin:0;
	margin-right: 8px; /*spacing between each tab*/
	padding:0 0 0 12px;
	text-decoration:none;
	background-image: url(../image_en/imail/icon_attachment.gif);
	background-repeat: no-repeat;
	background-position: left;
	border: 1px solid #e3e3e3;
}

#added_item_attachment a span{
	float:left;
	display:block;
	padding: 4px 15px 2px 3px;
	font-weight:normal;
	color:#3B3B3B;
	background-image: url(../image_en/icon_delete_off.gif);
	background-repeat: no-repeat;
	background-position: right center;

}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#added_item_attachment a span {float:none;}
/* End IE5-Mac hack */

#added_item_attachment a:hover span {
color: black;
}


#added_item_attachment a:hover{ /*onMouseover style*/
	background-color: #e3e3e3;
	border: 1px solid #e3e3e3;

}

#added_item_attachment a:hover span{ /*onMouseover style*/
	background-image: url(../image_en/icon_delete_on.gif);

}

#mail_form_event{
	background-color: #f9fafc;
	margin: 5px;
	width:98%;
	float:left;
	clear:both;
}
#mail_form_label_textbox_date{
	float:left;
	width:15%;
	padding: 1px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
#mail_form_label_textbox_line{
	float:left;
	width:85%;
	padding: 1px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;

}
#mail_form_label_inside{
	float:left;
	width:55px;
	padding: 2px;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;


}
#mail_form_textbox_inside{
	float:left;
	padding:2px;
}
#mail_form_radio{
	width:18px; 
	float:left; 
	clear:left;
}
#imail_form_indside_choice{
	 float:left; 
	 width:500px;
	 padding-left:20px; 
	 padding-top:3px
}

#added_item_ppl_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}

#added_item_ppl_list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	clear: left;
	width: 100%;
}

#added_item_ppl_list li {
	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4360aa;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
	cursor: pointer;
}

/*
#added_item_ppl_list li {
	display: block;
    padding: 0px;
	padding-bottom: 1px;
	width: 100%;

}
*/

#added_item_ppl_list a {

	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4360aa;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;

}
#added_item_ppl_list span {
		font-weight: bold;
}
#added_item_ppl_list a:hover {
	color: #FFFFFF;
	background-color: #5E85BF;
}

.added_item_ppl_list_board{
	background-color: #FFFFFF;
	float:left;
	clear:both;
	height:200px;
	overflow:auto;
	width: 625px;
	border: 1px solid #cfcfcf;
	position: absolute;
	visibility: hidden;
}

#added_item_ppl_list_CC {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}

#added_item_ppl_list_CC ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	clear: left;
	width: 100%;
}

#added_item_ppl_list_CC li {
	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4360aa;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
	cursor: pointer;
}

/*
#added_item_ppl_list_CC li {
	display: block;
    padding: 0px;
	padding-bottom: 1px;
	width: 100%;

}
*/

#added_item_ppl_list_CC a {

	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4360aa;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;

}
#added_item_ppl_list_CC span {
		font-weight: bold;
}
#added_item_ppl_list_CC a:hover {
	color: #FFFFFF;
	background-color: #5E85BF;
}

#added_item_ppl_list_BCC {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}

#added_item_ppl_list_BCC ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	clear: left;
	width: 100%;
}

#added_item_ppl_list_BCC li {
	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4360aa;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
	cursor: pointer;
}

/*
#added_item_ppl_list_BCC li {
	display: block;
    padding: 0px;
	padding-bottom: 1px;
	width: 100%;

}
*/

#added_item_ppl_list_BCC a {

	display: block;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4360aa;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;

}
#added_item_ppl_list_BCC span {
		font-weight: bold;
}
#added_item_ppl_list_BCC a:hover {
	color: #FFFFFF;
	background-color: #5E85BF;
}

#added_item_ppl_list_board{
	background-color: #FFFFFF;
	float:left;
	clear:both;
	width: 625px;
	border: 1px solid #cfcfcf;
	position: absolute;
	visibility: hidden;
}
#added_item_ppl_list_board_CC{
	background-color: #FFFFFF;
	float:left;
	clear:both;
	width: 625px;
	border: 1px solid #cfcfcf;
	position: absolute;
	visibility: hidden;
}
#added_item_ppl_list_board_BCC{
	background-color: #FFFFFF;
	float:left;
	clear:both;
	width: 625px;
	border: 1px solid #cfcfcf;
	position: absolute;
	visibility: hidden;
}
.sub_link{
	font-size: 9px;
}
.sub_link a{

	color: #4360aa;
	text-decoration: none;

}
.sub_link a:hover{

	color: #FF0000;

}

#sub_layer_imail_rename_folder{
	width:240px;
	position: absolute;
}

#reset_password_sub_layer{
	width:240px;
	position: absolute;
}

#add_shared_member_sub_layer{
	width:240px;
	position: absolute;
}

/*
==================================================  demographic common  ================================================================================
*/
.warning {
     font-size:11px;
	 font-weight:normal;
	 color:#fd0404;
	 padding-top:8px;
	 padding-bottom:8px;
}

#demo_photoborder{
	clear: right;
	float: right;
	width: 135px;
	height:166px; 
	margin-left: 10px ;
	margin-top: 5px ;
	margin-bottom: 10px ;
	margin-right: 20px ;
	background-image: url(../image_en/demographic/photo_bkg.jpg);
   }
#demo_dotline{
    clear: right;
	float: right;	
	margin-left: 10px ;
	margin-right: 10px ;	
	width: 145px;
	height: 5px ;
	//background-image: url(../image_en/demographic/dot_line.gif);
 }   
.dotlinebottom{
	height: 5px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	padding-right: 0;
	
}
 
#demo_photo{
	margin-top: 6px ;
	margin-left: 7px ;
	margin-right: 8px ;
	margin-bottom: 10px ;
   }   
   
#demo_sidemenu{
	clear: right;
	float:right;
    margin-left: 10px ;
	margin-right: 10px ;
	width: 140px;
} 

.demo_sidemenucontent{
	font-size:10px;
	color:#687091;
	text-align: left;
	text-decoration: none;	
		
} 
.demo_sidemenucontent:hover{
	font-size:10px;
	color:#043d47;
	font-weight: normal;
	text-decoration: none;
	} 
	
.demo_sidemenucontentbold{
	font-size:10px;
	color:#043d47;
	font-weight: bold;
	text-decoration: none;
	}     

#studentselection_main{
	padding: 2px;

}

#selection {
	clear: right;
	float: right;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}




.prenext {
    font-size: 9px;
	font-weight: normal;
	text-decoration: none;
}
.prenext:hover{
	color: #FF0000;
}

.prenext a{
	color: #4360aa;
	text-decoration: none;
}
.prenext a:hover{
	color: #FF0000;

}

#demo_info{
	padding: 10px;
	clear: left;
	float: left;
	width: 75%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
}

#demo_info_header{
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
	background-color: #c5d5f1;
	clear: left;
	float: left;
	width: 720px;
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

#demo_backtotop{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	clear: left;
	float: left;
	width: 720px;
	font-size:11px;
	font-weight:bold;
	color:#2b57a5;
	border-top:dotted 1px #919bae;
	text-align:right;
}
#demo_backtotop a{
	font-size:11px;
	font-weight:bold;
	color:#2b57a5;
	text-decoration:none;
}
#demo_backtotop a:hover{
	font-size:11px;
	font-weight:bold;
	color:#045d9f;
	text-decoration:none;
}

#demo_info_header2{
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
	background-color: #dfe4ed;
	clear: left;
	float: left;
	width: 720px;
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

#demo_info_medicalheader{
	clear: left;
	float: left;
	width: 45%;
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

#demo_info_medicalalert{
	clear: right;
	float: right;
	width: 45%;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	padding-right: 15px;
	text-align:right;
}

.medical_red{
  	vertical-align: middle;
	font-size:11px;
	font-weight:bold;
	color:#bd2222;
}

.medical_blue{
    vertical-align: middle;
	font-size:11px;
	font-weight:bold;
	color:#025198;
}

# headerleft {
	clear: left;
	float: left;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	width: 200px;
}

#demo_info_subheader{
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 15px;
	clear: left;
	float: left;
	width: 720px;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #715bae; 
}

#demo_form{
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	clear: left;
	float: left;
	width: 720px;
}	

#demo_formspacing{
	height: 10px;
	clear: left;
	float: left;
}
#demo_formspacingsmall{
	height: 5px;
	clear: left;
	float: left;
}	

.demo_content_title{
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 15px;
	width: 25%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	vertical-align:top;
}
.demo_content_none{
	padding: 3px;
	width: 25%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	vertical-align:top; 
}

.demo_content_titlebold{
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 15px;
	width: 25%;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	vertical-align:top
}
.demo_content_titlehighlight{
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	font-size:11px;
	font-weight:bold;
	color:#bd2222;
	vertical-align:top
}


.demo_content{
	padding: 3px;
	width: 25%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f4f6f9;
	vertical-align:top;
	text-decoration:none; 
}
.demo_content a:hover{
	text-decoration:underline; 
}

.demo_content_print{
	padding: 3px;
	width: 25%;
	vertical-align:top;
}
.demo_content_print a:hover{
}

.demo_testtitle1{
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#4a3582;
	background-color: #ebe6f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
	
}
.demo_testtitle{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#4a3582;
	background-color: #ebe6f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
}


.demo_testtitle1lline{
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#4a3582;
	background-color: #ebe6f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC; 
}

.demo_testtitle2{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#4a3582;
	background-color: #ebe6f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC; 
}


#demo_testinfo1{
    clear:left;
	float:left;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:10px;
	font-weight:bold;
	color:#818082;
	vertical-align:top;
}
#demo_testinfo{
    clear:right;
	float:right;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:10px;
	font-weight:bold;
	text-align:right;
	color:#818082;
	vertical-align:top;
}
.h_line_print{
    border-bottom: 1px solid #dfdfdf; 
}
.v_line_print{
    border-right: 1px solid #dfdfdf; 
}
.demo_testcolumnrline{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f5f2fc;
	vertical-align:top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC; 
}
.demo_testcolumn1{
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f5f2fc;
	vertical-align:top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
}
.demo_testcolumn{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f5f2fc;
	vertical-align:top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
}
.demo_testcolumn a{
	color: #4a3582;
	text-decoration: none;
}
.demo_testcolumn a:hover {
	color: #FF0000;
	text-decoration: none;
}
.demo_testtitle a{
	color: #4a3582;
	text-decoration: none;
}
.demo_testtitle a:hover {
	color: #FF0000;
	text-decoration: none;
}

.demo_testcolumn1_grey {	
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#EEEEEE;
	background-color: #EEEEEE;
	vertical-align:top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
}

.demo_testcolumn_grey{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	background-color: #EEEEEE;
	vertical-align:top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
}
.demo_testcolumn_grey a{
	color: #4a3582;
	text-decoration: none;
}
.demo_testcolumn_grey a:hover {
	color: #FF0000;
	text-decoration: none;
}

.demo_testcolumnoline1{
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f5f2fc;
	vertical-align:top;
}

.demo_testcolumnoline{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f5f2fc;
	vertical-align:top;
	
}
.demo_testcolumnresult1{
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#4a3582;
	vertical-align:top;
}

.demo_testcolumnresult{
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:bold;
	color:#4a3582;
	vertical-align:top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
	
}

.demo_contentlong{
	padding: 3px;
	width: 75%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #f4f6f9;
	vertical-align:top; 
}		

.demo_contentbold{
	padding: 3px;
	width: 25%;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	background-color: #f4f6f9;
	vertical-align:top; 
}	

.demo_content_highlight{
	padding: 3px;
	width: 25%;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #fee5e6;
	vertical-align:top
}

.demo_content_highlight2{
	padding: 3px;
	width: 25%;
	font-size:11px;
	font-weight:bold;
	color:#bd2222;
	background-color: #f4f6f9;
	vertical-align:top
}

#sub_layer_demo_medical{
	width:240px;
	position: absolute;
	visibility: visible;
	
}	
#sub_layer_demo_medical2{
	width:240px;
	position: absolute;
	visibility: visible;
	
}	

#demo_form{
	 float:left; 
	 margin:10px;
	 padding:3px; 
	 width:90%;	 
}

#demo_form_line{
	 margin:10px;
	 padding:3px; 
	 width:90%;	 
}

#demo_searchresult{
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	width: 96%;
}	

.demotextbox {
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 3px;
	border: 1px solid #cfcfcf;
	font-size:11px;
	font-weight:normal;
	color:#000000;
}

.search_top{
    font-size:9px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
	background-color: #cccccc;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}
.search_top a{
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.search_top a:hover{
	color: #ff0000;
}	

.search_top2{
    font-size:9px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
	background-color: #cccccc;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}
.search_top2 a{
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #258002;
}

.search_top2 a:hover{
	color: #ff0000;
}	


.search_row{
    font-size:11px;
	font-weight:normal;
	color:#000000;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
}

.search_row a{
	color: #4360aa;
	text-decoration:none;
}

.search_row a:hover {
	color: #FF0000;
	text-decoration:none;
}

.search_divider{
    border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #5a5a5a;
	width:100%; 
} 
.search_subheader{
	padding-right: 0px;
	clear: left;
	float: left;
	width: 100%;
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

.search_title{
   font-size:11px;
   font-weight:normal;
   color:#000000;
   padding: 5px;
   width:20%; 
}

.list_option{
	float:right;
	padding-top:3px;
}

 .indicator{
	font-size:11px;
	font-weight:normal;
    color:#fb0505;
}

.table_top{
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #9bb5cd;
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;
}

.table_top a{
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;
}

.table_top a:hover{
	color: #ff0000;
}

.new_user_table_top{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #9bb5cd;
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;
}

.new_user_table_top a{
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;
}

.new_user_table_top a:hover{
	color: #ff0000;
}

#table_bottom{
 width: 100%;
}
 
#table_bottom_left{
   font-size:9px;
	font-weight:normal;
	color:#000000;
	float: left;
	width: 30%;
	text-align:left;
}

#table_bottom_right{
   font-size:9px;
	font-weight:normal;
	color:#000000;
	float: right;
	width: 60%;
	text-align:right;
	padding-right: 10px;
			
}

.table_bottom_right{
	padding-right: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #9bb5cd;
	font-size: 9px;
	text-align:right;
	font-weight: normal;
	text-decoration: none;
}

#search_topright{
	width: 50%;
	clear: right;
	float: right;
	text-align:right;
}

#demo_info_print{
	padding: 5px;
	clear: left;
	float: left;
	width: 650px;
}

#demo_info_header_print{
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
	clear: left;
	float: left;
	width: 650px;
	font-size:11px;
	font-weight:bold;
	border-bottom: 1px solid #999999; 
}

#demo_form_print{
	padding-right: 0px;
	padding-left: 0px;
	clear: left;
	float: left;
	width: 650px;
}

.demo_content_title_print{
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 15px;
	width: 25%;
	vertical-align:top;
	border-bottom: 1px solid #dfdfdf; 
	font-size: 11px;
}	

/*-----------------for print-------------*/
.demo_testtitle1_print{
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	font-size: 11px;
	width: auto;
}
.demo_testtitle_print{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	font-size: 11px;	
	width: auto;
}

#demo_testinfo1_print{
    clear:left;
	float:left;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:10px;
	font-weight:bold;
	//color:#818082;
	vertical-align:top;		
}
#demo_testinfo_print{
    clear:right;
	float:right;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:10px;
	font-weight:bold;
	text-align:right;
	//color:#818082;
	vertical-align:top;
	
}
.demo_testcolumn1_print{
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	vertical-align:top;
	font-size: 11px;
}
.demo_testcolumn_print{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	vertical-align:top;
	font-size: 11px;
}
.demo_testcolumnoline1_print{
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	vertical-align:top;
	font-size: 11px;
}
.demo_testcolumnoline_print{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	vertical-align:top;
	font-size: 11px;	
}
.demo_testtitle2_print{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	//color:#4a3582;
	//background-color: #ebe6f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC; 
}
.hori_line_dashed {
}
.demo_testcolumnrline_print{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 3px;
	width: auto;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	//background-color: #f5f2fc;
	vertical-align:top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC; 
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC; 
}
/*
==================================================  CAS  ================================================================================
*/

.cas_row{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9bb5cd;
	background-color: #ffffff;	
}

.cas_row a{
	color: #4360aa;
	text-decoration:none;
}

.cas_row a:hover {
	color: #FF0000;
	text-decoration:none;
}

.new_user_row{
	padding-left: 3px;
	padding-right:3px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9bb5cd;
	background-color: #ffffff;	
}

.new_user_row a{
	color: #4360aa;
	text-decoration:none;
}

.new_user_row a:hover {
	color: #FF0000;
	text-decoration:none;
}

.cas_row2{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8b4d8;
	background-color: #faf0fa;	
}

.cas_row2 a{
	color: #4360aa;
	text-decoration:none;
}

.cas_row2 a:hover {
	color: #FF0000;
	text-decoration:none;
}

.cas_row3{
	padding-left: 15px;
	padding-right:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
}

.cas_row3 a{
}

.cas_row3 a:hover {
}
.cas_row4{/*Added 20081126*/
	padding-left: 15px;
	padding-right:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
}
.cas_row4 a{/*Added 20081126*/
}

.cas_row4 a:hover {/*Added 20081126*/
}
.cas_row4_subtop{ /*Added 20081126*/
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.cas_row4highlight{ /*Added 20081126*/
	padding-left: 15px;
	padding-right:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
}
.cas_row4highlight a{ /*Added 20081126*/
}

.cas_row4highlight a:hover { /*Added 20081126*/
}
.cas_row4_subtophighlight{ /*Added 20081126*/
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.cas_rowhighlight{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9bb5cd;
	background-color: #fdfdcd;	
}

.cas_rowhighlight a{
	color: #4360aa;
	text-decoration:none;
}

.cas_rowhighlight a:hover {
	color: #FF0000;
	text-decoration:none;
}

.cas_subrow{
    padding-top: 3px;
	padding-left: 2px;
	padding-right:10px;
	padding-bottom: 3px;
	height:25px;
	vertical-align: middle;
}

.cas_subrow a{
}

.cas_subrow a:hover {
}

.cas_subrow3{
    padding-top: 3px;
	padding-left: 2px;
	padding-right:10px;
	padding-bottom: 3px;
	height:25px;
	vertical-align: middle;
}

.cas_subrow3 a{
}

.cas_subrow3 a:hover {
}

.cas_subrowhighlight{
    padding-top: 3px;
	padding-left: 2px;
	padding-right:10px;
	padding-bottom: 3px;
	height:25px;
	vertical-align: middle;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	background-color: #fdfdcd;	
}

.cas_subrowhighlight a{
	color: #4360aa;
	text-decoration:none;
}

.cas_subrowhighlight a:hover {
	color: #FF0000;
	text-decoration:none;
}

.cas_rowdone{
	padding-left: 15px;
	padding-right:10px;
	height:30px;
	vertical-align: middle;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9bb5cd;
	background-color: #eeeeee;	
}

.cas_rowdone a{
	color: #4360aa;
	text-decoration:none;
}

.cas_rowdone a:hover {
	color: #FF0000;
	text-decoration:none;
}

#cas_regbtn{
    margin-left: 10px;
	width:auto;
	margin-right:12px;
	margin-bottom: 5px;
	padding-top:5px;
	text-align:right;
	
}

#cas_top{
	margin-left: 10px;
	width:auto;
	margin-right:12px;
	margin-bottom: 5px;
	height: 25px;	
}

#module_content_header_sub{
	background-image:url(../image_en/layout_grey/header_sub_bg.gif); 
	background-position:top right; 
	background-repeat:no-repeat; 
	padding:2px;
	padding-left:5px;
	height: 22px; 
	font-size:10px
}

#return_status {
	width:400px; 
	/*float:right; */
	position:absolute;

	clear:both;
}
#return_status span{
	/*width:200px;*/
	padding:2px;
	float:right;
	display:block;
	font-size:11px;
	margin-right:10px;
	margin-top:0px;
	text-align:center;

}
#return_status a{
	text-decoration:none;
	color:#0033CC;
	font-size: 9px;

}
#return_status a:hover{

	text-decoration:underline;

}
.return_status_success{
	background-color:#cdf686; 
	color: #4a7400; 
	border: #339966;
}
.return_status_warning{
	background-color:#ffc9c9; 
	color: #901111; 
	border: #c00000;
}

.tab_lv3{
padding: 0;
width: 100%;
display:block;
background: #d5dce8;
height:25px;
margin-top:10px;
}

.tab_lv3 ul{
margin:0;
margin-left: 20px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.tab_lv3 li{
display: inline;
margin: 0 0 0 0;
padding: 0;

}

.tab_lv3 a{
float: left;
display: block;

color: #4360aa;
text-decoration: none;
margin: 0 2px 0 0; /*Margin between each menu item*/
padding: 3px 10px 5px 10px; /*Padding within each menu item*/
background-color: transparent; /*Default menu color*/

/*BELOW 4 LINES add rounded bottom corners to each menu item.
  ONLY WORKS IN FIREFOX AND FUTURE CSS3 CAPABLE BROWSERS
  REMOVE IF DESIRED*/
/*-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;*/
height:22px;
}

.tab_lv3 a:hover{
background-color: #ebeff6; /*Red color theme*/
padding-top: 5px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 8px; /*Flip default padding-bottom value with padding-top*/
color: 000000;
}

.tab_lv3 .current a{ /** currently selected menu item **/
background-color: #ebeff6; /*Red color theme*/
padding-top: 5px; /*Flip default padding-top value with padding-bottom */
height:22px;
padding-bottom: 8px; /*Flip default padding-bottom value with padding-top*/
color: 000000;
font-weight: bold;
}

/*
#return_status {
	width:940px; 
	float:none; 
	position:absolute;
	clear:both;
}

#return_status span{
	width:200px;
	padding:2px;
	float:right;
	display:block;
	font-size:11px;
	margin-right:10px;
	margin-top:10px;
	text-align:center;

}
#return_status a{
	font-family: Verdana;
	text-decoration:none;
	color:#0033CC;
	font-size: 9px;

}
#return_status a:hover{
	text-decoration:underline;

}
.return_status_success{
	background-color:#cdf686; 
	color: #4a7400; 
	border: #339966;
}
.return_status_warning{
	background-color:#ffc9c9; 
	color: #901111; 
	border: #c00000;
}
*/

/*
================================================================================attendance========================================================================
*/

.list_navigation{
	padding:5px;
}
.list_navigation span{
	font-weight: bold;	
}
.list_navigation a{
	color:#3366CC;
	text-decoration:none;
}
.list_navigation a:hover{
	color:#FF0000;
}
/*
================================================================================ iMail ========================================================================
*/


.imail_folder_bg_on{
	background-color: #d5e2ff;
	}
	
	
	
/*
================================================================================ Print ========================================================================
*/
#print_header{
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
	width:99%;
	clear: left;
	float: left;
	font-size:11px;
	font-weight:bold;
	border-bottom: 1px solid #999999; 
}

.print_table_border{
   border-right-width: 1px;
   border-right-style: solid;
   border-right-color: #999999;
     border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #999999;
}
.search_top_print{
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	color:#000000;
	border-left:1px solid #999999;
	border-bottom:2px solid #999999;
	background-color: #ffffff;
}

.search_row_print{
	padding-left:15px;
	padding-right:8px;
	padding-top:5px;
	padding-bottom:5px;
	color:#000000;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
.cas_row_print{
	padding-left: 15px;
	padding-right:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
		color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	color:#000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #ffffff;	

}

.system_row_print{
	padding-left: 15px;
	padding-right:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #ffffff;
}
.hori_line_dashed_print {
   border-bottom-width: 1px;
   border-bottom-style: dashed;
   border-bottom-color: #999999;
}
.search_row_total_print{
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #000000;
}
.search_row_total{
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #000000;
}
	.autoComplete
	{
		background-color: #FFFFFF;
		float:left;
		clear:both;
		height:200px;
		overflow:auto;
		width: 300px;
		border: 1px solid #cfcfcf;
		position: absolute;
		visibility: hidden;
	}

	#autoCompleteListItem {
		margin: 0px;
		padding: 0px;
		width: 100%;
		display: block;
	}

	#autoCompleteListItem ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: left;
		clear: left;
		width: 100%;
	}

	#autoCompleteListItem li {
		display: block;
		text-decoration: none;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #4360aa;
		padding-top: 3px;
		padding-right: 0px;
		padding-bottom: 3px;
		padding-left: 5px;
		cursor: pointer;
	}

	#autoCompleteListItem a {

		display: block;
		text-decoration: none;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #4360aa;
		padding-top: 3px;
		padding-right: 0px;
		padding-bottom: 3px;
		padding-left: 5px;

	}

	#autoCompleteListItem span {
			font-weight: bold;
	}

	#autoCompleteListItem a:hover {
		color: #FFFFFF;
		background-color: #5E85BF;
	}

	.autoCompleteInput
	{
		background-color: #FFFFFF;
		float:left;
		clear:both;
		height:200px;
		overflow:auto;
		width: 195px;
		border: 1px solid #cfcfcf;
		position: absolute;
		visibility: hidden;

		scrollbar-face-color:#F7F7F7;
		scrollbar-base-color:#F7F7F7;
		scrollbar-arrow-color:888888;
		scrollbar-track-color:#E2DFDF;
		scrollbar-shadow-color:#F7F7F7;
		scrollbar-highlight-color:#F7F7F7;
		scrollbar-3dlight-color:#C6C6C6;
		scrollbar-darkshadow-Color:#C6C6C6;

	}

.load_error{
	margin:80px; 
	text-align:center;
	padding:50px; 
	background-color:#dbe2ef; 
	background-image:url(../image_en/error_bg.gif);
	 border:3px solid #d2d9ee;
	font-style:italic;
}

/* */
.list_option_b{


margin-top:10px;
margin-bottom:2px;
float:right;
font-size: 11px;
font-weight: normal;
text-decoration: none;
color: #1b2a9b;
padding-top:5px;
}

.list_option_b span{
font-weight: bold;
color: #FFFFFF;
padding:2px;
padding-left:5px;
padding-right:5px;
background-color: #5371c5;
}

.list_option_b a{
padding:2px;
padding-left:5px;
padding-right:5px;
color: #1b2a9b;
font-size: 9px;
font-weight: normal;
text-decoration: none;
}
.list_option_b a:hover{
color: #FF0000;
}

/*
================================================================================ CPD ========================================================================
*/
.note_top {
	margin-top:20px;
	margin-left:10px;
	margin-bottom:10px
}
