/* using:  */
@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana;
}
.button {
	font-family: Verdana;
}
.button_main_act {
	font-family: Verdana;
}
.button_main_act_selected {
	font-family: Verdana;
}
select {
	font-family: Verdana;
}
.textbox {
	font-family: Verdana;
}
.textbox_date {
	font-family: Verdana;
}
.textarea_desc {
	font-family: Verdana;
}
table {
	font-family: Verdana;
}
input{
	font-family: Verdana;
}
textarea{
	font-family: Verdana;
}