/* using: */
body {
	background-color: #f2f2f2;

}
.content_bg{
	background-color: #FFFFFF;
}
.footer_bg {
	background-image: url(../image_en/layout_grey/footer.png);
	background-repeat: repeat;
	height:60px;
	background-position: bottom;	
	behavior: url(<?=$PathRelative?>theme/css/iepngfix.htc)
}
/*#top_header{
	background-image: url(../image_en/cimg/top_bg_grey.jpg);
}*/
#top_header_menu_bg{
	background-image: url(../image_en/layout_grey/main_menu.png);

}

.cas_row3{
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9bb5cd;
	background-color: #f1f9fe;	
}

.cas_row3 a{
	color: #4360aa;
}

.cas_row3 a:hover {
	color: #FF0000;
}
.cas_row4{ /*Added 20081126*/
	color:#000000;
	background-color: #ffffff;
}

.cas_row4 a{ /*Added 20081126*/
	color: #4360aa;
}

.cas_row4 a:hover { /*Added 20081126*/
	color: #FF0000;
}
.cas_row4_subtop{ /*Added 20081126*/
	background-color: #f1f9fe;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9bb5cd;	
}

.cas_row4highlight{/*Added 20081126*/
	color:#000000;
	background-color: #fdfdcd;	
}
.cas_row4highlight a{/*Added 20081126*/
	color: #4360aa;
}
.cas_row4highlight a:hover {/*Added 20081126*/
	color: #FF0000;
}
.cas_row4_subtophighlight{ /*Added 20081126*/
	background-color: #FDF2C6;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9bb5cd;
}

