.html_padding {
        padding: 8px;
}

.box_R {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #169410;
}

.box_B {
        border-bottom: 1px solid #169410;
}

.box_L_R {
        border-right-width: 1px;
        border-left-width: 1px;
        border-right-style: solid;
        border-left-style: solid;
        border-right-color: #169410;
        border-left-color: #169410;
}

.boxbg {
        background-color: #CBEBC9;
}

.boxbg_T {
        border-top: 1px solid #169410;
        background-color: #CBEBC9;
        padding-top: 5px;
}

.boxbg_B {
        border-bottom: 1px solid #169410;
        background-color: #CBEBC9;
        padding-bottom: 5px;
}
.boxbg_T_B {
        border-top: 1px solid #169410;
        border-bottom: 1px solid #169410;
        background-color: #CBEBC9;
}

.remarks {
        color: #169410;
        font-size: 11px;
}

.remarks_big {
        color: #169410;
        font-size: 12px;
}

.remarks_title {
        color: #169410;
        font-size: 12px;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 3px;
}

.remarks_padding {
        padding-right: 3px;
        padding-left: 3px;
}

.body_padding {
        padding-left: 22px;
}

.body_content {
        font-size: 12px;
        padding-right: 18px;
        color: #000000;
}

.body_subtitle {
        font-size: 12px;
        border-bottom: 1px solid #169410;
        background-color: #CBEBC9;
        padding-bottom: 5px;
        padding-top: 5px;
}

.body_subtitle_big {
        font-size: 12px;
        border-bottom: 1px solid #169410;
        background-color: #CBEBC9;
        padding-bottom: 5px;
        padding-top: 5px;
}

.body_subtitle_small {
        font-size: 11px;
}

.body_title {
        font-size: 12px;
        border-top: 1px solid #169410;
        border-bottom: 1px solid #000000;
        background-color: #CBEBC9;
        padding-top: 5px;
}


.body_title_font {
        font-size: 12px;
        background-color: #CBEBC9;
}

.body_title_empty {
        border-top: 1px solid #169410;
        background-color: #CBEBC9;
}

.body_midtitle {
        font-size: 12px;
        padding-top: 2px;
        padding-bottom: 1px;
}

.body_midtitle_line {
        font-size: 12px;
        border-bottom: 1px solid #000000;
        padding-top: 2px;
        padding-bottom: 1px;
}

.body_topnaming {
        font-size: 12px;
        margin-bottom: 8px;
}

.bg {
        background-image: url(../image/logo_watermark.jpg);
        background-repeat: no-repeat;
        background-position: center center;
}
