<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> eClass eLibrary plus</title>
<link href="/templates/2020a/css/content_25.css" rel="stylesheet" type="text/css">
<link href="/templates/2020a/css/elibplus.css" rel="stylesheet" type="text/css" />
<!-- <link rel="stylesheet" href=" https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery.ui.all.css" /> -->
<link href="/templates/jquery/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="/templates/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" type="text/javascript"></script> -->
<script src="/templates/jquery/jquery-ui-1.11.4.custom/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/templates/jquery/thickbox.js"></script>
<link rel="stylesheet" href="/templates/jquery/thickbox.css" type="text/css" media="screen" />
{{{TEMPLATE_LIBMS_CIRCULATION_JS}}}
</head>
<body class="elib_bg">
<!--<div class="module_title"><div class="module_title_icon"><img src="/images/2020a/eLibplus/icon_eLibplus.png" /></div> eLibrary <span>plus</span></div>-->
<!-- changed here -->

<div class="module_title module_title_op {{{TEMPLATE_LIBMS_CIRCULATION_LOGO}}}">
           <div class="module_title_icon"><!--<a href="javascript:void(0);" title="eLibrary plus">&nbsp;</a>--><a href="/home/eLearning/{{{TEMPLATE_LIBMS_CIRCULATION_ELIBPLUS_PATH}}}/" title="eLibrary plus">&nbsp;</a></div>
    	</div>
<div class="board_content">
    <div class="board_content_top"><div class="board_content_top_right"><div class="board_content_top_bg">
    </div></div></div>
    <div class="board_content_body_long"><div class="board_content_body_right"><div class="board_content_body_long_bg">
	<div class="user_operation">
		<!-- user info start-->
			{{{TEMPLATE_LIBMS_CIRCULATION_LEFT_USERINFO}}}
		 <!-- user info end-->
		<div class="user_record_detail">
		    <div class="funtion_content_board">
			<div class="funtion_content_top"><div class="funtion_content_top_right"><div class="funtion_content_top_bg">
				<!-- function button start -->
				{{{TEMPLATE_LIBMS_CIRCULATION_MENU}}}
				<!-- function button end -->
			</div></div></div>
		      <div class="funtion_content_body"><div class="funtion_content_body_right"><div class="funtion_content_body_bg">
							     {{{TEMPLATE_LIBMS_CIRCULATION_DETAIL_USERINFO}}}
							     
							    <div class="HTML_BODY">
								<p class="spacer">&nbsp;</p>
								{{{HTML_BODY}}}
								<p class="spacer">&nbsp;</p>
							    </div>
		      </div></div></div>
			    
		       <div class="funtion_content_bottom"><div class="funtion_content_bottom_right"><div class="funtion_content_bottom_bg">
		      </div></div></div>
		    </div>
		</div>

	<!-- user_record start-->
	<!--user_record end-->
	</div>
    </div></div></div>
</div>

</body>
</html>
