{{{TEMPLATE_NO_HEADER_TEMPLATE_HEADER}}}

<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <!--<tr>
          <td height="50" valign="top"></td>
        </tr>-->
        <tr> 
			    <td valign="top">
			    	 {{{FUNC_MODULE_TITLE}}} 
			    <div id="system_message_box" class="SystemReturnMessage" style="display:block; visibility: hidden;"> 
						<div class="msg_board_left">
					  	<div class="msg_board_right" id="message_body"> 
					  	<a href="#" onclick="document.getElementById('system_message_box').style.display = 'none'; return false;">[Clear]</a>
					  	</div>
						</div>
					</div>
					</td>
				</tr>
        <tr>
          <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              	<td>
					<div id="leftmenu" style="position:absolute; z-index:1; left: 0px; top: 0px;">
					{{{FUNC_MODULE_MENU}}}
					</div>
                <div id="content" style="padding-left: 150px; width=100%">
                <table width="99%" border="0" cellspacing="0" cellpadding="0">
                
                    <tr>
                      <td height="27" background="web_root_path/images/2020a/content_01_bg_catholic.png" class="contentitle_bar"><img src="web_root_path/images/2020a/10x10.gif" width="13" height="27"></td>
                      <td background="web_root_path/images/2020a/content_02_bg_catholic.png" height="33" valign="middle" style="padding-left: 5px" class="contentitle_bar">
                      	
                      	{{{FUNC_TITLE_TAGS}}}
                      	
                      </td>
                      <td height="27" background="web_root_path/images/2020a/content_03_bg_catholic.png" class="contentitle_bar"><img src="web_root_path/images/2020a/10x10.gif" width="11" height="27"></td>
                    </tr>
                    
                    <tr>
                      <td width="13" background="web_root_path/images/2020a/content_04.gif"><img src="web_root_path/images/2020a/content_04.gif" width="13" height="13"></td>
                      <td class="main_content">{{{HTML_BODY}}}
                      </td>
                      <td width="11" background="web_root_path/images/2020a/content_06.gif"><img src="web_root_path/images/2020a/content_06.gif" width="11" height="13"></td>
                    </tr>
                    
                    <tr>
                      <td width="13" height="10"><img src="web_root_path/images/2020a/content_07.gif" width="13" height="10"></td>
                      <td background="web_root_path/images/2020a/content_08.gif" height="10"><img src="web_root_path/images/2020a/content_08.gif" width="13" height="10"></td>
                      <td width="11" height="10"><img src="web_root_path/images/2020a/content_09.gif" width="11" height="10"></td>
                    </tr>
                  </table>
                  </div>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td class="footer"> 
     <span><a href="http://www.eclass.com.hk" target="_blank"><img src="web_root_path/images/logo_eclass_footer.png" width="59" height="21" border="0" align="absmiddle"></a></span></td>
  </tr>
  <tr>
    <td>{{{TEMPLATE_HOME_FOOTER}}}</td>
  </tr>
</table>
</body>
</html>