{{{TEMPLATE_POPUP_HEADER}}}
<style type='text/css'>
html, body {background-color:#FFFFFF; }
</style>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
    	{{{HTML_BODY}}}
    </td>
  </tr>
</table>

{{{TEMPLATE_POPUP_FOOTER}}}
</body>
</html>