{{{TEMPLATE_W2_HEADER}}}
	
	{{{HTML_BODY}}}
		
	<div id="loading" class="preloadArea">
		<div class="pic_zebra_1"></div>
		<div class="pic_zebra_2"></div>
		<div class="pic_zebra_3"></div>
		<div class="pic_zebra_4"></div>
		<div class="pic_zebra_5"></div>
		<div class="pic_zebra_6"></div>
		<div class="pic_zebra_7"></div>
		<div class="pic_zebra_8"></div>
		<div class="pic_zebra_9"></div>
		<div class="pic_zebra_10"></div>
		<div class="pic_zebra_11"></div>
		<div class="pic_zebra_12"></div>
		<div class="pic_zebra_13"></div>
		
		
 		<!-- ************ Footer End ************  -->

	</div>
	
</div>
	
	{{{TEMPLATE_HOME_FOOTER}}}

</div>

</body>
</html>