﻿/*>>>> CONTENT.CSS  <<<<*/
@charset "utf-8";
::-webkit-scrollbar {height: 6px; width: 6px;}
::-webkit-scrollbar-track {background: rgba(0,0,0,0.15); border-radius: 3px;}
::-webkit-scrollbar-thumb {background: #bbb; border-radius: 3px;}
html {height: 100%;}
a {cursor: pointer;}
body {background: url(/images/customization/standard_lms/module/organization/login_bg.png) center top fixed no-repeat, linear-gradient(#7ae8cc 40%, #4dc2d6 70%) fixed;}
body {min-height: 100%; min-width: 750px; margin: 0; padding: 0;/* needed for container min-height */}
html, body, table, select, input, textarea {font-family:Verdana, Arial, Helvetica, "Microsoft JhengHei", "Heiti TC", sans-serif;}
html, body, table, select, input, textarea {font-size:12px;}
a {text-decoration: none;}
a:hover {color: #FF0000;}
select {border: 1px solid #CCC;}
img {border: 0;}
p.spacer {clear: both; display: block; height: 0; line-height: 0; margin: 0; padding: 0;}
#container {display:block; height: 100%; margin: 0 auto;}

input[type="text"],input[type="password"] {border: 1px solid #ccc; border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); font-size: 1.2em; height: 35px; margin-bottom: 15px; padding-left: 8px; padding-right: 8px; transition: border linear 0.2s, box-shadow linear 0.2s; width:95%;}
input[type="text"]:focus, input[type="password"]:focus {border-color: rgba(82, 168, 236, 0.8); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); outline: 0; outline: thin dotted \9; /* IE6-9 */}

/*********************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Top Bar START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*********************************************************************************/
.top_banner {background: #fff; box-shadow: 0 0 5px #878686; height: 160px;}
.login_page {height: 650px; margin: -160px auto 0; position:relative; width: 860px;}
.school_logo {display: block; margin: 15px auto;}
.login_content {background: #fff; border: 1px solid transparent; border-radius: 5px; box-shadow: 0 0 5px #b9b9b9; height: 400px; margin: 0 auto; margin-top:90px; width: 450px;}
.login_title {color: #333; display: block; font-size: 1.9em; margin-top: 25px; text-align: center; width: 100%;}
.login_form {line-height: 30px; margin: 50px auto 0; width: 72%;}
.text_login {color: #666; display: block; float: left; font-size: 1.3em;}
.text_password {color: #666; display: block; float: left; font-size: 1.3em;}
.error_msg {color: #ff0000; float:right; font-size: 1em;}
.done_msg {color:#009900; width:55%; line-height:20px; display:inline-block;}
.forgot_password {color:#0077ca; font-size:1em; display:inline-block;}
.login_button {background: #1e7562; border: 0; border-radius: 4px; color:#fff; cursor: pointer; float: right; font-size: 1.3em; height: 35px; line-height: 35px; margin-top: 8px; padding: 0 15px;}
.login_button:hover {background: #308c78;}
.login_button:focus {outline: none;}

/******************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/******************************************************************************/
.footer {display:block; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 0.9em; height:20px; margin-top: 50px; margin-right: -5px}
.footer span, .footer a {color: #323232; display: block; float: right; line-height: 20px; padding: 2px;}
.footer a {background:url("/images/customization/standard_lms/module/eclassLogo.png") no-repeat center; background-size: 40px auto; height:20px; width:40px;}

/******************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>> Organization Info START <<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/******************************************************************************/
.school_logo {background-size: contain; height: 130px; width:166px;}