﻿/* vocab_page.htm */
body,html { margin:0; padding:0px; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 13x; background:url(/images/kis/vocab/bg.gif)}
a { text-decoration:none}
a:hover { text-decoration:none; color:#FF0000}
p.spacer{clear:both; display:block; line-height:0px; font-size:0px; padding:0; margin:0}

.main_board{ margin: 0 auto; width:800px; display:block;padding-bottom:89px;}
.main_board_content{background:url(/images/kis/vocab/board_top.png);padding-top:45px; min-height:450px;}

.main_btn{width:165px; display:block; float:right; padding-top:180px;}
.main_btn a, .main_btn span{ display:block; background:url(/images/kis/vocab/btn.png) no-repeat left top; width:165px; height:60px; margin-bottom:10px; clear:both;}
.main_btn a.btn_listen{ background-position: left 0px;}
.main_btn a.btn_listen:hover{ background-position: left -60px;}
.main_btn a.btn_spell{ background-position: left -120px;}
.main_btn a.btn_spell:hover{ background-position: left -180px;}
.main_btn a.btn_watch{ background-position: left -240px; display:none; }
.main_btn a.btn_watch:hover{ background-position: left -300px;}
.main_board_bottom {background:url(/images/kis/vocab/board_bottom.png); margin-bottom:-89px; height:89px; display:block; }
.main_board_bottom .reset_btn{ clear:both; display:block; float:left; padding-left:663px; margin-top:-21px; height:50px;}
.main_board_bottom .reset_btn a{display:block; background:url(/images/kis/vocab/btn_reset.png) no-repeat left top; width:74px; height:90px; margin-bottom:10px; clear:both; margin-top:-30px;}
.main_board_bottom .reset_btn a:hover{ background-position:left bottom;}
.main_board_bottom  .main_board_footer { font-size:12px;display:block; clear:both;text-align:right; color:#914003; padding-right:20px; padding-top:35px;}
.main_board_bottom  .main_board_footer img{ border:none; }

.stroke_frame { height:455px; width:455px; position:absolute; margin:-5px 0px 0px 165px;
	border:1px #CCCCCC solid; border-radius:10px; overflow:visible; }


/* vocab_portal.html */
.content_panel { font-family:微軟正黑體, 新細明體; height:100%; margin:0px; padding:0px; background-color:#FBF899; display:block; }
.content_panel_eng { font-family:Comic Sans MS, Verdana; height:100%; margin:0px; padding:0px; background-color:#FBF899; display:block; }
.content_panel_left { top:0; bottom:0; position:absolute; width:180px; height:100%; background-color:#FBF8DF; overflow:auto; float:left; }
.left_header { background-color:#F5F397; height:40px; background:url(/images/kis/content_res/left_title_bg.png); }
.left_icon, .left_icon_eng { float:left; margin:0px 5px; width:35px; height:40px; background:url(/images/kis/content_res/left_title_icon.png); }
.left_icon_eng { background:url(/images/kis/content_res/left_title_icon_eng.png); }
.left_title { height:40px; font-weight:bold; font-size:24px; padding-top:4px; }
.title_num { font-size:14px; }

.panel_left_list { padding:15px; line-height:30px; font-size:20px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }
.panel_left_item { background:url(/images/kis/content_res/item_star.png) no-repeat; padding-left:25px; color:#999999; cursor:pointer; }
.panel_left_item:hover { background:url(/images/kis/content_res/item_star_o.png) no-repeat; color:#5E9DEF; }
.panel_left_item_select { background:url(/images/kis/content_res/item_star_c.png) no-repeat; padding-left:25px; color:#5E9DEF; cursor:default; }

.content_panel_right { float:left; overflow:auto; margin-left:180px; overflow:hidden;
	position:absolute; top:0; bottom:0; left:0; right:0; box-shadow:0px 10px 10px 2px #999; }
.right_header { background-color:#CEEEF6; height:40px; overflow:hidden; box-shadow:0px 2px 7px 0px #999; }
.right_title_bg { position:absolute; right:0; width:117px; height:40px;
	background:url(/images/kis/content_res/right_title_bg.png); }
.right_icon, .right_icon_select { float:left; margin:0px 3px; width:40px; height:40px; cursor:pointer; background:url(/images/kis/content_res/right_title_icon.png); }
.right_icon_select { background:url(/images/kis/content_res/right_title_icon_c.png); }
.right_icon:hover { margin-top:2px; }
.right_icon_select:hover { margin-top:-2px; }
.right_title { float:left; height:40px; font-size:24px; padding-top:4px; }
.btn_prev { float:left; margin-left:30px; width:40px; height:40px; cursor:pointer; background:url(/images/kis/content_res/btn_prev.png); }
.btn_next { float:left; margin-left:10px; width:40px; height:40px; cursor:pointer; background:url(/images/kis/content_res/btn_next.png); }
.btn_close { right:5px; position:absolute; width:40px; height:40px; cursor:pointer; z-index:1; background:url(/images/kis/content_res/btn_close.png); }
.btn_prev:hover, .btn_next:hover, .btn_close:hover { margin-top:2px; }
.right_frame { width:100%; height:100%; border:0; }
