
@font-face {
  font-family: 'Arvo';
  src: url('Arvo.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arvo';
  src:   url('Arvo.woff') format('woff2'), url('Arvo.ttf')  format('truetype'), url('Arvo.svg#Arvo') format('svg');
  font-weight: normal;
  font-style: normal;
}


