/*
This page is to store css common in PowerClass and all PowerClass custom templates
 
Using By :  

*/

/********************** Change Log ***********************/
/*
2019-01-17 Isaac: Created this file
*/

/* School News*/
#schoolNewsContent .edit_bottom {
    min-height: 50px;
    padding: 3px;
    display: block;
    clear: both;
    border-top: 1px dashed #CCCCCC;
    text-align: center;
}

#m_PowerClassSchoolNews span#SchoolNews {
	background-image: url('../images/customTemplate/icon-news_w.png');
	background-repeat: no-repeat;
    background-position: center; 
}

#m_PowerClassSchoolNews.active span#SchoolNews {
	background-image: url('../images/customTemplate/icon-news-active.png');
	background-repeat: no-repeat;
    background-position: center; 
}

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span#SchoolNews {
	top: 5px;
	padding: 10px 30px;
}


.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span
{
  height: 60px;
  padding: 15px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-bottom: 0 !important;
}

#schoolNewsContent.bgColor-1, #schoolNewsContent .bgColor-1{
    background-color: white;
}

#frameWrap{
	overflow:scroll!important;
	-webkit-overflow-scrolling:touch;
	
}

#eclass_main_frame_table {
    max-width: 100%;
}

.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews {
    position: absolute;
    right: 120px;
    top: 0;
}

/* #blkTab buttons*/
@media screen and (max-width: 1110px)
{
  .CustCommon.CustMainContent #blkTab li:not(:nth-child(2))#blkApps,
  #m_PowerClassSchoolNews span#SchoolNews 
  {
    position: relative;
    margin-left: 10px;
  }
  
  .CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews
  {
  	position:relative;
  	right:0px;
  	top:0;
  }
  
  .CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews span:last-child {
  	    margin-right: 0px;
  }
}

@media screen and (max-width: 1023px)
{
  .CustCommon.CustTopHeader#blkTop .headerSchName,
  #m_PowerClassSchoolNews span#SchoolNews 
  {
    font-size: 18px;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px)
{
	/*White text in dark BG*/
	.CustCommon #blkAppTab ul li:not(.active) a,
	#m_PowerClassSchoolNews span#SchoolNews 
	{
	  color:white !important;
	}
	
	.CustCommon .portalIconsContainer1 .portalIcon 
	{
	  width: 50%;
	  margin: 8px 0;
	} 
}

/* headerSchName - removed hide of the schoolnews button */ 
@media screen and (max-width: 500px)
{
  .CustCommon.CustTopHeader#blkTop .headerSchName
  {
    display: none;
  }
}

/* fixed TB content overflow */ 
div#TB_ajaxContent > center {
    overflow-x: scroll;
}


/* action buttons color */
#eclass_main_frame_table .Conntent_tool a
{
  color:#2f83e1
}



/*
.CustCommon.CustMainContent #blkTab > div > ul{
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}
*/