/*
This page is to store css common only in all PowerClass custom templates
 
Using By :  

*/

/********************** Change Log ***********************/
/*
2019-01-17 Isaac: Created this file
*/

@media screen and (min-width: 1111px)
{
	.CustCommon.CustMainContent #blkTab #m_PowerClassSchoolNews {
	    position: absolute;
	    right: 50px;
	    top: 0;
	}
}