﻿/* For Entire Website */

@charset "utf-8";
body {margin:0;	padding:0; width:100%;}
.CustCommon *	{	position:relative;	box-sizing: border-box;	-webkit-box-sizing: border-box;	}
html, body {height:100%}
.CustCommon table, .CustCommon select, .CustCommon input, .CustCommon textarea
{font-family:"微軟正黑體", Verdana, Arial, Helvetica, sans-serif, SimHei, 新細明體, 細明體_HKSCS, mingliu;}
html, body  {font-size:16px;}
table, select, input, textarea{font-size:inherit;    line-height: inherit;}
.CustCommon html, .CustCommon body, .CustCommon div, .CustCommon ul, .CustCommon ol, .CustCommon li,
.CustCommon dl, .CustCommon dt, .CustCommon dd, .CustCommon h1, .CustCommon h2, .CustCommon h3, .CustCommon h4,
.CustCommon h5, .CustCommon h6, .CustCommon pre, .CustCommon form, .CustCommon p, .CustCommon blockquote,
.CustCommon fieldset, .CustCommon input, .CustCommon hr
{margin:0; padding:0;}

.CustCommon h1, .CustCommon h2, .CustCommon h3, .CustCommon h4, .CustCommon h5, .CustCommon h6, .CustCommon pre,
.CustCommon code, .CustCommon address, .CustCommon caption, .CustCommon cite, .CustCommon code, .CustCommon em,
.CustCommon strong, .CustCommon th
{font-weight:normal; font-style:normal;}

.CustCommon ul, .CustCommon ol
{list-style:none;}

.CustCommon li	{list-style-position: outside;margin-left: 1em;}
.CustCommon fieldset, .CustCommon img, .CustCommon hr {border:none;}
.CustCommon caption, .CustCommon th {text-align:left;}
.CustCommon table {border-collapse:collapse; border-spacing:0;    width: 100%;}
.CustCommon td {vertical-align:top; padding:0;}
.CustCommon div { display:block;  }
.CustCommon span{ display:inline-block; }
.CustCommon a {text-decoration: none; color:inherit;}
.CustCommon select {border: 1px solid #CCCCCC;}
.CustCommon p.spacer { line-height:0px; height:0px; clear:both; display:block; padding:0px; margin:0px; height:0px}
.CustCommon input[type="button"]:focus { outline: none;}
.CustCommon input[type="text"],input[type="password"] {}
.CustCommon input[type="text"]:focus, input[type="password"]:focus {}
.CustCommon nobr{ display:inline-block; }

/* Scroll bar */
::-webkit-scrollbar {width:5px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}

/* Icon Web Font */

@font-face
{
  font-family: 'Awesome';
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

.CustCommon .icon
{
  display: inline-block;
  font: normal normal normal 14px/1 Awesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PowerClass Font */


body
{
  font-family:"微軟正黑體", Verdana, Arial, Helvetica, sans-serif, SimHei, 新細明體, 細明體_HKSCS, mingliu !important;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('../fonts/FuturaBT-Book.eot');
	src: url('../fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaBT-Book.woff') format('woff'),
		url('../fonts/FuturaBT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.CustCommon .font-medium
{
  font-family: 'Futura Bk BT', "微軟正黑體" !important;
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Futura Lt BT';
	src: url('../fonts/FuturaBT-Light.eot');
	src: url('../fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaBT-Light.woff') format('woff'),
		url('../fonts/FuturaBT-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

.CustCommon .font-light {
    font-family: 'Futura Lt BT', "微軟正黑體" !important;
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Futura Lt BT';
	src: url('../fonts/FuturaBT-LightItalic.eot');
	src: url('../fonts/FuturaBT-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaBT-LightItalic.woff') format('woff'),
		url('../fonts/FuturaBT-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

.CustCommon .font-light-i {
    font-family: 'Futura Lt BT', "微軟正黑體" !important;
    font-weight: 300;
  	font-style: italic;
}

@font-face {
	font-family: 'Futura Md BT';
	src: url('../fonts/FuturaBT-Bold.eot');
	src: url('../fonts/FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaBT-Bold.woff') format('woff'),
		url('../fonts/FuturaBT-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.CustCommon .font-bold {
    font-family: 'Futura Md BT', "微軟正黑體" !important;
    font-weight: bold;
  	font-style: normal;
}

@font-face {
	font-family: 'Futura Md BT';
	src: url('../fonts/FuturaBT-BoldItalic.eot');
	src: url('../fonts/FuturaBT-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaBT-BoldItalic.woff') format('woff'),
		url('../fonts/FuturaBT-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

.CustCommon .font-bold-i {
    font-family: 'Futura Md BT', "微軟正黑體" !important;
    font-weight: bold;
  	font-style: italic;
}


/* Preset Classes*/
.CustCommon .fill
{ width:100%; height:100%;  }
.CustCommon .absolute
{ position:absolute;  }
.CustCommon .center
{ text-align:center;  }
.CustCommon .pointer
{ cursor:pointer  }
.CustCommon .marginB5
{ margin-bottom:5px; }
.CustCommon .marginB10
{ margin-bottom:10px; }
.CustCommon .marginB20
{ margin-bottom:20px; }
.CustCommon .hide
{ display: none !important; }

/*IE9*/
.CustCommon *::selection
{
    background-color:transparent;
}
.CustCommon *::-moz-selection
{
    background-color:transparent;
}
.CustCommon *
{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
}

html,body,.CustCommon
{
  min-width:360px;
}

.CustCommon input[type="text"], input[type="password"]
{
  background-color:#dde7ea;
  border:0;
  padding:10px;
}

.CustCommon input[type="text"]:focus, input[type="password"]:focus
{
  border:0;
  outline: 0;
}

.CustCommon input[type="button"]
{
  background-color:#2f83e1;
  color:white;
  padding:10px 20px;
}

.CustCommon a, .CustCommon .link
{
  color:#2f83e1;
  cursor: pointer;
}

.CustCommon a:hover, .CustCommon .link:hover
{
  color:#666666;
}

.CustCommon .accordion
{
  line-height: 60px;
  height:60px;
  font-size: 18px;
  font-weight: 500;
  cursor:pointer;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.CustCommon .accordion::before
{
  display:block;
  float:right;
  content:"\f106";
  margin:0 15px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  line-height: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CustCommon .accordion.collapse::before
{
   content:"\f107";
}

.CustCommon .accordion .accordion-subject
{
  overflow: hidden;
  text-overflow: ellipsis;
  padding:0 20px;
}

.CustCommon .accordion-page
{
  background-color:#cde9eb;
  overflow: hidden;
}

.CustCommon #lbleClass
{
  font-size:12px;
  margin:20px auto;
  text-align: right;
  color:white;
}

.CustCommon #lbleClass *
{
  vertical-align: middle;
  margin-right:3px;
}

.CustCommon #lbleClass img
{
  width:40px;
}

/* Customized Selector */

.selectorWrapper
{
  border: 1px solid #CCCCCC;
  margin-right: 5px;
  background: #fff;
}

.selectorWrapper select
{
  border: 0;
  margin-right: 0;
  background:transparent;
}

.selectorWrapper:before
{
  display: block;
  content: "\f0dd";
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width:20px;
  padding:8px 0;
  text-align: center;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/* For Current Project */

.CustCommon .textColor-1
{
  color:#333;
}

.CustCommon .textColor-2
{
  color:#2f83e1;
}

.CustCommon .bgColor-1
{
  background-color:#cde9eb;
}

.CustCommon input[type="text"], input[type="password"]
{
  background-color:#dde7ea;
  -webkit-user-select: text;
  -moz-user-select: text;
  /*IE10*/
  -ms-user-select: text;
  user-select: text;
}

.Conntent_search input#keyword{
    background: url(../../../images/2009a/content_icon.gif) no-repeat 0px -80px;
    padding-left: 20px;
    width: 150px;
    height: 16px;
    background-color: #FFFFFF;
    border: 1px solid #BDCEB0;
} 