.page_wrapper {padding-right:400px}
.left_column {margin-right:500px; background:#cccccc; height:500px; float:left; width:100%}
.right_column {position:relative; margint-right:-400px; background:#eeeeee; height:500px; width:400px; float:right}


/**************************
CONTENT AND COLUMNS
**************************/
.marksheet_container {
padding-left: 165px;
padding-right: 130px;}
/**background: url(/examples/blackline.gif) 100% 0 repeat-y;
}**/
/*** This is the visible right col background. Because of IE (both 6 and 7) the right col background and inner border is in fact an repating image where 1px of the left part of the image is black, and is simulating a border.
***/
* html .marksheet_container {
/*** No need for hacking IE on this layout ***/
}
.inner {
width: 100%;
/***border: 1px solid #000;
    border-width: 0 0 0 1px;
    margin-left: -2px;  This fixes a small overlap problem. Without this the border on the left side of the right column won't be visible ***/
}

/*** div.inner is wider than its container, div.outer, and so overlaps to the right, pushing
div.right into the proper position. IE expands div.outer instead, requiring a Tan hack to avoid 
blowing the layout apart. IE gets the original 100% width as in the Livingstone layout. It blows 
my mind that all this hacking is being caused by the mighty Gecko engine! (shakes head ruefully)
***/
.float-wrap {float: left; width: 100%; margin-left: -165px; /*** Same length as .outer padding-left but with negative value ***/}

.marksheet_main_content {
float: right;
margin-right: -165px; /*** Same length as .outer padding-left but with negative value ***/
width: 100%;
}
* html .marksheet_main_content {
position: relative; /*** IE needs this  ***/
}

/**************************
LEFT COLUMN
**************************/
/*** div.left is in div.float-wrap, and when div.float-wrap is neg margined to the left, 
div.left is carried over into the proper position. 
***/
.marksheet_left_content {float: left;width: 165px;}
* html .marksheet_left_content {position: relative;}

/*************************
RIGHT COLUMN
**************************/
.marksheet_right_content {
	float: right;  width: 130px; position: relative; /*** IE needs this  ***/
	margin-right: -130px; /** This negative margin-right value is the width of the right column + the padding, in this example 130px. ***/
	}
