<div class="inner"><!-- evaluation + legend -->
			<table class="tbl_pageHead" cellpadding="0" cellspacing="0">
				<tbody>
					<td>
						<div class="variObj header_L" style="margin-left:8mm;"><img src="images/vari_header_L.png"/></div><div class="variObj header_C">
							2019 - 2020 幼兒班評量紀錄 下學期  限字數(中40 英40)
						</div><div class="variObj header_L"><img src="images/vari_header_R.png"/></div>
					</td>
				</tbody>
			</table>
			
			<table class="tbl_header_title" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td><div class="icon_header_title"><img src="images/icon_header_title.png" /></div>
							學期總結評估 
							If the text is very very long If the text is very very long
						</td>
					</tr>
				</tbody>
			</table>
			
			<table class="tbl_evaluation" cellpadding="0" cellspacing="0">
				<thead class="tbl_head type_2">
					<tr>
						<td>我愛上學去 限字數(中21 英21)</td>
						<td>學習評估表現 限字數(中10 英20)</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2">
							<div class="eval_subtitle_1">
								1. 體能與健康
							</div>
							<div class="eval_subtitle_2">
								1.1 活動
							</div>
							<div class="eval_item_1">
								<div class="details">會唱歌曲〈砌積木〉、〈機械人〉、〈玩皮球〉、〈三輪車〉會唱歌曲〈砌積木〉、〈機械人〉、〈玩皮球〉、〈三輪車〉會唱歌曲〈砌積木〉、〈機械人〉、〈玩皮球〉、〈三輪車〉</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(101, 196, 209)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">懂得基本的衛生常識</div>
								<div class="marking">
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(40, 153, 131)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">主動參與各種活動和遊戲，鍛練大、小肌肉的活動能力</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(182, 213, 101)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_subtitle_2">
								1.2 藝術與創意
							</div>
							<div class="eval_item_1">
								<div class="details">懂得欣賞四周環境</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(244, 204, 43)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
						</td>
					</tr>
					
				</tbody>
				<tbody><!-- important : bottom of the table -->
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
			<table class="tbl_evaluation" cellpadding="0" cellspacing="0">
				<thead class="tbl_head type_2">
					<tr>
						<td>Can be many tables</td>
						<td>Learning evaluation</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2">
							<div class="eval_subtitle_2">
								1. If the text is very very long... If the text is very very long... If the text is very very long... If the text is very very long... If the text is very very long... If the text is very very long...
							</div>
							<div class="eval_item_1">
								<div class="details">If the text is very very long... If the text is very very long... If the text is very very long... If the text is very very long... If the text is very very long... If the text is very very long...</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">Please detect the content height and make page break</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
						</td>
						
					</tr>
				</tbody>
				<tbody><!-- important : bottom of the table -->
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
			<table class="tbl_legend" cellpadding="0" cellspacing="0">
				<thead class="tbl_head">
					<tr>
						<td style="width:34mm;">&nbsp;</td>
						<td style="width:158mm;">&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="title_area">Learning Evaluation Notes</div>
						</td>
						<td>
							<table class="legend_area">
								<tr>
									<td><div class="legend_img" style="background-color:rgb(101, 196, 209)"><img src="images/ball_color_base.png" /></div><div class="legend_text">表現理想</div></td>
									<td><div class="legend_img" style="background-color:rgb(40, 153, 131)"><img src="images/ball_color_base.png" /></div><div class="legend_text">表現滿意</div></td>
									<td><div class="legend_img" style="background-color:rgb(182, 213, 101)"><img src="images/ball_color_base.png" /></div><div class="legend_text">在發展中</div></td>
									<td><div class="legend_img" style="background-color:rgb(244, 204, 43)"><img src="images/ball_color_base.png" /></div><div class="legend_text">開始發展</div></td>
									<td><div class="legend_img" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div><div class="legend_text">仍未發展</div></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
				<tbody><!-- important : bottom of the table -->
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="inner"><!-- evaluation + legend -->
			<table class="tbl_pageHead" cellpadding="0" cellspacing="0">
				<tbody>
					<td>
						<div class="variObj header_L" style="margin-left:8mm;"><img src="images/vari_header_L.png"/></div><div class="variObj header_C">
							2019 - 2020 幼兒班評量紀錄 下學期
						</div><div class="variObj header_L"><img src="images/vari_header_R.png"/></div>
					</td>
				</tbody>
			</table>
			
			<table class="tbl_evaluation" cellpadding="0" cellspacing="0">
				<thead class="tbl_head type_1">
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2">
							<div class="eval_item_1">
								<div class="details">When page break between the 學習評估 table, make the tbl_head as "type_1"</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_subtitle_1">
								6. 幼兒數學
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
							<div class="eval_item_1">
								<div class="details">通過不同的美勞活動，明白到自己的手很有用</div>
								<div class="marking">
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(239, 239, 239)"><img src="images/ball_color_base.png" /></div>
									<div class="ball" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody><!-- important : bottom of the table -->
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
			<table class="tbl_legend" cellpadding="0" cellspacing="0">
				<thead class="tbl_head">
					<tr>
						<td style="width:34mm;">&nbsp;</td>
						<td style="width:158mm;">&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="title_area">學習評估說明</div>
						</td>
						<td>
							<table class="legend_area">
								<tr>
									<td><div class="legend_img" style="background-color:rgb(101, 196, 209)"><img src="images/ball_color_base.png" /></div><div class="legend_text">表現理想</div></td>
									<td><div class="legend_img" style="background-color:rgb(40, 153, 131)"><img src="images/ball_color_base.png" /></div><div class="legend_text">表現滿意</div></td>
									<td><div class="legend_img" style="background-color:rgb(182, 213, 101)"><img src="images/ball_color_base.png" /></div><div class="legend_text">在發展中</div></td>
									<td><div class="legend_img" style="background-color:rgb(244, 204, 43)"><img src="images/ball_color_base.png" /></div><div class="legend_text">開始發展</div></td>
									<td><div class="legend_img" style="background-color:rgb(241, 146, 139)"><img src="images/ball_color_base.png" /></div><div class="legend_text">仍未發展</div></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
				<tbody><!-- important : bottom of the table -->
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
		</div>