.16Gray{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 16px;
	font-weight: bold;
	color: #646360;
}
.18Gray{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 18px;
	font-weight: bold;
	color: #444340;
}
.18Green{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 18px;
	font-weight: bold;
	color: #358530;
}
.19Green{
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	font-size: 16px;
	font-weight: bold;
	color: #498530;
}
.16Green{
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	font-size: 16px;
	font-weight: bold;
	color: #498530;
}

.13Gray{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
    color: #444340;
}
.13GrayBoldP5555{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	font-weight: bold;
    color: #444340;
	padding: 5px 5px 5px 5px;
}

.YellowBG{
	background-color:#FEFED2;
}
.OrangeBG{
	background-color:#FDD497;
}

.GreenBG{
	background-color:#F6FCEA;
}
.Green2BG{
	background-color:#E0F2BB;
}
.lightGrayBG{
	background-color:#FBFCFA;
}
.GrayBG{
	background-color:#EBECEA;
}
.PurpleBG{
	background-color:#F5EFFB;
}

.13GrayP5555
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體";
	font-size: 13px;
	color: #444340;
	padding: 5px 5px 5px 5px;
}
.13WhiteP5555
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體";
	font-size: 13px;
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
}
.13YellowP5555
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體";
	font-size: 13px;
	color: #9A9101;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}
.13GreenP5555{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #287313;
	padding: 5px 5px 5px 5px;
}
.13OrangeP5555{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #B47927;
	padding: 5px 5px 5px 5px;
}
.13Blue{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #87AFC2;
	padding: 5px 5px 5px 5px;
}

A.link-submenu{
	font-family: "Verdana", "Arial", "Helvetica", "新細明體", "Sans-Serif";
	font-size: 13px;
	color: #444340;
	TEXT-DECORATION: none;
}

A.link-submenu:link {
	COLOR: #444340;

}
A.link-submenu:visited {
	COLOR: #444340;
}
A.link-submenu:hover {
	COLOR: #1F639A;
	TEXT-DECORATION:underline;

}

A.link-blue{
	font-family: "Verdana", "Arial", "Helvetica", "新細明體", "Sans-Serif";
	font-size: 13px;
	color: #125A94;
	TEXT-DECORATION: none;
}

A.link-blue:link {
	COLOR: #125A94;

}
A.link-blue:visited {
	COLOR: #125A94;
}
A.link-blue:hover {
	COLOR: #5E1294;
	TEXT-DECORATION:underline;

}

A {
	font-family: "Verdana", "Arial", "Helvetica", "新細明體", "Sans-Serif";
	font-size: 13px;
	color: #125045;
	TEXT-DECORATION: none;
}

A:link {
	COLOR: #125045;

}
A:visited {
	COLOR: #125045;
}
A:hover {
	COLOR: #5E12FF;

}

.form_title {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.menutitle {
	font-family: "Verdana", "Arial", "Helvetica", "新細明體", "Sans-Serif";
	font-size: 13px;
	color: #095B83;
	font-weight: bold;
	TEXT-DECORATION: none;	
}

.scrollbar-blue {
scrollbar-3dlight-color:#7F9DB9;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#F3FBFD;
scrollbar-darkshadow-color:#7F9DB9;
scrollbar-face-color:#65A7C1;
scrollbar-highlight-color:#FFFFFF;
scrollbar-shadow-color:#FFFFFF;
scrollbar-track-color:#E7EEF3;
}
.scrollbar-green {
scrollbar-3dlight-color:#7FB97F;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#A0D791;
scrollbar-darkshadow-color:#7FB97F;
scrollbar-face-color:#A0D791;
scrollbar-highlight-color:#FFFFFF;
scrollbar-shadow-color:#FFFFFF;
scrollbar-track-color:#F0F9EE;
}
.scrollbar-orange {
scrollbar-3dlight-color:#F7AA3E;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#E7BB45;
scrollbar-darkshadow-color:#F7AA3E;
scrollbar-face-color:#E7BB45;
scrollbar-highlight-color:#FFFFFF;
scrollbar-shadow-color:#FFFFFF;
scrollbar-track-color:#FDF1D2;
}
.scrollbar-Purple {
scrollbar-3dlight-color:#560CB2;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#8055B5;
scrollbar-darkshadow-color:#560CB2;
scrollbar-face-color:#8055B5;
scrollbar-highlight-color:#FFFFFF;
scrollbar-shadow-color:#FFFFFF;
scrollbar-track-color:#F4E9FE;
}

.text_12_grey {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #666666;
}
.text_12_white {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

.text_12_red {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #CC0000;
}

.text_12_black {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #000000;
}
.text_13_black {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	color: #000000;
}

.text_18b_blue {
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	color: #007A98;
	font-weight: bold;
}
.text_18b_purple {
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	color: #4F47BA;
	font-weight: bold;
}
.text_18b_orange {
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	color: #C16400;
	font-weight: bold;
}

.text_15_black {
	font-family: verdana, arial, sans-serif;
	font-size: 15px;
	color: #000000;

}
.text_15_blue {
	font-family: verdana, arial, sans-serif;
	font-size: 15px;
	color: #0479BC;

}

.text_15_orange {
	font-family: verdana, arial, sans-serif;
	font-size: 15px;
	color: #C16400;

}
.table_grey {
	border: 1px solid #999999;
	background-color: #FFFFFF;
	filter: Alpha(Opacity=85);	
}
.text_18b_black {
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.text_18b_white {
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}
.text_18b_red {
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #993300;
}
.text_12b_red {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ED1C24;
}
.text_12_blue {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #3E3F9F;
}
.text_13b_black {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.text_13b_red {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC0000;
}
.text_13b_blue {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #3E3F9F;
}
.text_13b_green {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #26830E;
}
.text_10_white {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.text_11_orange {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #FF6600;
}
.text_11_green {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #26830E;
}
.text_11_blue{
	font-family: "verdana", "arial", "sans-serif";
	font-size: 11px;
	color: #3399CC;
}
.text_11_black {
    font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #000000;
}
.text_11_grey {
    font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #666666;
}

.dot {
	border: thin dotted #666666;
}
