/** MENU ***/
.chi_staff_menu_heading{
        font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
        font-size: 13px;
        color: #000000;
        font-weight: none;
        line-height: normal;
        word-spacing: normal;
        letter-spacing: 1px;
}
.eng_staff_menu_heading {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif;
        font-size: 13px;
        color: #000000;
        font-weight: none;
        line-height: 22px;
        word-spacing: normal;
        letter-spacing: 0px;
}
.staff_menu_text1,A.staff_menu_text1:visited,A.staff_menu_text1:link,A.staff_menu_text1:active {
        color:#eb7e58;
        text-decoration:none;
        font-size: 13px;
        font-weight: bold;
        font-family: "Arial", "sans-serif", "新細明體";

}
A.staff_menu_text1:hover { color:#eb7e58; text-decoration:underline; font-weight:bold; }

.staff_menu_text2,A.staff_menu_text2:visited,A.staff_menu_text2:link,A.staff_menu_text2:active {
        color:#eca25f;
        text-decoration:none;
        font-size: 13px;
        font-weight: bold;
        font-family: "Arial", "sans-serif", "新細明體";

}
A.staff_menu_text2:hover { color:#eca25f; text-decoration:underline; font-weight:bold; }
.staff_menu_text3,A.staff_menu_text3:visited,A.staff_menu_text3:link,A.staff_menu_text3:active {
        color:#c7c144;
        text-decoration:none;
        font-size: 13px;
        font-weight: bold;
        font-family: "Arial", "sans-serif", "新細明體";

}
A.staff_menu_text3:hover { color:#c7c144; text-decoration:underline; font-weight:bold; }
.staff_menu_text4,A.staff_menu_text4:visited,A.staff_menu_text4:link,A.staff_menu_text4:active{
        color:#38b5d9;
        text-decoration:none;
        font-size: 13px;
        font-weight: bold;
        font-family: "Arial", "sans-serif", "新細明體";

}
A.staff_menu_text4:hover { color:#38b5d9; text-decoration:underline; font-weight:bold; }
.staff_menu_text5,A.staff_menu_text5:visited,A.staff_menu_text5:link,A.staff_menu_text5:active{
        color:#876ce6;
        text-decoration:none;
        font-size: 13px;
        font-weight: bold;
        font-family: "Arial", "sans-serif", "新細明體";

}
 A.staff_menu_text5:hover { color:#876ce6; text-decoration:underline; font-weight:bold; }
/****/

.eng_staff_btn_text {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif;
        font-size: 15px;
        color: #444444;
        font-weight: none;
        line-height: 22px;
        word-spacing: normal;
        letter-spacing: 0px;
        text-decoration:none
}
.chi_staff_btn_text {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
        font-size: 13px;
        color: #444444;
        font-weight: none;
        line-height: 22px;
        word-spacing: normal;
        letter-spacing: 0px;
        text-decoration:none
}
A.eng_staff_btn_text:hover{
	text-decoration:none;
}
A.chi_staff_btn_text:hover{
	text-decoration:none;
}

.staff_extraInfo {
        color: #777777;
}

.title {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif;
        font-size: 18px;
        color: #686868;
        font-weight: bold;
        line-height: 22px;
        word-spacing: normal;
        letter-spacing: 0px;
}

.tab_on {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif;
        font-size: 14px;
        color: #197e9e;
        font-weight: bold;
        line-height: 30px;
        word-spacing: normal;
        letter-spacing: 0px;
}

.tab_off{
        font-family: Verdana, Arial, Helvetica, sans-serif, serif;
        font-size: 14px;
        color: #646464;
        font-weight: bold;
        line-height: 30px;
        word-spacing: normal;
        letter-spacing: 0px;
        text-decoration:none
}
 .tab_off:hover { color:#197e9e; text-decoration:underline; font-weight:bold; }

.tableTitle {
        COLOR: #313031; BACKGROUND-COLOR: #88c4d7
}
.tableTitle {
        FONT-WEIGHT: normal; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif
}
.printPageTableTitle{
        COLOR: #313031; BACKGROUND-COLOR: #88c4d7;
        FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
}

.tableContentLink,.calendarDay {
        FONT-WEIGHT: normal; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif
}
.tableContentLink,.calendarDay {
        COLOR: #01687f
}
A.tableContentLink:link {
        COLOR: #01687f
}
A.tableContentLink:visited {
        COLOR: #01687f
}
A.tableContentLink:hover {
        COLOR: #01687f
}
A.tableContentLink:active {
        COLOR: #01687f
}
.tableContentLink {
        COLOR: #197e9e;text-decoration:underline;
}

.iconLink {
        FONT-WEIGHT: normal; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, Mingliu, Sans-Serif
}
.iconLink {
        FONT-SIZE: 13px; COLOR: #197e9e
}
A.iconLink:link {
        COLOR: #197e9e
}
A.iconLink:visited {
        COLOR: #197e9e
}
A.iconLink:hover {
        COLOR: #197e9e
}
A.iconLink:active {
        COLOR: #197e9e
}
.btable {
        margin: auto;
        padding: 0px;
        border: 1px solid #999999;

}
.tableContent{ 
		color: #542605; 
		background-color: #FFFFFF; 
}
.tableContent2{ 
		color: #542605; 
		background-color: #F6F6F6; 
}

.tableContent3{ 
		color: #542605; 
		background-color: #CD5555; 
}

.staff_bg_menu { 
	color: #542605; 
	background-color: #A6C7D2;
}




.eng_staff_content {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif;
        font-size: 15px;
        color: #000000;
        font-weight: none;
        line-height: 22px;
        word-spacing: normal;
        letter-spacing: 0px;
}

.chi_staff_content {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
        font-size: 15px;
        color: #000000;
        font-weight: none;
        line-height: 22px;
        word-spacing: normal;
        letter-spacing: 1px;
}

.staff_hr_sub_separator {
        color: #542605;
        border: dotted dashed;
}

.staff_navigation_menu{
        font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
        font-size: 18px;
        font-weight: bold;
        color: #686868;
}

A:hover{text-decoration:underline}
A {text-decoration:none}
A:link{color:#000000}
A:active{color:#000000}
A:visited{color:#000000}

.show_object{display:inline}
.hide_object{ display:none}


/**** not used *******/
.chi_subhead_15b {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
        font-size: 15px;
        color: #000000;
        font-weight: bold;
}

.chi_subhead_15b_blue {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
        font-size: 15px;
        color: #333399;
        font-weight: bold;
}

.chi_subhead_15b_white {
        font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
}

 .bluelink_15pt:link  {color:#000000; text-decoration:none; font-size: 15px;}
 .bluelink_15pt:visited {color:#000000; text-decoration:none; font-size: 15px;}
 .bluelink_15pt:hover {color:#0000FF; text-decoration:none; font-size: 15px;}

.tipborder {
 BACKGROUND-COLOR: #C0C0C0;
}
.tipbg {
 BACKGROUND-COLOR: #FFFFE7;
}



