bodya { background-color: #FFFFFF; }
bodya, p, td, pre, li { color: #000000; font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; font-size: 12px; }
input, textarea, select { color: #000000; font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; font-size: 12px; }
a {        text-decoration:none; }
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; text-decoration:underline;}
a:active { color: #000000; }
td { vertical-align: top; background-image: url(/images/space.gif); }
ali { list-style: square inside; }
.tableTitle, .tableTitle2, .tableContent, .tableContent2, .iconLink, .tableContentLink { font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; font-size: 13px; font-weight: normal; }
.tableTitle {  color: #313031; background-color: #D7BB88; /* #BDD788 */ }
a.tableTitle:link { color : #313031;}
a.tableTitle:visited { color : #313031;}
a.tableTitle:hover { color : #313031;}
a.tableTitle:active { color : #313031;}
.tableTitle2 {  color: #313031; background-color: #DBD6C4; }
.tableContent { color: #542605; background-color: #FFFFFF; }
a.tableContent:link, a.tableContent:visited, a.tableContent:hover, a.tableContent:active { color : #542605;}
.tableContent2 { color: #542605; background-color: #F6F6F6; }
a.tableContent2:link, a.tableContent2:visited, a.tableContent2:hover, a.tableContent2:active { color : #542605;}
.tableContentLink { color: #542605;}
a.tableContentLink:link, a.tableContentLink:visited, a.tableContentLink:hover, a.tableContentLink:active { color : #542605;}
.iconLink { color: #915700; font-size: 13px; }
a.iconLink:link, a.iconLink:visited, a.iconLink:hover, a.iconLink:active { color : #915700;}
.tableContentLink { color: #915700;}
.menu {        background-color: #DDEF5D; }
.head { font-size: 17px; font-weight: bold; color: #8CC924; font-family: Helvetica, Arial, Verdana, Mingliu, Sans-Serif; }
.home { font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif; font-size: 12px; font-weight: normal; color: #000000; background-color: #8CC924; }
a.home:link { color : #000000;}
a.home:visited { color : #000000;}
a.home:hover { color : #000000;}
a.home:active { color : #000000;}
.foot { font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;  font-size: 11px; font-weight: normal; color: #000000; background-color: #8CC924; }
a.foot:link { color : #000000;}
a.foot:visited { color : #000000;}
a.foot:hover { color : #000000;}
a.foot:active { color : #000000;}
.small { font-size: 10px; }
.event_title { font-size: 14px; font-weight: bold; color: #644B00; }
.event_content { font-size: 12px; font-weight: normal; color: #996600; }
.dotted_line { background-image: url(/images/dotted_line.gif); }
.home_bg1 { background-image: url(/images/frontpage/home_bg1.gif); }
.home_bg2 { background-image: url(/images/frontpage/home_bg2.gif); }
.home_bar_m { background-image: url(/images/frontpage/home_bar_m.jpg); }
.vote_bg_m { background-image: url(/images/frontpage/vote_bg_m.jpg); }
.cal_bg_m { background-image: url(/images/frontpage/cal_bg_m.jpg); }
.cal_white_bg_m { background-image: url(/images/frontpage/cal_white_bg_m.jpg); }
.myinfo_bg_tm { background-image: url(/images/frontpage/myinfo_bg_tm.jpg); }
.myinfo_bg_ml { background-image: url(/images/frontpage/myinfo_bg_ml.jpg); }
.myinfo_bg_mm { background-image: url(/images/frontpage/myinfo_bg_mm.jpg); }
.myinfo_bg_mr { background-image: url(/images/frontpage/myinfo_bg_mr.jpg); }
.myinfo_bg_bm { background-image: url(/images/frontpage/myinfo_bg_bm.jpg); }
.cal_bg_school { background-image: url(/images/frontpage/cal_display_schoolevents.gif); }
.cal_bg_academic { background-image: url(/images/frontpage/cal_display_academicevents.gif); }
.cal_bg_both { background-image: url(/images/frontpage/cal_display_acad_school.gif); }
.schoolinfo_organization_misc_m_bg { background-image: url(/images/organization/mischeadcell.gif); }
.schoolinfo_organization_eca_m_bg { background-image: url(/images/organization/ecaheadcell.gif); }
.schoolinfo_organization_class_m_bg { background-image: url(/images/organization/classheadcell.gif); }
.schoolinfo_organization_house_m_bg { background-image: url(/images/organization/househeadcell.gif); }
.schoolinfo_organization_admin_m_bg { background-image: url(/images/organization/adminheadcell.gif); }
.schoolinfo_organization_academic_m_bg { background-image: url(/images/organization/academicheadcell.gif); }
.schoolinfo_organization_misc_b_bg { background-image: url(/images/organization/misctbcell.gif); }
.schoolinfo_organization_eca_b_bg { background-image: url(/images/organization/ecatbcell.gif); }
.schoolinfo_organization_class_b_bg { background-image: url(/images/organization/classtbcell.gif); }
.schoolinfo_organization_house_b_bg { background-image: url(/images/organization/housetbcell.gif); }
.schoolinfo_organization_admin_b_bg { background-image: url(/images/organization/admintbcell.gif); }
.schoolinfo_organization_academic_b_bg { background-image: url(/images/organization/academictbcell.gif); }
.schoolinfo_organization_misc_p_bg { background-image: url(/images/organization/misctbcell_popup.gif); }
.schoolinfo_organization_eca_p_bg { background-image: url(/images/organization/ecatbcell_popup.gif); }
.schoolinfo_organization_class_p_bg { background-image: url(/images/organization/classtbcell_popup.gif); }
.schoolinfo_organization_house_p_bg { background-image: url(/images/organization/housetbcell_popup.gif); }
.schoolinfo_organization_admin_p_bg { background-image: url(/images/organization/admintbcell_popup.gif); }
.schoolinfo_organization_academic_p_bg { background-image: url(/images/organization/academictbcell_popup.gif); }
.schoolinfo_popup_misc_m_bg { background-image: url(/images/frontpage/schoolinfo_popup_misc_m.gif); }
.schoolinfo_popup_eca_m_bg { background-image: url(/images/frontpage/schoolinfo_popup_eca_m.gif); }
.schoolinfo_popup_class_m_bg { background-image: url(/images/frontpage/schoolinfo_popup_class_m.gif); }
.schoolinfo_popup_house_m_bg { background-image: url(/images/frontpage/schoolinfo_popup_house_m.gif); }
.schoolinfo_popup_admin_m_bg { background-image: url(/images/frontpage/schoolinfo_popup_admin_m.gif); }
.schoolinfo_popup_academic_m_bg { background-image: url(/images/frontpage/schoolinfo_popup_academic_m.gif); }
.schoolinfo_popup_misc_t_bg { background-image: url(/images/frontpage/schoolinfo_popup_misc_tm.jpg); }
.schoolinfo_popup_eca_t_bg { background-image: url(/images/frontpage/schoolinfo_popup_eca_tm.jpg); }
.schoolinfo_popup_class_t_bg { background-image: url(/images/frontpage/schoolinfo_popup_class_tm.jpg); }
.schoolinfo_popup_house_t_bg { background-image: url(/images/frontpage/schoolinfo_popup_house_tm.gif); }
.schoolinfo_popup_admin_t_bg { background-image: url(/images/frontpage/schoolinfo_popup_admin_tm.jpg); }
.schoolinfo_popup_academic_t_bg { background-image: url(/images/frontpage/schoolinfo_popup_academic_tm.jpg); }
.schoolinfo_bg_t { background-image: url(/images/frontpage/schoolinfo_bg_t.gif); }
.schoolinfo_bg_m { background-image: url(/images/frontpage/schoolinfo_bg_m.gif); }
.mybookeditems_bg_m { background-image: url(/images/frontpage/mybookeditems_bg_m.gif); }
.allbookeditems_bg_m { background-image: url(/images/frontpage/allbookeditems_bg_m.gif); }
.allavailableitems_bg_m { background-image: url(/images/frontpage/allavailableitems_bg_m.gif); }
.mybooking_bg_m { background-image: url(/images/frontpage/mybooking_bg_m.gif); }
.eclass_m_bg { background-image: url(/images/frontpage/eclass_m.gif); }
.event_t_bg { background-image: url(/images/frontpage/event_t.gif); }
.event_m_bg { background-image: url(/images/frontpage/event_m.gif); }
.event_list_t_bg { background-image: url(/images/frontpage/event_event_t.gif); font-size: 14px; font-weight: bold; color: #644B00; }
.event_list_m_bg { background-image: url(/images/frontpage/event_event_m.gif); }
.timetable_t_bg { background-image: url(/images/frontpage/timetable_t.gif); font-size: 14px; font-weight: bold; color: #644B00; }
.timetable_m_bg { background-image: url(/images/frontpage/timetable_m.gif); }
.pastpoll_t_bg { background-image: url(/images/frontpage/pastpoll_t.gif); font-size: 12px; font-weight: bold; color: #FFFFFF;  }
.pastpoll_m_bg { background-image: url(/images/frontpage/pastpoll_m.gif); }
.poll_m_bg { background-image: url(/images/frontpage/poll_m.gif); }
.eclass_directory_tm { background-image: url(/images/frontpage/eclass_directory_mm.gif); }
.eclass_directory_ml { background-image: url(/images/frontpage/eclass_directory_ml.gif); }
.eclass_directory_mm { background-image: url(/images/frontpage/eclass_directory_mm.gif); }
.eclass_directory_mr { background-image: url(/images/frontpage/eclass_directory_mr.gif); }
.eclass_directory_bm { background-image: url(/images/frontpage/eclass_directory_bm.gif); }
.campusmail_edge1 { background-image: url(/images/frontpage/campusmail/edge1.gif); }
.campusmail_edge2 { background-image: url(/images/frontpage/campusmail/edge2.gif); }
.campusmail_edge3 { background-image: url(/images/frontpage/campusmail/edge3.gif); }
.campusmail_edge4 { background-image: url(/images/frontpage/campusmail/edge4.gif); }
.campusmail_edge5 { background-image: url(/images/frontpage/campusmail/edge5.gif); }
.campusmail_edge6 { background-image: url(/images/frontpage/campusmail/edge6.gif); }
.campusmail_edge7 { background-image: url(/images/frontpage/campusmail/edge7.gif); }
.campusmail_edge8 { background-image: url(/images/frontpage/campusmail/edge8.gif); }
.campusmail_edge9 { background-image: url(/images/frontpage/campusmail/edge9.gif); }
.campusmail_edge10 { background-image: url(/images/frontpage/campusmail/edge10.gif); }
.campusmail_frame1 { background-image: url(/images/frontpage/campusmail/frame1.gif); }
.campusmail_frame2 { background-image: url(/images/frontpage/campusmail/frame2.gif); }
.campusmail_frame3 { background-image: url(/images/frontpage/campusmail/frame3.gif); }
.campusmail_frame4 { background-image: url(/images/frontpage/campusmail/frame4.gif); }
.campusmail_frame5 { background-image: url(/images/frontpage/campusmail/frame5.gif); }
.campusmail_frame6 { background-image: url(/images/frontpage/campusmail/frame6.gif); }
.campusmail_frame7 { background-image: url(/images/frontpage/campusmail/frame7.gif); }
.campusmail_frame8 { background-image: url(/images/frontpage/campusmail/frame8.gif); }
.campusmail_attachment_m { background-image: url(/images/frontpage/campusmail/attachment_middle.gif); }
.campusmail_namelist_m { background-image: url(/images/frontpage/campusmail/namelist_middle.gif); }
.campusmail_darkgreen { background-color: #8CC924; }
.campusmail_green { background-color: #DDEF5D; }
.campusmail_lightgreen { background-color: #F2F8CA; }
.group_bulletin, a.group_bulletin:link, a.group_bulletin:visited, a.group_bulletin:hover, a.group_bulletin:active { color : #000000; }
.admin_bg { background-image: url(/images/admin/bg.gif); }
.admin_bg2 { background-image: url(/images/admin/bg2.gif); }
.admin_bg_menu { background-color: #D2C3A6; background-image: url(/images/admin/table_head_bg.gif); /* #90BF75 */}
.admin_head, .admin_level2, .admin_level3, .admin_level2_link, .admin_level3_link { font-family: Tahoma, Arial, Verdana, Mingliu, Sans-Serif;}
.admin_level2, .admin_level3, .admin_level2_link, .admin_level3_link { font-size: 12px; }
.admin_head { font-size: 14px; color: #000000; }
.admin_level2 { background-image: url(/images/admin/level2.gif); font-weight: bold; color: #FFFFFF; }
.admin_level3 { background-image: url(/images/space.gif); color: #FFFFFF; }
.admin_level2_link { font-weight: bold; color: #FFFFFF; }
.admin_level3_link { color: #FFFFFF; }
a.admin_level2_link:link, a.admin_level2_link:visited, a.admin_level2_link:hover, a.admin_level2_link:active { color : #FFFFFF; text-decoration:none; }
a.admin_level3_link:link, a.admin_level3_link:visited, a.admin_level3_link:active { color : #79D079; text-decoration:none; }
a.admin_level3_link:hover { color : #DEEF5A; text-decoration:none; }
.headericon { vertical-align: "middle"; text-align: "center"; background-image: url(/images/header/bar_cell.gif); font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size:10px; font-weight: bold}
.headerdate { vertical-align: "middle"; font-family: "Verdana","Arial", "Helvetica", "sans-serif"; font-size: 12px;}
.footer { vertical-align: "bottom"; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 9px}
.h1 { font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold}
.functionlink { font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px;}
a.functionlink { font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; text-decoration:underline}
a.functionlink:link, a.functionlink:active,a.functionlink:visited { font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; text-decoration:underline}
a.functionlink:hover { text-decoration:none }
.body { font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體"; font-size: 13px; line-height: 18px}
.decription {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 11px;}
.bodylink {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 13px; color: #006600;}
a.bodylink {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 13px; color: #006600; text-decoration: underline}
.tipborder {
 BACKGROUND-COLOR: #C0C0C0;
}
.tipbg {
 BACKGROUND-COLOR: #FFFFE7;
}
.td_bottom { vertical-align: "bottom";}
.cloud { background-image: url(/images/header/cloud.gif); text-align: center; vertical-align:middle;}
.td_header { vertical-align: "bottom"; text-align: "center";}
.td_header2 { background-image: url(/images/header/bar_cell.gif); vertical-align: "bottom"; text-align: "center";}
.td_corner { vertical-align: "bottom"; text-align:"right"; }
.cal_head { background-image: url(/images/index/cal_tab.gif); }
.cal_tb { background-image: url (/images/index/cal_tbbg.gif); }
.td_left_middle { text-align:"left"; vertical-align:"middle"; }
.td_right_middle { text-align:"right"; vertical-align:"middle"; }
.td_center_middle { text-align:"center"; vertical-align:"middle"; }
.td_center_middle_h1 { text-align:"center"; vertical-align:"middle"; font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold }
.td_middle_h1 { vertical-align:"middle"; font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold }
.td_center_bottom {vertical-align: "bottom"; text-align:"center";}
.cal_tb2 { background-image: url (/images/index/cal_tbbg2.gif); }
.group_title { text-align:"left"; vertical-align:"middle"; font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold}
.popup_top { background-image: url (/images/groupinfo/popup_toptbbg.gif); text-align:left; }
.popup_topcell { background-image: url(/images/groupinfo/popup_topcellbg.gif); text-align:left; vertical-align:middle; font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體"; font-size: 13px; line-height: 18px}
.title_head { vertical-align: "middle"; font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold}
.nothing {}
.td_description { vertical-align: "middle";  font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 11px;}
.td_body {vertical-align:"bottom"; font-family: "Verdana", "Arial", "Helvetica", "sans-serif","新細明體"; font-size: 13px; line-height: 18px}
.welcome {background-image: url(/images/index/welcomebg.gif); text-align:"center"; vertical-align:"middle"; }
.numberlist {list-style: inside; list-style-type: decimal}
.holiday_tab {font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px; font-weight: bold; text-align: "center"; vertical-align:"middle"; background-image: url(/images/resourcesbooking/tab_green.gif); }
.weekday_tab {font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px; font-weight: bold; text-align: "center"; vertical-align:"middle"; background-image: url(/images/resourcesbooking/tab_blue.gif); }
.holiday {font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold; text-align: "center"; background-image: url(/images/resourcesbooking/tab_green_cell.gif); }
.weekday {font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold; text-align: "center"; background-image: url(/images/resourcesbooking/tab_blue_cell.gif); }
a.daytext {color: #000099}
a.daytext:link {color: #000099}
a.daytext:visited {color: #000099}
a.daytext:active {color: #000099}
a.daytext:hover {color: #7D87D8}
.acheadericon {font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size:10px; font-weight: bold}
.acheadercell {vertical-align: "middle"; text-align: "center"; background-image: url(/images/header_myaccount/greycolorcell_bg.gif);}
.acheaderline {vertical-align: "middle"; text-align: "right"; background-image: url(/images/header_myaccount/greylinecell_bg.gif);}
.homework_bind {background-image: url(/images/homeworklist/blinding.gif)}
.homework_dark_class {vertical-align: "middle"; background-image: url(/images/homeworklist/tab_darkcell.gif); font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; line-height: 15px; font-weight: bold}
.homework_light_class {vertical-align: "middle"; background-image: url(/images/homeworklist/tab_lightcell.gif); font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; line-height: 15px; font-weight: bold}
.homework_cal_week_bg_left {background-image: url(/images/homeworklist/cal_cellbg_left.gif);}
.homework_cal_week_bg_right {background-image: url(/images/homeworklist/cal_cellbg_right.gif);}
.homework_cal_week_date_bg_cell {background-image: url(/images/homeworklist/cal_date_tab_cellbg.gif); vertical-align: middle;}
.homework_cal_week_date_bg_cell2 {background-image: url(/images/homeworklist/cal_date_tab_cellbg2.gif);}
.homework_cal_week_date_bg_cell3 {background-image: url(/images/homeworklist/cal_date_tab_cellbg3.gif);}
.homework_cal_month_tab_bg_cell1 {background-image: url(/images/homeworklist/month_tab_cellbg_1.gif); }
.homework_cal_month_tab_bg_cell2 {background-image: url(/images/homeworklist/month_tab_cellbg_2.gif); }
.homework_cal_month_cell_bg0 {background-color: "#F2FFF9";}
.homework_cal_month_cell_bg1 {background-color: "#D4F9E8";}
.homework_cal_month_cell_today {background-color: "#FCF3DB";}
a.bodylink { font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 13px; color: #006600; text-decoration: underline}
.tv { text-align:"center"; vertical-align:"middle"; background-color: #000000 }
.profile_header {text-align: "center"; font-size: 12px; font-weight: bold; text-decoration:underline}
.welcome_top1 {background-image: url(/images/index/wel_top1bg.gif)}
.welcome_top2 {background-image: url(/images/index/wel_top2bg.gif)}
.welcome_cell1 {background-image: url(/images/index/wel_cell1.gif)}
.welcome_cell2 {background-image: url(/images/index/wel_cell2.gif)}
.welcome_cell3 {background-image: url(/images/index/wel_cell3.gif)}
.welcome_bottom1 {background-image: url(/images/index/wel_bottom1bg.gif)}
.welcome_bottom2 {background-image: url(/images/index/wel_bottom2bg.gif)}
.qb_on_tab {color: #0035CC; text-align:"center"; vertical-align:"middle"; background-image: url(/images/groupinfo/sbqb_tab_a.gif); font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold }
.qb_off_tab {color: #999999; text-align:"center"; vertical-align:"middle"; background-image: url(/images/groupinfo/sbqb_tab_b.gif); font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold }
a.qb_on_font {color: #0035CC}
a.qb_on_font:hover {color: #0035CC}
a.qb_on_font:visited {color: #0035CC}
a.qb_on_font:active {color: #0035CC}
a.qb_off_font {color: #999999}
a.qb_off_font:hover {color: #999999}
a.qb_off_font:visited {color: #999999}
a.qb_off_font:active {color: #999999}
.qb_tableheader {background-image: url(/images/groupinfo/sbqb_inframecellbg.gif); color: #FFFFFF; font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體"; font-size:13px; font-weight: bold}
a.qb_tableheader:link {color: #FFFFFF}
a.qb_tableheader:hover {color: #FFFFFF}
a.qb_tableheader:visited {color: #FFFFFF}
a.qb_tableheader:active {color: #FFFFFF}
.admin_level3_link_new {
        font-family: serif, Georgia, Arial, Verdana, Mingliu;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: white;
}
a.admin_level3_link_new:link, a.admin_level3_link_new:visited, a.admin_level3_link_new:active {
        color: white;
}
a.admin_level3_link_new:hover {
        color: yellow;
        text-decoration: none;
}
.admin_title {
        font-family: serif, Georgia, Arial, Verdana, Mingliu;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #555555;
}
a.admin_title:link, a.admin_title:visited, a.admin_title:active {
        color: #555555;
}
a.admin_title:hover {
        color: #111111;
}
.extraInfo {
        color: #777777;
}
.subTitle {
        font-family: Verdana, serif, Georgia, Arial, Mingliu;
        font-size: 11pt;
        letter-spacing: 0.2em;
        color: #425BF1;
}
.tableTitle_new {
        font-family: Verdana, serif, Georgia, Arial, Mingliu;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #222222;
        background-color: #EEEEEE;
}
.tableColor {
        font-family: Verdana, serif, Georgia, Arial, Mingliu;
        font-size: 12px;
        background-color: #51A3E8;
}

.tableColor2 {
        font-family: Verdana, serif, Georgia, Arial, Mingliu;
        font-size: 12px;
        background-color: #51A3E8;
        color: #FFFFFF;
}
.hr_sub_separator {
        color: #999999;
        border: dotted dashed;
}
.functionlink_new { letter-spacing: 0.2em; font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; color: #B75CAD;}
a.functionlink_new { font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; text-decoration:underline}
a.functionlink_new:link, a.functionlink_new:active,a.functionlink_new:visited { color: #B222F5;}
a.functionlink_new:hover { color: #01519C; }
.functionlink_warn { letter-spacing: 0.2em; font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; color: #FF0000;}
a.functionlink_warn { font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; text-decoration:underline}
a.functionlink_warn:link, a.functionlink_warn:active,a.functionlink_warn:visited { color: #FF0000;}
a.functionlink_warn:hover { color: #FF0000; }
.list_link { font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; color: #B75CAD;}
a.list_link { font-family: "Verdana","Arial", "Helvetica", "sans-serif", "新細明體"; font-size: 12px; text-decoration:underline}
a.list_link:link, a.list_link:active,a.list_link:visited { color: #B222F5;}
a.list_link:hover { color: #01519C; }
.groupboard_left {background-image: url(/images/groupinfo/board_cellbg_left.gif);}
.groupboard_right {background-image: url(/images/groupinfo/board_cellbg_right.gif);}
.groupboard_top {background-image: url(/images/groupinfo/board_cellbg_top.gif);}
.groupboard_bottom {background-image: url(/images/groupinfo/board_cellbg_bottom.gif);}
.signed { background-color: #D4F3E2; color: #000000 }
.unsigned { background-color: #FFD4A4; color: #FF3300}
.signedbyother { background-color: #D4F3E2; color: #000000}
.survey_list_bg_left {background-image: url(/images/survey/frame_cellbg_left.gif);}
.survey_list_bg_right {background-image: url(/images/survey/frame_cellbg_right.gif);}
.survey_list_bg_bottom {background-image: url(/images/survey/frame_cellbg_bottom.gif);}
.eca_top {background-image: url(/images/eca/board_top_cellbg.gif); }
.eca_bottom {background-image: url(/images/eca/board_bottom_cell.gif); }
.eca_left {background-image: url(/images/eca/board_cellbg_left.gif); }
.eca_right {background-image: url(/images/eca/board_cellbg_right.gif); }
.organization_admin_cell_top {background-image: url(/images/organization/admin_cell_top.gif); text-align: left; vertical-align: top;}
.organization_admin_cell_left {background-image: url(/images/organization/admin_cell_left.gif);}
.organization_admin_cell_bg {background-image: url(/images/organization/admin_bg.gif); text-align: center; vertical-align: top;}
.organization_admin_cell_right {background-image: url(/images/organization/admin_cell_right.gif);}
.organization_admin_cell_bottom {background-image: url(/images/organization/admin_cell_bottom.gif);}
.organization_academic_cell_top {background-image: url(/images/organization/academic_cell_top.gif); text-align: left; vertical-align: top;}
.organization_academic_cell_left {background-image: url(/images/organization/academic_cell_left.gif);}
.organization_academic_cell_bg {background-image: url(/images/organization/academic_bg.gif); text-align: center; vertical-align: top;}
.organization_academic_cell_right {background-image: url(/images/organization/academic_cell_right.gif);}
.organization_academic_cell_bottom {background-image: url(/images/organization/academic_cell_bottom.gif);}
.organization_class_cell_top {background-image: url(/images/organization/class_cell_top.gif); text-align: left; vertical-align: top;}
.organization_class_cell_left {background-image: url(/images/organization/class_cell_left.gif);}
.organization_class_cell_bg {background-image: url(/images/organization/class_bg.gif); text-align: center; vertical-align: top;}
.organization_class_cell_right {background-image: url(/images/organization/class_cell_right.gif);}
.organization_class_cell_bottom {background-image: url(/images/organization/class_cell_bottom.gif);}
.organization_house_cell_top {background-image: url(/images/organization/house_cell_top.gif); text-align: left; vertical-align: top;}
.organization_house_cell_left {background-image: url(/images/organization/house_cell_left.gif);}
.organization_house_cell_bg {background-image: url(/images/organization/house_bg.gif); text-align: center; vertical-align: top;}
.organization_house_cell_right {background-image: url(/images/organization/house_cell_right.gif);}
.organization_house_cell_bottom {background-image: url(/images/organization/house_cell_bottom.gif);}
.organization_eca_cell_top {background-image: url(/images/organization/eca_cell_top.gif); text-align: left; vertical-align: top;}
.organization_eca_cell_left {background-image: url(/images/organization/eca_cell_left.gif);}
.organization_eca_cell_bg {background-image: url(/images/organization/eca_bg.gif); text-align: center; vertical-align: top;}
.organization_eca_cell_right {background-image: url(/images/organization/eca_cell_right.gif);}
.organization_eca_cell_bottom {background-image: url(/images/organization/eca_cell_bottom.gif);}
.organization_others_cell_top {background-image: url(/images/organization/others_cell_top.gif); text-align: left; vertical-align: top;}
.organization_others_cell_left {background-image: url(/images/organization/others_cell_left.gif);}
.organization_others_cell_bg {background-image: url(/images/organization/others_bg.gif); text-align: center; vertical-align: top;}
.organization_others_cell_right {background-image: url(/images/organization/others_cell_right.gif);}
.organization_others_cell_bottom {background-image: url(/images/organization/others_cell_bottom.gif);}
.tv_title {
 text-align: "center";
 vertical-align: "middle";
 background-image: url(/images/intranet_campustv/moviename_bg.gif);
}
.tv_link_new {
        font-family: serif, Georgia, Arial, Verdana, Mingliu;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: white;
}
a.tv_link_new:link, a.tv_link_new:visited, a.tv_link_new:active {
        color: white;
}
a.tv_link_new:hover {
        color: yellow;
        text-decoration: none;
}
.tv_list_title {
 color: yellow;
 font-weight: bold;
 text-align: center;
 font-size: 14px;
}
a.tv_menu_link:link, a.tv_menu_link:visited, a.tv_menu_link:active, a.tv_menu_link:hover
{
 color: #FBF89F;
 text-align: center;
 font-size: 17px;
}
.tv_recommend_link, a.tv_recommend_link:link, a.tv_recommend_link:visited, a.tv_recommend_link:active, a.tv_recommend_link:hover
{
 color: #FAD296;
 text-align: center;
 font-size: 17px;
}

.tv_mosthit_link, a.tv_mosthit_link:link, a.tv_mosthit_link:visited, a.tv_mosthit_link:active, a.tv_mosthit_link:hover
{
 color: #BEFA96;
 text-align: center;
 font-size: 17px;
}
.tv_mostch_link, a.tv_mostch_link:link, a.tv_mostch_link:visited, a.tv_mostch_link:active, a.tv_mostch_link:hover
{
 color: #96D2FA;
 text-align: center;
 font-size: 17px;
}
.tv_poll_link, a.tv_poll_link:link, a.tv_poll_link:visited, a.tv_poll_link:active, a.tv_poll_link:hover
{
 color: #85E9FB;
 text-align: center;
 font-size: 17px;
}
.tv_poll_cell_left {
 vertical-align: top;
 background-image: url(/images/intranet_campustv/poll_cell_left.gif)
}
.tv_poll_cell_right {
 vertical-align: bottom;
 background-image: url(/images/intranet_campustv/poll_cell_right.gif)
}
.tv_poll_cell_bottom {
 background-image: url(/images/intranet_campustv/poll_cell_bottom.gif)
}
.tv_poll_fun_cell_top {
 background-image: url(/images/intranet_campustv/fuc_cell_t.gif)
}
.tv_poll_fun_cell_left {
 background-image: url(/images/intranet_campustv/fuc_cell_l.gif)
}
.tv_poll_fun_cell_right {
 vertical-align: bottom;
 background-image: url(/images/intranet_campustv/fuc_cell_r.gif)
}
.tv_poll_fun_cell_bottom {
 background-image: url(/images/intranet_campustv/fuc_cell_b.gif)
}
.tv_poll_name, a.tv_poll_name:link, a.tv_poll_name:visited, a.tv_poll_name:active, a.tv_poll_name:hover
{
 color: #85E9FB;
}
.tv_poll_bar2 {
 background-image: url(/images/intranet_campustv/poll_bar2.gif)
}
.tv_poll_bar {
 background-image: url(/images/intranet_campustv/poll_bar.gif)
}
.intranet_tv_movie_title {
 text-align: right;
 vertical-align: middle;
 background-image: url(/images/campus_tv/tv_graphic3.gif);
}
.intranet_tv_movie {
 text-align: center;
 vertical-align: middle;
 background-image: url(/images/campus_tv/tv_tv5.jpg);
}
.intranet_tv_bottom {
 text-align: right;
 vertical-align: middle;
 background-image: url(/images/campus_tv/tv_graphic9.jpg);
}
.intranet_tv_menu {
 text-align: left;
 vertical-align: top;
 background-image: url(/images/campus_tv/main_graphic5.jpg);
}
.intranet_tv_other_cell_left {
 background-image: url(/images/campus_tv/other_cell_left.jpg);
}
.intranet_tv_other_cell_right {
 background-image: url(/images/campus_tv/other_cell_right.jpg);
}
.intranet_tv_poll_result_bg {
 background-image: url(/images/campus_tv/poll_bar.gif);
}
.enotice_board_cell {
 background-image: url(/images/enotice/board_cell.gif);
 vertical-align: middle
}
.enotice_cell_left {
 background-image: url(/images/enotice/notice_cell_left.gif)
}
.enotice_cell_right {
 background-image: url(/images/enotice/notice_cell_right.gif)
}
.enotice_cell_left_g {
 background-image: url(/images/enotice/popup_cell_left_g.gif)
}
.enotice_cell_right_g {
 background-image: url(/images/enotice/popup_cell_right_g.gif)
}
.enotice_cell_left_y {
 background-image: url(/images/enotice/popup_cell_left_y.gif)
}
.enotice_cell_right_y {
 background-image: url(/images/enotice/popup_cell_right_y.gif)
}
.filecabinet_cell {
 background-image: url(/images/myaccount_filecabinet/locationbg_cell.gif);
 text-align: center;
}
.admin_center_main_top { background-image: url(/images/admin_center/main_top_m.gif)}
.admin_center_main_bottom {background-image: url(/images/admin_center/main_btm_m.gif) }
.admin_center_main_cell_l { background-image: url(/images/admin_center/main_cell_l.gif) }
.admin_center_main_cell_r { background-image: url(/images/admin_center/main_cell_r.gif) }
.admin_center_main_bg {background-image: url(/images/admin_center/main_bg.gif) }
.admin_center_announcement_top_m {background-image: url(/images/admin_center/top_m.gif) }
.admin_center_announcement_tableTitle {background-color: #D0C68F}
.admin_center_announcement_tableContent {background-color: #FFEFB8}
.admin_center_announcement_tableContent2 {background-color: #FCF2CF}

.announcement_pop_cell_top {background-image: url(/images/index/popannounce_cell_t.gif) }
.announcement_pop_cell_bottom {background-image: url(/images/index/popannounce_cell_b.gif) }
.announcement_pop_cell_left {background-image: url(/images/index/popannounce_cell_l.gif) }
.announcement_pop_cell_right {background-image: url(/images/index/popannounce_cell_r.gif) }

.announcement_stat_cell_left {background-image: url(/images/groupinfo/viewstatics_cell_l.gif) }
.announcement_stat_cell_right {background-image: url(/images/groupinfo/viewstatics_cell_r.gif) }
.announcement_stat_cell_bottom {background-image: url(/images/groupinfo/viewstatics_cell_b.gif) }

.card_attend_cellbg {
 background-image: url(/images/profile/personal_schrecord/attendence_p_cellbg.gif);
 vertical-align: bottom
}
.card_attend_cell_r {
 background-image: url(/images/profile/personal_schrecord/attendence_p_cell_r.gif)
}
.card_attend_cell_l {
 background-image: url(/images/profile/personal_schrecord/attendence_p_cell_l.gif)
}
.card_attend_cell_bottom {
 background-image: url(/images/profile/personal_schrecord/attendence_p_cell_b.gif)
}

.alumni_header_badgebg{
 background-image: url(/images/alumni/header/bg_badge.gif)
 }

 .alumni_header_bannerbg1{
background-image: url(/images/alumni/header/graphic1.gif)
 }
  .alumni_header_bannerbg2{
background-image: url(/images/alumni/header/graphic2.gif)
 }

.alumni_index_announcementbg{
 background-image: url(/images/alumni/main/announcement_topbar.gif)
 }

.alumni_next_page_cellbg{
 vertical-align: middle;
 background-image: url(/images/alumni/page_m.gif)
 }
.alumni_general_table_cellbg_left {
 background-image: url(/images/alumni/tb_cell_l.gif)
}
.alumni_general_table_cellbg_right {
 background-image: url(/images/alumni/tb_cell_r.gif)
}
.alumni_general_table_cellbg_upper {
 background-image: url(/images/alumni/tb_cell_t.gif)
 }
.alumni_general_table_cellbg_lower {
 background-image: url(/images/alumni/tb_cell_b.gif)
 }

.alumni_index_dottedline {
 background-image: url(/images/alumni/main/dottedline.gif)
 }
.13-white{
        font-family: "Verdena", "Arial",  "Helvetica", "Mingliu", "Sans-Serif";
        font-size: 13px;
        color: #FFFFFF;
}
 .13-black{
        font-family: "Verdena", "Arial", "Helvetica", "Mingliu", "Sams-Serif";
        font-size: 13px;
        color: #000000;
}
.13-black-bold{
        font-family: "Verdena", "Arial", "Helvetica", "Mingliu", "Sams-Serif";
        font-size: 13px;
        font-weight: bold;
        color: #000000;
}
.11-white-bgBlue{
        font-family: "Verdena", "Arial",  "Helvetica", "Mingliu", "Sans-Serif";
        font-size: 11px;
        color: #FFFFFF;
        background-color: #226DD0;
}
.13-blue{
        font-family: "Verdena", "Arial",  "Helvetica", "Mingliu", "Sans-Serif";
        font-size: 13px;
        color: #003296
}
.11-grey{
        font-family: "Verdena", "Arial",  "Helvetica", "Mingliu", "Sans-Serif";
        font-size: 11px;
        color: #505050
}
.11-black{
        font-family: "Verdena", "Arial",  "Helvetica", "Mingliu", "Sans-Serif";
        font-size: 11px;
        color: #000000
}
.imail_popup_green_cell_t {
 background-image: url(/images/frontpage/imail/popupgreen_cell_t.gif)
}
.imail_popup_green_cell_b {
 background-image: url(/images/frontpage/imail/popupgreen_cell_b.gif)
}
.imail_popup_green_cell_l {
 background-image: url(/images/frontpage/imail/popupgreen_cell_l.gif)
}
.imail_popup_green_cell_r {
 background-image: url(/images/frontpage/imail/popupgreen_cell_r.gif)
}
.imail_popup_pink_cell_t {
 background-image: url(/images/frontpage/imail/popuppink_cell_t.gif)
}
.imail_popup_pink_cell_b {
 background-image: url(/images/frontpage/imail/popuppink_cell_b.gif)
}
.imail_popup_pink_cell_l {
 background-image: url(/images/frontpage/imail/popuppink_cell_l.gif)
}
.imail_popup_pink_cell_r {
 background-image: url(/images/frontpage/imail/popuppink_cell_r.gif)
}
.imail_popup_blue_cell_t {
 background-image: url(/images/frontpage/imail/popupblue_cell_t.gif)
}
.imail_popup_blue_cell_b {
 background-image: url(/images/frontpage/imail/popupblue_cell_b.gif)
}
.imail_popup_blue_cell_l {
 background-image: url(/images/frontpage/imail/popupblue_cell_l.gif)
}
.imail_popup_blue_cell_r {
 background-image: url(/images/frontpage/imail/popupblue_cell_r.gif)
}

.ecircular_board_cell {
 background-image: url(/images/ecircular/board_cell.gif);
 vertical-align: middle
}
.ecircular_cell_t {
 background-image: url(/images/ecircular/ecircular_cell_t.gif);
}
.ecircular_cell_left {
 background-image: url(/images/ecircular/ecircular_cell_l.gif)
}
.ecircular_cell_right {
 background-image: url(/images/ecircular/ecircular_cell_r.gif)
}
.ecircular_cell_left_o {
 background-image: url(/images/ecircular/popup_cell_l_o.gif)
}
.ecircular_cell_right_o {
 background-image: url(/images/ecircular/popup_cell_r_o.gif)
}
.ecircular_cell_left_y {
 background-image: url(/images/ecircular/popup_cell_l_y.gif)
}
.ecircular_cell_right_y {
 background-image: url(/images/ecircular/popup_cell_r_y.gif)
}

/*
.attendance_late { background-color: #D4F3E2; color: #000000 }
.attendance_norecord { background-color: #FFD4A4; color: #FF3300}
.attendance_outing  { background-color: #00FFFF; color: #FF3300}
*/

.attendance_late { background-color:#C4EBF7; color: #000000 }
.attendance_norecord { background-color:#FAC5C6; color: #000000} /* absent */
.attendance_outing  { background-color: #E1F49F; color: #000000}


.homework_handin {  }
.homework_no_handin { background-color: #FFD4A4; color: #FF3300}
.homework_no_need_handin  { background-color: #00FFFF; color: #FF3300}


.parent_popup_title {
 background-color: #80B7E8;
 color: #17378B
}
.discipline_submenu_title {
 color: orange;
 font-size: 17px;
 font-weight: bold;
}
.discipline_submenu_item {
}
a.discipline_submenu_item:link,a.discipline_submenu_item:active,a.discipline_submenu_item:visited
{
 color: #0000FF;
}
a.discipline_submenu_item:hover {
 color: #0000FF;
 text-decoration:underline;
}
.smartcard_button_bg {
 background-image: url(/images/profile/smartcard/btn_bg.gif);
 vertical-align: middle
}
.smartcard_teacher_only_button_bg {
 background-image: url(/images/profile/smartcard/btn_bg_red.gif);
 vertical-align: middle
}
.button_link {
        font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
        font-size: 12px;
        text-decoration: none;
        color: #000099;
}
a.button_link:link , a.button_link:visited, a.button_link:active {
        font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
        font-size: 12px;
        text-decoration: none;
        color: #000099;
}
a.button_link:hover {
        font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
        font-size: 12px;
        text-decoration: underline;
        color: #993399;
}
.smartcard_title {
        font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
        font-size: 18px;
        color: #663399;
        font-weight: bold;
}

.smartcard_title_bg {
 background-image: url(/images/profile/smartcard/title_monthly_rec_bg.gif);
 vertical-align: bottom;
}
.student_profile_title {
 font-family: "Arial";
 font-size: 14px;
 font-weight: bold;
 color: #3E5EAC;
}
/*** for admin console printer friendly page ***/
.adminPrintPageTitle {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}
.adminPrintPageText,.adminPrintPageTableContent,.adminPrintPageTableContent2 {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 13px;
	color: #000000;
}
.adminPrintPageTableTitle {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 13px;
	color: #000000;
	font-weight:bold;
	background-color: #FFFFFF;
}
.adminPrintPageTable {
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}


.adminPrintPageTableCellBorder{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #333333;
	border-bottom-color: #333333;
}

.adminPrintPageTableTitle2 {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
	background-color: #FFFFFF;
}
.adminPrintPageTableContent3 {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 11px;
	color: #000000;
}
