.jexcel > thead {
	background-color:#ddeeff;
}
.jexcel > tbody > tr > td:first-child {
	/* background-color:#ddeeff; */
}


.isdyn .jexcel > thead {
	background-color:#faefd2;
}
.isdyn .jexcel > tbody > tr > td:first-child {
	/* background-color:#faefd2; */
}

thead.jexcel_label .jexcel_label { background-color:#dfdfdf; }
.fixedtable_msg { display:none; margin-top:10px; margin-bottom:10px; color:#f00; }
#eForm_errorMsg { color:#f00; text-align:center; line-height:30px; }