@charset "utf-8";
body {
  font-size: 13px;
  color: #333;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
a {
  color: #216bd1;
}
a:focus,
a:hover {
  opacity: .7;
}
*:focus {
  outline: none!important;
  box-shadow: none;
}
.text-right {
  text-align: right!important;
}
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table td,
.table th {
  text-align: left;
}
.table td:first-child,
.table th:first-child {
  padding-left: 1rem;
}
.table-multi-levels {
  vertical-align: top;
  background: #fff;
  border-color: #fff;
  /*btns*/
  /*tick*/
  /*levels*/
}
.table-multi-levels .text {
  display: inline-block;
}
.table-multi-levels tr + tr td {
  border-top: 2px solid #fff;
}
.table-multi-levels thead th {
  border-bottom: 4px solid #aeaeae;
}
.table-multi-levels tbody td {
  background-color: #e9e9e9;
  vertical-align: middle;
  height: 40px;
}
.table-multi-levels tbody:not(:first-of-type) td {
  border-top: 4px solid #fff;
}
.table-multi-levels .c-icon {
  width: 60px;
  text-align: center;
}
.table-multi-levels .c-selected {
  width: 100px;
}
.table-multi-levels .c-input {
  width: 100px;
}
.table-multi-levels .btn-table-expand {
  font-size: 1.8rem;
  padding: .3rem .9rem;
}
.table-multi-levels .btn-table-expand:not(.collapsed) {
  color: #999;
  background: none;
}
.table-multi-levels .btn-table-expand:before {
  color: #aeaeae;
  content: "\f0d7";
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  display: inline-block;
}
.table-multi-levels .btn-table-expand:not(.collapsed):before {
  content: "\f0d8";
}
.table-multi-levels .btn-table-expand:hover,
.table-multi-levels .btn-table-expand:focus {
  opacity: .7;
  color: #999;
}
.table-multi-levels .btn-table-expand:not(.collapsed):hover,
.table-multi-levels .btn-table-expand:not(.collapsed):focus {
  opacity: .7;
  color: #999;
}
.table-multi-levels .btn-edit {
  font-size: 1rem;
  padding: .3rem .9rem;
  color: #7a7a7a;
}
.table-multi-levels .btn-edit:hover {
  opacity: .7;
}
.table-multi-levels .btn-select {
  font-size: 1.3rem;
  padding: .3rem .9rem;
  position: relative;
}
.table-multi-levels .btn-select:before {
  color: #ddd;
  content: "\f0c8";
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  display: inline-block;
}
.table-multi-levels .btn-select.selected:not(.all):after {
  font-size: .9rem;
  color: #44ab42;
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 1.05rem;
  top: .55rem;
}
.table-multi-levels .btn-select.all.selected:before {
  color: #44ab42;
  content: "\f14a";
}
.table-multi-levels .indent {
  width: 13px;
  display: inline-block;
  color: #44ab42;
  margin-right: 1rem;
}
.table-multi-levels .indent.not-ready {
  color: #a0a0a0;
}
.table-multi-levels .collapsible:not(.show) {
  display: none;
}
.table-multi-levels tr.level-1 td {
  background-color: #f3f3f3;
}
.table-multi-levels tr.level-1 td .btn-table-expand {
  font-size: 1.3rem;
  padding: .3rem 1rem;
}
.table-multi-levels tr.level-1 td .btn-table-expand:before {
  content: "\f0d7";
}
.table-multi-levels tr.level-1 td .btn-table-expand:not(.collapsed):before {
  content: "\f0d8";
}
.table-multi-levels tr.level-1 td .indent {
  margin-left: 2rem;
}
.table-multi-levels tr.level-2 td {
  background-color: #fff;
}
.table-multi-levels tr.level-2 td .indent {
  margin-left: 4rem;
}
.table-multi-levels tr.level-3 td {
  /*just in case*/
  background-color: #fff;
}
.table-multi-levels tr.level-3 td .indent {
  margin-left: 6rem;
}
.legend {
  color: #666;
}
.legend span {
  vertical-align: middle;
}
.table-multi-levels .table-multi-levels .c-tick {
  width: 2rem;
}
