@charset "UTF-8";

html, body, table, select, input, textarea, td, .tabletext, .submenu, .menuon,
.tabletoplink, .tablelink, .contenttitle, .title, .file, .formbutton,
.stepon, .formObjective, .formRefHeader {
	font-family:Verdana, Arial, Helvetica, 新細明體, 細明體_HKSCS, mingliu, sans-serif;
	/*font-family:Verdana, 微軟正黑體, 新細明體, 細明體_HKSCS, mingliu, Arial, Helvetica, sans-serif;*/
}

.formTitle {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}
.formObjective {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}
.formRefHeader {
	font-size: 10px;
	font-weight: normal;
	font-style: italic;
	color: #000000;
}

.contenttitle { display:block; }
.table_board { text-align:left; }
