<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> eClass IP 2.5 > eLibrary plus</title>
<link href="/templates/2009a/css/content_25.css" rel="stylesheet" type="text/css">
<link href="/templates/2009a/css/elibplus.css" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
</head>
<body>
<div class="module_title"><div class="module_title_icon"><img src="/images/2009a/eLibplus/icon_eLibplus.png" /></div> eLibrary <span>plus</span></div>
<div class="board_content">
    <div class="board_content_top"><div class="board_content_top_right"><div class="board_content_top_bg">
    </div></div></div>
    <div class="board_content_body_long"><div class="board_content_body_right"><div class="board_content_body_long_bg">
	<div class="user_operation">
		<!-- user info start-->

		 <!-- user info end-->
		<div class="user_record_detail">
		    <div class="funtion_content_board">
			<div class="funtion_content_top"><div class="funtion_content_top_right"><div class="funtion_content_top_bg">
				<!-- function button start -->
				<!-- function button end -->
			</div></div></div>
		      <div class="funtion_content_body"><div class="funtion_content_body_right"><div class="funtion_content_body_bg">
							    <div class="HTML_BODY">
								<p class="spacer">&nbsp;</p>
								{{{HTML_BODY}}}
								<p class="spacer">&nbsp;</p>
							    </div>
		      </div></div></div>
			    
		       <div class="funtion_content_bottom"><div class="funtion_content_bottom_right"><div class="funtion_content_bottom_bg">
		      </div></div></div>
		    </div>
		</div>

	<!-- user_record start-->
	<!--user_record end-->
	</div>
    </div></div></div>
</div>

</body>
</html>
