<html>
<body>

<!-- 


$userSendListID = array(1698,1934,1820,1740,1830,1832,1966,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,1739,1767);
for($i=0;$i<20;$i++) {
	$userSendListEmail[] = "a".( time()%$i )."@b$i.com";
}

foreach($userSendListID as $key=>$reciptID) {
	echo $reciptID.": ".htmlspecialchars(str_replace("{{{ Q_KEY }}}", base64_encode("SurveyID=$SurveyID&email=$reciptID&respondentNature=1"), $questionnaireStr)."<br/>");
}

foreach($userSendListEmail as $key=>$reciptEmail) {
	echo $reciptEmail.": ".htmlspecialchars(str_replace("{{{ Q_KEY }}}", base64_encode("SurveyID=$SurveyID&email=$reciptEmail&respondentNature=2"), $questionnaireStr)."<br/>");
}
 -->

1698: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTY5OCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1934: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTkzNCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1820: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTgyMCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1740: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTc0MCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1830: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTgzMCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1832: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTgzMiZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1966: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTk2NiZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2327: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMyNyZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2328: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMyOCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2329: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMyOSZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2330: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzMCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2331: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzMSZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2332: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzMiZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2333: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzMyZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2334: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzNCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2335: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzNSZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2336: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzNiZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2337: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzNyZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2338: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzOCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2339: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjMzOSZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2340: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjM0MCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2341: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjM0MSZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2342: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjM0MiZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2343: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjM0MyZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2344: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjM0NCZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2345: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjM0NSZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>2346: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MjM0NiZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1739: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTczOSZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>1767: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9MTc2NyZyZXNwb25kZW50TmF0dXJlPTE=">The Questionnaire</a><br/>a@b0.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YUBiMC5jb20mcmVzcG9uZGVudE5hdHVyZT0y">The Questionnaire</a><br/>a0@b1.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTBAYjEuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a1@b2.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjIuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a1@b3.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjMuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a1@b4.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjQuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a1@b5.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjUuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a1@b6.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjYuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a6@b7.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTZAYjcuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a5@b8.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTVAYjguY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a4@b9.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTRAYjkuY29tJnJlc3BvbmRlbnROYXR1cmU9Mg==">The Questionnaire</a><br/>a1@b10.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjEwLmNvbSZyZXNwb25kZW50TmF0dXJlPTI=">The Questionnaire</a><br/>a4@b11.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTRAYjExLmNvbSZyZXNwb25kZW50TmF0dXJlPTI=">The Questionnaire</a><br/>a1@b12.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjEyLmNvbSZyZXNwb25kZW50TmF0dXJlPTI=">The Questionnaire</a><br/>a7@b13.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTdAYjEzLmNvbSZyZXNwb25kZW50TmF0dXJlPTI=">The Questionnaire</a><br/>a13@b14.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTEzQGIxNC5jb20mcmVzcG9uZGVudE5hdHVyZT0y">The Questionnaire</a><br/>a1@b15.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTFAYjE1LmNvbSZyZXNwb25kZW50TmF0dXJlPTI=">The Questionnaire</a><br/>a5@b16.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTVAYjE2LmNvbSZyZXNwb25kZW50TmF0dXJlPTI=">The Questionnaire</a><br/>a11@b17.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTExQGIxNy5jb20mcmVzcG9uZGVudE5hdHVyZT0y">The Questionnaire</a><br/>a13@b18.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTEzQGIxOC5jb20mcmVzcG9uZGVudE5hdHVyZT0y">The Questionnaire</a><br/>a9@b19.com: <a href="http://192.168.0.146:31002/home/eLearning/ies/survey/questionnaire.php?key=U3VydmV5SUQ9OTcmZW1haWw9YTlAYjE5LmNvbSZyZXNwb25kZW50TmF0dXJlPTI=">The Questionnaire</a><br/>
</body></html>