@CHARSET "UTF-8";


div#result_body{
	margin: auto;
	width:800px;
}

.cell_bg_blue{
	margin: 0px;
	padding: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #A6A6A6;
	font-weight: normal;
	color: #FFFFFF !important;
	text-align: left;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color : #487db4 !important;	
}

.caption_font{
	font-size: 15pt;
}

.half_half_table *{
	width: 50%
}