body {
	min-width: 1024px;
}
body, html, table, textarea, input {
	font-family: tahoma,arial,sans-serif;
	font-size:13px;
	font-weight:normal;
}

select {
	border: 1px solid #CCCCCC;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	padding: 1px 2px;
}

a:hover {color: #FF0000;}

a img {
	border: 1px solid #CCC;
	padding: 2px;
}

.container_div {
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}

.sub_container_div {
	width: 98%;
}

.dotline {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}

.textboxnum {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	width: 30px;
}

.textboxdate {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
    color: #000000;
    width: 100px;
}

.tabletextremark {
	color: #999999;
}

.counter_text {
	text-align: center;
	vertical-align: top;
	width: 20px;
}

.selectbox_layer{
	background-color: #f3f3f3;
	padding: 3px;
	clear: both;
	float: left;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #999999;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	position: absolute;
	display: none;
}

.info_outer_div {
	width: 100%;
	height: 220px;
}

#sql_info_inner_div {
	padding: 10px;
	/* width: 450px; */
	width: 95%;
	/* height:180px; */
	height: 90%;
}

#history_inner_div {
	padding: 10px;
	width: 90%;
	height: 90%;
}

/* Short Cut */
#short_cut_inner_div {
	padding: 10px;
	width: 95%;
	height: 90%;
}


/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
	History Table
*/
.BlueTable caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}
.BlueTable th td {
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
}
.BlueTable td th {
	padding: 4px;
}
.BlueTable tbody th {
	font-weight: bold;
}
.BlueTable tfoot th, tfoot td {
	font-size: 100%;
}

/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
	Data Set Table
*/
.ResultSetTable {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	width: 100%
}
.ResultSetTable caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}
.ResultSetTable th, td {
	font-size: 85%;
}
.border_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}


/*** Quick Search Left Menu Start ***/
ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15em;
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a {
  background: #917DE9;
  color: #FFFFFF;	
  padding: 0.5em;
}

ul.menu li a:hover {
  background: #7A54D7;
}

ul.menu li ul li a {
  background: #D1C2F7;
  color: #000000;
  padding-left: 20px;
}

ul.menu li ul li a:hover {
  background: #BAA6F0;
  border-left: 5px #000000 solid;
  padding-left: 15px;
}
/*** Quick Search Left Menu End ***/


#quick_search_input_div{
	background-color: #FFFFFF;
	padding: 3px;
	float: left;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #999999;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	width: 365px;
	height: 310px;
	vertical-align: top;
}

#quick_search_input_table tr {
	vertical-align: middle;
}

.quick_search_title {
	color: #6f5dfe;
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

.quick_search_textbox {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	width: 150px;
}

.formsmallbutton {
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#000000;
	height:20px;
	padding-top:1px;
	padding-bottom:2px;
	background-image: url(../images/small_btn_bg.gif);
	background-position:0px -60px; 

}
.formsmallbuttonon {
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#000000;
	height:20px;
	padding-top:1px;
	padding-bottom:2px;
	background-image: url(../images/small_btn_bg.gif);
	background-position:0px -90px;
}

.quick_search_hr {
	color: #6f5dfe;
	background-color: #6f5dfe;
	height: 3px;
}

.remark_grey {
	font-family: 'Arial';
	font-size: 12px;
	color: #999999;
}

.draggable_div {
	cursor: move;
	background-color: #FFFFFF;
	width: 500px;
	float: left;
}

.border_left_blue{
	border-left: 1px solid #99BBE8;
}
.border_top_blue{
	border-top: 1px solid #99BBE8;
}