#divBook {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 10px;
	overflow: hidden;
	border: #000000 1px solid;
	padding: 20px;
} 

.multicolumnElement {
    -moz-column-count: 2;
	-moz-column-width: 200px;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-width: 200px;
	-webkit-column-gap: 30px;
	height: 768px;
	position: relative; 
}

.highlight {
	background: #FFFF00;
} 