/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
.footertext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FFFFFF;
}
.footerlink {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FFFF00;
	text-decoration: none;
}
.footerlink:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}
/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/