/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LEFTMENU.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/

.menu {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #606060;
	font-weight: bold;
	text-decoration: none;
}
.menu:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}
.submenu {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #606060;
	text-decoration: none;
}
.submenu:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.menuon {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #2B51A0;
	text-decoration: none;
}
.menuon:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.menubg {
/*	background-image: url(../gimg/leftmenu/btn_off.gif);*/
	background-image: url(../images/2007a//leftmenu/btn_off.gif);
}
.menubgselected {
	background-image: url(../images/2007a/leftmenu/btn_selected.gif);
/*	background-image: url(../gimg/leftmenu/btn_selected.gif);*/
}
.menubgon {
/*	background-image: url(../gimg/leftmenu/btn_on.gif);*/
	background-image: url(../images/2007a/leftmenu/btn_on.gif);
}
.hidemenu {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #656565;
	text-decoration: none;
}
.hidemenu:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #FF0000;
	text-decoration: none;
}
/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LEFTMENU.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/