@charset "utf-8";
/* CSS Document */

body {margin:0; background:#cfeffc}

.preload_area {overflow:hidden; width:1px; height:1px; visibility:hidden;
position:absolute; left:0px; top:0px; z-index:-1 } /*20140806*/
.preload_area div {position:relative}
.border { border:1px red solid }
.free_text {position:absolute; left:0px; top:0px; font-size:1.3em; white-space:nowrap;}
.blockEvent { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.blockMouse { pointer-events:none }

.bg {left:0px; top:0px; position:absolute; width:1024px; height:768px; overflow:hidden;}
.page1_bg {left:0px; top:0px; position:absolute; width:1024px; height:768px; margin:0 auto; position:relative;
background:url(../images/bg_1.jpg);}
.page2_bg {left:0px; top:0px; position:absolute; width:1024px; height:768px; margin:0 auto; position:relative;
background:url(../images/bg_2.jpg);}
.page3_bg {left:0px; top:0px; position:absolute; width:1024px; height:768px; margin:0 auto; position:relative;
background:url(../images/bg_3.jpg);}
.page4_bg {left:0px; top:0px; position:absolute; width:1024px; height:768px; margin:0 auto; position:relative;
background:url(../images/bg_4.jpg);}
.page5_bg {left:0px; top:0px; position:absolute; width:1024px; height:768px; margin:0 auto; position:relative;
background:url(../images/bg_5.jpg);}
.page6_bg {left:0px; top:0px; position:absolute; width:1024px; height:768px; margin:0 auto; position:relative;
background:url(../images/bg_6.jpg);}

.basicBtn { position:absolute; cursor:pointer }
.basicBtn:hover { margin-top:-4px }
.basicBtn:active { margin-top:0px }
.btn_enter { left:365px; top:580px; width:306px; height:188px;
background:url(../images/general.png) -2320px -300px; }
.btn_contin { left:390px; top:580px; width:268px; height:166px;
background:url(../images/general.png) -2050px -360px; }
.btn_start { left:310px; top:530px; width:418px; height:228px; position:absolute; cursor:pointer;
background:url(../images/general.png) -808px 0px; }
.btn_start:hover { background-position:-808px -228px }
.btn_back { width:355px; height:105px; cursor:pointer; margin-left:250px;
background:url(../images/general.png) -2045px -105px; }
.btn_back:hover { background-position:-2045px 0px }
.btn_next { width:225px; height:98px; cursor:pointer; margin-left:570px;
background:url(../images/general.png) -2050px -250px; }
.btn_next:hover { margin-top:-4px }
.btn_next:active { margin-top:0px }


.count_text { left:55px; top:190px; position:absolute; width:630px; height:400px;
font-size:330px; font-family:Tahoma, Arial, "Times New Roman", serif; text-align:right; white-space:nowrap;
	color: #C11B39;
    text-shadow:
    -5px -5px 0 #fff,
    5px -3px 0 #aaa,
    -3px 4px 0 #999,
    5px 5px 0 #999;
}
.count_text div { position:relative; display:inline-block; margin-right:-80px; }
.count_text .t1 { font-size:0.8em; color:#65C513; }
.count_text .t2 { font-size:0.87em; color:#DDCC20; }
.count_text .t3 { font-size:0.93em; color:#E58938; }
.p2_text_person { left:770px; top:350px; width:182px; height:188px; position:absolute;
background:url(../images/general.png) -1850px -350px; }
.p2_cloud  { left:655px; top:450px; width:124px; height:79px; position:absolute;
background:url(../images/general.png) -1400px -450px; }

.p3_select_gp { position:absolute; width:230px; height:300px; }
.p3_select_gp.posL {left:30px; top:220px}
.p3_select_gp.posM {left:370px; top:120px}
.p3_select_gp.posR {left:720px; top:320px}
.p3_select_gp.posV1 {margin-top:90px}
.p3_select_gp.posV2 {margin-top:50px}
.p3_select_gp btngp { position:relative; width:273px; height:90px; display:block; cursor:pointer }
.p3_select_gp btngp:hover { margin-top:-3px; margin-bottom:3px }
.p3_select_gp btngp:active { margin-top:0px; margin-bottom:0px }
.p3_select_gp div { position:absolute; width:273px; height:160px; pointer-events:none; margin-top:-50px }
.p3_select_gp div.disable { background-position-y:-160px; }
.p3_select_gp .fullday { background:url(../images/general.png) -1226px 0px; }
.p3_select_gp .halfday { background:url(../images/general.png) -1226px 0px; }
.p3_select_gp .morning { background:url(../images/general.png) -1499px 0px; }
.p3_select_gp .afternoon { background:url(../images/general.png) -1772px 0px; }

.p4_pos_shift { position:absolute; left:-80px; top:60px }
.p4_img_gp { position:absolute; left:370px; top:60px;
transform: scale(0.7, 0.7);
-webkit-transform: scale(0.7, 0.7); }
.p4_gp { left:35px; top:-8px; width:333px; height:90px; position:absolute;
background:url(../images/general.png) -2400px 0px;
transform: rotate(-5deg);
-webkit-transform: rotate(-5deg);}
.p4_gp.gp1 {background-position:-2400px 0px}
.p4_gp.gp2 {background-position:-2400px -90px;}
.p4_gp.gp3 {background-position:-2400px -190px}
.p4_type { left:0px; top:50px; width:416px; height:150px; position:absolute;
background:url(../images/general.png) 0px 0px; }
.p4_type.type1 {background-position:0px 0px}
.p4_type.type2 {background-position:0px -300px}
.p4_type.type3 {background-position:0px -450px}

.p5_img_gp { position:absolute; left:300px; top:125px; }
.p6_gp { left:88px; top:105px; width:120px; height:40px; position:absolute;
background:url(../images/general.png) -450px -550px; }
.p6_gp.gp1 {background-position:-450px -550px}
.p6_gp.gp2 {background-position:-600px -550px}
.p6_gp.gp3 {background-position:-750px -550px}
.p6_type { left:210px; top:99px; width:115px; height:50px; position:absolute;
background:url(../images/general.png) -2630px -300px; }
.p6_type.type1 {background-position:-2630px -350px}
.p6_type.type2 {background-position:-2630px -400px}
.p6_type.type3 {background-position:-2630px -450px}
.p6_part { left:278px; top:30px; width:392px; height:100px; position:absolute;
background:url(../images/general.png) -416px 0px; }
.p6_part.part1 {background-position:-416px 0px}
.p6_part.part2 {background-position:-416px -100px}
.p6_part.part3 {background-position:-416px -200px}
.p6_part.part4 {background-position:-416px -300px}
.p6_part .text { width:50px; height:35px; left:322px; top:18px; position:absolute; color:black;
font-size:34px; font-family:Arial; text-align:center; white-space:nowrap; }

.p6_info_gp { left:80px; top:150px; width:900px; height:84px; position:absolute; }
.p6_info_gp .draw_gp { width:900px; height:auto; position:relative; }
.p6_info_gp .draw_obj { width:423px; height:84px; display:inline-block; position:relative;
background:url(../images/general.png) -1230px -350px; margin:0px 20px 20px 0px; }
.p6_info_gp .draw_gp .draw_obj:nth-child(1) { top:30px; }
.p6_info_gp .draw_gp .draw_obj:nth-child(3) { top:30px; }
.p6_info_gp .draw_gp .draw_obj:nth-child(5) { top:30px; }
.p6_info_gp .draw_gp .draw_obj:nth-child(7) { top:30px; }
.p6_info_gp .draw_obj .text { font-size:42px; font-family:Verdana, Arial; width:380px; padding-top:3px;
text-align:center; white-space:nowrap; letter-spacing:5px }

.p6_info_gp .end_gp { position:relative; }
.end_gp .end_line { width:945px; height:66px; margin:10px 0px -10px -40px;
background:url(../images/general.png) -420px -460px; }

.p6_fx_gp { left:70px; top:140px; position:absolute; }
.p6_fx_gp div { position:absolute }
.p6_fx_gp .p6_bee { left:770px; top:-100px; width:172px; height:162px;
background:url(../images/general.png) -1660px -350px; }
.p6_fx_gp .p6_bee.stay {
	animation: bee_stay 0.5s ease-in-out infinite alternate;
	-webkit-animation: bee_stay 0.5s ease-in-out infinite alternate; }
@keyframes bee_stay {
from {} to {left:790px; top:-130px} }
@-webkit-keyframes bee_stay {
from {} to {left:790px; top:-130px} }

.p6_fx_gp .p6_balloon { width:895px; height:591px; }
.p6_fx_gp .p6_balloon.t1 { background:url(../images/ball_1.png); }
.p6_fx_gp .p6_balloon.t2 { background:url(../images/ball_2.png); }
.p6_fx_gp .p6_balloon.t3 { background:url(../images/ball_3.png); }
.p6_fx_gp .p6_balloon.t4 { background:url(../images/ball_4.png); }
.p6_fx_gp .p6_balloon.normal {background-position:0px -630px}	/*20140806*/
.p6_fx_gp .p6_balloon.break {top:-30px; height:629px; background-position:0px 0px; opacity:0;
transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5); }
.click_area { left:0px; top:0px; position:absolute; width:1024px; height:768px; cursor:pointer; display:none; } /*20140806*/
.balloon_broken {
	animation: balloon_broken 1s ease-in-out 1;
	-webkit-animation: balloon_broken 1s ease-in-out 1; }
@keyframes balloon_broken {
20% {opacity:1}
60% {transform: scale(1, 1)}
80% {opacity:1}
100% {transform: scale(1, 1)} }
@-webkit-keyframes balloon_broken {
20% {opacity:1}
60% {-webkit-transform: scale(1, 1)}
80% {opacity:1}
100% {-webkit-transform: scale(1, 1)} }

