﻿/* added by lisa -- for 190 writing2.0 直資議會 */
/*This is the New Layout revamp 2014*/

textarea {padding:2px} /*20131227*/
.themename {padding-left:42px; background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_themename.png) no-repeat; width:75%; line-height:25px; margin-top:0px; padding-top:9px; padding-bottom:5px; margin-bottom:-10px} /* 20131227 */
.themename span {font-weight:normal; background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_themename_tail.png) right no-repeat; height:26px; display:inline-block; padding-right:15px} /* 20131227 */

/* layer */
.layer_ex_brief_new {display:inline-block; position:absolute; line-height:19px; margin-top:2px; margin-left:25px; visibility:hidden; z-index:99 ;width:250px; max-height:150px; *margin-top:19px; *margin-left:-106px; text-align:left; background:#fffabe; border:1px solid #ffea73; border-radius:7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; box-shadow: 1px 2px 0px #d5bb2b; -moz-box-shadow: 1px 2px 0px #d5bb2b; -webkit-box-shadow: 1px 2px 0px #d5bb2b; margin-top:20px; z-index:99; margin-left:-40px} /*20131227*/
.layer_ex_brief_new .mid {padding-left:7px} /*20131227*/
.layer_ex_brief_new .mid .right {padding-right:5px} /*20131227*/
.layer_ex_brief_new .mid .content {display:block; padding: 5px;} /*20131227*/

.write_board .sample_new { padding-left: 170px; padding-right:170px;} /*20140103*/
.write_board .sample_new .essay {padding-top:11px; padding-left:10px; padding-right:0px; width:99%;} /*20140103*/
.write_board .sample_new .bubble {float:left; margin-left:-210px; width:207px; clear:right}/*20140103*/
.write_board .sample_new .remarks {float:right; margin-right:-221px; width:165px}/*20140103*/
.write_board .sample_new .remarks_fit {float:right; margin-right:-170px; width:165px; margin-top:100px}/*20140109*/
.write_board .sample_new .paper_template_fit {float:left} /*20140109*/
.remarks ul {list-style-type:none; margin:0; padding:0}/*20131227*/
.remarks ul li {margin-bottom:10px; clear:both}/*20131227*/
.remarks ul li span {width:35px; height:25px; display:inline-block; padding-left:39px; width:auto; padding-top:10px; font-size:1.15em; cursor:pointer; opacity:0.7; filter:alpha(opacity=70)}/*20140113b*/
.remarks ul li h2 {font-size:1em; font-weight:normal; margin-top:0; margin-bottom:3px}/*20140113b*/
.remarks ul li u {font-size:0.9em; text-decoration:none; line-height:18px}/*20140113b*/
.remarks ul li .current {opacity:1; filter:alpha(opacity=100)}/*20140113b*/
.remarks ul li .current h2 {font-size:1em; font-weight:bold}/*20140113b*/
.remarks ul li:hover {cursor:pointer}/*20140113*/
.remarks ul li:hover span {opacity:1; filter:alpha(opacity=100)}/*20140113*/
.remarks #keynote {background:linear-gradient(#efefef, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #c7c7c7; border-radius:7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; box-shadow: 0px 2px 0px #c0c0c0; -moz-box-shadow: 0px 2px 0px #c0c0c0; -webkit-box-shadow: 0px 2px 0px #c0c0c0; width:145px; padding:4px 13px 7px 4px; font-size:0.9em; line-height:16px; margin:0; margin-bottom:15px} /*20131227*/
.remarks #keynote span {font-weight:bold} /*20131227*/

.conceptmap_choice {float:left; margin-right:20px} /*20131227*/
.conceptmap_frame_choice {display:block; border:2px solid #6fcd00; text-align:center; vertical-align:middle; margin-bottom:10px; float:left; padding:50px 0 50px 0; margin-left:18px; margin-top:5px} /*20140103*/
.conceptmap_frame_choice div {background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_step_190.png) left -180px no-repeat;  display:block; height:30px; float:left; margin-left:50px; margin-right:50px;} /*20140103*/
.conceptmap_frame_choice div span{display:block; height:30px; cursor:pointer; color:#000900; padding-left:30px; padding-top:4px; white-space:normal} /*20140103*/
.conceptmap_frame_choice:hover {border:2px solid #5fb000;  background:#f6ffeb} /*20140103*/ 
.conceptmap_frame_choice:hover div {background-position:left -210px} /*20140103*/
.conceptmap_frame_choice:hover div span {color:#000a00;} /*20140103*/
.conceptmap_frame_choice.frame_off {border:2px solid #d6d6d6} /*20140103*/
.conceptmap_frame_choice.frame_off div {background-position:left -240px} /*20140103*/
.conceptmap_frame_choice.frame_off div span {color:#c1c1c1; cursor:default} /*20140103*/
.conceptmap_frame_choice.frame_off:hover {background:#fff} /*20140103*/
.conceptmap_date {margin-left:17px} /*20140103*/
.conceptmap_attach_list {display:block; padding:0; margin:0; list-style-type: none; margin-top:10px} /*20140103*/
.conceptmap_attach_list li {background:url(../../../../images/2020a/w2/icon_attachment2.gif) no-repeat; display:block; padding-left:18px; line-height:20px; clear:both; padding-bottom:5px; color:#666} /*20140103*/


/*Rename 20140103*/
#bubble_left { position: relative; box-shadow: 0px 1px 3px #9e9e9e; -moz-box-shadow: 0px 1px 3px #9e9e9e; -webkit-box-shadow: 0px 1px 3px #9e9e9e; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; width:180px; min-height:32px; font-size:0.9em; line-height:16px; padding:2px 15px 2px 7px;  margin-bottom:3px; margin-top:1px}
#bubble_left span {font-weight:bold}
#bubble_left:after, #bubble_left:before { left: 100%; top: 20px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
#bubble_left:after {border-width: 7px; margin-top: -10px; }
#bubble_left:before {border-width: 9px; margin-top: -11px; }
.bubble_01 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_01.png) #ffc3c3 repeat-x top; border: 1px solid #ff9595;}
#bubble_left.bubble_01:after {border-color: rgba(255, 231, 227, 0); border-left-color: #ffe7e3}
#bubble_left.bubble_01:before {border-color:rgba(225, 149, 149, 0); border-left-color: #ff9595}
.bubble_02 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_02.png) #ffc7a1 repeat-x top; border: 1px solid #faa24c;}
#bubble_left.bubble_02:after {border-color: rgba(255, 230, 208, 0); border-left-color: #ffe6d0}
#bubble_left.bubble_02:before {border-color:rgba(250, 162, 76, 0); border-left-color: #faa24c}
.bubble_03 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_03.png) #fede89 repeat-x top; border: 1px solid #e9b027;}
#bubble_left.bubble_03:after {border-color: rgba(255, 246, 179, 0); border-left-color: #fff6b3}
#bubble_left.bubble_03:before {border-color:rgba(233, 176, 39, 0); border-left-color: #e9b027}
.bubble_04 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_04.png) #bfe972 repeat-x top; border: 1px solid #80b51f;}
#bubble_left.bubble_04:after {border-color: rgba(223, 251, 173, 0); border-left-color: #dffbad}
#bubble_left.bubble_04:before {border-color:rgba(128, 181, 31, 0); border-left-color: #80b51f}
.bubble_05 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_05.png) #80f0e1 repeat-x top; border: 1px solid #3bbdac;}
#bubble_left.bubble_05:after {border-color: rgba(192, 253, 245, 0); border-left-color: #c0fdf5}
#bubble_left.bubble_05:before {border-color:rgba(59, 189, 172, 0); border-left-color: #3bbdac}
.bubble_06 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_06.png) #a9d6fb repeat-x top; border: 1px solid #659acb;}
#bubble_left.bubble_06:after {border-color: rgba(212, 232, 254, 0); border-left-color: #d4e8fe}
#bubble_left.bubble_06:before {border-color:rgba(101, 154, 203, 0); border-left-color: #659acb}
.bubble_07 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_07.png) #d3b0e8 repeat-x top; border: 1px solid #bc6fe9;}
#bubble_left.bubble_07:after {border-color: rgba(237, 213, 252, 0); border-left-color: #edd5fc}
#bubble_left.bubble_07:before {border-color:rgba(180, 102, 226, 0); border-left-color: #bc6fe9}
.bubble_08 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_bubble_08.png) #ffc0db repeat-x top; border: 1px solid #ff92da;}
#bubble_left.bubble_08:after {border-color: rgba(255, 220, 235, 0); border-left-color: #ffdceb}
#bubble_left.bubble_08:before {border-color:rgba(255, 146, 218, 0); border-left-color: #ff92da}
#bubble_left.highlight {background:#c5efff}

/* for content input only, as cannot use index *//*20140109*/
.bubble_left { position: relative; box-shadow: 0px 1px 3px #9e9e9e; -moz-box-shadow: 0px 1px 3px #9e9e9e; -webkit-box-shadow: 0px 1px 3px #9e9e9e; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; width:180px; min-height:32px; font-size:0.9em; line-height:16px; padding:2px 15px 2px 7px;  margin-bottom:3px; margin-top:1px}
.bubble_left span {font-weight:bold}
.bubble_left:after, .bubble_left:before { left: 100%; top: 20px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.bubble_left:after {border-width: 7px; margin-top: -10px; }
.bubble_left:before {border-width: 9px; margin-top: -11px; }
.bubble_left.bubble_01:after {border-color: rgba(255, 231, 227, 0); border-left-color: #ffe7e3}
.bubble_left.bubble_01:before {border-color:rgba(225, 149, 149, 0); border-left-color: #ff9595}
.bubble_left.bubble_02:after {border-color: rgba(255, 230, 208, 0); border-left-color: #ffe6d0}
.bubble_left.bubble_02:before {border-color:rgba(250, 162, 76, 0); border-left-color: #faa24c}
.bubble_left.bubble_03:after {border-color: rgba(255, 246, 179, 0); border-left-color: #fff6b3}
.bubble_left.bubble_03:before {border-color:rgba(233, 176, 39, 0); border-left-color: #e9b027}
.bubble_left.bubble_04:after {border-color: rgba(223, 251, 173, 0); border-left-color: #dffbad}
.bubble_left.bubble_04:before {border-color:rgba(128, 181, 31, 0); border-left-color: #80b51f}
.bubble_left.bubble_05:after {border-color: rgba(192, 253, 245, 0); border-left-color: #c0fdf5}
.bubble_left.bubble_05:before {border-color:rgba(59, 189, 172, 0); border-left-color: #3bbdac}
.bubble_left.bubble_06:after {border-color: rgba(212, 232, 254, 0); border-left-color: #d4e8fe}
.bubble_left.bubble_06:before {border-color:rgba(101, 154, 203, 0); border-left-color: #659acb}
.bubble_left.bubble_07:after {border-color: rgba(237, 213, 252, 0); border-left-color: #edd5fc}
.bubble_left.bubble_07:before {border-color:rgba(180, 102, 226, 0); border-left-color: #bc6fe9}
.bubble_left.bubble_08:after {border-color: rgba(255, 220, 235, 0); border-left-color: #ffdceb}
.bubble_left.bubble_08:before {border-color:rgba(255, 146, 218, 0); border-left-color: #ff92da}
.bubble_left.highlight {background:#c5efff}
/* Add of for content input only, as cannot use index */

#remark_highlight {padding:0}
.remark_highlight_01 {background:#ffcccc}
.remark_highlight_02 {background:#ffd76d}
.remark_highlight_03 {background:#feff61}
.remark_highlight_04 {background:#cbff5b}
.remark_highlight_05 {background:#a7efa1}
.remark_highlight_06 {background:#b1fff5}
.remark_highlight_07 {background:#ade3ff}
.remark_highlight_08 {background:#b6ccff}
.remark_highlight_09 {background:#e0bfff}
.remark_highlight_10 {background:#ffbded}
.remark_double_01 {background:#ffcccc; border:1px solid #ff6161}
.remark_double_02 {background:#ffd76d; border:1px solid #eb7f00}
.remark_double_03 {background:#feff61; border:1px solid #eab80a}
.remark_double_04 {background:#cbff5b; border:1px solid #85c105}
.remark_double_05 {background:#a7efa1; border:1px solid #29b71d}
.remark_double_06 {background:#b1fff5; border:1px solid #11d1d3}
.remark_double_07 {background:#ade3ff; border:1px solid #3ba8e1}
.remark_double_08 {background:#b6ccff; border:1px solid #578cff}
.remark_double_09 {background:#e0bfff; border:1px solid #b76bff}
.remark_double_10 {background:#ffbded; border:1px solid #ff63d4}

#remark_highlight_icon {background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/remark_highlight_icon.png); width:20px; height:20px; display:block; float:left; cursor:pointer; margin-right:5px} /*20140115*/
.remark_highlight_icon_01 {background-position:0 -20px}
.remark_highlight_icon_02 {background-position:-20px -20px}
.remark_highlight_icon_03 {background-position:-40px -20px}
.remark_highlight_icon_04 {background-position:-60px -20px}
.remark_highlight_icon_05 {background-position:-80px -20px}
.remark_highlight_icon_06 {background-position:-100px -20px}
.remark_highlight_icon_07 {background-position:-120px -20px}
.remark_highlight_icon_08 {background-position:-140px -20px}
.remark_highlight_icon_09 {background-position:-160px -20px}
.remark_highlight_icon_10 {background-position:-180px -20px}

.remark_highlight_icon_01:hover {background-position:0 0}
.remark_highlight_icon_02:hover {background-position:-20px 0}
.remark_highlight_icon_03:hover {background-position:-40px 0}
.remark_highlight_icon_04:hover {background-position:-60px 0}
.remark_highlight_icon_05:hover {background-position:-80px 0}
.remark_highlight_icon_06:hover {background-position:-100px 0}
.remark_highlight_icon_07:hover {background-position:-120px 0}
.remark_highlight_icon_08:hover {background-position:-140px 0}
.remark_highlight_icon_09:hover {background-position:-160px 0}
.remark_highlight_icon_10:hover {background-position:-180px 0}

#remark_highlight_icon_big {background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/remark_highlight_icon_big.png); background-repeat:no-repeat}
.remark_highlight_icon_big_01 {background-position:0 0} /*20140113b*/
.remark_highlight_icon_big_02 {background-position:0 -40px} /*20140113b*/
.remark_highlight_icon_big_03 {background-position:0 -80px} /*20140113b*/
.remark_highlight_icon_big_04 {background-position:0 -120px} /*20140113b*/
.remark_highlight_icon_big_05 {background-position:0 -160px} /*20140113b*/
.remark_highlight_icon_big_06 {background-position:0 -200px} /*20140113b*/
.remark_highlight_icon_big_07 {background-position:0 -240px} /*20140113b*/
.remark_highlight_icon_big_08 {background-position:0 -280px} /*20140113b*/
.remark_highlight_icon_big_09 {background-position:0 -320px} /*20140113b*/
.remark_highlight_icon_big_10 {background-position:0 -360px} /*20140113b*/
.remark_highlight_icon_big_01.empty {background-position:0 -800px} /*20140113b*/
.remark_highlight_icon_big_02.empty {background-position:0 -840px} /*20140113b*/
.remark_highlight_icon_big_03.empty {background-position:0 -880px} /*20140113b*/
.remark_highlight_icon_big_04.empty {background-position:0 -920px} /*20140113b*/
.remark_highlight_icon_big_05.empty {background-position:0 -960px} /*20140113b*/
.remark_highlight_icon_big_06.empty {background-position:0 -1000px} /*20140113b*/
.remark_highlight_icon_big_07.empty {background-position:0 -1040px} /*20140113b*/
.remark_highlight_icon_big_08.empty {background-position:0 -1080px} /*20140113b*/
.remark_highlight_icon_big_09.empty {background-position:0 -1120px} /*20140113b*/
.remark_highlight_icon_big_10.empty {background-position:0 -1160px} /*20140113b*/

.remarks ul li .remark_highlight_icon_big_01 {color:#d90101; background-position:0 -400px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_02 {color:#d63700; background-position:0 -440px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_03 {color:#b56f00; background-position:0 -480px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_04 {color:#6f8207; background-position:0 -520px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_05 {color:#058905; background-position:0 -560px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_06 {color:#058d96; background-position:0 -600px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_07 {color:#016bb4; background-position:0 -640px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_08 {color:#2b39c6; background-position:0 -680px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_09 {color:#7f0cdc; background-position:0 -720px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_10 {color:#d21264; background-position:0 -760px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_01 {background-position:0 0} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_02 {background-position:0 -40px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_03 {background-position:0 -80px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_04 {background-position:0 -120px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_05 {background-position:0 -160px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_06 {background-position:0 -200px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_07 {background-position:0 -240px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_08 {background-position:0 -280px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_09 {background-position:0 -320px} /*20140113b*/
.remarks ul li:hover .remark_highlight_icon_big_10 {background-position:0 -360px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_01.current {background-position:0 0} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_02.current {background-position:0 -40px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_03.current {background-position:0 -80px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_04.current {background-position:0 -120px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_05.current {background-position:0 -160px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_06.current {background-position:0 -200px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_07.current {background-position:0 -240px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_08.current {background-position:0 -280px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_09.current {background-position:0 -320px} /*20140113b*/
.remarks ul li .remark_highlight_icon_big_10.current {background-position:0 -360px} /*20140113b*/
/*End of Added*/

/* SCI */
.write_board .key_new_sci .ref {width:220px; height:530px; padding:8px 5px; margin-right:0px; margin-top:0} /*20140103*/
.write_board .key_new_sci .ref .table_row_tool_text {font-size:1.1em} /*20140103*/
.write_board .key_new_sci .ref_top {height:35px; overflow:hidden; padding-top:1px; border-bottom:none; font-size:1.1em} /*20140103*/

.write_board .infobox_content .sample_new_sci {padding-left: 160px; padding-right:240px} /*20140103*/
.write_board .infobox_content .sample_new_sci .essay {padding-top:11px; padding-left:10px; padding-right:0px; width:100%;} /*20140103*/
.write_board .infobox_content .sample_new_sci_noleft {padding-left: 0; padding-right:230px} /*20140103*/
.write_board .infobox_content .bubble_sci {float:left; margin-left:-202px; width:202px; clear:right} /*20140103*/
/*.write_board .infobox_content .key_sci {float:left; margin-right:-200px; width:10px; margin-top:0}*/ /*20131227*/

.write_board .infobox_content .key_new_sci {/*float:left; margin-right:-285px; width:285px; margin-top:0*/float:left; margin-right:-240px; width:240px; margin-top:100px}/*20140113*/

.write_board .infobox_content .bubble_sci #bubble_left {width:175px} /*20140103*/

/* pop board */
.content_pop_board_190 h1 {font-size:1em; font-weight:bold;  background:url(../../../../images/2020a/w2/Resource/190_writing20/icon_btn_190.png) no-repeat #fff0b5; height:23px; margin:0 auto; padding-left:35px; padding-top:7px;} /*20131227*/
.content_pop_board_190 h1.vocab {background-position:0 0; color:#eb2695;} /*20131227*/
.content_pop_board_190 h1.grammar {background-position:4px -30px; padding-left:42px; color:#017cd0;} /*20131227*/
.content_pop_board_190 h1.ref {background-position:4px -60px; color:#16a017;} /*20131227*/
.content_pop_board_190 h1.vocab_chi {background-position:4px -90px; color:#eb2695;} /*20131227*/

.content_pop_board_write_190 .sample .remarks {float:right; margin-right:-112px; width:130px}/*20130110*/

.content_pop_board_write_190 .tea_attach thead {color:#666666; font-size:0.9em; text-align:left;}/*20131227*/
.content_pop_board_write_190 .tea_attach tr td {padding:2px; padding-bottom:5px}/*20131227*/
.content_pop_board_write_190 .tea_attach input {margin-right:5px}/*20131227*/


/*Added 20131017 for Content Input */
.content_input_sample {padding-right:205px; padding-left:205px; margin-top:20px} /*20140113*/
.content_input_sample h1 {margin-bottom:8px; font-weight:bold; font-size:1em; clear:both} /*20131227*/
.content_input_sample_left {float:left; width:100%} /*20131227*/
.content_input_main_grp {clear:both; margin-bottom:15px} /*20131227*/
.content_input_main_tag {float:left; width:190px; margin-left:-190px; clear:right} /*20131227*/
.content_input_main_tag #bubble_left {margin-right:-140px; width:150px; height:130px} /*20131227*/
.content_input_main_tag #bubble_left input {font-size:1em; margin-top:4px; font-weight:bold; width:150px; padding:0 2px; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_tag #bubble_left textarea {font-size:1em; line-height:16px; margin-top:3px; height:100px; width:150px; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_tag #bubble_left input.blank {color:#999; font-style:italic} /*20131227*/
.content_input_main_tag #bubble_left textarea.blank {color:#999; font-style:italic} /*20131227*/
.content_input_main_tag .bubble_left {margin-right:-140px; width:150px; height:130px} /*20140109*/
.content_input_main_tag .bubble_left input {font-size:1em; margin-top:4px; font-weight:bold; width:150px; padding:0 2px; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_tag .bubble_left textarea {font-size:1em; line-height:16px; margin-top:3px; height:100px; width:150px; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_tag .bubble_left input.blank {color:#999; font-style:italic} /*20140109*/
.content_input_main_tag .bubble_left textarea.blank {color:#999; font-style:italic} /*20140109*/
.content_input_main {float:left; width:100%} /*20131227*/
.content_input_main textarea {height:130px; float:left; width:94%} /*20140110*/
.content_input_main .table_row_tool {float:left} /*20140110*/
.content_input_main_grp .Content_tool_190 .new {font-weight:bold; color:#000eff} /*20131227*/
.content_input_main_grp .Content_tool_190 .new:hover {font-weight:bold; color:#ff0000} /*20131227*/
.content_input_sample_right {float:right; margin-right:-190px; width:180px; margin-top:10px; margin-top:0} /*20131227*/

.content_input_main_remark {background:#ebebeb; border:1px solid #dddbdb; padding:5px 10px 5px 3px; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px} /*20131227*/
.content_input_main_remark ul {list-style-type:none} /*20131227*/
.content_input_main_remark ul li {margin-bottom:13px; clear:both} /*20131227*/
.content_input_main_remark span {width:35px; height:25px; display:inline-block; padding-left:39px; width:auto; padding-top:10px} /*20140113b*/
.content_input_main_remark input {height:20px; width:100%; padding:3px; margin-top:-4px; margin-left:-2px; margin-bottom:2px; font-size:1em; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_remark textarea {height:80px; width:100%; padding:3px; margin-left:-2px; font-size:1em; margin-bottom:0; border:1px solid #c9cbd6; border-top:1px solid #abadb3} /*20140113*/
.content_input_main_remark a {font-size:0.9em; color:#90a0ba} /*20140113*/
.content_input_main_remark a:hover {color:#ff0000} /*20140113*/

/* new contentinput */ /*20140113*/
.content_input {line-height:20px; padding:5px 13px 5px 13px; clear:both; padding-left:0; padding-right:0}
.content_input .subtitle_new span {font-weight:normal}
.theme_icon {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/themename_small.png); width:19px; height:23px; margin-right:5px; float:left; display:block; margin-top:-5px; margin-left:-10px}
.content_input tr th {text-align:left; font-weight:normal; padding-left:10px} /*20140113*/

/* new main */ /* 20140122 */
#class_title_190_nologo {vertical-align:middle;	padding-left:10px;	color:#fff;	font-weight:bold;	padding-top: 20px;	height: 30px; text-shadow: 1px 1px #2da4e6} 
.bg_cloud {margin:0 auto; width:100%; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/bg_cloud.png) repeat-x /*width:1024px; height:200px; position:absolute; top:0; z-index:-1*/}
.subject_main_new {height:300px; /*min-width:1115px*/}
.logo_big_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_big.png) top center; width:420px; height:142px; margin:0 auto; margin-top:-27px }
.logo_plane {position:relative; width:556px; height:90px; margin:0 auto; margin-top:-55px}
.logo_plane .line0Con {left:103px; top:15px; position:absolute; overflow:hidden; width:0px; height:58px; }
.logo_plane .line0Con .line0 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_line0.png); width:422px; height:58px; }
.logo_plane .plane {display:none; left:505px; top:4px; position:absolute; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_plane.png); width:51px; height:34px; }
.plane_move {
	animation: logo_plane 5s linear 1;
	-webkit-animation: logo_plane 5s linear 1; }
@keyframes logo_plane {
0% {left:80px; top:33px; transform: rotate(30deg)}
5% {top:33px;}
30% {top:55px; transform: rotate(15deg)}
45% {top:55px; transform: rotate(15deg)}
90% {top:4px;}
100% {left:505px; top:4px; transform: rotate(0deg)} }
@-webkit-keyframes logo_plane {
0% {left:80px; top:33px; -webkit-transform: rotate(30deg)}
5% {top:33px;}
30% {top:55px; -webkit-transform: rotate(15deg)}
45% {top:55px; -webkit-transform: rotate(15deg)}
90% {top:4px;}
100% {left:505px; top:4px; -webkit-transform: rotate(0deg)} }
.line0_move {
	animation: line0_move 5s linear 1;
	-webkit-animation: line0_move 5s linear 1; }
@keyframes line0_move {
0% {width:0px}
100% {width:422px} }
@-webkit-keyframes line0_move {
0% {width:0px}
100% {width:422px} }
.line1_move {
	animation: line1_move 5s linear 1;
	-webkit-animation: line1_move 5s linear 1; }
@keyframes line1_move {
0% {width:0px}
20% {width:94px}
100% {width:94px} }
@-webkit-keyframes line1_move {
0% {width:0px}
20% {width:94px}
100% {width:94px} }
.line2_move {
	animation: line2_move 5s linear 1;
	-webkit-animation: line2_move 5s linear 1; }
@keyframes line2_move {
0% {width:0px}
20% {width:0px}
30% {width:0px}
40% {width:20px}
100% {width:332px} }
@-webkit-keyframes line2_move {
0% {width:0px}
20% {width:0px}
30% {width:0px}
40% {width:20px}
100% {width:332px} }

.icon_subject_new {margin:0 auto; width:800px; position:relative}
.icon_subject_new a {width:274px; height:270px; display:block; background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject.png); position:absolute}
.icon_subject_new a:hover, .icon_subject_new a:active {margin-top:-5px; background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png)}
.icon_subject_new a.current {margin-top:-5px; background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png)}
.icon_subject_new a.chi {cursor:pointer; background-position:0 top; top:155px; left:-80px} /*20140519*/
.icon_subject_new a.eng {cursor:pointer; background-position:0 -300px; top:210px; left:260px} /*20140519*/
.icon_subject_new a.ls {cursor:pointer; background-position:0 -900px; top:5px; left:490px} /*20140519*/
.icon_subject_new a.ls_eng {cursor:pointer; background-position:0 -1200px; top:-15px; left:150px} /*20140519*/
.icon_subject_new a.sci {cursor:pointer; background-position:0 -600px; top:240px; left:610px} /*20140519*/
.icon_subject_new a.acknowledge {cursor:pointer; background-position:0 -1650px; height:147px; width:118px; top:145px; right:-107px} /*20140519*/
.icon_subject_new a.acknowledge_eng {cursor:pointer; background-position:0 -1500px; height:146px; width:169px; top:145px; right:-135px} /*20140519*/
.icon_subject_new a.samplewriting_chi {cursor:pointer; background-position:-150px -1800px; height:134px; width:111px; top:195px; left:115px} /*20140519*/
.icon_subject_new a.samplewriting_eng {cursor:pointer; background-position:0 -1800px; height:136px; width:104px; top:225px; left:455px} /*20140519*/
.icon_subject_new a.samplewriting_chi_blank {cursor:pointer; background-image:none; height:115px; width:95px; top:209px; left:137px} /*20140527*/
.icon_subject_new a.samplewriting_eng_blank {cursor:pointer; background-image:none; height:118px; width:96px; top:240px; left:468px} /*20140527*/
.samplewriting_hover {margin-top:-5px; background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png) !important;}
/*20140527*/

.icon_subject_new a.chi span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_chi.png); width:58px; height:120px; display:block; float:right; margin-top:130px; margin-right:-30px}
.icon_subject_new a.chi:hover span, .icon_subject_new a.chi:active span, .icon_subject_new a.chi.current span {background-position:0 -120px}
.icon_subject_new a.eng span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_eng.png); width:67px; height:130px; display:block; float:right; margin-top:130px; margin-right:-15px}
.icon_subject_new a.eng:hover span, .icon_subject_new a.eng:active span, .icon_subject_new a.eng.current span {background-position:0 -130px}
.icon_subject_new a.ls span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_ls.png); width:62px; height:100px; display:block; float:right; margin-top:130px; margin-right:15px}
.icon_subject_new a.ls_eng span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_ls.png); width:62px; height:100px; display:block; float:right; margin-top:95px; margin-right:-2px}
.icon_subject_new a.ls:hover span, .icon_subject_new a.ls:active span, .icon_subject_new a.ls_eng:hover span, .icon_subject_new a.ls_eng:active span, .icon_subject_new a.ls.current span, .icon_subject_new a.ls_eng.current span {background-position:0 -100px}
.icon_subject_new a.sci span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_sci.png); width:97px; height:110px; display:block; float:right; margin-top:150px; margin-right:-23px}
.icon_subject_new a.sci:hover span, .icon_subject_new a.sci:active span, .icon_subject_new a.sci.current span {background-position:0 -110px}

.icon_subject_new .chi_on {margin-top:-5px; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png) no-repeat 0px 0px; top:140px; left:-70px; width:274px; height:270px; pointer-events:none;}
.icon_subject_new .eng_on {margin-top:-5px; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png) no-repeat 0px -300px; top:195px; left:260px; width:274px; height:270px; pointer-events:none;}
.icon_subject_new .ls_on {margin-top:-5px; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png) no-repeat 0px -900px; top:20px; left:490px; width:274px; height:270px; pointer-events:none;}
.icon_subject_new .ls_eng_on {margin-top:-5px; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png) no-repeat 0px -1200px; top:-10px; left:150px; width:274px; height:270px; pointer-events:none;}
.icon_subject_new .sci_on {margin-top:-5px; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_mo.png) no-repeat 0px -600px; top:225px; left:610px; width:274px; height:270px; pointer-events:none;}
.icon_subject_new a.chi_on span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_chi.png) no-repeat 0 -120px; width:58px; height:120px; display:block; float:right; margin-top:130px; margin-right:-30px}
.icon_subject_new a.eng_on span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_eng.png) no-repeat 0 -130px; width:67px; height:130px; display:block; float:right; margin-top:130px; margin-right:-15px}
.icon_subject_new a.ls_on span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_ls.png) no-repeat 0 -100px; width:62px; height:100px; display:block; float:right; margin-top:130px; margin-right:15px}
.icon_subject_new a.ls_eng_on span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_ls.png) no-repeat 0 -100px; width:62px; height:100px; display:block; float:right; margin-top:95px; margin-right:-2px}
.icon_subject_new a.sci_on span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_writing_subject_obj_sci.png) no-repeat 0 -110px; width:97px; height:110px; display:block; float:right; margin-top:150px; margin-right:-23px}

.icon_incentive {margin:0 auto; width:131px; height:120px; position:relative; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/incentive_icon.png); top:-150px; right:-370px} /*20140328*/
.icon_incentive:hover {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/incentive_icon_on.png); cursor:pointer} /*20140328*/

.art_pole {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/art_pole.png); width:48px; height:117px; position:absolute; left:-100px; top:158px}
.art_zebra1 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/art_zebra1.png); width:164px; height:125px; top:388px; left:-100px; position:absolute}
.art_zebra2 {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/art_zebra2.png); width:111px; height:84px; top:408px; left:70px; position:absolute}
.preloadArea { opacity:0; width:0px; height:0px; overflow:hidden; }
.art_zebra { pointer-events:none; width:231px; height:158px; overflow:hidden; position:absolute; }

.art_footprint_chi {display:none; width:288px; height:130px; position:absolute; left:-100px; top:385px}
.art_footprint_eng {display:none; width:444px; height:123px; position:absolute; left:-110px; top:395px}
.art_footprint_ls {display:none; width:406px; height:106px; position:absolute; left:497px; top:239px}
.art_footprint_ls_eng {display:none; width:494px; height:130px; position:absolute; left:-131px; top:171px}
.art_footprint_sci {display:none; width:172px; height:126px; position:absolute; left:510px; top:465px}
.footprint {display:none; width:30px; height:30px; position:absolute}

.art_footprint_chi span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/footprint/chi.png)}
.art_footprint_chi .footprint_1{background-position: -8px -83px; left:8px; top:83px}
.art_footprint_chi .footprint_2{background-position: -43px -106px; left:43px; top:106px}
.art_footprint_chi .footprint_3{background-position: -67px -73px; left:67px; top:73px}
.art_footprint_chi .footprint_4{background-position: -105px -95px; left:105px; top:95px}
.art_footprint_chi .footprint_5{background-position: -145px -58px; left:145px; top:58px}
.art_footprint_chi .footprint_6{background-position: -188px -73px; left:188px; top:73px}
.art_footprint_chi .footprint_7{background-position: -216px -33px; left:216px; top:33px}
.art_footprint_chi .footprint_8{background-position: -249px -42px; left:249px; top:42px}
.art_footprint_chi .footprint_9{background-position: -245px 0; left:245px; top:0}
.art_footprint_eng span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/footprint/eng.png)}
.art_footprint_eng .footprint_1{background-position: -6px 0; left:6px; top:0px}
.art_footprint_eng .footprint_2{background-position: -13px -32px; left:13px; top:32px}
.art_footprint_eng .footprint_3{background-position: -55px -26px; left:55px; top:26px}
.art_footprint_eng .footprint_4{background-position: -67px -65px; left:67px; top:65px}
.art_footprint_eng .footprint_5{background-position: -117px -52px; left:117px; top:52px}
.art_footprint_eng .footprint_6{background-position: -143px -89px; left:143px; top:89px}
.art_footprint_eng .footprint_7{background-position: -186px -65px; left:186px; top:65px}
.art_footprint_eng .footprint_8{background-position: -206px -97px; left:206px; top:97px}
.art_footprint_eng .footprint_9{background-position: -251px -67px; left:251px; top:67px}
.art_footprint_eng .footprint_10{background-position: -285px -91px; left:285px; top:91px}
.art_footprint_eng .footprint_11{background-position: -318px -53px; left:318px; top:53px}
.art_footprint_eng .footprint_12{background-position: -341px -76px; left:341px; top:76px}
.art_footprint_eng .footprint_13{background-position: -371px -37px; left:371px; top:37px}
.art_footprint_eng .footprint_14{background-position: -408px -51px; left:408px; top:51px}
.art_footprint_ls span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/footprint/ls.png)}
.art_footprint_ls .footprint_1{background-position: -379px 51px; left:379px; top:51px}
.art_footprint_ls .footprint_2{background-position: -324px -39px; left:324px; top:39px}
.art_footprint_ls .footprint_3{background-position: -284px -74px; left:284px; top:74px}
.art_footprint_ls .footprint_4{background-position: -254px -48px; left:254px; top:48px}
.art_footprint_ls .footprint_5{background-position: -211px -76px; left:211px; top:76px}
.art_footprint_ls .footprint_6{background-position: -184px -48px; left:184px; top:48px}
.art_footprint_ls .footprint_7{background-position: -128px -74px; left:128px; top:74px}
.art_footprint_ls .footprint_8{background-position: -93px -39px; left:93px; top:39px}
.art_footprint_ls .footprint_9{background-position: -47px -51px; left:47px; top:51px}
.art_footprint_ls .footprint_10{background-position: -40px -16px; left:40px; top:16px}
.art_footprint_ls .footprint_11{background-position: 0 0; left:0; top:0}
.art_footprint_ls_eng span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/footprint/ls_eng.png)}
.art_footprint_ls_eng .footprint_1{background-position: 0 0; left:0; top:0px}
.art_footprint_ls_eng .footprint_2{background-position: -37px -29px; left:37px; top:29px}
.art_footprint_ls_eng .footprint_3{background-position: -72px -3px; left:72px; top:3px}
.art_footprint_ls_eng .footprint_4{background-position: -104px -38px; left:104px; top:38px}
.art_footprint_ls_eng .footprint_5{background-position: -141px -17px; left:141px; top:17px}
.art_footprint_ls_eng .footprint_6{background-position: -169px -59px; left:169px; top:59px}
.art_footprint_ls_eng .footprint_7{background-position: -205px -37px; left:205px; top:37px}
.art_footprint_ls_eng .footprint_8{background-position: -233px -80px; left:233px; top:80px}
.art_footprint_ls_eng .footprint_9{background-position: -269px -59px; left:269px; top:59px}
.art_footprint_ls_eng .footprint_10{background-position: -286px -93px; left:286px; top:93px}
.art_footprint_ls_eng .footprint_11{background-position: -321px -69px; left:321px; top:69px}
.art_footprint_ls_eng .footprint_12{background-position: -355px -104px; left:355px; top:104px}
.art_footprint_ls_eng .footprint_13{background-position: -385px -73px; left:385px; top:73px}
.art_footprint_ls_eng .footprint_14{background-position: -426px -94px; left:426px; top:94px}
.art_footprint_ls_eng .footprint_15{background-position: -436px -55px; left:436px; top:55px}
.art_footprint_ls_eng .footprint_16{background-position: -471px -40px; left:471px; top:40px}
.art_footprint_sci span {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/footprint/sci.png)}
.art_footprint_sci .footprint_1{background-position: -10px -77px; left:10px; top:77px}
.art_footprint_sci .footprint_2{background-position: -49px -87px; left:49px; top:87px}
.art_footprint_sci .footprint_3{background-position: -63px -48px; left:63px; top:48px}
.art_footprint_sci .footprint_4{background-position: -103px -46px; left:103px; top:46px}
.art_footprint_sci .footprint_5{background-position: -97px -11px; left:97px; top:11px}
.art_footprint_sci .footprint_6{background-position: -135px -4px; left:135px; top:4px}

.pic_zebra_1 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra1.png); width:231px; height:158px}
.pic_zebra_2 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra3.png); width:231px; height:158px}
.pic_zebra_3 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra5.png); width:231px; height:158px}
.pic_zebra_4 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra7.png); width:231px; height:158px}
.pic_zebra_5 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra9.png); width:231px; height:158px}
.pic_zebra_6 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra11.png); width:231px; height:158px}
.pic_zebra_7 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra13.png); width:231px; height:158px}
.pic_zebra_8 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra15.png); width:231px; height:158px}
.pic_zebra_9 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra17.png); width:231px; height:158px}
.pic_zebra_10 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra19.png); width:231px; height:158px}
.pic_zebra_11 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra21.png); width:231px; height:158px}
.pic_zebra_12 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra23.png); width:231px; height:158px}
.pic_zebra_13 { background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/zebra/zebra25.png); width:231px; height:158px}

.layer_cloud { z-index:-10; position:relative; margin:0 auto; width:1024px; height:0px; overflow:visible; border:0px grey solid} /*20140129*/
.cloud_con { position:absolute; width:161px; height:97px}
.sky_cloud { left:0px; position:absolute; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/cloud.png); width:161px; height:97px}
.cloud_anim_1 {
	animation: cloud_anim_1 2s ease-in-out infinite alternate;
	-webkit-animation: cloud_anim_1 2s ease-in-out infinite alternate}
.cloud_anim_2 {
	animation: cloud_anim_1 3s ease-in-out infinite alternate;
	-webkit-animation: cloud_anim_1 3s ease-in-out infinite alternate}
.cloud_anim_2r {
	animation: cloud_anim_1r 3s ease-in-out infinite alternate;
	-webkit-animation: cloud_anim_1r 3s ease-in-out infinite alternate}
.cloud_anim_3 {
	animation: cloud_anim_1 4s ease-in-out infinite alternate;
	-webkit-animation: cloud_anim_1 4s ease-in-out infinite alternate}
@keyframes cloud_anim_1 {
from {} to {left:50px} }
@-webkit-keyframes cloud_anim_1 {
from {} to {left:50px} }
@keyframes cloud_anim_1r {
from {} to {left:-50px} }
@-webkit-keyframes cloud_anim_1r {
from {} to {left:-50px} }}
.cloud_size_2 {
	transform: scale(0.6, 0.6);
	-webkit-transform: scale(0.6, 0.6)}
.cloud_size_3 {
	transform: scale(0.4, 0.4);
	-webkit-transform: scale(0.4, 0.4)}
.flip {
	transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1)}
/* end of new main */


/* new subpage */ /*20140113*/
.write_board .instruction {padding:5px 13px 5px 13px; clear:both; min-height:50px; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/write_board_top_step_right_bg.gif) left -35px repeat-x #f1e8ff; border-bottom:1px solid #f0d5fe; line-height:25px; padding-bottom:10px; color:#8438b0; font-family:Georgia, "微軟正黑體"; font-size:1.3em}
.write_board .instruction div {color:#8438b0; font-family:Georgia, "微軟正黑體"}/*20140606*/

.write_board .subtitle_new {margin-top:17px; margin-bottom:10px}
.write_board .subtitle_new span {display:block; font-size:1.25em; font-weight:bold; color:#66059e; float:left; clear:both; margin-left:5px; margin-top:-9px; padding-left:8px; padding-right:8px; margin-bottom:5px; font-family:Georgia, "微軟正黑體";}
.write_board .input_row1 {padding-left:0}
.write_board .input_row2 {padding-top:17px}

.btn_right_grp_new {float:right; margin-top:-17px; height:60px; margin-right:12px}
.btn_right_grp_new.move_left {margin-right:208px} /*20140605*/

.btn_vocab_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_vocab_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -60px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_vocab_new span:hover {background-position:left -120px}

.btn_grammar_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_grammar_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -180px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_grammar_new span:hover {background-position:left -240px}

.btn_ref_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_ref_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -300px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_ref_new span:hover {background-position:left -360px}

.btn_vocab_chi_new {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) right 0px; float:left; padding-right:3px; height:60px; cursor:pointer; margin-right:2px}
.btn_vocab_chi_new span{background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/btn_190_writing.png) left -60px; height:50px; text-align:center; padding-left:25px; padding-right:12px; color:#fff; line-height:17px; display:block; font-size:1.1em; vertical-align:middle; display:table-cell; padding-bottom:10px}
.btn_vocab_chi_new span:hover {background-position:left -120px}

/* shareboard */ /*20140115*/
.shareboard {display:block; clear:both; position:relative}
.shareboard .sb_top {display:block; clear:both; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_top_left.png) left bottom no-repeat;padding-left:163px; height:54px}
.shareboard .sb_top div {display:block; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_top_right.png) right bottom no-repeat;padding-right:42px; height:54px}
.shareboard .sb_top div div {display:block; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_top_bg.png) left bottom repeat-x; height:54px}
.shareboard .sb_content {display:block; clear:both; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_content_left.png) left top repeat-y; padding-left:11px}
.shareboard .sb_content_right {display:block; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_content_right.png) right top repeat-y; padding-right:11px}
.shareboard .sb_content_bg {display:block; background:#fff; min-height:200px; padding-top:7px; padding-bottom:2px}
.shareboard .sb_bottom {display:block; clear:both; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_bottom_left.png) left top no-repeat;padding-left:41px; height:48px}
.shareboard .sb_bottom div {display:block; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_bottom_right.png) right top no-repeat;padding-right:87px; height:48px}
.shareboard .sb_bottom div div {display:block; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_bottom_bg.png) top repeat-x; height:48px}
.shareboard_main_content {margin-left:-2px}
.shareboard_writing_small {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_writing_bg.png); width:206px; height:235px; float:left; display:block; margin-bottom:3px; padding-left:16px; padding-right:14px; position:relative; margin-right:-1px}
.shareboard_writing_small h1 {color:#2a65c8; font-size:1.2em; text-align:left; margin-top:25px; margin-bottom:0; margin-left:4px; min-height:22px; max-height:37px; line-height:18px} /*20140624*/
.shareboard_writing_small .stu_name {font-size:1em;  float:right; text-align:right; margin-top:3px; margin-bottom:2px}
.shareboard_writing_small .shareboard_writing_text {clear:both; margin-left:5px; margin-bottom:1px; overflow:hidden; color:#828181; font-size:1.1em; display:block; padding-top:5px; line-height:15px; max-height:90px;}
.shareboard_writing_small .more {color:#28811c; font-style:italic; float:right; font-size:1em}
.shareboard_writing_small .shareboard_icon {clear:both; position:absolute; top:185px; left:15px}
.shareboard_writing_small .shareboard_icon span {display:block; padding-left:20px; height:20px; line-height:20px; float:left; font-size:0.9em; color: #0159b3; background-image:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_icon.png); background-repeat:no-repeat}
.shareboard_writing_small .shareboard_icon .icon_sticker {background-position:left -20px; margin-right:4px}
.shareboard_writing_small .shareboard_icon .icon_comment {background-position:left top}
.shareboard_writing_small:hover {margin-top:3px; margin-bottom:0px; cursor:pointer}
.shareboard_writing_small:hover h1 {color:#3d85ff}
.shareboard_writing_small:hover .shareboard_writing_text {color:#666}
.shareboard_writing_small:hover .more {color:#ff0000}
.shareboard_writing_small.writing1 {background-position:0 0}
.shareboard_writing_small.writing2 {background-position:0 -250px}
.shareboard_writing_small.writing1:hover {background-position:0 -500px}
.shareboard_writing_small.writing2:hover {background-position:0 -750px}
.shareboard_info {color:#563400; position:absolute; top:37px; left:50px}
.shareboard_theme {color:#563400; margin-top:-25px; margin-bottom:-15px; margin-left:42px}
.shareboard_theme h1 {color:#2a65c8; font-size:1.2em; text-align:left; line-height:20px; margin-bottom:3px; margin-top:0; margin-left:4px}
.shareboard_theme span.stu_name {background:url(../../../../images/2020a/w2/Resource/190_writing20/marking/btn_ppl.gif) no-repeat; padding-left:23px; color:#333333; line-height:23px; padding-top:4px}
.shareboard_date {color:#777; margin-left:42px; margin-top:15px; margin-bottom:-20px}
.shareboard .write {padding:0 35px}
.shareboard .btn_back {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/shareboard_writing_back.png); width:101px; height:61px; float:right; margin-top:-85px; margin-bottom:-15px; margin-right:25px; display:block}
.shareboard .btn_back span {font-weight:bold; color:#fff; font-size:1.25em; display:block; padding-left:40px; padding-top:9px}
.shareboard .btn_back:hover {background-position:0 -70px}


/* ============ 20140115 Added By Siuwan For Highlight Function in Content Input Step 3 Sample Writing  ============ */
/*Fckeditor Highlight CSS*/
span.highlight {background:#94d8ff;}
span.highlight_negative {background:#f99393;}
span.highlight_red {background: #ffcccc; border:1px solid #ff6161 } //remark_highlight_icon_01.png
span.highlight_red p {background: #ffcccc; }
span.highlight_orange {background: #ffd76d; border:1px solid #eb7f00 } //remark_highlight_icon_02.png
span.highlight_orange p {background: #ffd76d; }
span.highlight_yellow {background: #feff61; border:1px solid #eab80a } //remark_highlight_icon_03.png
span.highlight_yellow p {background: #feff61; }
span.highlight_lightgreen {background: #cbff5b; border:1px solid #85c105 } //remark_highlight_icon_04.png
span.highlight_lightgreen p {background: #cbff5b; }
span.highlight_green {background: #a7efa1; border:1px solid #29b71d } //remark_highlight_icon_05.png
span.highlight_green p {background: #a7efa1; }
span.highlight_lightblue {background: #b1fff5; border:1px solid #11d1d3 } //remark_highlight_icon_06.png
span.highlight_lightblue p {background: #b1fff5; }
span.highlight_blue {background: #ade3ff; border:1px solid #3ba8e1 } //remark_highlight_icon_07.png
span.highlight_blue p {background: #ade3ff; }
span.highlight_darkblue {background: #b6ccff; border:1px solid #578cff } //remark_highlight_icon_08.png
span.highlight_darkblue p {background: #b6ccff; }
span.highlight_purple{background: #e0bfff; border:1px solid #b76bff } //remark_highlight_icon_09.png
span.highlight_purple p {background: #e0bfff; }
span.highlight_pink {background: #ffbded; border:1px solid #ff63d4 } //remark_highlight_icon_10.png
span.highlight_pink p {background: #ffbded; }
/*Fckeditor Highlight CSS END*/

/* pop sample writing */ /*20140523*/
.content_pop_board_samplewriting {/*height:492px;*/ width:908px}/*20140527*/
.content_pop_board_samplewriting .board_top {height:42px}
.content_pop_board_samplewriting .board_mid {height:505px}
.content_pop_board_samplewriting .board_bottom {height:45px}
.content_pop_board_samplewriting .board_title {color:#fff; font-weight:bold}
.content_pop_board_samplewriting .board_mid_main {margin:0 50px}
.content_pop_board_samplewriting .board_mid_header {clear:both; font-weight:bold; padding-top:7px; padding-left:15px; margin-bottom:3px}
.content_pop_board_samplewriting .board_mid_content {}
.content_pop_board_samplewriting .board_mid_content_list {float:left; width:389px; margin-right:15px}
.content_pop_board_samplewriting .board_mid_content_list a {padding-left:15px; display:block;}
.content_pop_board_samplewriting .board_mid_content_list a:hover, .content_pop_board_samplewriting .board_mid_content_list a:active {cursor:pointer}


.bubble_writing { position: absolute; box-shadow: 0px 1px 3px #9e9e9e; -moz-box-shadow: 0px 1px 3px #9e9e9e; -webkit-box-shadow: 0px 1px 3px #9e9e9e; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; width:205px; min-height:32px; font-size:0.9em; line-height:16px; padding:2px 15px 2px 7px;  margin-bottom:3px; background:#fff6b2; border: 1px solid #e9b027; margin-top:-37px; visibility:hidden}
.bubble_writing:after, .bubble_writing:before {top: 20px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.bubble_writing:after {border-width: 7px; margin-top: -10px; border-color: rgba(255, 246, 179, 0)}
.bubble_writing:before {border-width: 9px; margin-top: -11px; border-color:rgba(233, 176, 39, 0)}
.bubble_writing a.btn_close {position:absolute; right:-10px}
.bubble_writing.right {margin-left:190px;}
.bubble_writing.right:after, .bubble_writing.right:before { right: 100%}
.bubble_writing.right:after {border-right-color: #fff6b3}
.bubble_writing.right:before {border-right-color: #e9b027}
.bubble_writing.left {margin-left:-225px;}
.bubble_writing.left:after, .bubble_writing.left:before { left: 100%}
.bubble_writing.left:after {border-left-color: #fff6b3}
.bubble_writing.left:before {border-left-color: #e9b027}
.bubble_writing ul {list-style:none; margin:0; padding:0; margin-top:12px; margin-bottom:10px; margin-left:5px}
.bubble_writing li {font-family:'Comic Sans MS', "微軟正黑體"; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/themename_small.png) no-repeat; padding-left:15px; line-height:24px; font-size:1.2em; margin:6px 0}
.content_pop_board_samplewriting .board_mid_writing_header {clear:both; padding-top:7px; height:30px}
.content_pop_board_samplewriting .board_mid_writing_header .writing_name {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/themename_small.png) no-repeat; padding-left:25px; font-family:'Comic Sans MS', '微軟正黑體'; padding-bottom:5px; margin:0; display:block; float:left; font-weight:bold}
.content_pop_board_samplewriting .board_mid_writing_header .separator {display:block; float:left; color:#888; font-size:1.3em; margin:0 3px 0 8px}
.content_pop_board_samplewriting .board_mid_writing_content {padding-top:5px; height:453px; overflow-y:auto; clear:both}
.content_pop_board_samplewriting .board_mid_writing_content .text {font-family:'Comic Sans MS', "微軟正黑體"; padding-left:25px; padding-right:12px; margin-top:3px }
.content_pop_board_samplewriting .board_mid_writing_content .text table,.content_pop_board_samplewriting .board_mid_writing_content .text td,.content_pop_board_samplewriting .board_mid_writing_content .text th{ border:#5e1400 1px solid; border-collapse:collapse; padding-left:7px;}/*20140730*/
.content_pop_board_samplewriting .board_mid_writing_content .picture {text-align:center; display:block; clear:both}
.content_pop_board_samplewriting .board_mid_writing_content .picture img {max-height:200px; border:6px solid #fff; box-shadow: 0px 0px 3px #333333;  margin-top:12px; margin-bottom:16px}
.content_pop_board_samplewriting .board_mid_writing_content h2 {margin:0; padding-left:25px; margin:0 -12px 0 -25px; color:#fff; border-radius:8px} /*20140730*/
.content_pop_board_samplewriting .board_mid_writing_content ol {margin:0; padding:0; padding-left:25px} /*20140730*/
.content_pop_board_samplewriting .board_mid_writing_content ol li {padding-left:6px; clear:both} /*20140730*/

#samplewriting_eng .board_top {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_eng.png) no-repeat}
#samplewriting_eng .board_mid {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_mid_eng.png) repeat-y}
#samplewriting_eng .board_bottom {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_eng.png) 0 -50px no-repeat}
#samplewriting_eng .board_title {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_eng.png) 0 -100px no-repeat; font-family: Georgia; font-size:1.3em; padding:5px 15px; width:252px; height:40px; line-height:20px}
#samplewriting_eng .board_mid_header {border-bottom:5px solid #ffd4d4; color:#d61555; font-size:1.4em; line-height:30px; font-family: Georgia}/*20140730*/
#samplewriting_eng .board_mid_header a {color:#ef8c9e; padding:5px 20px; cursor:pointer; margin-right:10px}/*20140730*/
#samplewriting_eng .board_mid_header a:hover, #samplewriting_eng .board_mid_header a.current {background:#ffe5e5; color:#cd0000}/*20140730*/
#samplewriting_eng .board_mid_content {line-height:33px; font-size:1.2em}
#samplewriting_eng .board_mid_content_list .writing_grp {border-bottom:1px solid #ffd4d4; color:#000000}
#samplewriting_eng .board_mid_content_list .writing_grp:hover, #samplewriting_eng .board_mid_content_list .writing_grp:active {color:#cd0000; background:#ffeae3; font-weight:bold}
#samplewriting_eng .board_mid_content_list .writing_grp.current {color:#cd0000; background:#ffeae3; font-weight:bold}
#samplewriting_eng .board_mid_writing_header {border-bottom:5px solid #ffd4d4; line-height:30px;}
#samplewriting_eng .board_mid_writing_header .writing_name {color:#681400; font-size:1.5em; line-height:25px;}
#samplewriting_eng .board_mid_writing_content .text {font-size:1.4em; line-height:30px; color:#5e1400; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/line_eng.gif)}
#samplewriting_eng .board_mid_writing_content .text .subhead{display:inline-block; border-bottom:1px solid #5e1400; margin-top:-1px} /*20140528*/
#samplewriting_eng .board_mid_writing_content h2 {font-size:1.2em; background:#c12c44} /*20140730*/

#samplewriting_chi .board_top {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_chi.png) no-repeat}
#samplewriting_chi .board_mid {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_mid_chi.png) repeat-y}
#samplewriting_chi .board_bottom {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_chi.png) 0 -50px no-repeat}
#samplewriting_chi .board_title {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/bg_chi.png) 0 -100px no-repeat; font-family:"微軟正黑體"; font-size:1.6em; padding:5px 15px; width:252px; height:40px; line-height:22px; letter-spacing:1px}
#samplewriting_chi .board_mid_header {border-bottom:5px solid #c4e1ff; color:#0060e3; font-size:1.5em; line-height:33px; font-family:"微軟正黑體"; margin-top:-3px}/*20140730*/
#samplewriting_chi .board_mid_header a {color:#7cb3fd; padding:5px 20px; cursor:pointer; margin-right:10px;}/*20140730*/
#samplewriting_chi .board_mid_header a:hover, #samplewriting_chi .board_mid_header a.current {background:#deefff; color:#0060e3}/*20140730*/

#samplewriting_chi .board_mid_content {line-height:35px; font-size:1.3em}
#samplewriting_chi .board_mid_content_list .writing_grp {border-bottom:1px solid #c4e1ff; color:#000000}
#samplewriting_chi .board_mid_content_list .writing_grp:hover, #samplewriting_chi .board_mid_content_list .writing_grp:active {color:#0064ed; background:#e3f4ff; font-weight:bold}
#samplewriting_chi .board_mid_content_list .writing_grp.current {color:#0064ed; background:#e3f4ff; font-weight:bold}
#samplewriting_chi .bubble_writing.right {margin-left:165px;}
#samplewriting_chi .board_mid_writing_header {border-bottom:5px solid #c4e1ff}
#samplewriting_chi .board_mid_writing_header .writing_name {color:#002ba9; font-size:1.5em; line-height:25px}
#samplewriting_chi .board_mid_writing_content .text {font-size:1.4em; line-height:30px; color:#021f73; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/line_chi.gif)}
#samplewriting_chi .board_mid_writing_content .text .subhead{display:inline-block; border-bottom:1px solid #021f73; margin-top:-1px} /*20140528*/
#samplewriting_chi .board_mid_writing_content h2 {font-size:1.25em; background:#3f90e3} /*20140730*/


.content_pop_board_samplewriting a.btn_print { font-size:1.2em; display:block; float:left; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/btn_item.png) no-repeat left 0; padding-left:31px; height:30px; line-height:22px; margin-top:3px; color:#777777;}
.content_pop_board_samplewriting a.btn_print:hover { color:#FF0000; background-position:left -30px}
.content_pop_board_samplewriting a.btn_back {float:right; color:#54af2c; font-weight:bold; font-size:1.2em; display:block; background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/sample_writing/btn_item.png) 0 -60px no-repeat; padding-left:30px; line-height:30px;}
.content_pop_board_samplewriting a.btn_back:hover { color:#FF0000; background-position:left -90px}
#samplewriting_chi a.btn_back {font-size:1.3em}

/*print preview*/ /*20140527*/
.content_pop_board_samplewriting.print .board_title {display:none}
.content_pop_board_samplewriting.print .board_mid_writing_content {height:auto; overflow-y:hidden}
.content_pop_board_samplewriting.print .board_mid {height:auto}
.content_pop_board_samplewriting.print .separator {display:none}
.content_pop_board_samplewriting.print .btn_print {display:none}
.content_pop_board_samplewriting.print .btn_back {display:none}

/*tmp*/
#samplewriting_eng .board_mid_content_list .writing_grp.empty {color:#bbb}
#samplewriting_eng .board_mid_content_list .writing_grp.empty:hover {background:none; font-weight:normal; cursor:default}
#samplewriting_chi .board_mid_content_list .writing_grp.empty {color:#bbb}
#samplewriting_chi .board_mid_content_list .writing_grp.empty:hover {background:none; font-weight:normal; cursor:default}

/* easyWriting Product */
.logo_big_easyWriting {background:url(../../../../images/2020a/w2/Resource/190_writing20/newtheme/logo_easyWriting_big.png) top center; width:420px; height:142px; margin:0 auto; margin-top:-27px } /*20140917*/