﻿/* For Entire Website */

@charset "utf-8";
body {margin:0;	padding:0; width:100%;}
*	{	position:relative;	box-sizing: border-box;	-webkit-box-sizing: border-box;	}
html, body {height:100%}
html, body, table, select, input, textarea{font-family:Verdana, Arial, Helvetica, sans-serif, "微軟正黑體", 新細明體, 細明體_HKSCS, mingliu;}
html, body  {font-size:12px;}
table, select, input, textarea{font-size:inherit;}
table {width:100%;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
li	{list-style-position: outside;margin-left: 1em;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}
div { display:block;  }
span{ display:inline-block; }
a {text-decoration: none; color:inherit;}
a:hover {color: #FF0000;}
select {border: 1px solid #CCCCCC;}
p.spacer { line-height:0px; height:0px; clear:both; display:block; padding:0px; margin:0px; height:0px}
input[type="button"]:focus { outline: none;}

/* Icon Web Font */

@font-face
{
  font-family: 'Awesome';
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

.icon
{
  display: inline-block;
  font: normal normal normal 14px/1 Awesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Preset Classes*/
.fill
{ width:100%; height:100%;  }
.absolute
{ position:absolute;  }
.center
{ text-align:center;  }
.pointer
{ cursor:pointer  }
.marginB10
{ margin-bottom:10px; }
.marginB20
{ margin-bottom:20px; }

.transition
{
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}

/* Scroll bar */
::-webkit-scrollbar {width:5px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}


/* For Current Project */

html, body, table, select, input, textarea
{
  font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica, sans-serif, "微軟正黑體", 新細明體, 細明體_HKSCS, mingliu;;
  font-style: normal;
  color:#333;
}

html,body
{
  min-width:320px;
  font-size: 18px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(255,255,255,0.2);
}

input[type="text"],input[type="password"],.selector, textarea
{
    background-color: #e5f5fa;
    border: 0;
    padding: 6px;
}

textarea
{
    resize: none;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {    border: 0;  outline: 0;}

.selector select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 !important;
  background: transparent !important;
  padding-right: 22px;
  width:100%;
  cursor: pointer;
}

.selector::before
{
  display:inline-block;
  color:#6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  font-size: inherit;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content:"\f078";
  padding:inherit;
}

input[type="checkbox"], input[type="radio"]
{
  display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label
{
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before
{
  display:inline-block;
  color:#6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  top: 2px;
  position: relative;
  font-size: 26px;
  width: 23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] + label::before
{
  content:"\f096";
}

input[type="radio"] + label::before
{
  content:"\f1db";
}

input[type="checkbox"][checked="checked"] + label::before
{
  content:"\f14a";
  color:#4db2d4;
}

input[type="radio"][checked="checked"] + label::before
{
  content:"\f192";
  color:#4db2d4;
}

input[type="radio"] + label + input[type="radio"] + label,
input[type="radio"] + label + input[type="checkbox"] + label,
input[type="checkbox"] + label + input[type="radio"] + label,
input[type="checkbox"] + label + input[type="checkbox"] + label
{
  margin-left:10px;
}

.button
{
  min-width:160px;
  padding:3px 20px;
  text-align:center;
  border-radius: 10px;
  background: #4db2d4;
  color:#fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  border: 0;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}

.button:hover
{
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.text-1
{
  color:#2389ab;
  font-size:26px;
  font-weight: bold;
}

.text-2
{
  color:#333;
  font-size:20px;
}

.waveBg-w
{
  width:100%;
  height:242px;
  background-image: url(../images/bg_wave_w.png);
  background-size: 1024px 242px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
  margin-bottom:-150px;
}

.table-header
{
  background: #50afcf;
  border-radius: 5px;
  box-shadow: 0px 5px 0px rgba(51,154,188,0.4);
  color:white;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
}

#blkFooter #lbleClass img
{
  width:44px;
  margin-bottom:25px;
}

#blkFooter > #lbleClass
{
  position: absolute;
  bottom:0;
  z-index: 1;
  max-width: 700px;
  width:90%;
  left:50%;
  margin-left:-350px;
  text-align: right;
}

@media screen and (max-width: 777px)
{
  #blkFooter > #lbleClass
  {
    margin-left:-45%;
  }
}

#blkTopBar
{
  position:fixed;
  left:0;
  right:0;
  top:0;
  height:50px;
  background-color:rgba(0,79,105,0.65);
  z-index: 10000;
  min-width:320px;
}

#blkTopBar.show
{
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
}

#blkTopBar > img
{
  width:208px;
  position:absolute;
  top:5px;
  left:50%;
  margin-left:-104px;
  cursor: pointer;
  z-index: 2;
}

#blkTopBar > #blkMenu
{
  position: fixed;
  top:0;
  left:0;
  right:0;
  height:50px;
  line-height: 50px;
  padding-right: 20px;
  min-width:320px;
  z-index: 1;
}

#blkTopBar > #blkMenu > a
{
  margin-left:20px;
  color:#1f6582;
  font-weight: 500;
  float: right;
}

#blkTopBar > #blkMenu > a:hover
{
  color:#2389ab
}

#blkTopBar > #blkMenu > a:after
{
  display:inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 23px;
  width:23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#blkTopBar > #blkMenu > a[href="index.html"]:after
{
  content:"\f015";
}

#blkTopBar > #blkMenu > a#btnMenu:after
{
  content:"\f0c9";
}

#blkTopBar.show > #blkMenu > a
{
  color:white;
}

/*selectpicker*/

.selector .bootstrap-select .dropdown-toggle
{
  background: transparent !important;
  border: 0 !important;
  outline:0 !important;
  padding: 0;
  box-shadow: none;
  font-size: inherit;
}

.selector .bootstrap-select .caret
{
    display: none;
}

.selector .bootstrap-select .dropdown-menu[role="combobox"]
{
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 3px rgba(51,154,188,0.4);
    font-size: inherit;
    background: rgba(255,255,255,0.95);
}

.selector .bootstrap-select .dropdown-menu[role="listbox"]
{
  font-size: inherit;
  margin-top:5px;
  background:transparent
}

.selector .bootstrap-select input.form-control
{
    border-radius:0
}

.selector .bootstrap-select input.form-control:active,
.selector .bootstrap-select input.form-control:focus
{
    outline: none;
    box-shadow: none;
}

.selector .bootstrap-select li
{
    margin-left: 0;
}

.selector .bootstrap-select li:hover
{
  background:#f7f7f7;
}

.selector .bootstrap-select li a:focus
{
    outline: none;
}
input[type="text"]:focus, input[type="password"]:focus {    border: 0;  outline: 0;}
/*datepicker*/
#ui-datepicker-div
{
    background: rgba(255,255,255,0.95);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 3px rgba(51,154,188,0.4);
    border:none;
    max-width: 80%;
}

#ui-datepicker-div .ui-widget-header
{
  border: none;
  background: #f7f7f7;
  color: #222222;
  font-weight: normal;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content #ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-header .ui-state-default
{
    border: none;
    background: transparent;
    font-weight: normal;
    color: #555555;
}

.ui-datepicker td span, .ui-datepicker td a
{
  text-align: center;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border:none;
    background: transparent;
    font-weight: normal;
    color: #212121;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
{
  top:initial;
  text-align: center;
  cursor: pointer;
}

#ui-datepicker-div  .ui-datepicker-prev::before
{
  display:inline-block;
  color:#6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content:"\f053";
  vertical-align: middle;
}

#ui-datepicker-div  .ui-datepicker-next::before
{
  display:inline-block;
  color:#6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content:"\f054";
  vertical-align: middle;
}

#ui-datepicker-div  .ui-datepicker-prev:after, #ui-datepicker-div  .ui-datepicker-next:after
{
  display: inline-block;
  content:"";
  height:100%;
  vertical-align: middle;
}

#ui-datepicker-div  .ui-datepicker-prev > span, #ui-datepicker-div  .ui-datepicker-next > span
{
  display: none
}

@media screen and (max-width: 768px)
{
  .hide-m
  {
    display: none;
  }

  #blkTopBar > img.showTopMenu
  {
    -webkit-transform: translateY(-100px);
    -moz-transform:    translateY(-100px);
    -ms-transform:     translateY(-100px);
    transform:         translateY(-100px);
  }

  #blkTopBar > #blkMenu > a
  {
    float: left;
  }

  #blkTopBar > #blkMenu > a:not(#btnMenu)
  {
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    top:-100px;
  }

  #blkTopBar > #blkMenu > a:not(#btnMenu).showTopMenu
  {
    -webkit-transform: translateY(100px);
    -moz-transform:    translateY(100px);
    -ms-transform:     translateY(100px);
    transform:         translateY(100px);
  }

  #blkTopBar > #blkMenu > a#btnMenu.showTopMenu::after
  {
    content:"\f00d";
  }

  #blkTopBar > #blkMenu > a.showTopMenu
  {
    display: inline-block;
  }
}

@media screen and (min-width: 769px)
{
  .hide-d
  {
    display: none;
  }
}

@media screen and (min-width: 440px)
{
  /*datepicker*/

  .ui-datepicker-title
  {
    margin: 0 1.8em !important;
  }
}
