/* For submitted.html */

body
{
  background: #2a9b8a;
}

#blkCanvas
{
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
  min-height: 900px;
  background-image:url("../images/main_bg.png");
  background-size:cover;
}

#blkCanvas::before
{
  display:block;
  content:"";
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  background-image:url("../images/main_bg_pattern.png");
  background-size:133px 116px;
  background-position: center center;
  background-repeat: repeat;
  z-index: 0;
}

#blkCanvas::after
{
  display: block;
  content: "";
  position: absolute;
  top: 61%; top: calc(50% + 200px); left: 0; right: 0;  bottom:0;
  background: -moz-linear-gradient(top,  rgba(42,155,138,0) 0%, rgba(42,155,138,0) 36%, rgba(42,155,138,1) 40%, rgba(42,155,138,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(42,155,138,0) 0%,rgba(42,155,138,0) 36%,rgba(42,155,138,1) 40%,rgba(42,155,138,1) 100%);
  background: linear-gradient(to bottom,  rgba(42,155,138,0) 0%,rgba(42,155,138,0) 36%,rgba(42,155,138,1) 40%,rgba(42,155,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a9b8a', endColorstr='#2a9b8a',GradientType=0 );
  background-position: center center;
  background-repeat: repeat-x;
  z-index: 0;
}

#blkCanvas > #lbleClass
{
  position: absolute;
  bottom:0;
  z-index: 1;
  max-width: 700px;
  width:90%;
  left:50%;
  margin-left:-350px;
  text-align: right;
}

@media screen and (max-width: 777px)
{
  #blkCanvas > #lbleClass
  {
    margin-left:-45%;
  }
}

#blkCanvas > #lbleClass img
{
  width:44px;
  margin-bottom:25px;
}

#blkContainer
{
  padding-top:70px;
  padding-bottom:100px;
  z-index: 1;
}

#blkContainer::before
{
  display: block;
  content: "";
  position: absolute;
  top: 61%; top: calc(50% + 200px); left: 0; right: 0;  bottom:0;
  background-image: url(../images/login_footer_bg.png);
  background-size: 1024px 266px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
}


#blkContainer::after
{
  display: inline-block;
  content:"";
  height:100%;
  width:0;
  vertical-align: middle;
}

#blkContainer > *
{
  vertical-align: middle;
}

#blkContainer > #blkWrapper
{
  width:98%;
  left:1%;
}

#blkMessage
{
  width:95%;
  max-width: 596px;
  height:auto;
  min-height: 416px;
  margin:0 auto;
  background-image:url("../images/orderInfo_bg.png");
  background-size:100% 100%;
  background-position: center center;
  padding:70px;
}

#imgTitle
{
  width: 410px;
  max-width: 98%;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -205px;
  top: -70px;
}

#blkMessage .button
{
  font-size: 20px;
}

@media screen and (max-width: 768px)
{
  #blkMessage
  {
    padding:70px 10%;
  }
}

@media screen and (max-width: 440px)
{
  #imgTitle
  {
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: -10%;
  }
}
