/* For order.html */

body
{
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 130px;
}

body::before
{
  display:block;
  content:"";
  position:fixed;
  top:0; left:0; right:0; bottom:0;
  background-image:url("../images/main_bg_pattern.png");
  background-size:133px 116px;
  background-position: center center;
  background-repeat: repeat;
  z-index: 0;
}

#blkInfoSummary, #blkOrderSummary, #tblOrderSummary, #blkOrderSummary2
{
  width:95%;
  max-width: 750px;
  margin:0 auto;
  margin-bottom:30px;
}

#blkFooter
{
  width:100%;
  height:266px;
  background-image: url(../images/login_footer_bg.png);
  background-size: 1024px 266px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
}

#imgTitle
{
  width: 410px;
  max-width: 98%;
  display: block;
  margin: 0 auto 30px auto;
}

.table-header
{
  padding-left: 50px;
  padding-right: 50px;
}

#blkInfoSummaryDetails
{
  margin:30px 50px;
}

#blkInfoSummaryDetails > *
{
  margin:0 0 20px 0;
}

#blkInfoSummaryDetails .text-1
{
  font-size: 16px;
}

#blkInfoSummaryDetails .text-1 + div
{
  font-size: 18px;
}

#blkInfoSummaryDetails #lblIsClient, #blkInfoSummaryDetails #lblNonClient
{
  color:#777;
}

#blkOrderSummary > div
{
  margin-bottom: 10px;
}

#blkOrderSummaryDetails > div
{
  border-radius: 5px;
  box-shadow: 0px 5px 0px rgba(51,154,188,0.3);
  font-size: 20px;
  line-height: 30px;
  padding:12px 50px;
  background: rgba(255, 255, 255, 0.75);
  margin-bottom:10px;
}

#blkOrderSummaryDetails .orderDetail-amount,
#blkOrderSummaryDetails .orderDetail-amount + div > div:last-child
{
  float:right;
}

#blkOrderSummaryDetails .orderDetail-description
{
  float:left;
}

#blkOrderSummaryDetails .orderDetail-amount + div
{
  overflow: hidden;
}

#blkOrderSummary .table-header > span:nth-child(1),
#blkOrderSummary .table-header > span:nth-child(2),
#blkOrderSummaryDetails .orderDetail-amount,
#blkOrderSummaryDetails .orderDetail-unitPrice
{
  min-width: 100px;
  text-align: right;
  padding: 0 5px;
}

#blkOrderSummaryDetails .orderDetail-amount
{
  font-weight: bold;
}

#blkOrderSummary .table-header > span:nth-child(3),
#blkOrderSummaryDetails .orderDetail-qty
{
  min-width: 60px;
  text-align: center;
  padding: 0 5px;
}

#blkOrderSummaryDetails .orderDetail-amount + div
{
  color: #777;
}

input[name="back"].button
{
  background: #9ecb63;
  min-width: 100px;
  margin-right: 20px;
}

#blkFooter > div
{
  width: 700px;
  max-width: 90%;
  margin:0 auto;
  padding-top:95px;
  color:white;
  font-size: 20px;
}

#blkFooter > div > span:first-child
{
  float: left;
}

#blkFooter > div > span:last-of-type
{
  float: right;
}

#blkTotal
{
  font-weight: 600;
  text-align: right;
  padding: 20px 50px 10px 85px;
}

#blkTotal > #lblTotal
{ display: inline-block;}

@media screen and (min-width: 769px)
{
  #blkInfoSummaryDetails > span
  {
    width:50%;
    padding-right:20%;
    vertical-align: top;
  }

}

@media screen and (max-width: 768px)
{
  .table-header
  {
    padding-left: 3%;
    padding-right: 3%;
  }

  #blkInfoSummaryDetails
  {
    margin:30px 3%;
  }

  #blkInfoSummaryDetails > span
  {
    width:100%;
  }

  #blkOrderSummaryDetails .orderDetail-amount + div > div
  {
    float:none !important;
    margin-bottom:5px;
  }

  #blkOrderSummaryDetails > div
  {
    padding-left: 3%;
    padding-right: 3%;
  }

  #blkOrderSummaryDetails .orderDetail-qty
  {
    min-width: auto;
  }

  #blkOrderSummaryDetails .orderDetail-unitPrice
  {
    text-align: left;
  }

  #blkOrderSummaryDetails .orderDetail-description
  {
    line-height: 28px;
  }

  #blkTotal
  {
    padding: 20px 3% 10px 0 !important;
  }

  #blkFooter > div > span
  {
    float: none !important;
    display: block;
  }
}

@media screen and (max-width: 440px)
{
  #imgTitle
  {
    width: 98%;
    left: 50%;
    margin-left: -49%;
  }

}
