{{{TEMPLATE_HOME_HEADER}}}

<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><div id="system_message_box" class="SystemReturnMessage" style="display:block; visibility: hidden;"> 
						<div class="msg_board_left">
					  	<div class="msg_board_right" id="message_body"> 
					  	<a href="#" onclick="document.getElementById('system_message_box').style.display = 'none'; return false;">[Clear]</a>
					  	</div>
						</div>
					</div>{{{HTML_BODY}}}</td>
  </tr>
  <tr> 
    <td class="footer"> 
     <span>Powered by <a href="http://www.eclass.com.hk" target="_blank"><img src="web_root_path/images/2009a/logo_eclass_footer.gif" width="39" height="15" border="0" align="absmiddle"></a></span></td>
  </tr>
  <tr>
    <td>{{{TEMPLATE_HOME_FOOTER}}}</td>
  </tr>
</table>
</body>
</html>