{{{TEMPLATE_HOME_HEADER}}}

<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">{{{HTML_BODY}}}</td>
  </tr>
  <tr> 
    <td class="footer"> 
     <span>Powered by <a href="http://www.eclass.com.hk" target="_blank"><img src="web_root_path/images/2009a/logo_eclass_footer.gif" width="39" height="15" border="0" align="absmiddle"></a></span></td>
  </tr>
  <tr>
    <td>{{{TEMPLATE_HOME_FOOTER}}}</td>
  </tr>
</table>
</body>
</html>