{{{TEMPLATE_IES_SURVEY_HEADER}}}

        {{{HTML_BODY}}}
  
      </div> <!-- q_wrapper end -->
    </div></div>
    <div class="clear"></div>
    <div class="q_bottom"><div><div></div></div></div>
	<div class="IES_footer">
		<span>Powered by <a href="http://www.eclass.com.hk" target="_blank"><img src="web_root_path/images/2009a/logo_eclass_footer.gif" width="39" height="15" border="0" align="absmiddle"></a></span></span>
	</div>

  </div>

</body>
</html>