{{{TEMPLATE_HOME_HEADER}}}
<link href="web_root_path/templates/2009a/css/IES.css" rel="stylesheet" type="text/css">
<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <!--<tr>
          <td height="50" valign="top"></td>
        </tr>-->
        <tr> 
			    <td valign="top">
			    	 {{{FUNC_MODULE_TITLE}}} 
			    <div id="system_message_box" class="SystemReturnMessage" style="display:block; visibility: hidden;"> 
						<div class="msg_board_left">
					  	<div class="msg_board_right" id="message_body"> 
					  	<a href="#" onclick="document.getElementById('system_message_box').style.display = 'none'; return false;">[Clear]</a>
					  	</div>
						</div>
					</div>
					</td>
				</tr>
        <tr>
          <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              	<td>
					<div id="leftmenu" style="position:absolute; z-index:1; left: 0px; top: 90px;">
					{{{FUNC_MODULE_MENU}}}
					</div>
                <div id="content" style="padding-left: 155px; width=100%">

			  <!--###### Content Board Start ######-->
			<div class="main_paper_top"><div><div></div></div></div><!-- paper layout -->
                    <div class="main_paper_left"><div class="main_paper_right"><!-- paper layout -->
                        	<div class="main_paper_body_left"><div class="main_paper_body_right"><div class="main_paper_body"><!-- paper layout -->
                            
                            <h1>{{{FUNC_TITLE_TAGS_2}}}</h1><!-- page title )green bar) -->
                    	                                                  
                        {{{HTML_BODY}}}
                        </div></div></div><!-- paper layout -->
                    </div></div><!-- paper layout -->
                    <div class="main_paper_bottom"><div><div></div></div></div><!-- paper layout end -->
		    <!--###### Content Board End ######-->


                <!--table width="99%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="27" background="web_root_path/images/2009a/content_01_bg.gif"><img src="web_root_path/images/2009a/10x10.gif" width="13" height="27"></td>
                      <td background="web_root_path/images/2009a/content_02_bg.gif" height="33" valign="middle" style="padding-left: 5px">
                      	<div id="Content_tab">
                      	{{{FUNC_TITLE_TAGS}}}
                      	</div>
                      </td>
                      <td height="27" background="web_root_path/images/2009a/content_03_bg.gif"><img src="web_root_path/images/2009a/10x10.gif" width="11" height="27"></td>
                    </tr>
                    <tr>
                      <td width="13" background="web_root_path/images/2009a/content_04.gif"><img src="web_root_path/images/2009a/content_04.gif" width="13" height="13"></td>
                      <td align="center" bgcolor="#FFFFFF" height="350" valign="top">{{{HTML_BODY}}}
                      </td>
                      <td width="11" background="web_root_path/images/2009a/content_06.gif"><img src="web_root_path/images/2009a/content_06.gif" width="11" height="13"></td>
                    </tr>
                    <tr>
                      <td width="13" height="10"><img src="web_root_path/images/2009a/content_07.gif" width="13" height="10"></td>
                      <td background="web_root_path/images/2009a/content_08.gif" height="10"><img src="web_root_path/images/2009a/content_08.gif" width="13" height="10"></td>
                      <td width="11" height="10"><img src="web_root_path/images/2009a/content_09.gif" width="11" height="10"></td>
                    </tr>
                  </table-->


                  </div>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td class="footer"> 
      <span>Powered by <a href="http://www.eclass.com.hk" target="_blank"><img src="web_root_path/images/2009a/logo_eclass_footer.gif" width="39" height="15" border="0" align="absmiddle"></a></span></td>
  </tr>
  <tr>
    <td>{{{TEMPLATE_HOME_FOOTER}}}</td>
  </tr>
</table>
</body>
</html>