{{{TEMPLATE_HOME_HEADER}}}

<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <div style="position:absolute"><a href="web_root_path/home/portfolio/index.php"><img src="web_root_path/images/2009a/iPortfolio/module_icon.gif" border="0"></a></div>
          <td height="50" valign="top"> {{{FUNC_MODULE_TITLE}}} </td>
        </tr>
        <tr>
          <td align="center">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              	<!-- Left Menu -->
              	<td width="192" valign="top" background="web_root_path/images/2009a/iPortfolio/bg_01.gif">
				{{{FUNC_MODULE_MENU_IPORTFOLIO}}}
				</td>
					
				
				<td valign="top" style="background-color:#FFFFFF;background-image:url(web_root_path/images/2009a/iPortfolio/bg_05.gif); background-position:right; background-repeat:repeat-y; ">

					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="2" background="web_root_path/images/2009a/iPortfolio/bg_02.gif"><img src="web_root_path/images/2009a/iPortfolio/bg_02.gif" width="4" height="2"></td>
						</tr>
					</table>
            
					<!-- content table -->
        			<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
							<td width="17" height="37"><img src="web_root_path/images/2009a/iPortfolio/bg_LP_01.gif" width="17" height="37"></td>
							<td height="37" background="web_root_path/images/2009a/iPortfolio/bg_LP_03.gif">
							<table border="0" cellspacing="0" cellpadding="0">
							<tr>
							<td align="center" valign="middle"  background="web_root_path/images/2009a/iPortfolio/bg_LP_02.gif"  class="page_title">{{{FUNC_CURRENT_PAGE_TITLE}}}</td>
							</tr>
							</table>
							</td>
								
							<td width="13" height="37"><img src="web_root_path/images/2009a/iPortfolio/bg_LP_04.gif" width="13" height="37"></td>
							</tr>
							
							<tr>
							<td width="17" background="web_root_path/images/2009a/iPortfolio/bg_LP_05.gif"><img src="web_root_path/images/2009a/iPortfolio/bg_LP_05.gif" width="17" height="20"></td>
							<td valign="top" class="tab_table" background="web_root_path/images/2009a/iPortfolio/bg_LP_06.gif">
							{{{HTML_BODY}}}
							</td>
							<td width="13" background="web_root_path/images/2009a/iPortfolio/bg_LP_07_b.gif"><img src="web_root_path/images/2009a/iPortfolio/bg_LP_07_b.gif" width="13" height="37"></td>
							</tr>
							<tr>
							<td width="17" height="17"><img src="web_root_path/images/2009a/iPortfolio/bg_LP_08.gif" width="17" height="17"></td>
							<td height="17" background="web_root_path/images/2009a/iPortfolio/bg_LP_09.gif"><img src="web_root_path/images/2009a/iPortfolio/bg_LP_09.gif" width="64" height="17"></td>
							<td width="13" height="17"><img src="web_root_path/images/2009a/iPortfolio/bg_LP_10_b.gif" width="13" height="17"></td>
							</tr>
						</table>
					 <!-- end content table -->
                </td>
                
              	<td width="10" valign="top" background="web_root_path/images/2009a/iPortfolio/bg_06.gif"><img src="web_root_path/images/2009a/iPortfolio/bg_03.gif" width="10" height="15"></td>
				</tr>
	
				<tr>
				<td width="192" height="6"><img src="web_root_path/images/2009a/iPortfolio/bg_07.gif" width="192" height="6"></td>
				<td height="6" background="web_root_path/images/2009a/iPortfolio/bg_08.gif"><img src="web_root_path/images/2009a/iPortfolio/bg_08.gif" width="17" height="6"></td>
				<td width="10" height="6"><img src="web_root_path/images/2009a/iPortfolio/bg_09.gif" width="10" height="6"></td>
				</tr>
    			</table>
     
      	</td></tr></table>
      </td></tr>
	<tr><td>{{{TEMPLATE_HOME_FOOTER}}}</td></tr>
</table>
</body>
</html>