<b>normal page</b>
<!-- start -->
<br />
<table id="html_body_frame" width="100%" border="1" cellspacing="0" cellpadding="5">
<tr>
	<td>[NAVIGATION]
	</td>
</tr>
<tr>
	<td><table width="96%" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td align="right">[SYS_MESSAGE]</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td>[STEPS, 90% width]
	</td>
</tr>
<tr>
	<td>[FORM FIELDS, 90% width]
	</td>
</tr>
<tr>
	<td>[ACTION BUTTONS, 95% width]
	</td>
</tr>
</table>
<p></p>
<!-- end -->


<b>table for management</b>
<!-- start -->
<br />
<table id="html_body_frame" width="100%" border="1" cellspacing="0" cellpadding="5">
<tr>
	<td>[NAVIGATION]
	</td>
</tr>
<tr>
	<td><table width="96%" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td>[LINKS OF NEW, IMPORT, EXPORT ...etc]</td>
			<td align="right">[SYS_MESSAGE]</td>
		</tr>
		<tr>
			<td>[FILTERINGS, SEARCH]</td>
			<td align="right">[BUTTONS OF EDIT, DELETE ...etc]</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td>[TABLE, 96% width]
	</td>
</tr>
</table>
<p></p>
<!-- end -->