{{{TEMPLATE_W2_HEADER}}}

	<!-- ************ Content Board Start ************  -->
	<div class="content_board" id="resource_board">
		<div class="top_left">
			<div class="top_right">
				{{{FUNC_TITLE_TAGS_WRITING2}}}
				<div id="system_message_box" class="SystemReturnMessage" style="display:block; visibility: hidden;"> 
					<div class="msg_board_left">
					  	<div class="msg_board_right" id="message_body"> 
					  		<a href="#" onclick="document.getElementById('system_message_box').style.display = 'none'; return false;">[Clear]</a>
					  	</div>
					</div>
				</div>
        	</div>
	  	</div>
		<div class="board_left">
			<div class="board_right">
				{{{HTML_BODY}}}
				<p class="spacer"></p>
	        </div>
	  	</div>
        <p class="spacer"></p>
		<div class="bottom_left">
			<div class="bottom_right"></div>
		</div>
	</div>
	<!-- ************ Content Board End ************  -->
	<!-- ************ Footer Start ************  -->
	<div id="copyright" class="print_hide">Powered by <a href="http://www.eclass.com.hk/" target="_blank" title="eClass"><img src="web_root_path/images/2009a/w2/logo_eclass_footer.gif" border="0" align="absmiddle"></a></div>
	<div id="copyright3" class="print_hide">Copyright © 2014 BroadLearning Education (Asia) Limited. All rights reserved.</div>
	
	<!--
	<div id="copyright3" class="print_hide">Copyright © <a href="http://www.eclass.com.hk/" target="_blank"><img src="web_root_path/images/2009a/w2/Resource/190_writing20/logo_bl.png" border="0" align="absmiddle">2014 BroadLearning Education (Asia) Limited.</a> All rights reserved.</div>
	-->
	{{{TEMPLATE_HOME_FOOTER}}}
 	<!-- ************ Footer End ************  -->
	</div>
</div>
</body>
</html>