/*For Current Project*/

.CustCommon.CustTopHeader#blkTop
{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 10px rgba(84, 73, 53, 0.9);
}

.CustCommon.CustTopHeader#blkTop .headerSchName
{
  color:#1c2d59;
  padding-left: 0;
}

.CustCommon.CustTopHeader #btnSetup
{
  color:#808080;
}

.CustCommon.CustTopHeader#blkTop .menu
{
  font-family: Trebuchet MS, 'Century Gothic', "微軟正黑體", Century Gothic;
}

.CustCommon.CustTopHeader #btnSetup:hover > span,
.CustCommon.CustTopHeader #btnUserMenu:hover > span,
.CustCommon.CustMainContent .pageHeader,
.CustCommon #blkAppIconsHeader,
.CustCommon #blkAppTab ul,
.CustCommon #blkMoreSchoolNews a
{
  color:#2194ED !important;
}

.CustCommon.CustMainContent .pageHeader > .pageSubject
{
  color:#2B3990;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button.lang_button_current
{
  background-color:#ff9800;
}

.CustCommon.CustMainContent::before
{
  background-image:url("../images/main_bg2.jpg");
  background-position: center top;
}

.CustCommon.CustMainContent #blkTab:before
{
  background-image: url();
  opacity: 1;
  filter:brightness(1);
  -webkit-filter:brightness(1);
  background-color:#5d564b;
}

.CustCommon.CustMainContent #blkTab a, .CustCommon.CustMainContent #blkTab span
{
  color:white;
  font-size: 20px;
}

.CustCommon.CustMainContent #blkTab a span:hover
{
  border-bottom: 4px solid rgba(212, 219, 239, 0.6);
}

.CustCommon.CustMainContent #blkTab span.tab_current
{
  border-bottom:4px solid #d2b892 !important;
}

.CustCommon.CustMainContent #blkTab #imgNews img:nth-child(2)
{
  display: none;
}

.CustCommon.CustMainContent #blkTab #imgNews.tab_current img:nth-child(1)
{
  display: none;
}

.CustCommon.CustMainContent #blkTab #imgNews.tab_current img:nth-child(2)
{
  display: inline-block;
  opacity:1;
}

.CustCommon .accordion
{
  background: white;
  font-size: 19px;
}

.CustCommon .portalIcon
{
  font-size: 18px;
}

.CustCommon .portalIcon .addButton
{
  font-size: 15px;
}

.CustCommon .portalIcon .portalIcon_data
{
  font-size: 20px;
}

.CustCommon #tblAppSettings tbody tr
{
  border-bottom: 1px solid rgba(0,0,0,0);
  border-bottom: 1px solid #edf6f8;
}

.CustCommon #tblAppSettings tbody tr td:first-child
{
  background: white;
}

.CustCommon #tblAppSettings tbody tr td:last-child
{
  border-bottom: 1px solid #c9e2e9;
}

.CustCommon #tblAppSettings .appSettings-buttons
{
  border-right:1px solid rgba(0,0,0,0.1);
  font-size:16px;
}

.CustCommon.CustMainContent #blkModuleContainer.bgColor-1,
.CustCommon #tblApp tr:first-child td,
.CustCommon #blkAppTab ul li.active,
.CustCommon #tblAppSettings tbody tr td:last-child,
.CustCommon .accordion-page,
.CustCommon #lblSchoolNews,
.CustCommon #blkMoreSchoolNews
{
  background: rgba(255, 255, 255, 0.8)
}

.CustCommon #tblAppSettings tbody tr td:last-child
{
    background: rgba(242,250,255,0.9);
}

.CustCommon #blkAppIconsHeader
{
  background: transparent;
}

.CustCommon #blkAppTab ul
{
  background-color: transparent;
  background-image:url("../images/main_bg2.jpg");
  background-size:cover;
  background-position: center top;
  background-attachment: fixed;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.CustCommon #blkAppIconsHeader,
.CustCommon #blkAppTab ul
{
  font-size:16px;
}

.CustCommon .schoolNews-item
{
  border-bottom:none;
  margin-bottom:4px;
}

.CustCommon .schoolNews-item::after
{
  display: block;
  content:"";
  position: absolute;
  bottom:-4px;
  left:0;
  right:0;
  border-bottom:4px solid rgba(255, 255, 255, 0.8);
}
